<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtHtMaterialMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.history.SmtHtMaterial">
    <id column="ht_material_id" jdbcType="BIGINT" property="htMaterialId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="product_model_id" jdbcType="BIGINT" property="productModelId" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="material_source" jdbcType="INTEGER" property="materialSource" />
    <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId" />
    <result column="if_compoboard" jdbcType="INTEGER" property="ifCompoboard" />
    <result column="if_linking_board" jdbcType="INTEGER" property="ifLinkingBoard" />
    <result column="linking_board_number" jdbcType="INTEGER" property="linkingBoardNumber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="customer_material_code" jdbcType="VARCHAR" property="customerMaterialCode" />
    <result column="min_package_number" jdbcType="INTEGER" property="minPackageNumber" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <sql id="Base_Column_List">
    ht_material_id, material_id, material_code, material_name, material_desc, unit, version, 
    product_model_id, material_type, material_source, barcode_rule_id, if_compoboard, 
    if_linking_board, linking_board_number, status, customer_material_code, min_package_number, 
    create_user_id, create_time, modified_user_id, modified_time, option1, option2, option3
  </sql>

  <select id="findHtList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtMaterial" resultMap="BaseResultMap">
    select  shm.ht_material_id, shm.material_id, shm.material_code, shm.material_name, shm.material_desc, shm.unit, shm.version,shm.product_model_id,
    spm.product_model_code as productModelCode, shm.material_type,shm.material_source, shm.barcode_rule_id, shm.if_compoboard,
    shm.if_linking_board, shm.linking_board_number,shm.status, shm.customer_material_code, shm.min_package_number,
    shm.create_user_id, u.user_name as createUserName,shm.create_time,shm.modified_user_id, s.user_name as modifiedUserName,
    shm.modified_time
    from fantech_imes.smt_ht_material shm
    left join ocean.sys_user u on shm.create_user_id=u.user_id
    left join ocean.sys_user s on shm.modified_user_id=s.user_id
    left join fantech_imes.smt_product_model spm on shm.product_model_id=spm.product_model_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shm.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="materialCode!=null and materialCode!=''">
        and shm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and shm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="materialDesc!=null and materialDesc!=''">
        and shm.material_desc like CONCAT('%', #{materialDesc}, '%')
      </if>
    </where>
    order by shm.modified_time desc
  </select>
</mapper>