<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtHtProductBomMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.history.SmtHtProductBom">
        <id column="ht_product_bom_id" jdbcType="BIGINT" property="htProductBomId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="product_bom_code" jdbcType="VARCHAR" property="productBomCode"/>
        <result column="parent_bom_id" jdbcType="BIGINT" property="parentBomId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="takt" jdbcType="INTEGER" property="takt"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="bom_status" jdbcType="TINYINT" property="bomStatus"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtProductBom"
            resultMap="BaseResultMap">
        select
        shpb.ht_product_bom_id,shpb.product_bom_id,shpb.product_bom_code,shpb.material_id,sm.material_code,sm.material_name,
        sm.version,sm.material_desc,shpb.takt,shpb.transfer_quantity,shpb.bom_status,shpb.status,shpb.create_user_id,
        u.user_name as create_user_name,shpb.create_time,shpb.modified_user_id,s.user_name as
        modified_user_name,shpb.modified_time, shpb.is_delete, shpb.organization_id, shpb.remark, bo.organization_name
        from fantech_imes.smt_ht_product_bom shpb
        left join fantech_imes.smt_material sm on shpb.material_id=sm.material_id
        left join ocean.sys_user u on shpb.create_user_id=u.user_id
        left join ocean.sys_user s on shpb.modified_user_id=s.user_id
        LEFT JOIN fantech_imes.base_organization bo ON shpb.organization_id = bo.organization_id
        <where>
            1=1
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(shpb.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="productBomCode!=null and productBomCode!=''">
                and shpb.product_bom_code like CONCAT('%', #{productBomCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and shpb.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
        </where>
        order by shpb.modified_time desc
    </select>
</mapper>