<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtHtMaterialMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.history.SmtHtMaterial">
    <id column="ht_material_id" jdbcType="BIGINT" property="htMaterialId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="material_source" jdbcType="INTEGER" property="materialSource" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="min_package_number" jdbcType="INTEGER" property="minPackageNumber" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>
  <sql id="Base_Column_List">
    shm.ht_material_id,
	shm.material_id,
	shm.material_code,
	shm.material_name,
	shm.material_desc,
	shm.version,
	shm.material_source,
	shm.barcode_rule_set_id,
	shm.`status`,
	shm.remark,
	shm.organization_id,
	shm.min_package_number,
	shm.create_user_id,
	shm.create_time,
	shm.modified_user_id,
	shm.modified_time,
	shm.option1,
	shm.option2,
	shm.option3
  </sql>

  <select id="findHtList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtMaterial" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as createUserName, s.user_name as modifiedUserName,
    bo.organization_name
    from fantech_imes.smt_ht_material shm
    left join ocean.sys_user u on shm.create_user_id=u.user_id
    left join ocean.sys_user s on shm.modified_user_id=s.user_id
    LEFT JOIN fantech_imes.base_organization bo ON shm.organization_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shm.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="materialCode!=null and materialCode!=''">
        and shm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and shm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="materialDesc!=null and materialDesc!=''">
        and shm.material_desc like CONCAT('%', #{materialDesc}, '%')
      </if>
    </where>
    order by shm.modified_time desc
  </select>
</mapper>