<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtHtFactoryMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.history.SmtHtFactory">
    <id column="ht_factory_id" jdbcType="BIGINT" property="htFactoryId" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="factory_code" jdbcType="VARCHAR" property="factoryCode" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_desc" jdbcType="VARCHAR" property="factoryDesc" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    hf.ht_factory_id, hf.factory_id, hf.factory_code, hf.factory_name, hf.factory_desc, hf.create_user_id,
    hf.create_time, hf.modified_user_id, hf.modified_time, hf.status, hf.option1, hf.option2, hf.option3
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />, su.user_name AS create_user_name, sus.user_name AS modified_user_name
    from fantech_imes.smt_ht_factory hf
    LEFT JOIN ocean.sys_user su  ON hf.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON hf.modified_user_id = sus.user_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(hf.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="factoryCode != null">
        and hf.factory_code like CONCAT('%', #{factoryCode}, '%')
      </if>
      <if test="factoryName != null">
        and  hf.factory_name like CONCAT('%', #{factoryName}, '%')
      </if>
      <if test="factoryDesc != null">
        and  hf.factory_desc like CONCAT('%', #{factoryDesc}, '%')
      </if>
    </where>
    order by  create_time desc
  </select>
</mapper>