<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtProcessMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtProcess">
    <id column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="process_code" jdbcType="VARCHAR" property="processCode" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="process_desc" jdbcType="VARCHAR" property="processDesc" />
    <result column="section_id" jdbcType="BIGINT" property="sectionId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtProcess" resultMap="BaseResultMap">
    select  sp.process_id,sp.process_code,sp.process_name,sp.process_desc,sp.section_id,sws.section_name as sectionName,
    sp.status,sp.create_user_id,u.user_name as createUserName,sp.create_time,sp.modified_user_id,s.user_name as modifiedUserName,
    sp.modified_time, sp.is_delete
    from smt_process sp
    left join smt_workshop_section sws on sp.section_id=sws.section_id
    left join smt_user u on sp.create_user_id=u.user_id
    left join smt_user s on sp.modified_user_id=s.user_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="processCode!=null and processCode!=''">
        and sp.process_code like CONCAT('%', #{processCode}, '%')
      </if>
      <if test="processName!=null and processName!=''">
        and sp.process_name like CONCAT('%', #{processName}, '%')
      </if>
      <if test="processDesc!=null and processDesc!=''">
        and sp.process_desc like CONCAT('%', #{processDesc}, '%')
      </if>
      <if test="sectionId!=null and sectionId!=''">
        and sp.section_id=#{sectionId}
      </if>
    </where>
  </select>
</mapper>