<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtRouteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtRoute">
    <id column="route_id" jdbcType="BIGINT" property="routeId" />
    <result column="route_code" jdbcType="VARCHAR" property="routeCode" />
    <result column="route_name" jdbcType="VARCHAR" property="routeName" />
    <result column="route_desc" jdbcType="VARCHAR" property="routeDesc" />
    <result column="standard_time" jdbcType="TIMESTAMP" property="standardTime" />
    <result column="readiness_time" jdbcType="TIMESTAMP" property="readinessTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtRoute" resultMap="BaseResultMap">
    select sr.route_id,sr.route_code,sr.route_name,sr.route_desc,sr.standard_time,sr.readiness_time, sr.status, sr.create_user_id,u.user_name as create_user_name,
    sr.create_time, sr.modified_user_id,s.user_name as modified_user_name,sr.modified_time,sr.is_delete, sr.organization_id,
    sr.remark, bo.organization_name
    from fantech_imes.smt_route sr
    left join ocean.sys_user u on sr.create_user_id=u.user_id
    left join ocean.sys_user s on sr.modified_user_id=s.user_id
    LEFT JOIN fantech_imes.base_organization bo ON sr.organization_id = bo.organization_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sr.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="routeCode!=null and routeCode!=''">
        and sr.route_code like CONCAT('%', #{routeCode}, '%')
      </if>
      <if test="routeName!=null and routeName!=''">
        and sr.route_name like CONCAT('%', #{routeName}, '%')
      </if>
      <if test="routeDesc!=null and routeDesc!=''">
        and sr.route_desc like CONCAT('%', #{routeDesc}, '%')
      </if>
      <if test="status!=null and status!=''">
        and sr.status=#{status}
      </if>
    </where>
    order by sr.create_time desc
  </select>
</mapper>
