<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtStorageMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtStorage">
    <id column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode" />
    <result column="storage_name" jdbcType="VARCHAR" property="storageName" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtStorage" resultMap="BaseResultMap">
    select  ss.storage_id,ss.storage_code,ss.storage_name,ss.level,ss.storage_desc,ss.warehouse_id,sw.warehouse_name as warehouseName,
    ss.warehouse_area_id,swa.warehouse_area_name as warehouseAreaName,ss.status,ss.create_user_id,u.user_name as createUserName,
    ss.create_time,ss.modified_user_id, s.user_name as modifiedUserName,ss.modified_time, ss.is_delete
    from smt_storage ss
    left join smt_warehouse sw on ss.warehouse_id=sw.warehouse_id
    left join smt_warehouse_area swa on ss.warehouse_area_id=swa.warehouse_area_id
    left join smt_user u on ss.create_user_id=u.user_id
    left join smt_user s on ss.modified_user_id=s.user_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ss.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="storageCode!=null and storageCode!=''">
        and ss.storage_code like CONCAT('%', #{storageCode}, '%')
      </if>
      <if test="storageName!=null and storageName!=''">
        and ss.storage_name like CONCAT('%', #{storageName}, '%')
      </if>
      <if test="storageDesc!=null and storageDesc!=''">
        and ss.storage_desc like CONCAT('%', #{storageDesc}, '%')
      </if>
      <if test="warehouseId!=null and warehouseId!=''">
        and ss.warehouse_id=#{warehouseId}
      </if>
      <if test="warehouseAreaId!=null and warehouseAreaId!=''">
        and ss.warehouseAreaId=#{warehouseAreaId}
      </if>
    </where>
  </select>
</mapper>