<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtStationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtStation">
    <id column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="station_code" jdbcType="VARCHAR" property="stationCode" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="station_desc" jdbcType="VARCHAR" property="stationDesc" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="section_id" jdbcType="BIGINT" property="sectionId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="if_pass_station" jdbcType="TINYINT" property="ifPassStation" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtStation" resultMap="BaseResultMap">
    select  ss.station_id,ss.station_code,ss.station_name,ss.station_desc,ss.process_id,sp.process_name as processName,ss.section_id,
    sws.section_name as sectionName,ss.status,ss.if_pass_station,ss.create_user_id,u.user_name as createUserName,ss.create_time,
    ss.modified_user_id, s.user_name as modifiedUserName,ss.modified_time, ss.is_delete, ss.organization_id,
    ss.remark, bo.organization_name
    from fantech_imes.smt_station ss
    left join fantech_imes.smt_process sp on ss.process_id=sp.process_id
    left join fantech_imes.smt_workshop_section sws on ss.section_id=sws.section_id
    left join ocean.sys_user u on ss.create_user_id=u.user_id
    left join ocean.sys_user s on ss.modified_user_id=s.user_id
    LEFT JOIN fantech_imes.base_organization bo ON ss.organization_id = bo.organization_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ss.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="stationCode!=null and stationCode!=''">
        and ss.station_code like CONCAT('%', #{stationCode}, '%')
      </if>
      <if test="stationName!=null and stationName!=''">
        and ss.station_name like CONCAT('%', #{stationName}, '%')
      </if>
      <if test="stationDesc!=null and stationDesc!=''">
        and ss.station_desc like CONCAT('%', #{stationDesc}, '%')
      </if>
      <if test="processId!=null and processId!=''">
        and ss.process_id=#{processId}
      </if>
      <if test="sectionId!=null and sectionId!=''">
        and ss.section_id=#{sectionId}
      </if>
      <if test="status!=null and status!=''">
        and ss.status=#{status}
      </if>
    </where>
    order by ss.create_time desc
  </select>
</mapper>