<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtWarehouse">
    <id column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_desc" jdbcType="VARCHAR" property="warehouseDesc" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtWarehouse" resultMap="BaseResultMap">
    select  sw.warehouse_id,sw.warehouse_code,sw.warehouse_name,sw.warehouse_desc,sw.status,sw.create_user_id,
    u.user_name as createUserName,sw.create_time,sw.modified_user_id, s.user_name as modifiedUserName,
    sw.modified_time, sw.is_delete
    from fantech_imes.smt_warehouse sw
    left join ocean.sys_user u on sw.create_user_id=u.user_id
    left join ocean.sys_user s on sw.modified_user_id=s.user_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sw.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="warehouseCode!=null and warehouseCode!=''">
        and sw.warehouse_code like CONCAT('%', #{warehouseCode}, '%')
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
      </if>
      <if test="warehouseDesc!=null and warehouseDesc!=''">
        and sw.warehouse_desc like CONCAT('%', #{warehouseDesc}, '%')
      </if>
    </where>
  </select>
</mapper>