<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.basic.mapper.SmtWorkshopSectionMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.SmtWorkshopSection">
    <id column="section_id" jdbcType="BIGINT" property="sectionId" />
    <result column="section_code" jdbcType="VARCHAR" property="sectionCode" />
    <result column="section_name" jdbcType="VARCHAR" property="sectionName" />
    <result column="section_desc" jdbcType="VARCHAR" property="sectionDesc" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <select id="findList" parameterType="com.fantechs.common.base.entity.basic.search.SearchSmtWorkshopSection" resultMap="BaseResultMap">
    select ws.section_id, ws.section_code, ws.section_name, ws.section_desc,
    ws.status, ws.create_user_id,u.user_name as createUserName,ws.create_time,ws.modified_user_id,
    s.user_name as modifiedUserName, ws.modified_time,ws.is_delete
    from smt_workshop_section ws
    left join smt_user u on ws.create_user_id=u.user_id
    left join smt_user s on ws.modified_user_id=s.user_id
    <where>
      1=1
      <if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">
        AND date_format(ws.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="sectionCode!=null and sectionCode!=''">
        and ws.section_code like CONCAT('%', #{sectionCode}, '%')
      </if>
      <if test="sectionName!=null and sectionName!=''">
        and ws.sectionName like CONCAT('%', #{sectionName}, '%')
      </if>
      <if test="sectionDesc!=null and sectionDesc!=''">
        and ws.sectionDesc like CONCAT('%', #{sectionDesc}, '%')
      </if>
    </where>
  </select>
</mapper>