server:
  port: 9002
  max-http-header-size: 10000000

spring:
  profiles:
    include: dev
  application:
    name: @pom.artifactId@
  datasource:
    primary:
      jdbc-url: jdbc:oracle:thin:@erpdb:1522:prod
      type: com.alibaba.druid.pool.DruidDataSource
      username: wbquery
      password: wbquery
      driverClassName: oracle.jdbc.OracleDriver
    secondary:
      jdbc-url: jdbc:oracle:thin:@middb:1521:ORCL
      type: com.alibaba.druid.pool.DruidDataSource
      username: k3wms
      password: k3wms
      driverClassName: oracle.jdbc.driver.OracleDriver
    thirdary:
      jdbc-url: jdbc:sqlserver://pqmsdb:1433;DatabaseName=SridaFramework
      type: com.alibaba.druid.pool.DruidDataSource
      username: sa
      password: 2020@WB
      driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    fourth:
      jdbc-url: jdbc:oracle:thin:@192.168.5.23:1521:orcl
      type: com.alibaba.druid.pool.DruidDataSource
      username: wbquery
      password: wbquery
      driverClassName: oracle.jdbc.OracleDriver
#    primary:
#      jdbc-url: jdbc:oracle:thin:@192.168.204.160:1521:ORCL
#      type: com.alibaba.druid.pool.DruidDataSource
#      username: smt
#      password: smt
#      driverClassName: oracle.jdbc.OracleDriver
#    secondary:
#      jdbc-url: jdbc:oracle:thin:@192.168.204.160:1521:ORCL
#      type: com.alibaba.druid.pool.DruidDataSource
#      username: smt
#      password: smt
#      driverClassName: oracle.jdbc.OracleDriver
#    thirdary:
#      jdbc-url: jdbc:sqlserver://192.168.204.150:1433;DatabaseName=SridaFramework
#      type: com.alibaba.druid.pool.DruidDataSource
#      username: sa
#      password: Jf@2020
#      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    fourth:
#      jdbc-url: jdbc:oracle:thin:@192.168.5.33:1521:orcl
#      type: com.alibaba.druid.pool.DruidDataSource
#      username: gzeos
#      password: gzeos
#      driverClassName: oracle.jdbc.OracleDriver


logging:
  file: /data/logs/ocean/@pom.artifactId@/info/@pom.artifactId@.log