<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.smt.mapper.SmtHtMaterialLifetimeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.smt.history.SmtHtMaterialLifetime">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_material_lifetime_id" jdbcType="BIGINT" property="htMaterialLifetimeId" />
    <result column="material_lifetime_id" jdbcType="BIGINT" property="materialLifetimeId" />
    <result column="the_humidity_level" jdbcType="VARCHAR" property="theHumidityLevel" />
    <result column="sealing_condition" jdbcType="VARCHAR" property="sealingCondition" />
    <result column="seal_holding_time" jdbcType="DECIMAL" property="sealHoldingTime" />
    <result column="open_condition" jdbcType="VARCHAR" property="openCondition" />
    <result column="open_hold_time" jdbcType="DECIMAL" property="openHoldTime" />
    <result column="hight_t_bake_t" jdbcType="VARCHAR" property="hightTBakeT" />
    <result column="low_t_bake_t" jdbcType="VARCHAR" property="lowTBakeT" />
    <result column="low_t_bake_time" jdbcType="DECIMAL" property="lowTBakeTime" />
    <result column="hight_t_bake_time" jdbcType="DECIMAL" property="hightTBakeTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    shml.ht_material_lifetime_id,
    shml.material_lifetime_id,
    shml.the_humidity_level,
    shml.sealing_condition,
    shml.seal_holding_time,
    shml.open_condition,
    shml.open_hold_time,
    shml.hight_t_bake_t,
    shml.low_t_bake_t,
    shml.low_t_bake_time,
    shml.hight_t_bake_time,
    shml.`status`,
    shml.remark,
    shml.org_id,
    shml.create_user_id,
    shml.create_time,
    shml.modified_user_id,
    shml.modified_time,
    shml.is_delete,
    shml.option1,
    shml.option2,
    shml.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from smt_ht_material_lifetime shml
    left join sys_user u on shml.create_user_id=u.user_id
    left join sys_user s on shml.modified_user_id=s.user_id
    left join base_organization bo ON shml.org_id = bo.organization_id
    <where>
      <if test="theHumidityLevel != null and theHumidityLevel!=''">
        and shml.the_humidity_level like CONCAT('%', #{theHumidityLevel}, '%')
      </if>
      <if test="sealHoldingTime != null">
        and shml.seal_holding_time = #{sealHoldingTime}
      </if>
      <if test="openHoldTime != null">
        and shml.open_hold_time = #{openHoldTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shml.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and shml.status = #{status}
      </if>
      <if test="orgId!=null">
        and shml.org_id=#{orgId}
      </if>
    </where>
    order by shml.create_time desc
  </select>
</mapper>
