<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.smt.mapper.SmtMaterialLifetimeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.smt.SmtMaterialLifetime">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="material_lifetime_id" jdbcType="BIGINT" property="materialLifetimeId" />
    <result column="the_humidity_level" jdbcType="VARCHAR" property="theHumidityLevel" />
    <result column="sealing_condition" jdbcType="VARCHAR" property="sealingCondition" />
    <result column="seal_holding_time" jdbcType="DECIMAL" property="sealHoldingTime" />
    <result column="open_condition" jdbcType="VARCHAR" property="openCondition" />
    <result column="open_hold_time" jdbcType="DECIMAL" property="openHoldTime" />
    <result column="hight_t_bake_t" jdbcType="VARCHAR" property="hightTBakeT" />
    <result column="low_t_bake_t" jdbcType="VARCHAR" property="lowTBakeT" />
    <result column="low_t_bake_time" jdbcType="DECIMAL" property="lowTBakeTime" />
    <result column="hight_t_bake_time" jdbcType="DECIMAL" property="hightTBakeTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.smt.SmtMaterialLifetimeDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    sml.material_lifetime_id,
    sml.the_humidity_level,
    sml.sealing_condition,
    sml.seal_holding_time,
    sml.open_condition,
    sml.open_hold_time,
    sml.hight_t_bake_t,
    sml.low_t_bake_t,
    sml.low_t_bake_time,
    sml.hight_t_bake_time,
    sml.`status`,
    sml.remark,
    sml.org_id,
    sml.create_user_id,
    sml.create_time,
    sml.modified_user_id,
    sml.modified_time,
    sml.is_delete,
    sml.option1,
    sml.option2,
    sml.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from smt_material_lifetime sml
    left join sys_user u on sml.create_user_id=u.user_id
    left join sys_user s on sml.modified_user_id=s.user_id
    left join base_organization bo ON sml.org_id = bo.organization_id
    <where>
      <if test="theHumidityLevel != null and theHumidityLevel!=''">
        and sml.the_humidity_level like CONCAT('%', #{theHumidityLevel}, '%')
      </if>
      <if test="sealHoldingTime != null">
        and sml.seal_holding_time = #{sealHoldingTime}
      </if>
      <if test="openHoldTime != null">
        and sml.open_hold_time = #{openHoldTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sml.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and sml.status = #{status}
      </if>
      <if test="orgId!=null">
        and sml.org_id=#{orgId}
      </if>

      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>

    </where>
    order by sml.create_time desc
  </select>
</mapper>
