<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.smt.mapper.SmtSolderPasteJobMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.smt.SmtSolderPasteJob">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="solder_paste_job_id" jdbcType="BIGINT" property="solderPasteJobId" />
    <result column="material_barcode_id" jdbcType="BIGINT" property="materialBarcodeId"/>
    <result column="solder_paste_id" jdbcType="BIGINT" property="solderPasteId" />
    <result column="last_solder_paste_status" jdbcType="TINYINT" property="lastSolderPasteStatus" />
    <result column="current_solder_paste_status" jdbcType="TINYINT" property="currentSolderPasteStatus" />
    <result column="current_return_ice_time" jdbcType="INTEGER" property="currentReturnIceTime"/>
    <result column="operator_user_id" jdbcType="BIGINT" property="operatorUserId" />
    <result column="operator_time" jdbcType="TIMESTAMP" property="operatorTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.smt.SmtSolderPasteJobDto">
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>
  <sql id="Base_Column_List">
spj.solder_paste_job_id,
spj.material_barcode_id,
    spj.solder_paste_id,
    spj.last_solder_paste_status,
spj.current_solder_paste_status,
spj.current_return_ice_time,
spj.operator_user_id,
spj.operator_time,
spj.status,
spj.remark,
spj.org_id,
spj.create_user_id,
spj.create_time,
spj.modified_user_id,
spj.modified_time
  </sql>
  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"/>,bm.material_code,bm.material_name,wimb.barcode,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    FROM smt_solder_paste_job spj
    LEFT JOIN smt_solder_paste ssp ON spj.solder_paste_id = ssp.solder_paste_id
    LEFT join base_material bm ON ssp.material_id = bm.material_id
    left join wms_inner_material_barcode wimb on wimb.material_barcode_id = spj.material_barcode_id
    left join sys_user u on spj.create_user_id=u.user_id
    left join sys_user s on spj.modified_user_id=s.user_id
    left join base_organization bo ON spj.org_id = bo.organization_id
    <where>
      spj.org_id =#{orgId}
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order BY spj.create_time desc
  </select>
</mapper>
