<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.smt.mapper.SmtSolderPasteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.smt.SmtSolderPaste">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="solder_paste_id" jdbcType="BIGINT" property="solderPasteId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="t_back_time" jdbcType="DECIMAL" property="tBackTime" />
    <result column="stir_time" jdbcType="DECIMAL" property="stirTime" />
    <result column="open_time_limit" jdbcType="DECIMAL" property="openTimeLimit" />
    <result column="not_open_time_limit" jdbcType="DECIMAL" property="notOpenTimeLimit" />
    <result column="return_ice_time" jdbcType="INTEGER" property="returnIceTime" />
    <result column="expiration_date" jdbcType="TIMESTAMP" property="expirationDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.smt.SmtSolderPasteDto">
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>
  <sql id="Base_Column_List">
    ssp.solder_paste_id,
    ssp.material_id,
    ssp.t_back_time,
    ssp.stir_time,
    ssp.open_time_limit,
    ssp.not_open_time_limit,
    ssp.return_ice_time,
    ssp.expiration_date,
    ssp.status,
    ssp.remark,
    ssp.org_id,
    ssp.create_user_id,
    ssp.create_time,
    ssp.modified_user_id,
    ssp.modified_time,
    ssp.is_delete,
    ssp.option1,
    ssp.option2,
    ssp.option3
  </sql>
  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"/>,bm.material_code,bm.material_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    FROM smt_solder_paste ssp
    LEFT join base_material bm ON ssp.material_id = bm.material_id
    left join sys_user u on ssp.create_user_id=u.user_id
    left join sys_user s on ssp.modified_user_id=s.user_id
    left join base_organization bo ON ssp.org_id = bo.organization_id
    <where>
      <if test="materialCode!=null and materialCode!=''">
        and bm.material_code like CONCAT('%',#{materialCode},'%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and bm.material_name like CONCAT('%',#{materialName},'%')
      </if>
      <if test="solderPasteId!=null and solderPasteId!=''">
        and ssp.solder_paste_id = #{solderPasteId}
      </if>
      <if test="orgId!=null and orgId!=''">
        and ssp.org_id = #{orgId}
      </if>

      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>

    </where>
    order by ssp.create_time desc
  </select>
  <select id="findInvDet" resultType="java.util.Map">
    select material_barcode_id,material_id From wms_inner_material_barcode where barcode=#{barcode}
  </select>
</mapper>
