<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.kreport.mapper.LogisticsKanbanMapper">

    <select id="findDayLineChart" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.QuantityShipments">
        SELECT
        CONCAT(CASE WHEN HOUR(wpt.CREATED_TIME) &lt; 10 THEN CONCAT('0',HOUR(wpt.CREATED_TIME)) ELSE HOUR(wpt.CREATED_TIME) END,':00') AS 'x',
        count( 0 ) AS 'y'
        FROM
        wms_pick_ticket wpt
        WHERE
        DATE_FORMAT( wpt.CREATED_TIME, '%Y-%m-%d' ) = DATE_FORMAT( now( ), '%Y-%m-%d' )  and wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'SF'
        GROUP BY
        HOUR ( wpt.CREATED_TIME )
        ORDER BY
        HOUR ( wpt.CREATED_TIME )
    </select>

    <select id="findMonthLineChart" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.QuantityShipments">
        SELECT
          CONCAT(month(wpt.CREATED_TIME),'月',DAY ( wpt.CREATED_TIME),'日') as 'x',
            count( 0 ) AS 'y'
        FROM
            wms_pick_ticket wpt
        WHERE
            DATE_FORMAT( wpt.CREATED_TIME, '%Y-%m' ) = DATE_FORMAT( now( ), '%Y-%m' )  and wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'SF'
        GROUP BY
            DAY ( wpt.CREATED_TIME )
        ORDER BY
            DAY ( wpt.CREATED_TIME )
    </select>

    <select id="findMaterialTrajectory" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.LogisticsKanban">
        select
            d.total - d.onPassage - d.signFor as 'dueOut',
            d.onPassage,
            d.signFor,
            d.total
        from (
            select
                ifnull(sum(CASE WHEN wpt.status not in('CA','CL','CV') THEN 1 else 0 end),0) as 'total',
                ifnull(sum(CASE WHEN wed.route_trace like '%派送中%' = 1 and wed.route_trace not like '%已签收%' = 1 THEN 1 else 0 end),0) as 'onPassage',
                ifnull(sum(CASE WHEN wed.route_trace like '%已签收%' = 1 THEN 1 else 0 end),0) as 'signFor'
            from wms_pick_ticket wpt
            left join wms_bill_type wbt on wbt.id = wpt.BILL_TYPE_ID
            left join  wms_express_doc wed on wpt.id = wed.PICK_TICKET_ID and wed.route_trace is not null
            where wpt.WAREHOUSE_ID = #{warehouseId}
            <if test="billTypeNames != null" >
                <foreach collection="billTypeNames" item="item" index="index" open="AND wbt.NAME in (" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            AND  date_format(wpt.CREATED_TIME,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
            <if test="carrierNames != null" >
                <foreach collection="carrierNames" item="item" index="index" open="AND wpt.CARRIER_NAME in(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        ) d

    </select>

    <select id="findCarrierProcessingOrderList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.CarrierProcessingOrder">
        SELECT
            CARRIER_NAME as 'carrierName',count(1) as 'total'
        FROM wms_pick_ticket wpt
        WHERE WAREHOUSE_ID = #{warehouseId}  AND STATUS = 'SF' AND CARRIER_ID is not null
        <if test="isDay == 1" >
            AND  date_format(CREATED_TIME,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
        </if>
        <if test="isDay != 1" >
            AND  date_format(CREATED_TIME,'%Y-%m')=date_format(now(),'%Y-%m')
        </if>
        GROUP BY CARRIER_ID
        ORDER BY count(1) desc
    </select>

    <select id="findRadiationChartList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.RadiationChart">
        select
            ww.CONTACT_DISTRICT as 'warehouseDistrictName',
            wpt.CONTACT_DISTRICT as 'districtName'
        from wms_warehouse ww
        left join wms_pick_ticket wpt on wpt.WAREHOUSE_ID = ww.ID
        left join wms_bill_type wbt on wbt.id = wpt.BILL_TYPE_ID
        where ww.ID = #{warehouseId} AND wpt.CONTACT_DISTRICT is not null
	    and wpt.CREATED_TIME BETWEEN DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 3 DAY),'%Y-%m-%d') and DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>

    <select id="findTransportInformationList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.TransportInformation">
        select
            wpt.code as 'code',wpt.SHOP_NAME as 'shopName',wpt.SHIP_TO_NAME as 'shipToName',
            concat_ws(wpt.CONTACT_CITY,wpt.CONTACT_PROVINCE,wpt.CONTACT_DISTRICT) as 'provinces'
        from wms_pick_ticket wpt
        left join wms_bill_type wbt on wbt.id = wpt.BILL_TYPE_ID
        where wpt.WAREHOUSE_ID = #{warehouseId} AND wpt.status = 'SF'
        <if test="billTypeNames != null" >
            <foreach collection="billTypeNames" item="item" index="index" open="AND wbt.NAME in (" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
