<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.kreport.mapper.LogisticsTrackReportMapper">

    <select id="findDeliverList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.LogisticsTrackReport">
        SELECT
            wc.UNITNAME AS 'companyName',
            wc.UNITCODE AS 'companyCode',
            ww.`CODE` AS 'warehouseCode',
            ww.`NAME` AS 'warehouseName',
            wbt.`NAME` AS 'billType',
            wpt.`CODE` AS 'billCode',
            wbt.TYPE AS 'type',
            wpt.BILL_SOURCE AS 'billSource',
            wpt.RELATED_BILL1 AS 'relatedBill',
            wpt.ORDER_DATE AS 'orderDate',
            wpt.UPDATE_TIME AS 'orderCompletionDate',
            wi.`CODE` AS 'materialCode',
            wi.`NAME` AS 'materialName',
            wpr.MATCH_VALUE AS 'batchNumber',
            wptd.QTY_BASE_QTY AS 'planQty',
            wptd.SHIPPED_QTY AS 'realityQty',
            wcc.`CODE` AS 'carrierCode',
            wcc.`NAME` AS 'carrierName',
            wpt.LOGISTICS_NUMBER AS 'logisticsCode',
            '' AS 'logisticsNumber',
            wpt.DESCRIPTION AS 'orderRemark',
            wpt.SHOP_NAME AS 'customerName',
            wpt.SHIP_TO_NAME AS 'consignee',
            wpt.CONTACT_TELEPHONE AS 'contactTelephone',
            wpt.contact_address AS 'contactAddress',
            '' AS 'pullPerson',
            '' AS 'pullPersonPhone',
            '' AS 'recipients',
            '' AS 'recipientsPhone',
            '' AS 'pullDate',
            '' AS 'recipientsDate',
            wed.ROUTE_TRACE AS 'routeTrace',
            wccc.`NAME` AS 'routeTraceSource'
        FROM
            wms_pick_ticket wpt
            LEFT JOIN wms_pick_ticket_detail wptd ON wptd.PICK_TICKET_ID = wpt.id
            LEFT JOIN wms_pt_require wpr ON wpr.PICK_TICKET_DETAIL_ID = wptd.id
            LEFT JOIN wms_item wi ON wi.id = wptd.ITEM_ID
            LEFT JOIN wms_bill_type wbt ON wbt.id = wpt.BILL_TYPE_ID
            LEFT JOIN wms_warehouse ww ON ww.id = wpt.warehouse_id
            LEFT JOIN wms_corp wc ON wc.id = ww.CORP_ID
            LEFT JOIN wms_carrier wcc ON wcc.id = wpt.CARRIER_ID
            LEFT JOIN wms_express_doc wed ON wed.PICK_TICKET_ID = wpt.ID
            LEFT JOIN wms_carrier wccc ON wccc.CODE = wed.CODE
        WHERE
            wpt.WAREHOUSE_ID = #{warehouseId}
            AND wpt.ORIGINAL_ID IS NULL
            AND wpt.`STATUS` = 'SF'
    </select>


    <select id="findTakeList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.LogisticsTrackReport">
        select
            wc.UNITNAME as 'companyName',
            wc.UNITCODE as 'companyCode',
            ww.`CODE` as 'warehouseCode',
            ww.`NAME` as 'warehouseName',
            wbt.`NAME` as 'billType',
            wa.`CODE` as 'billCode',
            wbt.TYPE as 'type',
            wa.BILL_SOURCE as 'billSource',
            wa.CUSTOMER_BILL as 'relatedBill',
            wa.ORDER_DATE as 'orderDate',
            wa.END_RECEIVED_DATE as 'orderCompletionDate',
            wi.`CODE` as 'materialCode',
            wi.`NAME` as 'materialName',
            wad.LOT_INFO_LOT as 'batchNumber',
            wad.EXPECTED_QTY_BASE_QTY as 'planQty',
            wad.RECEIVED_QTY as 'realityQty',
            wcc.`CODE` as 'carrierCode',
            wcc.`NAME` as 'carrierName',
            wa.EXPRESS_NO as 'logisticsCode',
            '' as 'logisticsNumber',
            wa.DESCRIPTION as 'orderRemark',
            '' as 'customerName',
            '' as 'consignee',
            '' as 'contactTelephone',
            '' as 'contactAddress',
            '' as 'pullPerson',
            '' as 'pullPersonPhone',
            '' as 'recipients',
            '' as 'recipientsPhone',
            '' as 'pullDate',
            '' as 'recipientsDate',
            '' as 'routeTrace',
            '' as 'routeTraceSource'
        from wms_asn wa
        left join wms_asn_detail wad on wad.asn_id = wa.id
        left join wms_item wi on wi.id = wad.ITEM_ID
        left join wms_bill_type wbt on wbt.id = wa.BILL_TYPE_ID
        left join wms_warehouse ww on ww.id = wa.warehouse_id
        left join wms_corp wc on wc.id = ww.CORP_ID
        left join wms_carrier wcc on wcc.id = wa.CARRIER_ID
        where wa.WAREHOUSE_ID = #{warehouseId} and wa.status in('PN','FN')
    </select>

</mapper>
