<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.kreport.mapper.WarehouseKanbanMapper">

    <select id="findOrderQty" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.WarehouseKanban">
        select
        ifnull(sum(
            CASE WHEN status NOT in('SF','CA','CL') THEN 1 else 0 end
            ),0) unfinishedOrderQty,
        IFNULL(SUM(CASE WHEN STATUS ='SF' THEN 1 ELSE 0 END),0) AS 'finishedOrderQty',
        ifnull(sum(CASE WHEN status NOT in('SF','CA','CL','EQ') AND REVIEW_STATUS!='REVIEW_COMPLETED' THEN 1 else 0 end),0) as 'pendingSalesQty',
        count(1) as 'totalOrderQty',
        ifnull(sum(CASE WHEN status in('CA','CL') THEN 1 else 0 end),0) as 'cancelOrderQty'
        from wms_pick_ticket
        where WAREHOUSE_ID = #{warehouseId} and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findAccomplishQty" parameterType="map" resultType="long">
--     SELECT  count(1) AS finishedOrderQty
--     FROM
--       wms_pick_ticket
--     WHERE WAREHOUSE_ID = #{warehouseId}
--     AND   STATUS ='SF'
--     AND DATE_FORMAT(UPDATE_TIME, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findClaimGoods" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.BillsQtyStatistics">
        select
            IFNULL(SUM(CASE WHEN STATUS IN('OP','PR','EN')THEN 1 ELSE 0 END),0) AS unreceivedQty,
            IFNULL(SUM(CASE WHEN STATUS not in('CA','CL') THEN 1 else 0 end),0) as 'total',
            IFNULL(SUM(CASE WHEN STATUS not in('CA','CL') THEN 1 else 0 end),0) - ifnull(sum(CASE WHEN status in('OP','EN','PR') THEN 1 else 0 end),0) as 'receivedQty'
        from wms_asn
        where WAREHOUSE_ID = #{warehouseId} and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}

    </select>

    <select id="findDeliverGoods" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.BillsQtyStatistics">
        select
            IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL','SF') THEN 1 ELSE 0 END),0) AS 'unreceivedQty',
            IFNULL(sum(CASE WHEN STATUS not in('CA','CL') THEN 1 else 0 end),0) as 'total',
            IFNULL(sum(CASE WHEN STATUS = 'SF' THEN 1 else 0 end),0) as 'receivedQty'
        from wms_pick_ticket
        where WAREHOUSE_ID = #{warehouseId} and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}

    </select>

    <select id="findOrderPicking" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.BillsQtyStatistics">
    SELECT
        IFNULL(SUM(CASE WHEN STATUS NOT IN('SF','WF','CA','CL') THEN 1 ELSE 0 END),0) AS unreceivedQty,
        IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL') THEN 1 ELSE 0 END),0) AS total,
        IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL') THEN 1 ELSE 0 END),0) - IFNULL(SUM(CASE WHEN STATUS NOT IN('SF','WF','CA','CL') THEN 1 ELSE 0 END),0)  AS receivedQty
    FROM WMS_PICK_TICKET
    WHERE WAREHOUSE_ID = #{warehouseId}
    AND DATE_FORMAT(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate} and status != 'OP'
    </select>

    <select id="findReplenishment" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.BillsQtyStatistics">
        SELECT
        IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL','WF','FN') THEN 1 ELSE 0 END),0) AS unreceivedQty,
        IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL') THEN 1 ELSE 0 END),0) AS total,
        (IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL') THEN 1 ELSE 0 END),0)
        -
        IFNULL(SUM(CASE WHEN STATUS NOT IN('CA','CL','WF','FN') THEN 1 ELSE 0 END),0)) AS receivedQty
        FROM wms_move_doc
        WHERE WAREHOUSE_ID = #{warehouseId}
        AND CODE   REGEXP 'RE' and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}

    </select>

    <select id="findInventoriesStill" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.InventoryStatistics">
        select
            sum(case WHEN wl.id = null then 0 else wi.QTY_BASE_QTY end) as 'qty',
            wt.total
        from wms_inventory wi
        left join wms_location wl on wi.LOCATION_ID = wl.ID and wl.WAREHOUSE_ID = #{warehouseId} AND wl.type = 'ST'
        left join (
            select
                sum(wi.QTY_BASE_QTY) as 'total',
                wi.WAREHOUSE_ID
            from wms_inventory wi
            where wi.WAREHOUSE_ID = #{warehouseId}
        ) wt on wt.WAREHOUSE_ID = wi.WAREHOUSE_ID
        where wi.WAREHOUSE_ID = #{warehouseId} and wi.OPERATION_STATUS = 'N'
    </select>

    <select id="findDayLineChart" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.QuantityShipments">
        SELECT
        CONCAT(CASE WHEN HOUR(wpt.UPDATE_TIME) &lt; 10 THEN CONCAT('0',HOUR(wpt.UPDATE_TIME)) ELSE HOUR(wpt.UPDATE_TIME) END,':00') AS 'x',
        count( 0 ) AS 'y'
        FROM
        wms_pick_ticket wpt
        WHERE
        DATE_FORMAT( wpt.UPDATE_TIME, '%Y-%m-%d' ) = DATE_FORMAT( now( ), '%Y-%m-%d' )  and wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'SF'
        GROUP BY
        HOUR ( wpt.UPDATE_TIME )
        ORDER BY
        HOUR ( wpt.UPDATE_TIME )
    </select>

    <select id="findMonthLineChart" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.QuantityShipments">
        SELECT
          CONCAT(month(wpt.UPDATE_TIME),'月',DAY ( wpt.UPDATE_TIME),'日') as 'x',
            count( 0 ) AS 'y'
        FROM
            wms_pick_ticket wpt
        WHERE
            DATE_FORMAT( wpt.UPDATE_TIME, '%Y-%m' ) = DATE_FORMAT( now( ), '%Y-%m' )  and wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'SF'
        GROUP BY
            DAY ( wpt.UPDATE_TIME )
        ORDER BY
            DAY ( wpt.UPDATE_TIME )
    </select>

    <select id="findOverduePickingt" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.OverduePicking">
        select
            sum(CASE WHEN CREATED_TIME BETWEEN DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d') and DATE_FORMAT(NOW(),'%Y-%m-%d') THEN 1 ELSE 0 END) as 'nearlyOneDay',
            sum(CASE WHEN CREATED_TIME BETWEEN DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 3 DAY),'%Y-%m-%d') and DATE_FORMAT(NOW(),'%Y-%m-%d') THEN 1 ELSE 0 END) as 'nearlyThreeDay',
            sum(CASE WHEN CREATED_TIME BETWEEN DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 7 DAY),'%Y-%m-%d') and DATE_FORMAT(NOW(),'%Y-%m-%d') THEN 1 ELSE 0 END) as 'nearlySevenDay'
        from wms_pick_ticket
        where WAREHOUSE_ID = #{warehouseId} and STATUS not in('SF','CA','CL','CV')
   </select>

    <select id="findJobDocumentProgressList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.JobDocumentProgress">
        select
            wpt.CREATED_TIME as 'createTime',
            wpt.CODE as 'code',
            wpt.SHOP_NAME as 'shopName',
            wpt.ALLOCATE_QTY as 'total',
            wpt.PICKITEMS as 'itemNumber',
            wpt.STATUS as 'status',
            wpt.LAST_OPERATOR as 'lastOperator'
        from wms_pick_ticket wpt
        where wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'WK' and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findPersonnelPickingRankingList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.PersonnelPickingRanking">
        select tu.name,tu.UNIKEY from  thorn_users  tu
        left join  thorn_organ_user  tou  on  tou.USER_ID = tu.id
        left join  wms_warehouse ww  on  ww.ORGANIZATION_ID = tou.ORGAN_ID
        where  ww.id = #{warehouseId}
    </select>

    <select id="findPutawayList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.PersonnelPickingRanking">
        select
            wa.LAST_OPERATOR_UNIKEY as 'unikey',
            ifnull(COUNT( 1 ) ,0) as 'putawayQty'
        from wms_asn wa
        where wa.WAREHOUSE_ID = #{warehouseId} and wa.STATUS = 'PN'  and date_format(wa.UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        GROUP BY wa.LAST_OPERATOR
    </select>

    <select id="findPickList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.PersonnelPickingRanking">
        select
            d.LAST_OPERATOR_UNIKEY as 'unikey',
            ifnull(COUNT( 1 ) ,0) as 'pickQty'
        from (
            select
                wpt.LAST_OPERATOR,
                wpt.LAST_OPERATOR_UNIKEY,
                COUNT(1)
            from wms_pick_ticket wpt
            where wpt.WAREHOUSE_ID = #{warehouseId} and wpt.STATUS = 'WF'  and date_format(wpt.UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            GROUP BY wpt.LAST_OPERATOR
            UNION all
            SELECT
                wwd.LAST_OPERATOR,
                wwd.LAST_OPERATOR_UNIKEY,
                COUNT( 1 )
            FROM
                wms_wave_doc wwd
            WHERE
                wwd.WAREHOUSE_ID = #{warehouseId}  AND wwd.STATUS = 'PN'  and date_format(wwd.UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            GROUP BY wwd.LAST_OPERATOR
        ) d
        GROUP BY d.LAST_OPERATOR
    </select>

    <select id="findRecheckList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.PersonnelPickingRanking">
       SELECT
            wpt.LAST_OPERATOR_UNIKEY as 'unikey',
            ifnull(COUNT( 1 ) ,0) as 'recheckQty'
        FROM
            wms_pick_ticket wpt
        WHERE wpt.WAREHOUSE_ID = #{warehouseId} AND wpt.STATUS = 'SF'  and date_format(wpt.UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        GROUP BY wpt.LAST_OPERATOR
    </select>

    <select id="findReplenishmentList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.PersonnelPickingRanking">
        select
            wmd.LAST_OPERATOR_UNIKEY AS 'unikey',
            ifnull(COUNT( 1 ) ,0)  as 'replenishmentQty'
        from wms_move_doc wmd
        WHERE wmd.WAREHOUSE_ID = #{warehouseId} and date_format(wmd.UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate} AND wmd.TYPE = 'RE' AND wmd.STATUS = 'WF'
        GROUP BY wmd.LAST_OPERATOR
    </select>




    <select id="findWaveManager" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.WaveManager">
        select
            ifnull(sum(CASE WHEN status = 'FN' THEN 1 else 0 end),0) as 'pickedGoodsQty',
            ifnull(sum(CASE WHEN status = 'WK' THEN 1 else 0 end),0) as 'unpickedGoodsQty',
            ifnull(sum(CASE WHEN status in('OP','EN','RA','PA','FA') THEN 1 else 0 end),0) as 'waitingPickingQty'
        from wms_wave_doc wwd
        where WAREHOUSE_ID = #{warehouseId}
        and date_format(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findOperationOverview" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.OperationOverview">
        select
            ifnull(sum(CASE WHEN status = 'OP' THEN 1 else 0 end),0) as 'openBillsQty',
            ifnull(sum(CASE WHEN status = 'EN' THEN 1 else 0 end),0) as 'takeEffectQty',
            ifnull(sum(CASE WHEN status = 'FA' THEN 1 else 0 end),0) as 'allocatedQty',
            ifnull(sum(CASE WHEN status = 'WK' THEN 1 else 0 end),0) as 'operationQty',
            ifnull(sum(CASE WHEN status = 'WF' THEN 1 else 0 end),0) as 'jobCompleteQty',
            ifnull(sum(CASE WHEN status = 'SF' THEN 1 else 0 end),0) as 'shippedQty'
        from wms_pick_ticket
        where DATE_FORMAT(UPDATE_TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        and WAREHOUSE_ID = #{warehouseId}
    </select>

    <select id="findOutboundOverviewList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.OutboundOverview">
        SELECT
            DAY ( wpt.CREATED_TIME ) AS 'day',
            sum(CASE WHEN wpt.STATUS = 'SF' THEN 1 ELSE 0 END) as 'shipmentQty',
            sum(CASE WHEN wpt.STATUS not in ('CA','CL','CV') THEN 1 ELSE 0 END) as 'total'
        FROM
            wms_pick_ticket wpt
        WHERE
            wpt.WAREHOUSE_ID = #{warehouseId} and wpt.CREATED_TIME BETWEEN DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 7 DAY),'%Y-%m-%d') and DATE_FORMAT(NOW(),'%Y-%m-%d')
        GROUP BY
            DAY ( wpt.CREATED_TIME )
        ORDER BY
            DAY ( wpt.CREATED_TIME )
    </select>

    <select id="findInventoryProportionList" parameterType="map" resultType="com.fantechs.common.base.general.entity.kreport.InventoryProportion">
        select
            wi.CODE as 'code',sum(wii.QTY_BASE_QTY) as 'qty',twi.total_qty as 'totalQty',
            IFNULL(ROUND(sum(wii.QTY_BASE_QTY) /twi.total_qty*100,2),0) as 'receivedRatio',twi.total_qty as 'totalQty'
        from wms_inventory wii
        left join wms_location wl on wl.id = wii.LOCATION_ID
        left join wms_item wi on wi.ID = wii.SKU_ITEM_ID
        left join (
            select sum(wiii.QTY_BASE_QTY) 'total_qty',wiii.WAREHOUSE_ID from wms_inventory wiii where wiii.WAREHOUSE_ID = #{warehouseId}
        )twi on wii.WAREHOUSE_ID = twi.WAREHOUSE_ID
        WHERE wii.WAREHOUSE_ID = #{warehouseId} AND wii.OPERATION_STATUS = 'N'  AND wl.TYPE = 'ST'
        <if test="codes != null">
            <foreach collection="codes" item="item" index="index"  separator="," close=")" open="and wi.CODE in (">
                #{item}
            </foreach>
        </if>
        <if test="codes == null ">
           and 1 = 2
        </if>
        GROUP BY wi.ID
    </select>

    <select id="findWarehouse" resultType="com.fantechs.common.base.general.entity.kreport.Warehouse">
        select id,name from wms_warehouse
    </select>

</mapper>
