<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.wanbao.mapper.QmsHtInspectionOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wanbao.history.QmsHtInspectionOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_inspection_order_id" jdbcType="BIGINT" property="htInspectionOrderId" />
    <result column="inspection_order_id" jdbcType="BIGINT" property="inspectionOrderId" />
    <result column="inspection_order_code" jdbcType="VARCHAR" property="inspectionOrderCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="sales_code" jdbcType="VARCHAR" property="salesCode" />
    <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode" />
    <result column="inventory_qty" jdbcType="DECIMAL" property="inventoryQty" />
    <result column="order_qty" jdbcType="DECIMAL" property="orderQty" />
    <result column="inspection_standard_id" jdbcType="BIGINT" property="inspectionStandardId" />
    <result column="inspection_way_id" jdbcType="BIGINT" property="inspectionWayId" />
    <result column="inspection_status" jdbcType="TINYINT" property="inspectionStatus" />
    <result column="inspection_result" jdbcType="TINYINT" property="inspectionResult" />
    <result column="inspection_user_id" jdbcType="BIGINT" property="inspectionUserId" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="audit_dept_id" jdbcType="BIGINT" property="auditDeptId" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="if_third_inspection" jdbcType="TINYINT" property="ifThirdInspection" />
    <result column="inspection_type" jdbcType="TINYINT" property="inspectionType" />
    <result column="access_url" jdbcType="VARCHAR" property="accessUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="inspection_standard_name" jdbcType="VARCHAR" property="inspectionStandardName"/>
    <result column="inspection_way_code" jdbcType="VARCHAR" property="inspectionWayCode"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName"/>
    <result column="inspection_user_name" jdbcType="VARCHAR" property="inspectionUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    qhio.ht_inspection_order_id,
    qhio.inspection_order_id,
    qhio.inspection_order_code,
    qhio.material_id,
    qhio.customer_id,
    qhio.sales_code,
    qhio.same_package_code,
    qhio.inventory_qty,
    qhio.order_qty,
    qhio.inspection_standard_id,
    qhio.inspection_way_id,
    qhio.inspection_status,
    qhio.inspection_result,
    qhio.inspection_user_id,
    qhio.audit_status,
    qhio.audit_dept_id,
    qhio.audit_user_id,
    qhio.audit_remark,
    qhio.if_third_inspection,
    qhio.inspection_type,
    qhio.access_url,
    qhio.`status`,
    qhio.remark,
    qhio.org_id,
    qhio.create_user_id,
    qhio.create_time,
    qhio.modified_user_id,
    qhio.modified_time,
    qhio.is_delete,
    qhio.option1,
    qhio.option2,
    qhio.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bm.material_code,bm.material_desc,bm.material_version,
    bs.supplier_name,
    bis.inspection_standard_name,
    biw.inspection_way_code,
    bd.dept_name,su.user_name as audit_user_name,
    sus.user_name as inspection_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.qms_ht_inspection_order qhio
    left join fantech_imes_v2.base_material bm on qhio.material_id=bm.material_id
    left join fantech_imes_v2.base_supplier bs on qhio.customer_id=bs.supplier_id
    left join fantech_imes_v2.base_inspection_standard bis on qhio.inspection_standard_id=bis.inspection_standard_id
    left join fantech_imes_v2.base_inspection_way biw on qhio.inspection_way_id=biw.inspection_way_id
    left join fantech_imes_v2.base_dept bd on qhio.audit_dept_id=bd.dept_id
    left join ocean_v2.sys_user sus on qhio.inspection_user_id=sus.user_id
    left join ocean_v2.sys_user su on qhio.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on qhio.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qhio.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON qhio.org_id = bo.organization_id
    <where>
      <if test="inspectionOrderCode != null and inspectionOrderCode!=''">
        and qhio.inspection_order_code like CONCAT('%', #{inspectionOrderCode}, '%')
      </if>
      <if test="materialCode != null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="customerName != null and customerName!=''">
        and bs.supplier_name like CONCAT('%', #{customerName}, '%')
      </if>
      <if test="salesCode != null and salesCode!=''">
        and qhio.sales_code like CONCAT('%', #{salesCode}, '%')
      </if>
      <if test="samePackageCode != null and samePackageCode!=''">
        and qhio.same_package_code like CONCAT('%', #{samePackageCode}, '%')
      </if>
      <if test="auditUserName != null and auditUserName!=''">
        and su.user_name like CONCAT('%', #{auditUserName}, '%')
      </if>
      <if test="inspectionUserName != null and inspectionUserName!=''">
        and sus.user_name like CONCAT('%', #{inspectionUserName}, '%')
      </if>
      <if test="inspectionStatus != null">
        and qhio.inspection_status = #{inspectionStatus}
      </if>
      <if test="inspectionResult != null">
        and qhio.inspection_result = #{inspectionResult}
      </if>
      <if test="status!=null">
        and qhio.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qhio.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qhio.org_id=#{orgId}
      </if>
    </where>
    order by qhio.create_time desc
  </select>
</mapper>