target/
classes/
lib/
.gradle/
build/

.idea/
*.iml
*.classpath
*.settings/
*.project
*/.gitignore
out/
doc/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
package/

### VS Code ###
.vscode/
