<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmProcessCardMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmProcessCard">
    <!--
      WARNING - @mbg.generated
    -->

  </resultMap>
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.mes.pm.MesPmProcessCardDto">
    <id column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
    <result column="work_order_card_id" jdbcType="VARCHAR" property="workOrderCardId"/>
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="DECIMAL" property="productionQuantity"/>
        <result column="output_quantity" jdbcType="DECIMAL" property="outputQuantity"/>
        <result column="scheduled_quantity" jdbcType="DECIMAL" property="scheduledQuantity"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="planned_start_time" jdbcType="TIMESTAMP" property="plannedStartTime"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="barcode_rule_set_name" jdbcType="VARCHAR" property="barcodeRuleSetName"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
</resultMap>
  <select id="findList" resultMap="BaseResultMapDto">
  select
        wocp.work_order_card_id,swo.work_order_id,swo.work_order_code,swo.order_id,swo.material_id,sm.material_code,sm.material_name,sm.version,sm.material_desc,bt.transfer_quantity,
        swo.work_order_quantity,swo.production_quantity,swo.output_quantity,swo.scheduled_quantity,swo.work_order_status,swo.pro_line_id,spl.pro_name,swo.route_id,sr.route_name,
        swo.barcode_rule_set_id,sbrs.barcode_rule_set_name,swo.work_order_type,swo.planned_start_time,swo.planned_end_time,swo.actual_start_time,swo.actual_end_time,so.order_code,swo.contract_no,bt.color,spm.product_model_name
        FROM smt_work_order_card_pool wocp
		LEFT JOIN smt_work_order swo ON wocp.work_order_id = swo.work_order_id
        left join fantech_imes.smt_material sm on swo.material_id=sm.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        left join fantech_imes.smt_route sr on swo.route_id=sr.route_id
        left join fantech_imes.smt_pro_line spl on swo.pro_line_id=spl.pro_line_id
        left join fantech_imes.smt_barcode_rule_set sbrs on swo.barcode_rule_set_id=sbrs.barcode_rule_set_id
        left join smt_order so on so.order_id = swo.order_id
        <where>
        <if test="workOrderId != null">
        and swo.work_order_id = #{workOrderId}
        </if>
        <if test="workOrderCardId != null and workOrderCardId != ''">
        and wocp.work_order_card_id =#{workOrderCardId}
        </if>
</where>
   </select>
</mapper>