<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmHtDailyPlanMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmHtDailyPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_daily_plan_id" jdbcType="BIGINT" property="htDailyPlanId" />
    <result column="daily_plan_id" jdbcType="BIGINT" property="dailyPlanId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="schedule_qty" jdbcType="DECIMAL" property="scheduleQty" />
    <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty" />
    <result column="plan_time" jdbcType="TIMESTAMP" property="planTime" />
    <result column="if_order_inserting" jdbcType="TINYINT" property="ifOrderInserting" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <sql id="Base_Column_List">
    mphdp.daily_plan_id,
    mphdp.work_order_id,
    mphdp.schedule_qty,
    mphdp.finished_qty,
    mphdp.plan_time,
    mphdp.if_order_inserting,
    mphdp.status,
    mphdp.create_time
  </sql>


  <select id="findList" parameterType="com.fantechs.common.base.general.entity.mes.pm.search.SearchMesPmDailyPlan"
          resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    mpwo.material_id,mpwo.work_order_qty AS work_order_qty,mpwo.production_qty,mpwo.output_qty,
    mpwo.work_order_status,mpwo.pro_line_id,mpwo.scheduled_qty,bpl.pro_name AS proName,
    date_format(mphdp.plan_time, '%Y-%m-%d') AS planDate,mpwo.work_order_code as work_order_code,
    bpl.pro_name as pro_name,bm.material_name as material_name,bm.material_code as material_code,bm.material_desc as material_desc,
    bm.material_version as material_version,
    (mpwo.work_order_qty-mphdp.schedule_qty) AS no_schedule_qty
    from mes_pm_ht_daily_plan mphdp
    LEFT JOIN mes_pm_work_order mpwo ON mphdp.work_order_id = mpwo.work_order_id
    LEFT JOIN base_pro_line bpl ON  mpwo.pro_line_id =bpl.pro_line_id
    LEFT JOIN base_material bm ON  mpwo.material_id = bm.material_id
    <where>
      <if test="dailyPlanId!=null and dailyPlanId!=''">
        and mphdp.daily_plan_id = #{dailyPlanId}
      </if>
      <if test="workOrderId!=null and workOrderId!=''">
        and mphdp.work_order_id = #{workOrderId}
      </if>
      <if test="materialId!=null and materialId!=''">
        and mpwo.material_id = #{materialId}
      </if>
      <if test="proLineId!=null and proLineId!=''">
        and mpwo.pro_line_id = #{proLineId}
      </if>
      <if test="workOrderCode!=null and workOrderCode!=''">
        and mpwo.work_order_code = #{workOrderCode}
      </if>
      <if test="workOrderStatus!=null and workOrderStatus!=''">
        and mpwo.work_order_status = #{workOrderStatus}
      </if>
      <if test="status!=null">
        and mphdp.status = #{status}
      </if>
      <if test="ifOrderInserting!=null">
        and mphdp.if_order_inserting = #{ifOrderInserting}
      </if>
      <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
        and date_format(mphdp.plan_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by mphdp.create_time desc
  </select>


</mapper>