<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrder">
        <id column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="sales_order_id" jdbcType="BIGINT" property="salesOrderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="work_order_qty" jdbcType="DECIMAL" property="workOrderQty"/>
        <result column="production_qty" jdbcType="DECIMAL" property="productionQty"/>
        <result column="output_qty" jdbcType="DECIMAL" property="outputQty"/>
        <result column="scheduled_qty" jdbcType="DECIMAL" property="scheduledQty"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="schedule_date" jdbcType="TIMESTAMP" property="scheduleDate"/>
        <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime"/>
        <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>

        <result column="put_into_process_id" jdbcType="BIGINT" property="putIntoProcessId"/>
        <result column="output_process_id" jdbcType="BIGINT" property="outputProcessId"/>
        <result column="scrap_qty" jdbcType="DECIMAL" property="scrapQty"/>
        <result column="inventory_qty" jdbcType="DECIMAL" property="inventoryQty"/>

        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
        <result column="batch_code" jdbcType="VARCHAR" property="batchCode"/>
        <result column="logic_id" jdbcType="BIGINT" property="logicId"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderDto">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="logic_name" jdbcType="VARCHAR" property="logicName"/>
        <collection property="mesPmWorkOrderBomDtos" ofType="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderBomDto"
                    column="{workOrderId=work_order_id}" select="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderBomMapper.findList">
        </collection>
    </resultMap>

    <resultMap id="BomResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProductBomDet">
        <result column="product_bom_det_id" jdbcType="BIGINT" property="productBomDetId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="usage_qty" jdbcType="DECIMAL" property="usageQty"/>
        <result column="base_qty" jdbcType="DECIMAL" property="baseQty"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="RouteResultMapDto" type="com.fantechs.common.base.general.entity.basic.BaseRouteProcess">
        <result column="route_process_id" jdbcType="BIGINT" property="routeProcessId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="next_process_id" jdbcType="BIGINT" property="nextProcessId"/>
        <result column="previous_process_id" jdbcType="BIGINT" property="previousProcessId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="is_must_pass" jdbcType="TINYINT" property="isMustPass"/>
        <result column="inspection_time" jdbcType="INTEGER" property="inspectionTime"/>
        <result column="qualification_id" jdbcType="BIGINT" property="qualificationId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.general.entity.mes.pm.search.SearchMesPmWorkOrder"
            resultMap="BaseResultMapDto">
        SELECT
        swo.work_order_id,
        swo.work_order_code,
        swo.parent_id,
        swo.sales_order_id,
        swo.material_id,
        swo.work_order_qty,
        swo.production_qty,
        swo.output_qty,
        swo.scheduled_qty,
        swo.work_order_status,
        swo.pro_line_id,
        swo.barcode_rule_set_id,
        swo.route_id,
        swo.work_order_type,
        swo.schedule_date,
        swo.plan_start_time,
        swo.plan_end_time,
        swo.actual_start_time,
        swo.actual_end_time,
        swo.create_user_id,
        swo.create_time,
        swo.modified_user_id,
        swo.modified_time,
        swo.is_delete,
        swo.org_id,
        swo.put_into_process_id,
        swo.output_process_id,
        swo.scrap_qty,
        swo.inventory_qty,
        swo.remark,
        swo.contract_no,
        swo.batch_code,
        swo.logic_id,
        swo.option1,
        swo.option2,
        swo.option3,
        sm.material_code AS material_code,
        sm.material_name AS material_name,
        sm.material_version AS material_version,
        sm.material_desc AS material_desc,
        bt.main_unit AS 'mainUnit',
        bt.transfer_quantity AS 'transferQuantity',
        spl.pro_code AS 'proCode',
        spl.pro_name AS 'proName',
        sr.route_name AS 'routeName',
        sr.route_code AS 'routeCode',
        sbrs.barcode_rule_set_name AS 'barcodeRuleSetName',
        u.user_name AS 'createUserName',
        s.user_name AS 'modifiedUserName',
        bo.organization_name AS 'organizationName',
        bt.color AS 'color',
        spm.product_model_name AS 'productModelName',
        sps.package_specification_quantity AS 'packageSpecificationQuantity',
        putbp.process_name AS 'putIntoProcessName',
        outbp.process_name AS 'outputProcessName',
        oso.sales_order_code AS 'salesOrderCode',
        osod.sales_code AS 'salesCode',
        wel.logic_name
        FROM
        mes_pm_work_order swo
        left join base_material sm on swo.material_id=sm.material_id
        LEFT JOIN base_material_tab bt on bt.material_id = sm.material_id
        left join base_package_specification sps on sps.package_specification_id = bt.package_specification_id
        left join base_product_model spm on spm.product_model_id = bt.product_model_id
        left join base_route sr on swo.route_id=sr.route_id
        left join base_pro_line spl on swo.pro_line_id=spl.pro_line_id
        left join base_barcode_rule_set sbrs on swo.barcode_rule_set_id=sbrs.barcode_rule_set_id
        left join ocean_v2.sys_user u on swo.create_user_id=u.user_id
        left join ocean_v2.sys_user s on swo.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON swo.org_id = bo.organization_id
        left join base_process putbp ON putbp.process_id = swo.put_into_process_id
        left join base_process outbp ON outbp.process_id = swo.output_process_id
        left join om_sales_order oso ON oso.sales_order_id = swo.sales_order_id
        left join om_sales_order_det osod on osod.sales_order_id = oso.sales_order_id and osod.material_id = swo.material_id
        left join wanbao_erp_logic wel on wel.logic_id = swo.logic_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(swo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!='' and codeQueryMark != 1">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!='' and codeQueryMark == 1">
                and swo.work_order_code = #{workOrderCode}
            </if>
            <if test="workOrderId!=null">
                and swo.work_order_id =#{workOrderId}
            </if>
            <if test="parentId!=null">
                and swo.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="workOrderStatus!=null and workOrderStatus!=''">
                and swo.work_order_status =#{workOrderStatus}
            </if>
            <if test="option1!=null and option1!=''">
                and swo.option1 =#{option1}
            </if>
            <if test="option2!=null and option2!=''">
                and swo.option2 =#{option2}
            </if>
            <if test="option3!=null and option3!=''">
                and swo.option3 =#{option3}
            </if>
            <if test="workOrderStatusList != null and workOrderStatusList.size() > 0">
                and swo.work_order_status
                <foreach collection="workOrderStatusList" open="in (" close=")" item="item" separator="," index="index">
                    #{item}
                </foreach>
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="salesOrderCode!=null and salesOrderCode!=''">
                and oso.sales_order_code like CONCAT('%', #{salesOrderCode}, '%')
            </if>
            <if test="routeName!=null and routeName!=''">
                and sr.route_name like CONCAT('%', #{routeName}, '%')
            </if>
            <if test="proName!=null and proName!=''">
                and spl.pro_name like CONCAT('%', #{proName}, '%')
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and swo.pro_line_id=#{proLineId}
            </if>
            <if test="orgId!=null">
                and swo.org_id =#{orgId}
            </if>
            and swo.is_delete = 1
        </where>
        GROUP BY swo.work_order_id
        order by swo.modified_time desc
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        swo.work_order_id,
        swo.work_order_code,
        swo.parent_id,
        swo.sales_order_id,
        swo.material_id,
        swo.work_order_qty,
        swo.production_qty,
        swo.output_qty,
        swo.scheduled_qty,
        swo.work_order_status,
        swo.pro_line_id,
        swo.barcode_rule_set_id,
        swo.route_id,
        swo.work_order_type,
        swo.schedule_date,
        swo.plan_start_time,
        swo.plan_end_time,
        swo.actual_start_time,
        swo.actual_end_time,
        swo.create_user_id,
        swo.create_time,
        swo.modified_user_id,
        swo.modified_time,
        swo.is_delete,
        swo.org_id,
        swo.put_into_process_id,
        swo.output_process_id,
        swo.scrap_qty,
        swo.inventory_qty,
        swo.remark,
        swo.contract_no,
        swo.batch_code,
        swo.option1,
        swo.option2,
        swo.option3
        FROM
        mes_pm_work_order swo
        order by swo.modified_time desc
    </select>

    <select id="selectByWorkOrderId" parameterType="java.lang.Long" resultMap="BaseResultMapDto">
        SELECT swo.work_order_id,
               swo.work_order_code,
               swo.parent_id,
               swo.sales_order_id,
               swo.material_id,
               swo.barcode_rule_set_id,
               swo.work_order_type,
               swo.plan_start_time,
               swo.plan_end_time,
               swo.actual_start_time,
               swo.actual_end_time,
               swo.create_user_id,
               swo.create_time,
               swo.modified_user_id,
               swo.modified_time,
               swo.is_delete,
               swo.work_order_qty,
               swo.production_qty,
               swo.inventory_qty,
               swo.output_qty,
               swo.scheduled_qty,
               swo.put_into_process_id,
               swo.output_process_id,
               swo.scrap_qty,
               swo.work_order_status,
               swo.pro_line_id,
               swo.batch_code,
               swo.option1,
                swo.option2,
               swo.option3,
                sm.material_code AS material_code,
                sm.material_name AS material_name,
                sm.material_version AS material_version,
                sm.material_desc AS material_desc,
               bt.transfer_quantity AS 'transferQuantity',
               bppd.quantity        AS 'quantity',
               spl.pro_name         AS 'proName',
               swo.route_id         AS 'routeId',
               sr.route_name        AS 'routeName',
               swo.order_code        AS 'orderCode '
        FROM mes_pm_work_order swo
                 LEFT JOIN base_material sm ON swo.material_id = sm.material_id
                 LEFT JOIN base_material_tab bt ON bt.material_id = sm.material_id
                 LEFT JOIN base_plate_parts_det bppd ON bppd.plate_parts_det_id = swo.material_id
                 LEFT JOIN base_route sr ON swo.route_id = sr.route_id
                 LEFT JOIN base_pro_line spl ON swo.pro_line_id = spl.pro_line_id
        where swo.work_order_id = #{workOrderId}
    </select>


    <select id="selectRouteProcessByRouteId" parameterType="java.lang.Long" resultMap="RouteResultMapDto">
        SELECT srp.route_process_id,
               srp.route_id,
               srp.section_id,
               srp.process_id,
               srp.next_process_id,
               srp.previous_process_id,
               srp.order_num,
               srp.is_pass,
               srp.is_must_pass,
               srp.inspection_time,
               srp.qualification_id,
               sp.process_name,
               sr.route_name
        FROM base_route_process srp
                 LEFT JOIN base_route sr ON srp.route_id = sr.route_id
                 LEFT JOIN base_process sp ON srp.process_id = sp.process_id
        where srp.route_id = #{routeId}
        order by srp.order_num
    </select>

    <select id="getWorkOrderList" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
        SELECT * FROM mes_pm_work_order
        <where>
            <if test="list != null">
                <foreach collection="list" open="and work_order_id in (" separator="," close=")" item="value">
                    #{value}
                </foreach>
            </if>
        </where>
    </select>

    <update id="batchUpdate" parameterType="java.util.ArrayList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update mes_pm_work_order
            <set>
                output_qty = #{item.outputQty}
            </set>
            where work_order_id =#{item.workOrderId}
        </foreach>
    </update>
</mapper>
