<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderMaterialRePMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrderMaterialReP">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="work_order_material_re_p_id" jdbcType="BIGINT" property="workOrderMaterialRePId" />
    <result column="work_order_process_re_wo_id" jdbcType="BIGINT" property="workOrderProcessReWoId" />
    <result column="scan_type" jdbcType="TINYINT" property="scanType" />
    <result column="label_category_id" jdbcType="BIGINT" property="labelCategoryId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="usage_qty" jdbcType="DECIMAL" property="usageQty" />
    <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderMaterialRePDto">
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="sub_material_code" jdbcType="VARCHAR" property="subMaterialCode"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="label_category_name" jdbcType="VARCHAR" property="labelCategoryName" />
    <result column="label_category_code" jdbcType="VARCHAR" property="labelCategoryCode" />
  </resultMap>

  <sql id="Base_Column_List">
    mpwomrp.work_order_material_re_p_id,
    mpwomrp.work_order_process_re_wo_id,
    mpwomrp.scan_type,
    mpwomrp.label_category_id,
    mpwomrp.material_id,
    mpwomrp.usage_qty,
    mpwomrp.sub_material_id,
    mpwomrp.status,
    mpwomrp.remark, mpwomrp.org_id, mpwomrp.create_user_id, mpwomrp.create_time, mpwomrp.modified_user_id,
    mpwomrp.modified_time, mpwomrp.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,bm.material_code,bm.material_name,bm.material_version,sbm.material_code AS 'sub_material_code',blc.label_category_code
    from mes_pm_work_order_material_re_p mpwomrp
    LEFT JOIN ocean_v2.sys_user su ON mpwomrp.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON mpwomrp.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON mpwomrp.org_id = bo.organization_id
    LEFT JOIN base_material bm ON bm.material_id = mpwomrp.material_id
    LEFT JOIN base_material sbm ON sbm.material_id = mpwomrp.sub_material_id
    LEFT JOIN base_label_category blc ON blc.label_category_id = mpwomrp.label_category_id
    <where>
      <if test="workOrderProcessReWoId != null">
        and mpwomrp.work_order_process_re_wo_id = #{workOrderProcessReWoId}
      </if>
      <if test="scanType != null and scanType != ''">
        and mpwomrp.scan_type = #{scanType}
      </if>
      <if test="status != null">
        and mpwoprw.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(mpwomrp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by mpwomrp.create_time desc
  </select>

</mapper>
