<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmBreakBulkDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmBreakBulkDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="break_bulk_det_id" jdbcType="BIGINT" property="breakBulkDetId" />
    <result column="break_bulk_id" jdbcType="BIGINT" property="breakBulkId" />
    <result column="child_lot_no" jdbcType="VARCHAR" property="childLotNo" />
    <result column="break_bulk_qty" jdbcType="DECIMAL" property="breakBulkQty" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.pm.MesPmBreakBulkDetDto">
    <result column="work_order_id" jdbcType="VARCHAR" property="workOrderId"/>
      <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="production_quantity" jdbcType="DECIMAL" property="productionQuantity"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModuleName"/>
        <result column="material_quality" jdbcType="VARCHAR" property="materialQuality"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
  </resultMap>
  <sql id="Base_Column_List">
  pbd.break_bulk_det_id,
  pbd.break_bulk_id,
  pbd.child_lot_no,
  pbd.break_bulk_qty,
  pbd.status,
  pbd.organization_id,
  pbd.create_time,
  pbd.create_user_id,
  pbd.modified_time,
  pbd.modified_user_id,
  pbd.is_delete,
  bt.color,
spm.product_model_name,
bt.material_quality,
wo.route_id
</sql>
<select id="findList" resultMap="BaseResultMapDto" parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchMesPmBreakBulkDet">
    SELECT <include refid="Base_Column_List"/>,pb.work_order_id,wo.work_order_code,sm.material_code,sm.material_name,sm.version,sm.material_desc,wo.production_quantity,spl.pro_name,wo.work_order_status,sr.route_name,sp.process_id,sp.process_name,u.user_name as create_user_name,s.user_name as modified_user_name,bo.organization_name FROM mes_pm_break_bulk_det pbd
         left join mes_pm_break_bulk pb on  pbd.break_bulk_id = pb.break_bulk_id
         LEFT JOIN smt_work_order wo ON pb.work_order_id = wo.work_order_id
        left join fantech_imes.smt_material sm on wo.material_id=sm.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        LEFT join fantech_imes.smt_route sr on wo.route_id=sr.route_id
        LEFT join fantech_imes.smt_pro_line spl on wo.pro_line_id=spl.pro_line_id
        LEFT JOIN smt_process sp on sp.process_id = pb.process_id
        LEFT join ocean.sys_user u on pbd.create_user_id=u.user_id
        LEFT join ocean.sys_user s on pbd.modified_user_id=s.user_id
        LEFT JOIN fantech_imes.base_organization bo ON wo.organization_id = bo.organization_id
    <where>
        <if test="breakBulkId!=null and breakBulkId!=''">
            and pbd.break_bulk_id = #{breakBulkId}
        </if>
        <if test="batchNo!=null and batchNo!=''">
            and pb.batch_no = #{batchNo}
        </if>
       <if test="childLotNo!=null and childLotNo!=''">
            and pbd.child_lot_no = #{childLotNo}
       </if>
       <if test="status!=null">
         and pbd.status=#{status}
       </if>
    </where>
  </select>

  <select id="reprintDet" resultType="com.fantechs.common.base.general.dto.mes.pm.MesPmBreakBulkPrintDto">
  SELECT pbd.child_lot_no as 'batchNo',sm.material_code as 'materialCode',sm.material_name as 'materialName',sm.version,sm.material_desc as 'materialDesc',sr.route_id as 'routeId',sr.route_name as 'routeName',pb.process_id as 'processId',s.user_name as 'modifiedUserName',bt.color AS 'color',
spm.product_model_name AS 'productModelName',
bt.material_quality AS 'materialQuality '
   FROM mes_pm_break_bulk_det pbd
         left join mes_pm_break_bulk pb on  pbd.break_bulk_id = pb.break_bulk_id
         LEFT JOIN smt_work_order wo ON pb.work_order_id = wo.work_order_id
        LEFT join fantech_imes.smt_material sm on wo.material_id=sm.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        LEFT join fantech_imes.smt_route sr on wo.route_id=sr.route_id
        LEFT join ocean.sys_user s on pbd.modified_user_id=s.user_id
        <where>
        <if test="batchNo!=null and batchNo!=''">
            and pbd.child_lot_no = #{batchNo}
       </if>
</where>
</select>
</mapper>