<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmProcessPlanMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmProcessPlan">
        <result column="process_plan_id" jdbcType="BIGINT" property="processPlanId"/>
        <result column="process_plan_code" jdbcType="VARCHAR" property="processPlanCode"/>
        <result column="master_plan_id" jdbcType="BIGINT" property="masterPlanId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="is_job_scan" jdbcType="TINYINT" property="isJobScan"/>
        <result column="is_start_scan" jdbcType="TINYINT" property="isStartScan"/>
        <result column="is_quality" jdbcType="TINYINT" property="isQuality"/>
        <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty"/>
        <result column="planed_start_date" jdbcType="TIMESTAMP" property="planedStartDate"/>
        <result column="planed_end_date" jdbcType="TIMESTAMP" property="planedEndDate"/>
        <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate"/>
        <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.MesPmProcessPlanDTO"
               extends="BaseResultMap">

    </resultMap>

    <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT mppp.process_plan_id,
        mppp.process_plan_code,
        mppp.master_plan_id,
        mppp.process_id,
        mppp.is_job_scan,
        mppp.is_start_scan,
        mppp.is_quality,
        mppp.finished_qty,
        mppp.planed_start_date,
        mppp.planed_end_date,
        mppp.actual_start_date,
        mppp.actual_end_date,
        mppp.organization_id,
        mppp.remark,
        mppp.is_delete,
        mppp.create_user_id,
        mppp.create_time,
        mppp.modified_user_id,
        mppp.modified_time,
        su1.user_name AS 'createUserName',
        su2.user_name AS 'modifiedUserName',
        bo.organization_name AS 'organizationName',
        sp.process_code AS 'processCode',
        sp.process_name AS 'processName'
        FROM fantech_imes.mes_pm_process_plan AS mppp
        LEFT JOIN ocean.sys_user su1 ON su1.user_id = mppp.create_user_id
        LEFT JOIN ocean.sys_user su2 ON su2.user_id = mppp.modified_user_id
        LEFT JOIN fantech_imes.base_organization bo on bo.organization_id = mppp.organization_id
        LEFT JOIN fantech_imes.mes_pm_master_plan mpmp on mpmp.master_plan_id = mppp.master_plan_id
        LEFT JOIN fantech_imes.smt_work_order swo on swo.work_order_id = mpmp.work_order_id
        LEFT JOIN fantech_imes.smt_process sp on sp.process_id = mppp.process_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mppp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="processPlanCode!=null and processPlanCode!=''">
                and mppp.process_plan_code like CONCAT('%', #{processPlanCode}, '%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="masterPlanId!=null and masterPlanId!=''">
                and mppp.master_plan_id=#{masterPlanId}
            </if>
            and mppp.is_delete = 1
        </where>
        order by mppp.modified_time desc
    </select>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into fantech_imes.mes_pm_process_plan
        (process_plan_code,master_plan_id,process_id,planed_start_date,planed_end_date)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.processPlanCode},#{item.masterPlanId},#{item.processId},#{item.planedStartDate},#{item.planedEndDate})
        </foreach>
    </insert>

</mapper>