<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderBomMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrderBom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="work_order_bom_id" jdbcType="BIGINT" property="workOrderBomId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="part_material_id" jdbcType="BIGINT" property="partMaterialId" />
    <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="single_qty" jdbcType="DECIMAL" property="singleQty" />
    <result column="usage_qty" jdbcType="DECIMAL" property="usageQty" />
    <result column="base_qty" jdbcType="DECIMAL" property="baseQty" />
    <result column="delivered_qty" jdbcType="DECIMAL" property="deliveredQty" />
    <result column="undelivered_qty" jdbcType="DECIMAL" property="undeliveredQty" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderBomDto">
    <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
    <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
    <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime"/>
    <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
    <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
    <result column="work_order_qty" jdbcType="DECIMAL" property="workOrderQty"/>
    <result column="part_material_code" jdbcType="VARCHAR" property="partMaterialCode"/>
    <result column="part_material_name" jdbcType="VARCHAR" property="partMaterialName"/>
    <result column="part_material_desc" jdbcType="VARCHAR" property="partMaterialDesc"/>
    <result column="part_material_version" jdbcType="VARCHAR" property="partMaterialVersion"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="sub_material_code" jdbcType="VARCHAR" property="subMaterialCode"/>
    <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>
  <select id="findList" parameterType="com.fantechs.common.base.general.entity.mes.pm.search.SearchMesPmWorkOrderBom"
          resultMap="BaseResultMapDto">
    SELECT
    mpwob.work_order_bom_id,
    mpwob.work_order_id,
    mpwo.work_order_code,
    mpwo.work_order_type,
    mpwo.plan_start_time,
    mpwo.work_order_qty,
    spl.pro_line_id,
    spl.pro_name,
    mpwob.part_material_id,
    bm.material_code AS part_material_code,
    bm.material_name AS part_material_name,
    bm.material_version AS part_material_version,
    bm.material_desc AS part_material_desc,
    pm.material_code,
    pm.material_name,
    pm.material_version,
    pm.material_desc,
    mpwob.sub_material_id,
    bml.material_code AS sub_material_code,
    mpwob.process_id,
    bp.process_name,
    mpwob.single_qty,
    mpwob.usage_qty,
    mpwob.base_qty,
    mpwob.position,
    mpwob.create_user_id,
    u.user_name AS create_user_name,
    mpwob.create_time,
    mpwob.modified_user_id,
    s.user_name AS modified_user_name,
    mpwob.modified_time,
    mpwob.is_delete,
    mpwob.org_id,
    mpwob.remark,
    bo.organization_name,
    mpwob.option1
    FROM
    mes_pm_work_order_bom mpwob
    LEFT JOIN mes_pm_work_order mpwo ON mpwob.work_order_id = mpwo.work_order_id
    LEFT JOIN base_material pm ON mpwo.material_id = pm.material_id
    left join base_pro_line spl on mpwo.pro_line_id=spl.pro_line_id
    LEFT JOIN base_material bm ON mpwob.part_material_id = bm.material_id
    LEFT JOIN base_material bml ON mpwob.sub_material_id = bml.material_id
    LEFT JOIN base_process bp ON mpwob.process_id = bp.process_id
    LEFT JOIN sys_user u ON mpwob.create_user_id = u.user_id
    LEFT JOIN sys_user s ON mpwob.modified_user_id = s.user_id
    LEFT JOIN base_organization bo ON mpwob.org_id = bo.organization_id
    <where>
      mpwob.single_qty > 0
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(mpwob.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="workOrderId!=null and workOrderId!=''">
        and mpwob.work_order_id=#{workOrderId}
      </if>
      <if test="partMaterialId!=null and partMaterialId!=''">
        and mpwob.part_material_id=#{partMaterialId}
      </if>
      <if test="processId!=null and processId!=''">
        and mpwob.process_id=#{processId}
      </if>
      <if test="partMaterialCode!=null and partMaterialCode!=''">
        and bm.material_code like CONCAT('%', #{partMaterialCode}, '%')
      </if>
      <if test="partMaterialDesc!=null and partMaterialDesc!=''">
        and bm.material_desc like CONCAT('%', #{partMaterialDesc}, '%')
      </if>
      <if test="option1!=null and option1!=''">
        and mpwob.option1=#{option1}
      </if>
    </where>
    order by mpwob.create_time desc
  </select>

</mapper>
