<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmMasterPlanMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmMasterPlan">
        <result column="master_plan_id" jdbcType="BIGINT" property="masterPlanId"/>
        <result column="master_plan_code" jdbcType="VARCHAR" property="masterPlanCode"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="product_qty" jdbcType="DECIMAL" property="productQty"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="scheduled_qty" jdbcType="DECIMAL" property="scheduledQty"/>
        <result column="no_schedule_qty" jdbcType="DECIMAL" property="noScheduleQty"/>
        <result column="turn_card_qty" jdbcType="DECIMAL" property="turnCardQty"/>
        <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty"/>
        <result column="planed_start_date" jdbcType="TIMESTAMP" property="planedStartDate"/>
        <result column="planed_end_date" jdbcType="TIMESTAMP" property="planedEndDate"/>
        <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate"/>
        <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate"/>
        <result column="turn_process_list" jdbcType="TINYINT" property="turnProcessList"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.MesPmMasterPlanDTO"
               extends="BaseResultMap">

    </resultMap>

    <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT
        mpmp.master_plan_id,
        mpmp.master_plan_code,
        mpmp.work_order_id,
        mpmp.pro_line_id,
        mpmp.work_order_quantity,
        mpmp.product_qty,
        mpmp.scheduled_qty,
        mpmp.no_schedule_qty,
        mpmp.turn_card_qty,
        mpmp.finished_qty,
        mpmp.planed_start_date,
        mpmp.planed_end_date,
        mpmp.actual_start_date,
        mpmp.actual_end_date,
        mpmp.organization_id,
        mpmp.remark,
        mpmp.turn_process_list,
        mpmp.is_delete,
        mpmp.create_user_id,
        mpmp.create_time,
        mpmp.modified_user_id,
        mpmp.modified_time,
        su1.user_name AS 'createUserName',
        su2.user_name AS 'modifiedUserName',
        bo.organization_name AS 'organizationName',
        swo.work_order_code AS 'workOrderCode',
        swo.work_order_quantity AS 'workOrderQuantity',
        swo.work_order_status AS 'workOrderStatus',
        swo.route_id AS 'routeId',
        sm.material_name AS 'materialName',
        sm.material_code AS 'materialCode',
        spm.product_model_name AS 'productModelName',
        sps.package_specification_name AS 'packageSpecificationName',
        bt.color AS 'color',
        spl.pro_name AS 'proName'
        FROM
        fantech_imes.mes_pm_master_plan AS mpmp
        LEFT JOIN fantech_imes.smt_work_order swo ON swo.work_order_id = mpmp.work_order_id
        LEFT JOIN fantech_imes.smt_pro_line spl ON spl.pro_line_id = mpmp.pro_line_id
        LEFT JOIN fantech_imes.smt_material sm ON sm.material_id = swo.material_id
        LEFT JOIN fantech_imes.base_tab bt ON bt.material_id = sm.material_id
        LEFT JOIN fantech_imes.smt_product_model spm ON spm.product_model_id = bt.product_model_id
        LEFT JOIN fantech_imes.smt_package_specification sps ON sps.package_specification_id = bt.package_specification_id
        LEFT JOIN ocean.sys_user su1 ON su1.user_id = mpmp.create_user_id
        LEFT JOIN ocean.sys_user su2 ON su2.user_id = mpmp.modified_user_id
        LEFT JOIN fantech_imes.base_organization bo on bo.organization_id = mpmp.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mpmp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="masterPlanCode!=null and masterPlanCode!=''">
                and mpmp.master_plan_code like CONCAT('%', #{masterPlanCode}, '%')
            </if>
            <if test="workOrderId!=null">
                and mpmp.work_order_id=#{workOrderId}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="planedStartDate!=null">
                and date_format(mpmp.planed_start_date, '%Y-%m-%d') = date_format(#{planedStartDate}, '%Y-%m-%d')
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and spl.pro_line_id=#{proLineId}
            </if>
            <if test="workOrderStatus!=null">
                and swo.work_order_status=#{workOrderStatus}
            </if>
            and mpmp.is_delete = 1
        </where>
        order by mpmp.modified_time desc
    </select>
</mapper>