<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmHtWorkOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.history.MesPmHtWorkOrder">
        <id column="ht_work_order_id" jdbcType="BIGINT" property="htWorkOrderId" />
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="sales_order_id" jdbcType="BIGINT" property="salesOrderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="work_order_qty" jdbcType="DECIMAL" property="workOrderQty" />
        <result column="production_qty" jdbcType="DECIMAL" property="productionQty" />
        <result column="output_qty" jdbcType="DECIMAL" property="outputQty" />
        <result column="scheduled_qty" jdbcType="DECIMAL" property="scheduledQty" />
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus" />
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId" />
        <result column="route_id" jdbcType="BIGINT" property="routeId" />
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId" />
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType" />
        <result column="schedule_date" jdbcType="TIMESTAMP" property="scheduleDate" />
        <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime" />
        <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime" />
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
        <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />

        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    </resultMap>


    <select id="findList" parameterType="com.fantechs.common.base.general.entity.mes.pm.search.SearchMesPmWorkOrder"
            resultMap="BaseResultMap">
        SELECT
        mphwo.work_order_id,
        mphwo.work_order_code,
        mphwo.parent_id,
        mphwo.sales_order_id,
        mphwo.material_id,
        mphwo.work_order_qty,
        mphwo.production_qty,
        mphwo.output_qty,
        mphwo.scheduled_qty,
        mphwo.work_order_status,
        mphwo.pro_line_id,
        mphwo.barcode_rule_set_id,
        mphwo.route_id,
        mphwo.work_order_type,
        mphwo.schedule_date,
        mphwo.plan_start_time,
        mphwo.plan_end_time,
        mphwo.actual_start_time,
        mphwo.actual_end_time,
        mphwo.create_user_id,
        mphwo.create_time,
        mphwo.modified_user_id,
        mphwo.modified_time,
        mphwo.is_delete,
        mphwo.org_id,
        mphwo.put_into_process_id,
        mphwo.output_process_id,
        mphwo.scrap_qty,
        mphwo.inventory_qty,
        mphwo.remark,
        mphwo.contract_no,
        sm.material_code,
        sm.material_name,
        sm.material_version,
        sm.material_desc,
        bt.main_unit,
        bt.transfer_quantity AS 'transferQuantity',
        spl.pro_code,
        spl.pro_name,
        sr.route_name ,
        sr.route_code,
        sbrs.barcode_rule_set_name AS 'barcodeRuleSetName',
        u.user_name AS 'create_user_name',
        s.user_name AS 'modified_user_name',
        bo.organization_name AS 'organizationName',
        bt.color AS 'color',
        spm.product_model_name,
        sps.package_specification_quantity AS 'packageSpecificationQuantity',
        putbp.process_name AS 'putIntoProcessName',
        outbp.process_name AS 'outputProcessName',
        oso.sales_order_code AS 'salesOrderCode'
        FROM
        mes_pm_ht_work_order mphwo
        left join base_material sm on mphwo.material_id=sm.material_id
        LEFT JOIN base_material_tab bt on bt.material_id = sm.material_id
        left join base_package_specification sps on sps.package_specification_id = bt.package_specification_id
        left join base_product_model spm on spm.product_model_id = bt.product_model_id
        left join base_route sr on mphwo.route_id=sr.route_id
        left join base_pro_line spl on mphwo.pro_line_id=spl.pro_line_id
        left join base_barcode_rule_set sbrs on mphwo.barcode_rule_set_id=sbrs.barcode_rule_set_id
        left join ocean_v2.sys_user u on mphwo.create_user_id=u.user_id
        left join ocean_v2.sys_user s on mphwo.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON mphwo.org_id = bo.organization_id
        left join base_process putbp ON putbp.process_id = mphwo.put_into_process_id
        left join base_process outbp ON outbp.process_id = mphwo.output_process_id
        left join om_sales_order oso ON oso.sales_order_id = mphwo.sales_order_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mphwo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!='' and codeQueryMark != 1">
                and mphwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!='' and codeQueryMark == 1">
                and mphwo.work_order_code = #{workOrderCode}
            </if>
            <if test="workOrderId!=null">
                and mphwo.work_order_id =#{workOrderId}
            </if>
            <if test="parentId!=null">
                and mphwo.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and mphwo.material_id=#{materialId}
            </if>
            <if test="workOrderStatus!=null and (workOrderStatusList == null or workOrderStatusList.size() = 0)">
                and mphwo.work_order_status =#{workOrderStatus}
            </if>
            <if test="workOrderStatusList != null and workOrderStatusList.size() > 0">
                and mphwo.work_order_status
                <foreach collection="workOrderStatusList" open="in (" close=")" item="item" separator="," index="index">
                    #{item}
                </foreach>
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            and mphwo.is_delete = 1
        </where>
        order by mphwo.modified_time desc
    </select>
</mapper>
