<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmExplainPlanMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmExplainPlan">
        <result column="explain_plan_id" jdbcType="BIGINT" property="explainPlanId"/>
        <result column="explain_plan_code" jdbcType="VARCHAR" property="explainPlanCode"/>
        <result column="master_plan_id" jdbcType="BIGINT" property="masterPlanId"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="product_qty" jdbcType="DECIMAL" property="productQty"/>
        <result column="scheduled_qty" jdbcType="DECIMAL" property="scheduledQty"/>
        <result column="no_schedule_qty" jdbcType="DECIMAL" property="noScheduleQty"/>
        <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty"/>
        <result column="planed_start_date" jdbcType="TIMESTAMP" property="planedStartDate"/>
        <result column="planed_end_date" jdbcType="TIMESTAMP" property="planedEndDate"/>
        <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate"/>
        <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.MesPmExplainPlanDTO"
               extends="BaseResultMap">

    </resultMap>

    <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT
        mpep.explain_plan_id,
        mpep.explain_plan_code,
        mpep.master_plan_id,
        mpep.work_order_id,
        mpep.pro_line_id,
        mpep.work_order_quantity,
        mpep.product_qty,
        mpep.scheduled_qty,
        mpep.no_schedule_qty,
        mpep.finished_qty,
        mpep.planed_start_date,
        mpep.planed_end_date,
        mpep.actual_start_date,
        mpep.actual_end_date,
        mpep.organization_id,
        mpep.remark,
        mpep.is_delete,
        mpep.create_user_id,
        mpep.create_time,
        mpep.modified_user_id,
        mpep.modified_time,
        su1.user_name AS 'createUserName',
        su2.user_name AS 'modifiedUserName',
        bo.organization_name AS 'organizationName',
        swo.work_order_code AS 'workOrderCode',
        sm.material_code AS 'materialCode',
        sm.material_name AS 'materialName',
        spm.product_model_name AS 'productModelName',
        sps.package_specification_name AS 'packageSpecificationName',
        bt.color AS 'color',
        spl.pro_name AS 'proName'
        FROM
        mes_pm_explain_plan AS mpep
        LEFT JOIN smt_work_order swo ON swo.work_order_id = mpep.work_order_id
        LEFT JOIN smt_pro_line spl ON spl.pro_line_id = mpep.pro_line_id
        LEFT JOIN smt_material sm ON sm.material_id = swo.material_id
        LEFT JOIN base_tab bt ON bt.material_id = sm.material_id
        LEFT JOIN smt_product_model spm ON spm.product_model_id = bt.product_model_id
        LEFT JOIN smt_package_specification sps ON sps.package_specification_id = bt.package_specification_id
        LEFT JOIN ocean.sys_user su1 ON su1.user_id = mpep.create_user_id
        LEFT JOIN ocean.sys_user su2 ON su2.user_id = mpep.modified_user_id
        LEFT JOIN base_organization bo on bo.organization_id = mpep.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mpep.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="explainPlanCode!=null and explainPlanCode!=''">
                and mpep.explain_plan_code like CONCAT('%', #{explainPlanCode}, '%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="planedStartDate!=null and planedStartDate!=''">
                and date_format(mpep.planed_start_date, '%Y-%m-%d') = #{planedStartDate}
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and spl.pro_line_id=#{proLineId}
            </if>
            <if test="workOrderStatus!=null and workOrderStatus!=''">
                and swo.work_order_status=#{workOrderStatus}
            </if>
            <if test="masterPlanId!=null">
                and mpep.master_plan_id=#{masterPlanId}
            </if>
            and mpep.is_delete = 1
        </where>
        order by mpep.modified_time desc
    </select>

</mapper>