<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderProcessReWoMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrderProcessReWo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="work_order_process_re_wo_id" jdbcType="BIGINT" property="workOrderProcessReWoId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderMaterialRePDto"
                column="{workOrderProcessReWoId=work_order_process_re_wo_id}" select="com.fantechs.provider.mes.pm.mapper.MesPmWorkOrderMaterialRePMapper.findList">

    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderProcessReWoDto">
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
    <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    <result column="process_desc" jdbcType="VARCHAR" property="processDesc"/>
    <result column="section_name" jdbcType="VARCHAR" property="sectionName"/>
    <result column="process_category_name" jdbcType="VARCHAR" property="processCategoryName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    mpwoprw.work_order_process_re_wo_id,
    mpwoprw.work_order_id,
    mpwoprw.process_id,
    mpwoprw.status,
    mpwoprw.remark, mpwoprw.org_id, mpwoprw.create_user_id, mpwoprw.create_time, mpwoprw.modified_user_id,
    mpwoprw.modified_time, mpwoprw.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name as create_user_name,sus.user_name as modified_user_name,bo.organization_name,
    bp.process_code,bp.process_name,bp.process_desc,bws.section_name,bpc.process_category_name,mpwo.work_order_code,
    bm.material_code,bm.material_desc,bm.material_version
    from mes_pm_work_order_process_re_wo mpwoprw
    LEFT JOIN ocean_v2.sys_user su ON mpwoprw.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON mpwoprw.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON mpwoprw.org_id = bo.organization_id
    LEFT JOIN mes_pm_work_order mpwo ON mpwoprw.work_order_id = mpwo.work_order_id
    LEFT JOIN base_material bm ON mpwo.material_id = bm.material_id
    LEFT JOIN base_process bp ON bp.process_id = mpwoprw.process_id
    LEFT JOIN base_workshop_section bws ON bws.section_id = bp.section_id
    LEFT JOIN base_process_category bpc ON bpc.process_category_id = bp.process_category_id
    <where>
      <if test="workOrderId != null">
        and mpwoprw.work_order_id = #{workOrderId}
      </if>
      <if test="workOrderCode != null and workOrderCode != ''">
        and mpwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
      </if>
      <if test="materialCode != null and materialCode != ''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialId != null">
        and bm.material_id like CONCAT('%', #{materialId}, '%')
      </if>
      <if test="materialDesc != null and materialDesc != ''">
        and bm.material_desc like CONCAT('%', #{materialDesc}, '%')
      </if>
      <if test="processId != null">
        and bp.process_id = #{processId}
      </if>
      <if test="status != null">
        and mpwoprw.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(mpwoprw.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by mpwoprw.create_time desc
  </select>


</mapper>
