<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmExplainProcessPlanMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmExplainProcessPlan">
        <result column="explain_process_plan_id" jdbcType="BIGINT" property="explainProcessPlanId"/>
        <result column="explain_process_plan_code" jdbcType="VARCHAR" property="explainProcessPlanCode"/>
        <result column="explain_plan_id" jdbcType="BIGINT" property="explainPlanId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="is_job_scan" jdbcType="TINYINT" property="isJobScan"/>
        <result column="is_start_scan" jdbcType="TINYINT" property="isStartScan"/>
        <result column="is_quality" jdbcType="TINYINT" property="isQuality"/>
        <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty"/>
        <result column="planed_start_date" jdbcType="TIMESTAMP" property="planedStartDate"/>
        <result column="planed_end_date" jdbcType="TIMESTAMP" property="planedEndDate"/>
        <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate"/>
        <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.MesPmExplainProcessPlanDTO"
               extends="BaseResultMap">

    </resultMap>

    <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT
        mpepp.explain_process_plan_id,
        mpepp.explain_process_plan_code,
        mpepp.explain_plan_id,
        mpepp.process_id,
        mpepp.is_job_scan,
        mpepp.is_start_scan,
        mpepp.is_quality,
        mpepp.finished_qty,
        mpepp.planed_start_date,
        mpepp.planed_end_date,
        mpepp.actual_start_date,
        mpepp.actual_end_date,
        mpepp.organization_id,
        mpepp.remark,
        mpepp.is_delete,
        mpepp.create_user_id,
        mpepp.create_time,
        mpepp.modified_user_id,
        mpepp.modified_time,
        su1.user_name AS 'createUserName',
        su2.user_name AS 'modifiedUserName',
        bo.organization_name AS 'organizationName',
        sp.process_code AS 'processCode',
        sp.process_name AS 'processName'
        FROM fantech_imes_v2.mes_pm_explain_process_plan AS mpepp
        LEFT JOIN ocean_v2.sys_user su1 ON su1.user_id = mpepp.create_user_id
        LEFT JOIN ocean_v2.sys_user su2 ON su2.user_id = mpepp.modified_user_id
        LEFT JOIN fantech_imes_v2.base_organization bo on bo.organization_id = mpepp.organization_id
        LEFT JOIN fantech_imes_v2.mes_pm_explain_plan mpep on mpep.explain_plan_id = mpepp.explain_plan_id
        LEFT JOIN fantech_imes_v2.smt_work_order swo on swo.work_order_id = mpep.work_order_id
        LEFT JOIN fantech_imes_v2.smt_process sp on sp.process_id = mpepp.process_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mpepp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="explainProcessPlanCode!=null and explainProcessPlanCode!=''">
                and mpepp.explain_process_plan_code like CONCAT('%', #{explainProcessPlanCode}, '%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="explainPlanId!=null">
                and mpepp.explain_plan_id=#{explainPlanId}
            </if>
            <if test="processId!=null">
                and mpepp.process_id=#{processId}
            </if>
            <if test="workOrderId!=null">
                and swo.work_order_id=#{workOrderId}
            </if>
            and mpepp.is_delete = 1
        </where>
        order by mpepp.modified_time desc
    </select>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into fantech_imes_v2.mes_pm_explain_process_plan
        (explain_process_plan_code,explain_plan_id,process_id,planed_start_date,planed_end_date)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.explainProcessPlanCode},#{item.explainPlanId},#{item.processId},#{item.planedStartDate},#{item.planedEndDate})
        </foreach>
    </insert>
</mapper>