<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesProcessReportWorkMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesProcessReportWork">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="process_report_work_id" jdbcType="BIGINT" property="processReportWorkId"/>
        <result column="process_report_work_code" jdbcType="VARCHAR" property="processReportWorkCode"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="staff_id" jdbcType="BIGINT" property="staffId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.mes.pm.MesProcessReportWorkDto">
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="main_unit" jdbcType="VARCHAR" property="mainUnit"/>
        <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="team_code" jdbcType="VARCHAR" property="teamCode"/>
        <result column="team_name" jdbcType="VARCHAR" property="teamName"/>
        <result column="staff_code" jdbcType="VARCHAR" property="staffCode"/>
        <result column="staff_name" jdbcType="VARCHAR" property="staffName"/>
        <result column="total_quantity" jdbcType="DECIMAL" property="totalQuantity"/>
    </resultMap>

    <sql id="Base_Column_List">
        mprw.process_report_work_id, mprw.process_report_work_code, mprw.work_order_id, mprw.process_id, mprw.team_id, mprw.staff_id, mprw.status,
        mprw.quantity, mprw.start_time, mprw.end_time, mprw.remark, mprw.organization_id, mprw.create_user_id, mprw.create_time, mprw.modified_user_id,
        mprw.modified_time, mprw.is_delete
    </sql>

    <select id="findList" parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchMesProcessReportWork" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"></include>,
        swo.work_order_code,
        sm.material_code,
        spm.product_model_name,
        btb.main_unit,
        sp.process_code,sp.process_name,
        btm.team_code, btm.team_name,
        bs.staff_code, bs.staff_name,
        sum(mprw.quantity) as total_quantity
        from mes_process_report_work mprw
        LEFT JOIN smt_work_order swo ON mprw.work_order_id = swo.work_order_id
        LEFT JOIN smt_material sm ON swo.material_id = sm.material_id
        LEFT JOIN base_tab btb ON sm.material_id = btb.material_id
        LEFT JOIN smt_product_model spm ON btb.product_model_id = spm.product_model_id
        LEFT JOIN smt_process sp ON mprw.process_id = sp.process_id
        LEFT JOIN base_team btm ON mprw.team_id = btm.team_id
        LEFT JOIN base_staff bs ON mprw.staff_id = bs.staff_id
        <where>
            mprw.is_delete = 1
            <if test="workOrderId != null">
                and swo.work_order_id = #{workOrderId}
            </if>
            <if test="workOrderCode != null and workOrderCode != ''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="process_id != null">
                and sp.process_id = #{process_id}
            </if>
            <if test="process_code != null and process_code != ''">
                and sp.process_code like CONCAT('%', #{process_code}, '%')
            </if>
        </where>
    </select>
</mapper>