<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.MesPmDailyPlanMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.MesPmDailyPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="daily_plan_id" jdbcType="BIGINT" property="dailyPlanId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="seq_num" jdbcType="VARCHAR" property="seqNum" />
    <result column="schedule_qty" jdbcType="DECIMAL" property="scheduledQty" />
    <result column="finished_qty" jdbcType="DECIMAL" property="finishedQty" />
    <result column="plan_time" jdbcType="TIMESTAMP" property="planTime" />
    <result column="if_order_inserting" jdbcType="TINYINT" property="ifOrderInserting" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    mpdp.daily_plan_id,
    mpdp.seq_num,
    mpdp.work_order_id,
    mpdp.schedule_qty,
    mpdp.finished_qty,
    mpdp.plan_time,
    mpdp.if_order_inserting,
    mpdp.status,
    mpdp.remark,
    mpdp.org_id,
    mpdp.create_user_id,
    mpdp.create_time,
    mpdp.modified_user_id,
    mpdp.modified_time,
    mpdp.option1,
    mpdp.option2,
    mpdp.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.pm.MesPmDailyPlanDto">
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="work_order_qty" jdbcType="VARCHAR" property="workOrderQty"/>
    <result column="no_schedule_qty" jdbcType="VARCHAR" property="noScheduleQty"/>
    <result column="production_qty" jdbcType="VARCHAR" property="productionQty"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <select id="findList" parameterType="com.fantechs.common.base.general.entity.mes.pm.search.SearchMesPmDailyPlan"
          resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    mpwo.material_id,mpwo.work_order_qty AS work_order_qty,mpwo.production_qty as production_qty,mpwo.work_order_status,
    mpwo.pro_line_id,bpl.pro_name AS proName,mpwo.scheduled_qty as workOrderScheduledQty,mpwo.output_qty as workOrderFinishedQty,
    date_format(mpdp.plan_time, '%Y-%m-%d') AS planDate,mpwo.work_order_code as work_order_code,
    bpl.pro_name as pro_name,bm.material_name as material_name,bm.material_code as material_code,bm.material_desc as material_desc,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from mes_pm_daily_plan mpdp
    LEFT JOIN mes_pm_work_order mpwo ON mpdp.work_order_id = mpwo.work_order_id
    LEFT JOIN base_pro_line bpl ON  mpwo.pro_line_id =bpl.pro_line_id
    LEFT JOIN base_material bm ON  mpwo.material_id = bm.material_id
    LEFT JOIN ocean_v2.sys_user u ON mpdp.create_user_id=u.user_id
    LEFT JOIN ocean_v2.sys_user s ON mpdp.modified_user_id=s.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON mpdp.org_id = bo.organization_id
    <where>
      <if test="dailyPlanId!=null and dailyPlanId!=''">
        and mpdp.daily_plan_id = #{dailyPlanId}
      </if>
      <if test="workOrderId!=null and workOrderId!=''">
        and mpdp.work_order_id = #{workOrderId}
      </if>
      <if test="materialId!=null and materialId!=''">
        and mpwo.material_id = #{materialId}
      </if>
      <if test="proLineId!=null and proLineId!=''">
        and mpwo.pro_line_id = #{proLineId}
      </if>
      <if test="workOrderCode!=null and workOrderCode!=''">
        and mpwo.work_order_code = #{workOrderCode}
      </if>
      <if test="workOrderStatus!=null and workOrderStatus!=''">
        and mpwo.work_order_status = #{workOrderStatus}
      </if>
      <if test="status!=null">
        and mpdp.status = #{status}
      </if>
      <if test="ifOrderInserting!=null">
        and mpdp.if_order_inserting = #{ifOrderInserting}
      </if>
      <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
        and date_format(mpdp.plan_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by mpdp.seq_num asc
  </select>



</mapper>