<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.SmtProcessListProcessMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.SmtProcessListProcess">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="process_list_process_id" jdbcType="BIGINT" property="processListProcessId"/>
        <result column="process_list_process_code" jdbcType="VARCHAR" property="processListProcessCode"/>
        <result column="work_order_card_pool_id" jdbcType="BIGINT" property="workOrderCardPoolId"/>
        <result column="work_order_barcode_pool_id" jdbcType="BIGINT" property="workOrderBarcodePoolId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="process_type" jdbcType="TINYINT" property="processType"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_hold" jdbcType="TINYINT" property="isHold"/>
        <result column="inbound_time" jdbcType="TIMESTAMP" property="inboundTime"/>
        <result column="outbound_time" jdbcType="TIMESTAMP" property="outboundTime"/>
        <result column="output_quantity" jdbcType="DECIMAL" property="outputQuantity"/>
        <result column="cur_output_qty" jdbcType="DECIMAL" property="curOutputQty"/>
        <result column="package_num" jdbcType="VARCHAR" property="packageNum"/>
        <result column="box_num" jdbcType="VARCHAR" property="boxNum"/>
        <result column="filament_plate_num" jdbcType="VARCHAR" property="filamentPlateNum"/>
        <result column="selective" jdbcType="VARCHAR" property="selective"/>
        <result column="selective_result" jdbcType="VARCHAR" property="selectiveResult"/>
        <result column="rework_id" jdbcType="BIGINT" property="reworkId"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.mes.pm.SmtProcessListProcessDto"
               extends="BaseResultMap">

    </resultMap>
    <resultMap id="SmtRouteProcess" type="com.fantechs.common.base.entity.basic.SmtRouteProcess">
        <id column="route_process_id" jdbcType="BIGINT" property="routeProcessId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="next_process_id" jdbcType="BIGINT" property="nextProcessId"/>
        <result column="previous_process_id" jdbcType="BIGINT" property="previousProcessId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="is_must_pass" jdbcType="TINYINT" property="isMustPass"/>
        <result column="inspection_time" jdbcType="INTEGER" property="inspectionTime"/>
        <result column="qualification_id" jdbcType="BIGINT" property="qualificationId"/>
    </resultMap>

    <resultMap id="ProcessListMapDto" type="com.fantechs.common.base.general.dto.mes.pm.ProcessListDto">
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="next_process_id" jdbcType="BIGINT" property="nextProcessId"/>
        <result column="previous_process_id" jdbcType="BIGINT" property="previousProcessId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="is_must_pass" jdbcType="TINYINT" property="isMustPass"/>
        <result column="inspection_time" jdbcType="INTEGER" property="inspectionTime"/>
        <result column="qualification_id" jdbcType="BIGINT" property="qualificationId"/>
    </resultMap>
    <select id="findList" resultMap="BaseResultMapDto"
            parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchSmtProcessListProcess">
        SELECT
        wo.work_order_code AS 'workOrderCode',
        wo.production_quantity AS 'productionQuantity',
        wo.work_order_quantity AS 'workOrderQuantity',
        swocp.task_code AS 'taskCode',
        swobp.task_code AS 'barcodeTaskCode',
        swocp.work_order_card_id AS 'workOrderCardId',
        wo.material_id AS 'materialId',
        sm.material_code AS 'materialCode',
        sm.material_name AS 'materialName',
        sm.version AS 'version',
        wo.route_id AS 'routeId',
        sr.route_name AS 'routeName',
        sml.pro_name AS 'proName',
        splp.process_list_process_id,
        splp.process_list_process_code,
        splp.work_order_card_pool_id,
        splp.work_order_barcode_pool_id,
        splp.process_id,
        splp.process_type,
        splp.STATUS,
        splp.remark,
        splp.organization_id,
        splp.is_hold,
        splp.inbound_time,
        splp.outbound_time,
        splp.output_quantity,
        splp.cur_output_qty,
        splp.package_num,
        splp.box_num,
        splp.filament_plate_num,
        splp.selective,
        splp.selective_result,
        splp.rework_id,
        splp.operator,
        splp.create_user_id,
        splp.create_time,
        splp.modified_user_id,
        splp.modified_time,
        splp.is_delete,
        splp.option1,
        splp.option2,
        splp.option3,
        sp.process_name AS 'processName',
        sm.material_desc AS 'materialDesc',
        su1.user_name AS 'createUserName',
        su2.user_name AS 'modifiedUserName'
        FROM
        fantech_imes.smt_process_list_process splp
        LEFT JOIN fantech_imes.smt_work_order_card_pool swocp ON swocp.work_order_card_pool_id = splp.work_order_card_pool_id
        LEFT JOIN fantech_imes.smt_work_order_barcode_pool swobp ON swobp.work_order_barcode_pool_id = splp.work_order_barcode_pool_id
        LEFT JOIN fantech_imes.smt_work_order wo ON wo.work_order_id = swocp.work_order_id
        LEFT JOIN fantech_imes.smt_material sm ON sm.material_id = wo.material_id
        LEFT JOIN fantech_imes.base_tab bt ON bt.material_id = sm.material_id
        LEFT JOIN fantech_imes.smt_route sr ON wo.route_id = sr.route_id
        LEFT JOIN fantech_imes.smt_order so ON wo.order_id = so.order_id
        LEFT JOIN fantech_imes.smt_station ss ON ss.process_id = splp.process_id
        LEFT JOIN fantech_imes.smt_pro_line sml ON wo.pro_line_id = sml.pro_line_id
        LEFT JOIN fantech_imes.smt_process sp ON sp.process_id = splp.process_id
        LEFT JOIN fantech_imes.base_organization bo ON splp.organization_id = bo.organization_id
        LEFT JOIN ocean.sys_user su1 ON su1.user_id = splp.create_user_id
        LEFT JOIN ocean.sys_user su2 ON su2.user_id = splp.modified_user_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(splp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and wo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="workOrderCardId!=null and workOrderCardId!=''">
                and swocp.work_order_card_id like CONCAT('%', #{workOrderCardId}, '%')
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and sml.pro_line_id=#{proLineId}
            </if>
            <if test="workOrderCardPoolId!=null and workOrderCardPoolId!=''">
                and splp.work_order_card_pool_id=#{workOrderCardPoolId}
            </if>
            <if test="processListProcessCode!=null and processListProcessCode!=''">
                and splp.process_list_process_code=#{processListProcessCode}
            </if>
            <if test="processId!=null and processId!=''">
                and splp.process_id=#{processId}
            </if>
            <if test="processType!=null and processType!=''">
                and splp.process_type=#{processType}
            </if>
            <if test="status!=null">
                and splp.status=#{status}
            </if>
            and splp.is_delete = 1
        </where>
        order by splp.modified_time desc
    </select>

    <select id="select_smt_route_process" resultMap="SmtRouteProcess"
            parameterType="com.fantechs.common.base.entity.basic.SmtRouteProcess">
        select
        route_process_id,route_id,section_id,process_id,next_process_id,previous_process_id,order_num,is_pass,is_must_pass,inspection_time,qualification_id
        from fantech_imes.smt_route_process
        <where>
            route_id = #{routdId}
        </where>
    </select>


    <select id="findProcess" parameterType="Long" resultMap="ProcessListMapDto">
        SELECT wo.work_order_id,
               wo.route_id,
               rp.section_id,
               rp.process_id,
               rp.next_process_id,
               rp.previous_process_id,
               rp.order_num,
               rp.is_pass,
               rp.is_must_pass,
               rp.inspection_time,
               rp.qualification_id
        FROM fantech_imes.smt_work_order wo
                 LEFT JOIN smt_route_process rp ON wo.route_id = rp.route_id
        where wo.work_order_id = #{workOrderId}
    </select>
    <select id="findSmtProcess" resultType="com.fantechs.common.base.entity.basic.SmtProcess">
        SELECT
            sp.is_job_scan AS 'isJobScan',
            sp.is_start_scan AS 'isStartScan',
            sp.is_quality AS 'isQuality'
        FROM
            smt_process AS sp
        where sp.process_id = #{id}
    </select>
    <select id="findMinOutPut" parameterType="long">
        SELECT
            min( splp.output_quantity )
        FROM
            smt_process_list_process splp
        WHERE
            splp.work_order_card_pool_id = #{workOrderCardPoolId}
          AND splp.process_type = 2
          AND splp.STATUS =2
    </select>
</mapper>