<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.SmtWorkOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.SmtWorkOrder">
        <id column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="DECIMAL" property="productionQuantity"/>
        <result column="output_quantity" jdbcType="DECIMAL" property="outputQuantity"/>
        <result column="scheduled_quantity" jdbcType="DECIMAL" property="scheduledQuantity"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="schedule_date" jdbcType="TIMESTAMP" property="scheduleDate"/>
        <result column="planned_start_time" jdbcType="TIMESTAMP" property="plannedStartTime"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.mes.pm.SmtWorkOrderDto">

    </resultMap>

    <resultMap id="BomResultMap" type="com.fantechs.common.base.entity.basic.SmtProductBomDet">
        <result column="product_bom_det_id" jdbcType="BIGINT" property="productBomDetId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="part_material_id" jdbcType="BIGINT" property="partMaterialId"/>
        <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="base_quantity" jdbcType="DECIMAL" property="baseQuantity"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="RouteResultMapDto" type="com.fantechs.common.base.entity.basic.SmtRouteProcess">
        <result column="route_process_id" jdbcType="BIGINT" property="routeProcessId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="next_process_id" jdbcType="BIGINT" property="nextProcessId"/>
        <result column="previous_process_id" jdbcType="BIGINT" property="previousProcessId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="is_must_pass" jdbcType="TINYINT" property="isMustPass"/>
        <result column="inspection_time" jdbcType="INTEGER" property="inspectionTime"/>
        <result column="qualification_id" jdbcType="BIGINT" property="qualificationId"/>

        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchSmtWorkOrder"
            resultMap="BaseResultMapDto">
        SELECT
        swo.work_order_id,
        swo.work_order_code,
        swo.parent_id,
        swo.order_id,
        swo.material_id,
        swo.work_order_quantity,
        swo.production_quantity,
        swo.output_quantity,
        swo.scheduled_quantity,
        swo.work_order_status,
        swo.pro_line_id,
        swo.barcode_rule_set_id,
        swo.route_id,
        swo.work_order_type,
        swo.schedule_date,
        swo.planned_start_time,
        swo.planned_end_time,
        swo.actual_start_time,
        swo.actual_end_time,
        swo.create_user_id,
        swo.create_time,
        swo.modified_user_id,
        swo.modified_time,
        swo.is_delete,
        swo.organization_id,
        swo.remark,
        swo.contract_no,
        sm.material_code AS 'materialCode',
        sm.material_name AS 'materialName',
        sm.version AS 'version',
        sm.material_desc AS 'materialDesc',
        bt.main_unit AS 'mainUnit',
        bt.transfer_quantity AS 'transferQuantity',
        spl.pro_name AS 'proName',
        sr.route_name AS 'routeName',
        sbrs.barcode_rule_set_name AS 'barcodeRuleSetName',
        u.user_name AS 'createUserName',
        s.user_name AS 'modifiedUserName',
        so.order_code AS 'orderCode',
        bo.organization_name AS 'organizationName',
        bt.color AS 'color',
        spm.product_model_name AS 'productModelName',
        bt.material_quality AS 'materialQuality',
        swo1.work_order_code AS 'parentWorkOrderCode'
        FROM
        smt_work_order swo
        left join smt_work_order swo1 on swo1.work_order_id = swo.parent_id
        left join smt_material sm on swo.material_id=sm.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        left join smt_route sr on swo.route_id=sr.route_id
        left join smt_pro_line spl on swo.pro_line_id=spl.pro_line_id
        left join smt_barcode_rule_set sbrs on swo.barcode_rule_set_id=sbrs.barcode_rule_set_id
        left join smt_order so on so.order_id = swo.order_id
        left join ocean.sys_user u on swo.create_user_id=u.user_id
        left join ocean.sys_user s on swo.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON swo.organization_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(swo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="workOrderId!=null">
                and swo.work_order_id =#{workOrderId}
            </if>
            <if test="parentId!=null">
                and swo.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            and swo.is_delete = 1
        </where>
        order by swo.modified_time desc
    </select>

    <select id="pdaFindList" parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchSmtWorkOrder"
            resultMap="BaseResultMapDto">
        SELECT
        swo.work_order_id,
        swo.work_order_code,
        swo.parent_id,
        swo.work_order_quantity,
        sm.material_id,
        sm.material_code AS 'materialCode',
        sm.material_desc AS 'materialDesc',
        sm.version AS 'version',
        spl.pro_line_id AS 'proLineId',
        spl.pro_name AS 'proName',
        sps.packing_unit_id AS 'packingUnitId',
        spu.packing_unit_name AS 'packingUnitName',
        sps.package_specification_id AS 'packageSpecificationId',
        sps.package_specification_quantity AS 'packageSpecificationQuantity'
        FROM
        smt_work_order swo
        LEFT JOIN smt_material sm ON swo.material_id = sm.material_id
        LEFT JOIN smt_pro_line spl ON swo.pro_line_id = spl.pro_line_id
        LEFT JOIN smt_package_specification sps ON sps.material_id = sm.material_id
        LEFT JOIN smt_packing_unit spu ON spu.packing_unit_id = sps.packing_unit_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(swo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="workOrderStatus!=null and workOrderStatus!=6">
                and swo.work_order_status = #{workOrderStatus}
            </if>
            <if test="workOrderStatus!=null and workOrderStatus==6">
                and (swo.work_order_status = 1 or swo.work_order_status = 2)
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and spl.pro_line_id = #{proLineId}
            </if>
            <if test="workOrderId!=null and workOrderId!=''">
                and swo.work_order_id = #{workOrderId}
            </if>
            <if test="processId!=null and processId!=''">
                and sps.process_id = #{processId}
            </if>
            and swo.is_delete = 1
        </where>
        order by swo.create_time desc
    </select>

    <select id="selectProductBomDet" parameterType="java.lang.Long" resultMap="BomResultMap">
        SELECT
        spbd.product_bom_det_id,
        spbd.product_bom_id,
        spbd.part_material_id,
        spbd.sub_material_id,
        spbd.process_id,
        spbd.base_quantity,
        spbd.quantity,
        spbd.position,
        spbd.create_user_id,
        spbd.create_time,
        spbd.modified_user_id,
        spbd.modified_time,
        spbd.is_delete,
        spbd.part_material_id
        FROM
        smt_product_bom_det spbd
        <where>
            <if test="materialId!=null and materialId!=''">
                and parent_bom_id IN (SELECT spb.product_bom_id FROM `smt_product_bom` spb
                WHERE spb.`material_id` =#{materialId})
            </if>
        </where>
    </select>

    <select id="selectByWorkOrderId" parameterType="java.lang.Long" resultMap="BaseResultMapDto">
        SELECT swo.work_order_id,
               swo.work_order_code,
               swo.parent_id,
               swo.order_id,
               swo.material_id,
               swo.barcode_rule_set_id,
               swo.work_order_type,
               swo.planned_start_time,
               swo.planned_end_time,
               swo.actual_start_time,
               swo.actual_end_time,
               swo.create_user_id,
               swo.create_time,
               swo.modified_user_id,
               swo.modified_time,
               swo.is_delete,
               swo.work_order_quantity,
               swo.production_quantity,
               swo.output_quantity,
               swo.scheduled_quantity,
               swo.work_order_status,
               swo.pro_line_id,
               sm.material_code     AS 'materialCode',
               sm.material_name     AS 'materialName',
               sm.version           AS 'version',
               sm.material_desc     AS 'materialDesc',
               bt.transfer_quantity AS 'transferQuantity',
               bppd.quantity        AS 'quantity',
               spl.pro_name         AS 'proName',
               swo.route_id         AS 'routeId',
               sr.route_name        AS 'routeName',
               so.order_code        AS 'orderCode '
        FROM smt_work_order swo
                 LEFT JOIN smt_material sm ON swo.material_id = sm.material_id
                 LEFT JOIN base_tab bt ON bt.material_id = sm.material_id
                 LEFT JOIN base_plate_parts_det bppd ON bppd.plate_parts_det_id = swo.material_id
                 LEFT JOIN smt_route sr ON swo.route_id = sr.route_id
                 LEFT JOIN smt_pro_line spl ON swo.pro_line_id = spl.pro_line_id
                 LEFT JOIN smt_order so ON so.order_id = swo.order_id
        where swo.work_order_id = #{workOrderId}
    </select>


    <select id="selectRouteProcessByRouteId" parameterType="java.lang.Long" resultMap="RouteResultMapDto">
        SELECT srp.route_process_id,
               srp.route_id,
               srp.section_id,
               srp.process_id,
               srp.next_process_id,
               srp.previous_process_id,
               srp.order_num,
               srp.is_pass,
               srp.is_must_pass,
               srp.inspection_time,
               srp.qualification_id,
               sp.process_name AS 'processName',
               sr.route_name   AS 'routeName '
        FROM smt_route_process srp
                 LEFT JOIN smt_route sr ON srp.route_id = sr.route_id
                 LEFT JOIN smt_process sp ON srp.process_id = sp.process_id
        where srp.route_id = #{routeId}
        order by srp.order_num
    </select>
</mapper>