<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.SmtWorkOrderCardPoolMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.SmtWorkOrderCardPool">
        <id column="work_order_card_pool_id" jdbcType="BIGINT" property="workOrderCardPoolId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="task_code" jdbcType="VARCHAR" property="taskCode"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="work_order_card_id" jdbcType="VARCHAR" property="workOrderCardId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="out_put_qty" jdbcType="DECIMAL" property="outPutQty"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="card_status" jdbcType="TINYINT" property="cardStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.mes.pm.SmtWorkOrderCardPoolDto">
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="work_order_quantity" jdbcType="INTEGER" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="INTEGER" property="productionQuantity"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRule"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModuleName"/>
        <result column="package_specification_quantity" jdbcType="VARCHAR" property="packageSpecificationQuantity"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchSmtWorkOrderCardPool"
            resultMap="BaseResultMapDto">
        SELECT
        swocp.work_order_card_pool_id,
        swocp.parent_id,
        swocp.task_code,
        swocp.work_order_id,
        swo.work_order_code,
        swo.work_order_type,
        swo.material_id,
        sm.material_code,
        sm.material_desc,
        sm.version,
        spm.product_model_name,
        sps.package_specification_quantity,
        bt.color,
        bt.transfer_quantity,
        swo.work_order_quantity,
        swo.production_quantity,
        swo.route_id,
        sr.route_name,
        swo.order_id,
        so.order_code,
        so.supplier_id,
        sp.supplier_name,
        swocp.barcode_rule_id,
        sbr.barcode_rule,
        swo.planned_end_time,
        swocp.work_order_card_id,
        swocp.card_status,
        swocp.type,
        swocp.out_put_qty,
        swocp.STATUS,
        swocp.create_user_id,
        swocp.create_time,
        swocp.modified_user_id,
        swocp.modified_time,
        swocp.is_delete,
        swocp.organization_id,
        swocp.remark,
        bo.organization_name,
        spl.pro_name
        FROM
        fantech_imes.smt_work_order_card_pool swocp
        LEFT JOIN fantech_imes.smt_work_order swo ON swocp.work_order_id = swo.work_order_id
        LEFT JOIN fantech_imes.smt_material sm ON swo.material_id = sm.material_id
        LEFT JOIN fantech_imes.base_tab bt ON bt.material_id = sm.material_id
        LEFT JOIN fantech_imes.smt_product_model spm ON spm.product_model_id = bt.product_model_id
        LEFT JOIN fantech_imes.smt_package_specification sps ON sps.package_specification_id = bt.package_specification_id
        LEFT JOIN fantech_imes.smt_route sr ON swo.route_id = sr.route_id
        LEFT JOIN fantech_imes.smt_barcode_rule sbr ON swocp.barcode_rule_id = sbr.barcode_rule_id
        LEFT JOIN fantech_imes.smt_order so ON swo.order_id = so.order_id
        LEFT JOIN fantech_imes.smt_supplier sp ON so.supplier_id = sp.supplier_id
        LEFT JOIN fantech_imes.base_organization bo ON swocp.organization_id = bo.organization_id
        LEFT JOIN smt_pro_line spl ON spl.pro_line_id = swo.pro_line_id
        <where>
            <if test="workOrderId!= null and workOrderId!= ''">
                and swocp.work_order_id=#{workOrderId}
            </if>
            <if test="workOrderCardId!= null and workOrderCardId!= ''">
                and swocp.work_order_card_id=#{workOrderCardId}
            </if>
            <if test="workOrderCardPoolId!= null and workOrderCardPoolId!= ''">
                and swocp.work_order_card_pool_id=#{workOrderCardPoolId}
            </if>
            <if test="parentId!= null">
                and swocp.parent_id=#{parentId}
            </if>
            <if test="cardStatus!= null">
                and swocp.card_status=#{cardStatus}
            </if>
            and swocp.is_delete = 1
        </where>
        order by swocp.modified_time desc
    </select>
    
    <update id="batchUpdateStatus" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            UPDATE `smt_work_order_card_pool`
            SET `card_status` = #{item.cardStatus}
            WHERE work_order_card_pool_id = #{item.workOrderCardPoolId}
        </foreach>
    </update>
    <select id="getNoPutIntoCard" resultType="com.fantechs.common.base.general.dto.mes.pm.NoPutIntoCardDTO">
        SELECT
            swocp.work_order_card_id AS 'workOrderCardId',
            sm.material_name AS 'materialName',
            bpi.parts_information_name AS 'partsInformationName',
            swocp.out_put_qty AS 'outPutQty',
            sps.package_specification_quantity AS 'packageSpecificationQuantity',
            bt.color AS 'color',
            swo.route_id AS 'routeId'
        FROM
            smt_work_order_card_pool swocp
                LEFT JOIN smt_work_order_card_pool swocp1 ON swocp1.work_order_card_pool_id = swocp.parent_id
                LEFT JOIN smt_work_order swo ON swo.work_order_id = swocp1.work_order_id
                LEFT JOIN smt_material sm ON sm.material_id = swo.material_id
                LEFT JOIN base_tab bt ON bt.material_id = sm.material_id
                LEFT JOIN smt_package_specification sps ON sps.package_specification_id = bt.package_specification_id
                LEFT JOIN smt_work_order swo1 ON swo1.work_order_id = swocp.work_order_id
                LEFT JOIN base_plate_parts_det bppd ON bppd.plate_parts_det_id = swo1.material_id
                LEFT JOIN base_parts_information bpi ON bpi.parts_information_id = bppd.parts_information_id
        WHERE
            swocp.parent_id = #{parentId}
          AND swocp.card_status = 3
    </select>
</mapper>
