<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.pm.mapper.SmtWorkOrderBarcodeCollocationMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.SmtWorkOrderBarcodeCollocation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="work_order_barcode_collocation_id" jdbcType="BIGINT" property="workOrderBarcodeCollocationId"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="produce_quantity" jdbcType="INTEGER" property="produceQuantity"/>
        <result column="generated_quantity" jdbcType="INTEGER" property="generatedQuantity"/>
        <result column="print_id" jdbcType="BIGINT" property="printId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.mes.pm.SmtWorkOrderBarcodeCollocationDto">
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="work_order_quantity" jdbcType="INTEGER" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="INTEGER" property="productionQuantity"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="barcode_rule_name" jdbcType="VARCHAR" property="barcodeRuleName"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="process_name" jdbcType="VARCHAR" property="productionProcess"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <select id="findList"
            parameterType="com.fantechs.common.base.general.dto.mes.pm.search.SearchSmtWorkOrderBarcodeCollocation"
            resultMap="BaseResultMapDto">
        select
        swobc.work_order_barcode_collocation_id,swobc.work_order_id,wo.work_order_code,wo.work_order_type,wo.material_id,sm.material_code,sm.version,bt.transfer_quantity,
        wo.work_order_quantity,wo.production_quantity,wo.route_id,sr.route_name,wo.order_id, so.order_code,
        so.customer_id,sp.customer_name,wo.barcode_rule_set_id,wo.planned_end_time,
        swobc.produce_quantity,swobc.generated_quantity,sp.process_name,swobc.print_id,swobc.status,swobc.create_time,swobc.modified_user_id,swobc.modified_time,
        swobc.is_delete, swobc.organization_id, swobc.remark, bo.organization_name
        from fantech_imes.smt_work_order_barcode_collocation swobc
        LEFT JOIN smt_work_order wo on wo.work_order_id = swobc.work_order_id
        LEFT JOIN smt_material sm ON sm.material_id = wo.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join fantech_imes.smt_route sr on wo.route_id=sr.route_id
        left join smt_order so on wo.order_id=so.order_id
        left join fantech_imes.smt_customer sp on so.customer_id = sp.customer_id
        LEFT JOIN smt_route_process srp ON srp.route_id = sr.route_id
        LEFT JOIN smt_process sp ON srp.process_id = sp.process_id
        LEFT JOIN fantech_imes.base_organization bo ON swobc.organization_id = bo.organization_id
        <where>
            1=1
            <if test="workOrderId!= null and workOrderId!= ''">
                and swobc.work_order_id=#{workOrderId}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and wo.work_order_code=#{workOrderCode}
            </if>
        </where>
        order by swobc.create_time desc
    </select>
</mapper>