<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.apply.mapper.SmtWorkOrderCardPoolMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.apply.SmtWorkOrderCardPool">
        <id column="work_order_card_pool_id" jdbcType="BIGINT" property="workOrderCardPoolId"/>
        <result column="task_code" jdbcType="VARCHAR" property="taskCode"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="work_order_card_id" jdbcType="VARCHAR" property="workOrderCardId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="card_status" jdbcType="TINYINT" property="cardStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.dto.apply.SmtWorkOrderCardPoolDto">
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="work_order_quantity" jdbcType="INTEGER" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="INTEGER" property="productionQuantity"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRule"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.entity.apply.search.SearchSmtWorkOrderCardPool"
            resultMap="BaseResultMapDto">
        select
        swocp.work_order_card_pool_id,swocp.task_code,swocp.work_order_id,swo.work_order_code,swo.work_order_type,swo.material_id,sm.material_code,sm.version,bt.transfer_quantity,
        swo.work_order_quantity,swo.production_quantity,swo.route_id,sr.route_name,swo.order_id, so.order_code,
        so.customer_id,sp.supplier_name,swocp.barcode_rule_id,sbr.barcode_rule,
        swo.planned_end_time,swocp.work_order_card_id,swocp.card_status,swocp.status,swocp.create_user_id,swocp.create_time,swocp.modified_user_id,swocp.modified_time,
        swocp.is_delete, swocp.organization_id, swocp.remark, bo.organization_name
        from fantech_imes.smt_work_order_card_pool swocp
        left join fantech_imes.smt_work_order swo on swocp.work_order_id=swo.work_order_id
        left join fantech_imes.smt_material sm on swo.material_id=sm.material_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join fantech_imes.smt_route sr on swo.route_id=sr.route_id
        left join fantech_imes.smt_barcode_rule sbr on swocp.barcode_rule_id=sbr.barcode_rule_id
        left join fantech_imes.smt_order so on swo.order_id=so.order_id
        left join fantech_imes.smt_supplier sp on so.customer_id = sp.supplier_id
        LEFT JOIN fantech_imes.base_organization bo ON swocp.organization_id = bo.organization_id
        <where>
            <if test="workOrderId!= null and workOrderId!= ''">
                and swocp.work_order_id=#{workOrderId}
            </if>
        </where>
        order by swocp.create_time desc
    </select>
</mapper>