<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.apply.mapper.SmtWorkOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.apply.SmtWorkOrder">
        <id column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="work_order_code" jdbcType="BIGINT" property="workOrderCode"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="DECIMAL" property="productionQuantity"/>
        <result column="output_quantity" jdbcType="DECIMAL" property="outputQuantity"/>
        <result column="scheduled_quantity" jdbcType="DECIMAL" property="scheduledQuantity"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="planned_start_time" jdbcType="TIMESTAMP" property="plannedStartTime"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.dto.apply.SmtWorkOrderDto">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="barcode_rule_set_name" jdbcType="VARCHAR" property="barcodeRuleSetName"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <resultMap id="BomResultMap" type="com.fantechs.common.base.entity.basic.SmtProductBomDet">
        <result column="product_bom_det_id" jdbcType="BIGINT" property="productBomDetId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="part_material_id" jdbcType="BIGINT" property="partMaterialId"/>
        <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="base_quantity" jdbcType="DECIMAL" property="baseQuantity"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="RouteResultMapDto" type="com.fantechs.common.base.entity.basic.SmtRouteProcess">
        <result column="route_process_id" jdbcType="BIGINT" property="routeProcessId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="next_process_id" jdbcType="BIGINT" property="nextProcessId"/>
        <result column="previous_process_id" jdbcType="BIGINT" property="previousProcessId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="is_must_pass" jdbcType="TINYINT" property="isMustPass"/>
        <result column="inspection_time" jdbcType="INTEGER" property="inspectionTime"/>
        <result column="qualification_id" jdbcType="BIGINT" property="qualificationId"/>

        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    </resultMap>

    <select id="findList" parameterType="com.fantechs.common.base.entity.apply.search.SearchSmtWorkOrder"
            resultMap="BaseResultMapDto">
        select
        swo.work_order_id,swo.work_order_code,swo.order_id,swo.material_id,sm.material_code,sm.material_name,sm.version,sm.material_desc,sm.transfer_quantity,
        swo.work_order_quantity,swo.production_quantity,swo.output_quantity,swo.scheduled_quantity,swo.work_order_status,swo.pro_line_id,spl.pro_name,swo.route_id,sr.route_name,
        swo.barcode_rule_set_id,sbrs.barcode_rule_set_name,swo.work_order_type,swo.planned_start_time,swo.planned_end_time,swo.actual_start_time,swo.actual_end_time,swo.create_user_id,
        u.user_name as create_user_name,swo.create_time,
        swo.modified_user_id,s.user_name as
        modified_user_name,swo.modified_time,so.order_code, swo.is_delete, swo.organization_id, swo.remark,
        bo.organization_name
        from fantech_imes.smt_work_order swo
        left join fantech_imes.smt_material sm on swo.material_id=sm.material_id
        left join fantech_imes.smt_route sr on swo.route_id=sr.route_id
        left join fantech_imes.smt_pro_line spl on swo.pro_line_id=spl.pro_line_id
        left join fantech_imes.smt_barcode_rule_set sbrs on swo.barcode_rule_set_id=sbrs.barcode_rule_set_id
        left join smt_order so on so.order_id = swo.order_id
        left join ocean.sys_user u on swo.create_user_id=u.user_id
        left join ocean.sys_user s on swo.modified_user_id=s.user_id
        LEFT JOIN fantech_imes.base_organization bo ON swo.organization_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(swo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
        and swo.is_delete = 1
        </where>
        order by swo.create_time desc
    </select>

    <select id="pdaFindList" parameterType="com.fantechs.common.base.entity.apply.search.SearchSmtWorkOrder"
            resultMap="BaseResultMapDto">
        SELECT
        swo.work_order_id,
        swo.work_order_code,
        swo.work_order_quantity,
        sm.material_id,
        sm.material_code,
        sm.material_desc,
        sm.version,
        spl.pro_line_id,
        spl.pro_name,
        sps.packing_unit_id AS 'packingUnitId',
        spu.packing_unit_name AS 'packingUnitName',
        sps.package_specification_id AS 'packageSpecificationId',
        sps.package_specification_quantity AS 'packageSpecificationQuantity'
        FROM
        smt_work_order swo
        LEFT JOIN smt_material sm ON swo.material_id = sm.material_id
        LEFT JOIN smt_pro_line spl ON swo.pro_line_id = spl.pro_line_id
        LEFT JOIN smt_package_specification sps ON sps.material_id = sm.material_id
        LEFT JOIN smt_packing_unit spu ON spu.packing_unit_id = sps.packing_unit_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(swo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="workOrderStatus!=null and workOrderStatus!=''">
                and swo.work_order_status = #{workOrderStatus}
            </if>
            <if test="materialId!=null and materialId!=''">
                and swo.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="proLineId!=null and proLineId!=''">
                and spl.pro_line_id = #{proLineId}
            </if>
            and swo.is_delete = 1 and sps.process_id = #{processId}
        </where>
        order by swo.create_time desc
    </select>

    <select id="selectProductBomDet" parameterType="java.lang.Long" resultMap="BomResultMap">
        select
        spbd.product_bom_det_id,spbd.product_bom_id,spbd.part_material_id,spbd.sub_material_id,spbd.process_id,spbd.base_quantity,spbd.quantity,
        spbd.position,spbd.create_user_id, spbd.create_time,spbd.modified_user_id,spbd.modified_time,
        spbd.is_delete,spb.material_id
        from fantech_imes.smt_product_bom_det spbd
        left join fantech_imes.smt_product_bom spb on spbd.product_bom_id=spb.product_bom_id
        <where>
            <if test="materialId!=null and materialId!=''">
                and spb.material_id=#{materialId}
            </if>
        </where>
    </select>

    <select id="selectByWorkOrderId" parameterType="java.lang.Long" resultMap="BaseResultMapDto">
        select swo.work_order_id,
               swo.work_order_code,
               swo.order_id,
               swo.material_id,
               sm.material_code,
               sm.material_name,
               sm.version,
               sm.material_desc,
               sm.transfer_quantity,
               swo.work_order_quantity,
               swo.production_quantity,
               swo.output_quantity,
               swo.scheduled_quantity,
               swo.work_order_status,
               swo.pro_line_id,
               spl.pro_name,
               swo.route_id,
               sr.route_name,
               swo.barcode_rule_set_id,
               swo.work_order_type,
               swo.planned_start_time,
               swo.planned_end_time,
               swo.actual_start_time,
               swo.actual_end_time,
               swo.create_user_id,
               swo.create_time,
               swo.modified_user_id,
               swo.modified_time,
               swo.is_delete,
               so.order_code
        from fantech_imes.smt_work_order swo
                 left join fantech_imes.smt_material sm on swo.material_id = sm.material_id
                 left join fantech_imes.smt_route sr on swo.route_id = sr.route_id
                 left join fantech_imes.smt_pro_line spl on swo.pro_line_id = spl.pro_line_id
                 left join smt_order so on so.order_id = swo.order_id
        where swo.work_order_id = #{workOrderId}
    </select>


    <select id="selectRouteProcessByRouteId" parameterType="java.lang.Long" resultMap="RouteResultMapDto">
        select srp.route_process_id,
               srp.route_id,
               sr.route_name,
               srp.section_id,
               srp.process_id,
               sp.process_name,
               srp.next_process_id,
               srp.previous_process_id,
               srp.order_num,
               srp.is_pass,
               srp.is_must_pass,
               srp.inspection_time,
               srp.qualification_id
        from fantech_imes.smt_route_process srp
                 left join fantech_imes.smt_route sr on srp.route_id = sr.route_id
                 left join fantech_imes.smt_process sp on srp.process_id = sp.process_id
        where srp.route_id = #{routeId}
        order by srp.order_num
    </select>
</mapper>