<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvAgvTaskMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvAgvTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="agv_task_id" jdbcType="BIGINT" property="agvTaskId" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="start_storage_task_point_id" jdbcType="BIGINT" property="startStorageTaskPointId" />
    <result column="end_storage_task_point_id" jdbcType="BIGINT" property="endStorageTaskPointId" />
    <result column="task_status" jdbcType="TINYINT" property="taskStatus" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="barcodeList" ofType="com.fantechs.common.base.general.entity.callagv.CallAgvAgvTaskBarcode"
                column="{agvTaskId=agv_task_id}" select="com.fantechs.provider.guest.callagv.mapper.CallAgvAgvTaskBarcodeMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvAgvTaskDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="start_task_point_name" jdbcType="VARCHAR" property="startTaskPointName"/>
    <result column="end_task_point_name" jdbcType="VARCHAR" property="endTaskPointName"/>
    <result column="vehicle_name" jdbcType="VARCHAR" property="vehicleName"/>
    <result column="in_warehouse_area_name" jdbcType="VARCHAR" property="inWarehouseAreaName"/>
    <result column="out_warehouse_area_name" jdbcType="VARCHAR" property="outWarehouseAreaName"/>
  </resultMap>

  <sql id="Base_Column_List">
    caat.agv_task_id,
    caat.task_code,
    caat.vehicle_id,
    caat.start_storage_task_point_id,
    caat.end_storage_task_point_id,
    caat.task_status,
    caat.operate_type,
    caat.`status`,
    caat.remark,
    caat.org_id,
    caat.create_user_id,
    caat.create_time,
    caat.modified_user_id,
    caat.modified_time,
    caat.is_delete,
    caat.option1,
    caat.option2,
    caat.option3
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    sstp.task_point_name as start_task_point_name,
    estp.task_point_name as end_task_point_name,
    bwai.warehouse_area_name as in_warehouse_area_name,
    bwao.warehouse_area_name as out_warehouse_area_name,
    tv.vehicle_name,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from call_agv_agv_task caat
    LEFT JOIN fantech_imes_v2.base_storage_task_point sstp ON caat.start_storage_task_point_id = sstp.storage_task_point_id
    LEFT JOIN fantech_imes_v2.base_storage_task_point estp ON caat.end_storage_task_point_id = estp.storage_task_point_id
    left join base_warehouse_area bwai on sstp.warehouse_area_id = bwai.warehouse_area_id
    left join base_warehouse_area bwao on estp.warehouse_area_id = bwao.warehouse_area_id
    LEFT JOIN fantech_imes_v2.tem_vehicle tv ON caat.vehicle_id = tv.vehicle_id
    LEFT JOIN ocean_v2.sys_user su ON caat.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON caat.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON caat.org_id = bo.organization_id
    <where>
      <if test="operateType != null">
        and caat.operate_type = #{operateType}
      </if>
      <if test="taskCode != null and taskCode != ''">
        and caat.task_code like CONCAT('%', #{taskCode}, '%')
      </if>
      <if test="taskStatus != null">
        and caat.task_status = #{taskStatus}
      </if>
      <if test="inWarehouseAreaName != null and inWarehouseAreaName != ''">
        and bwai.warehouse_area_name like CONCAT('%', #{inWarehouseAreaName}, '%')
      </if>
      <if test="outWarehouseAreaName != null and outWarehouseAreaName != ''">
        and bwao.warehouse_area_name like CONCAT('%', #{outWarehouseAreaName}, '%')
      </if>
      <if test="taskStatusList != null and taskStatusList.size() > 0">
        and caat.task_status in
        <foreach collection="taskStatusList" index="index" separator="," item="item" open="(" close=")">
          #{item}
        </foreach>
      </if>
      <if test="startTaskPointName != null and startTaskPointName != ''">
        and sstp.task_point_name like CONCAT('%', #{startTaskPointName}, '%')
      </if>
      <if test="endStorageTaskPointId != null">
        and caat.end_storage_task_point_id = #{endStorageTaskPointId}
      </if>
      <if test="endTaskPointName != null and endTaskPointName != ''">
        and estp.task_point_name like CONCAT('%', #{endTaskPointName}, '%')
      </if>
      <if test="vehicleId != null">
        and tv.vehicle_id = #{vehicleId}
      </if>
      <if test="vehicleName != null and vehicleName != ''">
        and tv.vehicle_name like CONCAT('%', #{vehicleName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(caat.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId != null">
        and caat.org_id = #{orgId}
      </if>
      <if test="userId != null">
        and caat.create_user_id = #{userId}
      </if>
      <if test="createTime != null and createTime != ''">
        and date_format(caat.create_time, '%Y-%m-%d') = #{createTime}
      </if>
    </where>
    order by caat.create_time desc
  </select>
</mapper>