<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvBarcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="erp_product_model" jdbcType="VARCHAR" property="erpProductModel" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="operator_user_name" jdbcType="VARCHAR" property="operatorUserName" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="shelf_life" jdbcType="VARCHAR" property="shelfLife" />
    <result column="production_date" jdbcType="VARCHAR" property="productionDate" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="zhu_su_ji_name" jdbcType="VARCHAR" property="zhuSuJiName" />
    <result column="zhu_su_ji_shift" jdbcType="VARCHAR" property="zhuSuJiShift" />
    <result column="zhe_wan_ji_name" jdbcType="VARCHAR" property="zheWanJiName" />
    <result column="zhe_wan_ji_shift" jdbcType="VARCHAR" property="zheWanJiShift" />
    <result column="material_factory" jdbcType="VARCHAR" property="materialFactory" />
    <result column="material_spec" jdbcType="VARCHAR" property="materialSpec" />
    <result column="barcode_status" jdbcType="TINYINT" property="barcodeStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  
  <sql id="Base_Column_List">
    cab.barcode_id, cab.barcode, cab.material_code, cab.product_model, cab.erp_product_model, cab.batch, cab.batch_code, cab.qty, cab.operator_user_name,
    cab.process_name, cab.shelf_life, cab.production_date, cab.serial_number, cab.zhu_su_ji_name, cab.zhu_su_ji_shift, cab.zhe_wan_ji_name, cab.zhe_wan_ji_shift,
    cab.material_factory, cab.material_spec, cab.barcode_status, cab.status, cab.remark, cab.org_id, cab.create_user_id, cab.create_time, cab.modified_user_id,
    cab.modified_time, cab.is_delete, cab.option1, cab.option2, cab.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvBarcodeDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from call_agv_barcode cab
    LEFT JOIN ocean_v2.sys_user su ON cab.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON cab.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON cab.org_id = bo.organization_id
    <where>
      <if test="barcode != null and barcode != ''">
        and cab.barcode like CONCAT('%', #{barcode}, '%')
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="batchCode != null and batchCode != ''">
        and cab.batch_code like CONCAT('%', #{batchCode}, '%')
      </if>
      <if test="processName != null and processName != ''">
        and cab.process_name like CONCAT('%', #{processName}, '%')
      </if>
      <if test="batch != null and batch != ''">
        and cab.batch like CONCAT('%', #{batch}, '%')
      </if>
      <if test="serialNumber != null and serialNumber != ''">
        and cab.serial_number like CONCAT('%', #{serialNumber}, '%')
      </if>
      <if test="zhuSuJiName != null and zhuSuJiName != ''">
        and cab.zhu_su_ji_name like CONCAT('%', #{zhuSuJiName}, '%')
      </if>
      <if test="zhuSuJiShift != null and zhuSuJiShift != ''">
        and cab.zhu_su_ji_shift like CONCAT('%', #{zhuSuJiShift}, '%')
      </if>
      <if test="zheWanJiName != null and zheWanJiName != ''">
        and cab.zhe_wan_ji_name like CONCAT('%', #{zheWanJiName}, '%')
      </if>
      <if test="zheWanJiShift != null and zheWanJiShift != ''">
        and cab.zhe_wan_ji_shift like CONCAT('%', #{zheWanJiShift}, '%')
      </if>
      <if test="materialFactory != null and materialFactory != ''">
        and cab.material_factory like CONCAT('%', #{materialFactory}, '%')
      </if>
      <if test="materialSpec != null and materialSpec != ''">
        and cab.material_spec like CONCAT('%', #{materialSpec}, '%')
      </if>
      <if test="materialSpec != null and materialSpec != ''">
        and cab.material_spec like CONCAT('%', #{materialSpec}, '%')
      </if>
      <if test="productionDate != null and productionDate != ''">
        and cab.production_date like CONCAT('%', #{productionDate}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(cab.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId != null">
        and cab.org_id = #{orgId}
      </if>
    </where>
    order by cab.create_time desc
  </select>
</mapper>