<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvVehicleLogMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvVehicleLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="vehicle_log_id" jdbcType="BIGINT" property="vehicleLogId" />
    <result column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="start_storage_task_point_id" jdbcType="BIGINT" property="startStorageTaskPointId" />
    <result column="end_storage_task_point_id" jdbcType="BIGINT" property="endStorageTaskPointId" />
    <result column="operator_type" jdbcType="TINYINT" property="operatorType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    cavl.vehicle_log_id, cavl.barcode_id, cavl.vehicle_id, cavl.start_storage_task_point_id, cavl.end_storage_task_point_id, cavl.operator_type,
    cavl.status, cavl.remark, cavl.org_id, cavl.create_user_id, cavl.create_time, cavl.modified_user_id, cavl.modified_time, cavl.is_delete,
    cavl.option1, cavl.option2, cavl.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvVehicleLogDto">

  </resultMap>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    from call_agv_vehicle_log cavl
  </select>
</mapper>