<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvProductionInLogMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvProductionInLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="production_in_log_id" jdbcType="BIGINT" property="productionInLogId" />
    <result column="in_warehouse_id" jdbcType="BIGINT" property="inWarehouseId" />
    <result column="out_warehouse_id" jdbcType="BIGINT" property="outWarehouseId" />
    <result column="in_warehouse_area_id" jdbcType="BIGINT" property="inWarehouseAreaId" />
    <result column="out_warehouse_area_id" jdbcType="BIGINT" property="outWarehouseAreaId" />
    <result column="in_storage_id" jdbcType="BIGINT" property="inStorageId" />
    <result column="out_storage_id" jdbcType="BIGINT" property="outStorageId" />
    <result column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="start_storage_task_point_id" jdbcType="BIGINT" property="startStorageTaskPointId" />
    <result column="end_storage_task_point_id" jdbcType="BIGINT" property="endStorageTaskPointId" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    capil.production_in_log_id, capil.in_warehouse_id, capil.out_warehouse_id, capil.in_warehouse_area_id, capil.out_warehouse_area_id,
    capil.in_storage_id, capil.out_storage_id, capil.barcode_id, capil.start_storage_task_point_id, capil.end_storage_task_point_id,
    capil.operate_type, capil.operate_time, capil.status, capil.remark, capil.org_id, capil.create_user_id, capil.create_time, capil.modified_user_id,
    capil.modified_time, capil.is_delete, capil.option1, capil.option2, capil.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvProductionInLogDto">

  </resultMap>

  <resultMap id="BaseResultMapDetDto" type="com.fantechs.common.base.general.dto.callagv.CallAgvProductionInLogDetDto">

  </resultMap>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bwi.warehouse_name as inWarehouseName, bwo.warehouse_name as outWarehouseName,
    bwai.warehouse_area_name as inWarehouseAreaName, bwao.warehouse_area_name as outWarehouseAreaName,
    bsi.storage_code as inStorageCode, bso.storage_Code as outStorageCode,
    bstps.task_point_name as inTaskPointName, bstpe.task_point_name as outTaskPointName,
    cab.barcode, cab.product_model as productModel, sum(cab.qty) as qty, cab.batch_code as batchCode,
    SUBSTRING_INDEX(cab.product_model,'-',2) as model
    from call_agv_production_in_log capil
    left join base_warehouse bwi on capil.in_warehouse_id = bwi.warehouse_id
    left join base_warehouse bwo on capil.out_warehouse_id = bwo.warehouse_id
    left join base_warehouse_area bwai on capil.in_warehouse_area_id = bwai.warehouse_area_id
    left join base_warehouse_area bwao on capil.out_warehouse_area_id = bwao.warehouse_area_id
    left join base_storage bsi on capil.in_storage_id = bsi.storage_id
    left join base_storage bso on capil.out_storage_id = bso.storage_id
    left join call_agv_barcode cab on capil.barcode_id = cab.barcode_id
    left join base_storage_task_point bstps on capil.start_storage_task_point_id = bstps.storage_task_point_id
    left join base_storage_task_point bstpe on capil.end_storage_task_point_id = bstpe.storage_task_point_id
    <where>
      <if test="inWarehouseName != null and inWarehouseName != ''">
        and bwi.warehouse_name like CONCAT('%', #{inWarehouseName}, '%')
      </if>
      <if test="outWarehouseName != null and outWarehouseName != ''">
        and bwo.warehouse_name like CONCAT('%', #{outWarehouseName}, '%')
      </if>
      <if test="inWarehouseAreaName != null and inWarehouseAreaName != ''">
        and bwai.warehouse_area_name like CONCAT('%', #{inWarehouseAreaName}, '%')
      </if>
      <if test="outWarehouseAreaName != null and outWarehouseAreaName != ''">
        and bwao.warehouse_area_name like CONCAT('%', #{outWarehouseAreaName}, '%')
      </if>
      <if test="inStorageCode != null and inStorageCode != ''">
        and bsi.storage_code like CONCAT('%', #{inStorageCode}, '%')
      </if>
      <if test="outStorageCode != null and outStorageCode != ''">
        and bso.storage_code like CONCAT('%', #{outStorageCode}, '%')
      </if>
      <if test="inTaskPointName != null and inTaskPointName != ''">
        and bstps.task_point_name like CONCAT('%', #{inTaskPointName}, '%')
      </if>
      <if test="outTaskPointName != null and outTaskPointName != ''">
        and bstpe.task_point_name like CONCAT('%', #{outTaskPointName}, '%')
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="model != null and model != ''">
        and SUBSTRING_INDEX(cab.product_model,'-',2) like CONCAT('%', #{model}, '%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and capil.operate_time <![CDATA[ >= ]]> #{startTime}
        and capil.operate_time <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d 23:59:59')
      </if>
      <if test="orgId != null">
        and capil.org_id = #{orgId}
      </if>
      <if test="qty != null">
        group by model having sum(cab.qty) = #{qty}
      </if>
      <if test="qty == null">
        group by model
      </if>
    </where>
    order by bsi.storage_code,bso.storage_Code
  </select>

  <select id="findDetList" parameterType="map" resultMap="BaseResultMapDetDto">
    select bwi.warehouse_name as inWarehouseName, bwo.warehouse_name as outWarehouseName,
    bwai.warehouse_area_name as inWarehouseAreaName, bwao.warehouse_area_name as outWarehouseAreaName,
    bsi.storage_code as inStorageCode, bso.storage_Code as outStorageCode,
    bstps.task_point_name as inTaskPointName, bstpe.task_point_name as outTaskPointName,
    cab.barcode, cab.product_model as productModel, cab.qty, cab.batch_code as batchCode, capil.operate_time as operateTime
    from call_agv_production_in_log capil
    left join base_warehouse bwi on capil.in_warehouse_id = bwi.warehouse_id
    left join base_warehouse bwo on capil.out_warehouse_id = bwo.warehouse_id
    left join base_warehouse_area bwai on capil.in_warehouse_area_id = bwai.warehouse_area_id
    left join base_warehouse_area bwao on capil.out_warehouse_area_id = bwao.warehouse_area_id
    left join base_storage bsi on capil.in_storage_id = bsi.storage_id
    left join base_storage bso on capil.out_storage_id = bso.storage_id
    left join call_agv_barcode cab on capil.barcode_id = cab.barcode_id
    left join base_storage_task_point bstps on capil.start_storage_task_point_id = bstps.storage_task_point_id
    left join base_storage_task_point bstpe on capil.end_storage_task_point_id = bstpe.storage_task_point_id
    <where>
      <if test="model != null and model != ''">
        and SUBSTRING_INDEX(cab.product_model,'-',2) = #{model}
      </if>
      <if test="inWarehouseName != null and inWarehouseName != ''">
        and bwi.warehouse_name like CONCAT('%', #{inWarehouseName}, '%')
      </if>
      <if test="outWarehouseName != null and outWarehouseName != ''">
        and bwo.warehouse_name like CONCAT('%', #{outWarehouseName}, '%')
      </if>
      <if test="inWarehouseAreaName != null and inWarehouseAreaName != ''">
        and bwai.warehouse_area_name like CONCAT('%', #{inWarehouseAreaName}, '%')
      </if>
      <if test="outWarehouseAreaName != null and outWarehouseAreaName != ''">
        and bwao.warehouse_area_name like CONCAT('%', #{outWarehouseAreaName}, '%')
      </if>
      <if test="inStorageCode != null and inStorageCode != ''">
        and bsi.storage_code like CONCAT('%', #{inStorageCode}, '%')
      </if>
      <if test="outStorageCode != null and outStorageCode != ''">
        and bso.storage_code like CONCAT('%', #{outStorageCode}, '%')
      </if>
      <if test="inTaskPointName != null and inTaskPointName != ''">
        and bstps.task_point_name like CONCAT('%', #{inTaskPointName}, '%')
      </if>
      <if test="outTaskPointName != null and outTaskPointName != ''">
        and bstpe.task_point_name like CONCAT('%', #{outTaskPointName}, '%')
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and capil.operate_time <![CDATA[ >= ]]> #{startTime}
        and capil.operate_time <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d 23:59:59')
      </if>
      <if test="orgId != null">
        and capil.org_id = #{orgId}
      </if>
    </where>
    order by capil.operate_time desc,bsi.storage_code,bso.storage_Code,cab.product_model
  </select>
</mapper>