<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvVehicleReBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvVehicleReBarcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="vehicle_re_barcode_id" jdbcType="BIGINT" property="vehicleReBarcodeId" />
    <result column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    cavrb.vehicle_re_barcode_id, cavrb.barcode_id, cavrb.vehicle_id, cavrb.status, cavrb.remark, cavrb.org_id, cavrb.create_user_id, cavrb.create_time,
    cavrb.modified_user_id, cavrb.modified_time, cavrb.is_delete, cavrb.option1, cavrb.option2, cavrb.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvVehicleReBarcodeDto">

  </resultMap>

  <resultMap id="CallAgvStorageMaterialDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvStorageMaterialDto">

  </resultMap>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    tv.vehicle_code as vehicleCode, tv.vehicle_name as vehicleName,
    bstp.task_point_code as taskPointCode, bstp.task_point_name as taskPointName, bstp.xyz_code as xyzCode,
    bs.storage_code as storageCode, bs.storage_name as storageName,
    cab.barcode, cab.batch, cab.product_model as productModel, cab.erp_product_model as erpProductModel, cab.batch_code as batchCode,
    cab.qty, cab.material_code as materialCode, cab.material_factory as materialFactory, cab.barcode_status as barcodeStatus
    from call_agv_vehicle_re_barcode cavrb
    left join call_agv_barcode cab on cavrb.barcode_id = cab.barcode_id
    left join tem_vehicle tv on cavrb.vehicle_id = tv.vehicle_id
    left join base_storage_task_point bstp on tv.storage_task_point_id = bstp.storage_task_point_id
    left join base_storage bs on bstp.storage_id = bs.storage_id
    left join base_warehouse_area bwa on bs.warehouse_area_id = bwa.warehouse_area_id
    <where>
      <if test="barcodeId != null">
        and cavrb.barcode_id = #{barcodeId}
      </if>
      <if test="vehicleId != null">
        and cavrb.vehicle_id = #{vehicleId}
      </if>
      <if test="status != null">
        and cavrb.status = #{status}
      </if>
      <if test="barcodeIdList != null and barcodeIdList.size() > 0">
        and cavrb.barcode_id in
        <foreach collection="barcodeIdList" index="index" close=")" open="(" item="item" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="vehicleCode != null and vehicleCode != ''">
          and tv.vehicle_code = #{vehicleCode}
      </if>
      <if test="taskPointType != null">
        and bstp.task_point_type = #{taskPointType}
      </if>
      <if test="warehouseAreaId != null">
        and bwa.warehouse_area_id = #{warehouseAreaId}
      </if>
      <if test="orgId != null">
        and cavrb.org_id = #{orgId}
      </if>
    </where>
    <if test="groupByVehicle == 1">
      group by cavrb.vehicle_id
      order by cavrb.create_time
    </if>
  </select>

  <select id="callAgvStorageMaterialList" resultMap="CallAgvStorageMaterialDto" parameterType="com.fantechs.common.base.general.entity.callagv.search.SearchCallAgvStorageMaterial">
    select bw.warehouse_name as warehouseName, bwa.warehouse_area_name as warehouseAreaName,
    bs.storage_code as storageCode, bs.storage_type as storageType,
    tv.vehicle_code as vehicleCode, cab.barcode, cab.product_model as productModel, cab.erp_product_model as erpProductModel, cab.batch, cab.batch_code as batchCode,
    <if test="summary == 1">
      sum(cab.qty) as
    </if>
    qty
    from call_agv_vehicle_re_barcode cavrb
    left join call_agv_barcode cab on cavrb.barcode_id = cab.barcode_id
    left join tem_vehicle tv on cavrb.vehicle_id = tv.vehicle_id
    inner join base_storage_task_point bstp on tv.storage_task_point_id = bstp.storage_task_point_id
    left join base_storage bs on bstp.storage_id = bs.storage_id
    left join base_warehouse bw on bs.warehouse_id = bw.warehouse_id
    left join base_warehouse_area bwa on bs.warehouse_area_id = bwa.warehouse_area_id
    <where>
      <if test="warehouseName != null and warehouseName != ''">
        and bw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
      </if>
      <if test="warehouseAreaName != null and warehouseAreaName != ''">
        and bwa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
      </if>
      <if test="storageCode != null and storageCode != ''">
        and bs.storage_code like CONCAT('%', #{storageCode}, '%')
      </if>
      <if test="storageType != null">
        and bs.storage_type = #{storageType}
      </if>
      <if test="vehicleCode != null and vehicleCode != ''">
        and tv.vehicle_code like CONCAT('%', #{vehicleCode}, '%')
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="barcode != null and barcode != ''">
        and cab.barcode like CONCAT('%', #{barcode}, '%')
      </if>
      <if test="batch != null and batch != ''">
        and cab.batch like CONCAT('%', #{batch}, '%')
      </if>
      <if test="batchCode != null and batchCode != ''">
        and cab.batch_code like CONCAT('%', #{batchCode}, '%')
      </if>
      <if test="orgId != null">
        and cavrb.org_id = #{orgId}
      </if>
    </where>
    <if test="summary == 1">
      group by bwa.warehouse_area_name, cab.product_model
    </if>
    order by bw.warehouse_name, bs.storage_code, tv.vehicle_code
  </select>
</mapper>