<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvWarehouseAreaReBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvWarehouseAreaReBarcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="warehouse_area_re_barcode_id" jdbcType="BIGINT" property="warehouseAreaReBarcodeId" />
    <result column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    cawarb.warehouse_area_re_barcode_id, cawarb.barcode_id, cawarb.warehouse_area_id,  cawarb.status, cawarb.remark, cawarb.org_id, cawarb.create_user_id,
    cawarb.create_time, cawarb.modified_user_id, cawarb.modified_time, cawarb.is_delete, cawarb.option1, cawarb.option2, cawarb.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.callagv.CallAgvWarehouseAreaReBarcodeDto">

  </resultMap>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    cab.barcode, cab.product_model as productModel, cab.qty, cab.material_factory as materialFactory,
    bwa.warehouse_area_name as warehouseAreaName
    from call_agv_warehouse_area_re_barcode cawarb
    left join call_agv_barcode cab on cawarb.barcode_id = cab.barcode_id
    left join base_warehouse_area bwa on cawarb.warehouse_area_id = bwa.warehouse_area_id
    <where>
      <if test="barcodeId != null">
        and cab.barcode_id = #{barcodeId}
      </if>
      <if test="productModel != null and productModel != ''">
        and cab.product_model like CONCAT('%', #{productModel}, '%')
      </if>
      <if test="barcode != null and barcode != ''">
        and cab.barcode = #{barcode}
      </if>
      <if test="warehouseAreaId != null">
        and bwa.warehouse_area_id = #{warehouseAreaId}
      </if>
      <if test="warehouseAreaName != null and warehouseAreaName != ''">
        and bwa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
      </if>
    </where>
    order by cawarb.create_time
  </select>
</mapper>