<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.callagv.mapper.CallAgvAgvTaskBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.callagv.CallAgvAgvTaskBarcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="agv_task_barcode_id" jdbcType="BIGINT" property="agvTaskBarcodeId" />
    <result column="agv_task_id" jdbcType="BIGINT" property="agvTaskId" />
    <result column="barcode_id" jdbcType="BIGINT" property="barcodeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="product_model" jdbcType="VARCHAR" property="productModel"/>
    <result column="qty" jdbcType="DECIMAL" property="qty"/>
  </resultMap>

  <sql id="Base_Column_List">
    caatb.agv_task_barcode_id,
    caatb.agv_task_id,
    caatb.barcode_id,
    caatb.`status`,
    caatb.remark,
    caatb.org_id,
    caatb.create_user_id,
    caatb.create_time,
    caatb.modified_user_id,
    caatb.modified_time,
    caatb.is_delete,
    caatb.option1,
    caatb.option2,
    caatb.option3
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    cab.product_model,cab.qty,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from call_agv_agv_task_barcode caatb
    LEFT JOIN fantech_imes_v2.call_agv_barcode cab ON caatb.barcode_id = cab.barcode_id
    LEFT JOIN ocean_v2.sys_user su ON caatb.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON caatb.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON caatb.org_id = bo.organization_id
    <where>
      <if test="agvTaskId != null">
        and caatb.agv_task_id = #{agvTaskId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(caatb.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId != null">
        and caatb.org_id = #{orgId}
      </if>
    </where>
    order by caatb.create_time desc
  </select>
</mapper>