<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.MesHtScheduleMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.history.MesHtSchedule">
        <result column="ht_schedule_id" jdbcType="BIGINT" property="htScheduleId"/>
        <result column="schedule_id" jdbcType="BIGINT" property="scheduleId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="schedule_code" jdbcType="VARCHAR" property="scheduleCode"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
        <result column="finished" jdbcType="DECIMAL" property="finished"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="operation" jdbcType="VARCHAR" property="operation"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.history.MesHtScheduleDTO"
               extends="BaseResultMap">

    </resultMap>

    <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT mhs.ht_schedule_id,
               mhs.schedule_id,
               mhs.organization_id,
               mhs.schedule_code,
               mhs.total,
               mhs.finished,
               mhs.`status`,
               mhs.is_delete,
               mhs.remark,
               mhs.create_user_id,
               mhs.create_time,
               mhs.modified_user_id,
               mhs.modified_time,
               su1.user_name AS createUserName,
               su2.user_name AS modifiedUserName
        FROM fantech_imes_v2.mes_ht_schedule AS mhs
                 LEFT JOIN ocean_v2.sys_user su1 ON su1.user_id = mhs.create_user_id
                 LEFT JOIN ocean_v2.sys_user su2 ON su2.user_id = mhs.modified_user_id
        where mhs.is_delete = 1
        order by mhs.modified_time desc
    </select>

</mapper>