<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.MesHtOrderMaterialMapper">
      <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.pm.history.MesHtOrderMaterial">
        <result column="ht_order_material_id" jdbcType="BIGINT" property="htOrderMaterialId" />
        <result column="order_material_id" jdbcType="BIGINT" property="orderMaterialId" />
        <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="total" jdbcType="DECIMAL" property="total" />
        <result column="box_code" jdbcType="VARCHAR" property="boxCode" />
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
        <result column="size" jdbcType="DECIMAL" property="size" />
        <result column="rough_weight" jdbcType="DECIMAL" property="roughWeight" />
        <result column="net_weight" jdbcType="DECIMAL" property="netWeight" />
        <result column="spec_file" jdbcType="VARCHAR" property="specFile" />
        <result column="operation" jdbcType="VARCHAR" property="operation" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

<resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.general.dto.mes.pm.history.MesHtOrderMaterialDTO" extends="BaseResultMap">

</resultMap>

 <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
   SELECT
     mhom.ht_order_material_id,
     mhom.order_material_id,
     mhom.organization_id,
     mhom.order_id,
     mhom.material_id,
     mhom.total,
     mhom.box_code,
     mhom.packing_unit_name,
     mhom.size,
     mhom.rough_weight,
     mhom.net_weight,
     mhom.spec_file,
     mhom.is_delete,
     mhom.remark,
     mhom.create_user_id,
     mhom.create_time,
     mhom.modified_user_id,
     mhom.modified_time,
     su1.user_name AS 'createUserName',
     su2.user_name AS 'modifiedUserName',
     spm.product_model_name AS 'productModelName',
     sm.material_code AS 'materialCode',
     sm.version AS 'version',
     sm.material_desc AS 'materialDesc'
   FROM
     mes_ht_order_material AS mhom
       LEFT JOIN ocean.sys_user su1 ON su1.user_id = mhom.create_user_id
       LEFT JOIN ocean.sys_user su2 ON su2.user_id = mhom.modified_user_id
       LEFT JOIN fantech_imes.base_organization bo ON mhom.organization_id = bo.organization_id
       LEFT JOIN smt_material sm ON sm.material_id = mhom.material_id
       LEFT JOIN base_tab bt on bt.material_id = sm.material_id
       LEFT JOIN smt_product_model spm ON spm.product_model_id = bt.product_model_id
   WHERE
     mhom.order_id = #{orderId}
     AND mhom.is_delete = 1
   ORDER BY
     mhom.modified_time desc
 </select>

</mapper>