<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.OmPurchaseReturnOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.om.OmPurchaseReturnOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="purchase_return_order_id" jdbcType="BIGINT" property="purchaseReturnOrderId" />
    <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="coreSourceSysOrderTypeCode" />
    <result column="source_sys_order_type_code" jdbcType="VARCHAR" property="sourceSysOrderTypeCode" />
    <result column="source_big_type" jdbcType="TINYINT" property="sourceBigType" />
    <result column="sys_order_type_code" jdbcType="VARCHAR" property="sysOrderTypeCode" />
    <result column="purchase_return_order_code" jdbcType="VARCHAR" property="purchaseReturnOrderCode" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="make_order_user_id" jdbcType="BIGINT" property="makeOrderUserId" />
    <result column="return_dept_id" jdbcType="BIGINT" property="returnDeptId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.om.OmPurchaseReturnOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="make_order_user_name" jdbcType="VARCHAR" property="makeOrderUserName"/>
    <result column="return_dept_name" jdbcType="VARCHAR" property="returnDeptName"/>
    <collection property="omPurchaseReturnOrderDetDtos" ofType="com.fantechs.common.base.general.dto.om.OmPurchaseReturnOrderDetDto"
                column="{purchaseReturnOrderId=purchase_return_order_id}"  select="com.fantechs.provider.om.mapper.OmPurchaseReturnOrderDetMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    opro.purchase_return_order_id,
    opro.core_source_sys_order_type_code,
    opro.source_sys_order_type_code,
    opro.source_big_type,
    opro.sys_order_type_code,
    opro.purchase_return_order_code,
    opro.supplier_id,
    opro.make_order_user_id,
    opro.return_dept_id,
    opro.order_status,
    opro.status,
    opro.remark,
    opro.org_id,
    opro.create_user_id,
    opro.create_time,
    opro.modified_user_id,
    opro.modified_time,
    opro.is_delete,
    opro.option1,
    opro.option2,
    opro.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"/>,
    bs.supplier_name,
    sumake.user_name as make_order_user_name,
    bd.dept_name as return_dept_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from om_purchase_return_order opro
    left join sys_user sumake on opro.make_order_user_id = sumake.user_id
    left join base_supplier bs on opro.supplier_id = bs.supplier_id
    left join base_dept bd on opro.return_dept_id = bd.dept_id
    left join sys_user u on opro.create_user_id=u.user_id
    left join sys_user s on opro.modified_user_id=s.user_id
    left join base_organization bo on opro.org_id = bo.organization_id
    <where>
      <if test="purchaseReturnOrderCode!=null and purchaseReturnOrderCode!=''">
        and opro.purchase_return_order_code like CONCAT('%',#{purchaseReturnOrderCode},'%')
      </if>
      <if test="supplierName!=null and supplierName!=''">
        and bs.supplier_name like CONCAT('%',#{supplierName},'%')
      </if>
      <if test="makeOrderUserName!=null and makeOrderUserName!=''">
        and sumake.user_name like CONCAT('%',#{makeOrderUserName},'%')
      </if>
      <if test="returnDeptName!=null and returnDeptName!=''">
        and bd.dept_name like CONCAT('%',#{returnDeptName},'%')
      </if>
      <if test="status != null">
        and opro.status = #{status}
      </if>
      <if test="orgId != null">
        and opro.org_id = #{orgId}
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(opro.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> #{startTime}
        and date_format(opro.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by opro.create_time desc
  </select>
</mapper>