<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.OmSalesOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.om.OmSalesOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="sales_order_id" jdbcType="BIGINT" property="salesOrderId" />
        <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode" />
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
        <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
        <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
        <result column="source_order_line_number" jdbcType="VARCHAR" property="sourceOrderLineNumber" />
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId" />
        <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
        <result column="sales_dept" jdbcType="VARCHAR" property="salesDept" />
        <result column="sales_user_name" jdbcType="VARCHAR" property="salesUserName" />
        <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
        <result column="order_type" jdbcType="VARCHAR" property="orderType" />
        <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
        <result column="make_order_user_name" jdbcType="VARCHAR" property="makeOrderUserName" />
        <result column="make_order_date" jdbcType="TIMESTAMP" property="makeOrderDate" />
        <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName" />
        <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode" />
        <result column="make_code" jdbcType="VARCHAR" property="makeCode" />
        <result column="sales_code_qty" jdbcType="DECIMAL" property="salesCodeQty" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.om.OmSalesOrderDto">
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="barcode_rule_set_name" jdbcType="VARCHAR" property="barcodeRuleSetName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
    so.sales_order_id, so.sales_order_code, so.contract_code, so.supplier_id, so.customer_order_code,
    so.source_order_code, so.source_order_line_number, so.barcode_rule_set_id, so.delivery_type, so.sales_dept,
    so.sales_user_name, so.data_source, so.order_type, so.order_status, so.status, so.order_date, so.make_order_user_name,
    so.make_order_date, so.audit_user_name, so.audit_date, so.sales_code, so.make_code, so.remark, so.org_id, so.create_user_id,
    so.create_time, so.modified_user_id, so.modified_time, so.is_delete, so.option1, so.option2, so.option3
  </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        select
        <include refid="Base_Column_List"/>,
        bs.supplier_name,
        bbrs.barcode_rule_set_name,
        suc.user_name as create_user_name,
        bo.organization_name,
        sumod.user_name as modified_user_name
        from om_sales_order so
        left join base_supplier bs on so.supplier_id = bs.supplier_id
        left join base_barcode_rule_set bbrs on so.barcode_rule_set_id = bbrs.barcode_rule_set_id
        left join ocean_v2.sys_user suc on so.create_user_id = suc.user_id
        left join base_organization bo on so.org_id = bo.organization_id
        left join ocean_v2.sys_user sumod on so.modified_user_id = sumod.user_id
        <if test="workOrderId != null and workOrderId != ''">
            left join mes_pm_work_order mpwo on so.sales_order_id = mpwo.sales_order_id
        </if>
        <where>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and date_format(so.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>

            <if test="status != null">
                and so.status = #{status}
            </if>

            <if test="orgId != null">
                and so.org_id = #{orgId}
            </if>

            <if test="createUserName != null and createUserName !=''">
                and suc.user_name = #{createUserName}
            </if>
            <if test="makeOrderUserName != null and makeOrderUserName !=''">
                and so.make_order_user_name = #{makeOrderUserName}
            </if>

            <if test="auditUserName != null and auditUserName !=''">
                and so.audit_user_name = #{auditUserName}
            </if>

            <if test="salesOrderCode != null and salesOrderCode != ''">
                and so.sales_order_code like CONCAT('%', #{salesOrderCode}, '%')
            </if>

            <if test="customerOrderCode != null and customerOrderCode != ''">
                and so.customer_order_code like CONCAT('%', #{customerOrderCode}, '%')
            </if>

            <if test="contractCode != null and contractCode != ''">
                and so.contract_code like CONCAT('%', #{contractCode}, '%')
            </if>

            <if test="salesOrderId != null">
                and so.sales_order_id = #{salesOrderId}
            </if>
            <if test="workOrderId != null and workOrderId != ''">
                and mpwo.work_order_id = #{workOrderId}
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and so.sales_user_name like CONCAT('%',#{salesUserName},'%')
            </if>
            <if test="orderType!=null and orderType!=''">
                and so.order_type like CONCAT('%',#{orderType},'%')
            </if>
            <if test="makeOrderUserName!=null and makeOrderUserName!=''">
                and so.make_order_user_name lile CONCAT('%',#{makeOrderUserName},'%')
            </if>
            <if test="auditUserName!=null and auditUserName!=''">
                and so.audit_user_name like CONCAT('%',#{auditUserName},'%')
            </if>
            <if test="remark!=null and remark!=''">
                and so.remark like CONCAT('%',#{remark},'%')
            </if>
        </where>
        order by so.modified_time desc
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update om_sales_order oso set
            oso.sales_order_code = #{item.salesOrderCode},
            oso.contract_code = #{item.contractCode},
            oso.supplier_id = #{item.supplierId},
            oso.customer_order_code = #{item.customerOrderCode},
            oso.source_order_code = #{item.sourceOorderCode},
            oso.source_order_line_number = #{item.sourceOrderLineNumber},
            oso.barcode_rule_set_id = #{item.barcodeRuleSetId},
            oso.delivery_type = #{item.deliveryType},
            oso.sales_dept = #{item.salesDept},
            oso.sales_user_name = #{item.salesUserName},
            oso.data_source = #{item.dataSource},
            oso.order_type = #{item.orderType},
            oso.order_status = #{item.orderStatus},
            oso.status = #{item.status},
            oso.order_date = #{item.orderDate},
            oso.make_order_user_name = #{item.makeOrderUserName},
            oso.make_order_date = #{item.makeOrderDate},
            oso.audit_user_name = #{item.auditUserName},
            oso.audit_date = #{item.auditDate},
            oso.remark = #{item.remark},
            oso.order_date = #{item.orderDate},
            oso.org_id = #{item.orgId},
            oso.create_user_id = #{item.createUserId},
            oso.create_time = #{item.createTime},
            oso.modified_user_id = #{item.modifiedUserId},
            oso.modified_time = #{item.modifiedTime},
            oso.is_delete = #{item.isDelete}
            where oso.sales_order_id = #{item.salesOrderId}
        </foreach>
    </update>
</mapper>