<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.OmTransferOrderDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.om.OmTransferOrderDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="transfer_order_det_id" jdbcType="BIGINT" property="transferOrderDetId"/>
        <result column="transfer_order_id" jdbcType="BIGINT" property="transferOrderId"/>
        <result column="core_source_order_code" jdbcType="VARCHAR" property="coreSourceOrderCode"/>
        <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode"/>
        <result column="core_source_id" jdbcType="BIGINT" property="coreSourceId"/>
        <result column="source_id" jdbcType="BIGINT" property="sourceId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="order_qty" jdbcType="DECIMAL" property="orderQty"/>
        <result column="production_date" jdbcType="TIMESTAMP" property="productionDate"/>
        <result column="expired_date" jdbcType="TIMESTAMP" property="expiredDate"/>
        <result column="batch_code" jdbcType="VARCHAR" property="batchCode"/>
        <result column="actual_in_qty" jdbcType="DECIMAL" property="actualInQty"/>
        <result column="actual_out_qty" jdbcType="DECIMAL" property="actualOutQty"/>
        <result column="total_issue_qty" jdbcType="DECIMAL" property="totalIssueQty"/>
        <result column="if_all_issued" jdbcType="TINYINT" property="ifAllIssued"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.om.OmTransferOrderDetDto">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="main_unit" jdbcType="VARCHAR" property="mainUnit"/>
        <result column="volume" jdbcType="DECIMAL" property="volume"/>
        <result column="net_weight" jdbcType="DECIMAL" property="netWeight"/>
        <result column="gross_weight" jdbcType="DECIMAL" property="grossWeight"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="transfer_order_code" jdbcType="VARCHAR" property="transferOrderCode"/>
        <result column="out_warehouse_name" jdbcType="VARCHAR" property="outWarehouseName"/>
        <result column="in_warehouse_name" jdbcType="VARCHAR" property="inWarehouseName"/>
        <result column="out_warehouse_id" jdbcType="BIGINT" property="outWarehouseId"/>
        <result column="in_warehouse_id" jdbcType="BIGINT" property="inWarehouseId"/>
    </resultMap>
    <sql id="Base_Column_List">
        otod.transfer_order_det_id,
        otod.transfer_order_id,
        otod.core_source_order_code,
        otod.source_order_code,
        otod.core_source_id,
        otod.source_id,
        otod.material_id,
        otod.unit_name,
        otod.order_qty,
        otod.production_date,
        otod.expired_date,
        otod.batch_code,
        otod.actual_in_qty,
        otod.actual_out_qty,
        otod.total_issue_qty,
        otod.if_all_issued,
        otod.status,
        otod.is_delete,
        otod.remark,
        otod.org_id,
        otod.create_user_id,
        otod.create_time,
        otod.modified_user_id,
        otod.modified_time
  </sql>
    <select id="findList" resultMap="BaseResultMapDto">
        SELECT<include refid="Base_Column_List"/>,oto.transfer_order_code,
        bw.warehouse_id as out_warehouse_id,bw1.warehouse_id as in_warehouse_id,
        bw.warehouse_name as out_warehouse_name,bw1.warehouse_name as in_warehouse_name,
        bm.material_code,bm.material_name,bm.material_desc,bm.material_version,bmb.main_unit,
        IFNULL(bmb.volume,0) as volume,IFNULL(bmb.net_weight,0) as net_weight,IFNULL(bmb.gross_weight,0) as gross_weight,su.user_name as
        create_user_name,sus.user_name as modified_user_name,bo.organization_name
        FROM om_transfer_order_det otod
        LEFT JOIN om_transfer_order oto ON otod.transfer_order_id = oto.transfer_order_id
        LEFT JOIN base_warehouse bw ON oto.out_warehouse_id = bw.warehouse_id
        LEFT JOIN base_warehouse bw1 ON oto.in_warehouse_id = bw1.warehouse_id
        LEFT JOIN base_material bm ON otod.material_id = bm.material_id
        left join base_material_tab bmb ON bm.material_id = bmb.material_id
        left join sys_user su on otod.create_user_id = su.user_id
        left join sys_user sus on otod.modified_user_id = sus.user_id
        left join base_organization bo on otod.org_id = bo.organization_id
        <where>
            <if test="transferOrderId!=null and transferOrderId!=''">
                and otod.transfer_order_id = #{transferOrderId}
            </if>
        </where>
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update om_transfer_order_det otod set
            otod.total_issue_qty = #{item.totalIssueQty},
            otod.if_all_issued = #{item.ifAllIssued}
            where otod.transfer_order_det_id = #{item.transferOrderDetId}
        </foreach>
    </update>
</mapper>
