<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.om.mapper.SmtOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.om.SmtOrder">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="order_quantity" jdbcType="INTEGER" property="orderQuantity"/>
        <result column="delivered_quantity" jdbcType="INTEGER" property="deliveredQuantity"/>
        <result column="inkjet_paint" jdbcType="VARCHAR" property="inkjetPaint"/>
        <result column="radium_carving" jdbcType="VARCHAR" property="radiumCarving"/>
        <result column="schedule_status" jdbcType="TINYINT" property="scheduleStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate"/>
        <result column="schedule_date" jdbcType="TIMESTAMP" property="scheduleDate"/>
        <result column="order_date" jdbcType="TIMESTAMP" property="orderDate"/>
        <result column="sales_man_name" jdbcType="VARCHAR" property="salesManName"/>
        <result column="photo_url" jdbcType="VARCHAR" property="photoUrl"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.om.SmtOrderDto">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    </resultMap>

    <resultMap id="MesOrderMaterialDTOMap" type="com.fantechs.common.base.general.dto.om.MesOrderMaterialDTO">
        <result column="order_material_id" jdbcType="BIGINT" property="orderMaterialId" />
        <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="total" jdbcType="DECIMAL" property="total" />
        <result column="box_code" jdbcType="VARCHAR" property="boxCode" />
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
        <result column="size" jdbcType="DECIMAL" property="size" />
        <result column="rough_weight" jdbcType="DECIMAL" property="roughWeight" />
        <result column="net_weight" jdbcType="DECIMAL" property="netWeight" />
        <result column="spec_file" jdbcType="VARCHAR" property="specFile" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

    <sql id="Base_Column_List">
    so.order_id, so.order_code, so.supplier_id, so.material_id, so.order_quantity, so.delivered_quantity, so.Inkjet_paint,
    so.radium_carving, so.schedule_status,so.status, so.delivery_date, so.photo_url, so.create_user_id, so.create_time, so.modified_user_id,
    so.modified_time, so.is_delete, so.option1, so.option2, so.option3,so.organization_id, so.remark, so.sales_man_name,so.schedule_date,
    so.contract_code,so.order_date
  </sql>
    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        select<include refid="Base_Column_List"/>,sm.material_name, sm.material_code,sm.version,sm.material_desc,spm.product_model_name,
        ss.supplier_name, bo.organization_name,
        u.user_name as create_user_name, s.user_name as modified_user_name
        from smt_order so
        left join ocean.sys_user u on so.create_user_id = u.user_id
        left join ocean.sys_user s on so.modified_user_id = s.user_id
        left join smt_material sm on so.material_id = sm.material_id
        left join smt_supplier ss on so.supplier_id = ss.supplier_id
        LEFT JOIN base_tab bt on bt.material_id = sm.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        LEFT JOIN base_organization bo ON so.organization_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(so.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>

            <if test="orderCode != null and orderCode != ''">
                and so.order_code like CONCAT('%', #{orderCode}, '%')
            </if>
            <if test="contractCode != null and contractCode != ''">
                and so.contract_code like CONCAT('%', #{contractCode}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and so.material_id=#{materialId}
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and ss.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="status!=null">
                and so.status=#{status}
            </if>
        AND so.is_delete = 1
        </where>
        order by so.modified_time desc
    </select>

    <insert id="batchAddOrderMaterial" parameterType="java.util.List" >
        insert into mes_order_material(order_id,material_id,total,box_code,packing_unit_name,size,rough_weight,net_weight,spec_file)
        values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.orderId},#{item.materialId},#{item.total},#{item.boxCode},#{item.packingUnitName},#{item.size},#{item.roughWeight},#{item.netWeight},#{item.specFile})
        </foreach>
    </insert>
    <delete id="deleteMaterialByOrderId" parameterType="long">
        delete from mes_order_material where order_id = #{orderId}
    </delete>

    <select id="findOrderMaterial" resultMap="MesOrderMaterialDTOMap">
        SELECT
            mom.order_material_id,
            mom.organization_id,
            mom.order_id,
            mom.material_id,
            mom.total,
            mom.box_code,
            mom.packing_unit_name,
            mom.size,
            mom.rough_weight,
            mom.net_weight,
            mom.spec_file,
            mom.is_delete,
            mom.remark,
            mom.create_user_id,
            mom.create_time,
            mom.modified_user_id,
            mom.modified_time,
            su1.user_name AS 'createUserName',
            su2.user_name AS 'modifiedUserName',
            spm.product_model_name AS 'productModelName',
            sm.material_code AS 'materialCode',
            sm.version AS 'version',
            sm.material_desc AS 'materialDesc'
        FROM
            mes_order_material AS mom
                LEFT JOIN ocean.sys_user su1 ON su1.user_id = mom.create_user_id
                LEFT JOIN ocean.sys_user su2 ON su2.user_id = mom.modified_user_id
                LEFT JOIN fantech_imes.base_organization bo ON mom.organization_id = bo.organization_id
                LEFT JOIN smt_material sm ON sm.material_id = mom.material_id
                LEFT JOIN base_tab bt on bt.material_id = sm.material_id
                LEFT JOIN smt_product_model spm ON spm.product_model_id = bt.product_model_id
        <where>
            <if test="orderId != null and orderId !=''">
                and mom.order_id = #{orderId}
            </if>
            <if test="orderMaterialId != null and orderMaterialId !=''">
                and mom.order_material_id = #{orderMaterialId}
            </if>
            AND mom.is_delete = 1
        </where>
        ORDER BY
            mom.modified_time desc
    </select>
</mapper>