<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcBarcodeOperationMapper">
    <select id="workOrderDetail" resultType="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrder">
        select work_order_status as workOrderStatus,
               production_qty    as productionQty,
               work_order_qty    as workOrderQty,
               work_order_code   as workOrderCode
        from mes_pm_work_order
        where work_order_id = #{workOrderId}
    </select>

    <select id="findWorkOrderDetail" resultType="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrder">
        SELECT swo.work_order_id                   as workOrderId,
               swo.source_id                       as sourceId,
               swo.source_order_code               as sourceOrderCode,
               swo.core_source_order_code          as coreSourceOrderCode,
               swo.core_source_sys_order_type_code as coreSourceSysOrderTypeCode,
               swo.source_sys_order_type_code      as sourceSysOrderTypeCode,
               swo.sys_order_type_code             as sysOrderTypeCode,
               swo.source_big_type                 as sourceBigType,
               swo.core_source_id                  as coreSourceId,
               swo.work_order_code                 as workOrderCode,
               swo.parent_id                       as parentId,
               swo.sales_order_id                  as salesOrderId,
               swo.material_id                     as materialId,
               swo.work_order_qty                  as workOrderQty,
               swo.production_qty                  as productionQty,
               swo.output_qty                      as outputQty,
               swo.scheduled_qty                   as scheduledQty,
               swo.total_issue_qty                 as totalIssueQty,
               swo.if_all_issued                   as ifAllIssued,
               swo.work_order_status               as workOrderStatus,
               swo.pro_line_id                     as proLineId,
               swo.barcode_rule_set_id             as barcodeRuleSetId,
               swo.route_id                        as routeId,
               swo.work_order_type                 as workOrderType,
               swo.schedule_date                   as scheduleDate,
               swo.plan_start_time                 as planStartTime,
               swo.plan_end_time                   as planEndTime,
               swo.actual_start_time               as actualStartTime,
               swo.actual_end_time                 as actualEndTime,
               swo.create_user_id                  as createUserId,
               swo.create_time                     as createTime,
               swo.modified_user_id                as modifiedUserId,
               swo.modified_time                   as modifiedTime,
               swo.org_id                          as orgId,
               swo.put_into_process_id             as putIntoProcessId,
               swo.output_process_id               as outputProcessId,
               swo.scrap_qty                       as scrapQty,
               swo.inventory_qty                   as inventoryQty,
               swo.contract_no                     as contractNo,
               swo.batch_code                      as batchCode
        FROM mes_pm_work_order swo
        where swo.work_order_id = #{workOrderId}
    </select>

    <select id="findLabelCategoryCount" resultType="com.fantechs.common.base.general.entity.basic.BaseLabelCategory">
        select label_category_code as labelCategoryCode
        from base_label_category
        where label_category_id = #{labelCategoryId}
    </select>

    <select id="findSpec" resultType="com.fantechs.common.base.general.entity.basic.BaseBarcodeRuleSpec">
        select specification,
               customize_value     as customizeValue,
               barcode_length      as barcodeLength,
               step,
               customize_value     as customizeValue,
               fill_direction      as fillDirection,
               fill_operator       as fillOperator,
               intercept_direction as interceptDirection,
               intercept_position  as interceptPosition,
               initial_value       as initialValue,
               customize_name      as customizeName
        from base_barcode_rule_spec
        where barcode_rule_id = #{barcodeRuleId}
    </select>

    <select id="findByMaterialProcess"
            resultType="com.fantechs.common.base.general.dto.basic.BasePackageSpecificationDto" parameterType="map">
        select
        sps.package_specification_id as packageSpecificationId,
        sps.package_specification_code as packageSpecificationCode,
        sps.package_specification_name as packageSpecificationName,
        sps.package_specification_desc as packageSpecificationDesc,
        sps.package_specification_quantity as packageSpecificationQuantity,
        sps.status
        from base_package_specification sps
        LEFT JOIN base_material_package smp ON sps.package_specification_id = smp.package_specification_id
        <where>
            <if test="materialId != null">
                and smp.material_id=#{materialId}
            </if>
            <if test="processId != null">
                and smp.process_id=#{processId}
            </if>
        </where>
        order by sps.create_time desc
    </select>

    <select id="findList" parameterType="map"
            resultType="com.fantechs.common.base.general.dto.basic.BaseMaterialPackageDto">
        select
        smp.material_package_id as materialPackageId,
        smp.package_specification_id as packageSpecificationId,
        smp.material_id as materialId,
        smp.process_id as processId,
        smp.barcode_rule_id as barcodeRuleId,
        smp.packing_unit_id as packingUnitId,
        smp.`status`,
        smp.is_delete as isDelete,
        spu.packing_unit_name as packingUnitName,
        spu.packing_unit_desc as packingUnitDesc,
        sm.material_code as materialCode,
        sm.material_desc as materialDesc,
        sm.material_name as materialName,
        sm.material_version as materialVersion,
        sp.process_name as processName,
        sbr.barcode_rule as barcodeRule
        from base_material_package smp
        left join base_material sm on smp.material_id = sm.material_id
        left join base_process sp on smp.process_id = sp.process_id
        left join base_barcode_rule sbr on smp.barcode_rule_id = sbr.barcode_rule_id
        left join base_packing_unit spu on smp.packing_unit_id = spu.packing_unit_id
        <where>
            <if test="packageSpecificationId!= null">
                and smp.package_specification_id = #{packageSpecificationId}
            </if>
            <if test="orgId!=null">
                and smp.org_id=#{orgId}
            </if>
        </where>
    </select>

    <select id="findBaseBarcodeRule" resultType="com.fantechs.common.base.general.entity.basic.BaseBarcodeRule">
        select sbr.barcode_rule_id          as barcodeRuleId,
               sbr.barcode_rule_code        as barcodeRuleCode,
               sbr.barcode_rule_name        as barcodeRuleName,
               sbr.barcode_rule_desc        as barcodeRuleDesc,
               sbr.barcode_rule_category_id as labelCategoryId,
               sbr.barcode_rule             as barcodeRule,
               sbr.org_id                   as organizationId,
               sbr.remark,
               sbr.status,
               sbr.create_user_id           as createUserId,
               sbr.create_time              as createTime,
               sbr.modified_user_id         as modifiedUserId,
               sbr.modified_time            as modifiedTime
        from base_barcode_rule sbr
        where barcode_rule_id = #{barcodeRuleId}
    </select>

    <select id="findListRouteProcess" resultType="com.fantechs.common.base.general.entity.basic.BaseRouteProcess">
        select
        srp.route_process_id as routeProcessId,
        srp.route_id as routeId,
        srp.section_id as sectionId,
        srp.process_id as processId,
        srp.next_process_id as nextProcessId,
        srp.previous_process_id as previousProcessId,
        srp.standard_time as standardTime,
        srp.readiness_time as readinessTime,
        srp.order_num as orderNum,
        srp.is_pass as isPass,
        srp.is_must_pass as isMustPass,
        srp.inspection_time as inspectionTime,
        srp.qualification_id as qualificationId,
        srp.remark,
        srp.org_id as orgId,

        bpc.process_category_code as processCategoryCode,
        sps.process_name as nextProcessName,
        sr.route_name as routeName,
        ws.section_name as sectionName,
        sp.process_name as processName,
        p.process_name as previousProcessName,
        bo.organization_name as organizationName
        from base_route_process srp
        left join base_route sr on srp.route_id=sr.route_id
        left join base_workshop_section ws on srp.section_id=ws.section_id
        left join base_process sp on srp.process_id=sp.process_id
        left join base_process_category bpc on sp.process_category_id=bpc.process_category_id
        left join base_process sps on srp.next_process_id=sps.process_id
        left join base_process p on srp.previous_process_id=p.process_id
        LEFT JOIN base_organization bo ON srp.org_id = bo.organization_id
        <where>
            <if test="routeId != null">
                and srp.route_id=#{routeId}
            </if>
        </where>
        order by srp.order_num
    </select>

    <select id="findBaseProcess" resultType="com.fantechs.common.base.general.entity.basic.BaseProcess">
        select sp.process_id          as processId,
               sp.process_code        as processCode,
               sp.process_name        as processName,
               sp.process_desc        as processDesc,
               sp.section_id          as sectionId,
               sp.process_category_id as processCategoryId,
               sp.is_job_scan         as isJobScan,
               sp.is_start_scan       as isStartScan,
               sp.is_quality          as isQuality,
               sp.finish_time         as finishTime,
               sp.`status`,
               sp.org_id              as organizationId,
               sp.create_user_id      as createUserId,
               sp.create_time         as createTime,
               sp.modified_user_id    as modifiedUserId,
               sp.modified_time       as modifiedTime
        from base_process sp
        where sp.process_id = #{processId}
    </select>

    <select id="findBaseStation" resultType="com.fantechs.common.base.general.entity.basic.BaseStation">
        select ss.station_id       as stationId,
               ss.station_code     as stationCode,
               ss.station_name     as stationName,
               ss.station_desc     as stationDesc,
               ss.process_id       as processId,
               ss.section_id       as sectionId,
               ss.`status`,
               ss.org_id,
               ss.if_pass_station  as ifPassStation,
               ss.create_user_id   as createUserId,
               ss.create_time      as createTime,
               ss.modified_user_id as modifiedUserId,
               ss.modified_time    as modifiedTime
        from base_station ss
        where ss.station_id = #{stationId}
    </select>

    <select id="findBaseWorkshopSection" resultType="com.fantechs.common.base.general.entity.basic.BaseWorkshopSection">
        select sws.section_id       as sectionId,
               sws.section_code     as sectionCode,
               sws.section_name     as sectionName,
               sws.section_desc     as sectionDesc,
               sws.`status`,
               sws.org_id,
               sws.create_user_id   as createUserId,
               sws.create_time      as createTime,
               sws.modified_user_id as modifiedUserId,
               sws.modified_time    as modifiedTime
        from base_workshop_section sws
        where sws.section_id = #{sectionId}
    </select>

    <select id="findBaseProLine" resultType="com.fantechs.common.base.general.entity.basic.BaseProLine">
        select spl.pro_line_id      as proLineId,
               spl.pro_code         as proCode,
               spl.pro_name         as proName,
               spl.pro_desc         as proDesc,
               spl.factory_id       as factoryId,
               spl.work_shop_id     as workShopId,
               spl.status,
               spl.create_user_id   as createUserId,
               spl.create_time      as createTime,
               spl.modified_user_id as modifiedUserId,
               spl.modified_time    as modifiedTime
        from base_pro_line spl
        where spl.pro_line_id = #{proLineId}
    </select>

    <select id="findConfigureRout" resultType="com.fantechs.common.base.general.entity.basic.BaseRouteProcess">
        select
        srp.route_process_id as routeProcessId,
        srp.route_id as routeId,
        srp.section_id as sectionId,
        srp.process_id as processId,
        srp.next_process_id as nextProcessId,
        srp.previous_process_id as previousProcessId,
        srp.standard_time as standardTime,
        srp.readiness_time as readinessTime,
        srp.order_num as orderNum,
        srp.is_pass as isPass,
        srp.is_must_pass as isMustPass,
        srp.inspection_time as inspectionTime,
        srp.qualification_id as qualificationId,
        bpc.process_category_code as processCategoryCode,
        sps.process_name as nextProcessName,
        sr.route_name as routeName,
        ws.section_name as sectionName,
        sp.process_name as processName,
        p.process_name as previousProcessName,
        bo.organization_name as organizationName
        from base_route_process srp
        left join base_route sr on srp.route_id=sr.route_id
        left join base_workshop_section ws on srp.section_id=ws.section_id
        left join base_process sp on srp.process_id=sp.process_id
        left join base_process_category bpc on sp.process_category_id=bpc.process_category_id
        left join base_process sps on srp.next_process_id=sps.process_id
        left join base_process p on srp.previous_process_id=p.process_id
        LEFT JOIN base_organization bo ON srp.org_id = bo.organization_id
        <where>
            <if test="routeId != null">
                and srp.route_id=#{routeId}
            </if>
        </where>
        order by srp.order_num
    </select>

    <select id="findMesPmWorkOrder" resultType="com.fantechs.common.base.general.entity.mes.pm.MesPmWorkOrder">
        select material_id as materialId
        from mes_pm_work_order
        where work_order_id = #{workOrderId}
    </select>

    <select id="findPmWorkOrderProcessReWoList" parameterType="map"
            resultType="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderProcessReWoDto">
        select
        mpwoprw.work_order_process_re_wo_id as workOrderProcessReWoId
        from mes_pm_work_order_process_re_wo mpwoprw
        LEFT JOIN sys_user su ON mpwoprw.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON mpwoprw.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON mpwoprw.org_id = bo.organization_id
        LEFT JOIN mes_pm_work_order mpwo ON mpwoprw.work_order_id = mpwo.work_order_id
        LEFT JOIN base_material bm ON mpwo.material_id = bm.material_id
        LEFT JOIN base_process bp ON bp.process_id = mpwoprw.process_id
        LEFT JOIN base_workshop_section bws ON bws.section_id = bp.section_id
        LEFT JOIN base_process_category bpc ON bpc.process_category_id = bp.process_category_id
        <where>
            <if test="workOrderId != null">
                and mpwoprw.work_order_id = #{workOrderId}
            </if>
            <if test="workOrderCode != null and workOrderCode != ''">
                and mpwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and bm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialId != null">
                and bm.material_id like CONCAT('%', #{materialId}, '%')
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and bm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="processId != null">
                and bp.process_id = #{processId}
            </if>
            <if test="status != null">
                and mpwoprw.status = #{status}
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(mpwoprw.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by mpwoprw.create_time desc
    </select>

    <select id="findWorkOrderMaterialReP" resultType="com.fantechs.common.base.general.dto.mes.pm.MesPmWorkOrderMaterialRePDto">
        select
        mpwomrp.work_order_material_re_p_id as workOrderMaterialRePId,
        mpwomrp.work_order_process_re_wo_id as workOrderProcessReWoId,
        mpwomrp.scan_type as scanType,
        mpwomrp.label_category_id as labelCategoryId,
        mpwomrp.material_id as materialId,
        mpwomrp.usage_qty as usageQty,
        mpwomrp.sub_material_id as subMaterialId,
        bm.material_code as materialCode,
        bm.material_version as materialVersion,
        sbm.material_code AS subMaterialCode
        from mes_pm_work_order_material_re_p mpwomrp
        LEFT JOIN sys_user su ON mpwomrp.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON mpwomrp.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON mpwomrp.org_id = bo.organization_id
        LEFT JOIN base_material bm ON bm.material_id = mpwomrp.material_id
        LEFT JOIN base_material sbm ON sbm.material_id = mpwomrp.sub_material_id
        LEFT JOIN base_label_category blc ON blc.label_category_id = mpwomrp.label_category_id
        <where>
            <if test="workOrderProcessReWoId != null">
                and mpwomrp.work_order_process_re_wo_id = #{workOrderProcessReWoId}
            </if>
        </where>
        order by mpwomrp.create_time desc
    </select>

    <select id="findSignatureList" parameterType="map" resultType="com.fantechs.common.base.general.entity.basic.BaseSignature">
        select
        ss.material_id as materialId,
        ss.signature_regex as signatureRegex,
        sm.material_code as materialCode,
        sm.material_name as materialName,
        sm.material_version as materialVersion
        from base_signature ss
        left join base_material sm on ss.material_id=sm.material_id
        left join base_supplier ssu on ss.supplier_id=ssu.supplier_id
        left join sys_user u on ss.create_user_id=u.user_id
        left join sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON ss.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(ss.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and sm.material_name like CONCAT('%', #{materialName}, '%')
            </if>
            <if test="signatureCode!=null and signatureCode!=''">
                and ss.signature_code like CONCAT('%', #{signatureCode}, '%')
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
            <if test="materialIds!=null">
                <foreach collection="materialIds" index="index" item="item" open="and ss.material_id in (" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by ss.create_time desc
    </select>

    <select id="findSalesCodeReSpc" parameterType="map" resultType="com.fantechs.common.base.general.dto.om.OmSalesCodeReSpcDto">
        SELECT
        oscrs.sales_code_re_spc_id,
        oscrs.sales_code,
        oscrs.same_package_code,
        oscrs.material_id,
        oscrs.product_model_id,
        oscrs.priority,
        oscrs.same_package_code_status,
        oscrs.same_package_code_qty,
        oscrs.matched_qty,
        oscrs.STATUS,
        oscrs.is_delete,
        oscrs.remark,
        oscrs.org_id,
        oscrs.create_user_id,
        oscrs.create_time,
        oscrs.modified_user_id,
        oscrs.modified_time,
        bm.material_code,
        bm.material_name,
        bpm.product_model_code,
        bpm.product_model_name,
        bo.organization_name,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name
        FROM
        om_sales_code_re_spc oscrs
        LEFT JOIN base_material bm ON oscrs.material_id = bm.material_id
        LEFT JOIN base_product_model bpm ON oscrs.product_model_id = bpm.product_model_id
        LEFT JOIN sys_user su ON oscrs.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON oscrs.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON oscrs.org_id = bo.organization_id
        <where>
            <if test="samePackageCodeStatus != null">
                and oscrs.same_package_code_status = #{samePackageCodeStatus}
            </if>

            <if test="orgId != null">
                and oscrs.org_id = #{orgId}
            </if>

            <if test="salesCode != null and salesCode != ''">
                and oscrs.sales_code like CONCAT('%', #{salesCode}, '%')
            </if>

            <if test="materialCode != null and materialCode != ''">
                and bm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>

            <if test="samePackageCode != null and samePackageCode != ''">
                and oscrs.same_package_code like CONCAT('%', #{samePackageCode}, '%')
            </if>
        </where>
        ORDER BY oscrs.create_time DESC
    </select>
</mapper>