<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcDataCollectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcDataCollect">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="data_collect_id" jdbcType="BIGINT" property="dataCollectId" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="collect_data" jdbcType="VARCHAR" property="collectData" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcDataCollectDto">
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_ip" jdbcType="VARCHAR" property="equipmentIp" />
    <result column="x_axis" jdbcType="DECIMAL" property="xAxis" />
    <result column="y_axis" jdbcType="DECIMAL" property="yAxis" />
  </resultMap>

  <sql id="BaseColumnList">
    msdc.data_collect_id,
    msdc.equipment_id,
    msdc.collect_data,
    msdc.collect_time,
    msdc.status,
    msdc.remark,
    msdc.org_id,
    msdc.create_user_id,
    msdc.create_time,
    msdc.modified_user_id,
    msdc.modified_time,
    msdc.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultDtoMap" parameterType="map">
    select
        <include refid="BaseColumnList"/>,
        ee.equipment_code,
        ee.equipment_name,
        ee.equipment_ip
    FROM mes_sfc_data_collect msdc
    LEFT JOIN eam_equipment ee ON msdc.equipment_id = ee.equipment_id
  </select>

  <select id="findByGroup" resultMap="BaseResultDtoMap" parameterType="java.lang.Long">
    SELECT
    <include refid="BaseColumnList"/>,
    ee.equipment_code,
    ee.equipment_name,
    ee.equipment_ip,
    ee.x_axis,
    ee.y_axis
    FROM
    (SELECT SUBSTRING_INDEX( GROUP_CONCAT( data_collect_id ORDER BY data_collect_id DESC ), ',', 1 ) AS data_collect_id
    FROM mes_sfc_data_collect
    GROUP BY equipment_id ) AS dci
    LEFT JOIN mes_sfc_data_collect msdc ON dci.data_collect_id = msdc.data_collect_id
    LEFT JOIN eam_equipment ee ON msdc.equipment_id = ee.equipment_id
    <where>
      <if test="equipmentId != null">
        and msdc.equipment_id = #{equipmentId}
      </if>
    </where>
  </select>

</mapper>