<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcReworkOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcReworkOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rework_order_id" jdbcType="BIGINT" property="reworkOrderId" />
    <result column="rework_order_code" jdbcType="VARCHAR" property="reworkOrderCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="rework_route_id" jdbcType="BIGINT" property="reworkRouteId" />
    <result column="rework_start_process_id" jdbcType="BIGINT" property="reworkStartProcessId" />
    <result column="rework_status" jdbcType="TINYINT" property="reworkStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcReworkOrderDto">
    <result column="route_code" jdbcType="VARCHAR" property="routeCcode" />
    <result column="route_name" jdbcType="VARCHAR" property="routeName" />
    <result column="process_code" jdbcType="VARCHAR" property="processCode" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode" />
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName" />
  </resultMap>

  <select id="findList" parameterType="map" resultMap="BaseResultDtoMap">
    SELECT
    msro.*,
    br.route_code,
    br.route_name,
    bp.process_code,
    bp.process_name,
    bm.material_code,
    bm.material_name,
    bpm.product_model_code,
    bpm.product_model_name
    FROM
    mes_sfc_rework_order msro
    LEFT JOIN base_route br ON br.route_id = msro.rework_route_id
    LEFT JOIN base_process bp ON bp.process_id = msro.rework_start_process_id
    LEFT JOIN base_material bm ON bm.material_id = msro.material_id
    LEFT JOIN base_material_tab bmt ON bmt.material_id = msro.material_id
    LEFT JOIN base_product_model bpm ON bpm.product_model_id = bmt.product_model_id
    <where>
      <if test="reworkOrderCode != null">
        and msro.rework_order_code like CONCAT('%',#{reworkOrderCode},'%')
      </if>
      <if test="reworkStatus != null">
        and msro.rework_status = #{reworkStatus}
      </if>
    </where>
  </select>

<!-- 获取今天返工单编码倒序第一条数据 -->
  <select id="getFirstTodayReworkOrder" resultMap="BaseResultDtoMap">
    SELECT
      *
    FROM
      mes_sfc_rework_order msro
    WHERE
      TO_DAYS(msro.create_time) = TO_DAYS(NOW())
    ORDER BY
      msro.rework_order_code DESC
    LIMIT 1
  </select>
</mapper>