<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcProductPalletDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcProductPalletDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_pallet_det_id" jdbcType="BIGINT" property="productPalletDetId" />
    <result column="product_pallet_id" jdbcType="BIGINT" property="productPalletId" />
    <result column="work_order_barcode_id" jdbcType="BIGINT" property="workOrderBarcodeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcProductPalletDetDto">
  </resultMap>

  <resultMap id="BaseResultDto" type="com.fantechs.common.base.general.dto.wms.in.PalletAutoAsnDto">
    <result column="stacking_id" jdbcType="BIGINT" property="stackingId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="supplier_name" jdbcType="VARCHAR" property="customerName" />
    <result column="sales_code" jdbcType="VARCHAR" property="salesOrderCode" />
    <result column="sales_user_name" jdbcType="VARCHAR" property="salesManName" />
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="logic_id" jdbcType="BIGINT" property="logicId"/>
    <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
    <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode"/>
    <result column="work_order_qty" jdbcType="VARCHAR" property="workOrderQty"/>
  </resultMap>

  <sql id="BaseColumnList">
    msppd.product_pallet_det_id,
    msppd.product_pallet_id,
    msppd.work_order_barcode_id,
    msppd.remark,
    msppd.org_id,
    msppd.create_user_id,
    msppd.create_time,
    msppd.modified_user_id,
    msppd.modified_time,
    msppd.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultDtoMap" parameterType="map">
    select <include refid="BaseColumnList"/>, mspc.carton_code as cartonCode
    FROM mes_sfc_product_pallet_det msppd
    LEFT JOIN mes_sfc_product_carton_det mspcd ON msppd.work_order_barcode_id = mspcd.work_order_barcode_id
    LEFT JOIN mes_sfc_product_carton mspc ON mspcd.product_carton_id = mspc.product_carton_id
    <where>
      <if test="productPalletId != null">
        and msppd.product_pallet_id = #{productPalletId}
      </if>
      <if test="productPalletIds != null">
        <foreach collection="productPalletIds" open="and msppd.product_pallet_id in (" separator="," close=")" item="value">
          #{value}
        </foreach>
      </if>
      <if test="workOrderBarcodeId != null">
        and msppd.work_order_barcode_id = #{workOrderBarcodeId}
      </if>
      <if test="orgId != null">
        and msppd.org_id = #{orgId}
      </if>
    </where>
    <if test="groupBy != null and groupBy != ''">
      group by cartonCode
    </if>
  </select>

  <select id="findListGroupByWorkOrder" resultMap="BaseResultDto" parameterType="map">
    SELECT
    msbp.work_order_id AS source_order_id,
    mpwo.material_id AS material_id,
    msbp.material_code,
    sps.package_specification_quantity AS packing_unit_name,
    COUNT( msbp.work_order_id ) AS packing_qty,
    COUNT( msbp.work_order_id ) AS actual_qty,
    oso.supplier_id,
    bs.supplier_name,
    mpwo.sales_code,
    oscrs.same_package_code,
    oso.sales_user_name,
    mpwo.work_order_code,
    mpwo.logic_id,
    mpwo.pro_line_id,
    mpwo.work_order_qty
    FROM
    mes_sfc_barcode_process msbp
    LEFT JOIN mes_pm_work_order mpwo ON msbp.work_order_id = mpwo.work_order_id
    LEFT JOIN base_material_tab bt ON bt.material_id = mpwo.material_id
    LEFT JOIN base_package_specification sps ON sps.package_specification_id = bt.package_specification_id
    LEFT JOIN om_sales_order oso ON mpwo.sales_order_id = oso.sales_order_id
    LEFT JOIN base_supplier bs ON oso.supplier_id = bs.supplier_id
    LEFT JOIN om_sales_code_re_spc oscrs ON msbp.sales_code_re_spc_id = oscrs.sales_code_re_spc_id
    <where>
      <if test="orgId != null">
        and mpwo.org_id = #{orgId}
      </if>
    <if test="barcodeList != null">
      <foreach collection="barcodeList" item="item" open="and msbp.barcode IN (" close=")" separator="," >
        #{item}
      </foreach>
    </if>
    </where>
    GROUP BY mpwo.material_id
  </select>

</mapper>