<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcReworkOrderBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcReworkOrderBarcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rework_order_barcode_id" jdbcType="BIGINT" property="reworkOrderBarcodeId" />
    <result column="rework_order_id" jdbcType="BIGINT" property="reworkOrderId" />
    <result column="work_order_barcode_id" jdbcType="BIGINT" property="workOrderBarcodeId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcReworkOrderBarcodeDto">
  </resultMap>

  <sql id="BaseColumnList">
    msrob.rework_order_barcode_id,
    msrob.rework_order_id,
    msrob.work_order_barcode_id,
    msrob.work_order_id,
    msrob.status,
    msrob.remark,
    msrob.org_id,
    msrob.create_user_id,
    msrob.create_time,
    msrob.modified_user_id,
    msrob.modified_time,
    msrob.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultDtoMap">
    SELECT <include refid="BaseColumnList"/> FROM mes_sfc_rework_order_barcode msrob
    <where>
      <if test="reworkOrderId != null">
        and msrob.rework_order_id = #{reworkOrderId}
      </if>
    </where>
  </select>
</mapper>