<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcWorkOrderBarcodeMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcWorkOrderBarcode">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="work_order_barcode_id" jdbcType="BIGINT" property="workOrderBarcodeId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="barcode_status" jdbcType="TINYINT" property="barcodeStatus"/>
        <result column="label_category_id" jdbcType="BIGINT" property="labelCategoryId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="print_time" jdbcType="TIMESTAMP" property="printTime"/>
        <result column="create_barcode_time" jdbcType="TIMESTAMP" property="createBarcodeTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>
    <resultMap id="BaseResultDtoMap" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcWorkOrderBarcodeDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="label_category_name" jdbcType="VARCHAR" property="labelCategoryName"/>
        <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode" />
        <result column="cutsomer_barcode" jdbcType="VARCHAR" property="cutsomerBarcode" />
        <result column="sales_barcode" jdbcType="VARCHAR" property="salesBarcode" />
    </resultMap>
    <resultMap id="BaseRuleMap" type="com.fantechs.common.base.general.dto.mes.sfc.LabelRuteDto">
    </resultMap>
    <resultMap id="BaseResultDto" type="com.fantechs.common.base.general.dto.wms.in.PalletAutoAsnDto">
        <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
        <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
        <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    </resultMap>
    <sql id="BaseColumnList">
        mswob.work_order_barcode_id,
        mswob.parent_id,
        mswob.barcode,
        mswob.work_order_id,
        mswob.work_order_code,
        mswob.barcode_status,
        mswob.label_category_id,
        mswob.remark,
        mswob.org_id,
        mswob.create_user_id,
        mswob.create_time,
        mswob.modified_user_id,
        mswob.modified_time,
        mswob.print_time,
        mswob.create_barcode_time,
        mswob.is_delete
    </sql>
    <select id="findList" resultMap="BaseResultDtoMap"
            parameterType="com.fantechs.common.base.general.entity.mes.sfc.SearchMesSfcWorkOrderBarcode">
        select<include refid="BaseColumnList"/>,su.user_name as create_user_name,sus.user_name as
        modified_user_name,bo.organization_name,blc.label_category_name,msbp.same_package_code,
        CASE mswob.option1
        WHEN 5 THEN
        sod.material_id
        ELSE
        mpwo.material_id
        END 'material_id',
        CASE mswob.option1
        WHEN 5 THEN
        bms.material_code
        ELSE
        bm.material_code
        END 'material_code',
        CASE mswob.option1
        WHEN 5 THEN
        bms.material_name
        ELSE
        bm.material_name
        END 'material_name'
        FROM mes_sfc_work_order_barcode mswob
        LEFT JOIN ocean_v2.sys_user su ON mswob.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON mswob.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON mswob.org_id = bo.organization_id
        LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
        left join om_sales_order_det sod on mswob.work_order_id = sod.sales_order_det_id
        LEFT JOIN base_material bm on mpwo.material_id = bm.material_id
        left join base_material bms on sod.material_id = bms.material_id
        left join base_label_category blc on mswob.label_category_id = blc.label_category_id
        LEFT JOIN mes_sfc_barcode_process msbp ON mswob.work_order_barcode_id = msbp.work_order_barcode_id
        <where>
            <if test="workOrderId != null">
                and mswob.work_order_id = #{workOrderId}
            </if>
            <if test="labelCategoryId != null">
                and mswob.labelCategoryId = #{labelCategoryId}
            </if>
            <if test="barcode != null and barcode != ''">
                and mswob.barcode = #{barcode}
            </if>
            <if test="workOrderBarcodeId != null">
                and mswob.work_order_barcode_id = #{workOrderBarcodeId}
            </if>
            <if test="orgId!=null and orgId!=''">
                and mswob.org_id =#{orgId}
            </if>
            <if test="barcodeStatus!=null and barcodeStatus!=''">
                and mswob.barcode_status = #{barcodeStatus}
            </if>
            <if test="barcodeType!=null and barcodeType!=''">
                <choose>
                    <when test="barcodeType==1">
                        and blc.label_category_name = '工单流转卡'
                    </when>
                    <when test="barcodeType==2">
                        and blc.label_category_name = '产品条码'
                    </when>
                    <when test="barcodeType==3">
                        and blc.label_category_name = '客户条码'
                    </when>
                    <when test="barcodeType==4">
                        and blc.label_category_name = '销售订单条码'
                    </when>
                </choose>
            </if>
        </where>
order by mswob.create_time desc
    </select>
    <select id="findMaxCode" resultType="java.lang.String">
        select barcode
        FROM mes_sfc_work_order_barcode
        where labelCategoryId = #{barcodeType}
          and work_order_id = #{workOrderId}
        order by work_order_barcode_id desc LIMIT 1
    </select>
    <!--查询条码解析码及标签模版（工单条码打印）-->
    <select id="findRule" resultMap="BaseRuleMap">
        SELECT br.barcode_rule as 'barcodeRule',br.barcode_rule_id as 'barcodeRuleId',lc.barcode_type as 'barcodeType',bl.label_code as 'labelCode', bl.label_name as 'labelName',bl.label_version as 'labelVersion',bl.print_mode as 'printMode',
        lc.label_category_id as 'labelCategoryId',(mpwo.work_order_qty-IFNULL((select COUNT(*)
                                                                        FROM mes_sfc_work_order_barcode
                                                                        where label_category_id = lc.label_category_id
                                                                          and work_order_id = mpwo.work_order_id),0)) as 'oncePrintQty',lm.once_print_count as 'size'
        FROM mes_pm_work_order mpwo
                 left join base_barcode_rule_set_det brs on brs.barcode_rule_set_id = mpwo.barcode_rule_set_id
                 LEFT JOIN base_barcode_rule br ON brs.barcode_rule_id = br.barcode_rule_id
                 LEFT JOIN base_label_material lm ON mpwo.material_id = lm.material_id
                 LEFT JOIN base_label bl ON lm.label_id = bl.label_id
                 LEFT JOIN base_label_category lc ON bl.label_category_id = lc.label_category_id AND
                                                     bl.label_category_id = lc.label_category_id
        where mpwo.work_order_id = #{workOrderId}
          and br.barcode_rule_category_id = lc.label_category_id
          AND lc.label_category_code = #{code}
    </select>
    <select id="findOmRule" resultMap="BaseRuleMap">
        SELECT br.barcode_rule as 'barcodeRule',br.barcode_rule_id as 'barcodeRuleId',lc.barcode_type as 'barcodeType',bl.label_code as 'labelCode', bl.label_name as 'labelName',bl.label_version as 'labelVersion',bl.print_mode as 'printMode',
                lc.label_category_id as 'labelCategoryId',(osod.order_qty-IFNULL((select COUNT(*)
                                                                                  FROM mes_sfc_work_order_barcode
                                                                                  where label_category_id = lc.label_category_id
                                                                                    and work_order_id = osod.sales_order_det_id),0)) as 'oncePrintQty',lm.once_print_count as 'size'
        FROM om_sales_order_det osod
                 LEFT JOIN om_sales_order oso ON oso.sales_order_id = osod.sales_order_id
                 left join base_barcode_rule_set_det brs on brs.barcode_rule_set_id = oso.barcode_rule_set_id
                 LEFT JOIN base_barcode_rule br ON brs.barcode_rule_id = br.barcode_rule_id
                 LEFT JOIN base_label_material lm ON osod.material_id = lm.material_id
                 LEFT JOIN base_label bl ON lm.label_id = bl.label_id
                 LEFT JOIN base_label_category lc ON bl.label_category_id = lc.label_category_id AND
                                                     bl.label_category_id = lc.label_category_id
        where osod.sales_order_det_id=#{salesOrderDetId}
          and br.barcode_rule_category_id = lc.label_category_id
          AND lc.label_category_code = 02
    </select>
    <!--查询默认模版-->
    <select id="DefaultLabel" resultMap="BaseRuleMap">
        SELECT bl.label_code, bl.label_name, bl.label_version
        FROM base_label bl
                 LEFT JOIN base_label_category blc ON bl.label_category_id = blc.label_category_id
        WHERE blc.label_category_code = #{labelCategoryCode}
    </select>
    <select id="findPrintModel" resultType="com.fantechs.common.base.general.dto.mes.sfc.PrintModel">
        select * FROM ${labelCode}
        <where>
            id = #{id}
            <if test="_parameter.containsKey('labelCategoryId')">
                <if test="labelCategoryId!=null and labelCategoryId!=''">
                    and label_category_id = #{labelCategoryId}
                </if>
            </if>
        </where>
    </select>
    <select id="findByOneLabel" resultType="java.lang.String">
        select blc.label_category_name
        FROM base_label_category blc
                 LEFT JOIN base_label bl ON bl.label_category_id = blc.label_category_id
        where bl.label_Name = #{labelName}
    </select>
    <select id="finByTypeId" resultType="java.lang.Long">
        select label_category_id
        FROM base_label_category
        where label_category_name = #{labelCategoryName}
    </select>
    <select id="findCountCode" resultType="java.lang.Integer">
        select COUNT(*)
        FROM mes_sfc_work_order_barcode
        where label_category_id = #{barcodeType}
          and work_order_id = #{workOrderId}
    </select>
    <select id="saleOrderTotalQty" resultType="java.math.BigDecimal">
        <choose>
            <when test="type=1">
                SELECT IFNULL(COUNT(*),0) FROM mes_sfc_work_order_barcode WHERE work_order_id IN(SELECT sales_order_det_id FROM om_sales_order_det WHERE sales_order_id=#{salesOrderId}) AND label_category_id=#{barcodeTypeId}
            </when>
            <otherwise>
                SELECT sum(order_qty) FROM om_sales_order_det WHERE sales_order_id=#{salesOrderId}
            </otherwise>
        </choose>

    </select>
    <select id="findVersion" resultType="java.lang.String">
        select label_version
        From base_label
        where label_name = #{labelName}
    </select>
    <select id="findByWorkOrderGroup" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
            mes_sfc_product_carton_det mspcd
        LEFT JOIN mes_sfc_work_order_barcode mswob ON mswob.work_order_barcode_id = mspcd.work_order_barcode_id
        LEFT JOIN mes_sfc_product_carton mspc ON mspc.product_carton_id = mspcd.product_carton_id
        <where>
            <if test="productCartonId != null">
                and mspcd.product_carton_id = #{productCartonId}
            </if>
            <if test="cartonCode != null">
                and mspc.carton_code = #{cartonCode}
            </if>
        </where>
        GROUP BY mswob.work_order_id
    </select>

    <update id="batchUpdate" parameterType="java.util.ArrayList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update mes_sfc_work_order_barcode
            <set>
                barcode_status = #{item.barcodeStatus}
            </set>
            where work_order_barcode_id =#{item.workOrderBarcodeId}
        </foreach>
    </update>

    <select id="findListGroupByWorkOrder" resultMap="BaseResultDto" parameterType="map">
        SELECT
        mswob.work_order_id AS source_order_id,
        mpwo.material_id AS material_id,
        sps.package_specification_quantity AS packing_unit_name,
        COUNT( mswob.work_order_barcode_id ) AS packing_qty,
        COUNT( mswob.work_order_barcode_id ) AS actual_qty
        FROM
        mes_sfc_work_order_barcode mswob
        LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
        LEFT JOIN base_material_tab bt ON bt.material_id = mpwo.material_id
        LEFT JOIN base_package_specification sps ON sps.package_specification_id = bt.package_specification_id
        <where>
            <if test="orgId != null">
                and mswob.org_id = #{orgId}
            </if>
            <if test="list != null">
                <foreach collection="list" open="and mswob.work_order_barcode_id IN (" separator="," close=")" item="value">
                    #{value}
                </foreach>
            </if>
        </where>
        GROUP BY
        mswob.work_order_id
    </select>

    <select id="findListByPalletDet" resultMap="BaseResultDtoMap" parameterType="map">
        SELECT <include refid="BaseColumnList"/>,
        bm.material_code,
        msbp.same_package_code,
        mskpr.part_barcode AS 'cutsomer_barcode',
        mskpr2.part_barcode AS 'sales_barcode'
        FROM mes_sfc_work_order_barcode mswob
        LEFT JOIN mes_sfc_product_pallet_det msppd ON msppd.work_order_barcode_id = mswob.work_order_barcode_id
        LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
        LEFT JOIN base_material bm ON mpwo.material_id = bm.material_id
        LEFT JOIN mes_sfc_barcode_process msbp ON mswob.work_order_barcode_id = msbp.work_order_barcode_id
        LEFT JOIN mes_sfc_key_part_relevance mskpr ON mswob.work_order_barcode_id = mskpr.work_order_barcode_id AND mskpr.material_id IS NOT NULL
        LEFT JOIN mes_sfc_key_part_relevance mskpr2 ON mswob.work_order_barcode_id = mskpr2.work_order_barcode_id AND mskpr2.label_category_id IS NOT NULL
        <where>
            <if test="orgId != null">
                and mswob.org_id = #{orgId}
            </if>
            <if test="productPalletId != null">
                and msppd.product_pallet_id = #{productPalletId}
            </if>
        </where>
    </select>

    <select id="findListByCartonDet" resultMap="BaseResultDtoMap" parameterType="map">
        SELECT <include refid="BaseColumnList"/>,
        bm.material_code,
        msbp.same_package_code,
        mskpr.part_barcode AS 'cutsomer_barcode',
        mskpr2.part_barcode AS 'sales_barcode'
        FROM mes_sfc_work_order_barcode mswob
        LEFT JOIN mes_sfc_product_carton_det mspcd ON mspcd.work_order_barcode_id = mswob.work_order_barcode_id
        LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
        LEFT JOIN base_material bm ON mpwo.material_id = bm.material_id
        LEFT JOIN mes_sfc_barcode_process msbp ON mswob.work_order_barcode_id = msbp.work_order_barcode_id
        LEFT JOIN mes_sfc_key_part_relevance mskpr ON mswob.work_order_barcode_id = mskpr.work_order_barcode_id AND mskpr.material_id IS NOT NULL
        LEFT JOIN mes_sfc_key_part_relevance mskpr2 ON mswob.work_order_barcode_id = mskpr2.work_order_barcode_id AND mskpr2.label_category_id IS NOT NULL
        <where>
            <if test="orgId != null">
                and mswob.org_id = #{orgId}
            </if>
            <if test="productCartonId != null">
                and mspcd.product_carton_id = #{productCartonId}
            </if>
        </where>
    </select>

    <select id="findSysUser" resultType="java.lang.String">
        SELECT su.`password` FROM ocean_v2.sys_user_role sur
        LEFT JOIN ocean_v2.sys_role sr ON sur.role_id = sr.role_id
        LEFT JOIN ocean_v2.sys_user su ON sur.user_id = su.user_id
        WHERE sr.role_code=015 AND su.user_code=#{userCode}
    </select>

    <select id="findLabelView" resultType="java.lang.String">
        SELECT TABLE_NAME FROM INFORMATION_SCHEMA.VIEWS WHERE TABLE_SCHEMA= 'fantech_imes_v2' AND TABLE_NAME = #{labelCode}
    </select>
</mapper>