<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.mes.sfc.mapper.MesSfcProductPalletDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mes.sfc.MesSfcProductPalletDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_pallet_det_id" jdbcType="BIGINT" property="productPalletDetId" />
    <result column="product_pallet_id" jdbcType="BIGINT" property="productPalletId" />
    <result column="work_order_barcode_id" jdbcType="BIGINT" property="workOrderBarcodeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.mes.sfc.MesSfcProductPalletDetDto">
  </resultMap>

  <sql id="BaseColumnList">
    msppd.product_pallet_det_id,
    msppd.product_pallet_id,
    msppd.work_order_barcode_id,
    msppd.remark,
    msppd.org_id,
    msppd.create_user_id,
    msppd.create_time,
    msppd.modified_user_id,
    msppd.modified_time,
    msppd.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultDtoMap" parameterType="map">
    select <include refid="BaseColumnList"/>
    FROM mes_sfc_product_pallet_det msppd
    <where>
      <if test="productPalletId != null">
        and msppd.product_pallet_id = #{productPalletId}
      </if>
      <if test="workOrderBarcodeId != null">
        and msppd.work_order_barcode_id = #{workOrderBarcodeId}
      </if>
    </where>
  </select>

</mapper>