<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.storage.mapper.SmtStoragePalletMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.storage.SmtStoragePallet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="storage_pallet_id" jdbcType="BIGINT" property="storagePalletId" />
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="pallet_type" jdbcType="TINYINT" property="palletType" />
    <result column="is_binding" jdbcType="TINYINT" property="isBinding" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.dto.storage.SmtStoragePalletDto">
  </resultMap>

  <sql id="Base_Column_List">
    sp.storage_pallet_id,
    sp.pallet_code,
    sp.storage_id,
    sp.pallet_type,
    sp.is_binding,
    sp.`status`,
    sp.remark,
    sp.organization_id,
    sp.create_user_id,
    sp.create_time,
    sp.modified_user_id,
    sp.modified_time,
    sp.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    SELECT <include refid="Base_Column_List"></include>
    FROM
    smt_storage_pallet AS sp
    LEFT JOIN ocean.sys_user su ON sp.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON sp.modified_user_id = sus.user_id
    <where>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(sp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="palletCode != null and palletCode != ''">
        and sp.pallet_code like CONCAT('%', #{palletCode}, '%')
      </if>
      <if test="isBinding != null and isBinding != ''">
        and sp.is_binding = #{isBinding}
      </if>
      <if test="isDelete != null and isDelete != ''">
        and sp.is_delete = #{isDelete}
      </if>
    </where>

  </select>
</mapper>