<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.imes.storage.mapper.StorageMonthEndInventoryMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.storage.StorageMonthEndInventory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="month_end_inventory_id" jdbcType="BIGINT" property="monthEndInventoryId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="box_number" jdbcType="DECIMAL" property="boxNumber"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
        <result column="material_total" jdbcType="DECIMAL" property="materialTotal"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.dto.storage.StorageMonthEndInventoryDto"
               extends="BaseResultMap">
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode"/>

        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
    smei.month_end_inventory_id,
    smei.storage_id,
    smei.material_id,
    smei.box_number,
    smei.total,
    smei.`status`,
    smei.remark,
    smei.organization_id,
    smei.create_user_id,
    smei.create_time,
    smei.modified_user_id,
    smei.modified_time,
    smei.is_delete
  </sql>

    <select id="findMonthEndList" resultMap="BaseResultMapDto" parameterType="map">
        select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS
        modified_user_name,bo.organization_name
        ,sw.warehouse_name,swa.warehouse_area_name,ss.storage_name,sm.material_code,sm.material_desc,
        ssi.quantity,spm.product_model_name,sss.supplier_name,so.contract_code,smei.material_total
        FROM storage_month_end_inventory smei
        LEFT JOIN mes_package_manager mpm ON mpm.bar_code = smei.material_barcode_code
        LEFT JOIN smt_work_order swo ON swo.work_order_id = mpm.work_order_id
        LEFT JOIN smt_order so ON so.order_id = swo.order_id
        left join smt_supplier sss ON sss.supplier_id = so.supplier_id

        LEFT JOIN ocean.sys_user su ON smei.create_user_id = su.user_id
        LEFT JOIN ocean.sys_user sus ON smei.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes.base_organization bo ON smei.organization_id = bo.organization_id
        LEFT JOIN fantech_imes.smt_storage_inventory ssi ON ssi.storage_id = smei.storage_id and ssi.material_id =
        smei.material_id
        LEFT JOIN fantech_imes.smt_storage ss on smei.storage_id = ss.storage_id
        LEFT JOIN fantech_imes.smt_warehouse sw on sw.warehouse_id = ss.warehouse_id
        LEFT JOIN fantech_imes.smt_warehouse_area swa on swa.warehouse_area_id = ss.warehouse_area_id
        LEFT JOIN fantech_imes.smt_material sm on sm.material_id = smei.material_id
        LEFT JOIN fantech_imes.base_tab bt on bt.material_id = ssi.material_id
        LEFT JOIN fantech_imes.smt_product_model spm on spm.product_model_id = bt.product_model_id
        <where>
            <if test="warehouseName != null and warehouseName != ''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseAreaName != null and warehouseAreaName != ''">
                and saw.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="storageName != null and storageName != ''">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="productModelName != null and productModelName != ''">
                and spm.productModelName like CONCAT('%', #{productModelName}, '%')
            </if>
            <if test="month != null and month != ''">
                and smei.create_time like CONCAT(#{month}, '%')
            </if>
        </where>
    </select>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        ssi.material_id,
        ssi.storage_id,
        sss.supplier_name,
        so.contract_code,
        sw.warehouse_name,
        swa.warehouse_area_name,
        ss.storage_name,
        sm.material_code,
        sm.material_desc,
        ssid.material_quantity as total,
        ssi.quantity as material_total,
        spm.product_model_name,
        ifnull(
        CEILING( sum(ssid.material_quantity) / ( SELECT sps.package_specification_quantity FROM
        smt_package_specification sps
        WHERE sps.package_specification_id = bt.package_specification_id ) ),
        sum(ssid.material_quantity)
        ) AS box_number
        FROM
        smt_storage_inventory_det ssid
        LEFT JOIN smt_storage_inventory ssi ON ssi.storage_inventory_id = ssid.storage_inventory_id
        LEFT JOIN mes_package_manager mpm ON mpm.bar_code = ssid.material_barcode_code
        LEFT JOIN smt_work_order swo ON swo.work_order_id = mpm.work_order_id
        LEFT JOIN smt_order so ON so.order_id = swo.order_id
        left join smt_storage ss on ssi.storage_id = ss.storage_id
        left join smt_warehouse sw on sw.warehouse_id = ss.warehouse_id
        left join smt_warehouse_area swa on swa.warehouse_area_id = ss.warehouse_area_id
        left join smt_material sm on sm.material_id = ssi.material_id
        left join base_tab bt on bt.material_id = ssi.material_id
        left join smt_product_model spm on spm.product_model_id = bt.product_model_id
        left join smt_supplier sss ON sss.supplier_id = so.supplier_id
        <where>
            ssid.material_quantity > 0
            <if test="warehouseName != null and warehouseName != ''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseAreaName != null and warehouseAreaName != ''">
                and saw.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="storageName != null and storageName != ''">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="productModelName != null and productModelName != ''">
                and spm.productModelName like CONCAT('%', #{productModelName}, '%')
            </if>
            <if test="month != null and month != ''">
                and smei.create_time like CONCAT(#{month}, '%')
            </if>
        </where>
        group by mpm.work_order_id
    </select>

</mapper>
