<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.baseapi.esop.mapper.EsopDeptMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.restapi.esop.EsopDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="cus_type" jdbcType="INTEGER" property="cusType" />
    <result column="if_second" jdbcType="INTEGER" property="ifSecond" />
    <result column="is_leaf" jdbcType="CHAR" property="isLeaf" />
    <result column="is_manu_facture" jdbcType="CHAR" property="isManuFacture" />
    <result column="is_proc" jdbcType="CHAR" property="isProc" />
    <result column="line_type_id" jdbcType="VARCHAR" property="lineTypeId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="organize_address" jdbcType="VARCHAR" property="organizeAddress" />
    <result column="organize_man" jdbcType="VARCHAR" property="organizeMan" />
    <result column="organize_type" jdbcType="VARCHAR" property="organizeType" />
    <result column="org_flag" jdbcType="CHAR" property="orgFlag" />
    <result column="org_type" jdbcType="CHAR" property="orgType" />
    <result column="pay_way" jdbcType="INTEGER" property="payWay" />
    <result column="wc_no" jdbcType="VARCHAR" property="wcNo" />
    <result column="worktime_type" jdbcType="CHAR" property="worktimeType" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="u9_org_code" jdbcType="VARCHAR" property="u9OrgCode" />
    <result column="is_was" jdbcType="TINYINT" property="isWas" />
    <result column="is_syn_real_capacity" jdbcType="TINYINT" property="isSynRealCapacity" />
    <result column="suplier_code" jdbcType="VARCHAR" property="suplierCode" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
  </resultMap>


  <sql id="BaseColumnList">
        xebd.code,
        xebd.name,
        xebd.parent_code,
        xebd.level,
        xebd.status,
        xebd.cus_type,
        xebd.if_second,
        xebd.is_leaf,
        xebd.is_manu_facture,
        xebd.line_type_id,
        xebd.menu_id,
        xebd.note,
        xebd.organize_address,
        xebd.organize_man,
        xebd.organize_type,
        xebd.org_type,
        xebd.pay_way,
        xebd.wc_no,
        xebd.worktime_type,
        xebd.created_user,
        xebd.created_time,
        xebd.modify_user,
        xebd.modify_time,
        xebd.is_deleted,
        xebd.group_code,
        xebd.u9_org_code,
        xebd.is_was,
        xebd.is_syn_real_capacity,
        xebd.suplier_code,
        xebd.short_name
    </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    SELECT<include refid="BaseColumnList"/>
    FROM xinbao_esop.base_dept xebd
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(xebd.modify_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
        <if test="code != null and code!=''">
            and xebd.code = #{code}
        </if>
    </where>
  </select>

</mapper>