<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.baseapi.esop.mapper.EsopWorkshopMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.restapi.esop.EsopWorkshop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="long_name" jdbcType="VARCHAR" property="longName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="created_user" jdbcType="INTEGER" property="createdUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modify_user" jdbcType="INTEGER" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>


  <sql id="BaseColumnList">
        xebw.code,
        xebw.name,
        xebw.long_name,
        xebw.dept_code,
        xebw.created_user,
        xebw.created_time,
        xebw.modify_user,
        xebw.modify_time,
        xebw.is_deleted
    </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    SELECT<include refid="BaseColumnList"/>
    FROM qms.base_workshop xebw
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(xebw.modify_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="code != null and code!=''">
        and xebw.code = #{code}
      </if>
    </where>
  </select>
</mapper>