<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.restapi.imes.mapper.CustGetItemInfoFromU9Mapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.U9.CustGetItemInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="料品ID" jdbcType="NVARCHAR" property="料品id" />
    <result column="料品编码" jdbcType="NVARCHAR" property="料品编码" />
    <result column="品名" jdbcType="NVARCHAR" property="品名" />
    <result column="规格" jdbcType="NVARCHAR" property="规格" />
    <result column="描述" jdbcType="NVARCHAR" property="描述" />
    <result column="单位编码" jdbcType="NVARCHAR" property="单位编码" />
    <result column="单位名称" jdbcType="NVARCHAR" property="单位名称" />
    <result column="组织ID" jdbcType="NVARCHAR" property="组织id" />
    <result column="组织编码" jdbcType="NVARCHAR" property="组织编码" />
    <result column="组织名称" jdbcType="NVARCHAR" property="组织名称" />
    <result column="物料分类" jdbcType="NVARCHAR" property="物料分类" />
    <result column="可生产" jdbcType="NVARCHAR" property="可生产" />
    <result column="储位" jdbcType="NVARCHAR" property="储位" />
    <result column="存储地点" jdbcType="NVARCHAR" property="存储地点" />
    <result column="存储地点编码" jdbcType="NVARCHAR" property="存储地点编码" />
    <result column="最后更新时间" jdbcType="TIMESTAMP" property="最后更新时间" />
  </resultMap>
</mapper>