<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysConfigurationDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.security.SysConfigurationDet">
    <id column="configuration_det_id" jdbcType="BIGINT" property="configurationDetId" />
    <result column="configuration_id" jdbcType="BIGINT" property="configurationId" />
    <result column="source_field" jdbcType="VARCHAR" property="sourceField" />
    <result column="target_field" jdbcType="VARCHAR" property="targetField" />
    <result column="is_condition" jdbcType="TINYINT" property="isCondition" />
    <result column="is_scope" jdbcType="TINYINT" property="isScope" />
    <result column="filter_value" jdbcType="VARCHAR" property="filterValue" />
    <result column="fixed_value" jdbcType="VARCHAR" property="fixedValue" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.security.SysConfigurationDetDto">
    <result column="configuration_name" jdbcType="VARCHAR" property="configurationName" />
  </resultMap>
  <sql id="Base_Column_List">
    cfd.configuration_det_id,
    cfd.configuration_id,
    cfd.source_field,
    cfd.target_field,
    cfd.is_condition,
    cfd.is_scope,
    cfd.filter_value,
    cfd.fixed_value,
    cfd.status,
    cfd.remark,
    cfd.create_user_id,
    cfd.create_time,
    cfd.modified_user_id,
    cfd.modified_time,
    cfd.is_delete
    </sql>
    <update id="batchUpdate" parameterType="java.util.List">
      <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update sys_configuration_det
        <set>
          <if test="item.configurationId != null and item.configurationId != ''">
            configuration_id = #{item.configurationId},
          </if>
          <if test="item.sourceField != null and item.sourceField != ''">
            source_field = #{item.sourceField},
          </if>
          <if test="item.targetField != null and item.targetField != ''">
            target_field = #{item.targetField},
          </if>
          <if test="item.isCondition != null">
            is_condition = #{item.isCondition},
          </if>
          <if test="item.isScope != null and item.isScope != ''">
            is_scope = #{item.isScope},
          </if>
          <if test="item.filterValue != null and item.filterValue != ''">
            filter_value = #{item.filterValue},
          </if>
          <if test="item.fixedValue != null and item.fixedValue != ''">
            fixed_value = #{item.fixedValue},
          </if>
          <if test="item.status != null and item.status != ''">
            status = #{item.status},
          </if>
          <if test="item.remark != null and item.remark != ''">
            remark = #{item.remark},
          </if>
          <if test="item.createUserId != null and item.createUserId != ''">
            create_user_id = #{item.createUserId},
          </if>
          <if test="item.createTime != null">
            create_time = #{item.createTime},
          </if>
          <if test="item.modifiedUserId != null">
            modified_user_id = #{item.modifiedUserId},
          </if>
          modified_time = NOW(),
          <if test="item.isDelete != null and item.isDelete != ''">
            is_delete = #{item.isDelete},
          </if>
        </set>
        where
        configuration_det_id = #{item.configurationDetId}
      </foreach>

    </update>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select
    <include refid="Base_Column_List"/>,cf.configuration_name as configurationName
    from sys_configuration_det cfd
    left join sys_configuration cf on cfd.configuration_id = cf.configuration_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(cfd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and cfd.status=#{status}
      </if>
      <if test="configurationId!=null">
        and cfd.configuration_id=#{configurationId}
      </if>
    </where>
  </select>
</mapper>