<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysHtRoleMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.history.SysHtRole">
    <id column="ht_role_id" jdbcType="BIGINT" property="htRoleId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    ht_role_id, role_id, role_code, role_name, role_desc, create_user_id, create_time, 
    modified_user_id, modified_time, status
  </sql>

  <select id="selectHtRoles" parameterType="com.fantechs.common.base.entity.security.search.SearchSysRole" resultMap="BaseResultMap">
    select shr.ht_role_id, shr.role_code, shr.role_name, shr.role_desc, shr.create_user_id, u.user_name as createUserName,
    shr.create_time, shr.modified_user_id,s.user_name as modifiedUserName,
    shr.modified_time
    from sys_ht_role shr
    left join sys_user u on shr.create_user_id=u.user_id
    left join sys_user s on shr.modified_user_id=s.user_id
    <where>
      1=1
      <if test="roleName!=null and roleName!=''">
        and shr.role_name like CONCAT('%', #{roleName}, '%')
      </if>
      <if test="roleDesc!=null and roleDesc!=''">
        and shr.role_desc like CONCAT('%', #{roleDesc}, '%')
      </if>
    </where>
    order by shr.modified_time desc
  </select>
</mapper>