<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysHtUserMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.history.SysHtUser">
    <id column="ht_user_id" jdbcType="BIGINT" property="htUserId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />

    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    ht_user_id, user_id, user_name, user_code, nick_name, password, status, factory_id,
    dept_id, telephone, mobile, email, create_user_id, create_time, modified_user_id,
    modified_time
  </sql>

  <select id="selectHtUsers" parameterType="com.fantechs.common.base.entity.security.search.SearchSysUser" resultMap="BaseResultMap">
    select shu.ht_user_id,shu.user_id, shu.user_name, shu.user_code, shu.nick_name, shu.password, shu.status, shu.factory_id,f.factory_name,
    shu.dept_id, d.dept_name,shu.telephone,shu.mobile, shu.email, shu.create_user_id,u.user_name as createUserName, shu.create_time,
    shu.modified_user_id,s.user_name as modifiedUserName, shu.modified_time
    from ocean_v2.sys_ht_user shu
    left join ocean_v2.sys_user u on shu.create_user_id=u.user_id
    left join ocean_v2.sys_user s on shu.modified_user_id=s.user_id
    left join fantech_imes_v2.base_factory f on shu.factory_id=f.factory_id
    left join fantech_imes_v2.base_dept d on shu.dept_id=d.dept_id
    <where>
      1=1
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shu.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="userCode!=null and userCode!=''">
        and shu.user_code like CONCAT('%', #{userCode}, '%')
      </if>
      <if test="nickName!=null and nickName!=''">
        and shu.nick_name like CONCAT('%', #{nickName}, '%')
      </if>
    </where>
    order by shu.modified_time desc
  </select>
</mapper>
