<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysImportTemplateMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.SysImportTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="import_template_id" jdbcType="BIGINT" property="importTemplateId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="import_template_code" jdbcType="VARCHAR" property="importTemplateCode" />
    <result column="import_template_name" jdbcType="VARCHAR" property="importTemplateName" />
    <result column="import_template_file_name" jdbcType="VARCHAR" property="importTemplateFileName" />
    <result column="import_template_url" jdbcType="VARCHAR" property="importTemplateUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    sit.import_template_id,
    sit.import_template_code,
    sit.import_template_name,
    sit.import_template_file_name,
    sit.import_template_url,
    sit.menu_id,
    sit.remark,
    sit.create_user_id,
    sit.create_time,
    sit.modified_user_id,
    sit.modified_time,
    sit.option1,
    sit.option2,
    sit.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>,
    s.user_name as modifiedUserName,u.user_name as createUserName
    from sys_import_template sit
    left join sys_user u on sit.create_user_id=u.user_id
    left join sys_user s on sit.modified_user_id=s.user_id
    <where>
      <if test="importTemplateCode!=null and importTemplateCode!='' and codeQueryMark != 1">
        and sit.import_template_code like CONCAT('%', #{importTemplateCode}, '%')
      </if>
      <if test="importTemplateCode!=null and importTemplateCode!='' and codeQueryMark == 1">
        and sit.import_template_code = #{importTemplateCode}
      </if>
      <if test="importTemplateName!=null and importTemplateName!=''">
        and sit.import_template_name like CONCAT('%', #{importTemplateName}, '%')
      </if>
      <if test="importTemplateFileName!=null and importTemplateFileName!=''">
        and sit.import_template_file_name like CONCAT('%', #{importTemplateFileName}, '%')
      </if>
      <!--<if test="menuId != null and menuId != '' ">
        and sit.menu_id = #{menuId}
      </if>-->
      <if test="menuIds != null and menuIds.size >0">
        and sit.menu_id in
        <foreach collection="menuIds" item="item" separator="," open="(" close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
</mapper>