<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysSpecItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.SysSpecItem">
    <id column="spec_id" jdbcType="BIGINT" property="specId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="spec_code" jdbcType="VARCHAR" property="specCode" />
    <result column="spec_name" jdbcType="VARCHAR" property="specName" />
    <result column="para" jdbcType="VARCHAR" property="para" />
    <result column="para_value" jdbcType="VARCHAR" property="paraValue" />
    <result column="param_type" jdbcType="INTEGER" property="paramType" />
    <result column="category" jdbcType="BIT" property="category" />
    <result column="order_num" jdbcType="BIT" property="orderNum" />
    <result column="is_hide" jdbcType="INTEGER" property="isHide" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    ssi.spec_id,ssi.menu_id, ssi.spec_code, ssi.spec_name, ssi.para, ssi.para_value,ssi.param_type, ssi.create_user_id, ssi.create_time, ssi.modified_user_id,
    ssi.modified_time, ssi.is_delete, ssi.option1, ssi.option2, ssi.option3
  </sql>

  <select id="findList" parameterType="com.fantechs.common.base.entity.security.search.SearchSysSpecItem" resultMap="BaseResultMap">
    select  si.spec_id, si.spec_code, si.spec_name, si.para, si.para_value, si.is_hide,si.create_user_id, u.user_name as createUserName,
    si.create_time, si.modified_user_id,s.user_name as modifiedUserName,si.param_type,
    si.modified_time,si.is_delete,si.category,si.order_num,si.menu_id
    from sys_spec_item si
    left join sys_user u on si.create_user_id=u.user_id
    left join sys_user s on si.modified_user_id=s.user_id
    LEFT JOIN sys_menuinfo sm on si.menu_id = sm.menu_id
    <where>
      1=1
      <if test="specCode!=null and specCode!=''">
        and si.spec_code like CONCAT('%', #{specCode}, '%')
      </if>
      <if test="specName!=null and specName!=''">
        and si.spec_name like CONCAT('%', #{specName}, '%')
      </if>
      <if test="para!=null and para!=''">
        and si.para like CONCAT('%', #{para}, '%')
      </if>
      <if test="paraValue!=null and paraValue!=''">
        and si.para_value like CONCAT('%', #{paraValue}, '%')
      </if>
      <if test="menuId != null and menuId != '' ">
        and si.menu_id = #{menuId}
      </if>
      <if test="category != null and category != ''">
        and si.category = #{category}
      </if>
      <if test="orderNum != null and orderNum != '' and orderNum == 1">
        order by order_num desc
      </if>
      <if test="orderNum != null and orderNum and orderNum == 0">
        order by order_num
      </if>
    </where>

  </select>

  <select id="findByMenuIdList" parameterType="com.fantechs.common.base.entity.security.search.SearchSysSpecItem" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,s.user_name as modifiedUserName,u.user_name as createUserName
    from sys_spec_item ssi
    left join sys_user u on ssi.create_user_id=u.user_id
    left join sys_user s on ssi.modified_user_id=s.user_id
    <where>
      <if test="menuId!=null and menuId!=''">
        and ssi.menu_id in (
        SELECT DATA.menu_id
        FROM (SELECT
        @ids AS _ids,
        ( SELECT @ids := GROUP_CONCAT( menu_id ) FROM sys_menuinfo WHERE FIND_IN_SET( parent_id, @ids ) ) AS cids,
        @l := @l + 1 AS LEVEL
        FROM
        sys_menuinfo,
        ( SELECT @ids := #{menuId}, @l := 0 ) b
        WHERE
        @ids IS NOT NULL
        ) id,
        sys_menuinfo DATA
        WHERE
        FIND_IN_SET( DATA.menu_id,_ids ) and DATA.is_menu != 2
        ORDER BY
        LEVEL,
        menu_id
        )
      </if>
      <if test="specCode!=null and specCode!=''">
        and ssi.spec_code like CONCAT('%', #{specCode}, '%')
      </if>
      <if test="specName!=null and specName!=''">
        and ssi.spec_name like CONCAT('%', #{specName}, '%')
      </if>
      <if test="para!=null and para!=''">
        and ssi.para like CONCAT('%', #{para}, '%')
      </if>
      <if test="paraValue!=null and paraValue!=''">
        and ssi.para_value like CONCAT('%', #{paraValue}, '%')
      </if>
      <if test="orderNum != null and orderNum != '' and orderNum == 1">
        order by order_num desc
      </if>
      <if test="orderNum != null and orderNum and orderNum == 0">
        order by order_num
      </if>
    </where>
  </select>

</mapper>


