<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.security.mapper.SysSpecItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.SysSpecItem">
    <id column="spec_id" jdbcType="BIGINT" property="specId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="spec_code" jdbcType="VARCHAR" property="specCode" />
    <result column="spec_name" jdbcType="VARCHAR" property="specName" />
    <result column="para" jdbcType="VARCHAR" property="para" />
    <result column="para_value" jdbcType="VARCHAR" property="paraValue" />
    <result column="category" jdbcType="BIT" property="category" />
    <result column="order_num" jdbcType="BIT" property="orderNum" />
    <result column="is_hide" jdbcType="INTEGER" property="isHide" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    spec_id, spec_code, spec_name, para, para_value, create_user_id, create_time, modified_user_id,
    modified_time, is_delete, option1, option2, option3
  </sql>

  <select id="findList" parameterType="com.fantechs.common.base.entity.security.search.SearchSysSpecItem" resultMap="BaseResultMap">
    select  si.spec_id, si.spec_code, si.spec_name, si.para, si.para_value, si.is_hide,si.create_user_id, u.user_name as createUserName,
    si.create_time, si.modified_user_id,s.user_name as modifiedUserName,
    si.modified_time,si.is_delete,si.category,si.order_num,ssi.affiliation_module
    from sys_spec_item si
    left join sys_user u on si.create_user_id=u.user_id
    left join sys_user s on si.modified_user_id=s.user_id
    left join sys_spec_item ssi on si.affiliation_module = ssi.spec_id
    <where>
      1=1
      <if test="specCode!=null and specCode!=''">
        and si.spec_code like CONCAT('%', #{specCode}, '%')
      </if>
      <if test="specName!=null and specName!=''">
        and si.spec_name like CONCAT('%', #{specName}, '%')
      </if>
      <if test="para!=null and para!=''">
        and si.para like CONCAT('%', #{para}, '%')
      </if>
      <if test="paraValue!=null and paraValue!=''">
        and si.para_value like CONCAT('%', #{paraValue}, '%')
      </if>
      <if test="menuId != null and menuId != '' ">
        and si.menu_id = #{menuId}
      </if>
      <if test="category != null and category">
        and si.category = #{category}
      </if>
      and si.category IS NOT NULL
    </where>

  </select>

</mapper>


