<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentScrapOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentScrapOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_scrap_order_det_id" jdbcType="BIGINT" property="equipmentScrapOrderDetId" />
    <result column="equipment_scrap_order_id" jdbcType="BIGINT" property="equipmentScrapOrderId" />
    <result column="equipment_barcode_id" jdbcType="BIGINT" property="equipmentBarcodeId" />
    <result column="purchase_limitation_amount" jdbcType="VARCHAR" property="purchaseLimitationAmount" />
    <result column="asset_net_value" jdbcType="VARCHAR" property="assetNetValue" />
    <result column="estimate_scrap_amount" jdbcType="VARCHAR" property="estimateScrapAmount" />
    <result column="already_depreciation" jdbcType="VARCHAR" property="alreadyDepreciation" />
    <result column="subtotal_summary" jdbcType="VARCHAR" property="subtotalSummary" />
    <result column="scrap_description" jdbcType="VARCHAR" property="scrapDescription" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentScrapOrderDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_barcode" jdbcType="VARCHAR" property="equipmentBarcode"/>
    <result column="asset_code" jdbcType="VARCHAR" property="assetCode"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc"/>
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel"/>
    <result column="property_code_category" jdbcType="TINYINT" property="propertyCodeCategory"/>
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    eesod.equipment_scrap_order_det_id,
    eesod.equipment_scrap_order_id,
    eesod.equipment_barcode_id,
    eesod.purchase_limitation_amount,
    eesod.asset_net_value,
    eesod.estimate_scrap_amount,
    eesod.already_depreciation,
    eesod.subtotal_summary,
    eesod.scrap_description,
    eesod.`status`,
    eesod.remark,
    eesod.org_id,
    eesod.create_user_id,
    eesod.create_time,
    eesod.modified_user_id,
    eesod.modified_time,
    eesod.option1,
    eesod.option2,
    eesod.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eeb.equipment_barcode,eeb.asset_code,
    ee.equipment_code,ee.equipment_name,ee.equipment_desc,ee.equipment_model,
    eesb.property_code_category,eec.equipment_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_equipment_scrap_order_det eesod
    left join fantech_imes_v2.eam_equipment_barcode eeb on eesod.equipment_barcode_id=eeb.equipment_barcode_id
    left join fantech_imes_v2.eam_equipment_standing_book eesb on eesod.equipment_barcode_id=eesb.equipment_barcode_id
    left join fantech_imes_v2.eam_equipment ee on eeb.equipment_id=ee.equipment_id
    left join fantech_imes_v2.eam_equipment_category eec on ee.equipment_category_id=eec.equipment_category_id
    left join ocean_v2.sys_user u on eesod.create_user_id=u.user_id
    left join ocean_v2.sys_user s on eesod.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON eesod.org_id = bo.organization_id
    <where>
      <if test="equipmentScrapOrderId != null">
        and eesod.equipment_scrap_order_id = #{equipmentScrapOrderId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(eesod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and eesod.status = #{status}
      </if>
      <if test="orgId!=null">
        and eesod.org_id=#{orgId}
      </if>
    </where>
    order by eesod.create_time desc
  </select>
</mapper>