<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="equipment_category_id" jdbcType="BIGINT" property="equipmentCategoryId" />
    <result column="equipment_seq_num" jdbcType="VARCHAR" property="equipmentSeqNum" />
    <result column="power" jdbcType="DECIMAL" property="power" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="pro_line_id" jdbcType="BIGINT" property="proLineId" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="section_id" jdbcType="BIGINT" property="sectionId" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="work_shop_id" jdbcType="BIGINT" property="workShopId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="volume" jdbcType="DECIMAL" property="volume" />
    <result column="equipment_maintain_project_id" jdbcType="BIGINT" property="equipmentMaintainProjectId" />
    <result column="equipment_ip" jdbcType="VARCHAR" property="equipmentIp" />
    <result column="equipment_mgt_user_id" jdbcType="BIGINT" property="equipmentMgtUserId" />
    <result column="equipment_mac_address" jdbcType="VARCHAR" property="equipmentMacAddress" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="maintain_cycle" jdbcType="INTEGER" property="maintainCycle" />
    <result column="maintain_warning_days" jdbcType="INTEGER" property="maintainWarningDays" />
    <result column="maintain_max_usage_time" jdbcType="INTEGER" property="maintainMaxUsageTime" />
    <result column="maintain_warning_time" jdbcType="INTEGER" property="maintainWarningTime" />
    <result column="lifecycle" jdbcType="DECIMAL" property="lifecycle" />
    <result column="max_usage_time" jdbcType="INTEGER" property="maxUsageTime" />
    <result column="warning_time" jdbcType="INTEGER" property="warningTime" />
    <result column="max_usage_days" jdbcType="INTEGER" property="maxUsageDays" />
    <result column="warning_days" jdbcType="INTEGER" property="warningDays" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="eamEquipmentBarcodeList" ofType="com.fantechs.common.base.general.entity.eam.EamEquipmentBarcode"
                column="{equipmentId=equipment_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentBarcodeMapper.findList">
    </collection>
    <collection property="eamEquipmentAttachmentList" ofType="com.fantechs.common.base.general.entity.eam.EamEquipmentAttachment"
                column="{equipmentId=equipment_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentAttachmentMapper.findList">
    </collection>
    <collection property="eamEquipmentBackupList" ofType="com.fantechs.common.base.general.dto.eam.EamSparePartReEquDto"
                column="{equipmentId=equipment_id}" select="com.fantechs.provider.eam.mapper.EamSparePartReEquMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_category_desc" jdbcType="VARCHAR" property="equipmentCategoryDesc"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName"/>
    <result column="pro_name" jdbcType="VARCHAR" property="proLineName"/>
    <result column="section_name" jdbcType="VARCHAR" property="sectionName"/>
    <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
    <result column="station_name" jdbcType="VARCHAR" property="stationName"/>
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
    <result column="equipment_mgt_user_name" jdbcType="VARCHAR" property="equipmentMgtUserName"/>
    <result column="equipment_maintain_project_code" jdbcType="VARCHAR" property="equipmenMaintainProjectCode"/>
  </resultMap>

  <resultMap id="ResultEamEquInspectionOrderDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquInspectionOrderDto">
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
    <result column="equ_point_inspection_project_code" jdbcType="VARCHAR" property="equPointInspectionProjectCode"/>
    <result column="equ_point_inspection_project_name" jdbcType="VARCHAR" property="equPointInspectionProjectName"/>
    <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
    <collection property="items" ofType="com.fantechs.common.base.general.dto.eam.EamEquPointInspectionProjectItemDto"
                column="{equPointInspectionProjectId=equ_point_inspection_project_id}" select="com.fantechs.provider.eam.mapper.EamEquPointInspectionProjectItemMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="ResultEamEquMaintainOrderDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquMaintainOrderDto">
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
    <result column="equipment_maintain_project_code" jdbcType="VARCHAR" property="equipmentMaintainProjectCode"/>
    <result column="equipment_maintain_project_name" jdbcType="VARCHAR" property="equipmentMaintainProjectName"/>
    <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
    <collection property="items" ofType="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainProjectItemDto"
                column="{equipmentMaintainProjectId=equipment_maintain_project_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentMaintainProjectItemMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    ee.equipment_id,
    ee.equipment_code,
    ee.equipment_name,
    ee.equipment_desc,
    ee.equipment_model,
    ee.equipment_category_id,
    ee.equipment_seq_num,
    ee.power,
    ee.weight,
    ee.warehouse_id,
    ee.pro_line_id,
    ee.station_id,
    ee.section_id,
    ee.factory_id,
    ee.work_shop_id,
    ee.process_id,
    ee.length,
    ee.width,
    ee.height,
    ee.volume,
    ee.equipment_maintain_project_id,
    ee.equipment_ip,
    ee.equipment_mgt_user_id,
    ee.equipment_mac_address,
    ee.release_date,
    ee.maintain_cycle,
    ee.maintain_warning_days,
    ee.maintain_max_usage_time,
    ee.maintain_warning_time,
    ee.lifecycle,
    ee.max_usage_time,
    ee.warning_time,
    ee.max_usage_days,
    ee.warning_days,
    ee.x_axis,
    ee.y_axis,
    ee.`status`,
    ee.remark,
    ee.org_id,
    ee.create_user_id,
    ee.create_time,
    ee.modified_user_id,
    ee.modified_time,
    ee.option1,
    ee.option2,
    ee.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eec.equipment_category_desc,bw.warehouse_name, bws.work_shop_name,
    bst.station_name,bpl.pro_name, bse.section_name,
    bp.process_name ,bp.process_code,bf.factory_name, emp.equipment_maintain_project_code,
    su.user_name as equipment_mgt_user_name ,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment ee
    left join eam_equipment_category eec on ee.equipment_category_id=eec.equipment_category_id
    left join base_warehouse bw on ee.warehouse_id=bw.warehouse_id
    left join base_work_shop bws on ee.work_shop_id=bws.work_shop_id
    left join base_station bst on ee.station_id=bst.station_id
    left join base_pro_line bpl on ee.pro_line_id=bpl.pro_line_id
    left join base_workshop_section bse on ee.section_id=bse.section_id
    left join base_factory bf on ee.factory_id=bf.factory_id
    left join base_process bp on ee.process_id=bp.process_id
    left join eam_equipment_maintain_project emp on ee.equipment_maintain_project_id=emp.equipment_maintain_project_id
    left join sys_user su on ee.equipment_mgt_user_id=su.user_id
    left join sys_user u on ee.create_user_id=u.user_id
    left join sys_user s on ee.modified_user_id=s.user_id
    left join base_organization bo ON ee.org_id = bo.organization_id
    <where>
      <if test="equipmentCode != null and equipmentCode!='' and codeQueryMark!=1">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentCode != null and equipmentCode!='' and codeQueryMark==1">
        and ee.equipment_code = #{equipmentCode}
      </if>
      <if test="equipmentName != null and equipmentName!=''">
        and ee.equipment_name like CONCAT('%', #{equipmentName}, '%')
      </if>
      <if test="equipmentModel != null and equipmentModel!=''">
        and ee.equipment_model like CONCAT('%', #{equipmentModel}, '%')
      </if>
      <if test="equipmentDesc != null and equipmentDesc!=''">
        and ee.equipment_desc like CONCAT('%', #{equipmentDesc}, '%')
      </if>
      <if test="equipmentIp != null and equipmentIp!=''">
        and ee.equipment_ip = #{equipmentIp}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ee.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ee.status = #{status}
      </if>
      <if test="orgId!=null">
        and ee.org_id=#{orgId}
      </if>
      <if test="equipmentMacAddress != null and equipmentMacAddress!=''">
        and ee.equipment_mac_address = #{equipmentMacAddress}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ee.create_time desc
  </select>

  <update id="batchUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update eam_equipment ee set
      ee.x_axis = #{item.xAxis},
      ee.y_axis = #{item.yAxis}
      where ee.equipment_id = #{item.equipmentId}
    </foreach>
  </update>


  <select id="findNoGroup" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    from ( SELECT * FROM eam_equipment WHERE equipment_id NOT IN
    ( SELECT equipment_id FROM eam_equipment_data_group_re_dc group by equipment_id) ) ee
    <where>
      <if test="status!=null">
        and ee.status = #{status}
      </if>
      <if test="orgId!=null">
        and ee.org_id=#{orgId}
      </if>

    </where>
  </select>

  <select id="findListForInspectionOrder" parameterType="map" resultMap="ResultEamEquInspectionOrderDto">
    SELECT
    ee.equipment_code,
    ee.equipment_name,
    eec.equipment_category_name,
    eepip.equ_point_inspection_project_code,
    eepip.equ_point_inspection_project_name,
    1 AS order_status
    FROM
    eam_equipment ee
    LEFT JOIN eam_equipment_barcode eeb ON eeb.equipment_id = ee.equipment_id
    LEFT JOIN eam_equipment_category eec ON ee.equipment_category_id = eec.equipment_category_id
    LEFT JOIN eam_equ_point_inspection_project eepip ON eepip.equipment_category_id = ee.equipment_category_id
    <where>
      <if test="equipmentBarcode!=null">
        and eeb.equipment_barcode = #{equipmentBarcode}
      </if>
      <if test="status!=null">
        and ee.status = #{status}
      </if>
      <if test="orgId!=null">
        and ee.org_id=#{orgId}
      </if>
    </where>
  </select>

  <select id="findListForMaintainOrder" parameterType="map" resultMap="ResultEamEquMaintainOrderDto">
    SELECT
    ee.equipment_code,
    ee.equipment_name,
    eec.equipment_category_name,
    eemp.equipment_maintain_project_code,
    eemp.equipment_maintain_project_name,
    1 AS order_status
    FROM
    eam_equipment ee
    LEFT JOIN eam_equipment_barcode eeb ON eeb.equipment_id = ee.equipment_id
    LEFT JOIN eam_equipment_category eec ON ee.equipment_category_id = eec.equipment_category_id
    LEFT JOIN eam_equipment_maintain_project eemp ON ee.equipment_category_id = eemp.equipment_category_id
    <where>
      <if test="equipmentBarcode!=null">
        and eeb.equipment_barcode = #{equipmentBarcode}
      </if>
      <if test="status!=null">
        and ee.status = #{status}
      </if>
      <if test="orgId!=null">
        and ee.org_id=#{orgId}
      </if>
    </where>
  </select>
</mapper>
