<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentRepairOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentRepairOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_repair_order_id" jdbcType="BIGINT" property="equipmentRepairOrderId" />
    <result column="equipment_repair_order_code" jdbcType="VARCHAR" property="equipmentRepairOrderCode" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_barcode_id" jdbcType="BIGINT" property="equipmentBarcodeId" />
    <result column="equipment_barcode" jdbcType="VARCHAR" property="equipmentBarcode" />
    <result column="request_for_repair_time" jdbcType="TIMESTAMP" property="requestForRepairTime" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="repair_user_id" jdbcType="BIGINT" property="repairUserId" />
    <result column="repair_time" jdbcType="TIMESTAMP" property="repairTime" />
    <result column="badness_duty_id" jdbcType="BIGINT" property="badnessDutyId" />
    <result column="badness_cause_id" jdbcType="BIGINT" property="badnessCauseId" />
    <result column="request_for_repair_remark" jdbcType="VARCHAR" property="requestForRepairRemark" />
    <result column="repair_remark" jdbcType="VARCHAR" property="repairRemark" />
    <result column="badness_phenotype_id" jdbcType="BIGINT" property="badnessPhenotypeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentRepairOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="badness_cause_code" jdbcType="VARCHAR" property="badnessCauseCode"/>
    <result column="badness_cause_desc" jdbcType="VARCHAR" property="badnessCauseDesc"/>
    <result column="badness_duty_code" jdbcType="VARCHAR" property="badnessDutyCode"/>
    <result column="badness_duty_desc" jdbcType="VARCHAR" property="badnessDutyDesc"/>
    <result column="badness_phenotype_code" jdbcType="VARCHAR" property="badnessPhenotypeCode"/>
    <result column="badness_phenotype_desc" jdbcType="VARCHAR" property="badnessPhenotypeDesc"/>
    <result column="repair_user_name" jdbcType="VARCHAR" property="repairUserName"/>
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamEquRepairOrderReplacementDto"
                column="{equipmentRepairOrderId=equipment_repair_order_id}" select="com.fantechs.provider.eam.mapper.EamEquRepairOrderReplacementMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    eero.equipment_repair_order_id,
    eero.equipment_repair_order_code,
    eero.equipment_id,
    eero.equipment_barcode_id,
    eero.equipment_barcode,
    eero.request_for_repair_time,
    eero.order_status,
    eero.repair_user_id,
    eero.repair_time,
    eero.badness_duty_id,
    eero.badness_cause_id,
    eero.request_for_repair_remark,
    eero.repair_remark,
    eero.badness_phenotype_id,
    eero.`status`,
    eero.remark,
    eero.org_id,
    eero.create_user_id,
    eero.create_time,
    eero.modified_user_id,
    eero.modified_time,
    eero.option1,
    eero.option2,
    eero.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ee.equipment_code,ee.equipment_name,ee.equipment_desc,ee.equipment_model,
    bbc.badness_cause_code,bbc.badness_cause_desc,
    bbd.badness_duty_code,bbd.badness_duty_desc,
    bbp.badness_phenotype_code,bbp.badness_phenotype_desc,
    su.user_name as repair_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_repair_order eero
    left join eam_equipment ee on eero.equipment_id = ee.equipment_id
    left join base_badness_cause bbc on eero.badness_cause_id = bbc.badness_cause_id
    left join base_badness_duty bbd on eero.badness_duty_id = bbd.badness_duty_id
    left join base_badness_phenotype bbp on eero.badness_phenotype_id = bbp.badness_phenotype_id
    left join sys_user su on eero.repair_user_id=su.user_id
    left join sys_user u on eero.create_user_id=u.user_id
    left join sys_user s on eero.modified_user_id=s.user_id
    left join base_organization bo ON eero.org_id = bo.organization_id
    <where>
      <if test="equipmentRepairOrderId!=null">
        and eero.equipment_repair_order_id = #{equipmentRepairOrderId}
      </if>
      <if test="equipmentRepairOrderCode != null and equipmentRepairOrderCode!=''">
        and eero.equipment_repair_order_code like CONCAT('%', #{equipmentRepairOrderCode}, '%')
      </if>
      <if test="equipmentBarcode != null and equipmentBarcode!=''">
        and eero.equipment_barcode like CONCAT('%', #{equipmentBarcode}, '%')
      </if>
      <if test="equipmentCode != null and equipmentCode!=''">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentName != null and equipmentName!=''">
        and ee.equipment_name like CONCAT('%', #{equipmentName}, '%')
      </if>
      <if test="equipmentModel != null and equipmentModel!=''">
        and ee.equipment_model like CONCAT('%', #{equipmentModel}, '%')
      </if>
      <if test="orderStatus!=null">
        and eero.order_status = #{orderStatus}
      </if>
      <if test="equipmentBarcodeId!=null">
        and eero.equipment_barcode_id = #{equipmentBarcodeId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(eero.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and eero.status = #{status}
      </if>
      <if test="orgId!=null">
        and eero.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by eero.create_time desc
  </select>
</mapper>
