<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentStandingBookMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentStandingBook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_standing_book_id" jdbcType="BIGINT" property="equipmentStandingBookId" />
    <result column="equipment_barcode_id" jdbcType="BIGINT" property="equipmentBarcodeId" />
    <result column="property_code_category" jdbcType="TINYINT" property="propertyCodeCategory" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="depreciable_life" jdbcType="INTEGER" property="depreciableLife" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="attachment_path" jdbcType="LONGVARCHAR" property="attachmentPath" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentStandingBookDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc"/>
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel"/>
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
      <result column="asset_code" jdbcType="VARCHAR" property="assetCode"/>
      <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
      <result column="equipment_status" jdbcType="TINYINT" property="equipmentStatus"/>
      <result column="equipment_barcode" jdbcType="VARCHAR" property="equipmentBarcode"/>
    <collection property="eamEquipmentStandingBookAttachments" ofType="com.fantechs.common.base.general.entity.eam.EamEquipmentStandingBookAttachment"
                column="{equipmentStandingBookId=equipment_standing_book_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentStandingBookAttachmentMapper.findList">
    </collection>

  </resultMap>
  <sql id="BaseColumnList">
        eesb.equipment_standing_book_id,
        eesb.equipment_barcode_id,
        eesb.property_code_category,
        eesb.release_date,
        eesb.dept_id,
        eesb.depreciable_life,
        eesb.status,
        eesb.remark,
        eesb.org_id,
        eesb.create_user_id,
        eesb.create_time,
        eesb.modified_user_id,
        eesb.modified_time,
        eesb.option1,
        eesb.option2,
        eesb.option3,
        eesb.attachment_path
    </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    SELECT<include refid="BaseColumnList"/>,
    eeb.asset_code,eeb.equipment_status,ee.equipment_code,ee.equipment_name,ee.equipment_desc,ee.equipment_model,
    eec.equipment_category_name,eeb.equipment_barcode,bd.dept_name,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,bo.organization_name AS organization_name
    FROM eam_equipment_standing_book eesb
    left join eam_equipment_barcode eeb on eesb.equipment_barcode_id=eeb.equipment_barcode_id
    left join eam_equipment ee on eeb.equipment_id=ee.equipment_id
    left join eam_equipment_category eec on ee.equipment_category_id=eec.equipment_category_id
    left join base_dept bd on eesb.dept_id=bd.dept_id
    LEFT JOIN sys_user su ON eesb.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON eesb.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON eesb.org_id = bo.organization_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and eesb.org_id = #{orgId}
      </if>
      <if test="equipmentCode!=null and equipmentCode!=''">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentName!=null and equipmentName!=''">
        and ee.equipment_name  like CONCAT('%', #{equipmentName}, '%')
      </if>
        <if test="assetCode!=null and assetCode!=''">
            and eeb.asset_code  like CONCAT('%', #{assetCode}, '%')
        </if>
        <if test="equipmentBarcode!=null and equipmentBarcode!=''">
            and eeb.equipment_barcode  like CONCAT('%', #{equipmentBarcode}, '%')
        </if>
        <!-- 全表单查询 -->
        <if test="query != null">
            and #FULL_FROM_QUERY
        </if>
    </where>
      order by eesb.create_time desc
  </select>

</mapper>
