<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentDataGroupParamMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentDataGroupParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_data_group_param_id" jdbcType="BIGINT" property="equipmentDataGroupParamId" />
    <result column="equipment_data_group_id" jdbcType="BIGINT" property="equipmentDataGroupId" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="address_loca" jdbcType="INTEGER" property="addressLoca" />
    <result column="min_value" jdbcType="DECIMAL" property="minValue" />
    <result column="max_value" jdbcType="DECIMAL" property="maxValue" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentDataGroupParamDto">

  </resultMap>

  <sql id="Base_Column_List">
    eedgp.equipment_data_group_param_id,
    eedgp.equipment_data_group_id,
    eedgp.param_name,
    eedgp.field_name,
    eedgp.address_loca,
    eedgp.min_value,
    eedgp.max_value,
    eedgp.`status`,
    eedgp.remark,
    eedgp.org_id,
    eedgp.create_user_id,
    eedgp.create_time,
    eedgp.modified_user_id,
    eedgp.modified_time,
    eedgp.is_delete,
    eedgp.option1,
    eedgp.option2,
    eedgp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_data_group_param eedgp
    left join ocean_v2.sys_user u on eedgp.create_user_id=u.user_id
    left join ocean_v2.sys_user s on eedgp.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON eedgp.org_id = bo.organization_id
    <where>
      <if test="equipmentName != null and equipmentName!=''">
        and eedgp.equipment_data_group_name like CONCAT('%', #{equipment_data_group_name}, '%')
      </if>
      <if test="status!=null">
        and eedgp.status = #{status}
      </if>
      <if test="orgId!=null">
        and eedgp.org_id=#{orgId}
      </if>
    </where>
    order by eedgp.create_time desc
  </select>

</mapper>