<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentParamMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_param_id" jdbcType="BIGINT" property="equipmentParamId" />
    <result column="equipment_category_id" jdbcType="BIGINT" property="equipmentCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.entity.eam.EamEquipmentParamList"
                column="{equipmentParamId=equipment_param_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentParamListMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentParamDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName" />
  </resultMap>

  <sql id="Base_Column_List">
    eep.equipment_param_id,
    eep.equipment_category_id,
    eep.`status`,
    eep.remark,
    eep.org_id,
    eep.create_user_id,
    eep.create_time,
    eep.modified_user_id,
    eep.modified_time,
    eep.option1,
    eep.option2,
    eep.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eec.equipment_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_param eep
    left join eam_equipment_category eec on eep.equipment_category_id=eec.equipment_category_id
    left join sys_user u on eep.create_user_id=u.user_id
    left join sys_user s on eep.modified_user_id=s.user_id
    left join base_organization bo ON eep.org_id = bo.organization_id
    <where>
      <if test="equipmentCategoryName != null and equipmentCategoryName!=''">
        and eec.equipment_category_name like CONCAT('%', #{equipmentCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(eep.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and eep.status = #{status}
      </if>
      <if test="orgId!=null">
        and eep.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by eep.create_time desc
  </select>
</mapper>
