<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentMaintainOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentMaintainOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_maintain_order_id" jdbcType="BIGINT" property="equipmentMaintainOrderId" />
    <result column="equipment_maintain_order_code" jdbcType="VARCHAR" property="equipmentMaintainOrderCode" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_barcode_id" jdbcType="BIGINT" property="equipmentBarcodeId" />
    <result column="equipment_maintain_project_id" jdbcType="BIGINT" property="equipmentMaintainProjectId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainOrderDto">
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
    <result column="equipment_barcode" jdbcType="VARCHAR" property="equipmentBarcode"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
    <result column="equipment_maintain_project_code" jdbcType="VARCHAR" property="equipmentMaintainProjectCode"/>
    <result column="equipment_maintain_project_name" jdbcType="VARCHAR" property="equipmentMaintainProjectName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <collection property="orderDets" ofType="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainOrderDetDto"
                column="{equipmentMaintainOrderId=equipment_maintain_order_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentMaintainOrderDetMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    eemo.equipment_maintain_order_id,
    eemo.equipment_maintain_order_code,
    eemo.equipment_id,
    eemo.equipment_barcode_id,
    eemo.equipment_maintain_project_id,
    eemo.order_status,
    eemo.`status`,
    eemo.remark,
    eemo.org_id,
    eemo.create_user_id,
    eemo.create_time,
    eemo.modified_user_id,
    eemo.modified_time,
    eemo.option1,
    eemo.option2,
    eemo.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eeb.equipment_barcode,
    ee.equipment_code,
    ee.equipment_name,
    eemp.equipment_maintain_project_code,
    eemp.equipment_maintain_project_name,
    eec.equipment_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_maintain_order eemo
    LEFT JOIN eam_equipment ee ON eemo.equipment_id = ee.equipment_id
    LEFT JOIN eam_equipment_category eec ON ee.equipment_category_id = eec.equipment_category_id
    LEFT JOIN eam_equipment_barcode eeb ON eemo.equipment_barcode_id = eeb.equipment_barcode_id
    LEFT JOIN eam_equipment_maintain_project eemp ON eemo.equipment_maintain_project_id = eemp.equipment_maintain_project_id
    LEFT JOIN sys_user u ON eemo.create_user_id = u.user_id
    LEFT JOIN sys_user s ON eemo.modified_user_id = s.user_id
    LEFT JOIN base_organization bo ON eemo.org_id = bo.organization_id
    <where>
      <if test="equipmentCategoryId != null">
        and ee.equipment_category_id = #{equipmentCategoryId}
      </if>
      <if test="equipmentBarcodeId != null">
        and eemo.equipment_barcode_id = #{equipmentBarcodeId}
      </if>
      <if test="orderStatus != null">
        and eemo.order_status = #{orderStatus}
      </if>
      <if test="equipmentMaintainOrderCode != null and equipmentMaintainOrderCode!=''">
        and eemo.equipment_maintain_order_code like CONCAT('%', #{equipmentMaintainOrderCode}, '%')
      </if>
      <if test="equipmentBarcode != null and equipmentBarcode!=''">
        and eeb.equipment_barcode like CONCAT('%', #{equipmentBarcode}, '%')
      </if>
      <if test="equipmentCode != null and equipmentCode!=''">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentName != null and equipmentName!=''">
        and ee.equipment_name like CONCAT('%', #{equipmentName}, '%')
      </if>
      <if test="status!=null">
        and eemo.status = #{status}
      </if>
      <if test="orgId!=null">
        and eemo.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by eemo.create_time desc
  </select>
</mapper>
