<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentMaintainProjectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentMaintainProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_maintain_project_id" jdbcType="BIGINT" property="equipmentMaintainProjectId" />
    <result column="equipment_maintain_project_code" jdbcType="VARCHAR" property="equipmentMaintainProjectCode" />
    <result column="equipment_maintain_project_name" jdbcType="VARCHAR" property="equipmentMaintainProjectName" />
    <result column="equipment_maintain_project_desc" jdbcType="VARCHAR" property="equipmentMaintainProjectDesc" />
    <result column="equipment_category_id" jdbcType="BIGINT" property="equipmentCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainProjectDto">
    <result column="equipment_category_name" jdbcType="VARCHAR" property="equipmentCategoryName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <collection property="items" ofType="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainProjectItemDto"
                column="{equipmentMaintainProjectId=equipment_maintain_project_id}" select="com.fantechs.provider.eam.mapper.EamEquipmentMaintainProjectItemMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    eemp.equipment_maintain_project_id,
    eemp.equipment_maintain_project_code,
    eemp.equipment_maintain_project_name,
    eemp.equipment_maintain_project_desc,
    eemp.equipment_category_id,
    eemp.`status`,
    eemp.remark,
    eemp.org_id,
    eemp.create_user_id,
    eemp.create_time,
    eemp.modified_user_id,
    eemp.modified_time,
    eemp.option1,
    eemp.option2,
    eemp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eec.equipment_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_maintain_project eemp
    LEFT JOIN eam_equipment_category eec ON eemp.equipment_category_id = eec.equipment_category_id
    left join sys_user u on eemp.create_user_id=u.user_id
    left join sys_user s on eemp.modified_user_id=s.user_id
    left join base_organization bo ON eemp.org_id = bo.organization_id
    <where>
      <if test="equipmentCategoryId != null">
        and eemp.equipment_category_id = #{equipmentCategoryId}
      </if>
      <if test="equipmentMaintainProjectCode != null and equipmentMaintainProjectCode!=''">
        and eemp.equipment_maintain_project_code like CONCAT('%', #{equipmentMaintainProjectCode}, '%')
      </if>
      <if test="equipmentMaintainProjectDesc != null and equipmentMaintainProjectDesc!=''">
        and eemp.equipment_maintain_project_desc like CONCAT('%', #{equipmentMaintainProjectDesc}, '%')
      </if>
      <if test="equipmentMaintainProjectName != null and equipmentMaintainProjectName!=''">
        and eemp.equipment_maintain_project_name like CONCAT('%', #{equipmentMaintainProjectName}, '%')
      </if>
      <if test="equipmentCategoryName != null and equipmentCategoryName!=''">
        and eec.equipment_category_name like CONCAT('%', #{equipmentCategoryName}, '%')
      </if>
      <if test="status!=null">
        and eemp.status = #{status}
      </if>
      <if test="orgId!=null">
        and eemp.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by eemp.create_time desc
  </select>
</mapper>
