<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamEquipmentParamListMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamEquipmentParamList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_param_list_id" jdbcType="BIGINT" property="equipmentParamListId" />
    <result column="equipment_param_id" jdbcType="BIGINT" property="equipmentParamId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="reference_value" jdbcType="VARCHAR" property="referenceValue" />
    <result column="min_value" jdbcType="DECIMAL" property="minValue" />
    <result column="max_value" jdbcType="DECIMAL" property="maxValue" />
    <result column="address_loca" jdbcType="INTEGER" property="addressLoca" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentParamListDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    eepl.equipment_param_list_id,
    eepl.equipment_param_id,
    eepl.parameter_name,
    eepl.unit_name,
    eepl.reference_value,
    eepl.min_value,
    eepl.max_value,
    eepl.address_loca,
    eepl.`status`,
    eepl.remark,
    eepl.org_id,
    eepl.create_user_id,
    eepl.create_time,
    eepl.modified_user_id,
    eepl.modified_time,
    eepl.option1,
    eepl.option2,
    eepl.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_equipment_param_list eepl
    left join sys_user u on eepl.create_user_id=u.user_id
    left join sys_user s on eepl.modified_user_id=s.user_id
    left join base_organization bo ON eepl.org_id = bo.organization_id
    <where>
      <if test="equipmentParamId != null">
        and eepl.equipment_param_id =  #{equipmentParamId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(eepl.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and eepl.status = #{status}
      </if>
      <if test="orgId!=null">
        and eepl.org_id=#{orgId}
      </if>
    </where>
    order by eepl.create_time desc
  </select>
</mapper>
