<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtReturnOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtReturnOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_return_order_det_id" jdbcType="BIGINT" property="htReturnOrderDetId" />
    <result column="return_order_det_id" jdbcType="BIGINT" property="returnOrderDetId" />
    <result column="return_order_id" jdbcType="BIGINT" property="returnOrderId" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="equipment_category_desc" jdbcType="VARCHAR" property="equipmentCategoryDesc"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
  </resultMap>

  <sql id="Base_Column_List">
    ehrod.ht_return_order_det_id,
    ehrod.return_order_det_id,
    ehrod.return_order_id,
    ehrod.equipment_id,
    ehrod.`status`,
    ehrod.remark,
    ehrod.org_id,
    ehrod.create_user_id,
    ehrod.create_time,
    ehrod.modified_user_id,
    ehrod.modified_time,
    ehrod.option1,
    ehrod.option2,
    ehrod.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ee.equipment_code,ee.equipment_name,ee.equipment_desc,ee.equipment_model,
    eec.equipment_category_desc,bw.warehouse_name,ero.return_time,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_return_order_det ehrod
    left join fantech_imes_v2.eam_equipment ee on ehrod.equipment_id=ee.equipment_id
    left join fantech_imes_v2.eam_equipment_category eec on ee.equipment_category_id=eec.equipment_category_id
    left join fantech_imes_v2.base_warehouse bw on ee.warehouse_id=bw.warehouse_id
    left join fantech_imes_v2.eam_return_order ero on ehrod.return_order_id=ero.return_order_id
    left join ocean_v2.sys_user u on ehrod.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehrod.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehrod.org_id = bo.organization_id
    <where>
      <if test="equipmentCode != null and equipmentCode!=''">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentName != null and equipmentName!=''">
        and ee.equipment_name like CONCAT('%', #{equipmentName}, '%')
      </if>
      <if test="equipmentDesc != null and equipmentDesc!=''">
        and ee.equipment_desc like CONCAT('%', #{equipmentDesc}, '%')
      </if>
      <if test="equipmentModel != null and equipmentModel!=''">
        and ee.equipment_model like CONCAT('%', #{equipmentModel}, '%')
      </if>
      <if test="equipmentCategoryDesc != null and equipmentCategoryDesc!=''">
        and eec.equipment_category_desc like CONCAT('%', #{equipmentCategoryDesc}, '%')
      </if>
      <if test="returnTime!= null and returnTime!= ''">
        and date_format(ero.return_time, '%Y-%m-%d') = #{returnTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehrod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehrod.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehrod.org_id=#{orgId}
      </if>
    </where>
    order by ehrod.create_time desc
  </select>
</mapper>