<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigScrapOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigScrapOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_scrap_order_det_id" jdbcType="BIGINT" property="htJigScrapOrderDetId" />
    <result column="jig_scrap_order_det_id" jdbcType="BIGINT" property="jigScrapOrderDetId" />
    <result column="jig_scrap_order_id" jdbcType="BIGINT" property="jigScrapOrderId" />
    <result column="jig_barcode_id" jdbcType="BIGINT" property="jigBarcodeId" />
    <result column="purchase_limitation_amount" jdbcType="VARCHAR" property="purchaseLimitationAmount" />
    <result column="asset_net_value" jdbcType="VARCHAR" property="assetNetValue" />
    <result column="estimate_scrap_amount" jdbcType="VARCHAR" property="estimateScrapAmount" />
    <result column="already_depreciation" jdbcType="VARCHAR" property="alreadyDepreciation" />
    <result column="subtotal_summary" jdbcType="VARCHAR" property="subtotalSummary" />
    <result column="scrap_description" jdbcType="VARCHAR" property="scrapDescription" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_barcode" jdbcType="VARCHAR" property="jigBarcode"/>
    <result column="asset_code" jdbcType="VARCHAR" property="assetCode"/>
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode"/>
    <result column="jig_name" jdbcType="VARCHAR" property="jigName"/>
    <result column="jig_desc" jdbcType="VARCHAR" property="jigDesc"/>
    <result column="jig_model" jdbcType="VARCHAR" property="jigModel"/>
    <result column="property_code_category" jdbcType="TINYINT" property="propertyCodeCategory"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjsod.ht_jig_scrap_order_det_id,
    ehjsod.jig_scrap_order_det_id,
    ehjsod.jig_scrap_order_id,
    ehjsod.jig_barcode_id,
    ehjsod.purchase_limitation_amount,
    ehjsod.asset_net_value,
    ehjsod.estimate_scrap_amount,
    ehjsod.already_depreciation,
    ehjsod.subtotal_summary,
    ehjsod.scrap_description,
    ehjsod.`status`,
    ehjsod.remark,
    ehjsod.org_id,
    ehjsod.create_user_id,
    ehjsod.create_time,
    ehjsod.modified_user_id,
    ehjsod.modified_time,
    ehjsod.option1,
    ehjsod.option2,
    ehjsod.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ejb.jig_barcode,ejb.asset_code,ej.jig_code,ej.jig_name,ej.jig_desc,ej.jig_model,
    ejsb.property_code_category,ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_jig_scrap_order_det ehjsod
    left join eam_jig_barcode ejb on ehjsod.jig_barcode_id=ejb.jig_barcode_id
    left join eam_jig_standing_book ejsb on ehjsod.jig_barcode_id=ejsb.jig_barcode_id
    left join eam_jig ej on ejb.jig_id=ej.jig_id
    left join eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join sys_user u on ehjsod.create_user_id=u.user_id
    left join sys_user s on ehjsod.modified_user_id=s.user_id
    left join base_organization bo ON ehjsod.org_id = bo.organization_id
    <where>
      <if test="jigScrapOrderId != null">
        and ehjsod.jig_scrap_order_id = #{jigScrapOrderId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjsod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjsod.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjsod.org_id=#{orgId}
      </if>
    </where>
    order by ehjsod.create_time desc
  </select>
</mapper>
