<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtEquipmentRepairOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtEquipmentRepairOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_repair_order_id" jdbcType="BIGINT" property="htEquipmentRepairOrderId" />
    <result column="equipment_repair_order_id" jdbcType="BIGINT" property="equipmentRepairOrderId" />
    <result column="equipment_repair_order_code" jdbcType="VARCHAR" property="equipmentRepairOrderCode" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_barcode_id" jdbcType="BIGINT" property="equipmentBarcodeId" />
    <result column="equipment_barcode" jdbcType="VARCHAR" property="equipmentBarcode" />
    <result column="request_for_repair_time" jdbcType="TIMESTAMP" property="requestForRepairTime" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="repair_user_id" jdbcType="BIGINT" property="repairUserId" />
    <result column="repair_time" jdbcType="TIMESTAMP" property="repairTime" />
    <result column="badness_duty_id" jdbcType="BIGINT" property="badnessDutyId" />
    <result column="badness_cause_id" jdbcType="BIGINT" property="badnessCauseId" />
    <result column="request_for_repair_remark" jdbcType="VARCHAR" property="requestForRepairRemark" />
    <result column="repair_remark" jdbcType="VARCHAR" property="repairRemark" />
    <result column="badness_phenotype_id" jdbcType="BIGINT" property="badnessPhenotypeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_desc" jdbcType="VARCHAR" property="equipmentDesc" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="badness_cause_code" jdbcType="VARCHAR" property="badnessCauseCode"/>
    <result column="badness_cause_desc" jdbcType="VARCHAR" property="badnessCauseDesc"/>
    <result column="badness_duty_code" jdbcType="VARCHAR" property="badnessDutyCode"/>
    <result column="badness_duty_desc" jdbcType="VARCHAR" property="badnessDutyDesc"/>
    <result column="badness_phenotype_code" jdbcType="VARCHAR" property="badnessPhenotypeCode"/>
    <result column="badness_phenotype_desc" jdbcType="VARCHAR" property="badnessPhenotypeDesc"/>
    <result column="repair_user_name" jdbcType="VARCHAR" property="repairUserName"/>
  </resultMap>


  <sql id="Base_Column_List">
    ehero.ht_equipment_repair_order_id,
    ehero.equipment_repair_order_id,
    ehero.equipment_repair_order_code,
    ehero.equipment_id,
    ehero.equipment_barcode_id,
    ehero.equipment_barcode,
    ehero.request_for_repair_time,
    ehero.order_status,
    ehero.repair_user_id,
    ehero.repair_time,
    ehero.badness_duty_id,
    ehero.badness_cause_id,
    ehero.request_for_repair_remark,
    ehero.repair_remark,
    ehero.badness_phenotype_id,
    ehero.`status`,
    ehero.remark,
    ehero.org_id,
    ehero.create_user_id,
    ehero.create_time,
    ehero.modified_user_id,
    ehero.modified_time,
    ehero.option1,
    ehero.option2,
    ehero.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ee.equipment_code,ee.equipment_name,ee.equipment_desc,ee.equipment_model,
    bbc.badness_cause_code,bbc.badness_cause_desc,
    bbd.badness_duty_code,bbd.badness_duty_desc,
    bbp.badness_phenotype_code,bbp.badness_phenotype_desc,
    su.user_name as repair_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_equipment_repair_order ehero
    left join fantech_imes_v2.eam_equipment ee on ehero.equipment_id = ee.equipment_id
    left join fantech_imes_v2.base_badness_cause bbc on ehero.badness_cause_id = bbc.badness_cause_id
    left join fantech_imes_v2.base_badness_duty bbd on ehero.badness_duty_id = bbd.badness_duty_id
    left join fantech_imes_v2.base_badness_phenotype bbp on ehero.badness_phenotype_id = bbp.badness_phenotype_id
    left join ocean_v2.sys_user su on ehero.repair_user_id=su.user_id
    left join ocean_v2.sys_user u on ehero.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehero.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehero.org_id = bo.organization_id
    <where>
      <if test="equipmentRepairOrderId!=null">
        and ehero.equipment_repair_order_id = #{equipmentRepairOrderId}
      </if>
      <if test="equipmentRepairOrderCode != null and equipmentRepairOrderCode!=''">
        and ehero.equipment_repair_order_code like CONCAT('%', #{equipmentRepairOrderCode}, '%')
      </if>
      <if test="equipmentBarcode != null and equipmentBarcode!=''">
        and ehero.equipment_barcode like CONCAT('%', #{equipmentBarcode}, '%')
      </if>
      <if test="equipmentCode != null and equipmentCode!=''">
        and ee.equipment_code like CONCAT('%', #{equipmentCode}, '%')
      </if>
      <if test="equipmentName != null and equipmentName!=''">
        and ee.equipment_name like CONCAT('%', #{equipmentName}, '%')
      </if>
      <if test="equipmentModel != null and equipmentModel!=''">
        and ee.equipment_model like CONCAT('%', #{equipmentModel}, '%')
      </if>
      <if test="orderStatus!=null">
        and ehero.order_status = #{orderStatus}
      </if>
      <if test="equipmentBarcodeId!=null">
        and ehero.equipment_barcode_id = #{equipmentBarcodeId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehero.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehero.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehero.org_id=#{orgId}
      </if>
    </where>
    order by ehero.create_time desc
  </select>
</mapper>