<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtEquipmentMaintainProjectItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtEquipmentMaintainProjectItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_maintain_project_item_id" jdbcType="BIGINT" property="htEquipmentMaintainProjectItemId" />
    <result column="equipment_maintain_project_item_id" jdbcType="BIGINT" property="equipmentMaintainProjectItemId" />
    <result column="equipment_maintain_project_id" jdbcType="BIGINT" property="equipmentMaintainProjectId" />
    <result column="equipment_maintain_project_name" jdbcType="VARCHAR" property="equipmentMaintainProjectName" />
    <result column="equipment_maintain_project_desc" jdbcType="VARCHAR" property="equipmentMaintainProjectDesc" />
    <result column="judge_type" jdbcType="TINYINT" property="judgeType" />
    <result column="ration_floor" jdbcType="DECIMAL" property="rationFloor" />
    <result column="ration_upper_limit" jdbcType="DECIMAL" property="rationUpperLimit" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamEquipmentMaintainProjectItemDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    eempi.equipment_maintain_project_item_id,
    eempi.equipment_maintain_project_id,
    eempi.equipment_maintain_project_name,
    eempi.equipment_maintain_project_desc,
    eempi.judge_type,
    eempi.ration_floor,
    eempi.ration_upper_limit,
    eempi.`status`,
    eempi.remark,
    eempi.org_id,
    eempi.create_user_id,
    eempi.create_time,
    eempi.modified_user_id,
    eempi.modified_time,
    eempi.option1,
    eempi.option2,
    eempi.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    eec.equipment_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_equipment_maintain_project_item eempi
    left join sys_user u on eempi.create_user_id=u.user_id
    left join sys_user s on eempi.modified_user_id=s.user_id
    left join base_organization bo ON eempi.org_id = bo.organization_id
    <where>
      <if test="equipmentMaintainProjectDesc != null and equipmentMaintainProjectDesc!=''">
        and eempi.equipment_maintain_project_desc like CONCAT('%', #{equipmentMaintainProjectDesc}, '%')
      </if>
      <if test="equipmentMaintainProjectName != null and equipmentMaintainProjectName!=''">
        and eempi.equipment_maintain_project_name like CONCAT('%', #{equipmentMaintainProjectName}, '%')
      </if>
      <if test="status!=null">
        and eempi.status = #{status}
      </if>
      <if test="orgId!=null">
        and eempi.org_id=#{orgId}
      </if>
    </where>
    order by eempi.create_time desc
  </select>
</mapper>
