<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtWiReleaseDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtWiReleaseDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_wi_release_det_id" jdbcType="BIGINT" property="htWiReleaseDetId" />
    <result column="wi_release_det_id" jdbcType="BIGINT" property="wiReleaseDetId" />
    <result column="wi_release_id" jdbcType="BIGINT" property="wiReleaseId" />
    <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.eam.EamHtWiReleaseDetDto">
    </resultMap>

    <sql id="BaseColumnList">
        ehwrd.wi_release_det_id,
        ehwrd.wi_release_id,
        ehwrd.work_instruction_id,
        ehwrd.status,
        ehwrd.remark,
        ehwrd.org_id,
        ehwrd.create_user_id,
        ehwrd.create_time,
        ehwrd.modified_user_id,
        ehwrd.modified_time,
        ehwrd.option1,
        ehwrd.option2,
        ehwrd.option3
    </sql>

    <select id="findHtList" resultMap="BaseResultMapDto">
        SELECT<include refid="BaseColumnList"/>
        FROM eam_ht_wi_release_det ehwrd
        LEFT JOIN ocean_v2.sys_user su ON ehwrd.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON ehwrd.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON ehwrd.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and ehwrd.org_id = #{orgId}
            </if>
            <if test="wiReleaseId!=null and wiReleaseId!=''">
                and ehwrd.wi_release_id = #{wiReleaseId}
            </if>
        </where>
    </select>


</mapper>