<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtWiReleaseMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtWiRelease">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_wi_release_id" jdbcType="BIGINT" property="htWiReleaseId" />
    <result column="wi_release_id" jdbcType="BIGINT" property="wiReleaseId" />
    <result column="wi_release_code" jdbcType="VARCHAR" property="wiReleaseCode" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="route_id" jdbcType="BIGINT" property="routeId" />
    <result column="pro_line_id" jdbcType="BIGINT" property="proLineId" />
    <result column="work_shop_id" jdbcType="BIGINT" property="workShopId" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="release_status" jdbcType="TINYINT" property="releaseStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamHtWiReleaseDto">
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
    <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
    <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName"/>
    <result column="pro_line_name" jdbcType="VARCHAR" property="proLineName"/>
    <result column="work_order_status" jdbcType="VARCHAR" property="workOrderStatus"/>
    <collection property="eamHtWiReleaseDetDtos" ofType="com.fantechs.common.base.general.dto.eam.EamHtWiReleaseDetDto"
                column="{wiReleaseId=wi_release_id}" select="com.fantechs.provider.eam.mapper.EamHtWiReleaseDetMapper.findHtList">
    </collection>
  </resultMap>

  <sql id="BaseColumnList">
        ehwr.ht_wi_release_id,
        ehwr.wi_release_id,
        ehwr.wi_release_code,
        ehwr.work_order_id,
        ehwr.material_id,
        ehwr.route_id,
        ehwr.pro_line_id,
        ehwr.work_shop_id,
        ehwr.factory_id,
        ehwr.release_status,
        ehwr.status,
        ehwr.remark,
        ehwr.org_id,
        ehwr.create_user_id,
        ehwr.create_time,
        ehwr.modified_user_id,
        ehwr.modified_time,
        ehwr.option1,
        ehwr.option2,
        ehwr.option3
    </sql>

  <select id="findHtList" resultMap="BaseResultMapDto">
    SELECT<include refid="BaseColumnList"/>,
    mpwo.work_order_code as work_order_code,mpwo.work_order_status as work_order_status,bm.material_code as material_code,
    bpm.product_model_name as product_model_name,bpm.product_model_code as product_model_code,br.route_name as route_name,
    bf.factory_name as factory_name,bws.work_shop_name as work_shop_name,bpl.pro_name as pro_line_name
    FROM eam_ht_wi_release ehwr
    LEFT JOIN mes_pm_work_order mpwo ON ehwr.work_order_id = mpwo.work_order_id
    LEFT JOIN base_material bm ON ehwr.material_id = bm.material_id
    LEFT JOIN base_material_tab bmt ON ehwr.material_id=bmt.material_id
    LEFT JOIN base_product_model bpm ON bmt.product_model_id=bpm.product_model_id
    LEFT JOIN base_route br ON ehwr.route_id = br.route_id
    LEFT JOIN base_factory bf ON ehwr.factory_id = bf.factory_id
    LEFT JOIN base_work_shop bws ON ehwr.work_shop_id = bws.work_shop_id
    LEFT JOIN base_pro_line bpl ON ehwr.pro_line_id = bpl.pro_line_id
    LEFT JOIN ocean_v2.sys_user su ON ehwr.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON ehwr.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON ehwr.org_id = bo.organization_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and ehwr.org_id = #{orgId}
      </if>
      <if test="wiReleaseCode!=null and wiReleaseCode!=''">
        and ehwr.wi_release_code = #{wiReleaseCode}
      </if>
    </where>
  </select>
</mapper>