<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtEquipmentScrapOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtEquipmentScrapOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_scrap_order_id" jdbcType="BIGINT" property="htEquipmentScrapOrderId" />
    <result column="equipment_scrap_order_id" jdbcType="BIGINT" property="equipmentScrapOrderId" />
    <result column="equipment_scrap_order_code" jdbcType="VARCHAR" property="equipmentScrapOrderCode" />
    <result column="apply_user_id" jdbcType="BIGINT" property="applyUserId" />
    <result column="apply_dept_id" jdbcType="BIGINT" property="applyDeptId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="use_user_id" jdbcType="BIGINT" property="useUserId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="use_dept_id" jdbcType="BIGINT" property="useDeptId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="apply_dept_name" jdbcType="VARCHAR" property="applyDeptName"/>
    <result column="use_dept_name" jdbcType="VARCHAR" property="useDeptName"/>
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName"/>
    <result column="use_user_name" jdbcType="VARCHAR" property="useUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    eheso.ht_equipment_scrap_order_id,
    eheso.equipment_scrap_order_id,
    eheso.equipment_scrap_order_code,
    eheso.apply_user_id,
    eheso.apply_dept_id,
    eheso.apply_time,
    eheso.use_user_id,
    eheso.order_status,
    eheso.use_dept_id,
    eheso.`status`,
    eheso.remark,
    eheso.org_id,
    eheso.create_user_id,
    eheso.create_time,
    eheso.modified_user_id,
    eheso.modified_time,
    eheso.option1,
    eheso.option2,
    eheso.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bd.dept_name as apply_dept_name,
    d.dept_name as use_dept_name,
    su.user_name as apply_user_name,
    sus.user_name as use_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_equipment_scrap_order eheso
    left join base_dept d on eheso.use_dept_id=d.dept_id
    left join base_dept bd on eheso.apply_dept_id=bd.dept_id
    left join sys_user su on eheso.apply_user_id=su.user_id
    left join sys_user sus on eheso.use_user_id=sus.user_id
    left join sys_user u on eheso.create_user_id=u.user_id
    left join sys_user s on eheso.modified_user_id=s.user_id
    left join base_organization bo ON eheso.org_id = bo.organization_id
    <where>
      <if test="equipmentScrapOrderCode != null and equipmentScrapOrderCode!=''">
        and eheso.equipment_scrap_order_code like CONCAT('%', #{equipmentScrapOrderCode}, '%')
      </if>
      <if test="applyDeptName != null and applyDeptName!=''">
        and bd.dept_name like CONCAT('%', #{applyDeptName}, '%')
      </if>
      <if test="useDeptName != null and useDeptName!=''">
        and d.dept_name like CONCAT('%', #{useDeptName}, '%')
      </if>
      <if test="applyUserName != null and applyUserName!=''">
        and su.user_name like CONCAT('%', #{applyUserName}, '%')
      </if>
      <if test="useUserName != null and useUserName!=''">
        and sus.user_name like CONCAT('%', #{useUserName}, '%')
      </if>
      <if test="orderStatus!=null">
        and eheso.order_status = #{orderStatus}
      </if>
      <if test="applyTime!= null and applyTime!= ''">
        and date_format(eheso.apply_time, '%Y-%m-%d') = #{applyTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(eheso.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and eheso.status = #{status}
      </if>
      <if test="orgId!=null">
        and eheso.org_id=#{orgId}
      </if>
    </where>
    order by eheso.create_time desc
  </select>
</mapper>
