<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtEquipmentStandingBookAttachmentMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtEquipmentStandingBookAttachment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_standing_book_attachment_id" jdbcType="BIGINT" property="htEquipmentStandingBookAttachmentId" />
    <result column="equipment_standing_book_attachment_id" jdbcType="BIGINT" property="equipmentStandingBookAttachmentId" />
    <result column="equipment_standing_book_id" jdbcType="BIGINT" property="equipmentStandingBookId" />
    <result column="file_org_name" jdbcType="VARCHAR" property="fileOrgName" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="store_path" jdbcType="VARCHAR" property="storePath" />
    <result column="access_url" jdbcType="VARCHAR" property="accessUrl" />
    <result column="file_size" jdbcType="DECIMAL" property="fileSize" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="BaseColumnList">
        eescba.equipment_standing_book_attachment_id,
        eescba.equipment_standing_book_id,
        eescba.file_org_name,
        eescba.file_name,
        eescba.store_path,
        eescba.access_url,
        eescba.file_size,
        eescba.status,
        eescba.remark,
        eescba.org_id,
        eescba.create_user_id,
        eescba.create_time,
        eescba.modified_user_id,
        eescba.modified_time,
        eescba.option1,
        eescba.option2,
        eescba.option3
    </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    SELECT<include refid="BaseColumnList"/>
    FROM eam_ht_equipment_standing_book_attachment eescba
    LEFT JOIN eam_ht_equipment_standing_book eesb ON eescba.equipment_standing_book_id=eesb.equipment_standing_book_id
    LEFT JOIN ocean_v2.sys_user su ON eescba.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON eescba.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON eescba.org_id = bo.organization_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and eescba.org_id = #{orgId}
      </if>
      <if test="workInstructionId!=null and workInstructionId!=''">
        and eescba.equipment_standing_book_id = #{equipmentStandingBookId}
      </if>
    </where>
  </select>
</mapper>