<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigBackupMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigBackup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_backup_id" jdbcType="BIGINT" property="htJigBackupId" />
    <result column="jig_backup_id" jdbcType="BIGINT" property="jigBackupId" />
    <result column="jig_backup_code" jdbcType="VARCHAR" property="jigBackupCode" />
    <result column="jig_backup_name" jdbcType="VARCHAR" property="jigBackupName" />
    <result column="jig_backup_desc" jdbcType="VARCHAR" property="jigBackupDesc" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="working_area_id" jdbcType="BIGINT" property="workingAreaId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="jig_id" jdbcType="BIGINT" property="jigId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjb.ht_jig_backup_id,
    ehjb.jig_backup_id,
    ehjb.jig_backup_code,
    ehjb.jig_backup_name,
    ehjb.jig_backup_desc,
    ehjb.warehouse_id,
    ehjb.warehouse_area_id,
    ehjb.working_area_id,
    ehjb.storage_id,
    ehjb.qty,
    ehjb.jig_id,
    ehjb.`status`,
    ehjb.remark,
    ehjb.org_id,
    ehjb.create_user_id,
    ehjb.create_time,
    ehjb.modified_user_id,
    ehjb.modified_time,
    ehjb.option1,
    ehjb.option2,
    ehjb.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bw.warehouse_name,bwa.warehouse_area_name,bs.storage_code,bwo.working_area_code,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_jig_backup ehjb
    left join base_warehouse bw on ehjb.warehouse_id=bw.warehouse_id
    left join base_warehouse_area bwa on ehjb.warehouse_area_id=bwa.warehouse_area_id
    left join base_working_area bwo on ehjb.working_area_id=bwo.working_area_id
    left join base_storage bs on ehjb.storage_id=bs.storage_id
    left join sys_user u on ehjb.create_user_id=u.user_id
    left join sys_user s on ehjb.modified_user_id=s.user_id
    left join base_organization bo ON ehjb.org_id = bo.organization_id
    <where>
      <if test="jigId != null">
        and ehjb.jig_id = #{jigId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjb.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjb.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjb.org_id=#{orgId}
      </if>
    </where>
    order by ehjb.create_time desc
  </select>
</mapper>
