<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigStandingBookMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigStandingBook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_standing_book_id" jdbcType="BIGINT" property="htJigStandingBookId" />
    <result column="jig_standing_book_id" jdbcType="BIGINT" property="jigStandingBookId" />
    <result column="jig_barcode_id" jdbcType="BIGINT" property="jigBarcodeId" />
    <result column="property_code_category" jdbcType="TINYINT" property="propertyCodeCategory" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="depreciable_life" jdbcType="INTEGER" property="depreciableLife" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="asset_code" jdbcType="VARCHAR" property="assetCode"/>
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode"/>
    <result column="jig_name" jdbcType="VARCHAR" property="jigName"/>
    <result column="jig_desc" jdbcType="VARCHAR" property="jigDesc"/>
    <result column="jig_model" jdbcType="VARCHAR" property="jigModel"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
    <result column="usage_status" jdbcType="VARCHAR" property="usageStatus"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjsb.ht_jig_standing_book_id,
    ehjsb.jig_standing_book_id,
    ehjsb.jig_barcode_id,
    ehjsb.property_code_category,
    ehjsb.release_date,
    ehjsb.dept_id,
    ehjsb.depreciable_life,
    ehjsb.`status`,
    ehjsb.remark,
    ehjsb.org_id,
    ehjsb.create_user_id,
    ehjsb.create_time,
    ehjsb.modified_time,
    ehjsb.modified_user_id,
    ehjsb.option1,
    ehjsb.option2,
    ehjsb.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ejb.asset_code,ejb.usage_status,ej.jig_code,ej.jig_name,ej.jig_desc,ej.jig_model,ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bd.dept_name,
    bo.organization_name
    from eam_ht_jig_standing_book ehjsb
    left join eam_jig_barcode ejb on ehjsb.jig_barcode_id=ejb.jig_barcode_id
    left join eam_jig ej on ejb.jig_id=ej.jig_id
    left join eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join sys_user u on ehjsb.create_user_id=u.user_id
    left join sys_user s on ehjsb.modified_user_id=s.user_id
    left join base_dept bd on ehjsb.dept_id=bd.dept_id
    left join base_organization bo ON ehjsb.org_id = bo.organization_id
    <where>
      <if test="assetCode != null and assetCode!=''">
        and ejb.asset_code like CONCAT('%', #{assetCode}, '%')
      </if>
      <if test="jigCode != null and jigCode!=''">
        and ej.jig_code like CONCAT('%', #{jigCode}, '%')
      </if>
      <if test="jigName != null and jigName!=''">
        and ej.jig_name like CONCAT('%', #{jigName}, '%')
      </if>
      <if test="jig_barcode_id != null and jig_barcode_id!=''">
        and ehjsb.jig_barcode_id like CONCAT('%', #{jigBarcodeId}, '%')
      </if>
      <if test="property_code_category != null and property_code_category!=''">
        and ehjsb.property_code_category like CONCAT('%', #{propertyCodeCategory}, '%')
      </if>
      <if test="release_date != null and release_date!=''">
        and ehjsb.release_date like CONCAT('%', #{releaseDate}, '%')
      </if>
      <if test="dept_id != null and dept_id!=''">
        and ehjsb.dept_id like CONCAT('%', #{deptId}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjsb.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjsb.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjsb.org_id=#{orgId}
      </if>
    </where>
    order by ehjsb.create_time desc
  </select>

</mapper>
