<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigMaintainProjectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigMaintainProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_maintain_project_id" jdbcType="BIGINT" property="htJigMaintainProjectId" />
    <result column="jig_maintain_project_id" jdbcType="BIGINT" property="jigMaintainProjectId" />
    <result column="jig_maintain_project_code" jdbcType="VARCHAR" property="jigMaintainProjectCode" />
    <result column="jig_maintain_project_name" jdbcType="VARCHAR" property="jigMaintainProjectName" />
    <result column="jig_maintain_project_desc" jdbcType="VARCHAR" property="jigMaintainProjectDesc" />
    <result column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjmp.ht_jig_maintain_project_id,
    ehjmp.jig_maintain_project_id,
    ehjmp.jig_maintain_project_id,
    ehjmp.jig_maintain_project_code,
    ehjmp.jig_maintain_project_name,
    ehjmp.jig_maintain_project_desc,
    ehjmp.jig_category_id,
    ehjmp.`status`,
    ehjmp.remark,
    ehjmp.org_id,
    ehjmp.create_user_id,
    ehjmp.create_time,
    ehjmp.modified_user_id,
    ehjmp.modified_time,
    ehjmp.option1,
    ehjmp.option2,
    ehjmp.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_jig_maintain_project ehjmp
    left join fantech_imes_v2.eam_jig_category ejc ON ehjmp.jig_category_id = ejc.jig_category_id
    left join ocean_v2.sys_user u on ehjmp.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehjmp.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehjmp.org_id = bo.organization_id
    <where>
      <if test="jigMaintainProjectCode != null and jigMaintainProjectCode!=''">
        and ehjmp.jig_maintain_project_code like CONCAT('%', #{jigMaintainProjectCode}, '%')
      </if>
      <if test="jigMaintainProjectName != null and jigMaintainProjectName!=''">
        and ehjmp.jig_maintain_project_name like CONCAT('%', #{jigMaintainProjectName}, '%')
      </if>
      <if test="jigMaintainProjectDesc != null and jigMaintainProjectDesc!=''">
        and ehjmp.jig_maintain_project_desc like CONCAT('%', #{jigMaintainProjectDesc}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjmp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjmp.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjmp.org_id=#{orgId}
      </if>
    </where>
    order by ehjmp.create_time desc
  </select>
</mapper>