<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigMaintainOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigMaintainOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_maintain_order_det_id" jdbcType="BIGINT" property="htJigMaintainOrderDetId" />
    <result column="jig_maintain_order_det_id" jdbcType="BIGINT" property="jigMaintainOrderDetId" />
    <result column="jig_maintain_order_id" jdbcType="BIGINT" property="jigMaintainOrderId" />
    <result column="jig_maintain_project_item_id" jdbcType="BIGINT" property="jigMaintainProjectItemId" />
    <result column="ration_result" jdbcType="DECIMAL" property="rationResult" />
    <result column="qualitative" jdbcType="TINYINT" property="qualitative" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_maintain_project_name" jdbcType="VARCHAR" property="jigMaintainProjectName"/>
    <result column="jig_maintain_project_desc" jdbcType="VARCHAR" property="jigMaintainProjectDesc"/>
    <result column="judge_type" jdbcType="TINYINT" property="judgeType"/>
    <result column="ration_floor" jdbcType="DECIMAL" property="rationFloor"/>
    <result column="ration_upper_limit" jdbcType="DECIMAL" property="rationUpperLimit"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjmod.ht_jig_maintain_order_det_id,
    ehjmod.jig_maintain_order_det_id,
    ehjmod.jig_maintain_order_id,
    ehjmod.jig_maintain_project_item_id,
    ehjmod.ration_result,
    ehjmod.qualitative,
    ehjmod.`status`,
    ehjmod.remark,
    ehjmod.org_id,
    ehjmod.create_user_id,
    ehjmod.create_time,
    ehjmod.modified_user_id,
    ehjmod.modified_time,
    ehjmod.option1,
    ehjmod.option2,
    ehjmod.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ejmpi.jig_maintain_project_name,ejmpi.jig_maintain_project_desc,
    ejmpi.judge_type,ejmpi.ration_floor,ejmpi.ration_upper_limit,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_jig_maintain_order_det ehjmod
    left join eam_jig_maintain_project_item ejmpi on ehjmod.jig_maintain_project_item_id=ejmpi.jig_maintain_project_item_id
    left join sys_user u on ehjmod.create_user_id=u.user_id
    left join sys_user s on ehjmod.modified_user_id=s.user_id
    left join base_organization bo ON ehjmod.org_id = bo.organization_id
    <where>
      <if test="jigMaintainOrderId != null">
        and ehjmod.jig_maintain_order_id = #{jigMaintainOrderId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjmod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjmod.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjmod.org_id=#{orgId}
      </if>
    </where>
    order by ehjmod.create_time desc
  </select>
</mapper>
