<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigRequisitionMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigRequisition">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_requisition_id" jdbcType="BIGINT" property="htJigRequisitionId" />
    <result column="jig_requisition_id" jdbcType="BIGINT" property="jigRequisitionId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="jig_id" jdbcType="BIGINT" property="jigId" />
    <result column="jig_barcode_id" jdbcType="BIGINT" property="jigBarcodeId" />
    <result column="this_time_usage_time" jdbcType="INTEGER" property="thisTimeUsageTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode"/>
    <result column="jig_name" jdbcType="VARCHAR" property="jigName"/>
    <result column="jig_desc" jdbcType="VARCHAR" property="jigDesc"/>
    <result column="jig_model" jdbcType="VARCHAR" property="jigModel"/>
    <result column="jig_barcode" jdbcType="VARCHAR" property="jigBarcode"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
    <result column="requisition_status" jdbcType="TINYINT" property="requisitionStatus"/>
    <result column="requisition_time" jdbcType="TIMESTAMP" property="requisitionTime"/>
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="this_time_usage_time" jdbcType="VARCHAR" property="thisTimeUsageTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjr.ht_jig_requisition_id,
    ehjr.jig_requisition_id,
    ehjr.work_order_id,
    ehjr.equipment_id,
    ehjr.jig_id,
    ehjr.jig_barcode_id,
    ehjr.`status`,
    ehjr.remark,
    ehjr.org_id,
    ehjr.create_user_id,
    ehjr.create_time,
    ehjr.modified_user_id,
    ehjr.modified_time,
    ehjr.option1,
    ehjr.option2,
    ehjr.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ej.jig_code,ej.jig_name,ej.jig_desc,ej.jig_model,ejc.jig_category_name,
    ejb.jig_barcode,wo.work_order_code,isnull(ejret.jig_return_id) as requisition_status,
    ehjr.create_time as requisition_time,ejret.create_time as return_time,ejret.this_time_usage_time,
    bw.warehouse_name,bwa.warehouse_area_name,bs.storage_code,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_jig_requisition ehjr
    left join fantech_imes_v2.eam_jig_return ejret on ehjr.jig_requisition_id=ejret.jig_requisition_id
    left join fantech_imes_v2.eam_jig ej on ehjr.jig_id=ej.jig_id
    left join fantech_imes_v2.base_warehouse bw on ej.warehouse_id=bw.warehouse_id
    left join fantech_imes_v2.base_warehouse_area bwa on ej.warehouse_area_id=bwa.warehouse_area_id
    left join fantech_imes_v2.base_storage bs on ej.storage_id=bs.storage_id
    left join fantech_imes_v2.eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join fantech_imes_v2.eam_jig_barcode ejb on ehjr.jig_barcode_id=ejb.jig_barcode_id
    left join fantech_imes_v2.mes_pm_work_order wo on ehjr.work_order_id=wo.work_order_id
    left join ocean_v2.sys_user u on ehjr.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehjr.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehjr.org_id = bo.organization_id
    <where>
      <if test="requisitionStatus!=null">
        and isnull(ejret.jig_return_id)=#{requisitionStatus}
      </if>
      <if test="jigId != null">
        and wo.jig_id = #{jigId}
      </if>
      <if test="workOrderId != null">
        and wo.work_order_id = #{workOrderId}
      </if>
      <if test="workOrderCode != null and workOrderCode!=''">
        and wo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
      </if>
      <if test="jigBarcode != null and jigBarcode!=''">
        and ejb.jig_barcode like CONCAT('%', #{jigBarcode}, '%')
      </if>
      <if test="jigCode != null and jigCode!=''">
        and ej.jig_code like CONCAT('%', #{jigCode}, '%')
      </if>
      <if test="jigName != null and jigName!=''">
        and ej.jig_name like CONCAT('%', #{jigName}, '%')
      </if>
      <if test="jigModel != null and jigModel!=''">
        and ej.jig_model like CONCAT('%', #{jigModel}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="requisitionTime != null and requisitionTime!=''">
        and date_format(ehjr.create_time, '%Y-%m-%d') = #{requisitionTime}
      </if>
      <if test="returnTime != null and returnTime!=''">
        and date_format(ejret.create_time, '%Y-%m-%d') = #{returnTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjr.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjr.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjr.org_id=#{orgId}
      </if>
    </where>
    order by ehjr.create_time desc
  </select>
</mapper>