<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtNewsMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtNews">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_news_id" jdbcType="BIGINT" property="htNewsId" />
    <result column="news_id" jdbcType="BIGINT" property="newsId" />
    <result column="news_code" jdbcType="VARCHAR" property="newsCode" />
    <result column="news_name" jdbcType="VARCHAR" property="newsName" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="work_shop_id" jdbcType="BIGINT" property="workShopId" />
    <result column="pro_line_id" jdbcType="BIGINT" property="proLineId" />
    <result column="new_status" jdbcType="TINYINT" property="newStatus" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
    <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName"/>
    <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehn.ht_news_id,
    ehn.news_id,
    ehn.news_code,
    ehn.news_name,
    ehn.news_title,
    ehn.factory_id,
    ehn.work_shop_id,
    ehn.pro_line_id,
    ehn.new_status,
    ehn.audit_user_id,
    ehn.audit_date,
    ehn.`status`,
    ehn.remark,
    ehn.org_id,
    ehn.create_user_id,
    ehn.create_time,
    ehn.modified_user_id,
    ehn.modified_time,
    ehn.option1,
    ehn.option2,
    ehn.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bf.factory_name,bws.work_shop_name,bpl.pro_name,su.user_name as audit_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_news ehn
    left join fantech_imes_v2.base_factory bf on ehn.factory_id=bf.factory_id
    left join fantech_imes_v2.base_work_shop bws on ehn.work_shop_id=bws.work_shop_id
    left join fantech_imes_v2.base_pro_line bpl on ehn.pro_line_id=bpl.pro_line_id
    left join ocean_v2.sys_user su on ehn.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on ehn.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehn.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehn.org_id = bo.organization_id
    <where>
      <if test="newsCode != null and newsCode!=''">
        and ehn.news_code like CONCAT('%', #{newsCode}, '%')
      </if>
      <if test="newsTitle != null and newsTitle!=''">
        and ehn.news_title like CONCAT('%', #{newsTitle}, '%')
      </if>
      <if test="factoryName != null and factoryName!=''">
        and bf.factory_name like CONCAT('%', #{factoryName}, '%')
      </if>
      <if test="workShopName != null and workShopName!=''">
        and bws.work_shop_name like CONCAT('%', #{workShopName}, '%')
      </if>
      <if test="proName != null and proName!=''">
        and bpl.pro_name like CONCAT('%', #{proName}, '%')
      </if>
      <if test="newStatus!=null">
        and ehn.new_status = #{newStatus}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehn.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehn.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehn.org_id=#{orgId}
      </if>
    </where>
    order by ehn.create_time desc
  </select>
</mapper>