<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigPointInspectionProjectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigPointInspectionProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_point_inspection_project_id" jdbcType="BIGINT" property="htJigPointInspectionProjectId" />
    <result column="jig_point_inspection_project_id" jdbcType="BIGINT" property="jigPointInspectionProjectId" />
    <result column="jig_point_inspection_project_code" jdbcType="VARCHAR" property="jigPointInspectionProjectCode" />
    <result column="jig_point_inspection_project_name" jdbcType="VARCHAR" property="jigPointInspectionProjectName" />
    <result column="jig_point_inspection_project_desc" jdbcType="VARCHAR" property="jigPointInspectionProjectDesc" />
    <result column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjpip.ht_jig_point_inspection_project_id,
    ehjpip.jig_point_inspection_project_id,
    ehjpip.jig_point_inspection_project_code,
    ehjpip.jig_point_inspection_project_name,
    ehjpip.jig_point_inspection_project_desc,
    ehjpip.jig_category_id,
    ehjpip.`status`,
    ehjpip.remark,
    ehjpip.org_id,
    ehjpip.create_user_id,
    ehjpip.create_time,
    ehjpip.modified_user_id,
    ehjpip.modified_time,
    ehjpip.option1,
    ehjpip.option2,
    ehjpip.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_ht_jig_point_inspection_project ehjpip
    left join fantech_imes_v2.eam_jig_category ejc ON ehjpip.jig_category_id = ejc.jig_category_id
    left join ocean_v2.sys_user u on ehjpip.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ehjpip.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ehjpip.org_id = bo.organization_id
    <where>
      <if test="jigCategoryId!=null">
        and ehjpip.jig_category_id = #{jigCategoryId}
      </if>
      <if test="jigPointInspectionProjectCode != null and jigPointInspectionProjectCode!=''">
        and ehjpip.jig_point_inspection_project_code like CONCAT('%', #{jigPointInspectionProjectCode}, '%')
      </if>
      <if test="jigPointInspectionProjectName != null and jigPointInspectionProjectName!=''">
        and ehjpip.jig_point_inspection_project_name like CONCAT('%', #{jigPointInspectionProjectName}, '%')
      </if>
      <if test="jigPointInspectionProjectDesc != null and jigPointInspectionProjectDesc!=''">
        and ehjpip.jig_point_inspection_project_desc like CONCAT('%', #{jigPointInspectionProjectDesc}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ehjpip.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ehjpip.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjpip.org_id=#{orgId}
      </if>
    </where>
    order by ehjpip.create_time desc
  </select>
</mapper>