<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamHtJigPointInspectionProjectItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.history.EamHtJigPointInspectionProjectItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_jig_point_inspection_project_item_id" jdbcType="BIGINT" property="htJigPointInspectionProjectItemId" />
    <result column="jig_point_inspection_project_item_id" jdbcType="BIGINT" property="jigPointInspectionProjectItemId" />
    <result column="jig_point_inspection_project_id" jdbcType="BIGINT" property="jigPointInspectionProjectId" />
    <result column="jig_point_inspection_project_item_name" jdbcType="VARCHAR" property="jigPointInspectionProjectItemName" />
    <result column="jig_point_inspection_project_item_desc" jdbcType="VARCHAR" property="jigPointInspectionProjectItemDesc" />
    <result column="judge_type" jdbcType="TINYINT" property="judgeType" />
    <result column="ration_floor" jdbcType="DECIMAL" property="rationFloor" />
    <result column="ration_upper_limit" jdbcType="DECIMAL" property="rationUpperLimit" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ehjpipi.ht_jig_point_inspection_project_item_id,
    ehjpipi.jig_point_inspection_project_item_id,
    ehjpipi.jig_point_inspection_project_id,
    ehjpipi.jig_point_inspection_project_item_name,
    ehjpipi.jig_point_inspection_project_item_desc,
    ehjpipi.judge_type,
    ehjpipi.ration_floor,
    ehjpipi.ration_upper_limit,
    ehjpipi.`status`,
    ehjpipi.remark,
    ehjpipi.org_id,
    ehjpipi.create_user_id,
    ehjpipi.create_time,
    ehjpipi.modified_user_id,
    ehjpipi.modified_time,
    ehjpipi.option1,
    ehjpipi.option2,
    ehjpipi.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_ht_jig_point_inspection_project_item ehjpipi
    left join sys_user u on ehjpipi.create_user_id=u.user_id
    left join sys_user s on ehjpipi.modified_user_id=s.user_id
    left join base_organization bo ON ehjpipi.org_id = bo.organization_id
    <where>
      <if test="jigPointInspectionProjectId != null">
        and ehjpipi.jig_point_inspection_project_id = #{jigPointInspectionProjectId}
      </if>
      <if test="status!=null">
        and ehjpipi.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehjpipi.org_id=#{orgId}
      </if>
    </where>
    order by ehjpipi.create_time desc
  </select>
</mapper>
