<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigScrapOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigScrapOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_scrap_order_id" jdbcType="BIGINT" property="jigScrapOrderId" />
    <result column="jig_scrap_order_code" jdbcType="VARCHAR" property="jigScrapOrderCode" />
    <result column="apply_user_id" jdbcType="BIGINT" property="applyUserId" />
    <result column="apply_dept_id" jdbcType="BIGINT" property="applyDeptId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="use_user_id" jdbcType="BIGINT" property="useUserId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="use_dept_id" jdbcType="BIGINT" property="useDeptId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigScrapOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="apply_dept_name" jdbcType="VARCHAR" property="applyDeptName"/>
    <result column="use_dept_name" jdbcType="VARCHAR" property="useDeptName"/>
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName"/>
    <result column="use_user_name" jdbcType="VARCHAR" property="useUserName"/>
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamJigScrapOrderDetDto"
                column="{jigScrapOrderId=jig_scrap_order_id}" select="com.fantechs.provider.eam.mapper.EamJigScrapOrderDetMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    ejso.jig_scrap_order_id,
    ejso.jig_scrap_order_code,
    ejso.apply_user_id,
    ejso.apply_dept_id,
    ejso.apply_time,
    ejso.use_user_id,
    ejso.order_status,
    ejso.use_dept_id,
    ejso.`status`,
    ejso.remark,
    ejso.org_id,
    ejso.create_user_id,
    ejso.create_time,
    ejso.modified_user_id,
    ejso.modified_time,
    ejso.option1,
    ejso.option2,
    ejso.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bd.dept_name as apply_dept_name,
    d.dept_name as use_dept_name,
    su.user_name as apply_user_name,
    sus.user_name as use_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_scrap_order ejso
    left join base_dept d on ejso.use_dept_id=d.dept_id
    left join base_dept bd on ejso.apply_dept_id=bd.dept_id
    left join sys_user su on ejso.apply_user_id=su.user_id
    left join sys_user sus on ejso.use_user_id=sus.user_id
    left join sys_user u on ejso.create_user_id=u.user_id
    left join sys_user s on ejso.modified_user_id=s.user_id
    left join base_organization bo ON ejso.org_id = bo.organization_id
    <where>
      <if test="jigScrapOrderCode != null and jigScrapOrderCode!=''">
        and ejso.jig_scrap_order_code like CONCAT('%', #{jigScrapOrderCode}, '%')
      </if>
      <if test="applyDeptName != null and applyDeptName!=''">
        and bd.dept_name like CONCAT('%', #{applyDeptName}, '%')
      </if>
      <if test="useDeptName != null and useDeptName!=''">
        and d.dept_name like CONCAT('%', #{useDeptName}, '%')
      </if>
      <if test="applyUserName != null and applyUserName!=''">
        and su.user_name like CONCAT('%', #{applyUserName}, '%')
      </if>
      <if test="useUserName != null and useUserName!=''">
        and sus.user_name like CONCAT('%', #{useUserName}, '%')
      </if>
      <if test="orderStatus!=null">
        and ejso.order_status = #{orderStatus}
      </if>
      <if test="applyTime!= null and applyTime!= ''">
        and date_format(ejso.apply_time, '%Y-%m-%d') = #{applyTime}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejso.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejso.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejso.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejso.create_time desc
  </select>
</mapper>
