<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_id" jdbcType="BIGINT" property="jigId" />
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode" />
    <result column="jig_name" jdbcType="VARCHAR" property="jigName" />
    <result column="jig_desc" jdbcType="VARCHAR" property="jigDesc" />
    <result column="jig_model" jdbcType="VARCHAR" property="jigModel" />
    <result column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="working_area_id" jdbcType="BIGINT" property="workingAreaId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="maintain_max_usage_time" jdbcType="INTEGER" property="maintainMaxUsageTime" />
    <result column="maintain_warning_time" jdbcType="INTEGER" property="maintainWarningTime" />
    <result column="max_usage_time" jdbcType="INTEGER" property="maxUsageTime" />
    <result column="warning_time" jdbcType="INTEGER" property="warningTime" />
    <result column="max_usage_days" jdbcType="INTEGER" property="maxUsageDays" />
    <result column="warning_days" jdbcType="INTEGER" property="warningDays" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="volume" jdbcType="DECIMAL" property="volume" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="power" jdbcType="DECIMAL" property="power" />
    <result column="maintain_cycle" jdbcType="INTEGER" property="maintainCycle" />
    <result column="maintain_warning_days" jdbcType="INTEGER" property="maintainWarningDays" />
    <result column="backup_name" jdbcType="VARCHAR" property="backupName" />
    <result column="backup_qty" jdbcType="INTEGER" property="backupQty" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="eamJigBarcodeList" ofType="com.fantechs.common.base.general.entity.eam.EamJigBarcode"
                column="{jigId=jig_id}" select="com.fantechs.provider.eam.mapper.EamJigBarcodeMapper.findList">
    </collection>
    <collection property="eamJigAttachmentList" ofType="com.fantechs.common.base.general.entity.eam.EamJigAttachment"
                column="{jigId=jig_id}" select="com.fantechs.provider.eam.mapper.EamJigAttachmentMapper.findList">
    </collection>
    <collection property="eamJigBackupDtoList" ofType="com.fantechs.common.base.general.dto.eam.EamSparePartReJigDto"
                column="{jigId=jig_id}" select="com.fantechs.provider.eam.mapper.EamSparePartReJigMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
  </resultMap>

  <sql id="Base_Column_List">
    ej.jig_id,
    ej.jig_code,
    ej.jig_name,
    ej.jig_desc,
    ej.jig_model,
    ej.jig_category_id,
    ej.user_id,
    ej.warehouse_id,
    ej.warehouse_area_id,
    ej.working_area_id,
    ej.storage_id,
    ej.maintain_max_usage_time,
    ej.maintain_warning_time,
    ej.max_usage_time,
    ej.warning_time,
    ej.max_usage_days,
    ej.warning_days,
    ej.length,
    ej.width,
    ej.height,
    ej.volume,
    ej.weight,
    ej.power,
    ej.maintain_cycle,
    ej.maintain_warning_days,
    ej.backup_name,
    ej.backup_qty,
    ej.`status`,
    ej.remark,
    ej.org_id,
    ej.create_user_id,
    ej.create_time,
    ej.modified_user_id,
    ej.modified_time,
    ej.option1,
    ej.option2,
    ej.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ejc.jig_category_name,su.user_name,bw.warehouse_name,bwa.warehouse_area_name,bs.storage_code,bwo.working_area_code,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig ej
    left join eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join base_warehouse bw on ej.warehouse_id=bw.warehouse_id
    left join base_warehouse_area bwa on ej.warehouse_area_id=bwa.warehouse_area_id
    left join base_working_area bwo on ej.working_area_id=bwo.working_area_id
    left join base_storage bs on ej.storage_id=bs.storage_id
    left join sys_user su on ej.user_id=su.user_id
    left join sys_user u on ej.create_user_id=u.user_id
    left join sys_user s on ej.modified_user_id=s.user_id
    left join base_organization bo ON ej.org_id = bo.organization_id
    <where>
      <if test="jigCategoryId != null">
        and ej.jig_category_id = #{jigCategoryId}
      </if>
      <if test="jigId != null">
        and ej.jig_id = #{jigId}
      </if>
      <if test="jigCode != null and jigCode!=''">
        and ej.jig_code like CONCAT('%', #{jigCode}, '%')
      </if>
      <if test="jigName != null and jigName!=''">
        and ej.jig_name like CONCAT('%', #{jigName}, '%')
      </if>
      <if test="jigModel != null and jigModel!=''">
        and ej.jig_model like CONCAT('%', #{jigModel}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ej.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ej.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ej.status = #{status}
      </if>
      <if test="orgId!=null">
        and ej.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ej.create_time desc
  </select>
</mapper>
