<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigMaintainOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigMaintainOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_maintain_order_id" jdbcType="BIGINT" property="jigMaintainOrderId" />
    <result column="jig_maintain_order_code" jdbcType="VARCHAR" property="jigMaintainOrderCode" />
    <result column="jig_id" jdbcType="BIGINT" property="jigId" />
    <result column="jig_barcode_id" jdbcType="BIGINT" property="jigBarcodeId" />
    <result column="jig_maintain_project_id" jdbcType="BIGINT" property="jigMaintainProjectId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamJigMaintainOrderDetDto"
                column="{jigMaintainOrderId=jig_maintain_order_id}" select="com.fantechs.provider.eam.mapper.EamJigMaintainOrderDetMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigMaintainOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_barcode" jdbcType="VARCHAR" property="jigBarcode"/>
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode"/>
    <result column="jig_name" jdbcType="VARCHAR" property="jigName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
    <result column="jig_maintain_project_code" jdbcType="VARCHAR" property="jigMaintainProjectCode"/>
    <result column="jig_maintain_project_name" jdbcType="VARCHAR" property="jigMaintainProjectName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ejmo.jig_maintain_order_id,
    ejmo.jig_maintain_order_code,
    ejmo.jig_id,
    ejmo.jig_barcode_id,
    ejmo.jig_maintain_project_id,
    ejmo.order_status,
    ejmo.`status`,
    ejmo.remark,
    ejmo.org_id,
    ejmo.create_user_id,
    ejmo.create_time,
    ejmo.modified_user_id,
    ejmo.modified_time,
    ejmo.option1,
    ejmo.option2,
    ejmo.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ejb.jig_barcode,ej.jig_code,ej.jig_name,ejc.jig_category_name,
    ejmp.jig_maintain_project_code,ejmp.jig_maintain_project_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_maintain_order ejmo
    left join eam_jig_maintain_project ejmp on ejmo.jig_maintain_project_id=ejmp.jig_maintain_project_id
    left join eam_jig ej on ejmo.jig_id=ej.jig_id
    left join eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join eam_jig_barcode ejb on ejmo.jig_barcode_id=ejb.jig_barcode_id
    left join sys_user u on ejmo.create_user_id=u.user_id
    left join sys_user s on ejmo.modified_user_id=s.user_id
    left join base_organization bo ON ejmo.org_id = bo.organization_id
    <where>
      <if test="jigMaintainOrderCode != null and jigMaintainOrderCode!=''">
        and ejmo.jig_maintain_order_code like CONCAT('%', #{jigMaintainOrderCode}, '%')
      </if>
      <if test="jigBarcode != null and jigBarcode!=''">
        and ejb.jig_barcode like CONCAT('%', #{jigBarcode}, '%')
      </if>
      <if test="jigCode != null and jigCode!=''">
        and ej.jig_code like CONCAT('%', #{jigCode}, '%')
      </if>
      <if test="jigName != null and jigName!=''">
        and ej.jig_name like CONCAT('%', #{jigName}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="orderStatus!=null">
        and ejmo.order_status = #{orderStatus}
      </if>
      <if test="jigBarcodeId!=null">
        and ejmo.jig_barcode_id = #{jigBarcodeId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejmo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejmo.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejmo.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejmo.create_time desc
  </select>
</mapper>
