<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigMaintainProjectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigMaintainProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_maintain_project_id" jdbcType="BIGINT" property="jigMaintainProjectId" />
    <result column="jig_maintain_project_code" jdbcType="VARCHAR" property="jigMaintainProjectCode" />
    <result column="jig_maintain_project_name" jdbcType="VARCHAR" property="jigMaintainProjectName" />
    <result column="jig_maintain_project_desc" jdbcType="VARCHAR" property="jigMaintainProjectDesc" />
    <result column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamJigMaintainProjectItemDto"
                column="{jigMaintainProjectId=jig_maintain_project_id}" select="com.fantechs.provider.eam.mapper.EamJigMaintainProjectItemMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigMaintainProjectDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ejmp.jig_maintain_project_id,
    ejmp.jig_maintain_project_code,
    ejmp.jig_maintain_project_name,
    ejmp.jig_maintain_project_desc,
    ejmp.jig_category_id,
    ejmp.`status`,
    ejmp.remark,
    ejmp.org_id,
    ejmp.create_user_id,
    ejmp.create_time,
    ejmp.modified_user_id,
    ejmp.modified_time,
    ejmp.option1,
    ejmp.option2,
    ejmp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_maintain_project ejmp
    left join eam_jig_category ejc ON ejmp.jig_category_id = ejc.jig_category_id
    left join sys_user u on ejmp.create_user_id=u.user_id
    left join sys_user s on ejmp.modified_user_id=s.user_id
    left join base_organization bo ON ejmp.org_id = bo.organization_id
    <where>
      <if test="jigCategoryId!=null">
        and ejmp.jig_category_id = #{jigCategoryId}
      </if>
      <if test="jigMaintainProjectCode != null and jigMaintainProjectCode!=''">
        and ejmp.jig_maintain_project_code like CONCAT('%', #{jigMaintainProjectCode}, '%')
      </if>
      <if test="jigMaintainProjectName != null and jigMaintainProjectName!=''">
        and ejmp.jig_maintain_project_name like CONCAT('%', #{jigMaintainProjectName}, '%')
      </if>
      <if test="jigMaintainProjectDesc != null and jigMaintainProjectDesc!=''">
        and ejmp.jig_maintain_project_desc like CONCAT('%', #{jigMaintainProjectDesc}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejmp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejmp.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejmp.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejmp.create_time desc
  </select>
</mapper>
