<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="jig_category_code" jdbcType="VARCHAR" property="jigCategoryCode" />
    <result column="jig_category_desc" jdbcType="VARCHAR" property="jigCategoryDesc" />
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigCategoryDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ejc.jig_category_id,
    ejc.jig_category_code,
    ejc.jig_category_name,
    ejc.jig_category_desc,
    ejc.`status`,
    ejc.remark,
    ejc.org_id,
    ejc.create_user_id,
    ejc.create_time,
    ejc.modified_user_id,
    ejc.modified_time,
    ejc.option1,
    ejc.option2,
    ejc.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_category ejc
    left join sys_user u on ejc.create_user_id=u.user_id
    left join sys_user s on ejc.modified_user_id=s.user_id
    left join base_organization bo ON ejc.org_id = bo.organization_id
    <where>
      <if test="jigCategoryCode != null and jigCategoryCode!=''">
        and ejc.jig_category_code like CONCAT('%', #{jigCategoryCode}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejc.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejc.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejc.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejc.create_time desc
  </select>
</mapper>
