<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigPointInspectionOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigPointInspectionOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_point_inspection_order_id" jdbcType="BIGINT" property="jigPointInspectionOrderId" />
    <result column="jig_point_inspection_order_code" jdbcType="VARCHAR" property="jigPointInspectionOrderCode" />
    <result column="jig_id" jdbcType="BIGINT" property="jigId" />
    <result column="jig_barcode_id" jdbcType="BIGINT" property="jigBarcodeId" />
    <result column="jig_point_inspection_project_id" jdbcType="BIGINT" property="jigPointInspectionProjectId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamJigPointInspectionOrderDetDto"
                column="{jigPointInspectionOrderId=jig_point_inspection_order_id}" select="com.fantechs.provider.eam.mapper.EamJigPointInspectionOrderDetMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigPointInspectionOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_barcode" jdbcType="VARCHAR" property="jigBarcode"/>
    <result column="jig_code" jdbcType="VARCHAR" property="jigCode"/>
    <result column="jig_name" jdbcType="VARCHAR" property="jigName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
    <result column="jig_point_inspection_project_code" jdbcType="VARCHAR" property="jigPointInspectionProjectCode"/>
    <result column="jig_point_inspection_project_name" jdbcType="VARCHAR" property="jigPointInspectionProjectName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ejpio.jig_point_inspection_order_id,
    ejpio.jig_point_inspection_order_code,
    ejpio.jig_id,
    ejpio.jig_barcode_id,
    ejpio.jig_point_inspection_project_id,
    ejpio.order_status,
    ejpio.`status`,
    ejpio.remark,
    ejpio.org_id,
    ejpio.create_user_id,
    ejpio.create_time,
    ejpio.modified_user_id,
    ejpio.modified_time,
    ejpio.option1,
    ejpio.option2,
    ejpio.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ejb.jig_barcode,ej.jig_code,ej.jig_name,ejc.jig_category_name,
    ejpip.jig_point_inspection_project_code,ejpip.jig_point_inspection_project_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_point_inspection_order ejpio
    left join eam_jig_point_inspection_project ejpip on ejpio.jig_point_inspection_project_id=ejpip.jig_point_inspection_project_id
    left join eam_jig ej on ejpio.jig_id=ej.jig_id
    left join eam_jig_category ejc on ej.jig_category_id=ejc.jig_category_id
    left join eam_jig_barcode ejb on ejpio.jig_barcode_id=ejb.jig_barcode_id
    left join sys_user u on ejpio.create_user_id=u.user_id
    left join sys_user s on ejpio.modified_user_id=s.user_id
    left join base_organization bo ON ejpio.org_id = bo.organization_id
    <where>
      <if test="jigPointInspectionOrderCode != null and jigPointInspectionOrderCode!=''">
        and ejpio.jig_point_inspection_order_code like CONCAT('%', #{jigPointInspectionOrderCode}, '%')
      </if>
      <if test="jigBarcode != null and jigBarcode!=''">
        and ejb.jig_barcode like CONCAT('%', #{jigBarcode}, '%')
      </if>
      <if test="jigCode != null and jigCode!=''">
        and ej.jig_code like CONCAT('%', #{jigCode}, '%')
      </if>
      <if test="jigName != null and jigName!=''">
        and ej.jig_name like CONCAT('%', #{jigName}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="orderStatus!=null">
        and ejpio.order_status = #{orderStatus}
      </if>
      <if test="jigBarcodeId!=null">
        and ejpio.jig_barcode_id = #{jigBarcodeId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejpio.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejpio.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejpio.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejpio.create_time desc
  </select>
</mapper>
