<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamJigPointInspectionProjectMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamJigPointInspectionProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jig_point_inspection_project_id" jdbcType="BIGINT" property="jigPointInspectionProjectId" />
    <result column="jig_point_inspection_project_code" jdbcType="VARCHAR" property="jigPointInspectionProjectCode" />
    <result column="jig_point_inspection_project_name" jdbcType="VARCHAR" property="jigPointInspectionProjectName" />
    <result column="jig_point_inspection_project_desc" jdbcType="VARCHAR" property="jigPointInspectionProjectDesc" />
    <result column="jig_category_id" jdbcType="BIGINT" property="jigCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.eam.EamJigPointInspectionProjectItemDto"
                column="{jigPointInspectionProjectId=jig_point_inspection_project_id}" select="com.fantechs.provider.eam.mapper.EamJigPointInspectionProjectItemMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamJigPointInspectionProjectDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="jig_category_name" jdbcType="VARCHAR" property="jigCategoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ejpip.jig_point_inspection_project_id,
    ejpip.jig_point_inspection_project_code,
    ejpip.jig_point_inspection_project_name,
    ejpip.jig_point_inspection_project_desc,
    ejpip.jig_category_id,
    ejpip.`status`,
    ejpip.remark,
    ejpip.org_id,
    ejpip.create_user_id,
    ejpip.create_time,
    ejpip.modified_user_id,
    ejpip.modified_time,
    ejpip.option1,
    ejpip.option2,
    ejpip.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    ejc.jig_category_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_jig_point_inspection_project ejpip
    left join eam_jig_category ejc ON ejpip.jig_category_id = ejc.jig_category_id
    left join sys_user u on ejpip.create_user_id=u.user_id
    left join sys_user s on ejpip.modified_user_id=s.user_id
    left join base_organization bo ON ejpip.org_id = bo.organization_id
    <where>
      <if test="jigCategoryId!=null">
        and ejpip.jig_category_id = #{jigCategoryId}
      </if>
      <if test="jigPointInspectionProjectCode != null and jigPointInspectionProjectCode!=''">
        and ejpip.jig_point_inspection_project_code like CONCAT('%', #{jigPointInspectionProjectCode}, '%')
      </if>
      <if test="jigPointInspectionProjectName != null and jigPointInspectionProjectName!=''">
        and ejpip.jig_point_inspection_project_name like CONCAT('%', #{jigPointInspectionProjectName}, '%')
      </if>
      <if test="jigPointInspectionProjectDesc != null and jigPointInspectionProjectDesc!=''">
        and ejpip.jig_point_inspection_project_desc like CONCAT('%', #{jigPointInspectionProjectDesc}, '%')
      </if>
      <if test="jigCategoryName != null and jigCategoryName!=''">
        and ejc.jig_category_name like CONCAT('%', #{jigCategoryName}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ejpip.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ejpip.status = #{status}
      </if>
      <if test="orgId!=null">
        and ejpip.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by ejpip.create_time desc
  </select>
</mapper>
