<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamRequisitionOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamRequisitionOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="requisition_order_id" jdbcType="BIGINT" property="requisitionOrderId" />
    <result column="requisition_order_code" jdbcType="VARCHAR" property="requisitionOrderCode" />
    <result column="requisition_user_id" jdbcType="BIGINT" property="requisitionUserId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="requisition_time" jdbcType="TIMESTAMP" property="requisitionTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamRequisitionOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="requisition_user_name" jdbcType="VARCHAR" property="requisitionUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ero.requisition_order_id,
    ero.requisition_order_code,
    ero.requisition_user_id,
    ero.dept_id,
    ero.requisition_time,
    ero.`status`,
    ero.remark,
    ero.org_id,
    ero.create_user_id,
    ero.create_time,
    ero.modified_user_id,
    ero.modified_time,
    ero.option1,
    ero.option2,
    ero.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bd.dept_name,su.nick_name as requisition_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.eam_requisition_order ero
    left join fantech_imes_v2.base_dept bd on ero.dept_id=bd.dept_id
    left join ocean_v2.sys_user su on ero.requisition_user_id=su.user_id
    left join ocean_v2.sys_user u on ero.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ero.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ero.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ero.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ero.status = #{status}
      </if>
      <if test="orgId!=null">
        and ero.org_id=#{orgId}
      </if>
    </where>
    order by ero.create_time desc
  </select>
</mapper>