<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.eam.mapper.EamSparePartMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eam.EamSparePart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="spare_part_id" jdbcType="BIGINT" property="sparePartId" />
    <result column="spare_part_code" jdbcType="VARCHAR" property="sparePartCode" />
    <result column="spare_part_name" jdbcType="VARCHAR" property="sparePartName" />
    <result column="spare_part_desc" jdbcType="VARCHAR" property="sparePartDesc" />
    <result column="spare_part_model" jdbcType="VARCHAR" property="sparePartModel" />
    <result column="spare_part_category_id" jdbcType="BIGINT" property="sparePartCategoryId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="working_area_id" jdbcType="BIGINT" property="workingAreaId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="length" jdbcType="VARCHAR" property="length" />
    <result column="width" jdbcType="VARCHAR" property="width" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="volume" jdbcType="VARCHAR" property="volume" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eam.EamSparePartDto">
    <result column="spare_part_category_name" jdbcType="VARCHAR" property="sparePartCategoryName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    esp.spare_part_id,
    esp.spare_part_code,
    esp.spare_part_name,
    esp.spare_part_desc,
    esp.spare_part_model,
    esp.spare_part_category_id,
    esp.warehouse_id,
    esp.warehouse_area_id,
    esp.working_area_id,
    esp.storage_id,
    esp.qty,
    esp.length,
    esp.width,
    esp.height,
    esp.volume,
    esp.`status`,
    esp.remark,
    esp.org_id,
    esp.create_user_id,
    esp.create_time,
    esp.modified_user_id,
    esp.modified_time,
    esp.option1,
    esp.option2,
    esp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    espc.spare_part_category_name,
    bw.warehouse_name,
    bwa.warehouse_area_name,
    bs.storage_code,
    bwo.working_area_code,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eam_spare_part esp
    left join eam_spare_part_category espc on esp.spare_part_category_id=espc.spare_part_category_id
    left join base_warehouse bw on esp.warehouse_id=bw.warehouse_id
    left join base_warehouse_area bwa on esp.warehouse_area_id=bwa.warehouse_area_id
    left join base_working_area bwo on esp.working_area_id=bwo.working_area_id
    left join base_storage bs on esp.storage_id=bs.storage_id
    left join sys_user u on esp.create_user_id=u.user_id
    left join sys_user s on esp.modified_user_id=s.user_id
    left join base_organization bo ON esp.org_id = bo.organization_id
    <where>
      <if test="sparePartCode != null and sparePartCode!= ''">
        and esp.spare_part_code like CONCAT('%',  #{sparePartCode},'%')
      </if>
      <if test="sparePartName != null and sparePartName!= ''">
        and esp.spare_part_name like CONCAT('%',  #{sparePartName},'%')
      </if>
      <if test="sparePartDesc != null and sparePartDesc!= ''">
        and esp.spare_part_desc like CONCAT('%',  #{sparePartDesc},'%')
      </if>
      <if test="sparePartModel != null and sparePartModel!= ''">
        and esp.spare_part_model like CONCAT('%',  #{sparePartModel},'%')
      </if>
      <if test="sparePartCategoryId != null">
        and esp.spare_part_category_id = #{sparePartCategoryId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(esp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null and status!= ''">
        and esp.status = #{status}
      </if>
      <if test="orgId!=null and orgId!= ''">
        and esp.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by esp.create_time desc
  </select>
</mapper>
