<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.jinan.mapper.RfidHtBaseStationReAssetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.jinan.history.RfidHtBaseStationReAsset">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_base_station_re_asset_id" jdbcType="BIGINT" property="htBaseStationReAssetId" />
    <result column="base_station_re_asset_id" jdbcType="BIGINT" property="baseStationReAssetId" />
    <result column="base_station_id" jdbcType="BIGINT" property="baseStationId" />
    <result column="asset_id" jdbcType="BIGINT" property="assetId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="asset_code" jdbcType="VARCHAR" property="assetCode"/>
    <result column="asset_name" jdbcType="VARCHAR" property="assetName"/>
    <result column="asset_barcode" jdbcType="VARCHAR" property="assetBarcode"/>
  </resultMap>

  <sql id="Base_Column_List">
    rbsra.ht_base_station_re_asset_id,
    rbsra.base_station_re_asset_id,
    rbsra.base_station_id,
    rbsra.asset_id,
    rbsra.`status`,
    rbsra.remark,
    rbsra.org_id,
    rbsra.create_user_id,
    rbsra.create_time,
    rbsra.modified_user_id,
    rbsra.modified_time,
    rbsra.option1,
    rbsra.option2,
    rbsra.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    ra.asset_code,ra.asset_name,ra.asset_barcode,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.rfid_ht_base_station_re_asset rbsra
    left join fantech_imes_v2.rfid_asset ra ON rbsra.asset_id = ra.asset_id
    left join ocean_v2.sys_user u on rbsra.create_user_id=u.user_id
    left join ocean_v2.sys_user s on rbsra.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON rbsra.org_id = bo.organization_id
    <where>
      <if test="baseStationId!=null">
        and rbsra.base_station_id = #{baseStationId}
      </if>
      <if test="status!=null">
        and rbsra.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(rbsra.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and rbsra.org_id=#{orgId}
      </if>
    </where>
    order by rbsra.create_time desc
  </select>
</mapper>