<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wanbao.api.mapper.MiddleSaleOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.provider.wanbao.api.entity.MiddleSaleOrder">
        <id column="sale_order_id" jdbcType="VARCHAR" property="saleOrderId"/>
        <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode" />
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="make_order_user_name" jdbcType="VARCHAR" property="makeOrderUserName"/>
        <result column="supplier_id" jdbcType="VARCHAR" property="supplierId"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
        <result column="order_type" jdbcType="VARCHAR" property="orderType" />
        <result column="factory_code" jdbcType="VARCHAR" property="factoryCode" />
        <result column="customer_product_model" jdbcType="VARCHAR" property="customerProductModel" />
        <result column="customer_order_line_number" jdbcType="VARCHAR" property="customerOrderLineNumber" />
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode" />
        <result column="make_code" jdbcType="VARCHAR" property="makeCode" />
        <result column="sales_code_qty" jdbcType="DECIMAL" property="salesCodeQty" />
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="order_qty" jdbcType="DECIMAL" property="orderQty" />
        <result column="make_order_date" jdbcType="VARCHAR" property="makeOrderDate" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="sales_user_name" jdbcType="VARCHAR" property="salesUserName" />
        <result column="sales_dept" jdbcType="VARCHAR" property="salesDept" />
        <result column="order_date" jdbcType="VARCHAR" property="orderDate" />
    </resultMap>

    <select id="setPolicy" >
        begin
        APPS.mo_global.set_policy_context('S',81);
        end;
    </select>

    <select id="findSaleOrderData" parameterType="map" resultMap="BaseResultMap">
        SELECT
            mh.mo_number AS sales_order_code,
            mh.CUSTOMER_NUMBER AS supplier_code,
            mh.CUSTOMER_NAME AS supplier_name,
            mh.salesperson_name AS make_order_user_name,
            mh.mo_status AS order_status,
            mh.order_type_name AS order_type,
            mld.factory_code AS factory_code,
            mld.CUSTOMER_MODEL AS customer_product_model,
            mld.product_code AS sales_code,
            mld.Wb_Make_Code AS make_code,
            mld.product_description AS material_name,
            mld.Wb_Make_Code AS material_code,
            mld.quantity AS order_qty,
            mld.quantity AS sales_code_qty,
            mh.order_date AS make_order_date,
            mld.LINE_NUMBER AS customer_order_line_number,
            mh.creation_date AS create_time,
            mh.LAST_UPDATE_DATE AS modified_time
        FROM
        APPS.oms_mo_headers_v mh
        LEFT JOIN APPS.oms_mo_line_details_v mld ON mld.mo_header_id = mh.mo_header_id
        <where>
            mh.org_id = 81
            AND mh.mo_number IS NOT null
            AND mh.mo_status = '审批通过'
            AND mld.LINE_NUMBER LIKE '%.1'
            AND mh.order_date >= TO_DATE('2021-08-01' , 'YYYY-MM-DD' )
            <if test="date != null and date != ''">
                and mh.order_date >= TO_DATE(#{date} , 'YYYY-MM-DD' )
            </if>
        </where>
    </select>

    <select id="findSaleOrderFormIMS" parameterType="map" resultMap="BaseResultMap">
        SELECT
            ao.operatorname AS make_order_user_name,
            oe2.empname AS salesUserName,
            soh.creation_date AS create_time,
            soh.delivery_time AS order_date,
            soh.last_update_date AS modified_time,
            soh.order_num AS sales_order_code,
            ot.order_type_name AS order_type,
            cc.CUSTOMER_CODE AS supplier_code,
            cc.customer_name AS supplier_name,
            oo.orgname AS salesDept,
            soh.remark AS remark,
            pm.material_code AS material_code,
            pm.material_name AS material_name,
            sol.order_quantity AS order_qty,
            sol.order_quantity AS sales_code_qty
        FROM
            crm_so_order_header soh,
            crm_so_order_line sol,
            crm_ctm_customer cc,
            crm_pub_materials pm,
            om_employee oe2,
            ac_operator ao,
            om_organization oo,
            crm_so_order_type ot
        WHERE
            soh.order_id = sol.order_id
          AND soh.customer_id = cc.customer_id
          AND pm.material_id = sol.item_id
          AND ao.operatorid = soh.created_by
          AND oe2.empid (+) = soh.sales_representative
          AND oo.orgid (+) = soh.dept_id
          AND ot.order_type_id = soh.order_type_id
          AND soh.inv_ex_order_no IS NULL
          AND soh.status = '审批通过'
          AND soh.creation_date >= TO_DATE('2021-08-01' , 'YYYY-MM-DD' )
        <if test="date != null and date != ''">
            and soh.creation_date >= TO_DATE(#{date} , 'YYYY-MM-DD' )
        </if>
        ORDER BY
            ao.operatorname,
            soh.creation_date,
            sol.order_line_id;
    </select>

    <insert id="save" parameterType="com.fantechs.provider.wanbao.api.entity.MiddleSaleOrder">
        INSERT INTO "K3WMS"."middle_sale_order" ( "sale_order_id", "sales_order_code", "supplier_code", "supplier_id", "order_status", "order_type", "factory_code"
        , "customer_product_model", "customer_order_line_number", "sales_code", "make_code", "sales_code_qty", "material_name", "material_code", "order_qty", "make_order_date", "create_time", "modified_time")
        VALUES
            ( #{saleOrderId},
            #{salesOrderCode},
            #{supplierCode},
            #{supplierId},
            #{orderStatus},
            #{orderType},
            #{factoryCode},
            #{customerProductModel},
            #{customerOrderLineNumber},
            #{salesCode},
            #{makeCode},
            #{salesCodeQty},
            #{materialName},
            #{materialCode},
            #{orderQty},
            #{makeOrderDate},
            #{createTime},
            #{modifiedTime} )
    </insert>
</mapper>