<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wanbao.api.mapper.MiddleOutDeliveryOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.provider.wanbao.api.entity.MiddleOutDeliveryOrder">
        <id column="delivery_order_id" jdbcType="VARCHAR" property="deliveryOrderId"/>
        <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode" />
        <result column="plan_despatch_date" jdbcType="VARCHAR" property="planDespatchDate"/>
        <result column="actual_despatch_date" jdbcType="VARCHAR" property="actualDespatchDate"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
        <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode" />
        <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode" />
        <result column="sales_order_no" jdbcType="VARCHAR" property="salesOrderNo" />
        <result column="out_order_code" jdbcType="VARCHAR" property="outOrderCode" />
        <result column="container_number" jdbcType="VARCHAR" property="containerNumber" />
        <result column="declaration_location" jdbcType="VARCHAR" property="declarationLocation" />
        <result column="port_from" jdbcType="VARCHAR" property="portFrom" />
        <result column="sales_name" jdbcType="VARCHAR" property="salesName" />
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="material_name" jdbcType="VARCHAR" property="materialName" />
        <result column="packing_qty" jdbcType="DECIMAL" property="packingQty"/>
        <result column="dispatch_qty" jdbcType="DECIMAL" property="dispatchQty"/>
        <result column="order_date" jdbcType="TIMESTAMP" property="orderDate"/>
        <result column="sales_code" jdbcType="TIMESTAMP" property="salesCode"/>
        <result column="related_order_code_1" jdbcType="VARCHAR" property="relatedOrderCode1"/>
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
        <result column="option4" jdbcType="VARCHAR" property="option4" />
        <result column="option5" jdbcType="VARCHAR" property="option5" />
        <result column="option6" jdbcType="VARCHAR" property="option6" />
        <result column="option7" jdbcType="VARCHAR" property="option7" />
        <result column="option8" jdbcType="VARCHAR" property="option8" />
        <result column="option9" jdbcType="VARCHAR" property="option9" />
        <result column="option10" jdbcType="VARCHAR" property="option10" />
        <result column="option11" jdbcType="VARCHAR" property="option11" />
        <result column="option12" jdbcType="VARCHAR" property="option12" />
        <result column="option13" jdbcType="VARCHAR" property="option13" />
        <result column="option14" jdbcType="VARCHAR" property="option14" />
    </resultMap>

    <select id="setPolicy" >
        begin
        APPS.mo_global.set_policy_context('S',81);
        end;
    </select>

    <select id="findOutDeliveryData" parameterType="map" resultMap="BaseResultMap">
        SELECT
        DISTINCT(sld.so_line_id),
        sh.so_number AS delivery_order_code,
        sh.schedule_ship_date AS plan_despatch_date,
        sh.actual_ship_date AS actual_despatch_date,
        sh.customer_number AS customer_code,
        sh.customer_name AS customer_name,
        sh.status_name AS audit_status,
        sh.delivery_status_name AS order_status,
        sl.mo_number AS sales_order_code,
        sl.po_number AS customer_order_code,
        sl.customer_model AS product_model_code,
        msib.segment1 AS material_code,
        sld.product_name AS material_name,
        sld.product_code AS sales_code,
        sld.quantity_plan_ship AS packing_qty,
        sh.CREATION_DATE AS order_date,
        sh.CONTAINER_NUMBER AS container_number,
        sh.DECLARATION_LOCATION AS declaration_location,
        sh.PORT_FROM AS port_from,
        sh.salesname AS sales_name
        FROM
        APPS.oms_so_headers_v sh,
        APPS.oms_so_lines_v sl,
        APPS.oms_so_line_details_v sld,
        APPS.MTL_SYSTEM_ITEMS_B msib
        <where>
            sh.so_header_id = sl.so_header_id
            AND sld.so_line_id = sl.so_line_id
            AND msib.inventory_item_id = sld.product_item_id
            and sh.last_update_date >= TO_DATE('2020-01-01' , 'YYYY-MM-DD' )
            <if test="date != null and date != ''">
                and sh.last_update_date >= TO_DATE(#{date} , 'YYYY-MM-DD' )
            </if>
        </where>
        ORDER BY
        sh.so_number
    </select>

    <select id="findOutDeliveryDataFormIMS" parameterType="map" resultMap="BaseResultMap">
        SELECT
        sh.sor_no AS delivery_order_code,
        sh.creation_date AS order_date,
        cc.customer_name AS customer_name,
        cc.CUSTOMER_CODE AS customer_code,
        sp.material_code AS material_code,
        sp.material_description AS material_name,
        sp.quantity AS packing_qty,
        sp.real_quantity AS dispatch_qty,
        sp.source_no AS related_order_code_1,
        sh.INV_NUM AS out_order_code
        FROM
        EOS.crm_lg_sor_header sh,
        EOS.crm_lg_sor_product sp,
        EOS.crm_ctm_customer cc,
        EOS.ac_operator ao
        <where>
            sp.sor_header_id = sh.sor_header_id
            AND cc.customer_id = sh.customer_id
            AND sh.created_by = ao.operatorid
            AND sh.status = '已生成出库单'
            and sh.last_update_date >= TO_DATE('2020-01-01' , 'YYYY-MM-DD' )
            <if test="date != null and date != ''">
                and sh.last_update_date >= TO_DATE(#{date} , 'YYYY-MM-DD' )
            </if>
        </where>
        ORDER BY
        sh.creation_date,
        sh.sor_header_id,
        sp.sor_line_id
    </select>

    <insert id="save" parameterType="com.fantechs.provider.wanbao.api.entity.MiddleOutDeliveryOrder">
        INSERT INTO "K3WMS"."middle_sale_order" (
            "delivery_order_id",
            "delivery_order_code",
            "plan_despatch_date",
            "actual_despatch_date",
            "customer_code",
            "customer_name",
            "audit_status",
            "order_status",
            "work_order_code",
            "customer_order_code",
            "product_model_code",
            "material_code",
            "material_name",
            "picking_qty",
            "dispatch_qty",
            "option1",
            "option2",
            "option3",
            "option4",
            "option5",
            "option6" ,
            "option7",
            "option8",
            "option9" ,
            "option10",
            "option11",
            "option12" ,
            "option13",
            "option14"
        )
        VALUES
        (#{deliveryOrderId},
         #{deliveryOrderCode},
         #{planDespatchDate},
         #{actualDespatchDate},
         #{customerCode},
         #{customerName},
         #{auditStatus},
         #{orderStatus},
         #{workOrderCode},
         #{customerOrderCode},
         #{productModelCode},
         #{materialCode},
         #{materialName},
         #{pickingQty},
         #{dispatchQty},
         #{option1},
         #{option2},
         #{option3},
         #{option4},
         #{option5},
         #{option6},
         #{option7},
         #{option8},
         #{option9},
         #{option10},
         #{option11},
         #{option12},
         #{option13},
         #{option14})
    </insert>
</mapper>