<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wanbao.api.mapper.MiddleProductMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.provider.wanbao.api.entity.MiddleProduct">
        <id column="material_id" jdbcType="VARCHAR" property="productId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="customer_barcode" jdbcType="VARCHAR" property="customerBarcode"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>


    <select id="findBarcodeData" parameterType="map" resultMap="BaseResultMap">
        SELECT
        pp.FactoryCode AS material_code,
        PP.PlanName AS work_order_code,
        P.FactoryCode AS barcode,
        p.ProductCode AS customer_barcode,
        pt.CreateOn AS create_time
        FROM
        Product P
        LEFT JOIN  ProductPlan PP ON pp.Id= p.PlaneId
        LEFT JOIN  ProductTrace PT ON P.Id= pt.ProductId
        <where>
            pt.Status= '1'
            AND pt.StationId= '5eccf61c-de83-4380-ab99-3e722141ebe3'
            <if test="date != null and date != ''">
                AND pt.CreateOn >= CONVERT(DATETIME , #{date}, 102)
            </if>
            /*AND  PP.PlanName= 'ZA2107-0098' */
        </where>
    </select>

    <insert id="save" parameterType="com.fantechs.provider.wanbao.api.entity.MiddleProduct">
        INSERT INTO "K3WMS"."middle_product" (  "product_id", "plan_name", "barcode", "customer_barcode", "station_id", "status", "create_time")
        VALUES
            (
            #{productId},
            #{planName},
            #{barcode},
            #{customerBarcode},
            #{stationId},
            #{status},
            #{createTime})
    </insert>

</mapper>