<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wanbao.api.mapper.MiddleOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.provider.wanbao.api.entity.MiddleOrder">
        <id column="work_order_id" jdbcType="VARCHAR" property="workOrderId"/>
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="work_order_status" jdbcType="VARCHAR" property="workOrderStatus"/>
        <result column="work_order_type" jdbcType="VARCHAR" property="workOrderType"/>
        <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode" />
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="pro_code" jdbcType="VARCHAR" property="proCode"/>
        <result column="plan_start_time" jdbcType="VARCHAR" property="planStartTime"/>
        <result column="plan_end_time" jdbcType="VARCHAR" property="planEndTime"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="work_order_qty" jdbcType="VARCHAR" property="workOrderQty"/>
        <result column="output_qty" jdbcType="VARCHAR" property="outputQty"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode"/>
    </resultMap>

    <select id="findOrderData" parameterType="map" resultMap="BaseResultMap">
        SELECT
            we.wip_entity_name AS work_order_code,
            wjs.meaning AS work_order_status,
            decode( wdj.job_type, 1, '4', '5' ) AS work_order_type,
            wdj.Attribute5 AS sales_order_code,
            wdj.attribute6 AS pro_name,
            wdj.SCHEDULE_GROUP_ID AS pro_code,
            wdj.scheduled_start_date AS plan_start_time,
            wdj.scheduled_completion_date AS plan_end_time,
            msib.segment1 AS material_code,
            msib.description AS material_name,
            wdj.start_quantity AS work_order_qty,
            wdj.quantity_completed AS output_qty,
            wdj.last_update_date AS modified_time,
            wdj.attribute10 AS sales_code
        FROM
            APPS.wip_entities we,
            APPS.mfg_lookups wjs,
            APPS.wip_discrete_jobs wdj,
            APPS.mtl_system_items_b msib
        <where>
            we.wip_entity_id = wdj.wip_entity_id
            AND wdj.primary_item_id = msib.inventory_item_id
            AND msib.organization_id = 83
            AND wjs.lookup_type = 'WIP_JOB_STATUS'
            AND wjs.LOOKUP_CODE = WDJ.STATUS_TYPE
            AND wdj.job_type = 1
--             AND wdj.scheduled_start_date >= TO_DATE ( '2021-10-01', 'YYYY-MM-DD' )
            AND (we.wip_entity_name LIKE 'ZL%'
            OR we.wip_entity_name LIKE 'ZA%'
            OR we.wip_entity_name LIKE 'ZC%'
            OR we.wip_entity_name LIKE 'ZD%')
            <if test="date != null and date != ''">
                AND wdj.scheduled_start_date >= TO_DATE(#{date} , 'YYYY-MM-DD' )
            </if>
            <if test="workOrderCode != null and workOrderCode != ''">
                AND we.wip_entity_name = #{workOrderCode}
            </if>
            <if test="workOrderCode == null">
                AND wjs.meaning = '已发放'
            </if>

        </where>
        ORDER BY
            msib.segment1,
            we.wip_entity_name
    </select>

    <insert id="save" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO "K3WMS"."middle_order" ( "work_order_id", "work_order_code", "work_order_status", "work_order_type", "sales_order_code", "pro_name", "plan_start_time", "plan_end_time", "work_order_qty", "output_qty", "material_code", "material_name", "modified_time", "sales_code" )
        <foreach item="item" index="index" collection="list" separator="union all">
            (
            SELECT
            #{workOrderId},
            #{workOrderCode},
            #{workOrderStatus},
            #{workOrderType},
            #{salesOrderCode},
            #{proName},
            #{planStartTime},
            #{planEndTime},
            #{materialCode},
            #{materialName} ,
            #{workOrderQty} ,
            #{outputQty} ,
            #{modifiedTime},
            #{salesCode}
            FROM DUAL
            )
        </foreach>
    </insert>

</mapper>