<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wanbao.api.mapper.MiddleMaterialMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.provider.wanbao.api.entity.MiddleMaterial">
        <id column="middle_material_id" jdbcType="VARCHAR" property="middleMaterialId"/>
        <result column="material_id" jdbcType="VARCHAR" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_property" jdbcType="VARCHAR" property="materialProperty"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
        <result column="product_model_id" jdbcType="VARCHAR" property="productModelId"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="voltage" jdbcType="VARCHAR" property="voltage"/>
    </resultMap>

    <select id="findMaterialData" parameterType="map" resultMap="BaseResultMap">
       SELECT
            msib.segment1 AS material_code,
            msib.description AS material_name,
            msib.description AS material_desc,
            msib.ITEM_TYPE AS material_property,
            msib.last_update_date AS modified_time,
            msib.WIP_SUPPLY_LOCATOR_ID AS middle_material_id,
            substr(
            msib.description,
            INSTR( msib.description, '/', 1, 1 ) + 1,
            INSTR( msib.description, '/', 1, 2 ) - INSTR( msib.description, '/', 1, 1 ) - 1
            ) AS product_model_code,
            mde2.element_value AS voltage
        FROM
        INV.mtl_system_items_b msib
        LEFT JOIN APPS.mtl_item_categories_v t ON t.inventory_item_id = msib.inventory_item_id
        LEFT JOIN APPS.fnd_common_lookups fc ON msib.item_type = fc.lookup_code
        LEFT JOIN APPS.po_buyers_val_v pbv ON msib.buyer_id = pbv.employee_id
        LEFT JOIN APPS.mtl_descr_element_values mde2 ON mde2.inventory_item_id = msib.inventory_item_id AND mde2.element_name = '电压频率'
        <where>
            msib.organization_id in (83, 82, 105)
            AND msib.inventory_item_status_code = 'Active'
            AND msib.ITEM_TYPE = 'FG'
            AND t.organization_id in (83, 82, 105)
            AND fc.lookup_type = 'ITEM_TYPE'
            AND t.category_set_id = 1
            AND msib.description NOT LIKE '%回用%'
            AND msib.description NOT LIKE '%出口产品%'
            AND msib.last_update_date >= TO_DATE('2020-01-01' , 'YYYY-MM-DD' )
            <if test="date != null and date != ''">
                AND msib.last_update_date >= TO_DATE( #{date} , 'YYYY-MM-DD' )
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.fantechs.provider.wanbao.api.entity.MiddleMaterial">
        INSERT INTO K3WMS.middle_material ( "middle_material_id", "material_id", "material_code", "material_name", "material_desc", "voltage", "product_model_id", "product_model_code", "material_property", "modified_time" )
        VALUES
            ( #{middleMaterialId,jdbcType=VARCHAR},
            #{materialId,jdbcType=VARCHAR},
            #{materialCode,jdbcType=VARCHAR},
            #{materialName,jdbcType=VARCHAR},
            #{materialDesc,jdbcType=VARCHAR},
            #{materialProperty,jdbcType=VARCHAR},
            #{modifiedTime,jdbcType=VARCHAR},
            #{productModelId,jdbcType=VARCHAR},
            #{productModelCode,jdbcType=VARCHAR},
            #{voltage,jdbcType=VARCHAR} )
    </insert>
</mapper>