<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.baseapi.wanbao.mapper.EsopDeptMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.restapi.esop.EsopDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="cus_type" jdbcType="INTEGER" property="cusType" />
    <result column="if_second" jdbcType="INTEGER" property="ifSecond" />
    <result column="is_leaf" jdbcType="CHAR" property="isLeaf" />
    <result column="is_manu_facture" jdbcType="CHAR" property="isManuFacture" />
    <result column="is_proc" jdbcType="CHAR" property="isProc" />
    <result column="line_type_id" jdbcType="VARCHAR" property="lineTypeId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="organize_address" jdbcType="VARCHAR" property="organizeAddress" />
    <result column="organize_man" jdbcType="VARCHAR" property="organizeMan" />
    <result column="organize_type" jdbcType="VARCHAR" property="organizeType" />
    <result column="org_flag" jdbcType="CHAR" property="orgFlag" />
    <result column="org_type" jdbcType="CHAR" property="orgType" />
    <result column="pay_way" jdbcType="INTEGER" property="payWay" />
    <result column="wc_no" jdbcType="VARCHAR" property="wcNo" />
    <result column="worktime_type" jdbcType="CHAR" property="worktimeType" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="u9_org_code" jdbcType="VARCHAR" property="u9OrgCode" />
    <result column="is_was" jdbcType="TINYINT" property="isWas" />
    <result column="is_syn_real_capacity" jdbcType="TINYINT" property="isSynRealCapacity" />
    <result column="suplier_code" jdbcType="VARCHAR" property="suplierCode" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
  </resultMap>

    <select id="setPolicy" >
        begin
        mo_global.set_policy_context('S',81);
        end;
    </select>

  <select id="findMaterialData" parameterType="map" resultMap="BaseResultMap">
      SELECT
          msib.segment1,
          msib.description,
          msib.ITEM_TYPE,
          msib.last_update_date,
          ( SELECT DISTINCT mde.element_value FROM mtl_descr_element_values mde WHERE mde.inventory_item_id = msib.inventory_item_id AND mde.element_name = '客户型号' ) 客户型号
              ,
          ( SELECT DISTINCT mde.element_value FROM mtl_descr_element_values mde WHERE mde.inventory_item_id = msib.inventory_item_id AND mde.element_name = '电压频率' ) 电压频率
      FROM
          mtl_system_items_b msib,
          mtl_item_categories_v t,
          fnd_common_lookups fc,
          po_buyers_val_v pbv
      WHERE
          msib.organization_id = 83
        AND msib.inventory_item_status_code = 'Active'
        AND msib.item_type = fc.lookup_code
        AND t.inventory_item_id = msib.inventory_item_id
        AND msib.buyer_id = pbv.employee_id ( + )
        AND msib.ITEM_TYPE IN ( 'FG', 'SA' )
        AND t.organization_id = 83
        AND fc.lookup_type = 'ITEM_TYPE'
        AND t.category_set_id = 1
  </select>

    <select id="findOrderData" parameterType="map" resultMap="BaseResultMap">
        SELECT
            we.wip_entity_name 工单,
            wjs.meaning 工单状态,
            wdj.class_code 计划组,
            decode( wdj.job_type, 1, '标准', '非标' ) 任务类型,
            wdj.creation_date 任务创建日期,
            wdj.scheduled_start_date 计划生产时间,
            wdj.scheduled_completion_date 计划完工时间,
            msib.segment1 装配件,
            msib.description 说明,
            wdj.start_quantity 计划完工数量,
            wdj.quantity_completed 实际完工数量
        FROM
            wip_entities we,
            mfg_lookups wjs,
            wip_discrete_jobs wdj,
            mtl_system_items_b msib
        WHERE
            we.wip_entity_id = wdj.wip_entity_id
          AND wdj.primary_item_id = msib.inventory_item_id
          AND msib.organization_id = 83
          AND wjs.lookup_type = 'WIP_JOB_STATUS'
          AND wjs.LOOKUP_CODE = WDJ.STATUS_TYPE
        ORDER BY
            msib.segment1,
            we.wip_entity_name
    </select>

    <select id="findSaleOrderData" parameterType="map" resultMap="BaseResultMap">
        SELECT
            mh.mo_number,
            mh.CUSTOMER_NUMBER,
            mh.mo_status,
            mh.order_type_name,
            mh.salesperson_name,
            mld.factory_code,
            mld.CUSTOMER_MODEL,
            mld.product_code,
            mld.Wb_Make_Code,
            mld.product_description,
            mld.CUST_TRADEMARK_NAME,
            mld.quantity,
            mh.order_date,
            mh.creation_date
        FROM
            oms_mo_headers_v mh,
            oms_mo_line_details_v mld
        WHERE
            mld.mo_header_id = mh.mo_header_id
          AND mh.org_id = 81;
    </select>

    <select id="findOutDeliveryData" parameterType="map" resultMap="BaseResultMap">
        SELECT
            sh.so_number 通知书号,
            sh.schedule_ship_date 计划出货日期,
            sh.actual_ship_date 实际出货日期,
            sh.cancel_number 核销单号,
            sh.customer_number 客户编码,
            sh.customer_name 客户名称,
            sh.payment_type_name 付款条件,
            sh.oa_days,
            sh.bn_number 订舱单号,
            sh.virtual_container_no 排柜单号,
            sh.so_type_name 发货类型,
            sh.container_type_name 货柜类型,
            sh.salesname 业务员,
            sh.export_country_name 消费国,
            sh.status_name 审批状态,
            sh.delivery_status_name 交货状态,
            sh.declaration_flag 是否报关,
            sl.mo_number 生产单,
            sl.qo_number 形式发票号,
            sl.manual_number 手册号,
            sl.version_number 版本号,
            sl.po_number 客户po,
            sl.lc_numbers lc,
            sl.customer_model 客户型号,
            sld.product_code 生产编码,
            sld.product_name 生产编码描述,
            sld.quantity_plan_ship 出货数量,
            sld.quantity_load_container 已装柜数量
        FROM
            oms_so_headers_v sh,
            oms_so_lines_v sl,
            oms_so_line_details_v sld
        WHERE
            sh.so_header_id = sl.so_header_id
          AND sld.so_line_id = sl.so_line_id
        ORDER BY
            sh.so_number,
            sl.so_line_id,
            sld.so_line_detail_id;
    </select>

</mapper>