<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutDespatchOrderReJoMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutDespatchOrderReJo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="despatch_order_re_jo_id" jdbcType="BIGINT" property="despatchOrderReJoId" />
    <result column="despatch_order_id" jdbcType="BIGINT" property="despatchOrderId" />
    <result column="job_order_id" jdbcType="BIGINT" property="jobOrderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.out.WmsOutDespatchOrderReJoDto">
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="job_order_code" jdbcType="VARCHAR" property="jobOrderCode" />
    <result column="related_order_code" jdbcType="VARCHAR" property="relatedOrderCode" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
    <result column="consignee_name" jdbcType="VARCHAR" property="consigneeName" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="e_mail_address" jdbcType="VARCHAR" property="eMailAddress" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
  </resultMap>
  <sql id="Base_Column_list">
    wodor.despatch_order_re_jo_id,
    wodor.despatch_order_id,
wodor.job_order_id,
wodor.status,
wodor.remark,
wodor.org_id,
wodor.create_user_id,
wodor.create_time,
wodor.modified_user_id,
wodor.modified_time,
wodor.is_delete
  </sql>
    <select id="findList" resultMap="BaseResultMapDto">
      SELECT <include refid="Base_Column_list"/>,wijo.order_status,bmo.material_owner_name,bw.warehouse_name,wijo.job_order_code,wijo.related_order_code,
      (select sum(det.actual_qty) from wms_inner_job_order_det det where det.job_order_id=wijo.job_order_id) as actual_qty,
    wodo.consignee as consignee_name,wodo.link_man_name,wodo.link_man_phone,wodo.fax_number,wodo.e_mail_address,wodo.detailed_address,
      su.user_name AS create_user_name,sus.user_name AS modified_user_name,bo.organization_name AS organization_Name
      FROM wms_out_despatch_order_re_jo wodor
      LEFT JOIN wms_inner_job_order wijo ON wodor.job_order_id = wijo.job_order_id
      LEFT JOIN base_material_owner bmo ON wijo.material_owner_id=bmo.material_owner_id
      LEFT JOIN base_warehouse bw ON wijo.warehouse_id = bw.warehouse_id
      LEFT JOIN wms_out_delivery_order wodo ON wijo.source_order_id = wodo.delivery_order_id
      LEFT JOIN ocean_v2.sys_user su ON wodor.create_user_id = su.user_id
      LEFT JOIN ocean_v2.sys_user sus ON wodor.modified_user_id = sus.user_id
      LEFT JOIN base_organization bo ON wodor.org_id = bo.organization_id
<where>
  <if test="despatchOrderId !=null and despatchOrderId!=''">
and wodor.despatch_order_id = #{despatchOrderId}
  </if>
</where>
    </select>
  <select id="findCountQty" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM wms_in_asn_order WHERE source_order_id=#{sourceOrderId} AND order_type_id=#{orderTypeId}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM wms_in_asn_order WHERE source_order_id=#{sourceOrderId} AND order_type_id=#{orderTypeId} and order_status=6
  </select>
  <update id="writeOutQty">
    update wms_out_delivery_order set order_status=#{orderStatus} where delivery_order_id=#{deliveryOrderId}
  </update>
</mapper>