<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutDeliveryOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutDeliveryOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_order_det_id" jdbcType="BIGINT" property="deliveryOrderDetId" />
    <result column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="order_det_id" jdbcType="BIGINT" property="orderDetId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId" />
    <result column="line_number" jdbcType="INTEGER" property="lineNumber" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="picking_qty" jdbcType="DECIMAL" property="pickingQty" />
    <result column="dispatch_qty" jdbcType="DECIMAL" property="dispatchQty" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
    <result column="source_line_number" jdbcType="VARCHAR" property="sourceLineNumber" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.wms.out.WmsOutDeliveryOrderDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>


  <sql id="Base_Column_List">
    wodod.delivery_order_det_id,
    wodod.delivery_order_id,
    wodod.source_order_id,
    wodod.order_det_id,
    wodod.warehouse_id,
    wodod.storage_id,
    wodod.inventory_status_id,
    wodod.line_number,
    wodod.material_id,
    wodod.packing_unit_name,
    wodod.packing_qty,
    wodod.picking_qty,
    wodod.dispatch_qty,
    wodod.batch_code,
    wodod.source_order_code,
    wodod.source_line_number,
    wodod.`status`,
    wodod.org_id,
    wodod.remark,
    wodod.create_user_id,
    wodod.create_time,
    wodod.modified_user_id,
    wodod.modified_time,
    wodod.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
    select<include refid="Base_Column_List"/>,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from fantech_imes_v2.wms_out_delivery_order_det wodod
    LEFT JOIN ocean_v2.sys_user su ON wodod.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wodod.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wodod.organization_id = bo.organization_id
    <where>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wodod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and wodod.status=#{status}
      </if>
    </where>
  </select>
</mapper>