<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutPlanStockListOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutPlanStockListOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plan_stock_list_order_det_id" jdbcType="BIGINT" property="planStockListOrderDetId" />
    <result column="core_source_order_code" jdbcType="VARCHAR" property="coreSourceOrderCode" />
    <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
    <result column="core_source_id" jdbcType="BIGINT" property="coreSourceId" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="plan_stock_list_order_id" jdbcType="BIGINT" property="planStockListOrderId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="order_qty" jdbcType="DECIMAL" property="orderQty" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="line_status" jdbcType="TINYINT" property="lineStatus" />
    <result column="delivery_user_id" jdbcType="BIGINT" property="deliveryUserId" />
    <result column="total_issue_qty" jdbcType="DECIMAL" property="totalIssueQty" />
    <result column="if_all_issued" jdbcType="TINYINT" property="ifAllIssued" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.wms.out.WmsOutPlanStockListOrderDetDto">
    <result column="daily_plan_code" jdbcType="VARCHAR" property="dailyPlanCode"/>
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="plan_stock_list_order_code" jdbcType="VARCHAR" property="planStockListOrderCode"/>
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="coreSourceSysOrderTypeCode"/>
    <result column="material_code_product" jdbcType="VARCHAR" property="materialCodeProduct"/>
    <result column="material_name_product" jdbcType="VARCHAR" property="materialNameProduct"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="delivery_user_name" jdbcType="VARCHAR" property="deliveryUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>

  </resultMap>
  <sql id="Base_Column_List">
    wopslod.plan_stock_list_order_det_id,
    wopslod.core_source_order_code,
    wopslod.source_order_code,
    wopslod.core_source_id,
    wopslod.source_id,
    wopslod.plan_stock_list_order_id,
    wopslod.material_id,
    wopslod.order_qty,
    wopslod.actual_qty,
    wopslod.line_status,
    wopslod.delivery_user_id,
    wopslod.total_issue_qty,
    wopslod.if_all_issued,
    wopslod.status,
    wopslod.is_delete,
    wopslod.remark,
    wopslod.org_id,
    wopslod.create_user_id,
    wopslod.create_time,
    wopslod.modified_user_id,
    wopslod.modified_time,
    wopslod.option1,
    wopslod.option2,
    wopslod.option3
  </sql>
  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select<include refid="Base_Column_List"/>,
    mpdp.daily_plan_code,
    mpwo.work_order_code,
    wopslo.plan_stock_list_order_code,
    wopslo.warehouse_id,
    wopslo.core_source_sys_order_type_code,
    smp.material_code AS material_code_product,
    smp.material_name AS material_name_product,
    sm.material_code,
    sm.material_name,
    sm.material_desc,
    sm.material_version,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    FROM wms_out_plan_stock_list_order_det wopslod
    LEFT JOIN wms_out_plan_stock_list_order wopslo ON wopslod.plan_stock_list_order_id=wopslo.plan_stock_list_order_id
    LEFT JOIN mes_pm_daily_plan_stock_list mpdplist ON wopslod.source_id=mpdplist.daily_plan_stock_list_id
    LEFT JOIN mes_pm_daily_plan_det mpdpd ON mpdplist.daily_plan_det_id=mpdpd.daily_plan_det_id
    LEFT JOIN mes_pm_daily_plan mpdp  ON mpdpd.daily_plan_id=mpdp.daily_plan_id
    LEFT JOIN mes_pm_work_order mpwo ON mpdpd.work_order_id = mpwo.work_order_id
    LEFT JOIN base_material sm on wopslod.material_id=sm.material_id
    LEFT JOIN base_material smp on mpwo.material_id=smp.material_id
    LEFT JOIN sys_user su ON wopslod.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON wopslod.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wopslod.org_id = bo.organization_id
    <where>
      <if test="planStockListOrderDetId != null and planStockListOrderDetId!=''">
        and wopslod.plan_stock_list_order_det_id = #{planStockListOrderDetId}
      </if>
      <if test="coreSourceOrderCode!=null and coreSourceOrderCode!=''">
        and wopslod.core_source_order_code = #{coreSourceOrderCode}
      </if>
      <if test="sourceOrderCode!=null and sourceOrderCode!=''">
        and wopslod.source_order_code = #{sourceOrderCode}
      </if>
      <if test="coreSourceId!=null and coreSourceId!=''">
        and wopslod.core_source_id = #{coreSourceId}
      </if>
      <if test="sourceId!=null and sourceId!=''">
        and wopslod.source_id = #{sourceId}
      </if>
      <if test="planStockListOrderId!=null and planStockListOrderId!=''">
        and wopslod.plan_stock_list_order_id = #{planStockListOrderId}
      </if>
      <if test="materialId!=null and materialId!=''">
        and wopslod.material_id = #{materialId}
      </if>
      <if test="lineStatus!=null and lineStatus!=''">
        and wopslod.line_status = #{lineStatus}
      </if>
      <if test="status!=null">
        and wopslod.status=#{status}
      </if>
      <if test="remark!=null and remark!=''">
        and wopslod.remark =#{remark}
      </if>
      <if test="orgId != null">
        and wopslod.org_id = #{orgId}
      </if>

    </where>
    order by wopslod.create_time desc
  </select>
  <update id="batchUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update wms_out_plan_stock_list_order_det wodrod set
      wodrod.total_issue_qty = #{item.totalIssueQty},
      wodrod.if_all_issued = #{item.ifAllIssued}
      where wodrod.plan_stock_list_order_det_id = #{item.planStockListOrderDetId}
    </foreach>
  </update>
</mapper>