<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutProductionMaterialdDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutProductionMaterialdDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="production_material_det_id" jdbcType="BIGINT" property="productionMaterialDetId" />
    <result column="production_material_id" jdbcType="BIGINT" property="productionMaterialId" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="reality_qty" jdbcType="DECIMAL" property="realityQty" />
    <result column="scan_qty" jdbcType="DECIMAL" property="scanQty" />
    <result column="use_qty" jdbcType="DECIMAL" property="useQty" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
</mapper>