<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutFinishedProductMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutFinishedProduct">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="finished_product_id" jdbcType="BIGINT" property="finishedProductId"/>
        <result column="finished_product_code" jdbcType="VARCHAR" property="finishedProductCode"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="plan_outtime" jdbcType="TIMESTAMP" property="planOuttime"/>
        <result column="reality_outtime" jdbcType="TIMESTAMP" property="realityOuttime"/>
        <result column="plan_outquantity" jdbcType="DECIMAL" property="planOutquantity"/>
        <result column="reality_outquantity" jdbcType="DECIMAL" property="realityOutquantity"/>
        <result column="traffic_type" jdbcType="TINYINT" property="trafficType"/>
        <result column="out_status" jdbcType="TINYINT" property="outStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.out.WmsOutFinishedProductDto">
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    </resultMap>

    <sql id="Base_Column_List">
        fp.finished_product_id,
        fp.finished_product_code,
        fp.supplier_id,
        fp.plan_outtime,
        fp.reality_outtime,
        fp.plan_outquantity,
        fp.reality_outquantity,
        fp.traffic_type,
        fp.out_status,
        fp.`status`,
        fp.organization_id,
        fp.remark,
        fp.create_user_id,
        fp.create_time,
        fp.modified_user_id,
        fp.modified_time,
        fp.is_delete
  </sql>

    <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
        select<include refid="Base_Column_List"/>,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name,
        ss.supplier_name,
        ss.supplier_code,
        bo.organization_name
        from
        fantech_imes.wms_out_finished_product AS fp
        LEFT JOIN ocean.sys_user su ON fp.create_user_id = su.user_id
        LEFT JOIN ocean.sys_user sus ON fp.modified_user_id = sus.user_id
        LEFT JOIN smt_supplier ss ON fp.supplier_id = ss.supplier_id
        LEFT JOIN fantech_imes.base_organization bo ON fp.organization_id = bo.organization_id
        <where>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and date_format(fp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="finishedProductCode != null and finishedProductCode != ''">
                and fp.finished_product_code like CONCAT('%', #{finishedProductCode}, '%')
            </if>
            <if test="status!=null and status!=''">
                and fp.status=#{status}
            </if>
        </where>

    </select>

</mapper>