<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutDeliveryOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutDeliveryOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="deliveryOrderCode" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="platform_id" jdbcType="BIGINT" property="platformId"/>
    <result column="shipment_enterprise_id" jdbcType="BIGINT" property="shipmentEnterpriseId" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
    <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode" />
    <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
    <result column="related_order_code_1" jdbcType="VARCHAR" property="relatedOrderCode1" />
    <result column="related_order_code_2" jdbcType="VARCHAR" property="relatedOrderCode2" />
    <result column="related_order_code_3" jdbcType="VARCHAR" property="relatedOrderCode3" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="plan_despatch_date" jdbcType="TIMESTAMP" property="planDespatchDate" />
    <result column="actual_despatch_date" jdbcType="TIMESTAMP" property="actualDespatchDate" />
    <result column="demand_arrive_date" jdbcType="TIMESTAMP" property="demandArriveDate" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="e_mail_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="pick_material_user_id" jdbcType="BIGINT" property="pickMaterialUserId" />
    <result column="pick_material_user_name" jdbcType="VARCHAR" property="pickMaterialUserName" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName" />
    <result column="audit_time" jdbcType="VARCHAR" property="auditTime" />
    <result column="if_created_job_order" jdbcType="TINYINT" property="ifCreatedJobOrder"/>
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="port_from" jdbcType="VARCHAR" property="portFrom" />
    <result column="declaration_location" jdbcType="VARCHAR" property="declarationLocation" />
    <result column="container_number" jdbcType="VARCHAR" property="containerNumber" />
    <result column="sales_name" jdbcType="VARCHAR" property="salesName" />
  </resultMap>

  <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.wms.out.WmsOutDeliveryOrderDto">
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName"/>
  </resultMap>

  <sql id="Base_Column_List">
    wodo.delivery_order_id,
    wodo.source_order_id,
    wodo.material_owner_id,
    wodo.supplier_id,
    wodo.platform_id,
    wodo.shipment_enterprise_id,
    wodo.order_type_id,
    wodo.warehouse_id,
    wodo.storage_id,
    wodo.customer_id,
    wodo.delivery_order_code,
    wodo.customer_order_code,
    wodo.related_order_code_1,
    wodo.related_order_code_2,
    wodo.related_order_code_3,
    wodo.order_date,
    wodo.plan_despatch_date,
    wodo.actual_despatch_date,
    wodo.demand_arrive_date,
    wodo.consignee,
    wodo.link_man_name,
    wodo.link_man_phone,
    wodo.fax_number,
    wodo.e_mail_address,
    wodo.detailed_address,
    wodo.descr,
    wodo.pick_material_user_id,
    wodo.pick_material_user_name,
    wodo.audit_user_id,
    wodo.audit_user_name,
    wodo.audit_time,
    wodo.if_created_job_order,
    wodo.order_status,
    wodo.audit_status,
    wodo.`status`,
    wodo.org_id,
    wodo.remark,
    wodo.create_user_id,
    wodo.create_time,
    wodo.modified_user_id,
    wodo.modified_time,
    wodo.is_delete,
    wodo.option1,
    wodo.option2,
    wodo.option3,
    wodo.port_from,
    wodo.declaration_location,
    wodo.container_number,
    wodo.sales_name
  </sql>

  <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
    select<include refid="Base_Column_List"/>,
    bmo.material_owner_name,bw.warehouse_name,bs.storage_code,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name,
    su.supplier_name,
    bp.platform_name,
    sus.supplier_name as 'customer_name'
    from fantech_imes_v2.wms_out_delivery_order wodo
    LEFT JOIN fantech_imes_v2.base_material_owner bmo ON wodo.material_owner_id = bmo.material_owner_id
    LEFT JOIN fantech_imes_v2.base_warehouse bw ON wodo.warehouse_id = bw.warehouse_id
    LEFT JOIN fantech_imes_v2.base_storage bs ON wodo.storage_id = bs.storage_id
    LEFT JOIN base_supplier su on  su.supplier_id = wodo.supplier_id
    LEFT JOIN base_supplier sus on  sus.supplier_id = wodo.customer_id
    LEFT JOIN base_platform bp on bp.platform_id = wodo.platform_id
    LEFT JOIN ocean_v2.sys_user su ON wodo.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wodo.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wodo.org_id = bo.organization_id
    <where>
      <if test="orderTypeId != null">
        and wodo.order_type_id = #{orderTypeId}
      </if>
      <if test="deliveryOrderId != null">
        and wodo.delivery_order_id = #{deliveryOrderId}
      </if>
      <if test="deliveryOrderCode != null and deliveryOrderCode != ''">
        and wodo.delivery_order_code like CONCAT('%', #{deliveryOrderCode}, '%')
      </if>
      <if test="materialOwnerName != null and materialOwnerName != ''">
        and bmo.material_owner_name like CONCAT('%', #{materialOwnerName}, '%')
      </if>
      <if test="relatedOrderCode1 != null and relatedOrderCode1 != ''">
        and wodo.related_order_code_1 like CONCAT('%', #{relatedOrderCode1}, '%')
      </if>
      <if test="consignee != null and consignee != ''">
        and wodo.consignee like CONCAT('%', #{consignee}, '%')
      </if>
      <if test="linkManName != null and linkManName != ''">
        and wodo.link_man_name like CONCAT('%', #{linkManName}, '%')
      </if>
      <if test="linkManPhone != null and linkManPhone != ''">
        and wodo.link_man_phone like CONCAT('%', #{linkManPhone}, '%')
      </if>
      <if test="faxNumber != null and faxNumber != ''">
        and wodo.fax_number like CONCAT('%', #{faxNumber}, '%')
      </if>
      <if test="emailAddress != null and emailAddress != ''">
        and wodo.e_mail_address like CONCAT('%', #{emailAddress}, '%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wodo.order_date, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and wodo.status=#{status}
      </if>
      <if test="orgId != null">
        and wodo.org_id = #{orgId}
      </if>
      <if test="orderStatus!=null">
        and wodo.order_status = #{orderStatus}
      </if>
      <if test="customerName!=null and customerName!=''">
        and sus.supplier_name like CONCAT('%',#{customerName},'%')
      </if>

      <if test="pickMaterialUserName!=null and pickMaterialUserName!=''">
        and wodo.pick_material_user_name like CONCAT('%',#{pickMaterialUserName},'%')
      </if>
      <if test="auditUserName!=null and auditUserName!=''">
        and wodo.audit_user_name like CONCAT('%',#{auditUserName},'%')
      </if>

      <if test="auditStatus!=null">
        and wodo.audit_status = #{auditStatus}
      </if>
      <if test="option1!=null and option1!=''">
        and wodo.option1 =#{option1}
      </if>
        <if test="platformName!=null and platformName!=''">
          and bp.platform_name like CONCAT('%',#{platformName},'%')
        </if>
    <if test="ifCreatedJobOrder!=null and ifCreatedJobOrder!=''">
      and wodo.if_created_job_order=#{ifCreatedJobOrder}
    </if>
    <if test="remark!=null and remark!=''">
      and wodo.remark like CONCAT('%',#{remark},'%')
    </if>
    </where>
    order by wodo.create_time desc
  </select>

  <update id="batchUpdateStatus" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update wms_out_delivery_order wodo set
      wodo.audit_status = 1
      where wodo.delivery_order_id = #{item}
    </foreach>
  </update>

  <select id="totalInventoryQty" resultType="java.math.BigDecimal">
    SELECT sum(packing_qty) FROM wms_inner_inventory
    <where>
        qc_lock=0 AND stock_lock=0 AND lock_status=0 AND job_status=1 and warehouse_id=#{warehouseId} and material_id=#{materialId}
        <if test="batchCode!=null and batchCode!=''">
            and batch_code = #{batchCode}
        </if>
    </where>
  </select>
</mapper>