<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutShippingNoteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutShippingNote">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shipping_note_id" jdbcType="BIGINT" property="shippingNoteId" />
    <result column="shipping_note_code" jdbcType="VARCHAR" property="shippingNoteCode" />
    <result column="order_contract_code" jdbcType="VARCHAR" property="orderContractCode" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="traffic_type" jdbcType="TINYINT" property="trafficType" />
    <result column="currency_type" jdbcType="TINYINT" property="currencyType" />
    <result column="operator_user_id" jdbcType="BIGINT" property="operatorUserId" />
    <result column="processor_user_id" jdbcType="BIGINT" property="processorUserId" />
    <result column="stock_status" jdbcType="TINYINT" property="stockStatus" />
    <result column="out_status" jdbcType="TINYINT" property="outStatus" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="sail_time" jdbcType="TIMESTAMP" property="sailTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDTO" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.out.WmsOutShippingNoteDto">
    <result column="operator_user_name" jdbcType="VARCHAR" property="operatorUserName"/>
    <result column="processor_user_name" jdbcType="VARCHAR" property="processorUserName"/>
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
  </resultMap>

  <sql id="Base_Column_List">
    sn.shipping_note_id,
    sn.shipping_note_code,
    sn.order_contract_code,
    sn.country,
    sn.traffic_type,
    sn.currency_type,
    sn.operator_user_id,
    sn.processor_user_id,
    sn.stock_status,
    sn.out_status,
    sn.order_time,
    sn.out_time,
    sn.sail_time,
    sn.`status`,
    sn.remark,
    sn.organization_id,
    sn.create_user_id,
    sn.create_time,
    sn.modified_user_id,
    sn.modified_time,
    sn.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDTO" parameterType="java.util.Map">
    select<include refid="Base_Column_List"/>,
      su.user_name AS create_user_name,
      sus.user_name AS modified_user_name,
      suse.user_name AS operator_user_name,
      suser.user_name AS processor_user_name,
      bo.organization_code AS organization_code
    from
        wms_out_shipping_note AS sn
    LEFT JOIN ocean_v2.sys_user su ON sn.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON sn.modified_user_id = sus.user_id
    LEFT JOIN ocean_v2.sys_user suse ON sn.operator_user_id = suse.user_id
    LEFT JOIN ocean_v2.sys_user suser ON sn.processor_user_id = suser.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON sn.organization_id = bo.organization_id
    <where>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(sn.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="shippingNoteCode != null and shippingNoteCode != ''">
        and sn.shipping_note_code like CONCAT('%', #{shippingNoteCode}, '%')
      </if>
      <if test="orderContractCode != null and orderContractCode != ''">
        and sn.order_contract_code like CONCAT('%', #{orderContractCode}, '%')
      </if>
      <if test="operatorUserName != null and operatorUserName != ''">
        and suse.user_name like CONCAT('%', #{operatorUserName}, '%')
      </if>
      <if test="processorUserName != null and processorUserName != ''">
        and suser.user_name like CONCAT('%', #{processorUserName}, '%')
      </if>
      <if test="stockStatus != null">
        and sn.stock_status = #{stockStatus}
      </if>
      <if test="outStatus != null">
        and sn.out_status = #{outStatus}
      </if>
    </where>
    order by sn.shipping_note_code desc
  </select>

</mapper>