<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutHtDeliveryOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.history.WmsOutHtDeliveryOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_delivery_order_id" jdbcType="BIGINT" property="htDeliveryOrderId" />
    <result column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="deliveryOrderCode" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="platform_id" jdbcType="BIGINT" property="platformId"/>
    <result column="shipment_enterprise_id" jdbcType="BIGINT" property="shipmentEnterpriseId" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode" />
    <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
    <result column="related_order_code_1" jdbcType="VARCHAR" property="relatedOrderCode1" />
    <result column="related_order_code_2" jdbcType="VARCHAR" property="relatedOrderCode2" />
    <result column="related_order_code_3" jdbcType="VARCHAR" property="relatedOrderCode3" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="plan_despatch_date" jdbcType="TIMESTAMP" property="planDespatchDate" />
    <result column="actual_despatch_date" jdbcType="TIMESTAMP" property="actualDespatchDate" />
    <result column="demand_arrive_date" jdbcType="TIMESTAMP" property="demandArriveDate" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="e_mail_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="if_created_job_order" jdbcType="TINYINT" property="ifCreatedJobOrder"/>
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
      <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    wohdo.ht_delivery_order_id,
    wohdo.delivery_order_id,
    wohdo.source_order_id,
    wohdo.material_owner_id,
    wohdo.supplier_id,
wohdo.platform_id,
    wohdo.shipment_enterprise_id,
    wohdo.order_type_id,
    wohdo.delivery_order_code,
    wohdo.customer_order_code,
    wohdo.related_order_code_1,
    wohdo.related_order_code_2,
    wohdo.related_order_code_3,
    wohdo.order_date,
    wohdo.plan_despatch_date,
    wohdo.actual_despatch_date,
    wohdo.demand_arrive_date,
    wohdo.consignee,
    wohdo.link_man_name,
    wohdo.link_man_phone,
    wohdo.fax_number,
    wohdo.e_mail_address,
    wohdo.detailed_address,
    wohdo.descr,
wohdo.if_created_job_order,
    wohdo.order_status,
wohdo.audit_status,
    wohdo.`status`,
    wohdo.org_id,
    wohdo.remark,
    wohdo.create_user_id,
    wohdo.create_time,
    wohdo.modified_user_id,
    wohdo.modified_time,
    wohdo.is_delete
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select<include refid="Base_Column_List"/>,
    bmo.material_owner_name,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from fantech_imes_v2.wms_out_ht_delivery_order wohdo
    LEFT JOIN fantech_imes_v2.base_material_owner bmo ON wohdo.material_owner_id = bmo.material_owner_id
    LEFT JOIN ocean_v2.sys_user su ON wohdo.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wohdo.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wohdo.org_id = bo.organization_id
    <where>
      <if test="orderTypeId != null">
        and wohdo.order_type_id = #{orderTypeId}
      </if>
      <if test="deliveryOrderCode != null and deliveryOrderCode != ''">
        and wohdo.delivery_order_code like CONCAT('%', #{deliveryOrderCode}, '%')
      </if>
      <if test="materialOwnerName != null and materialOwnerName != ''">
        and bmo.material_owner_name like CONCAT('%', #{materialOwnerName}, '%')
      </if>
      <if test="relatedOrderCode1 != null and relatedOrderCode1 != ''">
        and wohdo.related_order_code_1 like CONCAT('%', #{relatedOrderCode1}, '%')
      </if>
      <if test="consignee != null and consignee != ''">
        and wohdo.consignee like CONCAT('%', #{consignee}, '%')
      </if>
      <if test="linkManName != null and linkManName != ''">
        and wohdo.link_man_name like CONCAT('%', #{linkManName}, '%')
      </if>
      <if test="linkManPhone != null and linkManPhone != ''">
        and wohdo.link_man_phone like CONCAT('%', #{linkManPhone}, '%')
      </if>
      <if test="faxNumber != null and faxNumber != ''">
        and wohdo.fax_number like CONCAT('%', #{faxNumber}, '%')
      </if>
      <if test="emailAddress != null and emailAddress != ''">
        and wohdo.e_mail_address like CONCAT('%', #{emailAddress}, '%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wohdo.order_date, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and wohdo.status=#{status}
      </if>
      <if test="orgId != null">
        and wohdo.org_id = #{orgId}
      </if>
      <if test="orderStatus!=null">
        and wohdo.order_status = #{orderStatus}
      </if>
        <if test="auditStatus!=null">
            and wohdo.audit_status = #{auditStatus}
        </if>
    </where>
    order by wohdo.modified_time desc
  </select>
</mapper>