<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutDeliveryOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutDeliveryOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_order_det_id" jdbcType="BIGINT" property="deliveryOrderDetId" />
    <result column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="order_det_id" jdbcType="BIGINT" property="orderDetId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
      <result column="platform_id" jdbcType="BIGINT" property="platformId"/>
    <result column="picking_storage_id" jdbcType="BIGINT" property="pickingStorageId"/>
    <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId" />
    <result column="line_number" jdbcType="INTEGER" property="lineNumber" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="picking_qty" jdbcType="DECIMAL" property="pickingQty" />
    <result column="dispatch_qty" jdbcType="DECIMAL" property="dispatchQty" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
    <result column="source_line_number" jdbcType="VARCHAR" property="sourceLineNumber" />
      <result column="pipeline_number" jdbcType="VARCHAR" property="pipelineNumber" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
      <result column="option4" jdbcType="VARCHAR" property="option4" />
      <result column="option5" jdbcType="VARCHAR" property="option5" />
      <result column="option6" jdbcType="VARCHAR" property="option6" />
      <result column="option7" jdbcType="VARCHAR" property="option7" />
      <result column="option8" jdbcType="VARCHAR" property="option8" />
      <result column="option9" jdbcType="VARCHAR" property="option9" />
      <result column="option10" jdbcType="VARCHAR" property="option10" />
      <result column="sales_code" jdbcType="VARCHAR" property="salesCode" />
  </resultMap>

  <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.wms.out.WmsOutDeliveryOrderDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
      <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="picking_storage_code" jdbcType="VARCHAR" property="pickingStorageCode"/>
    <result column="volume" jdbcType="DECIMAL" property="volume"/>
    <result column="net_weight" jdbcType="DECIMAL" property="netWeight" />
    <result column="gross_weight" jdbcType="DECIMAL" property="grossWeight" />
      <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
      <result column="platform_name" jdbcType="VARCHAR" property="platformName"/>
  </resultMap>


  <sql id="Base_Column_List">
    wodod.delivery_order_det_id,
    wodod.delivery_order_id,
    wodod.source_order_id,
    wodod.order_det_id,
    wodod.warehouse_id,
    wodod.storage_id,
    wodod.platform_id,
    wodod.picking_storage_id,
    wodod.inventory_status_id,
    wodod.line_number,
    wodod.material_id,
    -- wodod.packing_unit_name,
    wodod.packing_qty,
    wodod.picking_qty,
    wodod.dispatch_qty,
    wodod.batch_code,
    wodod.source_order_code,
    wodod.source_line_number,
    wodod.pipeline_number,
    wodod.`status`,
    wodod.org_id,
    wodod.remark,
    wodod.create_user_id,
    wodod.create_time,
    wodod.modified_user_id,
    wodod.modified_time,
    wodod.sales_code,
    wodod.is_delete,
    wodod.option1,
    wodod.option2,
    wodod.option3,
    wodod.option4,
    wodod.option5,
    wodod.option6,
    wodod.option7,
    wodod.option8,
    wodod.option9,
    wodod.option10
  </sql>

  <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
    select<include refid="Base_Column_List"/>,
    bm.material_code,bm.material_name,bm.material_desc,
    bw.warehouse_name,bs.storage_code,bss.storage_code as 'picking_storage_code',
    bmt.volume,bmt.net_weight,bmt.gross_weight,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name,
    bis.inventory_status_name,
    bp.platform_name,
    CASE WHEN IFNULL(wodod.packing_unit_name,'')='' THEN bmt.main_unit ELSE wodod.packing_unit_name END AS packing_unit_name
    from fantech_imes_v2.wms_out_delivery_order_det wodod
    LEFT JOIN fantech_imes_v2.base_material bm ON wodod.material_id = bm.material_id
    LEFT JOIN fantech_imes_v2.base_warehouse bw ON wodod.warehouse_id = bw.warehouse_id
    LEFT JOIN fantech_imes_v2.base_storage bs ON wodod.storage_id = bs.storage_id
    LEFT JOIN fantech_imes_v2.base_storage bss ON wodod.picking_storage_id = bss.storage_id
    LEFT JOIN fantech_imes_v2.base_material_tab bmt ON wodod.material_id = bmt.material_id
    LEFT JOIN base_inventory_status bis ON wodod.inventory_status_id = bis.inventory_status_id
    LEFT JOIN base_platform bp on bp.platform_id = wodod.platform_id
    LEFT JOIN ocean_v2.sys_user su ON wodod.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wodod.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wodod.org_id = bo.organization_id
    <where>
      <if test="deliveryOrderId != null">
        and wodod.delivery_order_id = #{deliveryOrderId}
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wodod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and wodod.status=#{status}
      </if>
    </where>
    order by wodod.create_time desc
  </select>
</mapper>