<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutPlanStockListOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutPlanStockListOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plan_stock_list_order_id" jdbcType="BIGINT" property="planStockListOrderId" />
    <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="coreSourceSysOrderTypeCode" />
    <result column="source_sys_order_type_code" jdbcType="VARCHAR" property="sourceSysOrderTypeCode" />
    <result column="source_big_type" jdbcType="TINYINT" property="sourceBigType" />
    <result column="sys_order_type_code" jdbcType="VARCHAR" property="sysOrderTypeCode" />
    <result column="plan_stock_list_order_code" jdbcType="VARCHAR" property="planStockListOrderCode" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.wms.out.WmsOutPlanStockListOrderDto">
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <collection property="wmsOutPlanStockListOrderDetDtos" ofType="com.fantechs.common.base.general.dto.wms.out.WmsOutPlanStockListOrderDetDto"
                column="{planStockListOrderId=plan_stock_list_order_id}" select="com.fantechs.provider.wms.out.mapper.WmsOutPlanStockListOrderDetMapper.findList">
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    wopslo.plan_stock_list_order_id,
    wopslo.core_source_sys_order_type_code,
    wopslo.source_sys_order_type_code,
    wopslo.source_big_type,
    wopslo.sys_order_type_code,
    wopslo.plan_stock_list_order_code,
    wopslo.warehouse_id,
    wopslo.order_status,
    wopslo.status,
    wopslo.org_id,
    wopslo.remark,
    wopslo.create_user_id,
    wopslo.create_time,
    wopslo.modified_user_id,
    wopslo.modified_time,
    wopslo.is_delete,
    wopslo.option1,
    wopslo.option2,
    wopslo.option3
  </sql>
  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select<include refid="Base_Column_List"/>,
    bw.warehouse_name,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    FROM wms_out_plan_stock_list_order wopslo
    LEFT JOIN base_warehouse bw ON wopslo.warehouse_id = bw.warehouse_id
    LEFT JOIN base_storage bs ON wopslo.storage_id = bs.storage_id
    LEFT JOIN sys_user su ON wopslo.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON wopslo.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wopslo.org_id = bo.organization_id
    <where>
      <if test="planStockListOrderId != null">
        and wopslo.plan_stock_list_order_id = #{planStockListOrderId}
      </if>
      <if test="coreSourceSysOrderTypeCode!=null and coreSourceSysOrderTypeCode!=''">
        and wopslo.core_source_sys_order_type_code = #{coreSourceSysOrderTypeCode}
      </if>
      <if test="sourceSysOrderTypeCode!=null and sourceSysOrderTypeCode!=''">
        and wopslo.source_sys_order_type_code = #{sourceSysOrderTypeCode}
      </if>
      <if test="sysOrderTypeCode!=null and sysOrderTypeCode!=''">
        and wopslo.sys_order_type_code = #{sysOrderTypeCode}
      </if>
      <if test="sourceBigType!=null and sourceBigType!=''">
        and wopslo.source_big_type = #{sourceBigType}
      </if>
      <if test="planStockListOrderCode != null and planStockListOrderCode != ''">
        and wopslo.plan_stock_list_order_code like CONCAT('%', #{planStockListOrderCode}, '%')
      </if>
      <if test="warehouseId != null and warehouseId != ''">
        and wopslo.warehouse_id like CONCAT('%', #{warehouseId}, '%')
      </if>
      <if test="orderStatus!=null">
        and wopslo.order_status = #{orderStatus}
      </if>
      <if test="status!=null">
        and wopslo.status=#{status}
      </if>
      <if test="remark!=null and remark!=''">
        and wopslo.remark =#{remark}
      </if>
      <if test="orgId != null">
        and wopslo.org_id = #{orgId}
      </if>

    </where>
    order by wopslo.create_time desc
  </select>
</mapper>