<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.out.mapper.WmsOutHtDeliveryOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.history.WmsOutHtDeliveryOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_delivery_order_det_id" jdbcType="BIGINT" property="htDeliveryOrderDetId" />
    <result column="delivery_order_det_id" jdbcType="BIGINT" property="deliveryOrderDetId" />
    <result column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="order_det_id" jdbcType="BIGINT" property="orderDetId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId" />
    <result column="line_number" jdbcType="INTEGER" property="lineNumber" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="picking_qty" jdbcType="DECIMAL" property="pickingQty" />
    <result column="dispatch_qty" jdbcType="DECIMAL" property="dispatchQty" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
    <result column="source_line_number" jdbcType="VARCHAR" property="sourceLineNumber" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
  </resultMap>

  <sql id="Base_Column_List">
    wohdod.ht_delivery_order_det_id,
    wohdod.delivery_order_det_id,
    wohdod.delivery_order_id,
    wohdod.source_order_id,
    wohdod.order_det_id,
    wohdod.warehouse_id,
    wohdod.storage_id,
    wohdod.inventory_status_id,
    wohdod.line_number,
    wohdod.material_id,
    wohdod.packing_unit_name,
    wohdod.packing_qty,
    wohdod.picking_qty,
    wohdod.dispatch_qty,
    wohdod.batch_code,
    wohdod.source_order_code,
    wohdod.source_line_number,
    wohdod.`status`,
    wohdod.org_id,
    wohdod.remark,
    wohdod.create_user_id,
    wohdod.create_time,
    wohdod.modified_user_id,
    wohdod.modified_time,
    wohdod.is_delete
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select<include refid="Base_Column_List"/>,
    bw.warehouse_name,bs.storage_code,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    from fantech_imes_v2.wms_out_ht_delivery_order_det wohdod
    LEFT JOIN fantech_imes_v2.base_warehouse bw ON wohdod.warehouse_id = bw.warehouse_id
    LEFT JOIN fantech_imes_v2.base_storage bs ON wohdod.storage_id = bs.storage_id
    LEFT JOIN ocean_v2.sys_user su ON wohdod.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wohdod.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wohdod.org_id = bo.organization_id
    <where>
      <if test="deliveryOrderId != null">
        and wohdod.delivery_order_id = #{deliveryOrderId}
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wohdod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and wohdod.status=#{status}
      </if>
    </where>
  </select>
</mapper>