<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.esop.mapper.EsopWiReleaseDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.esop.EsopWiReleaseDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="wi_release_det_id" jdbcType="BIGINT" property="wiReleaseDetId"/>
        <result column="wi_release_id" jdbcType="BIGINT" property="wiReleaseId"/>
        <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId"/>
        <result column="wi_release_det_seq_num" jdbcType="BIGINT" property="wiReleaseDetSeqNum"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.esop.EsopWiReleaseDetDto">
        <result column="work_instruction_code" jdbcType="VARCHAR" property="workInstructionCode"/>
        <result column="work_instruction_name" jdbcType="VARCHAR" property="workInstructionName"/>
        <result column="work_instruction_ver" jdbcType="VARCHAR" property="workInstructionVer"/>
        <result column="process_id" jdbcType="VARCHAR" property="processId"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
    </resultMap>

    <sql id="BaseColumnList">
        ewrd.wi_release_det_id,
        ewrd.wi_release_id,
        ewrd.work_instruction_id,
        ewrd.wi_release_det_seq_num,
        ewrd.status,
        ewrd.remark,
        ewrd.org_id,
        ewrd.create_user_id,
        ewrd.create_time,
        ewrd.modified_user_id,
        ewrd.modified_time,
        ewrd.option1,
        ewrd.option2,
        ewrd.option3
    </sql>

    <select id="findList" resultMap="BaseResultMapDto">
        SELECT<include refid="BaseColumnList"/>,ewi.work_instruction_code as work_instruction_code,
        ewi.work_instruction_name as work_instruction_name,ewi.work_instruction_ver as work_instruction_ver,
        sp.process_id as process_id,sp.process_name as process_name
        FROM esop_wi_release_det ewrd
        LEFT JOIN esop_work_instruction ewi ON ewrd.work_instruction_id = ewi.work_instruction_id
        LEFT JOIN base_process sp ON ewi.process_id = sp.process_id
        LEFT JOIN sys_user su ON ewrd.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON ewrd.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON ewrd.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and ewrd.org_id = #{orgId}
            </if>
            <if test="wiReleaseId!=null and wiReleaseId!=''">
                and ewrd.wi_release_id = #{wiReleaseId}
            </if>
        </where>
    </select>

</mapper>
