<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.esop.mapper.EsopHtWorkInstructionMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.esop.history.EsopHtWorkInstruction">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ht_work_instruction_id" jdbcType="BIGINT" property="htWorkInstructionId"/>
        <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId"/>
        <result column="work_instruction_code" jdbcType="VARCHAR" property="workInstructionCode"/>
        <result column="work_instruction_name" jdbcType="VARCHAR" property="workInstructionName"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="secrecy_grade" jdbcType="TINYINT" property="secrecyGrade"/>
        <result column="wi_status" jdbcType="TINYINT" property="wiStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
        <result column="manufacture_procedure" jdbcType="LONGVARCHAR" property="manufactureProcedure"/>
        <result column="process_req_and_announcements" jdbcType="LONGVARCHAR" property="processReqAndAnnouncements"/>
    </resultMap>


    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.esop.EsopHtWorkInstructionDto">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>

        <collection property="esopHtWiBoms" ofType="com.fantechs.common.base.general.entity.esop.history.EsopHtWiBom"
                    column="{workInstructionId=work_instruction_id}"
                    select="com.fantechs.provider.esop.mapper.EsopHtWiBomMapper.findHtList">
        </collection>
        <collection property="esopHtWiFTAndInspectionTools"
                    ofType="com.fantechs.common.base.general.entity.esop.history.EsopHtWiFTAndInspectionTool"
                    column="{workInstructionId=work_instruction_id}"
                    select="com.fantechs.provider.esop.mapper.EsopHtWiFTAndInspectionToolMapper.findHtList">
        </collection>
        <collection property="esopHtWiQualityStandardss"
                    ofType="com.fantechs.common.base.general.entity.esop.history.EsopHtWiQualityStandards"
                    column="{workInstructionId=work_instruction_id}"
                    select="com.fantechs.provider.esop.mapper.EsopHtWiQualityStandardsMapper.findHtList">
        </collection>
        <collection property="esopHtWiFiles" ofType="com.fantechs.common.base.general.entity.esop.history.EsopHtWiFile"
                    column="{workInstructionId=work_instruction_id}"
                    select="com.fantechs.provider.esop.mapper.EsopHtWiFileMapper.findHtList">
        </collection>
    </resultMap>
    <sql id="BaseColumnList">
        ehwi.ht_work_instruction_id,
        ehwi.work_instruction_id,
        ehwi.work_instruction_code,
        ehwi.work_instruction_name,
        ehwi.work_instruction_ver,
        ehwi.process_id,
        ehwi.material_id,
        ehwi.secrecy_grade,
        ehwi.wi_status,
        ehwi.manufacture_procedure,
        ehwi.process_req_and_announcements,
        ehwi.status,
        ehwi.remark,
        ehwi.org_id,
        ehwi.create_user_id,
        ehwi.create_time,
        ehwi.modified_user_id,
        ehwi.modified_time,
        ehwi.option1,
        ehwi.option2,
        ehwi.option3
    </sql>
    <select id="findHtList" resultMap="BaseResultMapDto">

        SELECT<include refid="BaseColumnList"/>,
        bm.material_code as material_code,spm.product_model_code as product_model_code,spm.product_model_name as
        product_model_name,
        sp.process_name,su.user_name AS create_user_name,sus.user_name AS modified_user_name,bo.organization_name AS
        organization_name
        FROM esop_ht_work_instruction ehwi
        LEFT JOIN base_material bm ON ehwi.material_id = bm.material_id
        LEFT JOIN base_material_tab bt ON bm.material_id = bt.material_id
        LEFT JOIN base_product_model spm ON bt.product_model_id = spm.product_model_id
        LEFT JOIN base_process sp ON ehwi.process_id = sp.process_id
        LEFT JOIN sys_user su ON ehwi.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON ehwi.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON ehwi.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and ehwi.org_id = #{orgId}
            </if>
            <if test="workInstructionName!=null and workInstructionName!=''">
                and ehwi.work_instruction_name = #{workInstructionName}
            </if>
            <if test="workInstructionCode!=null and workInstructionCode!=''">
                and ehwi.work_instruction_code = #{workInstructionCode}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code = #{materialCode}
            </if>
            <if test="materialId!=null and materialId!=''">
                and ehwi.material_id = #{materialId}
            </if>
            <if test="processId!=null and processId!=''">
                and sp.process_id = #{processId}
            </if>
        </where>
    </select>

</mapper>
