<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.esop.mapper.EsopWiQualityStandardsMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.esop.EsopWiQualityStandards">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="wi_quality_standards_id" jdbcType="BIGINT" property="wiQualityStandardsId"/>
        <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId"/>
        <result column="wi_quality_standards_issues_name" jdbcType="VARCHAR" property="wiQualityStandardsIssuesName"/>
        <result column="wi_quality_standards_content" jdbcType="VARCHAR" property="wiQualityStandardsContent"/>
        <result column="inspection_type" jdbcType="VARCHAR" property="inspectionType"/>
        <result column="inspection_frequency" jdbcType="VARCHAR" property="inspectionFrequency"/>
        <result column="record" jdbcType="VARCHAR" property="record"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>


    <sql id="BaseColumnList">
        ewqs.wi_quality_standards_id,
        ewqs.work_instruction_id,
        ewqs.wi_quality_standards_issues_name,
        ewqs.wi_quality_standards_content,
        ewqs.inspection_type,
        ewqs.inspection_frequency,
        ewqs.record,
        ewqs.status,
        ewqs.remark,
        ewqs.org_id,
        ewqs.create_user_id,
        ewqs.create_time,
        ewqs.modified_user_id,
        ewqs.modified_time,
        ewqs.option1,
        ewqs.option2,
        ewqs.option3
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM esop_wi_quality_standards ewqs
        LEFT JOIN esop_work_instruction ewi ON ewqs.work_instruction_id = ewi.work_instruction_id
        LEFT JOIN sys_user su ON ewqs.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON ewqs.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON ewqs.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and ewqs.org_id = #{orgId}
            </if>
            <if test="workInstructionId!=null and workInstructionId!=''">
                and ewqs.work_instruction_id = #{workInstructionId}
            </if>
        </where>
    </select>
</mapper>
