<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.esop.mapper.EsopWiFileMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.esop.EsopWiFile">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="wi_file_id" jdbcType="BIGINT" property="wiFileId"/>
        <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId"/>
        <result column="wi_file_org_name" jdbcType="VARCHAR" property="wiFileOrgName"/>
        <result column="wi_file_name" jdbcType="VARCHAR" property="wiFileName"/>
        <result column="store_path" jdbcType="VARCHAR" property="storePath"/>
        <result column="access_url" jdbcType="VARCHAR" property="accessUrl"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <sql id="BaseColumnList">
        ewf.wi_file_id,
        ewf.work_instruction_id,
        ewf.wi_file_org_name,
        ewf.wi_file_name,
        ewf.store_path,
        ewf.access_url,
        ewf.status,
        ewf.remark,
        ewf.org_id,
        ewf.create_user_id,
        ewf.create_time,
        ewf.modified_user_id,
        ewf.modified_time,
        ewf.option1,
        ewf.option2,
        ewf.option3
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM esop_wi_file ewf
        LEFT JOIN esop_work_instruction ewi ON ewf.work_instruction_id = ewi.work_instruction_id
        LEFT JOIN ocean_v2.sys_user su ON ewf.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON ewf.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON ewf.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and ewf.org_id = #{orgId}
            </if>
            <if test="workInstructionId!=null and workInstructionId!=''">
                and ewf.work_instruction_id = #{workInstructionId}
            </if>
            <if test="isDistribut!=null and isDistribut!='' and isDistribut ==0 ">
                and ewf.work_instruction_id is null
            </if>

        </where>
    </select>

</mapper>