<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.esop.mapper.EsopHtWiBomMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.esop.history.EsopHtWiBom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_wi_bom_id" jdbcType="BIGINT" property="htWiBomId" />
    <result column="wi_bom_id" jdbcType="BIGINT" property="wiBomId" />
    <result column="work_instruction_id" jdbcType="BIGINT" property="workInstructionId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="usage_qty" jdbcType="VARCHAR" property="usageQty" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.esop.EsopHtWiBomDto">
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    </resultMap>

  <sql id="BaseColumnList">
        ehwb.ht_wi_bom_id,
        ehwb.work_instruction_id,
        ehwb.material_id,
        ehwb.usage_qty,
        ehwb.status,
        ehwb.remark,
        ehwb.org_id,
        ehwb.create_user_id,
        ehwb.create_time,
        ehwb.modified_user_id,
        ehwb.modified_time,
        ehwb.option1,
        ehwb.option2,
        ehwb.option3
    </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    SELECT<include refid="BaseColumnList"/>,bm.material_name as material_name,
      bm.material_code as material_code,bm.material_version as material_version
    FROM esop_ht_wi_bom ehwb
    LEFT JOIN base_material bm ON ehwb.material_id = bm.material_id
    LEFT JOIN esop_ht_work_instruction ehwi ON ehwb.work_instruction_id = ehwi.work_instruction_id
    LEFT JOIN ocean_v2.sys_user su ON ehwb.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON ehwb.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON ehwb.org_id = bo.organization_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and ehwb.org_id = #{orgId}
      </if>
      <if test="workInstructionId!=null and workInstructionId!=''">
        and ehwb.work_instruction_id = #{workInstructionId}
      </if>
    </where>
  </select>
</mapper>