<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmAppointDeliveryReAsnMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmAppointDeliveryReAsn">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="appoint_delivery_re_asn_id" jdbcType="BIGINT" property="appointDeliveryReAsnId"/>
        <result column="delivery_appoint_id" jdbcType="BIGINT" property="deliveryAppointId"/>
        <result column="asn_order_id" jdbcType="BIGINT" property="asnOrderId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>


    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.srm.SrmAppointDeliveryReAsnDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        sadra.appoint_delivery_re_asn_id,
        sadra.delivery_appoint_id,
        sadra.asn_order_id,
        sadra.status,
        sadra.remark,
        sadra.org_id,
        sadra.create_user_id,
        sadra.create_time,
        sadra.modified_user_id,
        sadra.modified_time,
        sadra.is_delete,
        sadra.option1,
        sadra.option2,
        sadra.option3
    </sql>


    <select id="findList" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"></include>,
        wiao.asn_code AS asnCode,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
        from srm_appoint_delivery_re_asn sadra
        LEFT JOIN wms_in_asn_order wiao ON wiao.asn_order_id = sadra.asn_order_id
        LEFT JOIN sys_user su ON sadra.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON sadra.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON sadra.org_id = bo.organization_id
        <where>
            <if test="deliveryAppointId!=null and deliveryAppointId!=''">
                and sadra.delivery_appoint_id = #{deliveryAppointId}
            </if>
            <if test="orgId!=null and orgId!=''">
                and sadra.org_id = #{orgId}
            </if>
            <if test="asnCode!=null and asnCode!=''">
                and wiao.asn_code = #{asnCode}
            </if>


        </where>
        order by sadra.create_time desc
    </select>

</mapper>