<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmDeliveryNoteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmDeliveryNote">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_note_id" jdbcType="BIGINT" property="deliveryNoteId" />
    <result column="asn_code" jdbcType="VARCHAR" property="asnCode" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="document_date" jdbcType="TIMESTAMP" property="documentDate" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="delivery_quantity" jdbcType="DECIMAL" property="deliveryQuantity" />
    <result column="delivery_man" jdbcType="BIGINT" property="deliveryMan" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmDeliveryNoteDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
    <result column="deliveryman_name" jdbcType="VARCHAR" property="deliverymanName"/>
    <result column="order_quantity" jdbcType="DECIMAL" property="orderQuantity"/>
    <result column="plan_delivery_date" jdbcType="TIMESTAMP" property="planDeliveryDate"/>
    <result column="need_time" jdbcType="TIMESTAMP" property="needTime"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    sdn.delivery_note_id,sdn.asn_code,sdn.order_id,sdn.order_type,sdn.document_date,sdn.delivery_date,
    sdn.delivery_quantity,sdn.delivery_man,sdn.status,sdn.create_user_id,sdn.create_time,
    sdn.modified_user_id,sdn.modified_time,sdn.is_delete, sdn.organization_id, sdn.remark
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,ssu.user_name AS deliveryman_name,
    (CASE WHEN order_type = 0 THEN '客户代码' WHEN order_type = 1 THEN '客户代码' END) AS supplier_code,
    (CASE WHEN order_type = 0 THEN '订单数量' WHEN order_type = 1 THEN '订单数量' END) AS order_quantity,
    (CASE WHEN order_type = 0 THEN '计划交货日期' WHEN order_type = 1 THEN '计划交货日期' END) AS plan_delivery_date,
    (CASE WHEN order_type = 0 THEN '需用时间' WHEN order_type = 1 THEN '需用时间' END) AS need_time
    from fantech_imes_v2.srm_delivery_note sdn
    LEFT JOIN ocean_v2.sys_user su ON sdn.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON sdn.modified_user_id = sus.user_id
    --     LEFT JOIN fantech_imes_v2.送货计划表
    --     LEFT JOIN fantech_imes_v2.采购订单表
    LEFT JOIN ocean_v2.sys_user ssu ON sdn.delivery_man = ssu.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON sdn.organization_id = bo.organization_id
    <where>
      <if test="asnCode != null and asnCode != ''">
        and sdn.asn_code like CONCAT('%', #{asnCode}, '%')
      </if>
      <if test="orderId != null and orderId != ''">
        and sdn.order_id like CONCAT('%', #{orderId}, '%')
      </if>
      <if test="supplierCode != null and supplierCode != ''">
        and sdn.supplier_code like CONCAT('%', #{supplierCode}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sdn.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getMax" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from fantech_imes_v2.srm_delivery_note sdn ORDER BY sdn.delivery_note_id desc limit 1
  </select>

</mapper>
