<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmDeliveryNoteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmDeliveryNote">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_note_id" jdbcType="BIGINT" property="deliveryNoteId" />
    <result column="asn_code" jdbcType="VARCHAR" property="asnCode" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="delivery_quantity" jdbcType="DECIMAL" property="deliveryQuantity" />
    <result column="delivery_man" jdbcType="BIGINT" property="deliveryMan" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmDeliveryNoteDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="purchase_customer_code" jdbcType="VARCHAR" property="purchaseCustomerCode"/>
    <result column="delivery_customer_code" jdbcType="VARCHAR" property="deliveryCustomerCode"/>
    <result column="deliveryman_name" jdbcType="VARCHAR" property="deliverymanName"/>
  </resultMap>

  <sql id="Base_Column_List">
    sdn.delivery_note_id,sdn.asn_code,sdn.order_id,sdn.order_type,
    sdn.delivery_date,sdn.delivery_quantity,sdn.delivery_man,sdn.status,sdn.create_user_id,
    sdn.create_time,sdn.modified_user_id,sdn.modified_time,sdn.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,ssu.user_name AS deliveryman_name
    from fantech_imes.srm_delivery_note sdn
    LEFT JOIN ocean.sys_user su ON qrmr.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qrmr.modified_user_id = sus.user_id
--     LEFT JOIN fantech_imes.送货计划表
--     LEFT JOIN fantech_imes.采购订单表
    LEFT JOIN ocean.sys_user ssu ON sdn.delivery_man = ssu.user_id
    <where>
      <if test="asnCode != null and asnCode != ''">
        and sdn.asn_code like CONCAT('%', #{asnCode}, '%')
      </if>
      <if test="orderId != null and orderId != ''">
        and sdn.order_id like CONCAT('%', #{orderId}, '%')
      </if>
      <if test="customerCode != null and customerCode != ''">
        and sdn.customer_code like CONCAT('%', #{customerCode}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sdn.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getMax" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from fantech_imes.srm_delivery_note sdn ORDER BY sdn.delivery_note_id desc limit 1
  </select>

</mapper>
