<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmDeliveryNoteDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmDeliveryNoteDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_note_det_id" jdbcType="BIGINT" property="deliveryNoteDetId" />
    <result column="delivery_note_id" jdbcType="BIGINT" property="deliveryNoteId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="order_quantity" jdbcType="DECIMAL" property="orderQuantity" />
    <result column="practical_delivery_quantity" jdbcType="DECIMAL" property="practicalDeliveryQuantity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmDeliveryNoteDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="unit" jdbcType="VARCHAR" property="unit"/>
    <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
    <result column="plan_delivery_date" jdbcType="TIMESTAMP" property="planDeliveryDate"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    sdnd.delivery_note_det_id,sdnd.delivery_note_id,sdnd.material_id,sdnd.order_quantity,
    sdnd.practical_delivery_quantity,sdnd.status,sdnd.create_user_id,sdnd.create_time,
    sdnd.modified_user_id,sdnd.modified_time,sdnd.is_delete, sdnd.organization_id,
	sdnd.remark
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,ssu.user_name AS deliveryman_name,
    sm.material_code,sm.material_name,sm.unit, bo.organization_name
    from fantech_imes_v2.srm_delivery_note_det sdnd
    LEFT JOIN ocean_v2.sys_user su ON qrmr.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON qrmr.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.smt_material sm ON qrmr.material_id = sm.material_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON sdnd.organization_id = bo.organization_id
    <if test="orderType != null and orderType != '' and orderType == 0">
      LEFT JOIN fantech_imes_v2.送货计划单
    </if>
    <if test="orderType != null and orderType != '' and orderType == 1">
      LEFT JOIN fantech_imes_v2.采购订单
    </if>
    <where>
      <if test="deliveryNoteId != null and deliveryNoteId != ''">
        and sdnd.delivery_note_id like CONCAT('%', #{deliveryNoteId}, '%')
      </if>
      <if test="deliveryNoteCode != null and deliveryNoteCode != ''">
        and sdnd.delivery_note_code like CONCAT('%', #{deliveryNoteCode}, '%')
      </if>
      <if test="orderType != null and orderType != ''">
        and sdnd.order_type like CONCAT('%', #{orderType}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sdnd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <update id="batchUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update fantech_imes_v2.srm_delivery_note_det sdnd set
      sdnd.delivery_note_id = #{item.deliveryNoteId},
      sdnd.material_id = #{item.materialId},
      sdnd.order_quantity = #{item.orderQuantity},
      sdnd.practical_delivery_quantity = #{item.practicalDeliveryQuantity},
      sdnd.status = #{item.status},
      sdnd.modified_user_id = #{item.modifiedUserId},
      sdnd.modified_time = #{item.modifiedTime},
      sdnd.is_delete = #{item.isDelete}
      where sdnd.delivery_note_det_id = #{item.deliveryNoteDetId}
    </foreach>
  </update>
</mapper>
