<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtDeliveryAppointMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtDeliveryAppoint">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_delivery_appoint_id" jdbcType="BIGINT" property="htDeliveryAppointId" />
    <result column="delivery_appoint_id" jdbcType="BIGINT" property="deliveryAppointId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="car_license_code" jdbcType="VARCHAR" property="carLicenseCode" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="delivery_warehouse_id" jdbcType="BIGINT" property="deliveryWarehouseId" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="appoint_date" jdbcType="DATE" property="appointDate" />
    <result column="appoint_start_time" jdbcType="TIME" property="appointStartTime" />
    <result column="appoint_end_time" jdbcType="TIME" property="appointEndTime" />
    <result column="appoint_status" jdbcType="TINYINT" property="appointStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmHtDeliveryAppointDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <collection property="list" ofType="com.fantechs.common.base.general.dto.srm.SrmHtAppointDeliveryReAsnDto"
                    column="{deliveryAppointId=delivery_appoint_id}" select="com.fantechs.provider.srm.mapper.SrmHtAppointDeliveryReAsnMapper.findList">
        </collection>
    </resultMap>

  <sql id="Base_Column_List">
        shda.ht_delivery_appoint_id,
        shda.delivery_appoint_id,
        shda.supplier_id,
        shda.car_license_code,
        shda.link_man_name,
        shda.link_man_phone,
        shda.delivery_warehouse_id,
        shda.delivery_address,
        shda.appoint_date,
        shda.appoint_start_time,
        shda.appoint_end_time,
        shda.appoint_status,
        shda.status,
        shda.remark,
        shda.org_id,
        shda.create_user_id,
        shda.create_time,
        shda.modified_user_id,
        shda.modified_time,
        shda.is_delete,
        shda.option1,
        shda.option2,
        shda.option3
    </sql>

    <select id="findList" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"></include>,
        bw.warehouse_name AS warehouse_name,bs.supplier_name AS supplier_name,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
        from srm_ht_delivery_appoint shda
        LEFT JOIN base_warehouse bw ON shda.delivery_warehouse_id = bw.warehouse_id
        LEFT JOIN base_supplier bs ON shda.supplier_id = bs.supplier_id
        LEFT JOIN sys_user su ON shda.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON shda.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON shda.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and shda.org_id = #{orgId}
            </if>
            <if test="carLicenseCode!=null and carLicenseCode!=''">
                and shda.car_license_code like CONCAT('%', #{carLicenseCode}, '%')
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bs.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="linkManName!=null and linkManName!=''">
                and shda.link_man_name like CONCAT('%', #{linkManName}, '%')
            </if>
            <if test="appointStatus!=null and appointStatus!=''">
                and shda.appoint_status = #{appointStatus}
            </if>

            <choose>
                <when test="supplierIdList!=null and supplierIdList.size > 0">
                    and shda.supplier_id in
                    <foreach collection="supplierIdList" item="item" separator="," open="(" close=")">
                        #{item.supplierId,jdbcType=BIGINT}
                    </foreach>
                </when>
            </choose>
        </where>
        order by shda.create_time desc
    </select>

</mapper>