<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtPackingOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtPackingOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_packing_order_id" jdbcType="BIGINT" property="htPackingOrderId" />
    <result column="packing_order_id" jdbcType="BIGINT" property="packingOrderId" />
    <result column="packing_order_code" jdbcType="VARCHAR" property="packingOrderCode" />
    <result column="despatch_batch" jdbcType="VARCHAR" property="despatchBatch" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="total_carton_qty" jdbcType="INTEGER" property="totalCartonQty" />
    <result column="leave_factory_time" jdbcType="TIMESTAMP" property="leaveFactoryTime" />
    <result column="leave_port_time" jdbcType="TIMESTAMP" property="leavePortTime" />
    <result column="arrival_port_time" jdbcType="TIMESTAMP" property="arrivalPortTime" />
    <result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmHtPackingOrderDto">

  </resultMap>

  <sql id="Base_Column_List">
    shpo.ht_packing_order_id,
    shpo.packing_order_id,
    shpo.packing_order_code,
    shpo.despatch_batch,
    shpo.order_time,
    shpo.supplier_id,
    shpo.total_carton_qty,
    shpo.leave_factory_time,
    shpo.leave_port_time,
    shpo.arrival_port_time,
    shpo.arrival_time,
    shpo.order_status,
    shpo.`status`,
    shpo.remark,
    shpo.org_id,
    shpo.create_user_id,
    shpo.create_time,
    shpo.modified_user_id,
    shpo.modified_time,
    shpo.option1,
    shpo.option2,
    shpo.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    su.user_name as audit_user_name,u.user_name as create_user_name,
    s.user_name as modified_user_name,bo.organization_name
    from srm_ht_packing_order shpo
    left join ocean_v2.sys_user su on shpo.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on shpo.create_user_id=u.user_id
    left join ocean_v2.sys_user s on shpo.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON shpo.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shpo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and shpo.status = #{status}
      </if>
      <if test="orgId!=null">
        and shpo.org_id=#{orgId}
      </if>
    </where>
    order by shpo.create_time desc
  </select>
</mapper>