<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtCarportMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtCarport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_carport_id" jdbcType="BIGINT" property="htCarportId" />
    <result column="carport_id" jdbcType="BIGINT" property="carportId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="carport_count" jdbcType="INTEGER" property="carportCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmHtCarportDto">
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
        <collection property="list" ofType="com.fantechs.common.base.general.dto.srm.SrmHtCarportTimeQuantumDto"
                    column="{carportId=carport_id}" select="com.fantechs.provider.srm.mapper.SrmHtCarportTimeQuantumMapper.findList">
        </collection>
    </resultMap>

  <sql id="Base_Column_List">
        shc.ht_carport_id,
        shc.carport_id,
        shc.warehouse_id,
        shc.carport_count,
        shc.status,
        shc.remark,
        shc.org_id,
        shc.create_user_id,
        shc.create_time,
        shc.modified_user_id,
        shc.modified_time,
        shc.is_delete,
        shc.option1,
        shc.option2,
        shc.option3
    </sql>


  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bw.warehouse_name AS warehouse_name,
    su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
    from srm_ht_carport shc
    LEFT JOIN base_warehouse bw ON shc.warehouse_id = bw.warehouse_id
    LEFT JOIN sys_user su ON shc.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON shc.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON shc.org_id = bo.organization_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and shc.org_id = #{orgId}
      </if>
      <if test="warehouseId!=null and warehouseId!=''">
        and shc.warehouse_id = #{warehouseId}
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and bw.warehouse_name = #{warehouseName}
      </if>

    </where>
    order by shc.create_time desc
  </select>
</mapper>