<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtDeliveryNoteMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtDeliveryNote">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_delivery_note_id" jdbcType="BIGINT" property="htDeliveryNoteId" />
    <result column="delivery_note_id" jdbcType="BIGINT" property="deliveryNoteId" />
    <result column="asn_code" jdbcType="VARCHAR" property="asnCode" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="document_date" jdbcType="TIMESTAMP" property="documentDate" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="delivery_quantity" jdbcType="DECIMAL" property="deliveryQuantity" />
    <result column="delivery_man" jdbcType="BIGINT" property="deliveryMan" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    shdn.ht_delivery_note_id,
    shdn.delivery_note_id,
    shdn.asn_code,
    shdn.order_id,
    shdn.order_type,
    shdn.document_date,
    shdn.delivery_date,
    shdn.delivery_quantity,
    shdn.delivery_man,
    shdn.status,
    shdn.create_user_id,
    shdn.create_time,
    shdn.modified_user_id,
    shdn.modified_time,
    shdn.is_delete,
    shdn.organization_id,
	shdn.remark
  </sql>


  <select id="findList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>, bo.organization_name
    from srm_ht_delivery_note shdn
    LEFT JOIN base_organization bo ON shdn.organization_id = bo.organization_id
    <where>
      <if test="asnCode != null and asnCode != ''">
        and shdn.asn_code like CONCAT('%', #{asnCode}, '%')
      </if>
      <if test="orderId != null and orderId != ''">
        and shdn.order_id like CONCAT('%', #{orderId}, '%')
      </if>
      <if test="supplierCode != null and supplierCode != ''">
        and shdn.supplier_code like CONCAT('%', #{supplierCode}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shdn.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>


</mapper>
