<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtAppointDeliveryReAsnMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtAppointDeliveryReAsn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_appoint_delivery_re_asn_id" jdbcType="BIGINT" property="htAppointDeliveryReAsnId" />
    <result column="appoint_delivery_re_asn_id" jdbcType="BIGINT" property="appointDeliveryReAsnId" />
    <result column="delivery_appoint_id" jdbcType="BIGINT" property="deliveryAppointId" />
    <result column="asn_order_id" jdbcType="BIGINT" property="asnOrderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmHtAppointDeliveryReAsnDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    </resultMap>


    <sql id="Base_Column_List">
        shadra.ht_appoint_delivery_re_asn_id,
        shadra.appoint_delivery_re_asn_id,
        shadra.delivery_appoint_id,
        shadra.asn_order_id,
        shadra.status,
        shadra.remark,
        shadra.org_id,
        shadra.create_user_id,
        shadra.create_time,
        shadra.modified_user_id,
        shadra.modified_time,
        shadra.is_delete,
        shadra.option1,
        shadra.option2,
        shadra.option3
    </sql>


    <select id="findList" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"></include>,
        wiao.asn_code AS asnCode,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
        from srm_ht_appoint_delivery_re_asn shadra
        LEFT JOIN wms_in_asn_order wiao ON wiao.asn_order_id = shadra.asn_order_id
        LEFT JOIN sys_user su ON shadra.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON shadra.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON shadra.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and shadra.org_id = #{orgId}
            </if>
            <if test="deliveryAppointId!=null and deliveryAppointId!=''">
                and shadra.delivery_appoint_id = #{deliveryAppointId}
            </if>
        </where>
        order by shadra.create_time desc
    </select>
</mapper>