<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmHtPackingOrderSummaryDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmHtPackingOrderSummaryDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_packing_order_summary_det_id" jdbcType="BIGINT" property="htPackingOrderSummaryDetId" />
    <result column="packing_order_summary_det_id" jdbcType="BIGINT" property="packingOrderSummaryDetId" />
    <result column="packing_order_summary_id" jdbcType="BIGINT" property="packingOrderSummaryId" />
    <result column="carton_code" jdbcType="VARCHAR" property="cartonCode" />
    <result column="inner_carton_code" jdbcType="VARCHAR" property="innerCartonCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="drawing_number" jdbcType="VARCHAR" property="drawingNumber" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="raw_material_code" jdbcType="VARCHAR" property="rawMaterialCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmHtPackingOrderSummaryDetDto">

  </resultMap>


  <sql id="Base_Column_List">
    shposd.ht_packing_order_summary_det_id,
    shposd.packing_order_summary_det_id,
    shposd.packing_order_summary_id,
    shposd.carton_code,
    shposd.inner_carton_code,
    shposd.location_num,
    shposd.device_code,
    shposd.material_id,
    shposd.supplier_id,
    shposd.drawing_number,
    shposd.part_number,
    shposd.qty,
    shposd.unit_name,
    shposd.raw_material_code,
    shposd.`status`,
    shposd.remark,
    shposd.org_id,
    shposd.create_user_id,
    shposd.create_time,
    shposd.modified_user_id,
    shposd.modified_time,
    shposd.option1,
    shposd.option2,
    shposd.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bf.factory_name,bws.work_shop_name,bpl.pro_name,su.user_name as audit_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from srm_ht_packing_order_summary_det shposd
    left join ocean_v2.sys_user su on shposd.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on shposd.create_user_id=u.user_id
    left join ocean_v2.sys_user s on shposd.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON shposd.org_id = bo.organization_id
    <where>

      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shposd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and shposd.status = #{status}
      </if>
      <if test="orgId!=null">
        and shposd.org_id=#{orgId}
      </if>
    </where>
    order by shposd.create_time desc
  </select>


</mapper>