<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmInAsnOrderDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmInAsnOrderDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="asn_order_det_id" jdbcType="BIGINT" property="asnOrderDetId"/>
        <result column="asn_order_id" jdbcType="BIGINT" property="asnOrderId"/>
        <result column="core_source_order_code" jdbcType="VARCHAR" property="coreSourceOrderCode"/>
        <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode"/>
        <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId"/>
        <result column="core_source_id" jdbcType="BIGINT" property="coreSourceId"/>
        <result column="source_id" jdbcType="BIGINT" property="sourceId"/>
        <result column="order_det_id" jdbcType="BIGINT" property="orderDetId"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
        <result column="line_number" jdbcType="VARCHAR" property="lineNumber"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="delivery_qty" jdbcType="DECIMAL" property="deliveryQty"/>
        <result column="pallet_code" jdbcType="VARCHAR" property="palletCode"/>
        <result column="receiving_date" jdbcType="TIMESTAMP" property="receivingDate"/>
        <result column="batch_code" jdbcType="VARCHAR" property="batchCode"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmInAsnOrderDetDto">
        <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="order_date" jdbcType="VARCHAR" property="orderDate"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="main_unit" jdbcType="VARCHAR" property="mainUnit"/>
        <result column="order_qty" jdbcType="VARCHAR" property="orderQty"/>
        <result column="total_delivery_qty" jdbcType="VARCHAR" property="totalDeliveryQty"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="createUser_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modifiedUser_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    </resultMap>

    <sql id="BaseColumnList">
        wiaod.asn_order_det_id,
        wiaod.asn_order_id,
        wiaod.core_source_order_code,
        wiaod.source_order_code,
        wiaod.source_order_id,
        wiaod.core_source_id,
        wiaod.source_id,
        wiaod.order_det_id,
        wiaod.inventory_status_id,
        wiaod.line_number,
        wiaod.material_id,
        wiaod.warehouse_id,
        wiaod.storage_id,
        wiaod.pallet_code,
        wiaod.receiving_date,
        wiaod.batch_code,
        wiaod.delivery_qty,
        wiaod.status,
        wiaod.remark,
        wiaod.org_id,
        wiaod.create_user_id,
        wiaod.create_time,
        wiaod.modified_user_id,
        wiaod.modified_time,
        wiaod.is_delete
  </sql>

    <select id="findList" resultMap="BaseResultMapDto">
        select
        <include refid="BaseColumnList"/>,
        opo.purchase_order_code,opod.delivery_date AS order_date,bm.material_code,opod.order_qty AS order_qty,
        bm.material_name,bw.warehouse_name,bm.material_version,bm.material_desc,bmt.main_unit,
        ( SELECT SUM( wiaods.delivery_qty ) FROM wms_in_asn_order_det wiaods WHERE wiaods.source_order_id = opod.purchase_order_det_id ) AS total_delivery_qty,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name,
        bo.organization_name AS organization_Name
        FROM wms_in_asn_order_det wiaod
        LEFT JOIN om_purchase_order_det opod ON wiaod.source_order_id = opod.purchase_order_det_id
        LEFT JOIN om_purchase_order opo ON opod.purchase_order_id = opo.purchase_order_id
        LEFT JOIN base_material bm ON wiaod.material_id = bm.material_id
        LEFT JOIN base_material_tab bmt ON wiaod.material_id = bm.material_id
        LEFT JOIN base_warehouse bw ON wiaod.warehouse_id = bw.warehouse_id
        LEFT JOIN sys_user su ON wiaod.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON wiaod.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wiaod.org_id = bo.organization_id
        <where>
            <if test="asnOrderId !=null and asnOrderId !=''">
                and wiaod.asn_order_id=#{asnOrderId}
            </if>
            <if test="asnOrderDetId !=null and asnOrderDetId!=''">
                and wiaod.asn_order_det_id = #{asnOrderDetId}
            </if>
            <if test="materialCode !=null and materialCode !=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="sourceOrderId !=null and sourceOrderId!=''">
                and wiaod.source_order_id = #{sourceOrderId}
            </if>

        </where>
        group by wiaod.asn_order_det_id
    </select>

</mapper>
