<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmInHtAsnOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.history.SrmInHtAsnOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_asn_order_id" jdbcType="BIGINT" property="htAsnOrderId" />
    <result column="asn_order_id" jdbcType="BIGINT" property="asnOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="asn_code" jdbcType="VARCHAR" property="asnCode" />
    <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
    <result column="related_order_code_1" jdbcType="VARCHAR" property="relatedOrderCode1" />
    <result column="related_order_code_2" jdbcType="VARCHAR" property="relatedOrderCode2" />
    <result column="related_order_code_3" jdbcType="VARCHAR" property="relatedOrderCode3" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="plan_ago_date" jdbcType="TIMESTAMP" property="planAgoDate" />
    <result column="start_receiving_date" jdbcType="TIMESTAMP" property="startReceivingDate" />
    <result column="end_receiving_date" jdbcType="TIMESTAMP" property="endReceivingDate" />
    <result column="deliver_date" jdbcType="TIMESTAMP" property="deliverDate" />
    <result column="shipper_name" jdbcType="VARCHAR" property="shipperName" />
    <result column="shipper_user_id" jdbcType="BIGINT" property="shipperUserId" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="e_mail_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmInHtAsnOrderDto">
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="order_type_name" jdbcType="VARCHAR" property="orderTypeName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="file_url" jdbcType="BIGINT" property="fileUrl"/>
  </resultMap>

  <sql id="BaseColumn">
    wihao.ht_asn_order_id,
    wihao.asn_order_id,
    wihao.source_order_id,
    wihao.material_owner_id,
    wihao.supplier_id,
    wihao.order_type_id,
    wihao.asn_code,
    wihao.warehouse_id,
    wihao.storage_id,
    wihao.customer_order_code,
    wihao.related_order_code_1,
    wihao.related_order_code_2,
    wihao.related_order_code_3,
    wihao.order_date,
    wihao.plan_ago_date,
    wihao.start_receiving_date,
    wihao.end_receiving_date,
    wihao.deliver_date,
    wihao.shipper_name,
    wihao.link_man_name,
    wihao.link_man_phone,
    wihao.fax_number,
    wihao.e_mail_address,
    wihao.detailed_address,
    wihao.descr,
    wihao.order_status,
    wihao.file_id,
    wihao.status,
    wihao.remark,
    wihao.org_id,
    wihao.create_user_id,
    wihao.create_time,
    wihao.modified_user_id,
    wihao.modified_time,
    wihao.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultDto">
    select<include refid="BaseColumn"/>,opo.purchase_order_code,bf.access_url AS file_url,
    bw.warehouse_name,material_owner_name,bs.supplier_name,boy.order_type_name,su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name AS organization_Name
    FROM wms_in_ht_asn_order wihao
    LEFT JOIN om_purchase_order_det opod ON wihao.source_order_id = opod.purchase_order_det_id
    LEFT JOIN om_purchase_order opo ON opod.purchase_order_id = opo.purchase_order_id
    LEFT JOIN base_material_owner bmo ON wihao.material_owner_id=bmo.material_owner_id
    LEFT JOIN base_order_type boy on wihao.order_type_id = boy.order_type_id
    LEFT JOIN base_warehouse bw ON wihao.warehouse_id = bw.warehouse_id
    LEFT JOIN base_supplier bs ON wihao.supplier_id = bs.supplier_id
    LEFT JOIN base_file bf ON wihao.file_id = bf.file_id
    LEFT JOIN sys_user su ON wihao.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON wihao.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wihao.org_id = bo.organization_id
    <where>
      <if test="asnOrderId !=null and asnOrderId !=''">
        and wihao.asn_order_id = #{asnOrderId}
      </if>
      <if test="asnCode!=null and asnCode!=''">
        and wihao.asn_code like CONCAT('%',#{asnCode},'%')
      </if>
      <if test="shipperName!=null and shipperName!=''">
        and wihao.shipper_name like CONCAT('%',#{shipperName},'%')
      </if>
      <if test="materialOwnerName!=null and materialOwnerName!=''">
        and bmo.material_owner_name like CONCAT('%',#{materialOwnerName},'%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wihao.order_date, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null and orgId!=''">
        and wihao.org_id = #{orgId}
      </if>
      <if test="orderTypeId!=null and orderTypeId!=''">
        and wihao.order_type_id = #{orderTypeId}
      </if>
      <if test="orderStatusList != null and orderStatusList.size()>0">
        and wihao.order_status
        <foreach collection="orderStatusList" open="in (" close=")" item="item" separator="," index="index">
          #{item}
        </foreach>
      </if>
      <if test="orderStatus!=null and orderStatus!=''">
        and wihao.order_status = #{orderStatus}
      </if>
      <if test="orderTypeName!=null and orderTypeName!=''">
        and boy.order_type_name = #{orderTypeName}
      </if>
      <if test="orderTypeCode!=null and orderTypeCode!=''">
        and boy.order_type_code = #{orderTypeCode}
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
      </if>
      <choose>
        <when test="supplierIdList!=null and supplierIdList.size > 0">
          and wihao.supplier_id in
          <foreach collection="supplierIdList" item="item" separator="," open="(" close=")">
            #{item.supplierId,jdbcType=BIGINT}
          </foreach>
        </when>
      </choose>
    </where>
    order by wihao.create_time desc
  </select>

</mapper>