<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmPoProductionInfoMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmPoProductionInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="po_production_info_id" jdbcType="BIGINT" property="poProductionInfoId" />
    <result column="purchase_order_id" jdbcType="BIGINT" property="purchaseOrderId" />
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="work_order_qty" jdbcType="DECIMAL" property="workOrderQty" />
    <result column="output_qty" jdbcType="DECIMAL" property="outputQty" />
    <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmPoProductionInfoDto">
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion" />
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    <result column="order_qty" jdbcType="DECIMAL" property="orderQty" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
  </resultMap>

  <sql id="Base_Column_List">
    sppi.po_production_info_id,
    sppi.purchase_order_id,
    sppi.work_order_code,
    sppi.supplier_id,
    sppi.material_id,
    sppi.work_order_qty,
    sppi.output_qty,
    sppi.work_order_status,
    sppi.actual_start_time,
    sppi.actual_end_time,
    sppi.status,
    sppi.remark,
    sppi.org_id,
    sppi.create_user_id,
    sppi.create_time,
    sppi.modified_user_id,
    sppi.modified_time
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map" >
    select <include refid="Base_Column_List"></include>,
        csu.user_name as create_user_name,
        msu.user_name as modified_user_name,
        opo.purchase_order_code,
        bs.supplier_name,
        bm.material_code,
        bm.material_name,
        bm.material_version,
        bm.material_desc,
        opod.order_qty
    from srm_po_production_info sppi
    left join om_purchase_order opo on opo.purchase_order_id = sppi.purchase_order_id
    left join base_material bm on bm.material_id = sppi.material_id
    left join om_purchase_order_det opod on opod.purchase_order_id = opo.purchase_order_id and opod.material_id = sppi.material_id
    left join base_supplier bs on bs.supplier_id = opo.supplier_id
    left join base_supplier_re_user bsru on bsru.supplier_id = opo.supplier_id
    left join sys_user csu on csu.user_id = sppi.create_user_id
    left join sys_user msu on msu.user_id = sppi.modified_user_id
    <where>
      <if test="userId != null">
        and bsru.user_id = #{userId}
      </if>
      <if test="supplierId != null">
        and sppi.supplier_id = #{supplierId}
      </if>
      <if test="purchaseOrderCode != null and purchaseOrderCode != ''">
        and opo.purchase_order_code like CONCAT('%', #{purchaseOrderCode}, '%')
      </if>
      <if test="workOrderCode != null and workOrderCode != ''">
        and sppi.work_order_code like CONCAT('%', #{workOrderCode}, '%')
      </if>
      <if test="supplierName != null and supplierName != ''">
        and bs.supplier_name like CONCAT('%', #{supplierName}, '%')
      </if>
      <if test="materialCode != null and materialCode != ''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialVersion != null and materialVersion != ''">
        and bm.material_version like CONCAT('%', #{materialVersion}, '%')
      </if>
      <if test="materialDesc != null and materialDesc != ''">
        and bm.material_desc like CONCAT('%', #{materialDesc}, '%')
      </if>
      <if test="materialName != null and materialName != ''">
        and bm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="workOrderQty != null ">
        and sppi.work_order_qty = #{workOrderQty}
      </if>
      <if test="outputQty != null">
        and sppi.output_qty = #{outputQty}
      </if>

      <if test="workOrderStatus != null">
        and sppi.work_order_status = #{workOrderStatus}
      </if>
      <if test="orgId != null">
        and sppi.org_id = #{orgId}
      </if>
      <if test="createUserId != null">
        and sppi.create_user_id = #{createUserId}
      </if>
      <if test="modifiedUserId != null">
        and sppi.modified_user_id = #{modifiedUserId}
      </if>
      <if test="status != null">
        and sppi.status = #{status}
      </if>
      <if test="remark != null and remark != ''">
        and sppi.remark like CONCAT('%', #{remark}, '%')
      </if>
      <if test="isDelete != null">
        and sppi.is_delete = #{isDelete}
      </if>
      <if test="actualStartTimeStart != null and actualStartTimeStart != '' and actualStartTimeEnd != null and actualStartTimeEnd != ''">
        and date_format(sppi.actual_start_time, '%Y-%m-%d') between #{actualStartTimeStart} and #{actualStartTimeEnd}
      </if>
      <if test="actualEndTimeStart != null and actualEndTimeStart != '' and actualEndTimeEnd != null and actualEndTimeEnd != ''">
        and date_format(sppi.actual_end_time, '%Y-%m-%d') between #{actualEndTimeStart} and #{actualEndTimeEnd}
      </if>
      <if test="modifiedTimeStart != null and modifiedTimeStart != '' and modifiedTimeEnd != null and modifiedTimeEnd != ''">
        and date_format(sppi.modified_time, '%Y-%m-%d') between #{modifiedTimeStart} and #{modifiedTimeEnd}
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(sppi.create_time, '%Y-%m-%d') between #{startTime} and #{endTime}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    group by sppi.po_production_info_id
    order by sppi.create_time desc
  </select>


</mapper>
