<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.srm.mapper.SrmPlanDeliveryOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.srm.SrmPlanDeliveryOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plan_delivery_order_id" jdbcType="BIGINT" property="planDeliveryOrderId" />
    <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="corSourceSysOrderTypeCode"/>
    <result column="source_sys_order_type_code" jdbcType="VARCHAR" property="sourceSysOrderTypeCode"/>
    <result column="plan_delivery_order_code" jdbcType="VARCHAR" property="planDeliveryOrderCode" />
    <result column="sys_order_type_code" jdbcType="VARCHAR" property="sysOrderTypeCode" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.srm.SrmPlanDeliveryOrderDto">
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
  </resultMap>

  <sql id="Base_Column_List">
    spdo.plan_delivery_order_id,
    spdo.core_source_sys_order_type_code,
    spdo.source_sys_order_type_code,
    spdo.plan_delivery_order_code,
    spdo.sys_order_type_code,
    spdo.supplier_id,
    spdo.order_status,
    spdo.status,
    spdo.remark,
    spdo.org_id,
    spdo.create_user_id,
    spdo.create_time,
    spdo.modified_user_id,
    spdo.modified_time
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map" >
    select
      <include refid="Base_Column_List"></include>,
      bs.supplier_name,
      csu.user_name as create_user_name,
      msu.user_name as modified_user_name
    from srm_plan_delivery_order spdo
    left join base_supplier bs on bs.supplier_id = spdo.supplier_id
    left join sys_user csu on csu.user_id = spdo.create_user_id
    left join sys_user msu on msu.user_id = spdo.modified_user_id
    <where>
      <if test="supplierId != null">
        and spdo.supplier_id = #{supplierId} and spdo.order_status = 2
      </if>
      <if test="query != null and query.planDeliveryOrderCode != null">
        ${query.planDeliveryOrderCode.joinQuery} spdo.plan_delivery_order_code ${query.planDeliveryOrderCode.sql}
      </if>
      <if test="query != null and query.orderStatus != null ">
        ${query.orderStatus.joinQuery} spdo.order_status ${query.orderStatus.sql}
      </if>
      <if test="query != null and query.supplierName != null">
        ${query.supplierName.joinQuery} bs.supplier_name ${query.supplierName.sql}
      </if>
      <if test="query != null and query.status != null ">
        ${query.status.joinQuery} spdo.status ${query.status.sql}
      </if>
      <if test="query != null and query.isDelete != null ">
        ${query.isDelete.joinQuery} spdo.is_delete ${query.isDelete.sql}
      </if>
      <if test="orgId != null">
        and spdo.org_id = #{orgId}
      </if>
      <if test="query != null and query.createUserId != null">
        ${query.createUserId.joinQuery} spdo.create_user_id ${query.createUserId.sql}
      </if>
      <if test="query != null and query.modifiedUserId != null">
        ${query.modifiedUserId.joinQuery} spdo.modified_user_id ${query.modifiedUserId.sql}
      </if>
      <if test="query != null and query.remark != null">
        ${query.remark.joinQuery} spdo.remark ${query.remark.sql}
      </if>
      <if test="query != null and query.modifiedTime != null">
        ${query.modifiedTime.joinQuery} date_format(spdo.modified_time, '%Y-%m-%d') ${query.modifiedTime.sql}
      </if>
      <if test="query != null and query.createTime != null ">
        ${query.createTime.joinQuery} date_format(spdo.create_time, '%Y-%m-%d') ${query.createTime.sql}
      </if>
    </where>
    order by spdo.create_time desc
  </select>


</mapper>
