server:
  port: 8763
  max-http-header-size: 10000000

spring:
  profiles:
    active: dev
  application:
    name: @pom.artifactId@
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB


fdfs:
  so-timeout: 1501
  connect-timeout: 601
  thumb-image:             #缩略图生成参数
    width: 150
    height: 150
  tracker-list: 10.5.2.91:22122


baidubce:
    grant_type: client_credentials
    client_id: PdVKjgrCFE5wKDV2UaeO0CEO
    client_secret: x9x1fIKVYorAUHdH1H4ffIZj59ecquqF
    oauth_url: https://aip.baidubce.com/oauth/2.0/token
    rimage_process_url: https://aip.baidubce.com/rest/2.0/image-process/v1/style_trans
