<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.auth.mapper.SysApiLogMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.SysApiLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="api_log_id" jdbcType="BIGINT" property="apiLogId" />
    <result column="thirdparty_sys_name" jdbcType="VARCHAR" property="thirdpartySysName" />
    <result column="call_result" jdbcType="TINYINT" property="callResult" />
    <result column="call_type" jdbcType="TINYINT" property="callType" />
    <result column="api_module" jdbcType="VARCHAR" property="apiModule" />
    <result column="thirdparty_api_ip_port" jdbcType="VARCHAR" property="thirdpartyApiIpPort" />
    <result column="api_url" jdbcType="VARCHAR" property="apiUrl" />
    <result column="consume_time" jdbcType="DECIMAL" property="consumeTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="response_time" jdbcType="TIMESTAMP" property="responseTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="response_data" jdbcType="LONGVARCHAR" property="responseData" />
    <result column="request_parameter" jdbcType="LONGVARCHAR" property="requestParameter" />
  </resultMap>

  <resultMap id="BaseResultDtoMap" extends="BaseResultMap" type="com.fantechs.common.base.dto.security.SysApiLogDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    sal.api_log_id,
    sal.thirdparty_sys_name,
    sal.call_result,
    sal.call_type,
    sal.api_module,
    sal.thirdparty_api_ip_port,
    sal.api_url,
    sal.consume_time,
    sal.status,
    sal.remark,
    sal.org_id,
    sal.request_time,
    sal.response_time,
    sal.create_user_id,
    sal.create_time,
    sal.modified_user_id,
    sal.modified_time,
    sal.response_data,
    sal.request_parameter
  </sql>

  <select id="findList" resultMap="BaseResultDtoMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"/>, su.user_name AS create_user_name
    FROM
      sys_api_log sal
        LEFT JOIN sys_user su ON sal.create_user_id = su.user_id
    <where>
      <if test="orgId!=null and orgId!=''">
        and sal.org_id = #{orgId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sal.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="callResult!=null and callResult!=''">
        and sal.call_result = #{callResult}
      </if>
      <if test="apiUrl!=null and apiUrl!=''">
        and sal.api_url like CONCAT('%',#{apiUrl},'%')
      </if>
      <if test="requestParameter!=null and requestParameter!=''">
        and sal.request_parameter like CONCAT('%',#{requestParameter},'%')
      </if>
      <if test="responseData!=null and responseData!=''">
        and sal.response_data like CONCAT('%',#{responseData},'%')
      </if>
      <if test="apiModule!=null and apiModule!=''">
        and sal.api_module like CONCAT('%',#{apiModule},'%')
      </if>
    </where>
  </select>
</mapper>