<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.auth.mapper.SysDefaultCustomFormMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.security.SysDefaultCustomForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="custom_form_id" jdbcType="BIGINT" property="customFormId" />
    <result column="custom_form_code" jdbcType="VARCHAR" property="customFormCode" />
    <result column="custom_form_name" jdbcType="VARCHAR" property="customFormName" />
    <result column="sub_id" jdbcType="BIGINT" property="subId" />
    <result column="from_rout" jdbcType="VARCHAR" property="fromRout" />
    <result column="item_width" jdbcType="VARCHAR" property="itemWidth" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.security.SysDefaultCustomFormDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="sub_code" jdbcType="VARCHAR" property="subCode" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <collection property="formDets" ofType="com.fantechs.common.base.general.dto.security.SysDefaultCustomFormDetDto"
                column="{customFormId=custom_form_id}" select="com.fantechs.auth.mapper.SysDefaultCustomFormDetMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    dcf.custom_form_id,dcf.custom_form_code,dcf.custom_form_name,
    dcf.sub_id,dcf.from_rout,dcf.`status`,dcf.create_user_id,
    dcf.create_time,dcf.modified_user_id,dcf.modified_time,dcf.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select
    <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name
    ,sdcf.custom_form_name AS sub_name,sdcf.custom_form_code AS sub_code
    from sys_default_custom_form dcf
    LEFT JOIN sys_user su ON dcf.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON dcf.modified_user_id = sus.user_id
    LEFT JOIN sys_default_custom_form sdcf on dcf.sub_id = sdcf.custom_form_id
    <where>
      <if test="customFormId!=null and customFormId!=''">
        and dcf.custom_form_id=#{customFormId}
      </if>
      <if test="customFormCode!=null and customFormCode!=''">
        and dcf.custom_form_code=#{customFormCode}
      </if>
      <if test="customFormName!=null and customFormName!=''">
        and dcf.custom_form_name like CONCAT('%',#{customFormName},'%')
      </if>
      <if test="fromRout!=null and fromRout!=''">
        and dcf.from_rout=#{fromRout}
      </if>
      <if test="status!=null">
        and dcf.status=#{status}
      </if>
      <if test="orgId!=null">
        and dcf.org_id=#{orgId}
      </if>
    </where>
  </select>

</mapper>