<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.auth.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.security.SysRole">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.dto.security.SysRoleDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>

  <sql id="Base_Column_List">
    role_id, role_code, role_name, role_desc, create_user_id, create_time, modified_user_id,
    modified_time, status, is_delete
  </sql>

  <select id="findRolesByUserId" parameterType="java.lang.Long" resultType="com.fantechs.common.base.entity.security.SysRole">
    SELECT r.role_id AS roleId FROM `sys_role` r
    INNER JOIN `sys_user_role` ur ON r.`role_id`=ur.`role_id` AND ur.`user_id`=#{userId}
  </select>

  <select id="selectRoles" parameterType="com.fantechs.common.base.entity.security.search.SearchSysRole" resultMap="BaseResultMapDto">
    select sr.role_id, sr.role_code, sr.role_name, sr.role_desc, sr.create_user_id, u.user_name as create_user_name,
    sr.create_time, sr.modified_user_id, s.user_name as modified_user_name,
    sr.modified_time
    from sys_role sr
    <if test="searchType==1 and userId!=null">
        LEFT JOIN sys_user_role sur ON sur.role_id = sr.role_id
    </if>
    left join sys_user u on sr.create_user_id=u.user_id
    left join sys_user s on sr.modified_user_id=s.user_id
    <where>
      1=1
      <if test="roleName!=null and roleName!=''">
        and sr.role_name like CONCAT('%', #{roleName}, '%')
      </if>
      <if test="roleDesc!=null and roleDesc!=''">
        and sr.role_desc like CONCAT('%', #{roleDesc}, '%')
      </if>
      <if test="status!=null">
        and sr.status=#{status}
      </if>
      <if test="searchType==1 and userId!=null">
        and sur.user_id =#{userId}
      </if>
       <if test="roleCode!=null and roleCode!=''">
        and sr.role_code=#{roleCode}
       </if>
    </where>
  </select>

  <select id="findMenuRoles" resultMap="BaseResultMapDto" parameterType="list">
    select sr.role_id,sr.role_code, sr.role_name, sr.role_desc, sr.create_user_id, sr.create_time, sr.modified_user_id,
    sr.modified_time,sr.status, sr.is_delete,sar.menu_id
    from sys_auth_role sar
    left join sys_role sr on sar.role_id = sr.role_id
    <where>
      <foreach collection="list" item="item" open="sar.role_id in (" close=")" separator="," >
        #{item}
      </foreach>
    </where>
    group by sar.menu_id
  </select>

  <select id="findByUserName" parameterType="com.fantechs.common.base.entity.security.search.SearchSysRole" resultMap="BaseResultMapDto">
    select sr.role_id, sr.role_code, sr.role_name, sr.role_desc, sr.create_user_id, u.user_name as create_user_name,
    sr.create_time, sr.modified_user_id, s.user_name as modified_user_name,
    sr.modified_time
    from sys_role sr
    left join sys_user u on sr.create_user_id=u.user_id
    left join sys_user s on sr.modified_user_id=s.user_id
    left join sys_user_role sur on sr.role_id=sur.role_id
    left join sys_user su on sur.user_id=su.user_id
    <where>
      1=1
      <if test="userName!=null and userName!=''">
        and su.user_name=#{userName}
      </if>
      <if test="userName!=null and userName!=''">
        and su.user_name=#{userName}
      </if>
      <if test="status!=null">
        and sr.status=#{status}
      </if>
    </where>
  </select>

  <select id="findByMeunId" resultMap="BaseResultMapDto" parameterType="list">
    select sr.* from sys_auth_role sar
    left join sys_role sr on sr.role_id = sar.role_id
    where sar.menu_id = #{menuId}
  </select>

  <select id="findByRoleId" resultMap="BaseResultMapDto" parameterType="map">
    SELECT
      sr.role_id,
      sr.role_code,
      sr.role_name,
      sr.role_desc,
      sr.create_user_id,
      sr.create_time,
      sr.modified_user_id,
      sr.modified_time,
      sr.STATUS,
      sr.is_delete,
      sm.menu_id
  FROM sys_menuinfo sm
  left join sys_auth_role sar on sar.menu_id = sm.menu_id and sar.role_id = #{roleId}
  left join sys_role sr on sr.role_id = sar.role_id
  </select>

  <select id="findSysRoleList" resultMap="BaseResultMap">
    select sr.role_id,
           sr.role_code,
           sr.role_name,
           sr.role_desc,
           sr.create_user_id,
           sr.create_time,
           sr.modified_user_id,
           sr.modified_time,
           sr.status,
           sr.is_delete,
           sar.menu_id as menuId
    from sys_role sr
    inner join sys_auth_role sar on sar.role_id = sr.role_id
    where sr.role_id in (
            select sur.role_id
            from sys_user su
            inner join sys_user_role sur on sur.user_id = su.user_id
            where su.user_id = #{userId}
              and su.is_delete = 1
            )
      and sr.is_delete = 1
  </select>

</mapper>
