<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.tem.mapper.TemVehicleMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.tem.TemVehicle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="vehicle_code" jdbcType="VARCHAR" property="vehicleCode" />
    <result column="vehicle_name" jdbcType="VARCHAR" property="vehicleName" />
    <result column="standard_capacity" jdbcType="DECIMAL" property="standardCapacity" />
    <result column="agv_task_template" jdbcType="VARCHAR" property="agvTaskTemplate" />
    <result column="agv_task_template_second" jdbcType="VARCHAR" property="agvTaskTemplateSecond" />
    <result column="storage_task_point_id" jdbcType="BIGINT" property="storageTaskPointId" />
    <result column="vehicle_status" jdbcType="TINYINT" property="vehicleStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    tv.vehicle_id, tv.vehicle_code, tv.vehicle_name, tv.standard_capacity, tv.agv_task_template, tv.agv_task_template_second,
    tv.storage_task_point_id, tv.vehicle_status, tv.status, tv.remark, tv.org_id, tv.create_user_id, tv.create_time, tv.modified_user_id, tv.modified_time
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.tem.TemVehicleDto">

  </resultMap>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    suc.user_code as createUserCode,
    sum.user_code as modifiedUserCode,
    bstp.task_point_code as taskPointCode, bstp.task_point_name as taskPointName, bstp.xyz_code as xyzCode,
    bw.warehouse_code as warehouseCode, bw.warehouse_name as warehouseName,
    bwha.warehouse_area_code as warehouseAreaCode, bwha.warehouse_area_name as warehouseAreaName,
    bwa.working_area_code as working_area_code,
    bs.storage_code as storageCode, bs.storage_name as storageName
    from tem_vehicle tv
    LEFT JOIN sys_user suc ON tv.create_user_id = suc.user_id
    LEFT JOIN sys_user sum ON tv.modified_user_id = sum.user_id
    LEFT JOIN base_storage_task_point bstp ON tv.storage_task_point_id = bstp.storage_task_point_id
    LEFT JOIN base_storage bs ON bstp.storage_id = bs.storage_id
    LEFT JOIN base_warehouse bw ON bs.warehouse_id = bw.warehouse_id
    LEFT JOIN base_warehouse_area bwha ON bs.warehouse_area_id = bwha.warehouse_area_id
    LEFT JOIN base_working_area bwa ON bs.working_area_id = bwa.working_area_id
    <where>
      <if test="vehicleCode != null and vehicleCode != ''">
        and tv.vehicle_code like CONCAT('%', #{vehicleCode}, '%')
      </if>
      <if test="vehicleName != null and vehicleName != ''">
        and tv.vehicle_name like CONCAT('%', #{vehicleName}, '%')
      </if>
      <if test="remark != null and remark != ''">
        and tv.remark like CONCAT('%', #{remark}, '%')
      </if>
      <if test="vehicleStatus != null">
        and tv.vehicle_status = #{vehicleStatus}
      </if>
      <if test="warehouseAreaId != null">
        and bwha.warehouse_area_id = #{warehouseAreaId}
      </if>
      <if test="workingAreaId != null">
        and bwa.working_area_id = #{workingAreaId}
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and tv.create_time between #{startTime} and #{endTime}
      </if>
      <if test="orgId != null">
        and tv.org_id = #{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
  </select>
</mapper>
