<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.leisai.mapper.LeisaiProductAndHalfOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.leisai.LeisaiProductAndHalfOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_and_half_order_id" jdbcType="BIGINT" property="productAndHalfOrderId" />
    <result column="product_and_half_order_code" jdbcType="VARCHAR" property="productAndHalfOrderCode" />
    <result column="scan_sn" jdbcType="VARCHAR" property="scanSn" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
    <result column="product_material_code" jdbcType="VARCHAR" property="productMaterialCode" />
    <result column="product_material_desc" jdbcType="VARCHAR" property="productMaterialDesc" />
    <result column="half_product_sn" jdbcType="VARCHAR" property="halfProductSn" />
    <result column="outsource_order_code" jdbcType="VARCHAR" property="outsourceOrderCode" />
    <result column="ipqc_inspection_time" jdbcType="TIMESTAMP" property="ipqcInspectionTime" />
    <result column="half_product_material_code" jdbcType="VARCHAR" property="halfProductMaterialCode" />
    <result column="half_product_material_desc" jdbcType="VARCHAR" property="halfProductMaterialDesc" />
    <result column="recorder" jdbcType="VARCHAR" property="recorder" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.leisai.LeisaiProductAndHalfOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>


  <sql id="Base_Column_List">
    lpaho.product_and_half_order_id,
    lpaho.product_and_half_order_code,
    lpaho.scan_sn,
    lpaho.product_sn,
    lpaho.work_order_code,
    lpaho.product_material_code,
    lpaho.product_material_desc,
    lpaho.half_product_sn,
    lpaho.outsource_order_code,
    lpaho.ipqc_inspection_time,
    lpaho.half_product_material_code,
    lpaho.half_product_material_desc,
    lpaho.recorder,
    lpaho.qty,
    lpaho.status,
    lpaho.remark,
    lpaho.org_id,
    lpaho.create_user_id,
    lpaho.create_time,
    lpaho.modified_user_id,
    lpaho.modified_time,
    lpaho.is_delete,
    lpaho.option1,
    lpaho.option2,
    lpaho.option3
  </sql>


  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name
    from leisai_product_and_half_order lpaho
    left join sys_user u on lpaho.create_user_id=u.user_id
    left join sys_user s on lpaho.modified_user_id=s.user_id
    <where>
      <if test="recorder != null and recorder!=''">
        and lpaho.recorder like CONCAT('%', #{recorder}, '%')
      </if>
      <if test="productAndHalfOrderCode != null and productAndHalfOrderCode!=''">
        and lpaho.product_and_half_order_code = #{productAndHalfOrderCode}
      </if>
      <if test="workOrderCode != null and workOrderCode!=''">
        and lpaho.work_order_code = #{workOrderCode}
      </if>
      <if test="productSn != null and productSn!=''">
        and lpaho.product_sn = #{productSn}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(lpaho.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and lpaho.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by lpaho.create_time desc
  </select>

</mapper>
