<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.leisai.mapper.LeisaiHtProductAndHalfOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.leisai.history.LeisaiHtProductAndHalfOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_product_and_half_order_id" jdbcType="BIGINT" property="htProductAndHalfOrderId" />
    <result column="product_and_half_order_id" jdbcType="BIGINT" property="productAndHalfOrderId" />
    <result column="product_and_half_order_code" jdbcType="VARCHAR" property="productAndHalfOrderCode" />
    <result column="scan_sn" jdbcType="VARCHAR" property="scanSn" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
    <result column="product_material_code" jdbcType="VARCHAR" property="productMaterialCode" />
    <result column="product_material_desc" jdbcType="VARCHAR" property="productMaterialDesc" />
    <result column="half_product_sn" jdbcType="VARCHAR" property="halfProductSn" />
    <result column="outsource_order_code" jdbcType="VARCHAR" property="outsourceOrderCode" />
    <result column="ipqc_inspection_time" jdbcType="TIMESTAMP" property="ipqcInspectionTime" />
    <result column="half_product_material_code" jdbcType="VARCHAR" property="halfProductMaterialCode" />
    <result column="half_product_material_desc" jdbcType="VARCHAR" property="halfProductMaterialDesc" />
    <result column="recorder" jdbcType="VARCHAR" property="recorder" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <sql id="Base_Column_List">
    lhpaho.ht_product_and_half_order_id,
    lhpaho.product_and_half_order_id,
    lhpaho.product_and_half_order_code,
    lhpaho.scan_sn,
    lhpaho.product_sn,
    lhpaho.work_order_code,
    lhpaho.product_material_code,
    lhpaho.product_material_desc,
    lhpaho.half_product_sn,
    lhpaho.outsource_order_code,
    lhpaho.ipqc_inspection_time,
    lhpaho.half_product_material_code,
    lhpaho.half_product_material_desc,
    lhpaho.recorder,
    lhpaho.qty,
    lhpaho.status,
    lhpaho.remark,
    lhpaho.org_id,
    lhpaho.create_user_id,
    lhpaho.create_time,
    lhpaho.modified_user_id,
    lhpaho.modified_time,
    lhpaho.is_delete,
    lhpaho.option1,
    lhpaho.option2,
    lhpaho.option3
  </sql>


  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name
    from leisai_ht_product_and_half_order lhpaho
    left join ocean_v2.sys_user u on lhpaho.create_user_id=u.user_id
    left join ocean_v2.sys_user s on lhpaho.modified_user_id=s.user_id
    <where>
      <if test="recorder != null and recorder!=''">
        and lhpaho.recorder like CONCAT('%', #{recorder}, '%')
      </if>
      <if test="processInputOrderCode != null and processInputOrderCode!=''">
        and lhpaho.process_input_order_code = #{processInputOrderCode}
      </if>
      <if test="workOrderCode != null and workOrderCode!=''">
        and lhpaho.work_order_code = #{workOrderCode}
      </if>
      <if test="productSn != null and productSn!=''">
        and lhpaho.product_sn = #{productSn}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(lhpaho.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and lhpaho.org_id=#{orgId}
      </if>

    </where>
    order by lhpaho.create_time desc
  </select>

</mapper>