<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseProductModelMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProductModel">
        <id column="product_model_id" jdbcType="BIGINT" property="productModelId"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="product_model_desc" jdbcType="VARCHAR" property="productModelDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="product_family_id" jdbcType="VARCHAR" property="productFamilyId"/>
        <result column="product_family_code" jdbcType="VARCHAR" property="productFamilyCode"/>
        <result column="product_family_name" jdbcType="VARCHAR" property="productFamilyName"/>
        <result column="product_family_desc" jdbcType="VARCHAR" property="productFamilyDesc"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        spm.product_model_id,
        spm.product_model_code,
        spm.product_model_name,
        spm.product_model_desc,
        spm.product_family_id,
        spm.status,
        spm.create_user_id,
        spm.create_time,
        spm.modified_user_id,
        spm.modified_time,
        spm.is_delete,
        spm.option1,
        spm.option2,
        spm.option3,
        spm.org_id,
        spm.remark
    </sql>

    <select id="selectProductModels" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        bpf.product_family_code, bpf.product_family_name, bpf.product_family_desc,
        u.user_name as create_user_name, s.user_name as modified_user_name,
        bo.organization_name
        from base_product_model spm
        left join sys_user u on spm.create_user_id=u.user_id
        left join sys_user s on spm.modified_user_id=s.user_id
        left join base_product_family bpf on spm.product_family_id = bpf.product_family_id
        LEFT JOIN base_organization bo ON spm.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(spm.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="productModelCode!=null and productModelCode!=''">
                and spm.product_model_code like CONCAT('%', #{productModelCode}, '%')
            </if>
            <if test="productModelDesc!=null and productModelDesc!=''">
                and spm.product_model_desc like CONCAT('%', #{productModelDesc}, '%')
            </if>
            <if test="productModelName!=null and productModelName!=''">
                and spm.product_model_name like CONCAT('%', #{productModelName}, '%')
            </if>
            <if test="productFamilyName!=null and productFamilyName!=''">
                and bpf.product_family_name like CONCAT('%', #{productFamilyName}, '%')
            </if>
            <if test="status!=null">
                and spm.status=#{status}
            </if>
            <if test="orgId!=null">
                and spm.org_id=#{orgId}
            </if>
            <!-- 全表单查询 -->
            <if test="query != null">
                and #FULL_FROM_QUERY
            </if>
        </where>
        order by spm.create_time desc
    </select>
</mapper>
