<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtPackageSpecificationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtPackageSpecification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_package_specification_id" jdbcType="BIGINT" property="htPackageSpecificationId" />
    <result column="package_specification_id" jdbcType="BIGINT" property="packageSpecificationId" />
    <result column="package_specification_code" jdbcType="VARCHAR" property="packageSpecificationCode" />
    <result column="package_specification_name" jdbcType="VARCHAR" property="packageSpecificationName" />
    <result column="package_specification_desc" jdbcType="VARCHAR" property="packageSpecificationDesc" />
    <result column="package_specification_quantity" jdbcType="DECIMAL" property="packageSpecificationQuantity" />
<!--    <result column="material_id" jdbcType="BIGINT" property="materialId" />-->
<!--    <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId" />-->
<!--    <result column="packing_unit_id" jdbcType="BIGINT" property="packingUnitId" />-->
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
<!--    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />-->
<!--    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />-->
<!--    <result column="material_version" jdbcType="VARCHAR" property="materialVersion" />-->
<!--    <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRule" />-->
<!--    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />-->
<!--    <result column="packing_unit_desc" jdbcType="VARCHAR" property="packingUnitDesc" />-->
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    shps.ht_package_specification_id,
    shps.package_specification_id,
    shps.package_specification_code,
    shps.package_specification_name,
    shps.package_specification_desc,
    shps.package_specification_quantity,
    shps.status,
    shps.create_user_id,
    shps.create_time,
    shps.modified_user_id,
    shps.modified_time,
    shps.is_delete,
    shps.option1,
    shps.option2,
    shps.option3,
    shps.org_id,
    shps.remark
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />,
     su.user_name AS create_user_name, sus.user_name AS modified_user_name,
      bo.organization_name
    from base_ht_package_specification shps
    LEFT JOIN sys_user su  ON shps.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON shps.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON shps.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(shps.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="packageSpecificationCode != null and packageSpecificationCode != ''">
        and shps.package_specification_code like CONCAT('%', #{packageSpecificationCode}, '%')
      </if>
      <if test="packageSpecificationName != null and packageSpecificationName != ''">
        and  shps.package_specification_name like CONCAT('%', #{packageSpecificationName}, '%')
      </if>
      <if test="packageSpecificationDesc != null and packageSpecificationDesc != ''">
        and shps.package_specification_desc like CONCAT('%', #{packageSpecificationDesc}, '%')
      </if>
        <if test="orgId!=null">
            and shps.org_id=#{orgId}
        </if>
    </where>
    order by shps.modified_time desc
  </select>
</mapper>
