<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSamplePlanAqlMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSamplePlanAql">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sample_plan_aql_id" jdbcType="BIGINT" property="samplePlanAqlId" />
    <result column="inspection_rigor_level" jdbcType="TINYINT" property="inspectionRigorLevel" />
    <result column="aql_value" jdbcType="DECIMAL" property="aqlValue" />
    <result column="sample_plan_id" jdbcType="BIGINT" property="samplePlanId" />
    <result column="sample_type" jdbcType="BIGINT" property="sampleType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.basic.BaseSamplePlanAcReDto"
                column="{samplePlanAqlId=sample_plan_aql_id}" select="com.fantechs.provider.base.mapper.BaseSamplePlanAcReMapper.findList">

    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.basic.BaseSamplePlanAqlDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bspa.sample_plan_aql_id,
	bspa.inspection_rigor_level,
	bspa.aql_value,
	bspa.sample_plan_id,
	bspa.sample_type,
	bspa.org_id,
	bspa.remark,
	bspa.`status`,
	bspa.create_user_id,
	bspa.create_time,
	bspa.modified_user_id,
	bspa.modified_time,
	bspa.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    FROM base_sample_plan_aql AS bspa
    LEFT JOIN sys_user su ON bspa.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bspa.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bspa.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(bspa.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="inspectionRigorLevel != null and inspectionRigorLevel!=''">
        and bspa.inspection_rigor_level like CONCAT('%', #{inspectionRigorLevel}, '%')
      </if>
      <if test="aqlValue != null and aqlValue!=''">
        and bspa.aql_value =  #{aqlValue}
      </if>
      <if test="samplePlanAqlId != null and samplePlanAqlId!=''">
        and bspa.sample_plan_aql_id = #{samplePlanAqlId}
      </if>
      <if test="samplePlanId != null and samplePlanId!=''">
        and bspa.sample_plan_id = #{samplePlanId}
      </if>
      <if test="orgId!=null">
        and bspa.org_id=#{orgId}
      </if>
    </where>
    order by bspa.create_time desc
  </select>

</mapper>
