<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseBarCodeMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseBarCode">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="bar_code_id" jdbcType="BIGINT" property="barCodeId"/>
        <result column="bar_code_type" jdbcType="TINYINT" property="barCodeType"/>
        <result column="work_order_id" jdbcType="BIGINT" property="workOrderId"/>
        <result column="label_material_id" jdbcType="BIGINT" property="labelMaterialId"/>
        <result column="print_quantity" jdbcType="INTEGER" property="printQuantity"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseBarCodeDto">
        <!--    <result column="label_category_id" jdbcType="BIGINT" property="labelCategoryId"/>-->
        <result column="print_mode" jdbcType="VARCHAR" property="printMode"/>
        <result column="save_path" jdbcType="VARCHAR" property="savePath"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    </resultMap>

    <resultMap id="BaseResultMapWorkDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseBarCodeWorkDto">
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="work_order_quantity" jdbcType="DECIMAL" property="workOrderQuantity"/>
        <result column="production_quantity" jdbcType="DECIMAL" property="productionQuantity"/>
        <result column="output_quantity" jdbcType="DECIMAL" property="outputQuantity"/>
        <result column="scheduled_quantity" jdbcType="DECIMAL" property="scheduledQuantity"/>
        <result column="work_order_status" jdbcType="TINYINT" property="workOrderStatus"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="work_order_type" jdbcType="TINYINT" property="workOrderType"/>
        <result column="planned_start_time" jdbcType="TIMESTAMP" property="plannedStartTime"/>
        <result column="planned_end_time" jdbcType="TIMESTAMP" property="plannedEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRuleCode"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
    </resultMap>
    <sql id="Base_Column_List">
    bc.bar_code_id,
    bc.bar_code_type,
    bc.work_order_id,
    bc.label_material_id,
    bc.print_quantity,
    bc.org_id,
	bc.remark,
    bc.status,
    bc.create_user_id,
    bc.create_time,
    bc.modified_user_id,
    bc.modified_time,
    bc.is_delete,
  </sql>
    <select id="sel_work_order" resultMap="BaseResultMapWorkDto">
    select
        swo.work_order_id,swo.work_order_code,swo.order_id,swo.material_id,sm.material_code,sm.material_name,sm.material_version,sm.material_desc,bt.transfer_quantity,
        swo.work_order_quantity,swo.production_quantity,swo.output_quantity,swo.scheduled_quantity,swo.work_order_status,swo.pro_line_id,spl.pro_name,swo.route_id,sr.route_name,
        swo.work_order_type,swo.planned_start_time,swo.planned_end_time,swo.actual_start_time,swo.actual_end_time,so.order_code, swo.is_delete,
        swo.contract_no,bt.color,spm.product_model_name,br.barcode_rule_id,br.barcode_rule
        <if test="barCodeType==2">
            ,wobp.work_order_card_id as barcode
        </if>
        from fantech_imes_v2.smt_work_order swo
        left join fantech_imes_v2.base_material sm on swo.material_id=sm.material_id
        LEFT JOIN base_material_tab bt on bt.material_id = sm.material_id
        left join base_product_model spm on spm.product_model_id = bt.product_model_id
        left join fantech_imes_v2.base_route sr on swo.route_id=sr.route_id
        left join fantech_imes_v2.base_pro_line spl on swo.pro_line_id=spl.pro_line_id
        <if test="barCodeType==1">
            left join fantech_imes_v2.base_barcode_rule_set_det wobp on wobp.barcode_rule_set_id = swo.barcode_rule_set_id
			LEFT JOIN base_barcode_rule br ON wobp.barcode_rule_id = br.barcode_rule_id
        </if>
        <if test="barCodeType==2">
            LEFT JOIN base_work_order_card_pool wobp ON sw.work_order_id = wobp.work_order_id
        </if>
        left join base_order so on so.order_id = swo.order_id
        <where>
        <if test="workOrderCode!=null and workOrderCode!=''">
                and swo.work_order_code = #{workOrderCode}
            </if>
            <if test="labelName!=null and labelName!=''">
                and bl.label_name =#{labelName}
            </if>
            <if test="printMode!=null and printMode!=''">
                and bl.print_mode = #{printMode}
            </if>
            <if test="savePath!=null and savePath!=''">
                and bl.save_path =#{savePath}
            </if>
            <if test="barCodeType==1">
                and br.barcode_rule_category_id=1
            </if>
        </where>
    </select>
    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        SELECT<include refid="Base_Column_List"/>bl.print_mode,bl.save_path,su.user_name as
        create_user_name,sus.user_name as modified_user_name, bo.organization_name
        FROM base_bar_code bc
        LEFT JOIN bcm_label_material blm ON bc.label_material_id = blm.label_material_id
        LEFT JOIN bcm_label bl ON blm.label_id = bl.label_id
        LEFT JOIN base_work_order sw on bc.work_order_id = sw.work_order_id
        LEFT JOIN ocean_v2.sys_user su ON bl.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON bl.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON bc.org_id = bo.organization_id
        <where>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and sw.work_order_code = #{workOrderCode}
            </if>
            <if test="labelName!=null and labelName!=''">
                and bl.label_name =#{labelName}
            </if>
            <if test="printMode!=null and printMode!=''">
                and bl.print_mode = #{printMode}
            </if>
            <if test="savePath!=null and savePath!=''">
                and bl.save_path =#{savePath}
            </if>
            <if test="barCodeType!=null">
                and bc.bar_code_type = #{barCodeType}
            </if>
            <if test="orgId!=null">
                and bc.org_id=#{orgId}
            </if>
        </where>
    </select>

    <select id="selMaxCode" resultType="java.lang.String">
    SELECT bar_code_content FROM bcm_bar_code_det
				WHERE bar_code_det_id = (SELECT Max(bcd.bar_code_det_id) FROM bcm_bar_code_det bcd
				LEFT JOIN bcm_bar_code bc ON bcd.bar_code_id = bc.bar_code_id
				WHERE bc.work_order_id=#{workOrderId})
</select>
    <select id="reprintList" resultMap="BaseResultMapWorkDto">
    SELECT bc.bar_code_id,swo.work_order_code,bc.print_quantity FROM bcm_bar_code bc
                    LEFT JOIN base_work_order swo ON swo.work_order_id = bc.work_order_id
                    <where>
                    bc.status=2
                    <if test="workOrderId != null and workOrderId != ''">
                    and swo.work_order_id = #{workOrderId}
</if>

</where>
    </select>
</mapper>