<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BasePlatformMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BasePlatform">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="platform_id" jdbcType="BIGINT" property="platformId" />
    <result column="platform_code" jdbcType="VARCHAR" property="platformCode" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bp.platform_id,
    bp.platform_code,
    bp.platform_name,
    bp.`status`,
    bp.remark,
    bp.org_id,
    bp.create_user_id,
    bp.create_time,
    bp.modified_user_id,
    bp.modified_time,
    bp.is_delete,
    bp.option1,
    bp.option2,
    bp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from base_platform bp
    left join sys_user u on bp.create_user_id=u.user_id
    left join sys_user s on bp.modified_user_id=s.user_id
    left join base_organization bo on bp.org_id = bo.organization_id
    <where>
      <if test="platformCode!=null and platformCode!=''">
        and bp.platform_code like CONCAT('%', #{platformCode}, '%')
      </if>
      <if test="platformName!=null and platformName!=''">
        and bp.platform_name like CONCAT('%', #{platformName}, '%')
      </if>
      <if test="status!=null">
        and bp.status=#{status}
      </if>
      <if test="startTime!= null and endTime!= null">
        and date_format(bp.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="orgId!=null">
        and bp.org_id=#{orgId}
      </if>
    </where>
    order by bp.create_time desc
  </select>
</mapper>
