<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSampleTransitionRuleDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSampleTransitionRuleDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sample_transition_rule_det_id" jdbcType="BIGINT" property="sampleTransitionRuleDetId" />
    <result column="sample_transition_rule_id" jdbcType="BIGINT" property="sampleTransitionRuleId" />
    <result column="if_initial_phase" jdbcType="TINYINT" property="ifInitialPhase" />
    <result column="rigor_stage" jdbcType="TINYINT" property="rigorStage" />
    <result column="continuous_batch_condition" jdbcType="TINYINT" property="continuousBatchCondition" />
    <result column="continuous_batch_count" jdbcType="INTEGER" property="continuousBatchCount" />
    <result column="receive_batch_count" jdbcType="INTEGER" property="receiveBatchCount" />
    <result column="rejection_batch_count" jdbcType="INTEGER" property="rejectionBatchCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    bstrd.sample_transition_rule_det_id,
    bstrd.sample_transition_rule_id,
	bstrd.if_initial_phase,
	bstrd.rigor_stage,
	bstrd.continuous_batch_condition,
    bstrd.continuous_batch_count,
	bstrd.receive_batch_count,
	bstrd.rejection_batch_count,
	bstrd.org_id,
	bstrd.remark,
	bstrd.`status`,
	bstrd.create_user_id,
	bstrd.create_time,
	bstrd.modified_user_id,
	bstrd.modified_time,
	bstrd.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    FROM base_sample_transition_rule_det AS bstrd
      <where>
        <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
          and date_format(bstrd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="sampleTransitionRuleId != null and sampleTransitionRuleId!=''">
          and bstrd.sample_transition_rule_id like CONCAT('%', #{sampleTransitionRuleId}, '%')
        </if>
          <if test="orgId!=null">
              and bstrd.org_id=#{orgId}
          </if>
      </where>
    order by bstrd.create_time desc
  </select>

</mapper>
