<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseUnitPriceMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseUnitPrice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="unit_price_id" jdbcType="BIGINT" property="unitPriceId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="cutting" jdbcType="DECIMAL" property="cutting"/>
        <result column="seal_edge" jdbcType="DECIMAL" property="sealEdge"/>
        <result column="gang_drill" jdbcType="DECIMAL" property="gangDrill"/>
        <result column="gong_machine" jdbcType="DECIMAL" property="gongMachine"/>
        <result column="sand_machine" jdbcType="DECIMAL" property="sandMachine"/>
        <result column="nails" jdbcType="DECIMAL" property="nails"/>
        <result column="repair_soil" jdbcType="DECIMAL" property="repairSoil"/>
        <result column="glue_nut" jdbcType="DECIMAL" property="glueNut"/>
        <result column="uv" jdbcType="DECIMAL" property="uv"/>
        <result column="wood_mill" jdbcType="DECIMAL" property="woodMill"/>
        <result column="grey_mill" jdbcType="DECIMAL" property="greyMill"/>
        <result column="bottom_guaranteed" jdbcType="DECIMAL" property="bottomGuaranteed"/>
        <result column="undertone" jdbcType="DECIMAL" property="undertone"/>
        <result column="base_coat" jdbcType="DECIMAL" property="baseCoat"/>
        <result column="staining" jdbcType="DECIMAL" property="staining"/>
        <result column="oil_abrasion" jdbcType="DECIMAL" property="oilAbrasion"/>
        <result column="dry_burshing" jdbcType="DECIMAL" property="dryBurshing"/>
        <result column="repair_black_edge" jdbcType="DECIMAL" property="repairBlackEdge"/>
        <result column="facial_oil" jdbcType="DECIMAL" property="facialOil"/>
        <result column="post_newspaper" jdbcType="DECIMAL" property="postNewspaper"/>
        <result column="white_embryo_install" jdbcType="DECIMAL" property="whiteEmbryoInstall"/>
        <result column="install_power" jdbcType="DECIMAL" property="installPower"/>
        <result column="finished_product_install" jdbcType="DECIMAL" property="finishedProductInstall"/>
        <result column="receipts" jdbcType="DECIMAL" property="receipts"/>
        <result column="accessories_bag" jdbcType="DECIMAL" property="accessoriesBag"/>
        <result column="paste_shake_handshandle" jdbcType="DECIMAL" property="pasteShakeHandshandle"/>
        <result column="stick_mirror" jdbcType="DECIMAL" property="stickMirror"/>
        <result column="pack" jdbcType="DECIMAL" property="pack"/>
        <result column="wood_bars" jdbcType="DECIMAL" property="woodBars"/>
        <result column="wooden_products" jdbcType="DECIMAL" property="woodenProducts"/>
        <result column="replenishment" jdbcType="DECIMAL" property="replenishment"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseUnitPriceDto"
               extends="BaseResultMap">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        bup.unit_price_id,
        bup.material_id,
        bup.cutting,
        bup.seal_edge,
        bup.gang_drill,
        bup.gong_machine,
        bup.sand_machine,
        bup.nails,
        bup.repair_soil,
        bup.glue_nut,
        bup.uv,
        bup.wood_mill,
        bup.grey_mill,
        bup.bottom_guaranteed,
        bup.undertone,
        bup.base_coat,
        bup.staining,
        bup.oil_abrasion,
        bup.dry_burshing,
        bup.repair_black_edge,
        bup.facial_oil,
        bup.post_newspaper,
        bup.white_embryo_install,
        bup.install_power,
        bup.finished_product_install,
        bup.receipts,
        bup.accessories_bag,
        bup.paste_shake_handshandle,
        bup.stick_mirror,
        bup.pack,
        bup.wood_bars,
        bup.wooden_products,
        bup.replenishment,
        bup.organization_id,
        bup.remark,
        bup.`status`,
        bup.create_user_id,
        bup.create_time,
        bup.modified_user_id,
        bup.modified_time,
        bup.is_delete
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        select<include refid="Base_Column_List"/>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        sm.material_code,sm.material_name,
        spm.product_model_code,spm.product_model_name,
        bo.organization_name
        FROM fantech_imes.base_unit_price bup
        LEFT JOIN fantech_imes.smt_material sm ON bup.material_id = sm.material_id
        LEFT JOIN fantech_imes.base_tab bt ON sm.material_id = bt.material_id
        LEFT JOIN fantech_imes.smt_product_model spm ON bt.product_model_id = spm.product_model_id
        left join ocean.sys_user su on bup.create_user_id = su.user_id
        left join ocean.sys_user sus on bup.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes.base_organization bo ON bup.organization_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(bup.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and sm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName != null and materialName != ''">
                and sm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="materialId != null">
                and sm.material_id = #{materialId}
            </if>
        </where>
    </select>
</mapper>