<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtBadnessCauseMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtBadnessCause">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_badness_cause_id" jdbcType="BIGINT" property="htBadnessCauseId" />
    <result column="badness_cause_id" jdbcType="BIGINT" property="badnessCauseId" />
    <result column="badness_cause_code" jdbcType="VARCHAR" property="badnessCauseCode" />
    <result column="badness_cause_desc" jdbcType="VARCHAR" property="badnessCauseDesc" />
    <result column="badness_grade" jdbcType="TINYINT" property="badnessGrade" />
    <result column="badness_category_id" jdbcType="BIGINT" property="badnessCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="badness_category_code" jdbcType="VARCHAR" property="badnessCategoryCode" />
    <result column="badness_category_desc" jdbcType="VARCHAR" property="badnessCategoryDesc" />
  </resultMap>

  <sql id="Base_Column_List">
    bhbc.ht_badness_cause_id,
	bhbc.badness_cause_id,
	bhbc.badness_cause_code,
	bhbc.badness_cause_desc,
	bhbc.badness_grade,
	bhbc.badness_category_id,
	bhbc.`status`,
	bhbc.remark,
	bhbc.org_id,
	bhbc.create_user_id,
	bhbc.create_time,
	bhbc.modified_user_id,
	bhbc.modified_time,
	bhbc.is_delete
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select<include refid="Base_Column_List"/>,
    su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name,
    bbca.badness_category_code,bbca.badness_category_desc
    from base_ht_badness_cause bhbc
    left join sys_user su on bhbc.create_user_id = su.user_id
    left join sys_user sus on bhbc.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bhbc.org_id = bo.organization_id
    LEFT JOIN base_badness_category bbca ON bhbc.badness_category_id = bbca.badness_category_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(bhbc.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="badnessCauseCode != null and badnessCauseCode != ''">
        and bhbc.badness_cause_code like CONCAT('%',#{badnessCauseCode},'%')
      </if>
      <if test="badnessCauseDesc != null and badnessCauseDesc != ''">
        and bhbc.badness_cause_desc like CONCAT('%',#{badnessCauseDesc},'%')
      </if>
        <if test="orgId!=null">
            and bhbc.org_id=#{orgId}
        </if>
    </where>
    order by bhbc.modified_time desc
  </select>
</mapper>
