<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseBarcodeRuleSetDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseBarcodeRuleSetDet">
        <id column="barcode_rule_set_det_id" jdbcType="BIGINT" property="barcodeRuleSetDetId"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseBarcodeRuleSetDetDto">
        <result column="barcode_rule_category_id" jdbcType="BIGINT" property="barcodeRuleCategoryId"/>
        <result column="barcode_rule_category_name" jdbcType="VARCHAR" property="barcodeRuleCategoryName"/>
        <result column="barcode_rule_category_code" jdbcType="VARCHAR" property="barcodeRruleCategoryCode"/>
        <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRule"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMapDto">
        select
        sbrsd.barcode_rule_set_det_id,sbrsd.barcode_rule_set_id,sbrsd.barcode_rule_id,sbr.barcode_rule,sbr.barcode_rule_category_id,
        blc.label_category_name as barcode_rule_category_name,blc.label_category_code as barcode_rule_category_code,sbrsd.create_user_id, u.user_name as
        create_user_name,sbrsd.create_time,sbrsd.modified_user_id,
        s.user_name as modified_user_name,sbrsd.modified_time,sbrsd.is_delete, sbrsd.org_id, sbrsd.remark, bo.organization_name
        from base_barcode_rule_set_det sbrsd
        left join base_barcode_rule sbr on sbrsd.barcode_rule_id=sbr.barcode_rule_id
        left join base_label_category blc on sbr.barcode_rule_category_id=blc.label_category_id
        left join sys_user u on sbrsd.create_user_id=u.user_id
        left join sys_user s on sbrsd.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON sbrsd.org_id = bo.organization_id
        <where>
            1=1
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(sbrsd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="barcodeRuleSetId!=null and barcodeRuleSetId!=''">
                and sbrsd.barcode_rule_set_id= #{barcodeRuleSetId}
            </if>
            <if test="orgId!=null">
                and sbrsd.org_id=#{orgId}
            </if>
        </where>
        order by sbrsd.create_time desc
    </select>
</mapper>
