<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseTeamMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseTeam">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="team_code" jdbcType="VARCHAR" property="teamCode"/>
        <result column="team_name" jdbcType="VARCHAR" property="teamName"/>
        <result column="team_desc" jdbcType="VARCHAR" property="teamDesc"/>
        <result column="work_shop_id" jdbcType="BIGINT" property="workShopId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseTeamDto"
               extends="BaseResultMap">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="work_shop_code" jdbcType="VARCHAR" property="workShopCode"/>
        <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName"/>
        <result column="work_shop_desc" jdbcType="VARCHAR" property="workShopDesc"/>
        <result column="factory_id" jdbcType="VARCHAR" property="factoryId"/>
        <result column="factory_code" jdbcType="VARCHAR" property="factoryCode"/>
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
        <result column="factory_desc" jdbcType="VARCHAR" property="factoryDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
        bt.team_id,
        bt.team_code,
        bt.team_name,
        bt.team_desc,
        bt.work_shop_id,
        bt.`status`,
        bt.remark,
        bt.org_id,
        bt.create_user_id,
        bt.create_time,
        bt.modified_user_id,
        bt.modified_time,
        bt.is_delete
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        select<include refid="Base_Column_List"/>,
        sws.work_shop_code, sws.work_shop_name, sws.work_shop_desc,
        sf.factory_id,sf.factory_code, sf.factory_name, sf.factory_desc,
        su.user_name as create_user_name,sus.user_name as modified_user_name,bo.organization_name
        from fantech_imes_v2.base_team bt
        LEFT JOIN fantech_imes_v2.base_work_shop sws on bt.work_shop_id = sws.work_shop_id
        LEFT JOIN ocean_v2.sys_user su ON bt.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON bt.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes_v2.base_factory sf ON sws.factory_id = sf.factory_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON bt.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(bt.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="workShopId != null and workShopId !=''">
                and bt.work_shop_id = #{workShopId}
            </if>
            <if test="teamCode != null and teamCode!=''">
                and bt.team_code like CONCAT('%', #{teamCode}, '%')
            </if>
            <if test="teamName != null and teamName!=''">
                and bt.team_name like CONCAT('%', #{teamName}, '%')
            </if>
            <if test="teamDesc != null and teamDesc!=''">
                and bt.team_desc like CONCAT('%', #{teamDesc}, '%')
            </if>
            <if test="factoryName != null and factoryName!=''">
                and sf.factory_name like CONCAT('%', #{factoryName}, '%')
            </if>
            <if test="workShopName != null and workShopName!=''">
                and sws.work_shop_name like CONCAT('%', #{workShopName}, '%')
            </if>
            <if test="orgId!=null">
                and bt.org_id=#{orgId}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>