<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseBarcodeRuleSpecMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseBarcodeRuleSpec">
    <id column="barcode_rule_spec_id" jdbcType="BIGINT" property="barcodeRuleSpecId" />
    <result column="barcode_rule_id" jdbcType="BIGINT" property="barcodeRuleId" />
    <result column="spec_id" jdbcType="BIGINT" property="specId" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="barcode_length" jdbcType="INTEGER" property="barcodeLength" />
    <result column="initial_value" jdbcType="INTEGER" property="initialValue" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="fill_operator" jdbcType="VARCHAR" property="fillOperator" />
    <result column="fill_direction" jdbcType="TINYINT" property="fillDirection" />
    <result column="customize_name" jdbcType="VARCHAR" property="customizeName" />
    <result column="intercept_length" jdbcType="INTEGER" property="interceptLength" />
    <result column="intercept_position" jdbcType="INTEGER" property="interceptPosition" />
    <result column="intercept_direction" jdbcType="TINYINT" property="interceptDirection" />
    <result column="customize_value" jdbcType="LONGVARCHAR" property="customizeValue" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseBarcodeRuleSpecDto">
    <result column="barcode_rule" jdbcType="VARCHAR" property="barcodeRule" />
    <result column="spec_name" jdbcType="VARCHAR" property="specName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select sbrs.barcode_rule_spec_id,sbrs.barcode_rule_id,sbr.barcode_rule,sbrs.spec_id,ssi.spec_name,sbrs.specification,sbrs.barcode_length,sbrs.initial_value,
    sbrs.step,sbrs.fill_operator,sbrs.fill_direction,sbrs.customize_name,sbrs.intercept_length,sbrs.intercept_position,sbrs.intercept_direction,
    sbrs.customize_value, sbrs.org_id, sbrs.remark, bo.organization_name
    from fantech_imes_v2.base_barcode_rule_spec sbrs
    left join fantech_imes_v2.base_barcode_rule sbr on sbrs.barcode_rule_id=sbr.barcode_rule_id
    left join ocean_v2.sys_spec_item ssi on sbrs.spec_id=ssi.spec_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON sbrs.org_id = bo.organization_id
    <where>
      1=1
      <if test="barcodeRuleId!=null and barcodeRuleId!=''">
        and sbrs.barcode_rule_id= #{barcodeRuleId}
      </if>
      <if test="orgId!=null">
        and sbrs.org_id=#{orgId}
      </if>
    </where>
  </select>


  <update id="updateBatch"  parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update base_barcode_rule_spec
      <set>
        barcode_rule_id = #{item.barcodeRuleId},spec_id = #{item.specId}, specification = #{item.specification}, initial_value = #{item.initialValue}, step = #{item.step},
        fill_operator = #{item.fillOperator},fill_direction = #{item.fillDirection},customize_name = #{item.customizeName},intercept_length = #{item.interceptLength},
        intercept_position = #{item.interceptPosition},intercept_direction = #{item.interceptDirection},customize_value = #{item.customizeValue}
      </set>
      <where>
        <if test="status!=null">
          and sbrs.status like CONCAT('%', #{status}, '%')
        </if>
        <if test="barcodeRuleSpecId!=null and barcodeRuleSpecId!=''">
          and sbrs.barcode_rule_spec_id = ${item.barcodeRuleSpecId}
        </if>
      </where>
    </foreach>
  </update>
  <select id="executeFunction" resultType="java.lang.String">
    select ${functionName}(<if test="params!=null and params!=''">#{params}</if>)
  </select>
</mapper>