<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseTabMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseTab">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="tab_id" jdbcType="BIGINT" property="tabId" />
      <result column="material_id" jdbcType="BIGINT" property="materialId" />
      <result column="material_category_id" jdbcType="BIGINT" property="materialCategoryId" />
      <result column="inspection_item_id" jdbcType="BIGINT" property="inspectionItemId" />
      <result column="package_specification_id" jdbcType="BIGINT" property="packageSpecificationId" />
      <result column="product_model_id" jdbcType="BIGINT" property="productModelId" />
      <result column="label_category_id" jdbcType="BIGINT" property="labelCategoryId" />
      <result column="label_id" jdbcType="BIGINT" property="labelId" />
      <result column="inspection_type_id" jdbcType="BIGINT" property="inspectionTypeId" />
      <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
      <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
      <result column="english_describe" jdbcType="VARCHAR" property="englishDescribe" />
      <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
      <result column="product_category" jdbcType="VARCHAR" property="productCategory" />
      <result column="material_property" jdbcType="TINYINT" property="materialProperty" />
      <result column="image" jdbcType="VARCHAR" property="image" />
      <result column="is_batch" jdbcType="TINYINT" property="isBatch" />
      <result column="is_quality_test" jdbcType="TINYINT" property="isQualityTest" />
      <result column="is_case_code" jdbcType="TINYINT" property="isCaseCode" />
      <result column="is_sequence_code" jdbcType="TINYINT" property="isSequenceCode" />
      <result column="issue_method" jdbcType="TINYINT" property="issueMethod" />
      <result column="if_compoboard" jdbcType="TINYINT" property="ifCompoboard" />
      <result column="if_linking_board" jdbcType="TINYINT" property="ifLinkingBoard" />
      <result column="linking_board_number" jdbcType="INTEGER" property="linkingBoardNumber" />
      <result column="takt" jdbcType="INTEGER" property="takt" />
      <result column="min_safety_stock" jdbcType="DECIMAL" property="minSafetyStock" />
      <result column="max_safety_stock" jdbcType="DECIMAL" property="maxSafetyStock" />
      <result column="purchase_cycle" jdbcType="BIGINT" property="purchaseCycle" />
      <result column="transfer_quantity" jdbcType="INTEGER" property="transferQuantity" />
      <result column="main_unit" jdbcType="VARCHAR" property="mainUnit" />
      <result column="sub_unit" jdbcType="VARCHAR" property="subUnit" />
      <result column="conversion_rate" jdbcType="DECIMAL" property="conversionRate" />
      <result column="customer_material_code" jdbcType="VARCHAR" property="customerMaterialCode" />
      <result column="supply_mode" jdbcType="INTEGER" property="supplyMode" />
      <result column="color" jdbcType="VARCHAR" property="color" />
      <result column="length" jdbcType="DECIMAL" property="length" />
      <result column="width" jdbcType="DECIMAL" property="width" />
      <result column="height" jdbcType="DECIMAL" property="height" />
      <result column="volume" jdbcType="DECIMAL" property="volume" />
      <result column="net_weight" jdbcType="DECIMAL" property="netWeight" />
      <result column="gross_weight" jdbcType="DECIMAL" property="grossWeight" />
      <result column="material_type" jdbcType="TINYINT" property="materialType" />
      <result column="purchase_qty" jdbcType="DECIMAL" property="purchaseQuantity" />
      <result column="storage_temperature" jdbcType="VARCHAR" property="storageTemperature" />
      <result column="storage_humidity" jdbcType="VARCHAR" property="storageHumidity" />
      <result column="storage_require_desc" jdbcType="VARCHAR" property="storageRequireDesc" />
      <result column="packing_method" jdbcType="INTEGER" property="packingMethod" />
      <result column="material_quality" jdbcType="VARCHAR" property="materialQuality" />
      <result column="is_wet_sensitive" jdbcType="TINYINT" property="isWetSensitive" />
      <result column="wet_sensitive_level" jdbcType="VARCHAR" property="wetSensitiveLevel" />
      <result column="voltage" jdbcType="VARCHAR" property="voltage" />
      <result column="expiration_date" jdbcType="DECIMAL" property="expirationDate" />
      <result column="map_number" jdbcType="VARCHAR" property="mapNumber" />
      <result column="min_storage_temperature" jdbcType="VARCHAR" property="minStorageTemperature" />
      <result column="max_storage_temperature" jdbcType="VARCHAR" property="maxStorageTemperature" />
      <result column="min_storage_humidity" jdbcType="VARCHAR" property="minStorageHumidity" />
      <result column="max_storage_humidity" jdbcType="VARCHAR" property="maxStorageHumidity" />
      <result column="label_save_path" jdbcType="VARCHAR" property="labelSavePath" />
      <result column="label_name" jdbcType="VARCHAR" property="labelName" />
      <result column="vehicle_count" jdbcType="VARCHAR" property="vehicleCount" />
      <result column="ids_type" jdbcType="VARCHAR" property="idsType" />
      <result column="ids_vehicle_count_arithmetic" jdbcType="VARCHAR" property="idsVehicleCountArithmetic" />
      <result column="org_id" jdbcType="BIGINT" property="orgId" />
  </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseTabDto" extends="BaseResultMap">
        <result column="inspection_type_code" jdbcType="VARCHAR" property="inspectionTypeCode" />
        <result column="inspection_type_name" jdbcType="VARCHAR" property="inspectionTypeName" />
        <result column="package_specification_code" jdbcType="VARCHAR" property="packageSpecificationCode" />
        <result column="package_specification_name" jdbcType="VARCHAR" property="packageSpecificationName" />
        <result column="package_specification_quantity" jdbcType="DECIMAL" property="packageSpecificationQuantity" />
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode" />
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName" />
        <result column="label_category_code" jdbcType="VARCHAR" property="labelCategoryCode" />
        <result column="label_category_name" jdbcType="VARCHAR" property="labelCategoryName" />
        <result column="label_code" jdbcType="VARCHAR" property="labelCode"/>
        <result column="label_name" jdbcType="VARCHAR" property="labelName"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="material_category_name" jdbcType="VARCHAR" property="materialCategoryName" />
    </resultMap>

  <sql id="Base_Column_List">
      bmt.tab_id,
	bmt.material_id,
    bmt.material_category_id,
	bmt.inspection_item_id,
	bmt.package_specification_id,
	bmt.product_model_id,
	bmt.label_category_id,
	bmt.label_id,
	bmt.inspection_type_id,
	bmt.supplier_id,
	bmt.simple_name,
	bmt.english_describe,
    bmt.brand_name,
    bmt.product_category,
	bmt.material_property,
	bmt.image,
	bmt.is_quality_test,
	bmt.is_batch,
	bmt.is_case_code,
	bmt.is_sequence_code,
	bmt.if_compoboard,
	bmt.issue_method,
	bmt.if_linking_board,
	bmt.linking_board_number,
	bmt.takt,
	bmt.min_safety_stock,
	bmt.max_safety_stock,
	bmt.purchase_cycle,
	bmt.transfer_quantity,
	bmt.main_unit,
	bmt.sub_unit,
	bmt.conversion_rate,
	bmt.customer_material_code,
	bmt.color,
	bmt.supply_mode,
	bmt.length,
	bmt.width,
	bmt.height,
	bmt.volume,
	bmt.net_weight,
	bmt.gross_weight,
	bmt.material_type,
	bmt.purchase_qty,
	bmt.storage_temperature,
	bmt.storage_humidity,
	bmt.storage_require_desc,
	bmt.packing_method,
	bmt.is_wet_sensitive,
	bmt.wet_sensitive_level,
    bmt.material_quality,
    bmt.voltage,
    bmt.expiration_date,
    bmt.map_number,
    bmt.min_storage_temperature,
    bmt.max_storage_temperature,
    bmt.min_storage_humidity,
    bmt.max_storage_humidity,
    bmt.label_save_path,
    bmt.label_name,
    bmt.vehicle_count,
    bmt.ids_type,
    bmt.ids_vehicle_count_arithmetic
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>,
      qit.inspection_type_code,qit.inspection_type_name,bmc.material_category_name,
      sps.package_specification_code,sps.package_specification_name,sps.package_specification_quantity,
      spm.product_model_code,spm.product_model_name,
      blc.label_category_code,blc.label_category_name,
      bl.label_code,bl.label_name,
      ss.supplier_name,ss.supplier_code
    FROM fantech_imes_v2.base_material_tab bmt
    LEFT JOIN fantech_imes_v2.base_material_category bmc ON bmt.material_category_id = bmc.material_category_id
    LEFT JOIN fantech_imes_v2.base_inspection_type qit ON bmt.inspection_type_id = qit.inspection_type_id
    LEFT JOIN fantech_imes_v2.base_package_specification sps ON bmt.package_specification_id = sps.package_specification_id
    LEFT JOIN fantech_imes_v2.base_product_model spm ON bmt.product_model_id = spm.product_model_id
    LEFT JOIN fantech_imes_v2.base_label_category blc ON bmt.label_category_id = blc.label_category_id
    LEFT JOIN fantech_imes_v2.base_label bl ON bmt.label_id = bl.label_id
    LEFT JOIN fantech_imes_v2.base_supplier ss ON bmt.supplier_id = ss.supplier_id
    <where>
      <if test="materialId != null">
        and bmt.material_id = #{materialId}
      </if>
      <if test="productModelId != null">
        and bmt.product_model_id = #{productModelId}
      </if>
        <if test="orgId!=null">
            and bmt.org_id=#{orgId}
        </if>
    </where>
  </select>
</mapper>