<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseWarehouseAreaMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseWarehouseArea">
        <id column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="warehouse_area_desc" jdbcType="VARCHAR" property="warehouseAreaDesc"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="capacity" jdbcType="DECIMAL" property="capacity"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseWarehouseAreaDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="warehouse_category" jdbcType="BIGINT" property="warehouseCategory"/>
    </resultMap>

    <sql id="Base_Column_List">
        swa.warehouse_area_id,
        swa.warehouse_area_code,
        swa.warehouse_area_name,
        swa.warehouse_area_desc,
        swa.warehouse_category,
        swa.capacity,
        swa.temperature,
        swa.unit,
        swa.warehouse_id,
        swa.`status`,
        swa.remark,
        swa.org_id,
        swa.create_user_id,
        swa.create_time,
        swa.modified_user_id,
        swa.modified_time,
        swa.is_delete,
        swa.option1,
        swa.option2,
        swa.option3
    </sql>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        select  <include refid="Base_Column_List"></include>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        sw.warehouse_name, sw.warehouse_category,
        bo.organization_name
        FROM base_warehouse_area swa
        LEFT JOIN sys_user su ON swa.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON swa.modified_user_id = sus.user_id
        LEfT JOIN base_warehouse sw ON swa.warehouse_id= sw.warehouse_id
        LEFT JOIN base_organization bo ON swa.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(swa.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="warehouseAreaCode != null and warehouseAreaCode != ''">
                and swa.warehouse_area_code like CONCAT('%', #{warehouseAreaCode}, '%')
            </if>
            <if test="warehouseAreaName != null and warehouseAreaName != ''">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="warehouseAreaDesc != null and warehouseAreaDesc != ''">
                and swa.warehouse_area_desc like CONCAT('%', #{warehouseAreaDesc}, '%')
            </if>
            <if test="warehouseId != null and warehouseId != ''">
                and swa.warehouse_id = #{warehouseId}
            </if>
            <if test="warehouseName != null and warehouseName != ''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="status!=null">
                and swa.status=#{status}
            </if>
            <if test="orgId!=null">
                and swa.org_id=#{orgId}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
