<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtStorageCapacityMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtStorageCapacity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_storage_capacity_id" jdbcType="BIGINT" property="htStorageCapacityId" />
    <result column="storage_capacity_id" jdbcType="BIGINT" property="storageCapacityId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="type_a_capacity" jdbcType="DECIMAL" property="typeACapacity" />
    <result column="type_b_capacity" jdbcType="DECIMAL" property="typeBCapacity" />
    <result column="type_c_capacity" jdbcType="DECIMAL" property="typeCCapacity" />
    <result column="type_d_capacity" jdbcType="DECIMAL" property="typeDCapacity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bhsc.ht_storage_capacity_id,
    bhsc.storage_capacity_id,
    bhsc.material_id,
    bhsc.type_a_capacity,
    bhsc.type_b_capacity,
    bhsc.type_c_capacity,
    bhsc.type_d_capacity,
    bhsc.`status`,
    bhsc.remark,
    bhsc.org_id,
    bhsc.create_user_id,
    bhsc.create_time,
    bhsc.modified_user_id,
    bhsc.modified_time,
    bhsc.is_delete,
    bhsc.option1,
    bhsc.option2,
    bhsc.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bm.material_code,bm.material_name,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_ht_storage_capacity bhsc
    left join fantech_imes_v2.base_material bm on bhsc.material_id=bm.material_id
    left join ocean_v2.sys_user u on bhsc.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bhsc.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bhsc.org_id = bo.organization_id
    <where>
      <if test="materialCode!=null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and bm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="materialStoreType!=null and materialStoreType == 1">
        and (bhsc.type_a_capacity is not null and bhsc.type_a_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 2">
        and (bhsc.type_b_capacity is not null and bhsc.type_b_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 3">
        and (bhsc.type_c_capacity is not null and bhsc.type_c_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 4">
        and (bhsc.type_d_capacity is not null and bhsc.type_d_capacity !=0)
      </if>
      <if test="status!=null">
        and bhsc.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bhsc.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bhsc.org_id=#{orgId}
      </if>
    </where>
    order by bhsc.create_time desc
  </select>
</mapper>