<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSupplierMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSupplier">
        <id column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="supplier_desc" jdbcType="VARCHAR" property="supplierDesc"/>
        <result column="supplier_type" jdbcType="TINYINT" property="supplierType"/>
        <result column="supplier_abbreviation" jdbcType="VARCHAR" property="supplierAbbreviation"/>
        <result column="supplier_logo" jdbcType="VARCHAR" property="supplierLogo"/>
        <result column="liaison_man" jdbcType="VARCHAR" property="liaisonMan"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="e_mail" jdbcType="VARCHAR" property="email"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="if_appoint_deliver" jdbcType="TINYINT" property="ifAppointDeliver"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <collection property="list" column="supplier_id" ofType="com.fantechs.common.base.general.dto.basic.BaseAddressDto"
                    select="com.fantechs.provider.base.mapper.BaseAddressMapper.findBySupplierId"></collection>
    </resultMap>

    <sql id="Base_Column_List">
        ss.supplier_id,
        ss.supplier_code,
        ss.supplier_name,
        ss.supplier_desc,
        ss.address_id,
        ss.supplier_abbreviation,
        ss.supplier_logo,
        ss.liaison_man,
        ss.telephone,
        ss.e_mail,
        ss.mobile_phone,
        ss.if_appoint_deliver,
        ss.supplier_type,
        ss.`status`,
        ss.remark,
        ss.org_id,
        ss.create_user_id,
        ss.create_time,
        ss.modified_user_id,
        ss.modified_time,
        ss.is_delete,
        ss.option1,
        ss.option2,
        ss.option3
    </sql>

    <select id="findList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from base_supplier ss
        left join sys_user u on ss.create_user_id=u.user_id
        left join sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON ss.org_id = bo.organization_id
        <if test="addressDetail!=null and addressDetail!=''">
            LEFT JOIN base_supplier_address ssa ON ssa.supplier_id = ss.supplier_id
            LEFT JOIN base_address sa ON sa.address_id = ssa.address_id
        </if>
        <where>
            <if test="ifFindAll!=1 and userId!=null and orgId!=null and supplierType==1">
                IF ((SELECT supplier_id FROM base_supplier_re_user WHERE user_id = #{userId} AND organization_id = #{orgId} LIMIT 1) IS NULL,
                1=1,ss.supplier_id =(SELECT supplier_id FROM base_supplier_re_user WHERE user_id = #{userId} AND organization_id = #{orgId} LIMIT 1))
            </if>
            <if test="startTime!= null and endTime!= null">
                AND date_format(ss.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="supplierCode!=null and supplierCode!=''">
                and ss.supplier_code like CONCAT('%', #{supplierCode}, '%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and ss.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="supplierDesc!=null and supplierDesc!=''">
                and ss.supplier_desc like CONCAT('%', #{supplierDesc}, '%')
            </if>
            <if test="supplierType!=null and supplierType!=''">
                and ss.supplier_type=#{supplierType}
            </if>
            <if test="supplierId!=null and supplierId!=''">
                and ss.supplier_id=#{supplierId}
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="ifAppointDeliver!=null">
                and ss.if_appoint_deliver=#{ifAppointDeliver}
            </if>
            <if test="addressDetail!=null and addressDetail!=''">
                and sa.address_detail like CONCAT('%', #{addressDetail}, '%')
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
        </where>
        order by ss.create_time desc
    </select>

    <select id="findInspectionSupplierList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from base_supplier ss
        left join sys_user u on ss.create_user_id=u.user_id
        left join sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON ss.org_id = bo.organization_id
        <where>
            <if test="materialCode!=null and materialCode!='' and objType!=1">
                and ss.supplier_id in
                (select bms.supplier_id from base_material_supplier bms
                left JOIN base_material bm on bm.material_id = bms.material_id where bm.material_code = #{materialCode})
                and ss.supplier_id not in
                (select if(biel.obj_type = 1,biel.supplier_id,biel.customer_id) from base_inspection_exempted_list biel
                left JOIN base_material bm on bm.material_id = biel.material_id where bm.material_code = #{materialCode})
            </if>
            <if test="materialCode!=null and materialCode!='' and objType==1">
                and ss.supplier_type = 1 and ss.supplier_id not in
                (select if(biel.obj_type = 1,biel.supplier_id,biel.customer_id) from base_inspection_exempted_list biel
                left JOIN base_material bm on bm.material_id = biel.material_id where bm.material_code = #{materialCode})
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
        </where>
        order by ss.create_time desc
    </select>
</mapper>
