<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtInspectionItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtInspectionItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_inspection_item_id" jdbcType="BIGINT" property="htInspectionItemId" />
    <result column="inspection_item_id" jdbcType="BIGINT" property="inspectionItemId" />
    <result column="inspection_item_code" jdbcType="VARCHAR" property="inspectionItemCode" />
    <result column="inspection_item_name" jdbcType="VARCHAR" property="inspectionItemName" />
    <result column="inspection_item_level" jdbcType="BIGINT" property="inspectionItemLevel" />
    <result column="inspection_tool" jdbcType="BIGINT" property="inspectionTool" />
    <result column="inspection_standard" jdbcType="VARCHAR" property="inspectionStandard" />
    <result column="inspection_nape" jdbcType="BIGINT" property="inspectionNape" />
    <result column="batch" jdbcType="DECIMAL" property="batch" />
    <result column="aql" jdbcType="DECIMAL" property="aql" />
    <result column="sampling_amount" jdbcType="DECIMAL" property="samplingAmount" />
    <result column="ac" jdbcType="DECIMAL" property="ac" />
    <result column="re" jdbcType="DECIMAL" property="re" />
    <result column="test_method" jdbcType="BIGINT" property="testMethod" />
    <result column="test_times" jdbcType="DECIMAL" property="testTimes" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    qhii.ht_inspection_item_id,qhii.inspection_item_id,qhii.inspection_item_code,qhii.inspection_item_name,
    qhii.inspection_item_level,qhii.inspection_tool,qhii.inspection_standard,qhii.inspection_nape,
    qhii.batch,qhii.aql,qhii.sampling_amount,qhii.ac,qhii.re,qhii.test_method,qhii.test_times,qhii.remark,
    qhii.status,qhii.create_user_id,qhii.create_time,qhii.modified_user_id,qhii.modified_time,qhii.is_delete,
    qhii.organization_id
  </sql>

  <select id="findHtList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>, bo.organization_name
    from fantech_imes.base_ht_inspection_item qhii
    LEFT JOIN fantech_imes.base_organization bo ON qhii.organization_id = bo.organization_id
    <where>
      <if test="inspectionItemCode != null and inspectionItemCode != ''">
        and qhii.inspection_item_code like CONCAT('%', #{inspectionItemCode}, '%')
      </if>
      <if test="inspectionItemName != null and inspectionItemName != ''">
        and qhii.inspection_item_name like CONCAT('%', #{inspectionItemName}, '%')
      </if>
      <if test="inspectionItemLevel != null and inspectionItemLevel != ''">
        and qhii.inspection_item_level like CONCAT('%', #{inspectionItemLevel}, '%')
      </if>
      <if test="inspectionNape != null and inspectionNape != ''">
        and qhii.inspection_nape like CONCAT('%', #{inspectionNape}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qhii.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

</mapper>
