<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtSupplierReUserMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtSupplierReUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_supplier_re_user_id" jdbcType="BIGINT" property="htSupplierReUserId" />
    <result column="supplier_re_user_id" jdbcType="BIGINT" property="supplierReUserId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    bhsru.ht_supplier_re_user_id,
    bhsru.supplier_re_user_id,
    bhsru.supplier_id,
    bhsru.user_id,
    bhsru.`status`,
    bhsru.remark,
    bhsru.organization_id,
    bhsru.create_user_id,
    bhsru.create_time,
    bhsru.modified_user_id,
    bhsru.modified_time,
    bhsru.is_delete,
    bhsru.option1,
    bhsru.option2,
    bhsru.option3
  </sql>

  <select id="findHtList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from base_ht_supplier_re_user bhsru
    left join sys_user u on bhsru.create_user_id=u.user_id
    left join sys_user s on bhsru.modified_user_id=s.user_id
    LEFT JOIN base_organization bo ON bhsru.organization_id = bo.organization_id
    <where>
      <if test="userId != null">
        and bhsru.user_id  = #{userId}
      </if>
      <if test="supplierId != null">
        and bhsru.supplier_id = #{supplierId}
      </if>
      <if test="startTime!= null and endTime!= null">
        and date_format(bhsru.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="status!=null">
        and bhsru.status=#{status}
      </if>
      <if test="orgId!=null">
        and bhsru.organization_id=#{orgId}
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>
