<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtPlatePartsMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtPlateParts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_plate_parts_id" jdbcType="BIGINT" property="htPlatePartsId" />
    <result column="plate_parts_id" jdbcType="BIGINT" property="platePartsId" />
    <result column="if_customized" jdbcType="TINYINT" property="ifCustomized" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    bhpp.ht_plate_parts_id,
	bhpp.plate_parts_id,
	bhpp.if_customized,
	bhpp.material_id,
	bhpp.organization_id,
	bhpp.remark,
	bhpp.`status`,
	bhpp.create_user_id,
	bhpp.create_time,
	bhpp.modified_user_id,
	bhpp.modified_time,
	bhpp.is_delete
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from fantech_imes.base_ht_plate_parts bhpp
      <where>
          <if test="platePartsId != null and platePartsId!=''">
              and bhpp.plate_parts_id like CONCAT('%', #{platePartsId}, '%')
          </if>
          <if test="materialCode != null and materialCode!=''">
              and sm.material_code like CONCAT('%', #{materialCode}, '%')
          </if>
          <if test="materialId != null and materialId!=''">
              and sm.material_id =  #{materialId}
          </if>
          <if test="materialName != null and materialName!=''">
              and sm.material_name like CONCAT('%', #{materialName}, '%')
          </if>
          <if test="materialDesc != null and materialDesc!=''">
              and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
          </if>
          <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
              and date_format(bhpp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
          </if>
      </where>
    order by create_time desc
  </select>

</mapper>
