<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseInspectionItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseInspectionItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="inspection_item_id" jdbcType="BIGINT" property="inspectionItemId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="inspection_item_code" jdbcType="VARCHAR" property="inspectionItemCode" />
    <result column="inspection_item_standard" jdbcType="VARCHAR" property="inspectionItemStandard" />
    <result column="inspection_item_type" jdbcType="TINYINT" property="inspectionItemType" />
    <result column="inspection_item_desc" jdbcType="VARCHAR" property="inspectionItemDesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    bii.inspection_item_id,
    bii.parent_id,
    bii.inspection_item_code,
    bii.inspection_item_standard,
    bii.inspection_item_type,
    bii.inspection_item_desc,
    bii.`status`,
    bii.remark,
    bii.organization_id,
    bii.create_user_id,
    bii.create_time,
    bii.modified_user_id,
    bii.modified_time,
    bii.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_inspection_item bii
    left join ocean_v2.sys_user u on bii.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bii.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bii.organization_id = bo.organization_id
    <where>
      bii.inspection_item_type = 1
      <if test="inspectionItemCode!=null and inspectionItemCode!= ''">
        and bii.inspection_item_code like CONCAT('%', #{inspectionItemCode}, '%')
      </if>
      <if test="inspectionItemDesc!=null and inspectionItemDesc!= ''">
        and bii.inspection_item_desc like CONCAT('%', #{inspectionItemDesc}, '%')
      </if>
      <if test="status!=null">
        and bii.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bii.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bii.organization_id=#{orgId}
      </if>
        <if test="inspectionItemType!=null and inspectionItemType!=''">
          and bii.inspection_item_type = #{inspectionItemType}
        </if>
    </where>
    order by bii.inspection_item_code,bii.create_time desc
  </select>

  <select id="findDetList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_inspection_item bii
    left join ocean_v2.sys_user u on bii.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bii.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bii.organization_id = bo.organization_id
    <where>
      bii.inspection_item_type = 2
      <if test="inspectionItemCode!=null and inspectionItemCode!= ''">
        and bii.inspection_item_code like CONCAT('%', #{inspectionItemCode}, '%')
      </if>
      <if test="parentId!=null">
        and bii.parent_id=#{parentId}
      </if>
      <if test="status!=null">
        and bii.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bii.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bii.organization_id=#{orgId}
      </if>
    </where>
    order by bii.inspection_item_code,bii.create_time desc
  </select>
</mapper>