<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtProcessCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtProcessCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_process_category_id" jdbcType="BIGINT" property="htProcessCategoryId" />
    <result column="process_category_id" jdbcType="BIGINT" property="processCategoryId" />
    <result column="process_category_code" jdbcType="VARCHAR" property="processCategoryCode" />
    <result column="process_category_name" jdbcType="VARCHAR" property="processCategoryName" />
    <result column="process_category_desc" jdbcType="VARCHAR" property="processCategoryDesc" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    shpc.ht_process_category_id,
    shpc.process_category_id,
    shpc.process_category_code,
    shpc.process_category_name,
    shpc.process_category_desc,
    shpc.status,
    shpc.create_user_id,
    shpc.create_time,
    shpc.modified_user_id,
    shpc.modified_time,
    shpc.is_delete,
    shpc.option1,
    shpc.option2,
    shpc.option3,
    shpc.org_id,
    shpc.remark
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>,  su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    from base_ht_process_category shpc
      LEFT JOIN sys_user su  ON shpc.create_user_id = su.user_id
      LEFT JOIN sys_user sus ON shpc.modified_user_id = sus.user_id
      LEFT JOIN base_organization bo ON shpc.org_id = bo.organization_id
      <where>
          <if test="startTime!= null and endTime!= null">
              and date_format(shpc.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
          </if>
          <if test="processCategoryCode != null and processCategoryCode != ''">
              and shpc.process_category_code like CONCAT('%',#{processCategoryCode},'%')
          </if>
          <if test="processCategoryName != null and processCategoryName != ''">
              and shpc.process_category_name like CONCAT('%',#{processCategoryName},'%')
          </if>
          <if test="processCategoryDesc != null and processCategoryDesc != ''">
              and shpc.process_category_desc like CONCAT('%',#{processCategoryDesc},'%')
          </if>
        <if test="orgId!=null">
          and shpc.org_id=#{orgId}
        </if>
      </where>
      order by shpc.modified_time desc
  </select>

</mapper>
