<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseMaterialMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseMaterial">
        <id column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="base" jdbcType="DECIMAL" property="base"/>
        <result column="material_source" jdbcType="INTEGER" property="materialSource"/>
        <result column="barcode_rule_set_id" jdbcType="BIGINT" property="barcodeRuleSetId"/>
        <result column="system_source" jdbcType="VARCHAR" property="systemSource"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="min_package_number" jdbcType="INTEGER" property="minPackageNumber"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseMaterialDto" extends="BaseResultMap">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="barcode_rule_name" jdbcType="VARCHAR" property="barcodeRuleSetName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="voltage" jdbcType="VARCHAR" property="voltage"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        sm.material_id,
        sm.material_code,
        sm.material_name,
        sm.material_desc,
        sm.material_version,
        sm.base,
        sm.material_source,
        sm.barcode_rule_set_id,
        sm.system_source,
        sm.`status`,
        sm.org_id,
        sm.remark,
        sm.min_package_number,
        sm.create_user_id,
        sm.create_time,
        sm.modified_user_id,
        sm.modified_time,
        sm.is_delete,
        sm.option1,
        sm.option2,
        sm.option3
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMapDto">
        select<include refid="Base_Column_List"/>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        bo.organization_name,
        bt.voltage,
        bpm.product_model_code
        from fantech_imes_v2.base_material sm
        left join ocean_v2.sys_user su on sm.create_user_id=su.user_id
        left join ocean_v2.sys_user sus on sm.modified_user_id=sus.user_id
        LEFT JOIN base_barcode_rule_set sbrs on sm.barcode_rule_set_id = sbrs.barcode_rule_set_id
        LEFT JOIN base_organization bo ON sm.org_id = bo.organization_id
        LEFT JOIN base_material_tab bt on sm.material_id = bt.material_id
        LEFT JOIN base_material_category bmc on bmc.material_category_id = bt.material_category_id
        LEFT JOIN base_product_model bpm ON bpm.product_model_id = bt.product_model_id
        <where>
            <if test="materialProperty!=null">
                and bt.material_property=#{materialProperty}
            </if>
            <if test="propertyQueryMark!=null and propertyQueryMark == 1">
                and bt.material_property in(0,1)
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(sm.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialId!=null and materialId!=''">
                and sm.material_id =#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!='' and codeQueryMark==1">
                and sm.material_code =#{materialCode}
            </if>
            <if test="materialCode!=null and materialCode!='' and codeQueryMark!=1">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>

            <if test="materialName!=null and materialName!=''">
                and sm.material_name like CONCAT('%', #{materialName}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="productBomId!=null and productBomId!=''">
                and sm.material_id!=(select material_id from fantech_imes_v2.base_product_bom where
                product_bom_id=#{productBomId})
            </if>
            <if test="workOrderId!=null and workOrderId!=''">
                and sm.material_id!=(select material_id from fantech_imes_v2.base_work_order where
                work_order_id=#{workOrderId})
            </if>
            <if test="status!=null">
                and sm.status=#{status}
            </if>
            <if test="organizationId!=null">
                and sm.org_id=#{organizationId}
            </if>
            <if test="materialCategoryId!=null and materialCategoryId!=''">
            and bt.material_category_id = #{materialCategoryId}
            </if>
            <if test="ifUseSpecMaterialCategory !=null and ifUseSpecMaterialCategory==1">
                and bmc.material_category_code in
                <foreach item="materialCategoryCode" collection="materialCategoryCodes" open="(" separator="," close=")">
                    #{materialCategoryCode}
                </foreach>
            </if>
            <if test="idCode!=null and idCode!=''">
                and sm.option1=#{idCode}
            </if>
            <if test="option1!=null and option1!=''">
                and sm.option1 like CONCAT('%',#{option1},'%')
            </if>
            <if test="option2!=null and option2!=''">
                and sm.option2 like CONCAT('%',#{option2},'%')
            </if>
            <if test="option3!=null and option3!=''">
                and sm.option3 like CONCAT('%',#{option3},'%')
            </if>
            <if test="voltage!=null and voltage!=''">
                and bt.voltage LIKE CONCAT('%',#{voltage},'%')
            </if>
            <if test="brandName!=null and brandName!=''">
                and bt.brand_name LIKE CONCAT('%',#{brandName},'%')
            </if>
            <if test="productCategory!=null and productCategory!=''">
                and bt.product_category LIKE CONCAT('%',#{productCategory},'%')
            </if>
        </where>
        order by sm.create_time desc
    </select>

    <update id="batchUpdateByCode" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_material
            <set>
                material_code =#{item.materialCode},
                material_name =#{item.materialName},
                material_desc =#{item.materialDesc},
                material_version =#{item.materialVersion},
                material_source =#{item.materialSource},
                barcode_rule_set_id =#{item.barcodeRuleSetId},
                status =#{item.status},
                min_package_number =#{item.minPackageNumber},
                create_user_id =#{item.createUserId},
                create_time =#{item.createTime},
                modified_user_id =#{item.modifiedUserId},
                modified_time =#{item.modifiedTime},
                is_delete =#{item.isDelete},
                option1 =#{item.option1},
                option2 =#{item.option2},
                option3 =#{item.option3},
            </set>
            where material_code =#{item.materialCode}
        </foreach>
    </update>

    <select id="findIdByCode" resultType="java.util.Map" parameterType="list">
        select  sm.material_code, sm.material_id
        from base_material sm
        <where>
            <foreach collection="list" item="item" open="sm.material_code in (" close=")" separator="," >
                #{item}
            </foreach>
        </where>
    </select>

</mapper>