<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseStorageCapacityMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseStorageCapacity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="storage_capacity_id" jdbcType="BIGINT" property="storageCapacityId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_code_prefix" jdbcType="VARCHAR" property="materialCodePrefix" />
    <result column="type_a_capacity" jdbcType="DECIMAL" property="typeACapacity" />
    <result column="type_b_capacity" jdbcType="DECIMAL" property="typeBCapacity" />
    <result column="type_c_capacity" jdbcType="DECIMAL" property="typeCCapacity" />
    <result column="type_d_capacity" jdbcType="DECIMAL" property="typeDCapacity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bsc.storage_capacity_id,
    bsc.material_id,
    bsc.material_code_prefix,
    bsc.type_a_capacity,
    bsc.type_b_capacity,
    bsc.type_c_capacity,
    bsc.type_d_capacity,
    bsc.`status`,
    bsc.remark,
    bsc.org_id,
    bsc.create_user_id,
    bsc.create_time,
    bsc.modified_user_id,
    bsc.modified_time,
    bsc.is_delete,
    bsc.option1,
    bsc.option2,
    bsc.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bm.material_code,bm.material_name,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_storage_capacity bsc
    left join fantech_imes_v2.base_material bm on bsc.material_id=bm.material_id
    left join ocean_v2.sys_user u on bsc.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bsc.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bsc.org_id = bo.organization_id
    <where>
      <if test="materialCodePrefix!=null and materialCodePrefix!=''">
        and bsc.material_code_prefix like CONCAT('%', #{materialCodePrefix}, '%')
      </if>
        <if test="CodePrefix!=null and CodePrefix!=''">
          and bsc.material_code_prefix = #{CodePrefix}
        </if>
      <if test="materialCode!=null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and bm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="materialStoreType!=null and materialStoreType == 1">
        and (bsc.type_a_capacity is not null and bsc.type_a_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 2">
        and (bsc.type_b_capacity is not null and bsc.type_b_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 3">
        and (bsc.type_c_capacity is not null and bsc.type_c_capacity !=0)
      </if>
      <if test="materialStoreType!=null and materialStoreType == 4">
        and (bsc.type_d_capacity is not null and bsc.type_d_capacity !=0)
      </if>
      <if test="status!=null">
        and bsc.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bsc.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bsc.org_id=#{orgId}
      </if>
    <if test="materialId!=null and materialId!=''">
      and bsc.material_id = #{materialId}
    </if>
    </where>
    order by bsc.create_time desc
  </select>
  <select id="totalQty" resultType="java.math.BigDecimal">
    SELECT sum(wii.packing_qty) FROM wms_inner_inventory wii
    LEFT JOIN base_storage bs ON wii.storage_id = bs.storage_id
    WHERE wii.material_id = #{materialId} and wii.storage_id=#{storageId} and wii.org_id=#{orgId}
  </select>
  <select id="putJobQty" resultType="java.math.BigDecimal">
    SELECT sum(actual_qty) FROM wms_inner_job_order_det
    WHERE org_id=#{orgId} AND order_status=3 and material_id=#{materialId} and in_storage_id=#{storageId}
  </select>

  <select id="wmsList" resultType="com.fantechs.common.base.general.entity.wms.inner.WmsInnerInventory">
    SELECT storage_id as storageId,material_id as materialId,sum(packing_qty) as packingQty
    FROM wms_inner_inventory
    <where>
      org_id=#{orgId}
        <if test="_parameter.containsKey('storageId')">
          and storage_id=#{storageId}
        </if>
        <if test="_parameter.containsKey('materialId')">
          and material_id = #{materialId}
        </if>
    </where>
    GROUP BY material_id
  </select>
</mapper>