<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseLabelCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseLabelCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="label_category_id" jdbcType="BIGINT" property="labelCategoryId" />
    <result column="label_category_code" jdbcType="VARCHAR" property="labelCategoryCode" />
    <result column="label_category_name" jdbcType="VARCHAR" property="labelCategoryName" />
    <result column="label_category_desc" jdbcType="VARCHAR" property="labelCategoryDesc" />
    <result column="barcode_type" jdbcType="TINYINT" property="barcodeType"/>
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseLabelCategoryDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    blc.`label_category_id`,
    blc.label_category_code,
    blc.label_category_name,
    blc.label_category_desc,
    blc.org_id,
	blc.remark,
    blc.`status`,
    blc.create_user_id,
    blc.create_time,
    blc.modified_user_id,
    blc.modified_time,
    blc.is_delete,
    blc.barcode_type
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    SELECT <include refid="Base_Column_List"/>,su.user_name as create_user_name,sus.user_name as modified_user_name, bo.organization_name
    FROM base_label_category blc
    LEFT JOIN sys_user su ON blc.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON blc.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON blc.org_id = bo.organization_id
    <where>
      <if test="labelCategoryCode!=null and labelCategoryCode!='' and codeQueryMark == 1">
        and blc.label_category_code = #{labelCategoryCode}
      </if>
      <if test="labelCategoryCode!=null and labelCategoryCode!='' and codeQueryMark == null">
        and blc.label_category_code LIKE CONCAT('%',#{labelCategoryCode},'%')
      </if>
      <if test="labelCategoryName!=null and labelCategoryName!=''">
        and blc.label_category_name LIKE CONCAT('%',#{labelCategoryName},'%')
      </if>
      <if test="labelCategoryDesc!=null and labelCategoryDesc!=''">
        and blc.label_category_desc LIKE CONCAT('%',#{labelCategoryDesc},'%')
      </if>
      <if test="startTime!= null and endTime!= null">
        and date_format(blc.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="orgId!=null">
        and blc.org_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by blc.create_time desc
  </select>
</mapper>
