<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseMaterialOwnerReWhMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseMaterialOwnerReWh">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="material_owner_re_wh_id" jdbcType="BIGINT" property="materialOwnerReWhId" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseMaterialOwnerReWhDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_desc" jdbcType="VARCHAR" property="warehouseDesc"/>
    <result column="material_owner_code" jdbcType="VARCHAR" property="materialOwnerCode"/>
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="material_owner_short_name" jdbcType="VARCHAR" property="materialOwnerShortName"/>
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName"/>
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone"/>
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber"/>
    <result column="e_mail_address" jdbcType="VARCHAR" property="emailAddress"/>
    <result column="address" jdbcType="VARCHAR" property="address"/>
    <result column="material_owner_desc" jdbcType="VARCHAR" property="materialOwnerDesc"/>
  </resultMap>

  <sql id="Base_Column_List">
    bmorw.material_owner_re_wh_id,
    bmorw.material_owner_id,
    bmorw.warehouse_id,
    bmorw.`status`,
    bmorw.remark,
    bmorw.org_id,
    bmorw.create_user_id,
    bmorw.create_time,
    bmorw.modified_user_id,
    bmorw.modified_time,
    bmorw.is_delete,
    bmorw.option1,
    bmorw.option2,
    bmorw.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    bw.warehouse_code,bw.warehouse_name,bw.warehouse_desc,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bmo.material_owner_code,bmo.material_owner_name,bmo.material_owner_short_name,bmo.link_man_name,
    bmo.link_man_phone,bmo.fax_number,bmo.e_mail_address,bmo.address,bmo.material_owner_desc,
    bo.organization_name
    from fantech_imes_v2.base_material_owner_re_wh bmorw
    left join fantech_imes_v2.base_warehouse bw on bmorw.warehouse_id=bw.warehouse_id
    left join fantech_imes_v2.base_material_owner bmo on bmorw.material_owner_id=bmo.material_owner_id
    left join ocean_v2.sys_user u on bmorw.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bmorw.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON bmorw.org_id = bo.organization_id
    <where>
      <if test="materialOwnerId!=null and materialOwnerId!=''">
        and bmorw.material_owner_id like CONCAT('%', #{materialOwnerId}, '%')
      </if>
      <if test="warehouseId!=null and warehouseId!=''">
        and bmorw.warehouse_id like CONCAT('%', #{warehouseId}, '%')
      </if>
      <if test="orgId!=null">
        and bmorw.org_id=#{orgId}
      </if>
    </where>
    order by bmorw.create_time desc
  </select>

</mapper>