<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseProcessInspectionItemMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProcessInspectionItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="process_inspection_item_id" jdbcType="BIGINT" property="processInspectionItemId" />
    <result column="process_inspection_item_code" jdbcType="VARCHAR" property="processInspectionItemCode" />
    <result column="process_inspection_item_desc" jdbcType="VARCHAR" property="processInspectionItemDesc" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="process_inspection_item_type" jdbcType="TINYINT" property="processInspectionItemType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <collection property="baseProcessInspectionItemItemList" ofType="com.fantechs.common.base.general.entity.basic.BaseProcessInspectionItemItem"
                column="{processInspectionItemId=process_inspection_item_id}" select="com.fantechs.provider.base.mapper.BaseProcessInspectionItemItemMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    bpii.process_inspection_item_id,
    bpii.process_inspection_item_code,
    bpii.process_inspection_item_desc,
    bpii.material_id,
    bpii.process_inspection_item_type,
    bpii.`status`,
    bpii.remark,
    bpii.org_id,
    bpii.create_user_id,
    bpii.create_time,
    bpii.modified_user_id,
    bpii.modified_time,
    bpii.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bm.material_code,bm.material_desc,bm.material_version,bpm.product_model_name,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_process_inspection_item bpii
    left join fantech_imes_v2.base_material bm on bpii.material_id=bm.material_id
    left join fantech_imes_v2.base_material_tab bmt on bpii.material_id=bmt.material_id
    left join fantech_imes_v2.base_product_model bpm on bmt.product_model_id=bpm.product_model_id
    left join ocean_v2.sys_user u on bpii.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bpii.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bpii.org_id = bo.organization_id
    <where>
      <if test="processInspectionItemCode!=null and processInspectionItemCode!=''">
        and bpii.process_inspection_item_code like CONCAT('%', #{processInspectionItemCode}, '%')
      </if>
      <if test="processInspectionItemDesc!=null and processInspectionItemDesc!=''">
        and bpii.process_inspection_item_desc like CONCAT('%', #{processInspectionItemDesc}, '%')
      </if>
      <if test="processInspectionItemType!=null">
        and bpii.process_inspection_item_type = #{processInspectionItemType}
      </if>
      <if test="materialId!=null">
        and bpii.material_id = #{materialId}
      </if>
      <if test="materialCode!=null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="status!=null">
        and bpii.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bpii.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bpii.org_id=#{orgId}
      </if>
    </where>
    order by bpii.create_time desc
  </select>
</mapper>