<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseCalendarWorkShiftMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseCalendarWorkShift">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="calendar_work_shift_id" jdbcType="BIGINT" property="calendarWorkShiftId" />
    <result column="work_shift_id" jdbcType="BIGINT" property="workShiftId" />
    <result column="calendar_id" jdbcType="BIGINT" property="calendarId" />
    <result column="day" jdbcType="TINYINT" property="day" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseCalendarWorkShiftDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    bcws.calendar_work_shift_id,
	bcws.work_shift_id,
	bcws.calendar_id,
	bcws.`day`,
	bcws.`status`,
	bcws.remark,
	bcws.org_id,
	bcws.create_user_id,
	bcws.create_time,
	bcws.modified_user_id,
	bcws.modified_time,
	bcws.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    FROM base_calendar_work_shift bcws
    LEFT JOIN sys_user su ON bcws.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bcws.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bcws.org_id = bo.organization_id
    <where>
      <if test="startTime != null and endTime != null">
        and date_format(bcws.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="calendarId != null and calendarId !=''">
        and bcws.calendar_id =#{calendarId}
      </if>
      <if test="day != null and day !=''">
        and bcws.`day` = #{day}
      </if>
      <if test="status!=null">
        and bcws.status=#{status}
      </if>
      <if test="orgId!=null">
        and bcws.org_id=#{orgId}
      </if>
    </where>
    order by bcws.day desc
  </select>
</mapper>
