<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtWarehouse">
    <id column="ht_warehouse_id" jdbcType="BIGINT" property="htWarehouseId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_desc" jdbcType="VARCHAR" property="warehouseDesc" />
    <result column="warehouse_category" jdbcType="BIGINT" property="warehouseCategory" />
    <result column="capacity" jdbcType="DECIMAL" property="capacity" />
    <result column="temperature" jdbcType="DECIMAL" property="temperature" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName"/>
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone"/>
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber"/>
    <result column="address" jdbcType="VARCHAR" property="address"/>
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    shw.ht_warehouse_id,
	shw.warehouse_id,
	shw.warehouse_code,
	shw.warehouse_name,
	shw.warehouse_desc,
	shw.warehouse_category,
	shw.temperature,
	shw.capacity,
    shw.link_man_name,
    shw.link_man_phone,
    shw.fax_number,
    shw.address,
	shw.unit,
	shw.`status`,
	shw.remark,
	shw.org_id,
	shw.create_user_id,
	shw.create_time,
	shw.modified_user_id,
	shw.modified_time,
	shw.is_delete,
	shw.option1,
	shw.option2,
	shw.option3
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"></include>,
    u.user_name as createUserName, s.user_name as modifiedUserName,
    bo.organization_name
    from base_ht_warehouse shw
    left join sys_user u on shw.create_user_id=u.user_id
    left join sys_user s on shw.modified_user_id=s.user_id
    LEFT JOIN base_organization bo ON shw.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(shw.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="warehouseCode!=null and warehouseCode!=''">
        and shw.warehouse_code like CONCAT('%', #{warehouseCode}, '%')
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and shw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
      </if>
      <if test="warehouseDesc!=null and warehouseDesc!=''">
        and shw.warehouse_desc like CONCAT('%', #{warehouseDesc}, '%')
      </if>
        <if test="orgId!=null">
            and shw.org_id=#{orgId}
        </if>
    </where>
    order by shw.modified_time desc
  </select>
</mapper>
