<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseInAndOutRuleTypeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseInAndOutRuleType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="in_and_out_rule_type_id" jdbcType="BIGINT" property="inAndOutRuleTypeId" />
    <result column="in_and_out_rule_type_code" jdbcType="VARCHAR" property="inAndOutRuleTypeCode" />
    <result column="in_and_out_rule_type_name" jdbcType="VARCHAR" property="inAndOutRuleTypeName" />
    <result column="category" jdbcType="TINYINT" property="category" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    biaort.in_and_out_rule_type_id,
    biaort.in_and_out_rule_type_code,
    biaort.in_and_out_rule_type_name,
    biaort.category,
    biaort.`status`,
    biaort.remark,
    biaort.org_id,
    biaort.create_user_id,
    biaort.create_time,
    biaort.modified_user_id,
    biaort.modified_time,
    biaort.is_delete,
    biaort.option1,
    biaort.option2,
    biaort.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    SELECT<include refid="Base_Column_List"/>,
    su.user_name as create_user_name,
    sus.user_name as modified_user_name,
    bo.organization_name FROM fantech_imes_v2.base_in_and_out_rule_type biaort
    LEFT JOIN ocean_v2.sys_user su ON biaort.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON biaort.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON biaort.org_id = bo.organization_id
    <where>
      <if test="inAndOutRuleTypeCode!=null and inAndOutRuleTypeCode!=''">
        and biaort.in_and_out_rule_type_code LIKE CONCAT('%',#{inAndOutRuleTypeCode},'%')
      </if>
      <if test="inAndOutRuleTypeName!=null and inAndOutRuleTypeName!=''">
        and biaort.in_and_out_rule_type_name LIKE CONCAT('%',#{inAndOutRuleTypeName},'%')
      </if>
      <if test="category!=null">
        and biaort.category = #{category}
      </if>
      <if test="status!=null">
        and biaort.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(biaort.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and biaort.org_id=#{orgId}
      </if>
    </where>
    order by biaort.create_time desc
  </select>
</mapper>