<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseProductBomDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProductBomDet">
        <id column="product_bom_det_id" jdbcType="BIGINT" property="productBomDetId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="dispatch_type" jdbcType="TINYINT" property="dispatchType" />
        <result column="issue_method" jdbcType="TINYINT" property="issueMethod" />
        <result column="loss_rate" jdbcType="DECIMAL" property="lossRate" />
        <result column="transfer_qty" jdbcType="INTEGER" property="transferQty" />
        <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId" />
        <result column="process_id" jdbcType="BIGINT" property="processId" />
        <result column="usage_qty" jdbcType="DECIMAL" property="usageQty" />
        <result column="base_qty" jdbcType="DECIMAL" property="baseQty" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
        <result column="if_have_lower_level" jdbcType="TINYINT" property="ifHaveLowerLevel" />
       <!-- <collection property="baseProductBomDets"
                    ofType="com.fantechs.common.base.general.entity.basic.BaseProductBomDet"
                    select="com.fantechs.provider.base.mapper.BaseProductBomDetMapper.findNextLevelProductBomDet"
                    column="product_bom_det_id"/>-->
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseProductBomDetDto" extends="BaseResultMap">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="sub_material_code" jdbcType="VARCHAR" property="subMaterialCode"/>
        <result column="sub_material_name" jdbcType="VARCHAR" property="subMaterialName"/>
        <result column="sub_material_desc" jdbcType="VARCHAR" property="subMaterialDesc"/>
        <result column="sub_version" jdbcType="VARCHAR" property="subVersion"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="pro_code" jdbcType="VARCHAR" property="proCode"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="pro_desc" jdbcType="VARCHAR" property="proDesc"/>
        <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="process_desc" jdbcType="VARCHAR" property="processDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
    spbd.product_bom_det_id,
	spbd.product_bom_id,
	spbd.material_id,
	spbd.dispatch_type,
	spbd.issue_method,
	spbd.loss_rate,
	spbd.transfer_qty,
	spbd.sub_material_id,
	spbd.process_id,
	spbd.usage_qty,
	spbd.base_qty,
	spbd.position,
	spbd.status,
	spbd.remark,
	spbd.org_id,
	spbd.create_user_id,
	spbd.create_time,
	spbd.modified_user_id,
	spbd.modified_time,
	spbd.is_delete,
	spbd.option1,
	spbd.option2,
	spbd.option3,
	spbd.if_have_lower_level
  </sql>
    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>,
        sm.material_code as material_code,sm.material_name as material_name,sm.material_version as material_version ,
        sm.material_desc as material_desc,
        sp.process_name,u.user_name as create_user_name,s.user_name as modified_user_name,
        bo.organization_name
        from base_product_bom_det spbd
        left join base_material sm on spbd.material_id=sm.material_id
        left join base_process sp on spbd.process_id=sp.process_id
        left join sys_user u on spbd.create_user_id=u.user_id
        left join sys_user s on spbd.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON spbd.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(spbd.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="productBomId!=null and productBomId!=''">
                and spbd.product_bom_id=#{productBomId}
            </if>
            <if test="productBomDetId!=null and productBomDetId!=''">
                and spbd.product_bom_det_id=#{productBomDetId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and spbd.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="orgId!=null">
                and spbd.org_id=#{orgId}
            </if>
        </where>
        order by spbd.create_time desc
    </select>


    <select id="findNextLevelProductBomDet" parameterType="long" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"/>,
        sm.material_code as material_code,sm.material_name as material_name,sm.material_version as material_version,
        sm.material_desc as material_desc,sp.process_name as process_name ,sp.process_code as process_code, sp.process_desc as process_desc ,
        m.material_code as sub_material_code,m.material_name as sub_material_name,m.material_version as sub_material_version,m.material_desc as sub_material_desc,
        u.user_name as create_user_name,s.user_name as modified_user_name,bo.organization_name
        from base_product_bom_det spbd
        left join base_material sm on spbd.material_id=sm.material_id
        left join base_material m on spbd.sub_material_id=m.material_id
        left join base_process sp on spbd.process_id=sp.process_id
        left join sys_user u on spbd.create_user_id=u.user_id
        left join sys_user s on spbd.modified_user_id=s.user_id
        left join base_organization bo on spbd.org_id = bo.organization_id
        left join base_process bp on spbd.process_id = bp.process_id
        where spbd.product_bom_id = #{productBomId}
    </select>
</mapper>
