<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSignatureMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSignature">
        <id column="signature_id" jdbcType="BIGINT" property="signatureId"/>
        <result column="signature_code" jdbcType="VARCHAR" property="signatureCode"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="signature_regex" jdbcType="VARCHAR" property="signatureRegex"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
        <result column="fixed_signature" jdbcType="VARCHAR" property="fixedSignature"/>
        <result column="model_signature" jdbcType="VARCHAR" property="modelSignature"/>

        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        ss.signature_id,
        ss.signature_code,
        ss.material_id,
        ss.supplier_id,
        ss.signature_regex,
        ss.`status`,
        ss.remark,
        ss.org_id,
        ss.create_user_id,
        ss.create_time,
        ss.modified_user_id,
        ss.modified_time,
        ss.is_delete,
        ss.option1,
        ss.option2,
        ss.option3,
        ss.fixed_signature,
        ss.model_signature
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        sm.material_code as materialCode,
        sm.material_name as materialName,
        sm.material_version as materialVersion,
        sm.material_desc as materialDesc,
        ssu.supplier_name as supplierName,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from fantech_imes_v2.base_signature ss
        left join fantech_imes_v2.base_material sm on ss.material_id=sm.material_id
        left join fantech_imes_v2.base_supplier ssu on ss.supplier_id=ssu.supplier_id
        left join ocean_v2.sys_user u on ss.create_user_id=u.user_id
        left join ocean_v2.sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON ss.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(ss.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and sm.material_name like CONCAT('%', #{materialName}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and ssu.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>

            <if test="signatureCode!=null and signatureCode!=''">
                and ss.signature_code like CONCAT('%', #{signatureCode}, '%')
            </if>
            <if test="fixedSignature!=null and fixedSignature!=''">
                and ss.fixed_signature like CONCAT('%', #{fixedSignature}, '%')
            </if>
            <if test="modelSignature!=null and modelSignature!=''">
                and ss.model_signature like CONCAT('%', #{modelSignature}, '%')
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
            <if test="materialIds!=null">
                <foreach collection="materialIds" index="index" item="item" open="and ss.material_id in (" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by ss.create_time desc
    </select>
</mapper>