<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseBadnessDutyMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseBadnessDuty">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="badness_duty_id" jdbcType="BIGINT" property="badnessDutyId" />
    <result column="badness_duty_code" jdbcType="VARCHAR" property="badnessDutyCode" />
    <result column="badness_duty_desc" jdbcType="VARCHAR" property="badnessDutyDesc" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseBadnessDutyDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
        bbd.badness_duty_id,
        bbd.badness_duty_code,
        bbd.badness_duty_desc,
        bbd.org_id,
        bbd.remark,
        bbd.`status`,
        bbd.create_user_id,
        bbd.create_time,
        bbd.modified_user_id,
        bbd.modified_time,
        bbd.is_delete
    </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select<include refid="Base_Column_List"/>,
    su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
    from base_badness_duty bbd
    left join sys_user su on bbd.create_user_id = su.user_id
    left join sys_user sus on bbd.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bbd.org_id = bo.organization_id
    <where>
        <if test="startTime != null and endTime != null">
            and date_format(bbd.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
        </if>
      <if test="badnessDutyCode != null and badnessDutyCode != ''">
        and bbd.badness_duty_code like CONCAT('%',#{badnessDutyCode},'%')
      </if>
      <if test="badnessDutyDesc != null and badnessDutyDesc != ''">
        and bbd.badness_duty_desc like CONCAT('%',#{badnessDutyDesc},'%')
      </if>
        <if test="orgId!=null">
            and bbd.org_id=#{orgId}
        </if>
        <!-- 全表单查询 -->
        <if test="query != null">
            and #FULL_FROM_QUERY
        </if>
    </where>
      order by bbd.create_time desc
  </select>

</mapper>
