<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseUnitPriceMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseUnitPrice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="unit_price_id" jdbcType="BIGINT" property="unitPriceId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseUnitPriceDto"
               extends="BaseResultMap">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>

    </resultMap>

    <sql id="Base_Column_List">
        bup.unit_price_id,
        bup.material_id,
        bup.org_id,
        bup.remark,
        bup.`status`,
        bup.create_user_id,
        bup.create_time,
        bup.modified_user_id,
        bup.modified_time,
        bup.is_delete
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        select<include refid="Base_Column_List"/>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        sm.material_code,sm.material_name,
        spm.product_model_code,spm.product_model_name,
        bo.organization_name
        FROM fantech_imes_v2.base_unit_price bup
        LEFT JOIN fantech_imes_v2.base_material sm ON bup.material_id = sm.material_id
        LEFT JOIN fantech_imes_v2.base_material_tab bt ON sm.material_id = bt.material_id
        LEFT JOIN fantech_imes_v2.base_product_model spm ON bt.product_model_id = spm.product_model_id
        left join ocean_v2.sys_user su on bup.create_user_id = su.user_id
        left join ocean_v2.sys_user sus on bup.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON bup.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(bup.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and sm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName != null and materialName != ''">
                and sm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="materialId != null">
                and sm.material_id = #{materialId}
            </if>
            <if test="orgId!=null">
                and bup.org_id=#{orgId}
            </if>
        </where>
    </select>
</mapper>