<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseWarehouseMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseWarehouse">
        <id column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_desc" jdbcType="VARCHAR" property="warehouseDesc"/>
        <result column="warehouse_category" jdbcType="BIGINT" property="warehouseCategory"/>
        <result column="capacity" jdbcType="DECIMAL" property="capacity"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="complete_analysis" jdbcType="TINYINT" property="completeAnalysis"/>
        <result column="mrb_operation" jdbcType="TINYINT" property="mrbOperation"/>
        <result column="link_man_name" jdbcType="VARCHAR" property="linkManName"/>
        <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone"/>
        <result column="fax_number" jdbcType="VARCHAR" property="faxNumber"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        sw.warehouse_id,
        sw.warehouse_code,
        sw.warehouse_name,
        sw.warehouse_desc,
        sw.warehouse_category,
        sw.capacity,
        sw.temperature,
        sw.unit,
        sw.complete_analysis,
        sw.mrb_operation,
        sw.link_man_name,
        sw.link_man_phone,
        sw.fax_number,
        sw.address,
        sw.`status`,
        sw.remark,
        sw.org_id,
        sw.create_user_id,
        sw.create_time,
        sw.modified_user_id,
        sw.modified_time,
        sw.is_delete,
        sw.option1,
        sw.option2,
        sw.option3
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"></include>,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from fantech_imes_v2.base_warehouse sw
        left join ocean_v2.sys_user u on sw.create_user_id=u.user_id
        left join ocean_v2.sys_user s on sw.modified_user_id=s.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON sw.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(sw.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="warehouseCode!=null and warehouseCode!='' and codeQueryMark==1">
                and sw.warehouse_code = #{warehouseCode}
            </if>
            <if test="warehouseCode!=null and warehouseCode!='' and (codeQueryMark == null or codeQueryMark == '')">
                and sw.warehouse_code like CONCAT('%', #{warehouseCode}, '%')
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseDesc!=null and warehouseDesc!=''">
                and sw.warehouse_desc like CONCAT('%', #{warehouseDesc}, '%')
            </if>
            <if test="status!=null">
                and sw.status=#{status}
            </if>
            <if test="orgId!=null">
                and sw.org_id=#{orgId}
            </if>

            <if test="warehouseCategory!=null and warehouseCategory!=''">
                and sw.warehouse_category like CONCAT('%', #{warehouseCategory}, '%')
            </if>


        </where>
        order by sw.create_time desc
    </select>

    <update id="batchUpdateByCode" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_warehouse
            <set>
                warehouse_code =#{item.warehouseCode},
                warehouse_name =#{item.warehouseName},
                warehouse_desc =#{item.warehouseDesc},
                warehouse_category =#{warehouseCategory},
                link_man_name =#{item.linkManName},
                link_man_phone =#{item.linkManPhone},
                fax_number =#{item.faxNumber},
                address =#{item.address},
                sw.capacity =#{capacity},
                sw.temperature =#{temperature},
                sw.unit =#{unit},
                status =#{item.status},
                create_user_id =#{item.createUserId},
                create_time =#{item.createTime},
                modified_user_id =#{item.modifiedUserId},
                modified_time =#{item.modifiedTime},
                is_delete =#{item.isDelete},
                option1 =#{item.option1},
                option2 =#{item.option2},
                option3 =#{item.option3}
            </set>
            where warehouse_code =#{item.warehouseCode}
        </foreach>
    </update>
</mapper>
