<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtMaterialCategoryMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtMaterialCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ht_material_category_id" jdbcType="BIGINT" property="htMaterialCategoryId"/>
        <result column="material_category_id" jdbcType="BIGINT" property="materialCategoryId"/>
        <result column="material_category_code" jdbcType="VARCHAR" property="materialCategoryCode"/>
        <result column="material_category_name" jdbcType="VARCHAR" property="materialCategoryName"/>
        <result column="material_category_desc" jdbcType="VARCHAR" property="materialCategoryDesc"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        shmc.ht_material_category_id,
        shmc.material_category_id,
        shmc.material_category_code,
        shmc.material_category_name,
        shmc.material_category_desc,
        shmc.parent_id,
        shmc.organization_id,
        shmc.remark,
        shmc.status,
        shmc.create_user_id,
        shmc.create_time,
        shmc.modified_user_id,
        shmc.modified_time,
        shmc.is_delete
    </sql>

    <select id="findHtList" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>, bo.organization_name
        from fantech_imes_v2.smt_ht_material_category shmc
        LEFT JOIN fantech_imes_v2.base_organization bo ON shmc.organization_id = bo.organization_id
        <where>
            <if test="materialCategoryCode != null and materialCategoryCode != ''">
                and shmc.material_category_code like CONCAT('%', #{materialCategoryCode}, '%')
            </if>
            <if test="materialCategoryName != null and materialCategoryName != ''">
                and shmc.material_category_name like CONCAT('%', #{materialCategoryName}, '%')
            </if>

            <if test="materialCategoryDesc != null and materialCategoryDesc != ''">
                and shmc.material_category_desc like CONCAT('%', #{materialCategoryDesc}, '%')
            </if>
            <if test="parentId != null and parentId != ''">
                and shmc.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(shmc.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
