<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtStorageMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtStorage">
        <id column="ht_storage_id" jdbcType="BIGINT" property="htStorageId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc"/>
        <result column="capacity" jdbcType="DECIMAL" property="capacity"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="storage_type" jdbcType="TINYINT" property="storageType"/>
        <result column="roadway" jdbcType="INTEGER" property="roadway"/>
        <result column="row_no" jdbcType="INTEGER" property="rowNo"/>
        <result column="column_no" jdbcType="INTEGER" property="columnNo"/>
        <result column="level_no" jdbcType="INTEGER" property="levelNo"/>
        <result column="putaway_move_line_no" jdbcType="INTEGER" property="putawayMoveLineNo"/>
        <result column="picking_move_line_no" jdbcType="INTEGER" property="pickingMoveLineNo"/>
        <result column="stock_move_line_no" jdbcType="INTEGER" property="stockMoveLineNo"/>
        <result column="if_stock_lock" jdbcType="TINYINT" property="ifStockLock"/>
        <result column="surplus_load" jdbcType="DECIMAL" property="surplusLoad"/>
        <result column="surplus_volume" jdbcType="DECIMAL" property="surplusVolume"/>
        <result column="surplus_can_put_salver" jdbcType="INTEGER" property="surplusCanPutSalver"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="warehouse_category" jdbcType="BIGINT" property="warehouseCategory"/>
    </resultMap>

    <sql id="Base_Column_List">
        shs.ht_storage_id,
        shs.storage_id,
        shs.storage_code,
        shs.storage_name,
        shs.`level`,
        shs.storage_desc,
        shs.capacity,
        shs.temperature,
        shs.unit,
        shs.warehouse_id,
        shs.warehouse_area_id,
        shs.working_area_id,
        shs.storage_type,
        shs.roadway,
        shs.row_no,
        shs.column_no,
        shs.level_no,
        shs.putaway_move_line_no,
        shs.picking_move_line_no,
        shs.stock_move_line_no,
        shs.if_stock_lock,
        shs.surplus_load,
        shs.surplus_volume,
        shs.surplus_can_put_salver,
        shs.`status`,
        shs.remark,
        shs.org_id,
        shs.create_user_id,
        shs.create_time,
        shs.modified_user_id,
        shs.modified_time,
        shs.is_delete,
        shs.option1,
        shs.option2,
        shs.option3
    </sql>

    <select id="findHtList" parameterType="map"
            resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"></include>,
        sw.warehouse_name,sw.warehouse_category,bwa.working_area_code,
        swa.warehouse_area_name,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from fantech_imes_v2.base_ht_storage shs
        left join fantech_imes_v2.base_working_area bwa on shs.working_area_id=bwa.working_area_id
        left join fantech_imes_v2.base_warehouse_area swa on shs.warehouse_area_id=swa.warehouse_area_id
        left join fantech_imes_v2.base_warehouse sw on shs.warehouse_id=sw.warehouse_id
        left join ocean_v2.sys_user u on shs.create_user_id=u.user_id
        left join ocean_v2.sys_user s on shs.modified_user_id=s.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON shs.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(shs.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and shs.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="storageType!=null">
                and shs.storage_type = #{storageType}
            </if>
            <if test="storageName!=null and storageName!=''">
                and shs.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="storageDesc!=null and storageDesc!=''">
                and shs.storage_desc like CONCAT('%', #{storageDesc}, '%')
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and shs.warehouse_id=#{warehouseId}
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseAreaId!=null and warehouseAreaId!=''">
                and shs.warehouseAreaId=#{warehouseAreaId}
            </if>
            <if test="warehouseAreaName!=null and warehouseAreaName!=''">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="status!=null">
                and shs.status=#{status}
            </if>
            <if test="workingAreaCode!=null and workingAreaCode!=''">
                and bwa.working_area_code like CONCAT('%', #{workingAreaCode}, '%')
            </if>
            <if test="orgId!=null">
                and shs.org_id=#{orgId}
            </if>
        </where>
        order by shs.modified_time desc
    </select>

</mapper>
