<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtProductBomDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtProductBomDet">
        <id column="ht_product_bom_det_id" jdbcType="BIGINT" property="htProductBomDetId"/>
        <result column="product_bom_det_id" jdbcType="BIGINT" property="productBomDetId"/>
        <result column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="part_material_id" jdbcType="BIGINT" property="partMaterialId"/>
        <result column="sub_material_id" jdbcType="BIGINT" property="subMaterialId"/>
        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="base_quantity" jdbcType="DECIMAL" property="baseQuantity"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="part_material_code" jdbcType="VARCHAR" property="partMaterialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="sub_material_code" jdbcType="VARCHAR" property="subMaterialCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        shpbd.ht_product_bom_det_id,
        shpbd.product_bom_det_id,
        shpbd.product_bom_id,
        shpbd.part_material_id,
        shpbd.sub_material_id,
        shpbd.process_id,
        shpbd.quantity,
        shpbd.base_quantity,
        shpbd.position,
        shpbd.remark,
        shpbd.org_id,
        shpbd.create_user_id,
        shpbd.create_time,
        shpbd.modified_user_id,
        shpbd.modified_time,
        shpbd.is_delete,
        shpbd.option1,
        shpbd.option2,
        shpbd.option3
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        sm.material_code as part_material_code, sm.material_name, sm.material_version, sm.material_desc,
        sml.material_code as sub_material_code, sp.process_name,
        u.user_name as create_user_name, s.user_name as modified_user_name,
        bo.organization_name
        from base_ht_product_bom_det shpbd
        left join base_material sm on shpbd.part_material_id=sm.material_id
        left join base_material sml on shpbd.sub_material_id=sml.material_id
        left join base_process sp on shpbd.process_id=sp.process_id
        left join sys_user u on shpbd.create_user_id=u.user_id
        left join sys_user s on shpbd.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON shpbd.org_id = bo.organization_id
        <where>
            1=1
            <if test="startTime!= null and endTime!= null">
                and date_format(shpbd.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="productBomId!=null and productBomId!=''">
                and shpbd.product_bom_id=#{productBomId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and shpbd.part_material_id=#{materialId}
            </if>
            <if test="partMaterialCode!=null and partMaterialCode!=''">
                and sm.material_code like CONCAT('%', #{partMaterialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="orgId!=null">
                and shpbd.org_id=#{orgId}
            </if>
        </where>
        order by shpbd.modified_time desc
    </select>
</mapper>
