<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSampleTransitionRuleMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSampleTransitionRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sample_transition_rule_id" jdbcType="BIGINT" property="sampleTransitionRuleId" />
    <result column="sample_transition_rule_code" jdbcType="VARCHAR" property="sampleTransitionRuleCode" />
    <result column="sample_transition_rule_desc" jdbcType="VARCHAR" property="sampleTransitionRuleDesc" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <collection property="list" ofType="com.fantechs.common.base.general.entity.basic.BaseSampleTransitionRuleDet"
                column="{sampleTransitionRuleId=sample_transition_rule_id}" select="com.fantechs.provider.base.mapper.BaseSampleTransitionRuleDetMapper.findList">

    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.basic.BaseSampleTransitionRuleDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bstr.sample_transition_rule_id,
	bstr.sample_transition_rule_code,
	bstr.sample_transition_rule_desc,
	bstr.org_id,
	bstr.remark,
	bstr.`status`,
	bstr.create_user_id,
	bstr.create_time,
	bstr.modified_user_id,
	bstr.modified_time,
	bstr.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    FROM base_sample_transition_rule AS bstr
    LEFT JOIN ocean_v2.sys_user su ON bstr.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON bstr.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON bstr.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bstr.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="sampleTransitionRuleCode != null and sampleTransitionRuleCode!=''">
        and bstr.sample_transition_rule_code like CONCAT('%', #{sampleTransitionRuleCode}, '%')
      </if>
      <if test="sampleTransitionRuleDesc != null and sampleTransitionRuleDesc!=''">
        and bstr.sample_transition_rule_desc like CONCAT('%', #{sampleTransitionRuleDesc}, '%')
      </if>
      <if test="orgId!=null">
        and bstr.org_id=#{orgId}
      </if>
    </where>
    order by bstr.create_time desc
  </select>


</mapper>
