<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtProLineMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtProLine">
        <id column="ht_pro_line_id" jdbcType="BIGINT" property="htProLineId"/>
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId"/>
        <result column="pro_code" jdbcType="VARCHAR" property="proCode"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="pro_desc" jdbcType="VARCHAR" property="proDesc"/>
        <result column="factory_id" jdbcType="BIGINT" property="factoryId"/>
        <result column="work_shop_id" jdbcType="BIGINT" property="workShopId"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>
    <sql id="Base_Column_List">
        shpl.ht_pro_line_id,
        shpl.pro_line_id,
        shpl.pro_code,
        shpl.pro_name,
        shpl.pro_desc,
        shpl.factory_id,
        shpl.work_shop_id,
        shpl.status,
        shpl.create_user_id,
        shpl.create_time,
        shpl.modified_user_id,
        shpl.modified_time,
        shpl.option1,
        shpl.option2,
        shpl.option3,
        shpl.org_id,
        shpl.remark
    </sql>

    <select id="selectHtProLines" parameterType="map"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>,
        f.factory_name as factoryName,
        ws.work_shop_name as workShopName,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from fantech_imes_v2.base_ht_pro_line shpl
        left join ocean_v2.sys_user u on shpl.create_user_id=u.user_id
        left join ocean_v2.sys_user s on shpl.modified_user_id=s.user_id
        left join fantech_imes_v2.base_factory f on shpl.factory_id=f.factory_id
        left join fantech_imes_v2.base_work_shop ws on shpl.work_shop_id= ws.work_shop_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON shpl.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(shpl.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="proCode!=null and proCode!=''">
                and shpl.pro_code like CONCAT('%', #{proCode}, '%')
            </if>
            <if test="proName!=null and proName!=''">
                and shpl.pro_name like CONCAT('%', #{proName}, '%')
            </if>
            <if test="proDesc!=null and proDesc!=''">
                and shpl.pro_desc like CONCAT('%', #{proDesc}, '%')
            </if>
            <if test="orgId!=null">
                and shpl.org_id=#{orgId}
            </if>
        </where>
        order by shpl.modified_time desc
    </select>
</mapper>