<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseProcessMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProcess">
        <id column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="process_desc" jdbcType="VARCHAR" property="processDesc"/>
        <result column="section_id" jdbcType="BIGINT" property="sectionId"/>
        <result column="process_category_id" jdbcType="BIGINT" property="processCategoryId"/>

        <result column="is_job_scan" jdbcType="TINYINT" property="isJobScan"/>
        <result column="is_start_scan" jdbcType="TINYINT" property="isStartScan"/>
        <result column="is_quality" jdbcType="TINYINT" property="isQuality"/>
        <result column="finish_time" jdbcType="DECIMAL" property="finishTime"/>

        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="effective_start_time" jdbcType="TIMESTAMP" property="effectiveStartTime"/>
        <result column="effective_end_time" jdbcType="TIMESTAMP" property="effectiveEndTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        sp.process_id,
        sp.process_code,
        sp.process_name,
        sp.process_desc,
        sp.section_id,
        sp.process_category_id,
        sp.is_job_scan,
        sp.is_start_scan,
        sp.is_quality,
        sp.finish_time,
        sp.`status`,
        sp.remark,
        sp.org_id,
        sp.create_user_id,
        sp.create_time,
        sp.modified_user_id,
        sp.modified_time,
        sp.is_delete,
        sp.option1,
        sp.option2,
        sp.option3
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        sws.section_name as sectionName,
        spc.process_category_name as processCategoryName,spc.process_category_code as processCategoryCode,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from base_process sp
        left join base_workshop_section sws on sp.section_id=sws.section_id
        left join base_process_category spc on sp.process_category_id=spc.process_category_id
        left join sys_user u on sp.create_user_id=u.user_id
        left join sys_user s on sp.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON sp.org_id = bo.organization_id
        <where>
            <if test="processId!=null">
                and sp.process_id=#{processId}
            </if>
            <if test="startTime!= null and endTime!= null">
                and date_format(sp.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="processCode!=null and processCode!='' and codeQueryMark == null">
                and sp.process_code like CONCAT('%', #{processCode}, '%')
            </if>
            <if test="processCode!=null and processCode!='' and codeQueryMark == 1">
                and sp.process_code = #{processCode}
            </if>
            <if test="processName!=null and processName!=''">
                and sp.process_name like CONCAT('%', #{processName}, '%')
            </if>
            <if test="processDesc!=null and processDesc!=''">
                and sp.process_desc like CONCAT('%', #{processDesc}, '%')
            </if>
            <if test="sectionId!=null and sectionId!=''">
                and sp.section_id=#{sectionId}
            </if>
            <if test="sectionName!=null and sectionName!=''">
                and sws.section_name like CONCAT('%', #{sectionName}, '%')
            </if>
            <if test="processCategoryId!=null and processCategoryId!=''">
                and sp.process_category_id=#{processCategoryId}
            </if>
            <if test="processCategoryName!=null and processCategoryName!=''">
                and spc.process_category_name like CONCAT('%', #{processCategoryName}, '%')
            </if>
            <if test="processCategoryCode!=null and processCategoryCode!=''">
                and spc.process_category_code = #{processCategoryCode}
            </if>
            <if test="status!=null">
                and sp.status=#{status}
            </if>
            <if test="isJobScan !=null">
                and sp.is_job_scan = #{isJobScan}
            </if>
            <if test="isStartScan !=null">
                and sp.is_start_scan = #{isStartScan}
            </if>
            <if test="searchType==1 and routeId!=null and routeId!= ''">
                and sp.process_id IN (SELECT srp.process_id FROM base_route_process srp WHERE srp.route_id=#{routeId})
                and sp.status=1
            </if>
            <if test="searchType==0 and routeId!=null and routeId!= ''">
                and sp.process_id NOT IN (SELECT srp.process_id FROM base_route_process srp WHERE srp.route_id=#{routeId})
                and sp.status=1
            </if>

            <if test="searchType==1 and staffId!=null and staffId!=''">
                and sp.process_id IN (SELECT bsp.process_id FROM base_staff_process bsp WHERE bsp.staff_id=#{staffId})
                and sp.status=1
            </if>
            <if test="searchType==0 and staffId!=null and staffId!=''">
                and sp.process_id NOT IN (SELECT bsp.process_id FROM base_staff_process bsp WHERE bsp.staff_id=#{staffId})
                and sp.status=1
            </if>
            <if test="orgId!=null">
                and sp.org_id=#{orgId}
            </if>
            <!-- 全表单查询 -->
            <if test="query != null">
                and #FULL_FROM_QUERY
            </if>
        </where>
        order by sp.create_time desc
    </select>
</mapper>
