<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseRouteMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseRoute">
        <id column="route_id" jdbcType="BIGINT" property="routeId"/>
        <result column="route_code" jdbcType="VARCHAR" property="routeCode"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="route_desc" jdbcType="VARCHAR" property="routeDesc"/>
        <result column="route_type" jdbcType="TINYINT" property="routeType"/>
        <result column="standard_time" jdbcType="TIMESTAMP" property="standardTime"/>
        <result column="readiness_time" jdbcType="TIMESTAMP" property="readinessTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="process_id" jdbcType="BIGINT" property="processId"/>
        <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="process_desc" jdbcType="VARCHAR" property="processDesc"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        sr.route_id,
        sr.route_code,
        sr.route_name,
        sr.route_desc,
        sr.route_type,
        sr.readiness_time,
        sr.standard_time,
        sr.`status`,
        sr.remark,
        sr.org_id,
        sr.create_user_id,
        sr.create_time,
        sr.modified_user_id,
        sr.modified_time,
        sr.is_delete,
        sr.option1,
        sr.option2,
        sr.option3
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        u.user_name as create_user_name, s.user_name as modified_user_name,
        bo.organization_name
        from base_route sr
        left join sys_user u on sr.create_user_id=u.user_id
        left join sys_user s on sr.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON sr.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(sr.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="routeCode!=null and routeCode!='' and codeQueryMark != 1">
                and sr.route_code like CONCAT('%', #{routeCode}, '%')
            </if>
            <if test="routeCode!=null and routeCode!='' and codeQueryMark == 1">
                and sr.route_code = #{routeCode}
            </if>
            <if test="routeName!=null and routeName!='' and nameQueryMark != 1">
                and sr.route_name like CONCAT('%', #{routeName}, '%')
            </if>
            <if test="routeName!=null and routeName!='' and nameQueryMark == 1">
                and sr.route_name = #{routeName}
            </if>
            <if test="routeDesc!=null and routeDesc!=''">
                and sr.route_desc like CONCAT('%', #{routeDesc}, '%')
            </if>
            <if test="routeType!=null and routeType!=''">
                and sr.route_type = #{routeType}
            </if>
            <if test="status!=null">
                and sr.status=#{status}
            </if>
            <if test="orgId!=null">
                and sr.org_id=#{orgId}
            </if>
        </where>
        order by sr.create_time desc
    </select>
</mapper>
