<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtProductModelMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtProductModel">
        <id column="ht_product_model_id" jdbcType="BIGINT" property="htProductModelId"/>
        <result column="product_model_id" jdbcType="BIGINT" property="productModelId"/>
        <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="product_model_desc" jdbcType="VARCHAR" property="productModelDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="product_family_id" jdbcType="VARCHAR" property="productFamilyId"/>
        <result column="product_family_code" jdbcType="VARCHAR" property="productFamilyCode"/>
        <result column="product_family_name" jdbcType="VARCHAR" property="productFamilyName"/>
        <result column="product_family_desc" jdbcType="VARCHAR" property="productFamilyDesc"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>
    <sql id="Base_Column_List">
        shpm.ht_product_model_id,
        shpm.product_model_id,
        shpm.product_model_code,
        shpm.product_model_name,
        shpm.product_model_desc,
        shpm.status,
        shpm.create_user_id,
        shpm.create_time,
        shpm.modified_user_id,
        shpm.modified_time,
        shpm.option1,
        shpm.option2,
        shpm.option3,
        shpm.org_id,
        shpm.remark
    </sql>

    <select id="selectHtProductModels"
            parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        bpf.product_family_code, bpf.product_family_name, bpf.product_family_desc,
        u.user_name as create_user_name,
        s.user_name as modified_user_name,
        bo.organization_name
        from fantech_imes_v2.base_ht_product_model shpm
        left join ocean_v2.sys_user u on shpm.create_user_id=u.user_id
        left join ocean_v2.sys_user s on shpm.modified_user_id=s.user_id
        left join fantech_imes_v2.base_product_family bpf on shpm.product_family_id = bpf.product_family_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON shpm.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(shpm.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="productModelCode!=null and productModelCode!=''">
                and shpm.product_model_code like CONCAT('%', #{productModelCode}, '%')
            </if>
            <if test="productModelDesc!=null and productModelDesc!=''">
                and shpm.product_model_desc like CONCAT('%', #{productModelDesc}, '%')
            </if>
            <if test="productModelName!=null and productModelName!=''">
                and shpm.product_model_name like CONCAT('%', #{productModelName}, '%')
            </if>
            <if test="productFamilyName!=null and productFamilyName!=''">
                and bpf.product_family_name like CONCAT('%', #{productFamilyName}, '%')
            </if>
            <if test="orgId!=null">
                and shpm.org_id=#{orgId}
            </if>
        </where>
        order by shpm.modified_time desc
    </select>
</mapper>