<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseStorageMaterialMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseStorageMaterial">
        <id column="storage_material_id" jdbcType="BIGINT" property="storageMaterialId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        ssm.storage_material_id,
        ssm.storage_id,
        ssm.material_id,
        ssm.warehouse_id,
        ssm.warehouse_area_id,
        ssm.`status`,
        ssm.remark,
        ssm.organization_id,
        ssm.create_user_id,
        ssm.create_time,
        ssm.modified_user_id,
        ssm.modified_time,
        ssm.is_delete,
        ssm.option1,
        ssm.option2,
        ssm.option3
    </sql>

    <select id="findList" parameterType="com.fantechs.common.base.general.entity.basic.search.SearchBaseStorageMaterial"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>,
        ss.storage_code as storageCode, ss.storage_name as storageName,ss.storage_desc as storageDesc,
        sm.material_code as materialCode, sm.material_name as materialName, sm.version, sm.material_desc as materialDesc,
        sw.warehouse_name as warehouseName,
        swa.warehouse_area_name as warehouseAreaName,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        bo.organization_name
        from fantech_imes_v2.smt_storage_material ssm
        left join fantech_imes_v2.smt_storage ss on ssm.storage_id=ss.storage_id
        left join fantech_imes_v2.smt_material sm on ssm.material_id=sm.material_id
        left join fantech_imes_v2.smt_warehouse sw on ssm.warehouse_id=sw.warehouse_id
        left join fantech_imes_v2.smt_warehouse_area swa on ssm.warehouse_area_id=swa.warehouse_area_id
        left join ocean_v2.sys_user u on ss.create_user_id=u.user_id
        left join ocean_v2.sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON ssm.organization_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(ssm.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and ssm.warehouse_id=#{warehouseId}
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseAreaId!=null and warehouseAreaId!=''">
                and ssm.warehouse_area_id=#{warehouseAreaId}
            </if>
            <if test="warehouseAreaName!=null and warehouseAreaName!=''">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="storageId!=null and storageId!=''">
                and ssm.storage_id=#{storageId}
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and ss.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="storageName!=null and storageName!=''">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="materialId!=null and materialId!=''">
                and ssm.material_id=#{materialId}
            </if>
            <if test="materialCode!=null and materialCode!='' and (codeQueryMark == '' or codeQueryMark == null)">
                and sm.material_code=#{materialCode}
            </if>
            <if test="materialCode!=null and materialCode!='' and codeQueryMark == 2">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="status!=null">
                and ssm.status=#{status}
            </if>
        </where>
        order by ssm.create_time desc
    </select>
</mapper>