<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseProductBomMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseProductBom">
        <id column="product_bom_id" jdbcType="BIGINT" property="productBomId"/>
        <result column="product_bom_code" jdbcType="VARCHAR" property="productBomCode" />
        <result column="product_bom_version" jdbcType="VARCHAR" property="productBomVersion" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="takt" jdbcType="INTEGER" property="takt" />
        <result column="bom_status" jdbcType="TINYINT" property="bomStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
        <!--        <collection property="baseProductBomDets"
                            ofType="com.fantechs.common.base.general.entity.basic.BaseProductBomDet"
                            select="com.fantechs.provider.base.mapper.BaseProductBomDetMapper.findFirstLevelProductBomDet"
                            column="product_bom_id"/>-->
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseProductBomDto" extends="BaseResultMap">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
        <result column="sub_material_code" jdbcType="VARCHAR" property="subMaterialCode"/>
        <result column="sub_material_name" jdbcType="VARCHAR" property="subMaterialName"/>
        <result column="sub_material_desc" jdbcType="VARCHAR" property="subMaterialDesc"/>
        <result column="sub_version" jdbcType="VARCHAR" property="subVersion"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="pro_code" jdbcType="VARCHAR" property="proCode"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="pro_desc" jdbcType="VARCHAR" property="proDesc"/>
        <result column="process_code" jdbcType="VARCHAR" property="processCode"/>
        <result column="process_name" jdbcType="VARCHAR" property="processName"/>
        <result column="process_desc" jdbcType="VARCHAR" property="processDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
        spb.product_bom_id,
        spb.product_bom_code,
        spb.product_bom_version,
        spb.material_id,
        spb.takt,
        spb.bom_status,
        spb.status,
        spb.remark,
        spb.org_id,
        spb.create_user_id,
        spb.create_time,
        spb.modified_user_id,
        spb.modified_time,
        spb.is_delete,
        spb.option1,
        spb.option2,
        spb.option3
    </sql>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        select <include refid="Base_Column_List"></include>,
        sm.material_code as material_code,sm.material_name as material_name,sm.material_version as material_version,
        sm.material_desc as material_desc,
        u.user_name as create_user_name,s.user_name as modified_user_name,
        bo.organization_name
        from base_product_bom spb
        left join base_material sm on spb.material_id=sm.material_id
        left join sys_user u on spb.create_user_id=u.user_id
        left join sys_user s on spb.modified_user_id=s.user_id
        left join base_organization bo ON spb.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(spb.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="productBomCode!=null and productBomCode!=''">
                and spb.product_bom_code like CONCAT('%', #{productBomCode}, '%')
            </if>
            <if test="productBomId!=null and productBomId!=''">
                and spb.product_bom_id =#{productBomId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and spb.material_id=#{materialId}
            </if>
            <if test="productBomVersion!=null and productBomVersion!=''">
                and spb.product_bom_version=#{productBomVersion}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="status!=null">
                and spb.status=#{status}
            </if>
            <if test="orgId!=null">
                and spb.org_id=#{orgId}
            </if>
            <!-- 全表单查询 -->
            <if test="query != null">
                and #FULL_FROM_QUERY
            </if>
        </where>
        order by spb.create_time desc
    </select>
</mapper>
