<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtInspectionTypeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtInspectionType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_inspection_type_id" jdbcType="BIGINT" property="htInspectionTypeId" />
    <result column="inspection_type_id" jdbcType="BIGINT" property="inspectionTypeId" />
    <result column="inspection_type_code" jdbcType="VARCHAR" property="inspectionTypeCode" />
    <result column="inspection_type_name" jdbcType="VARCHAR" property="inspectionTypeName" />
    <result column="inspection_type_level" jdbcType="BIGINT" property="inspectionTypeLevel" />
    <result column="inspection_tool" jdbcType="BIGINT" property="inspectionTool" />
    <result column="inspection_standard" jdbcType="VARCHAR" property="inspectionStandard" />
    <result column="inspection_nape" jdbcType="BIGINT" property="inspectionNape" />
    <result column="batch" jdbcType="DECIMAL" property="batch" />
    <result column="aql" jdbcType="DECIMAL" property="aql" />
    <result column="sampling_amount" jdbcType="DECIMAL" property="samplingAmount" />
    <result column="ac" jdbcType="DECIMAL" property="ac" />
    <result column="re" jdbcType="DECIMAL" property="re" />
    <result column="test_method" jdbcType="BIGINT" property="testMethod" />
    <result column="test_times" jdbcType="DECIMAL" property="testTimes" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    qhit.ht_inspection_type_id,qhit.inspection_type_id,qhit.inspection_type_code,qhit.inspection_type_name,qhit.inspection_type_level,
    qhit.inspection_tool,qhit.inspection_standard,qhit.inspection_nape,qhit.batch,qhit.aql,qhit.sampling_amount,
    qhit.ac,qhit.re,qhit.test_method,qhit.test_times,qhit.remark,qhit.status,qhit.create_user_id,qhit.create_time,
    qhit.modified_user_id,qhit.modified_time,qhit.is_delete, qhit.organization_id
  </sql>

  <select id="findHtList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>, bo.organization_name
    from fantech_imes_v2.base_ht_inspection_type qhit
    LEFT JOIN fantech_imes_v2.base_organization bo ON qhit.organization_id = bo.organization_id
    <where>
      <if test="inspectionTypeCode != null and inspectionTypeCode != ''">
        and qhit.inspection_type_code like CONCAT('%', #{inspectionTypeCode}, '%')
      </if>
      <if test="inspectionTypeName != null and inspectionTypeName != ''">
        and qhit.inspection_type_name like CONCAT('%', #{inspectionTypeName}, '%')
      </if>
      <if test="inspectionTypeLevel != null and inspectionTypeLevel != ''">
        and qhit.inspection_type_level like CONCAT('%', #{inspectionTypeLevel}, '%')
      </if>
      <if test="inspectionNape != null and inspectionNape != ''">
        and qhit.inspection_nape like CONCAT('%', #{inspectionNape}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qhit.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qhit.org_id=#{orgId}
      </if>
    </where>
    order by create_time desc
  </select>

</mapper>
