<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtWorkingAreaReWMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtWorkingAreaReW">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ht_working_area_re_w_id" jdbcType="BIGINT" property="htWorkingAreaReWId" />
        <result column="working_area_re_w_id" jdbcType="BIGINT" property="workingAreaReWId" />
        <result column="worker_id" jdbcType="BIGINT" property="workerId" />
        <result column="working_area_id" jdbcType="BIGINT" property="workingAreaId" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseWorkingAreaReWDto">
        <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    </resultMap>

    <sql id="Base_Column_List">
        bhwarw.ht_working_area_re_w_id, bhwarw.working_area_re_w_id,
        bhwarw.worker_id, bhwarw.working_area_id, bhwarw.status,
        bhwarw.remark, bhwarw.org_id, bhwarw.create_user_id, bhwarw.create_time,
        bhwarw.modified_user_id, bhwarw.modified_time, bhwarw.is_delete,
        bhwarw.option1, bhwarw.option2, bhwarw.option3
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        bwa.working_area_code,
        bwha.warehouse_area_name
        FROM base_ht_working_area_re_w bhwarw
        LEFT JOIN base_working_area bwa ON bhwarw.working_area_id = bwa.working_area_id
        LEFT JOIN base_warehouse_area bwha ON bhwarw.warehouse_area_id = bwa.warehouse_area_id
        <where>
            <if test="startTime!= null and endTime!= null">
                AND date_format(bhwarw.create_time, "%Y-%m-%d") BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="worker_id != null">
                AND bhwarw.worker_id = #{worker_id}
            </if>
            <if test="orgId!=null">
                and bhwarw.org_id=#{orgId}
            </if>
        </where>
        ORDER BY bhwarw.modified_time DESC
    </select>
</mapper>