<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseWorkShiftMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseWorkShift">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="work_shift_id" jdbcType="BIGINT" property="workShiftId" />
    <result column="work_shift_code" jdbcType="VARCHAR" property="workShiftCode" />
    <result column="work_shift_name" jdbcType="VARCHAR" property="workShiftName" />
    <result column="work_shift_desc" jdbcType="VARCHAR" property="workShiftDesc" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseWorkShiftDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bws.work_shift_id,
	bws.work_shift_code,
	bws.work_shift_name,
	bws.work_shift_desc,
	bws.org_id,
	bws.remark,
	bws.`status`,
	bws.create_user_id,
	bws.create_time,
	bws.modified_user_id,
	bws.modified_time,
	bws.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name
    FROM fantech_imes_v2.base_work_shift bws
    LEFT JOIN ocean_v2.sys_user su ON bws.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON bws.modified_user_id = sus.user_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bws.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="workShiftCode != null and workShiftCode!=''">
        and bws.work_shift_code like CONCAT('%', #{workShiftCode}, '%')
      </if>
      <if test="workShiftName != null and workShiftName!=''">
        and bws.work_shift_name like CONCAT('%', #{workShiftName}, '%')
      </if>
      <if test="workShiftDesc != null and workShiftDesc!=''">
        and bws.work_shift_desc like CONCAT('%', #{workShiftDesc}, '%')
      </if>
      <if test="workShiftId != null and workShiftId!=''">
        and bws.work_shift_id = #{workShiftId}
      </if>
      <if test="status!=null">
        and bws.status=#{status}
      </if>
      <if test="orgId!=null">
        and bws.org_id=#{orgId}
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>