<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseOrganization">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_desc" jdbcType="VARCHAR" property="organizationDesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseOrganizationDto" extends="BaseResultMap">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bo.organization_id,
	bo.organization_code,
	bo.organization_name,
	bo.organization_desc,
	bo.remark,
	bo.`status`,
	bo.create_user_id,
	bo.create_time,
	bo.modified_user_id,
	bo.modified_time,
	bo.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name
    FROM base_organization bo
    LEFT JOIN sys_user su ON bo.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bo.modified_user_id = sus.user_id
    <where>
      <if test="startTime != null and endTime != null">
        and date_format(bo.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="organizationCode != null and organizationCode!='' and codeQueryMark == null">
        and bo.organization_code like CONCAT('%', #{organizationCode}, '%')
      </if>
      <if test="organizationCode != null and organizationCode!='' and codeQueryMark != null">
        and bo.organization_code = #{organizationCode}
      </if>
      <if test="organizationName != null and organizationName!=''">
        and bo.organization_name like CONCAT('%', #{organizationName}, '%')
      </if>
      <if test="organizationDesc != null and organizationDesc!=''">
        and bo.organization_desc like CONCAT('%', #{organizationDesc}, '%')
      </if>
      <if test="status!=null">
        and bo.status=#{status}
      </if>
      <if test="organizationId!=null">
        and bo.organization_id=#{organizationId}
      </if>
      <if test="orgId!=null">
        and bo.organization_id=#{orgId}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
         and #FULL_FROM_QUERY
      </if>
    </where>
    order by create_time desc
  </select>

  <delete id="deleteUserByOrganization" parameterType="long">
    DELETE FROM sys_organization_user WHERE org_id = #{organizationId}
  </delete>

  <insert id="insertUser" parameterType="java.util.List">
    INSERT INTO sys_organization_user(org_id, user_id)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.organizationId},#{item.userId})
    </foreach>
  </insert>

  <select id="findOrganizationByUserId" parameterType="long" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    from base_organization bo
    left join sys_organization_user sou on bo.organization_id = sou.org_id
    where sou.user_id = #{userId}
  </select>
</mapper>
