<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseShipmentEnterpriseMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseShipmentEnterprise">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="shipment_enterprise_id" jdbcType="BIGINT" property="shipmentEnterpriseId"/>
        <result column="shipment_enterprise_code" jdbcType="VARCHAR" property="shipmentEnterpriseCode"/>
        <result column="shipment_enterprise_name" jdbcType="VARCHAR" property="shipmentEnterpriseName"/>
        <result column="shipment_enterprise_desc" jdbcType="VARCHAR" property="shipmentEnterpriseDesc"/>
        <result column="transport_category_id" jdbcType="BIGINT" property="transportCategoryId"/>
        <result column="linkman" jdbcType="VARCHAR" property="linkman"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseShipmentEnterpriseDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    </resultMap>

    <sql id="Base_Column_List">
    bse.shipment_enterprise_id,
	bse.shipment_enterprise_code,
	bse.shipment_enterprise_name,
	bse.shipment_enterprise_desc,
	bse.transport_category_id,
	bse.linkman,
	bse.phone,
	bse.org_id,
	bse.remark,
	bse.`status`,
	bse.create_user_id,
	bse.create_time,
	bse.modified_user_id,
	bse.modified_time,
	bse.is_delete
  </sql>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        select<include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        bo.organization_name
        FROM fantech_imes_v2.base_shipment_enterprise AS bse
        LEFT JOIN ocean_v2.sys_user su ON bse.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON bse.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON bse.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(bse.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="shipmentEnterpriseCode != null and shipmentEnterpriseCode!=''">
                and bse.shipment_enterprise_code like CONCAT('%', #{shipmentEnterpriseCode}, '%')
            </if>
            <if test="shipmentEnterpriseName != null and shipmentEnterpriseName!=''">
                and bse.shipment_enterprise_name like CONCAT('%', #{shipmentEnterpriseName}, '%')
            </if>
            <if test="shipmentEnterpriseDesc != null and shipmentEnterpriseDesc!=''">
                and bse.shipment_enterprise_desc like CONCAT('%', #{shipmentEnterpriseDesc}, '%')
            </if>
            <if test="transportCategoryId != null and transportCategoryId!=''">
                and bse.transport_category_id = #{transportCategoryId}
            </if>
            <if test="status!=null">
                and bse.status=#{status}
            </if>
            <if test="orgId!=null">
                and bse.org_id=#{orgId}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>