<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtPartsInformationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtPartsInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_parts_information_id" jdbcType="BIGINT" property="htPartsInformationId" />
    <result column="parts_information_id" jdbcType="BIGINT" property="partsInformationId" />
    <result column="parts_information_code" jdbcType="VARCHAR" property="partsInformationCode" />
    <result column="parts_information_name" jdbcType="VARCHAR" property="partsInformationName" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bhpi.ht_parts_information_id,
    bhpi.parts_information_id,
	bhpi.parts_information_code,
	bhpi.parts_information_name,
	bhpi.remark,
	bhpi.`status`,
	bhpi.create_user_id,
	bhpi.create_time,
	bhpi.modified_user_id,
	bhpi.modified_time,
	bhpi.is_delete
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name
    FROM base_ht_parts_information bhpi
    LEFT JOIN sys_user su ON bhpi.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bhpi.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bhpi.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(bhpi.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="partsInformationId!=null and partsInformationId!=''">
        and bhpi.parts_information_id=#{partsInformationId}
      </if>
      <if test="partsInformationCode!=null and partsInformationCode!=''">
        and bhpi.parts_information_code like CONCAT('%', #{partsInformationCode}, '%')
      </if>
      <if test="partsInformationName!=null and partsInformationName!=''">
        and bhpi.parts_information_name like CONCAT('%', #{partsInformationName}, '%')
      </if>
      <if test="orgId!=null">
        and bhpi.org_id=#{orgId}
      </if>
    </where>
    order by modified_time desc
  </select>


</mapper>
