<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtWarehouseAreaMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtWarehouseArea">
        <id column="ht_warehouse_area_id" jdbcType="BIGINT" property="htWarehouseAreaId"/>
        <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="warehouse_area_desc" jdbcType="VARCHAR" property="warehouseAreaDesc"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="capacity" jdbcType="DECIMAL" property="capacity"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        shwa.ht_warehouse_area_id,
        shwa.warehouse_area_id,
        shwa.warehouse_area_code,
        shwa.warehouse_area_name,
        shwa.warehouse_area_desc,
        shwa.capacity,
        shwa.temperature,
        shwa.unit,
        shwa.warehouse_id,
        shwa.`status`,
        shwa.remark,
        shwa.org_id,
        shwa.create_user_id,
        shwa.create_time,
        shwa.modified_user_id,
        shwa.modified_time,
        shwa.is_delete,
        shwa.option1,
        shwa.option2,
        shwa.option3
    </sql>

    <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List"></include>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        sw.warehouse_name,
        bo.organization_name
        FROM base_ht_warehouse_area shwa
        LEFT JOIN sys_user su ON shwa.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON shwa.modified_user_id = sus.user_id
        LEfT JOIN base_warehouse sw ON shwa.warehouse_id= sw.warehouse_id
        LEFT JOIN base_organization bo ON shwa.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and endTime!= null">
                and date_format(shwa.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="warehouseAreaCode != null">
                and shwa.warehouse_area_code like CONCAT('%', #{warehouseAreaCode}, '%')
            </if>
            <if test="warehouseAreaName != null">
                and shwa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="warehouseAreaDesc != null">
                and shwa.warehouse_area_desc like CONCAT('%', #{warehouseAreaDesc}, '%')
            </if>
            <if test="warehouseId != null">
                and shwa.warehouse_id like CONCAT('%', #{warehouseId}, '%')
            </if>
            <if test="warehouseName != null and warehouseName != ''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="orgId!=null">
                and shwa.org_id=#{orgId}
            </if>
        </where>
        order by shwa.modified_time desc
    </select>
</mapper>
