<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtOrderTypeMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtOrderType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_order_type_id" jdbcType="BIGINT" property="htOrderTypeId" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="order_type_code" jdbcType="VARCHAR" property="orderTypeCode" />
    <result column="order_type_name" jdbcType="VARCHAR" property="orderTypeName" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="material_owner_code" jdbcType="VARCHAR" property="materialOwnerCode"/>
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="material_owner_short_name" jdbcType="VARCHAR" property="materialOwnerShortName"/>
  </resultMap>

  <sql id="Base_Column_List">
    bhot.ht_order_type_id,
    bhot.order_type_id,
    bhot.order_type_code,
    bhot.order_type_name,
    bhot.business_type,
    bhot.warehouse_id,
    bhot.material_owner_id,
    bhot.`status`,
    bhot.remark,
    bhot.org_id,
    bhot.create_user_id,
    bhot.create_time,
    bhot.modified_user_id,
    bhot.modified_time,
    bhot.is_delete,
    bhot.option1,
    bhot.option2,
    bhot.option3
  </sql>

  <select id="findHtList" resultMap="BaseResultMap">
    SELECT<include refid="Base_Column_List"/>,
    su.user_name as create_user_name,sus.user_name as modified_user_name,bo.organization_name,
    bw.warehouse_code,bw.warehouse_name,bmo.material_owner_code,bmo.material_owner_name,bmo.material_owner_short_name
    FROM fantech_imes_v2.base_ht_order_type bhot
    LEFT JOIN fantech_imes_v2.base_warehouse bw ON bw.warehouse_id = bhot.warehouse_id
    LEFT JOIN fantech_imes_v2.base_material_owner bmo ON bmo.material_owner_id = bhot.material_owner_id
    LEFT JOIN ocean_v2.sys_user su ON bhot.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON bhot.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON bhot.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bhot.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orderTypeCode!=null and orderTypeCode!=''">
        and bhot.order_type_code LIKE CONCAT('%',#{orderTypeCode},'%')
      </if>
      <if test="orderTypeName!=null and orderTypeName!=''">
        and bhot.order_type_name LIKE CONCAT('%',#{orderTypeName},'%')
      </if>
      <if test="materialOwnerName!=null and materialOwnerName!=''">
        and bmo.material_owner_name LIKE CONCAT('%',#{materialOwnerName},'%')
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and bw.warehouse_name LIKE CONCAT('%',#{warehouseName},'%')
      </if>
      <if test="status!=null">
        and bhot.status=#{status}
      </if>
      <if test="businessType!=null">
        and bhot.business_type=#{businessType}
      </if>
      <if test="orgId!=null">
        and bhot.org_id=#{orgId}
      </if>
    </where>
  </select>
  
</mapper>