<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BasePlatePartsDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BasePlatePartsDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plate_parts_det_id" jdbcType="BIGINT" property="platePartsDetId" />
    <result column="plate_parts_id" jdbcType="BIGINT" property="platePartsId" />
    <result column="parts_information_id" jdbcType="BIGINT" property="partsInformationId" />
    <result column="route_id" jdbcType="BIGINT" property="routeId" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="use_qty" jdbcType="DECIMAL" property="useQty" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="texture" jdbcType="VARCHAR" property="texture" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BasePlatePartsDetDto">
    <result column="parts_information_code" jdbcType="VARCHAR" property="partsInformationCode"/>
    <result column="parts_information_name" jdbcType="VARCHAR" property="partsInformationName"/>
    <result column="route_name" jdbcType="VARCHAR" property="routeName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bppd.plate_parts_det_id,
	bppd.plate_parts_id,
	bppd.parts_information_id,
	bppd.route_id,
	bppd.spec,
	bppd.unit,
	bppd.use_qty,
	bppd.color,
	bppd.texture,
	bppd.org_id,
	bppd.remark,
	bppd.`status`,
	bppd.create_user_id,
	bppd.create_time,
	bppd.modified_user_id,
	bppd.modified_time,
	bppd.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name,
    bpi.parts_information_code,bpi.parts_information_name,sr.route_name
    from base_plate_parts_det bppd
    LEFT JOIN sys_user su ON bppd.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bppd.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bppd.org_id = bo.organization_id
    LEFT JOIN base_parts_information bpi ON bpi.parts_information_id = bppd.parts_information_id
    LEFT JOIN base_route sr ON sr.route_id = bppd.route_id
    <where>
      <if test="platePartsDetId != null and platePartsDetId!=''">
        and bppd.plate_parts_det_id = #{platePartsDetId}
      </if>
      <if test="platePartsId != null and platePartsId!=''">
        and bppd.plate_parts_id = #{platePartsId}
      </if>
      <if test="partsInformationName != null and partsInformationName!=''">
        and bpi.parts_information_code like CONCAT('%', #{partsInformationName}, '%')
      </if>
      <if test="partsInformationCode != null and partsInformationCode!=''">
        and bpi.parts_information_name like CONCAT('%', #{partsInformationCode}, '%')
      </if>
      <if test="routeId != null and routeId!=''">
        and sr.route_id = #{routeId}
      </if>
      <if test="routeName != null and routeName!=''">
        and sr.route_name like CONCAT('%', #{routeName}, '%')
      </if>

      <if test="startTime!= null and endTime!= null">
        and date_format(bppd.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="orgId!=null">
        and bppd.org_id=#{orgId}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="findById" resultMap="BaseResultMapDto" parameterType="long">
      select <include refid="Base_Column_List"></include>,bpi.parts_information_code,bpi.parts_information_name,sr.route_name
      from base_plate_parts_det bppd
      LEFT JOIN sys_user su ON bppd.create_user_id = su.user_id
      LEFT JOIN sys_user sus ON bppd.modified_user_id = sus.user_id
      LEFT JOIN base_organization bo ON bppd.org_id = bo.organization_id
      LEFT JOIN base_parts_information bpi ON bpi.parts_information_id = bppd.parts_information_id
      LEFT JOIN base_route sr ON sr.route_id = bppd.route_id
      where bppd.plate_parts_id = #{platePartsId}
  </select>
</mapper>
