<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseInspectionStandardMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseInspectionStandard">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="inspection_standard_id" jdbcType="BIGINT" property="inspectionStandardId" />
    <result column="inspection_standard_code" jdbcType="VARCHAR" property="inspectionStandardCode" />
    <result column="inspection_standard_name" jdbcType="VARCHAR" property="inspectionStandardName" />
    <result column="inspection_standard_version" jdbcType="VARCHAR" property="inspectionStandardVersion" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="inspection_type" jdbcType="TINYINT" property="inspectionType" />
    <result column="inspection_way_id" jdbcType="BIGINT" property="inspectionWayId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="inspection_way_desc" jdbcType="VARCHAR" property="inspectionWayDesc"/>
  </resultMap>

  <sql id="Base_Column_List">
    bis.inspection_standard_id,
    bis.inspection_standard_code,
    bis.inspection_standard_name,
    bis.inspection_standard_version,
    bis.material_id,
    bis.supplier_id,
    bis.inspection_type,
    bis.inspection_way_id,
    bis.`status`,
    bis.remark,
    bis.org_id,
    bis.create_user_id,
    bis.create_time,
    bis.modified_user_id,
    bis.modified_time,
    bis.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bm.material_code,bm.material_name,bs.supplier_name,biw.inspection_way_desc,
    u.user_name as create_user_name, s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_inspection_standard bis
    left join fantech_imes_v2.base_inspection_way biw on bis.inspection_way_id=biw.inspection_way_id
    left join fantech_imes_v2.base_material bm on bis.material_id=bm.material_id
    left join fantech_imes_v2.base_supplier bs on bis.supplier_id=bs.supplier_id
    left join ocean_v2.sys_user u on bis.create_user_id=u.user_id
    left join ocean_v2.sys_user s on bis.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo on bis.org_id = bo.organization_id
    <where>
      <if test="inspectionStandardCode!=null and inspectionStandardCode!=''">
        and bis.inspection_standard_code like CONCAT('%', #{inspectionStandardCode}, '%')
      </if>
      <if test="inspectionStandardName!=null and inspectionStandardName!=''">
        and bis.inspection_standard_name like CONCAT('%', #{inspectionStandardName}, '%')
      </if>
      <if test="materialCode!=null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName!=null and materialName!=''">
        and bm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="inspectionType!=null">
        and bis.inspection_type = #{inspectionType}
      </if>
      <if test="supplierId!=null and ifContainCommon!=1">
        and bis.supplier_id = #{supplierId}
      </if>
      <if test="materialId!=null and ifContainCommon!=1">
        and bis.material_id = #{materialId}
      </if>
      <if test="materialId!=null and ifContainCommon==1">
        and (bis.material_id = #{materialId} or bis.material_id = 0)
      </if>
      <if test="materialId==null and ifContainCommon==1">
        and (bis.material_id is null or bis.material_id = 0)
      </if>
      <if test="supplierId!=null and ifContainCommon==1">
        and (bis.supplier_id = #{supplierId} or bis.material_id = 0)
      </if>
      <if test="supplierId==null and ifContainCommon==1">
        and (bis.supplier_id is null or bis.material_id = 0)
      </if>
      <if test="inspectionWayId!=null">
        and bis.inspection_way_id = #{inspectionWayId}
      </if>
      <if test="inspectionStandardId!=null">
        and bis.inspection_standard_id = #{inspectionStandardId}
      </if>
      <if test="status!=null">
        and bis.status=#{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bis.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and bis.org_id=#{orgId}
      </if>
     <if test="supplierName!=null and supplierName!=''">
      and bs.supplier_name like CONCAT('%',#{supplierName},'%')
     </if>
    <if test="inspectionWayName!=null and inspectionWayName!=''">
      and biw.inspection_way_name like CONCAT('%',#{inspectionWayName},'%')
    </if>
    <if test="remark!=null and remark!=''">
      and bis.remark like CONCAT('%',#{remark},'%')
    </if>
    <if test="inspectionStandardVersion!=null and inspectionStandardVersion!=''">
      and bis.inspection_standard_version like CONCAT('%',#{inspectionStandardVersion},'%')
    </if>
    </where>
    order by bis.create_time desc
  </select>
</mapper>