<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtPackingUnitMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtPackingUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_packing_unit_id" jdbcType="BIGINT" property="htPackingUnitId" />
    <result column="packing_unit_id" jdbcType="BIGINT" property="packingUnitId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_unit_desc" jdbcType="VARCHAR" property="packingUnitDesc" />
    <result column="is_chief" jdbcType="TINYINT" property="isChief" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>


  <sql id="Base_Column_List">
    shpu.ht_packing_unit_id,
    shpu.packing_unit_id,
    shpu.packing_unit_name,
    shpu.packing_unit_desc,
    shpu.is_chief,
    shpu.status,
    shpu.create_user_id,
    shpu.create_time,
    shpu.modified_user_id,
    shpu.modified_time,
    shpu.is_delete,
    shpu.option1,
    shpu.option2,
    shpu.option3,
    shpu.org_id,
	shpu.remark
  </sql>

  <select id="findHtList"  resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    from fantech_imes_v2.base_ht_packing_unit shpu
    LEFT JOIN ocean_v2.sys_user su  ON shpu.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON shpu.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON shpu.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(shpu.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="packingUnitName != null">
        and shpu.packing_unit_name like CONCAT('%', #{packingUnitName}, '%')
      </if>
      <if test="packingUnitDesc != null">
        and shpu.packing_unit_desc like CONCAT('%', #{packingUnitDesc}, '%')
      </if>
      <if test="orgId!=null">
        and shpu.org_id=#{orgId}
      </if>
    </where>
    order by shpu.modified_time desc
  </select>
</mapper>