<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtStaffMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtStaff">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_staff_id" jdbcType="BIGINT" property="htStaffId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="staff_code" jdbcType="VARCHAR" property="staffCode" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_desc" jdbcType="VARCHAR" property="staffDesc" />
    <result column="identity_number" jdbcType="VARCHAR" property="identityNumber" />
    <result column="is_team_piecework" jdbcType="TINYINT" property="isTeamPiecework" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

      <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
      <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
      <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
      <result column="team_code" jdbcType="VARCHAR" property="teamCode"/>
      <result column="team_name" jdbcType="VARCHAR" property="teamName"/>
      <result column="team_desc" jdbcType="VARCHAR" property="teamDesc"/>
      <result column="work_shop_code" jdbcType="VARCHAR" property="workShopCode" />
      <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName" />
      <result column="work_shop_desc" jdbcType="VARCHAR" property="workShopDesc" />
      <result column="factory_code" jdbcType="VARCHAR" property="factoryCode"/>
      <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
      <result column="factory_desc" jdbcType="VARCHAR" property="factoryDesc"/>
  </resultMap>

  <sql id="Base_Column_List">
    bhs.ht_staff_id, 
	bhs.staff_id, 
	bhs.team_id, 
	bhs.staff_code, 
	bhs.staff_name, 
	bhs.staff_desc, 
	bhs.identity_number, 
	bhs.is_team_piecework, 
	bhs.`status`, 
	bhs.remark, 
	bhs.org_id,
	bhs.create_user_id, 
	bhs.create_time, 
	bhs.modified_user_id, 
	bhs.modified_time, 
	bhs.is_delete
  </sql>
  
  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List"></include>,
      su.user_name AS create_user_name, sus.user_name AS modified_user_name,
      bt.team_code,bt.team_name,bt.team_desc,
      sws.work_shop_code,sws.work_shop_name,sws.work_shop_desc,
      sf.factory_code,sf.factory_name,sf.factory_desc
      from fantech_imes_v2.base_ht_staff bhs
      left join fantech_imes_v2.base_team bt on bhs.team_id = bt.team_id
      left join fantech_imes_v2.base_work_shop sws on bt.work_shop_id = sws.work_shop_id
      left join fantech_imes_v2.base_factory sf on sws.factory_id = sf.factory_id
      left join ocean_v2.sys_user su on bhs.create_user_id = su.user_id
      left join ocean_v2.sys_user sus on bhs.modified_user_id = sus.user_id
      <where>
          <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
              and date_format(bhs.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
          </if>
          <if test="staffCode != null and staffCode !=''">
              and bhs.staff_code like CONCAT('%', #{staffCode}, '%')
          </if>
          <if test="staffName != null and staffName !=''">
              and bhs.staff_name like CONCAT('%', #{staffName}, '%')
          </if>
          <if test="staffDesc != null and staffDesc !=''">
              and bhs.staff_desc like CONCAT('%', #{staffDesc}, '%')
          </if>
          <if test="teamCode != null and teamCode !=''">
              and bt.team_code like CONCAT('%', #{teamCode}, '%')
          </if>
          <if test="teamName != null and teamName !=''">
              and bt.team_name like CONCAT('%', #{teamName}, '%')
          </if>
          <if test="workShopCode != null and workShopCode !=''">
              and sws.work_shop_code like CONCAT('%', #{workShopCode}, '%')
          </if>
          <if test="workShopName != null and workShopName !=''">
              and sws.work_shop_name like CONCAT('%', #{workShopName}, '%')
          </if>
          <if test="factoryCode != null and factoryCode !=''">
              and sf.factory_code like CONCAT('%', #{factoryCode}, '%')
          </if>
          <if test="factoryName != null and factoryName !=''">
              and sf.factory_name like CONCAT('%', #{factoryName}, '%')
          </if>
          <if test="status!=null">
              and bhs.status=#{status}
          </if>
          <if test="orgId!=null">
              and bhs.org_id=#{orgId}
          </if>
      </where>
      order by modified_time desc
  </select>
</mapper>