<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseMaterialCategoryMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseMaterialCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="material_category_id" jdbcType="BIGINT" property="materialCategoryId"/>
        <result column="material_category_code" jdbcType="VARCHAR" property="materialCategoryCode"/>
        <result column="material_category_name" jdbcType="VARCHAR" property="materialCategoryName"/>
        <result column="material_category_desc" jdbcType="VARCHAR" property="materialCategoryDesc"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <collection property="list" column="material_category_id"
                    select="com.fantechs.provider.base.mapper.BaseMaterialCategoryMapper.findById"
                    ofType="com.fantechs.common.base.general.entity.basic.BaseMaterialCategory"></collection>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.basic.BaseMaterialCategoryDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        smc.material_category_id,
        smc.material_category_code,
        smc.material_category_name,
        smc.material_category_desc,
        smc.parent_id,
        smc.org_id,
        smc.remark,
        smc.status,
        smc.create_user_id,
        smc.create_time,
        smc.modified_user_id,
        smc.modified_time,
        smc.is_delete
    </sql>

    <select id="findList" resultMap="BaseResultMapDto">
        select <include refid="Base_Column_List"></include>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        bo.organization_name
        from base_material_category smc
        LEFT JOIN sys_user su ON smc.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON smc.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON smc.org_id = bo.organization_id
        <where>
            <if test="materialCategoryCode != null and materialCategoryCode != ''">
                and smc.material_category_code like CONCAT('%', #{materialCategoryCode}, '%')
            </if>
            <if test="materialCategoryName != null and materialCategoryName != ''">
                and smc.material_category_name like CONCAT('%', #{materialCategoryName}, '%')
            </if>
            <if test="materialCategoryDesc != null and materialCategoryDesc != ''">
                and smc.material_category_desc like CONCAT('%', #{materialCategoryDesc}, '%')
            </if>
            <if test="parentId != null and parentId != ''">
                and smc.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="materialCategoryId != null and materialCategoryId != ''">
                and smc.material_category_id = #{materialCategoryId}
            </if>
            <if test="startTime!= null and endTime!= null">
                and date_format(smc.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="status!=null">
                and smc.status=#{status}
            </if>
            <if test="orgId!=null">
                and smc.org_id=#{orgId}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from base_material_category smc
        where smc.parent_id = #{parentId}
    </select>


</mapper>
