<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseSamplePlanMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseSamplePlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sample_plan_id" jdbcType="BIGINT" property="samplePlanId" />
    <result column="sample_plan_code" jdbcType="VARCHAR" property="samplePlanCode" />
    <result column="sample_plan_desc" jdbcType="VARCHAR" property="samplePlanDesc" />
    <result column="test_level" jdbcType="VARCHAR" property="testLevel" />
    <result column="sample_standard_id" jdbcType="BIGINT" property="sampleStandardId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <collection property="list" ofType="com.fantechs.common.base.general.dto.basic.BaseSamplePlanAqlDto"
                column="{samplePlanId=sample_plan_id}" select="com.fantechs.provider.base.mapper.BaseSamplePlanAqlMapper.findList">

    </collection>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap"
             type="com.fantechs.common.base.general.dto.basic.BaseSamplePlanDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="sample_standard_name" jdbcType="VARCHAR" property="sampleStandardName" />
  </resultMap>

  <sql id="Base_Column_List">
    bsp.sample_plan_id,
	bsp.sample_plan_code,
	bsp.sample_plan_desc,
	bsp.test_level,
	bsp.sample_standard_id,
	bsp.org_id,
	bsp.remark,
	bsp.`status`,
	bsp.create_user_id,
	bsp.create_time,
	bsp.modified_user_id,
	bsp.modified_time,
	bsp.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name,bss.sample_standard_name
    FROM base_sample_plan AS bsp
    LEFT JOIN sys_user su ON bsp.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON bsp.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON bsp.org_id = bo.organization_id
    LEFT JOIN base_sample_standard bss ON bss.sample_standard_id = bsp.sample_standard_id
    <where>
      <if test="startTime!= null and endTime!= null">
        and date_format(bsp.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
      </if>
      <if test="samplePlanCode != null and samplePlanCode!=''">
        and bsp.sample_plan_code like CONCAT('%', #{samplePlanCode}, '%')
      </if>
      <if test="samplePlanDesc != null and samplePlanDesc!=''">
        and bsp.sample_plan_desc like CONCAT('%', #{samplePlanDesc}, '%')
      </if>
      <if test="testLevel != null and testLevel!=''">
        and bsp.test_level like CONCAT('%', #{testLevel}, '%')
      </if>
      <if test="samplePlanId != null">
        and bsp.sample_plan_id = #{samplePlanId}
      </if>
      <if test="sampleStandardName != null and sampleStandardName!=''">
        and bss.sample_standard_name like CONCAT('%', #{sampleStandardName}, '%')
      </if>
      <if test="orgId!=null">
        and bsp.org_id=#{orgId}
      </if>
      <if test="status != null and status!=''">
        and bsp.status = #{status}
      </if>
      <!-- 全表单查询 -->
      <if test="query != null">
        and #FULL_FROM_QUERY
      </if>
    </where>
    order by bsp.create_time desc
  </select>

</mapper>
