<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseInAndOutRuleMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseInAndOutRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="in_and_out_rule_id" jdbcType="BIGINT" property="inAndOutRuleId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="category" jdbcType="TINYINT" property="category" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <collection property="baseInAndOutRuleDets" ofType="com.fantechs.common.base.general.dto.basic.BaseInAndOutRuleDetDto"
                column="{inAndOutRuleId=in_and_out_rule_id}" select="com.fantechs.provider.base.mapper.BaseInAndOutRuleDetMapper.findList">
    </collection>
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.basic.BaseInAndOutRuleDto">
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>
  <sql id="base_column_list">
    biaor.in_and_out_rule_id,
    biaor.warehouse_id,
biaor.category,
biaor.status,
biaor.remark,
biaor.org_id,
biaor.create_user_id,
biaor.create_time,
biaor.modified_user_id,
biaor.modified_time,
biaor.is_delete,
biaor.option1,
biaor.option2,
biaor.option3
  </sql>
  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="base_column_list"/>,bw.warehouse_code,bw.warehouse_name,su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name
    FROM base_in_and_out_rule biaor
    LEFT JOIN base_warehouse bw on biaor.warehouse_id = bw.warehouse_id
    LEFT JOIN sys_user su ON biaor.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON biaor.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON biaor.org_id = bo.organization_id
    <where>
      <if test="warehouseId!=null and warehouseId!=''">
        and biaor.warehouse_id = #{warehouseId}
      </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
      </if>
        <if test="category!=null and category!=''">
          and biaor.category = #{category}
        </if>
      <if test="orgId!=null and orgId!=''">
        and biaor.org_id = #{orgId}
      </if>
    </where>
    order by biaor.create_time desc
  </select>
  <select id="findInOutParamMode" resultType="com.fantechs.common.base.general.dto.basic.InOutParamsDto">
    SELECT parameter_mode,parameter_name FROM information_schema.PARAMETERS WHERE specific_name=#{specificName}
  </select>
  <select id="findView" resultType="java.lang.String">
    SELECT TABLE_NAME FROM INFORMATION_SCHEMA.VIEWS WHERE TABLE_SCHEMA= 'fantech_imes_v2_1'
  </select>
</mapper>