<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseOrganizationUserMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseOrganizationUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="organization_user_id" jdbcType="BIGINT" property="organizationUserId" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BaseOrganizationUserDto" extends="BaseResultMap">
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_desc" jdbcType="VARCHAR" property="organizationDesc" />
  </resultMap>

  <sql id="Base_Column_List">
    bou.organization_user_id,
	bou.org_id,
	bou.user_id
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>,bo.organization_code, bo.organization_name, bo.organization_desc
    FROM ocean_v2.sys_organization_user bou
    LEFT JOIN fantech_imes_v2.base_organization bo ON bou.org_id = bo.organization_id
    LEFT JOIN ocean_v2.sys_user suss ON bou.user_id = suss.user_id
    <where>
      <if test="userId!=null and userId!=''">
        and bo.userId=#{userId}
      </if>
      <if test="orgId!=null">
        and bou.org_id=#{orgId}
      </if>
    </where>
  </select>
</mapper>
