<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseHtMaterialCategoryMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.history.BaseHtMaterialCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ht_material_category_id" jdbcType="BIGINT" property="htMaterialCategoryId"/>
        <result column="material_category_id" jdbcType="BIGINT" property="materialCategoryId"/>
        <result column="material_category_code" jdbcType="VARCHAR" property="materialCategoryCode"/>
        <result column="material_category_name" jdbcType="VARCHAR" property="materialCategoryName"/>
        <result column="material_category_desc" jdbcType="VARCHAR" property="materialCategoryDesc"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="org_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        shmc.ht_material_category_id,
        shmc.material_category_id,
        shmc.material_category_code,
        shmc.material_category_name,
        shmc.material_category_desc,
        shmc.parent_id,
        shmc.org_id,
        shmc.remark,
        shmc.status,
        shmc.create_user_id,
        shmc.create_time,
        shmc.modified_user_id,
        shmc.modified_time,
        shmc.is_delete
    </sql>

    <select id="findHtList" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name,
        bo.organization_name
        from base_ht_material_category shmc
        LEFT JOIN sys_user su ON shmc.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON shmc.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON shmc.org_id = bo.organization_id
        <where>
            <if test="materialCategoryCode != null and materialCategoryCode != ''">
                and shmc.material_category_code like CONCAT('%', #{materialCategoryCode}, '%')
            </if>
            <if test="materialCategoryName != null and materialCategoryName != ''">
                and shmc.material_category_name like CONCAT('%', #{materialCategoryName}, '%')
            </if>
            <if test="materialCategoryDesc != null and materialCategoryDesc != ''">
                and shmc.material_category_desc like CONCAT('%', #{materialCategoryDesc}, '%')
            </if>
            <if test="parentId != null and parentId != ''">
                and shmc.parent_id like CONCAT('%', #{parentId}, '%')
            </if>
            <if test="startTime!= null and endTime!= null">
                and date_format(shmc.create_time, '%Y-%m-%d') BETWEEN date_format(#{startTime}, '%Y-%m-%d') AND date_format(#{endTime}, '%Y-%m-%d')
            </if>
            <if test="status!=null">
                and shmc.status=#{status}
            </if>
            <if test="orgId!=null">
                and shmc.org_id=#{orgId}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
