<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BaseStorageMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BaseStorage">
        <id column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="working_area_id" jdbcType="BIGINT" property="workingAreaId"/>
        <result column="capacity" jdbcType="DECIMAL" property="capacity"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="storage_type" jdbcType="TINYINT" property="storageType"/>
        <result column="material_store_type" jdbcType="TINYINT" property="materialStoreType"/>
        <result column="roadway" jdbcType="INTEGER" property="roadway"/>
        <result column="row_no" jdbcType="INTEGER" property="rowNo"/>
        <result column="column_no" jdbcType="INTEGER" property="columnNo"/>
        <result column="level_no" jdbcType="INTEGER" property="levelNo"/>
        <result column="putaway_move_line_no" jdbcType="INTEGER" property="putawayMoveLineNo"/>
        <result column="picking_move_line_no" jdbcType="INTEGER" property="pickingMoveLineNo"/>
        <result column="stock_move_line_no" jdbcType="INTEGER" property="stockMoveLineNo"/>
        <result column="if_stock_lock" jdbcType="TINYINT" property="ifStockLock"/>
        <result column="surplus_load" jdbcType="DECIMAL" property="surplusLoad"/>
        <result column="surplus_volume" jdbcType="DECIMAL" property="surplusVolume"/>
        <result column="surplus_can_put_salver" jdbcType="INTEGER" property="surplusCanPutSalver"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="working_area_code" jdbcType="VARCHAR" property="workingAreaCode"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="warehouse_category" jdbcType="BIGINT" property="warehouseCategory"/>
    </resultMap>

    <sql id="Base_Cloumn_List">
        ss.storage_id,
        ss.storage_code,
        ss.storage_name,
        ss.`level`,
        ss.storage_desc,
        ss.capacity,
        ss.temperature,
        ss.unit,
        ss.storage_type,
        ss.material_store_type,
        ss.warehouse_id,
        ss.warehouse_area_id,
        ss.working_area_id,
        ss.roadway,
        ss.row_no,
        ss.column_no,
        ss.level_no,
        ss.putaway_move_line_no,
        ss.picking_move_line_no,
        ss.stock_move_line_no,
        ss.if_stock_lock,
        ss.surplus_load,
        ss.surplus_volume,
        ss.surplus_can_put_salver,
        ss.`status`,
        ss.remark,
        ss.org_id,
        ss.create_user_id,
        ss.create_time,
        ss.modified_user_id,
        ss.modified_time,
        ss.is_delete,
        ss.option1,
        ss.option2,
        ss.option3
    </sql>

    <select id="findList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Cloumn_List"></include>,
        sw.warehouse_name, sw.warehouse_code,sw.warehouse_category,bwa.working_area_code,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        swa.warehouse_area_code, swa.warehouse_area_name,
        bo.organization_name
        from base_storage ss
        left join base_working_area bwa on ss.working_area_id=bwa.working_area_id
        left join base_warehouse_area swa on bwa.warehouse_area_id=swa.warehouse_area_id
        left join base_warehouse sw on swa.warehouse_id=sw.warehouse_id
        left join sys_user u on ss.create_user_id=u.user_id
        left join sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON ss.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(ss.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="storageId!=null and storageId!=''">
                and ss.storage_id = #{storageId}
            </if>
            <if test="storageType!=null">
                and ss.storage_type = #{storageType}
            </if>
            <if test="materialStoreType!=null">
                and ss.material_store_type = #{materialStoreType}
            </if>
            <if test="storageCode!=null and storageCode!='' and codeQueryMark==1">
                and ss.storage_code = #{storageCode}
            </if>
            <if test="storageCode!=null and storageCode!='' and codeQueryMark != 1">
                and ss.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="storageName!=null and storageName!=''">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="storageDesc!=null and storageDesc!=''">
                and ss.storage_desc like CONCAT('%', #{storageDesc}, '%')
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and ss.warehouse_id=#{warehouseId}
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseCode!=null and warehouseCode!=''">
                and sw.warehouse_code = #{warehouseCode}
            </if>
            <if test="warehouseAreaId!=null and warehouseAreaId!=''">
                and ss.warehouse_area_id=#{warehouseAreaId}
            </if>
            <if test="warehouseAreaName!=null and warehouseAreaName!=''">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="workingAreaId!=null">
                and ss.working_area_id=#{workingAreaId}
            </if>
            <if test="workingAreaCode!=null and workingAreaCode!=''">
                and bwa.working_area_code like CONCAT('%', #{workingAreaCode}, '%')
            </if>
            <if test="minSurplusCanPutSalver!=null and minSurplusCanPutSalver!=''">
                and ss.surplus_can_put_salver>#{minSurplusCanPutSalver}
            </if>
            <if test="option1!=null and option1!=''">
                and ss.option1=#{option1}
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
        </where>
        order by ss.create_time desc
    </select>

    <select id="findStockDetStorageList" parameterType="map"
            resultMap="BaseResultMap">
        select <include refid="Base_Cloumn_List"></include>,
        sw.warehouse_name, sw.warehouse_code,sw.warehouse_category,bwa.working_area_code,
        u.user_name as createUserName, s.user_name as modifiedUserName,
        swa.warehouse_area_code, swa.warehouse_area_name,
        bo.organization_name
        from wms_inner_stock_order_det det
        left join base_storage ss on det.storage_id=ss.storage_id
        left join base_working_area bwa on ss.working_area_id=bwa.working_area_id
        left join base_warehouse_area swa on bwa.warehouse_area_id=swa.warehouse_area_id
        left join base_warehouse sw on swa.warehouse_id=sw.warehouse_id
        left join sys_user u on ss.create_user_id=u.user_id
        left join sys_user s on ss.modified_user_id=s.user_id
        LEFT JOIN base_organization bo ON ss.org_id = bo.organization_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(ss.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="storageId!=null and storageId!=''">
                and ss.storage_id = #{storageId}
            </if>
            <if test="storageType!=null">
                and ss.storage_type = #{storageType}
            </if>
            <if test="materialStoreType!=null">
                and ss.material_store_type = #{materialStoreType}
            </if>
            <if test="storageCode!=null and storageCode!='' and codeQueryMark==1">
                and ss.storage_code = #{storageCode}
            </if>
            <if test="storageCode!=null and storageCode!='' and codeQueryMark != 1">
                and ss.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="storageName!=null and storageName!=''">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="storageDesc!=null and storageDesc!=''">
                and ss.storage_desc like CONCAT('%', #{storageDesc}, '%')
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and ss.warehouse_id=#{warehouseId}
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseCode!=null and warehouseCode!=''">
                and sw.warehouse_code = #{warehouseCode}
            </if>
            <if test="warehouseAreaId!=null and warehouseAreaId!=''">
                and ss.warehouse_area_id=#{warehouseAreaId}
            </if>
            <if test="warehouseAreaName!=null and warehouseAreaName!=''">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="status!=null">
                and ss.status=#{status}
            </if>
            <if test="workingAreaId!=null">
                and ss.working_area_id=#{workingAreaId}
            </if>
            <if test="workingAreaCode!=null and workingAreaCode!=''">
                and bwa.working_area_code like CONCAT('%', #{workingAreaCode}, '%')
            </if>
            <if test="minSurplusCanPutSalver!=null and minSurplusCanPutSalver!=''">
                and ss.surplus_can_put_salver>#{minSurplusCanPutSalver}
            </if>
            <if test="option1!=null and option1!=''">
                and ss.option1=#{option1}
            </if>
            <if test="orgId!=null">
                and ss.org_id=#{orgId}
            </if>
        </where>
        group by ss.storage_id
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_storage
            <set>
                storage_code =#{item.storageCode},
                storage_name =#{item.storageName},
                `level` =#{item.level},
                storage_desc =#{item.storageDesc},
                capacity =#{capacity},
                temperature =#{temperature},
                unit =#{unit},
                roadway =#{roadway},
                row_no =#{rowNo},
                column_no =#{columnNo},
                level_no =#{levelNo},
                putaway_move_line_no =#{putawayMoveLineNo},
                picking_move_line_no =#{pickingMoveLineNo},
                stock_move_line_no =#{stockMoveLineNo},
                if_stock_lock =#{ifStockLock},
                surplus_load =#{surplusLoad},
                surplus_volume =#{surplusVolume},
                surplus_can_put_salver =#{surplusCanPutSalver},
                warehouse_id =#{item.warehouseId},
                warehouse_area_id =#{item.warehouseAreaId},
                working_area_id =#{item.workingAreaId},
                status =#{item.status},
                create_user_id =#{item.createUserId},
                create_time =#{item.createTime},
                modified_user_id =#{item.modifiedUserId},
                modified_time =#{item.modifiedTime},
                is_delete =#{item.isDelete},
                option1 =#{item.option1},
                option2 =#{item.option2},
                option3 =#{item.option3}
            </set>
            where storage_code =#{item.storageCode}
        </foreach>
    </update>
<!--    库粗分配规则-->
    <resultMap id="StorageRuleMap" type="com.fantechs.common.base.general.dto.basic.StorageRuleDto">

    </resultMap>
    <select id="findStorageMaterial" resultMap="StorageRuleMap">
        SELECT bs.storage_id as storageId, bs.roadway, bs.row_no as rowNo, bs.column_no as columnNo, bs.level_no as levelNo, bs.putaway_move_line_no as putawayMoveLineNo, IFNULL(bs.surplus_load,0) as surplusLoad, IFNULL(bs.surplus_volume,0) as surplusVolume, bs.surplus_can_put_salver as surplusCanPutSalver, IFNULL(bmt.volume,0) as volume, IFNULL(bmt.net_weight,0) as netWeight
        FROM base_storage_material bsm
                 LEFT JOIN base_storage bs ON bsm.storage_id = bs.storage_id
                 LEFT JOIN base_material_tab bmt ON bsm.material_id = bmt.material_id
        WHERE bs.warehouse_id =#{warehouseId} AND bsm.material_id =#{materialId} and bsm.org_id=#{orgId} and bs.storage_type=1
    </select>
    <select id="findPutawayRule" resultMap="StorageRuleMap">
        SELECT
            bs.storage_id as storageId,
            bs.roadway,
            bs.row_no as rowNo,
            bs.column_no as columnNo,
            bs.level_no as levelNo,
            bs.putaway_move_line_no as putawayMoveLineNo,
            IFNULL(bs.surplus_load,0) as surplusLoad,
            IFNULL(bs.surplus_volume,0) as surplusVolume,
            bs.surplus_can_put_salver as surplusCanPutSalver,
            IFNULL(bmt.volume,0) as volume,
			IFNULL(bmt.net_weight,0) as netWeight
        FROM base_storage bs
                 LEFT JOIN wms_inner_inventory wii ON bs.storage_id = wii.storage_id AND wii.packing_qty>0
                 LEFT JOIN base_material_tab bmt ON wii.material_id = bmt.material_id
        <where>
             bs.storage_type=1
            <if test="warehouseId!=null and warehouseId!=''">
                and  wii.warehouse_id =#{warehouseId}
            </if>
            <if test="materialId!=null and materialId!=''">
                AND wii.material_id =#{materialId}
            </if>
            <if test="batchCode!=null and batchCode!=''">
                AND wii.batch_code = #{batchCode}
            </if>
            <if test="prodDate!=null and prodDate!=''">
                AND date_format(wii.production_date, '%Y-%m-%d') = #{prodDate}
            </if>
            <if test="putawayMoveLineNo!=null and putawayMoveLineNo!=''">
                AND bs.putaway_move_line_no = #{putawayMoveLineNo}
            </if>
        </where>
        <if test="SART!=null and SART!=''">
            <if test="SART=='DESC'">
                order by bs.putaway_move_line_no DESC
            </if>
            <if test="SART=='ASC'">
                order by bs.putaway_move_line_no ASC
            </if>
        </if>
    </select>
    <select id="findPutawayNo" resultType="java.lang.Integer">
        select bs.putaway_move_line_no From wms_inner_inventory wii
LEFT JOIN base_storage bs ON bs.storage_id = wii.storage_id
where bs.storage_type=1 and wii.warehouse_id = #{warehouseId} and wii.material_id = #{materialId} and wii.org_id=#{orgId}
order by wii.modified_time desc limit 1
    </select>
    <select id="BatchEqualStorage" resultMap="StorageRuleMap">
        SELECT bs.storage_id as storageId, bs.roadway, bs.row_no as rowNo, bs.column_no as columnNo, bs.level_no as levelNo, bs.putaway_move_line_no as putawayMoveLineNo, IFNULL(bs.surplus_load,0) as surplusLoad, IFNULL(bs.surplus_volume,0) as surplusVolume, bs.surplus_can_put_salver as surplusCanPutSalver, IFNULL(bmt.volume,0) as volume, IFNULL(bmt.net_weight,0) as netWeight
        FROM wms_inner_inventory wii
                 LEFT JOIN base_storage bs ON wii.storage_id = bs.storage_id
                 LEFT JOIN base_material_tab bmt ON wii.material_id = bmt.material_id
        WHERE bs.storage_type=1 and  wii.warehouse_id=#{warehouseId} AND wii.material_id=#{materialId} AND wii.batch_code=#{batchCode} and wii.org_id=#{orgId}
    </select>
    <select id="LastStorage" resultMap="StorageRuleMap">
        SELECT  bs.storage_id as storageId, bs.roadway, bs.row_no as rowNo, bs.column_no as columnNo, bs.level_no as levelNo, bs.putaway_move_line_no as putawayMoveLineNo, IFNULL(bs.surplus_load,0) as surplusLoad, IFNULL(bs.surplus_volume,0) as surplusVolume, bs.surplus_can_put_salver as surplusCanPutSalver, IFNULL(bmt.volume,0) as volume, IFNULL(bmt.net_weight,0) as netWeight
        FROM wms_inner_inventory wii
        LEFT JOIN base_storage bs ON wii.storage_id = bs.storage_id
        LEFT JOIN base_material_tab bmt ON bmt.material_id=wii.material_id
        WHERE bs.storage_type=1 AND wii.job_status=1 AND wii.warehouse_id=#{warehouseId} AND wii.material_id=#{materialId} and wii.org_id=#{orgId} ORDER BY wii.modified_time DESC LIMIT 1;
    </select>
    <select id="EmptyStorage" resultMap="StorageRuleMap">
        SELECT bs.storage_id as storageId, bs.roadway, bs.row_no as rowNo, bs.column_no as columnNo, bs.level_no as levelNo, bs.putaway_move_line_no as putawayMoveLineNo, IFNULL(bs.surplus_load,0) as surplusLoad, IFNULL(bs.surplus_volume,0) as surplusVolume, bs.surplus_can_put_salver as surplusCanPutSalver, IFNULL(bmt.volume,0) as volume, IFNULL(bmt.net_weight,0) as netWeight
        FROM base_storage bs
        LEFT JOIN base_material_tab bmt ON bmt.material_id=#{materialId}
        WHERE bs.storage_type=1 and bs.storage_id NOT IN(SELECT wii.storage_id FROM wms_inner_inventory wii WHERE wii.packing_qty>0 ) and bs.warehouse_id=#{warehouseId} and bs.org_id=#{orgId}
    </select>
    <select id="MixedWithStorage" resultMap="StorageRuleMap">
        SELECT bs.storage_id as storageId, bs.roadway, bs.row_no as rowNo, bs.column_no as columnNo, bs.level_no as levelNo, bs.putaway_move_line_no as putawayMoveLineNo, IFNULL(bs.surplus_load,0) as surplusLoad, IFNULL(bs.surplus_volume,0) as surplusVolume, bs.surplus_can_put_salver as surplusCanPutSalver, IFNULL(bmt.volume,0) as volume, IFNULL(bmt.net_weight,0) as netWeight
        FROM base_storage bs
        LEFT JOIN base_material_tab bmt ON bmt.material_id=#{materialId}
        WHERE bs.org_id=#{orgId} and  bs.storage_id IN(SELECT wii.storage_id FROM wms_inner_inventory wii WHERE bs.storage_type=1 AND wii.warehouse_id=#{warehouseId} and wii.packing_qty>0 GROUP BY wii.storage_id HAVING COUNT(wii.material_id)>1)
    </select>
</mapper>
