<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.base.mapper.BasePartsInformationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.basic.BasePartsInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="parts_information_id" jdbcType="BIGINT" property="partsInformationId" />
    <result column="parts_information_code" jdbcType="VARCHAR" property="partsInformationCode" />
    <result column="parts_information_name" jdbcType="VARCHAR" property="partsInformationName" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.basic.BasePartsInformationDto" extends="BaseResultMap">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    bpi.parts_information_id,
	bpi.parts_information_code,
	bpi.parts_information_name,
	bpi.remark,
	bpi.`status`,
	bpi.create_user_id,
	bpi.create_time,
	bpi.modified_user_id,
	bpi.modified_time,
	bpi.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    bo.organization_name
    FROM fantech_imes_v2.base_parts_information bpi
    LEFT JOIN ocean_v2.sys_user su ON bpi.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON bpi.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON bpi.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(bpi.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="partsInformationId!=null and partsInformationId!=''">
        and bpi.parts_information_id=#{partsInformationId}
      </if>
      <if test="partsInformationCode!=null and partsInformationCode!=''">
        and bpi.parts_information_code like CONCAT('%', #{partsInformationCode}, '%')
      </if>
      <if test="partsInformationName!=null and partsInformationName!=''">
        and bpi.parts_information_name like CONCAT('%', #{partsInformationName}, '%')
      </if>
      <if test="orgId!=null">
        and bpi.org_id=#{orgId}
      </if>
    </where>
    order by create_time desc
  </select>


</mapper>
