<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.in.mapper.WmsInPlanReceivingOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.in.WmsInPlanReceivingOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plan_receiving_order_id" jdbcType="BIGINT" property="planReceivingOrderId" />
    <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="coreSourceSysOrderTypeCode" />
    <result column="source_sys_order_type_code" jdbcType="VARCHAR" property="sourceSysOrderTypeCode" />
    <result column="sys_order_type_code" jdbcType="VARCHAR" property="sysOrderTypeCode" />
    <result column="plan_receiving_order_code" jdbcType="VARCHAR" property="planReceivingOrderCode" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.in.WmsInPlanReceivingOrderDto">
      <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>
  <sql id="base_Column_list">
    wipro.plan_receiving_order_id,
    wipro.core_source_sys_order_type_code,
wipro.source_sys_order_type_code,
wipro.sys_order_type_code,
wipro.plan_receiving_order_code,
wipro.warehouse_id,
wipro.order_status,
wipro.status,
wipro.remark,
wipro.org_id,
wipro.create_user_id,
wipro.create_time,
wipro.modified_user_id,
wipro.modified_time,
wipro.is_delete,
wipro.option1,
wipro.option2,
wipro.option3
  </sql>
  <select id="findList" resultMap="BaseResultMapDto">
    SELECT <include refid="base_Column_list"/>,bw.warehouse_name,su.user_name AS create_user_name,
    ssu.user_name AS modified_user_name,
    bo.organization_name
           FROM wms_in_plan_receiving_order wipro
                    LEFT JOIN base_warehouse bw ON wipro.warehouse_id = bw.warehouse_id
                    LEFT JOIN sys_user su ON wipro.create_user_id=su.user_id
                    LEFT JOIN sys_user ssu ON wipro.modified_user_id=ssu.user_id
                    LEFT JOIN base_organization bo ON wipro.org_id = bo.organization_id
    <where>
      <if test="planReceivingOrderId !=null and planReceivingOrderId!=''">
        and wipro.plan_receiving_order_id = #{planReceivingOrderId}
      </if>
     <if test="coreSourceSysOrderTypeCode!=null and coreSourceSysOrderTypeCode!=''">
        and wipro.core_source_sys_order_type_code like CONCAT('%',#{coreSourceSysOrderTypeCode},'%')
     </if>
    <if test="sourceSysOrderTypeCode!=null and sourceSysOrderTypeCode!=''">
      and wipro.source_sys_order_type_code like CONCAT('%',#{sourceSysOrderTypeCode},'%')
    </if>
    <if test="sysOrderTypeCode!=null and sysOrderTypeCode!=''">
      and wipro.sys_order_type_code = #{sysOrderTypeCode}
    </if>
    <if test="planReceivingOrderCode!=null and planReceivingOrderCode!=''">
      and wipro.plan_receiving_order_code like CONCAT('%',#{planReceivingOrderCode},'%')
    </if>
    <if test="warehouseName!=null and warehouseName!=''">
      and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
    </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(wipro.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    <if test="orderStatus!=null and orderStatus!=''">
      and wipro.order_status = #{orderStatus}
    </if>
    </where>
order by wipro.create_time desc
  </select>
</mapper>