<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.in.mapper.WmsInAsnOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.in.WmsInAsnOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="asn_order_id" jdbcType="BIGINT" property="asnOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="asn_code" jdbcType="VARCHAR" property="asnCode" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
    <result column="related_order_code_1" jdbcType="VARCHAR" property="relatedOrderCode1" />
    <result column="related_order_code_2" jdbcType="VARCHAR" property="relatedOrderCode2" />
    <result column="related_order_code_3" jdbcType="VARCHAR" property="relatedOrderCode3" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="plan_ago_date" jdbcType="TIMESTAMP" property="planAgoDate" />
    <result column="start_receiving_date" jdbcType="TIMESTAMP" property="startReceivingDate" />
    <result column="end_receiving_date" jdbcType="TIMESTAMP" property="endReceivingDate" />
    <result column="shipper_name" jdbcType="VARCHAR" property="shipperName" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="e_mail_address" jdbcType="VARCHAR" property="eMailAddress" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="material_type" jdbcType="TINYINT" property="materialType"/>
    <collection property="wmsInAsnOrderDetList" ofType="com.fantechs.common.base.general.entity.wms.in.WmsInAsnOrderDet"
                column="{asnOrderId=asn_order_id}" select="com.fantechs.provider.wms.in.mapper.WmsInAsnOrderDetMapper.findList">
    </collection>
  </resultMap>
  <resultMap id="BaseResultDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.in.WmsInAsnOrderDto">
    <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode"/>
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="order_type_name" jdbcType="VARCHAR" property="orderTypeName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>

    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="putaway_qty" jdbcType="DECIMAL" property="putawayQty" />
  </resultMap>
  <sql id="BaseColumn">
    wiao.asn_order_id,
      wiao.source_order_id,
  wiao.material_owner_id,
  wiao.supplier_id,
  wiao.order_type_id,
  wiao.asn_code,
wiao.warehouse_id,
wiao.storage_id,
  wiao.customer_order_code,
  wiao.related_order_code_1,
  wiao.related_order_code_2,
  wiao.related_order_code_3,
  wiao.order_date,
  wiao.plan_ago_date,
  wiao.start_receiving_date,
  wiao.end_receiving_date,
  wiao.shipper_name,
  wiao.link_man_name,
  wiao.link_man_phone,
  wiao.fax_number,
  wiao.e_mail_address,
  wiao.detailed_address,
  wiao.descr,
  wiao.order_status,
  wiao.status,
  wiao.remark,
  wiao.org_id,
  wiao.create_user_id,
  wiao.create_time,
  wiao.modified_user_id,
  wiao.modified_time,
  wiao.is_delete,
wiao.material_type
  </sql>
    <select id="findList" resultMap="BaseResultDto">
      select <include refid="BaseColumn"/>,
        <if test="orderTypeId==3">
          oto.transfer_order_code as source_order_code,
        </if>
      <if test="orderTypeId==5">
        osro.sales_return_order_code as source_order_code,
      </if>
    <if test="orderTypeId==6">
        oio.other_in_order_code as source_order_code,
    </if>
    <if test="orderTypeId==7">
        ouo.other_out_order_code as source_order_code,
    </if>
        bw.warehouse_name,bws.storage_code,
      (select SUM(wiaod.packing_qty) FROM wms_in_asn_order_det wiaod where wiaod.asn_order_id=wiao.asn_order_id) as packing_qty,
      (select SUM(wiaod.actual_qty) FROM wms_in_asn_order_det wiaod where wiaod.asn_order_id=wiao.asn_order_id) as actual_qty,
      (select SUM(wiaod.putaway_qty) FROM wms_in_asn_order_det wiaod where wiaod.asn_order_id=wiao.asn_order_id) as putaway_qty,
    material_owner_name,bs.supplier_name,boy.order_type_name,su.user_name AS create_user_name,
      sus.user_name AS modified_user_name,
      bo.organization_name AS organization_Name
      FROM wms_in_asn_order wiao
      <if test="orderTypeId==3">
        LEFT JOIN om_transfer_order oto ON oto.transfer_order_id = wiao.source_order_id
      </if>
      <if test="orderTypeId==5">
        LEFT JOIN om_sales_return_order osro ON osro.sales_return_order_id = wiao.source_order_id
      </if>
    <if test="orderTypeId==6">
      LEFT JOIN om_other_in_order oio ON oio.other_in_order_id = wiao.source_order_id
    </if>
            <if test="orderTypeId==7">
              LEFT JOIN om_other_out_order ouo ON ouo.other_out_order_id = wiao.source_order_id
            </if>
      left join base_material_owner bmo ON wiao.material_owner_id=bmo.material_owner_id
      LEFT JOIN base_warehouse bw ON wiao.warehouse_id = bw.warehouse_id
      LEFT JOIN base_storage bws ON wiao.storage_id = bws.storage_id
      LEFT JOIN base_supplier bs ON bs.supplier_id=wiao.supplier_id
        LEFT join base_order_type boy on wiao.order_type_id = boy.order_type_id
      LEFT JOIN ocean_v2.sys_user su ON wiao.create_user_id = su.user_id
      LEFT JOIN ocean_v2.sys_user sus ON wiao.modified_user_id = sus.user_id
      LEFT JOIN base_organization bo ON wiao.org_id = bo.organization_id
<where>
          <if test="asnOrderId !=null and asnOrderId !=''">
            and wiao.asn_order_id = #{asnOrderId}
          </if>
      <if test="asnCode!=null and asnCode!=''">
        and wiao.asn_code like CONCAT('%',#{asnCode},'%')
      </if>
  <if test="orderTypeId==3 and sourceOrderCode!=null and sourceOrderCode!=''">
    and oto.transfer_order_code like CONCAT('%',#{sourceOrderCode},'%')
  </if>
  <if test="orderTypeId==5 and sourceOrderCode!=null and sourceOrderCode!=''">
    and osro.sales_return_order_code like CONCAT('%',#{sourceOrderCode},'%')
  </if>
  <if test="orderTypeId==6 and sourceOrderCode!=null and sourceOrderCode!=''">
    and oio.other_in_order_code like CONCAT('%',#{sourceOrderCode},'%')
  </if>
  <if test="orderTypeId==7 and sourceOrderCode!=null and sourceOrderCode!=''">
    and ouo.other_out_order_code like CONCAT('%',#{sourceOrderCode},'%')
  </if>
    <if test="materialOwnerName!=null and materialOwnerName!=''">
      and bmo.material_owner_name like CONCAT('%',#{materialOwnerName},'%')
    </if>
  <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
    and date_format(wiao.order_date, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
  </if>
      <if test="orgId!=null and orgId!=''">
        and wiao.org_id = #{orgId}
      </if>
      <if test="orderTypeId!=null and orderTypeId!=''">
        and wiao.order_type_id = #{orderTypeId}
      </if>
      <if test="orderStatusList != null and orderStatusList.size()>0">
        and wiao.order_status
        <foreach collection="orderStatusList" open="in (" close=")" item="item" separator="," index="index">
          #{item}
        </foreach>
      </if>
        <if test="orderStatus!=null and orderStatus!=''">
          and wiao.order_status = #{orderStatus}
        </if>
    <if test="orderTypeName!=null and orderTypeName!=''">
        and boy.order_type_name = #{orderTypeName}
    </if>
      <if test="warehouseName!=null and warehouseName!=''">
        and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
      </if>
      <if test="materialType!=null and materialType!=''">
        and wiao.material_type = #{materialType}
      </if>
      <if test="remark!=null and remark!=''">
        and wiao.remark like CONCAT('%',#{remark},'%')
      </if>
      <if test="createTime!=null and createTime!=''">
        and date_format(wiao.create_Time, '%Y-%m-%d') =#{createTime}
      </if>
</where>
order by wiao.create_time desc
    </select>

  <select id="findBarCode" resultType="java.lang.String" parameterType="java.lang.Long">
    select barcode FROM mes_sfc_work_order_barcode WHERE work_order_barcode_id=#{id}
  </select>
  <select id="findLineNumber" resultType="java.lang.Integer">
    select count(*) From wms_in_asn_order_det where asn_order_id = #{asnOrderId}
  </select>

  <select id="findDefaultStatus" resultType="java.lang.Long">
        SELECT id FROM (SELECT inventory_status_id,
                               CASE
                                 WHEN COUNT(*)=1 THEN
                                    inventory_status_id

          ELSE
                (SELECT inventory_status_id FROM base_inventory_status WHERE inventory_status_name='待检' LIMIT 1)
        END as 'id'
     FROM (SELECT inventory_status_id
     FROM wms_inner_inventory_det
    <where>
      <if test="salesCode!=null and salesCode!=''">
        and option3=#{salesCode}
      </if>
      <if test="poCode!=null and poCode!=''">
        and option4=#{poCode}
      </if>
      <if test="materialId!=null and materialId!=''">
        and material_id = #{materialId}
      </if>
    </where>
     GROUP BY inventory_status_id) a) b
  </select>
</mapper>