<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.in.mapper.WmsInAsnOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.in.WmsInAsnOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="asn_order_det_id" jdbcType="BIGINT" property="asnOrderDetId" />
    <result column="asn_order_id" jdbcType="BIGINT" property="asnOrderId" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="order_det_id" jdbcType="BIGINT" property="orderDetId" />
    <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId" />
    <result column="line_number" jdbcType="INTEGER" property="lineNumber" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName" />
    <result column="packing_qty" jdbcType="DECIMAL" property="packingQty" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="putaway_qty" jdbcType="DECIMAL" property="putawayQty" />
    <result column="quality_testing_qty" jdbcType="DECIMAL" property="qualityTestingQty" />
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
    <result column="receiving_date" jdbcType="TIMESTAMP" property="receivingDate" />
    <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
    <result column="expired_date" jdbcType="TIMESTAMP" property="expiredDate" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.in.WmsInAsnOrderDetDto">
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="createUser_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modifiedUser_name" jdbcType="VARCHAR" property="modifiedUserName"/>
  </resultMap>
  <sql id="BaseColumnList">
wiaod.asn_order_det_id,
wiaod.asn_order_id,
wiaod.source_order_id,
wiaod.order_det_id,
wiaod.inventory_status_id,
wiaod.line_number,
wiaod.material_id,
wiaod.warehouse_id,
wiaod.storage_id,
wiaod.packing_unit_name,
wiaod.packing_qty,
wiaod.actual_qty,
wiaod.putaway_qty,
wiaod.quality_testing_qty,
wiaod.pallet_code,
wiaod.receiving_date,
wiaod.production_date,
wiaod.expired_date,
wiaod.batch_code,
wiaod.status,
wiaod.remark,
wiaod.org_id,
wiaod.create_user_id,
wiaod.create_time,
wiaod.modified_user_id,
wiaod.modified_time,
wiaod.is_delete
  </sql>
  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="BaseColumnList"/>,mpwo.work_order_code,bm.material_code,bm.material_name,bw.warehouse_name,bws.storage_code,bis.inventory_status_name,su.user_name AS create_user_name,
           sus.user_name AS modified_user_name,
           bo.organization_name AS organization_Name
           FROM wms_in_asn_order_det wiaod
           LEFT JOIN mes_pm_work_order mpwo ON wiaod.source_order_id = mpwo.work_order_id
           LEFT JOIN base_material bm ON wiaod.material_id = bm.material_id
    LEFT JOIN base_warehouse bw ON wiaod.warehouse_id = bw.warehouse_id
    LEFT JOIN base_storage bws ON wiaod.storage_id = bws.storage_id
           LEFT JOIN base_inventory_status bis ON wiaod.inventory_status_id = bis.inventory_status_id
           LEFT JOIN sys_user su ON wiaod.create_user_id = su.user_id
           LEFT JOIN sys_user sus ON wiaod.modified_user_id = sus.user_id
           LEFT JOIN base_organization bo ON wiaod.org_id = bo.organization_id
    <where>
      <if test="asnOrderId !=null and asnOrderId !=''">
        and wiaod.asn_order_id=#{asnOrderId}
      </if>
      <if test="asnOrderDetId !=null and asnOrderDetId!=''">
        and wiaod.asn_order_det_id = #{asnOrderDetId}
      </if>
      <if test="materialCode !=null and materialCode !=''">
        and bm.material_code like CONCAT('%',#{materialCode},'%')
      </if>
      <if test="asnOrderDetId !=null and asnOrderDetId!=''">
        and wiaod.asn_order_det_id = #{asnOrderDetId}
      </if>
      <if test="inventoryStatusId !=null and inventoryStatusId!=''">
        and wiaod.inventory_status_id = #{inventoryStatusId}
      </if>

    </where>
  </select>
<select id="findLineNumber" resultType="java.lang.Integer">
  select count(*) From wms_in_asn_order_det where asn_order_id=#{asnOrderId}
</select>
</mapper>
