<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.in.mapper.WmsInFinishedProductDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.in.WmsInFinishedProductDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="finished_product_det_id" jdbcType="BIGINT" property="finishedProductDetId" />
    <result column="finished_product_id" jdbcType="VARCHAR" property="finishedProductId" />
    <result column="product_model_id" jdbcType="BIGINT" property="productModelId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
    <result column="carton_quantity" jdbcType="DECIMAL" property="cartonQuantity" />
    <result column="in_quantity" jdbcType="DECIMAL" property="inQuantity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDTO" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.in.WmsInFinishedProductDetDto">
    <result column="product_material_code" jdbcType="VARCHAR" property="productMaterialCode"/>
    <result column="product_material_name" jdbcType="VARCHAR" property="productMaterialName"/>
    <result column="product_material_desc" jdbcType="VARCHAR" property="productMaterialDesc"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode"/>
    <result column="createUser_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modifiedUser_name" jdbcType="VARCHAR" property="modifiedUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    fpd.finished_product_det_id,
    fpd.finished_product_id,
    fpd.product_model_id,
    fpd.storage_id,
    fpd.pallet_code,
    fpd.carton_quantity,
    fpd.in_quantity,
    fpd.`status`,
    fpd.remark,
    fpd.organization_id,
    fpd.create_user_id,
    fpd.create_time,
    fpd.modified_user_id,
    fpd.modified_time,
    fpd.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
    SELECT <include refid="Base_Column_List"></include>,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_code AS organization_code,
    pm.product_model_code AS product_model_code,
    pm.product_model_name AS product_model_name,
    pm.product_model_desc AS product_model_desc,
    s.storage_name AS storage_name,
    wa.warehouse_area_name AS warehouse_area_name,
    w.warehouse_name AS warehouse_name
    FROM
    wms_in_finished_product_det AS fpd
    LEFT JOIN ocean.sys_user su ON fpd.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON fpd.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON fpd.organization_id = bo.organization_id
    LEFT JOIN smt_product_model pm ON fpd.product_model_id = pm.product_model_id
    LEFT JOIN smt_storage s ON fpd.storage_id = s.storage_id
    LEFT JOIN smt_warehouse_area wa ON s.warehouse_area_id = wa.warehouse_area_id
    LEFT JOIN smt_warehouse w ON s.warehouse_id = w.warehouse_id
    <where>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and date_format(fp.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="finishedProductId != null and finishedProductId != ''">
        and fpd.finished_product_id = #{finishedProductId}
      </if>

    </where>

  </select>


</mapper>