<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.in.mapper.history.WmsInHtStorageBillsDetMapper">
      <resultMap id="BaseResultMap" type="com.fantechs.common.base.entity.basic.history.WmsInHtStorageBillsDet">
        <result column="ht_storage_bills_det_id" jdbcType="BIGINT" property="htStorageBillsDetId" />
        <result column="storage_bills_det_id" jdbcType="BIGINT" property="storageBillsDetId" />
          <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
        <result column="storage_bills_id" jdbcType="BIGINT" property="storageBillsId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="will_income_total" jdbcType="DECIMAL" property="willIncomeTotal" />
        <result column="real_income_total" jdbcType="DECIMAL" property="realIncomeTotal" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="operation" jdbcType="VARCHAR" property="operation" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

<resultMap id="BaseResultMapDTO" type="com.fantechs.common.base.dto.basic.history.WmsInHtStorageBillsDetDTO" extends="BaseResultMap">
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
</resultMap>

  <select id="selectUserName" resultType="string">
    select su.user_name from ocean.sys_user su where su.user_id = #{id}
  </select>

 <select id="selectFilterAll" resultMap="BaseResultMapDTO" parameterType="map">
     SELECT
         whsbd.ht_storage_bills_det_id,
         whsbd.storage_bills_det_id,
         whsbd.storage_bills_id,
         whsbd.material_id,
         whsbd.will_income_total,
         whsbd.real_income_total,
         whsbd.`status`,
         whsbd.organization_id,
	     whsbd.remark,
         whsbd.is_delete,
         whsbd.create_user_id,
         whsbd.create_time,
         whsbd.modified_user_id,
         whsbd.modified_time,
         sm.material_code AS 'materialCode',
         sm.material_name AS 'materialName',
         sm.material_desc AS 'materialDesc',
         spm.product_model_name AS 'productModelName',
         bt.main_unit AS 'unit',
         ss.storage_name AS 'storageName',
         ss.storage_code AS 'storageCode',
         su1.user_name AS createUserName,
         su2.user_name AS modifiedUserName,
         swha.warehouse_area_name AS warehouseAreaName,
         swha.warehouse_area_code AS warehouseAreaCode,
         swh.warehouse_name AS warehouseName,
         swh.warehouse_code AS warehouseCode,
         bo.organization_name
     FROM
         wms_in_ht_storage_bills_det AS whsbd
             LEFT JOIN `smt_material` sm ON whsbd.material_id = sm.material_id
             LEFT JOIN base_tab bt on bt.material_id = sm.material_id
             LEFT JOIN `smt_product_model` spm ON spm.product_model_id = bt.product_model_id
             LEFT JOIN `smt_storage_material` ssm ON ssm.material_id = sm.material_id
             LEFT JOIN `smt_storage` ss ON ss.storage_id = ssm.storage_id
             LEFT JOIN ocean.sys_user su1 on su1.user_id = whsbd.create_user_id
             LEFT JOIN ocean.sys_user su2 on su2.user_id = whsbd.modified_user_id
             LEFT JOIN smt_warehouse swh ON swh.warehouse_id = ss.warehouse_id
             LEFT JOIN smt_warehouse_area swha ON swha.warehouse_area_id = ss.warehouse_area_id
             LEFT JOIN base_organization bo ON whsbd.organization_id = bo.organization_id
     WHERE
         whsbd.storage_bills_id = #{storageBillsId} AND whsbd.is_delete=1
 </select>

</mapper>