<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsDataExportInnerJobOrderMapper">
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.restapi.WmsDataExportInnerJobOrderDto">
    <!--
      WARNING - @mbg.generated com.fantechs.common.base.general.entity.eng.EngContractQtyOrder
    -->
    <id column="packing_order_summary_det_id" jdbcType="VARCHAR" property="packingOrderSummaryDetId" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="despatch_batch" jdbcType="VARCHAR" property="despatchBatch" />
    <result column="carton_code" jdbcType="VARCHAR" property="cartonCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="putaway_qty" jdbcType="VARCHAR" property="putawayQty" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="record_time" jdbcType="VARCHAR" property="recordTime" />
    <result column="record_user" jdbcType="VARCHAR" property="recordUser" />
    <result column="inner_time" jdbcType="VARCHAR" property="innerTime" />
    <result column="inner_sure_time" jdbcType="VARCHAR" property="innerSureTime" />

  </resultMap>

  <sql id="Base_Column_List">
    eposdet.packing_order_summary_det_id,
    ecqo.option1,
    epos.contract_code,
    epos.purchase_req_order_code,
    IFNULL(epo.despatch_batch,'') AS despatch_batch,
    eposdet.carton_code,
    bm.material_code,
    IFNULL(eposdet.location_num,'') AS location_num,
    eposdet.dominant_term_code,
    eposdet.device_code,
    wijod.distribution_qty AS putaway_qty,
    IFNULL(bs.storage_code,'default') AS storage_code,
    IFNULL(ecqo.remark,'') AS remark,
    IFNULL(epo.arrival_time,NOW()) AS inner_time,
    IFNULL(epo.arrival_time,NOW()) AS inner_sure_time,
    wijo.modified_time AS record_time,
    u.user_name AS record_user
  </sql>

  <select id="findExportData" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    FROM wms_inner_job_order_det wijod
    JOIN wms_inner_job_order wijo ON wijod.job_order_id=wijo.job_order_id
    JOIN eng_packing_order_summary_det eposdet ON wijod.source_det_id=eposdet.packing_order_summary_det_id
    LEFT JOIN eng_packing_order_summary epos ON eposdet.packing_order_summary_id=epos.packing_order_summary_id
    LEFT JOIN eng_packing_order epo ON epos.packing_order_id=epo.packing_order_id
    LEFT JOIN base_material bm ON eposdet.material_id=bm.material_id
    LEFT JOIN eng_contract_qty_order ecqo ON epos.contract_code=ecqo.contract_code
    AND eposdet.device_code=ecqo.device_code
    AND bm.material_code=ecqo.material_code
    LEFT JOIN eng_purchase_req_order epro ON epro.option3=ecqo.option3
    LEFT JOIN base_storage bs ON wijod.in_storage_id=bs.storage_id
    LEFT JOIN ocean_v2.sys_user u ON wijo.modified_user_id=u.user_id
    <where>
      <if test="jobOrderId!=null and jobOrderId!=''">
        and wijod.job_order_id = #{jobOrderId} and IFNULL(wijod.option3,'')!='finish'
      </if>
      <if test="jobOrderDetId!=null and jobOrderDetId!=''">
        and wijod.job_order_det_id = #{jobOrderDetId}
      </if>

    </where>
    GROUP BY eposdet.packing_order_summary_det_id,ecqo.option1,epos.contract_code,
    epos.purchase_req_order_code,despatch_batch,eposdet.carton_code,
    bm.material_code,location_num,eposdet.dominant_term_code,
    eposdet.device_code,wijod.distribution_qty,storage_code,ecqo.remark,
    inner_time,inner_sure_time,record_time,record_user
  </select>
</mapper>