<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerStorageInventoryMapper">

    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStorageInventory">
        <id column="storage_inventory_id" jdbcType="BIGINT" property="storageInventoryId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <collection property="smtStorageInventoryDets"
                    ofType="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStorageInventoryDet"
                    column="storage_inventory_id"
                    select="com.fantechs.provider.wms.inner.mapper.WmsInnerStorageInventoryDetMapper.findById"></collection>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerStorageInventoryDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        wisi.storage_inventory_id,wisi.storage_id,wisi.material_id,wisi.level,wisi.quantity,
        wisi.create_user_id,wisi.create_time,wisi.modified_user_id,wisi.modified_time, wisi.organization_id,
	    wisi.remark,wisi.is_delete,wisi.status
    </sql>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        SELECT<include refid="Base_Column_List"/>, su.user_name AS create_user_name, sus.user_name AS
        modified_user_name,
        ss.storage_name,ss.storage_code,sm.material_desc,sm.version, bo.organization_name
        FROM wms_inner_storage_inventory wisi
        LEFT JOIN ocean_v2.sys_user su ON wisi.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON wisi.modified_user_id = sus.user_id
        LEFT JOIN fantech_imes_v2.smt_storage ss ON ss.storage_id = wisi.storage_id
        LEFT JOIN fantech_imes_v2.smt_material sm ON sm.material_id = wisi.material_id
        LEFT JOIN fantech_imes_v2.base_organization bo ON wisi.organization_id = bo.organization_id
        <where>
            <if test="materialDesc!= null and materialDesc !='' ">
                and sm.material_desc like CONCAT('%', #{materialDesc}, '%')
            </if>
            <if test="storageCode!= null and storageCode !='' ">
                and ss.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="storageName!= null and storageName !='' ">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="materialCode!= null and materialCode !='' ">
                and sm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="level!= null and level !='' ">
                and wisi.level like CONCAT('%', #{level}, '%')
            </if>
            <if test="materialId!= null and materialId !='' ">
                and wisi.material_id = #{materialId}
            </if>
            <if test="storageId!= null and storageId !='' ">
                and wisi.storage_id = #{storageId}
            </if>
            <if test="storageInventoryId!= null and storageInventoryId !='' ">
                and wisi.storage_inventory_id = #{storageInventoryId}
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(wisi.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by wisi.create_time desc
    </select>

    <update id="refreshQuantity" parameterType="map">
        update smt_storage_inventory set quantity=quantity+#{quantity} where  storage_id = #{storageId}
    </update>

</mapper>
