<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerStockOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStockOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stock_order_id" jdbcType="BIGINT" property="stockOrderId" />
    <result column="stock_order_code" jdbcType="VARCHAR" property="stockOrderCode" />
    <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId"/>
    <result column="related_order_code" jdbcType="VARCHAR" property="relatedOrderCode" />
    <result column="stock_type" jdbcType="TINYINT" property="stockType" />
    <result column="project_type" jdbcType="TINYINT" property="projectType" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="stock_mode" jdbcType="TINYINT" property="stockMode" />
    <result column="if_blind_stock" jdbcType="TINYINT" property="ifBlindStock" />
    <result column="max_storage_count" jdbcType="INTEGER" property="maxStorageCount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerStockOrderDto">
    <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>
  <sql id="Base_Column_List">
    wiv.stock_order_id,
    wiv.stock_order_code,
wiv.material_owner_id,
wiv.related_order_code,
wiv.stock_type,
wiv.project_type,
wiv.warehouse_id,
wiv.order_status,
wiv.stock_mode,
wiv.if_blind_stock,
wiv.max_storage_count,
wiv.remark,
wiv.org_id,
wiv.create_user_id,
wiv.create_time,
wiv.modified_user_id,
wiv.modified_time
  </sql>
  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    SELECT <include refid="Base_Column_List"/>,bmo.material_owner_name,bw.warehouse_name,su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
    FROM wms_inner_stock_order wiv
    LEFT JOIN base_material_owner bmo ON wiv.material_owner_id=bmo.material_owner_id
    LEFT JOIN base_warehouse bw ON wiv.warehouse_id = bw.warehouse_id
    LEFT JOIN ocean_v2.sys_user su  ON wiv.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wiv.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wiv.org_id = bo.organization_id
    <where>
        <if test="materialOwnerName!=null and materialOwnerName!=''">
          and bmo.material_owner_name like CONCAT('%',#{materialOwnerName},'%')
        </if>
        <if test="orgId!=null and orgId!=''">
          and wiv.org_id = #{orgId}
        </if>
      <if test="stockOrderCode !=null and stockOrderCode!=''">
        and wiv.stock_order_code like CONCAT('%',#{stockOrderCode},'%')
      </if>
    <if test="warehouseName!=null and warehouseName!=''">
      and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
    </if>
    <if test="relatedOrderCode!=null and relatedOrderCode!=''">
      and wiv.related_order_code like CONCAT('%',#{relatedOrderCode},'%')
    </if>
    <if test="stockType !=null and stockType!=''">
      and wiv.stock_type = #{stockType}
    </if>
    <if test="projectType!=null and projectType!=''">
      and wiv.project_type = #{projectType}
    </if>
    <if test="orderStatus!=null and orderStatus!=''">
      and wiv.order_status = #{orderStatus}
    </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(wiv.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    <if test="createUserName !=null and createUserName!=''">
      and su.user_name like CONCAT('%',#{createUserName},'%')
    </if>
    <if test="isPda==true">
      and wiv.order_status in (2,3) and wiv.stock_mode = 1
    </if>
    <if test="stockMode!=null and stockMode!=''">
        and wiv.stock_mode = #{stockMode}
    </if>
    <if test="ifBlindStock!=null and ifBlindStock!=''">
      and wiv.if_blind_stock=#{ifBlindStock}
    </if>
    <if test="remark!=null and remark!=''">
      and wiv.remark like CONCAT('%',#{remark},'%')
    </if>
    </where>
order by wiv.create_time desc
  </select>
  <select id="findStorageName" resultType="java.lang.String">
    select storage_name From base_storage where storage_id = #{storageId}
  </select>
  <select id="findWarehouseName" resultType="java.lang.String">
    select warehouse_name FROM base_warehouse where warehouse_id = #{warehouseId}
  </select>
  <select id="findMaterialId" resultType="java.lang.Long">
    select material_id From base_material where material_code = #{materialCode}
  </select>
</mapper>