<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerJobOrderDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerJobOrderDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="job_order_det_id" jdbcType="BIGINT" property="jobOrderDetId"/>
        <result column="job_order_id" jdbcType="BIGINT" property="jobOrderId"/>
        <result column="source_det_id" jdbcType="BIGINT" property="sourceDetId"/>
        <result column="material_owner_id" jdbcType="BIGINT" property="materialOwnerId"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="in_storage_id" jdbcType="BIGINT" property="inStorageId"/>
        <result column="out_storage_id" jdbcType="BIGINT" property="outStorageId"/>
        <result column="platform_id" jdbcType="BIGINT" property="platformId"/>
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName"/>
        <result column="plan_qty" jdbcType="DECIMAL" property="planQty"/>
        <result column="distribution_qty" jdbcType="DECIMAL" property="distributionQty"/>
        <result column="actual_qty" jdbcType="DECIMAL" property="actualQty"/>
        <result column="pallet_code" jdbcType="VARCHAR" property="palletCode"/>
        <result column="receiving_date" jdbcType="TIMESTAMP" property="receivingDate"/>
        <result column="production_date" jdbcType="TIMESTAMP" property="productionDate"/>
        <result column="expired_date" jdbcType="TIMESTAMP" property="expiredDate"/>
        <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime"/>
        <result column="work_end_time" jdbcType="TIMESTAMP" property="workEndTime"/>
        <result column="batch_code" jdbcType="VARCHAR" property="batchCode"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="shift_storage_status" jdbcType="TINYINT" property="shiftStorageStatus"/>
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerJobOrderDetDto">
        <result column="material_owner_name" jdbcType="VARCHAR" property="materialOwnerName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="out_storage_name" jdbcType="VARCHAR" property="outStorageName"/>
        <result column="out_storage_code" jdbcType="VARCHAR" property="outStorageCode"/>
        <result column="in_storage_name" jdbcType="VARCHAR" property="inStorageName"/>
        <result column="in_storage_code" jdbcType="VARCHAR" property="inStorageCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="platform_name" jdbcType="VARCHAR" property="platformName"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="option4" jdbcType="VARCHAR" property="option4"/>
        <result column="release_name" jdbcType="VARCHAR" property="releaseName"/>
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode"/>
        <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode"/>
    </resultMap>
    <sql id="BaseColumnList">
        wipod.job_order_det_id,
        wipod.job_order_id,
        wipod.source_det_id,
        wipod.material_owner_id,
        wipod.warehouse_id,
        wipod.in_storage_id,
        wipod.out_storage_id,
        wipod.platform_id,
        wipod.inventory_status_id,
        wipod.material_id,
        wipod.packing_unit_name,
        wipod.plan_qty,
        wipod.distribution_qty,
        wipod.actual_qty,
        wipod.receiving_date,
        wipod.production_date,
        wipod.expired_date,
        wipod.work_start_time,
        wipod.work_end_time,
        wipod.batch_code,
        wipod.status,
        wipod.remark,
        wipod.org_id,
        wipod.create_user_id,
        wipod.create_time,
        wipod.modified_user_id,
        wipod.modified_time,
        wipod.is_delete,
        wipod.order_status,
        wipod.shift_storage_status
    </sql>
    <select id="findList" resultMap="BaseResultMapDto">
        SELECT<include refid="BaseColumnList"/>,
        bmo.material_owner_name,
        bw.warehouse_name,
        bso.storage_code AS out_storage_name,
        bso.storage_code AS out_storage_code,
        bsi.storage_code AS in_storage_name,
        bsi.storage_code AS in_storage_code,
        bp.platform_name,
        bm.material_code,
        bm.material_name,
        bm.material_desc,
        bis.inventory_status_name,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name,
        bo.organization_name AS organization_name,
        bpl.pro_name,
        ws.stacking_code AS pallet_code,
        wijo.option3 AS sales_code,
        wijo.option4 AS same_package_code,
        rel.user_name AS release_name
        FROM wms_inner_job_order_det wipod
        LEFT JOIN wms_inner_job_order wijo ON wipod.job_order_id = wijo.job_order_id
        LEFT JOIN base_material_owner bmo ON wipod.material_owner_id = bmo.material_owner_id
        LEFT JOIN base_warehouse bw ON wipod.warehouse_id = bw.warehouse_id
        LEFT JOIN base_storage bso ON wipod.out_storage_id = bso.storage_id
        LEFT JOIN base_storage bsi ON wipod.in_storage_id = bsi.storage_id
        left JOIN base_platform bp on wipod.platform_id = bp.platform_id
        LEFT JOIN base_inventory_status bis ON wipod.inventory_status_id = bis.inventory_status_id
        LEFT JOIN base_material bm ON wipod.material_id = bm.material_id
        LEFT JOIN ocean_v2.sys_user su ON wipod.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON wipod.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wipod.org_id = bo.organization_id
        LEFT JOIN wms_in_asn_order_det wiaod ON wipod.source_det_id = wiaod.asn_order_det_id
        LEFT JOIN mes_pm_work_order mpwo ON wiaod.source_order_id = mpwo.work_order_id AND wijo.order_type_id=4
        LEFT JOIN base_pro_line bpl ON mpwo.pro_line_id = bpl.pro_line_id
        LEFT JOIN wms_inner_job_order_re_mspp wijorm ON wijo.job_order_id = wijorm.job_order_id
        LEFT JOIN wanbao_stacking ws ON wijorm.product_pallet_id = ws.stacking_id
        LEFT JOIN ocean_v2.sys_user rel ON rel.user_id = wijo.release_user_id
        <if test="userId != null and userId != ''">
            LEFT JOIN base_working_area_re_w bwarw ON bsi.working_area_id = bwarw.working_area_id
            LEFT JOIN base_worker bwork ON bwarw.worker_id = bwork.worker_id
        </if>
        <where>
            <if test="userId !=null and userId!=''">
                AND bwork.user_id = #{userId}
            </if>
            <if test="jobOrderId!=null and jobOrderId!=''">
                and wipod.job_order_id = #{jobOrderId}
            </if>
            <if test="jobOrderDetId !=null and jobOrderDetId !=''">
                and wipod.job_order_det_id = #{jobOrderDetId}
            </if>
            <if test="materialId !=null and materialId !=''">
                and wipod.material_id = #{materialId}
            </if>

            <if test="orderStatusList !=null and orderStatusList.size()!=0">
                and wipod.order_status in
                <foreach item="orderStatus" collection="orderStatusList" open="(" separator="," close=")">
                    #{orderStatus}
                </foreach>
            </if>
            <if test="nonShiftStorageStatus !=null and nonShiftStorageStatus!=''">
                and wipod.shift_storage_status != #{nonShiftStorageStatus}
                and bis.inventory_status_name != '不合格'
            </if>
            <if test="jobOrderType !=null and jobOrderType!= ''">
                and wijo.job_order_type =#{jobOrderType}
            </if>
            <if test="orgId!=null and orgId!=''">
                and wipod.org_id = #{orgId}
            </if>
        </where>
order by wipod.create_time desc
    </select>
    <update id="batchUpdate" parameterType="java.util.ArrayList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update wms_inner_job_order_det
            <set>
                shift_storage_status = #{item.shiftStorageStatus},
            </set>
            where job_order_det_id =#{item.jobOrderDetId}
        </foreach>
    </update>
    <select id="findPalletCode" resultType="java.lang.String">
        select ms.pallet_code FROM mes_sfc_product_pallet ms
LEFT JOIN wms_inner_job_order_re_mspp wi ON  wi.product_pallet_id = ms.product_pallet_id
where wi.job_order_id = #{jobOrderId}
    </select>
    <select id="findEngMaterial" resultType="java.lang.Long">
        select material_id FROM eng_packing_order_summary_det where packing_order_summary_det_id=#{id}
    </select>
</mapper>