<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerStocktakingDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStocktakingDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stocktaking_det_id" jdbcType="BIGINT" property="stocktakingDetId" />
    <result column="stocktaking_id" jdbcType="BIGINT" property="stocktakingId" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="book_inventory" jdbcType="DECIMAL" property="bookInventory" />
    <result column="counted_quantity" jdbcType="DECIMAL" property="countedQuantity" />
    <result column="profit_loss_quantity" jdbcType="DECIMAL" property="profitLossQuantity" />
    <result column="profit_loss_rate" jdbcType="DECIMAL" property="profitLossRate" />
    <result column="delivery_rate" jdbcType="DECIMAL" property="deliveryRate" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="profit_loss_amount" jdbcType="DECIMAL" property="profitLossAmount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerStocktakingDetDto" extends="BaseResultMap">
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode" />
    <result column="storage_name" jdbcType="VARCHAR" property="storageName" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode" />
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="product_model_code" jdbcType="VARCHAR" property="productModelCode" />
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="stockist_name" jdbcType="VARCHAR" property="stockistName" />
    <result column="stocktaking_code" jdbcType="VARCHAR" property="stocktakingCode" />
  </resultMap>

  <sql id="Base_Column_List">
    wisd.stocktaking_det_id,
	wisd.stocktaking_id,
	wisd.contract_code,
	wisd.pallet_code,
	wisd.material_id,
    wisd.storage_id,
	wisd.book_inventory,
	wisd.counted_quantity,
	wisd.profit_loss_quantity,
	wisd.profit_loss_rate,
	wisd.delivery_rate,
	wisd.price,
	wisd.profit_loss_amount,
	wisd.`status`,
	wisd.remark,
	wisd.organization_id,
	wisd.create_user_id,
	wisd.create_time,
	wisd.modified_user_id,
	wisd.modified_time,
	wisd.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    sm.material_code,sm.material_name,sm.material_desc,
    bo.organization_name,bo.organization_code,
    su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    ss.storage_name,ss.storage_code,
    swa.warehouse_area_id,swa.warehouse_area_code,swa.warehouse_area_name,
    sw.warehouse_id,sw.warehouse_code,sw.warehouse_name,
    spm.product_model_code,spm.product_model_name,
    wis.stocktaking_code,suss.user_name AS stockist_name
    from fantech_imes.wms_inner_stocktaking_det wisd
    LEFT JOIN ocean.sys_user su  ON wisd.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON wisd.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.smt_material sm ON wisd.material_id = sm.material_id
    LEFT JOIN fantech_imes.base_tab bt ON bt.material_id = sm.material_id
    LEFT JOIN fantech_imes.smt_product_model spm ON bt.product_model_id = spm.product_model_id
    LEFT JOIN fantech_imes.smt_storage ss ON wisd.storage_id = ss.storage_id
    LEFT JOIN fantech_imes.smt_warehouse_area swa ON ss.warehouse_area_id = swa.warehouse_area_id
    LEFT JOIN fantech_imes.smt_warehouse sw ON swa.warehouse_id = sw.warehouse_id
    LEFT JOIN fantech_imes.base_organization bo ON wisd.organization_id = bo.organization_id
    LEFT JOIN fantech_imes.wms_inner_stocktaking wis ON wis.stocktaking_id = wisd.stocktaking_id
    LEFT JOIN ocean.sys_user suss ON wis.stockist_id = suss.user_id
    <where>
      <if test="stocktakingId !=null">
        and wisd.stocktaking_id=#{stocktakingId}
      </if>
      <if test="stocktakingCode != null and stocktakingCode != ''">
        and wis.stocktaking_code like CONCAT("%",#{stocktakingCode},"%")
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(wisd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="materialCode!=null and materialCode != ''">
        and sm.material_code like CONCAT("%",#{materialCode},"%")
      </if>
      <if test="materialName!=null and materialName != ''">
        and sm.material_name like CONCAT("%",#{materialName},"%")
      </if>
      <if test="contractCode!=null and contractCode != ''">
        and wisd.contract_code like CONCAT("%",#{contractCode},"%")
      </if>
      <if test="palletCode!=null and palletCode != ''">
        and wisd.pallet_code like CONCAT("%",#{palletCode},"%")
      </if>
      <if test="transferSlipStatus != null">
        <choose>
            <when test="transferSlipStatus == 0">
                and wisd.delivery_rate = 0
            </when>
            <when test="transferSlipStatus == 1">
                and wisd.delivery_rate &gt; 0
            </when>
            <when test="transferSlipStatus == 2">
                and wisd.delivery_rate &lt; 0
            </when>
        </choose>
      </if>
      <if test="stockistId !=null">
        and wis.stockist_id=#{stockistId}
      </if>
      <if test="status!=null">
        and wits.status=#{status}
      </if>
      <if test="stockistName!=null and stockistName != ''">
        and suss.user_name like CONCAT("%",#{stockistName},"%")
      </if>
    </where>
    order by wisd.create_time desc
  </select>
</mapper>