<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerJobOrderDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerJobOrderDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="job_order_det_id" jdbcType="BIGINT" property="jobOrderDetId" />
        <result column="job_order_id" jdbcType="BIGINT" property="jobOrderId" />
        <result column="core_source_order_code" jdbcType="VARCHAR" property="coreSourceOrderCode" />
        <result column="source_order_code" jdbcType="VARCHAR" property="sourceOrderCode" />
        <result column="core_source_id" jdbcType="BIGINT" property="coreSourceId" />
        <result column="source_id" jdbcType="BIGINT" property="sourceId" />
        <result column="line_number" jdbcType="VARCHAR" property="lineNumber" />
        <result column="in_storage_id" jdbcType="BIGINT" property="inStorageId" />
        <result column="out_storage_id" jdbcType="BIGINT" property="outStorageId" />
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
        <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
        <result column="plan_qty" jdbcType="DECIMAL" property="planQty" />
        <result column="distribution_qty" jdbcType="DECIMAL" property="distributionQty" />
        <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
        <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime" />
        <result column="work_end_time" jdbcType="TIMESTAMP" property="workEndTime" />
        <result column="line_status" jdbcType="TINYINT" property="lineStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerJobOrderDetDto">
        <result column="job_order_code" jdbcType="VARCHAR" property="jobOrderCode"/>
        <result column="out_storage_name" jdbcType="VARCHAR" property="outStorageName"/>
        <result column="out_storage_code" jdbcType="VARCHAR" property="outStorageCode"/>
        <result column="in_storage_name" jdbcType="VARCHAR" property="inStorageName"/>
        <result column="in_storage_code" jdbcType="VARCHAR" property="inStorageCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="total_material_qty" jdbcType="DECIMAL" property="totalMaterialQty"/>
    </resultMap>
    <sql id="BaseColumnList">
        wipod.job_order_det_id,
        wipod.job_order_id,
        wipod.core_source_order_code,
        wipod.source_order_code,
        wipod.core_source_id,
        wipod.source_id,
        wipod.line_number,
        wipod.in_storage_id,
        wipod.out_storage_id,
        wipod.inventory_status_id,
        wipod.material_id,
        wipod.production_date,
        wipod.batch_code,
        wipod.plan_qty,
        wipod.distribution_qty,
        wipod.actual_qty,
        wipod.work_start_time,
        wipod.work_end_time,
        wipod.line_status,
        wipod.status,
        wipod.remark,
        wipod.org_id,
        wipod.create_user_id,
        wipod.create_time,
        wipod.modified_user_id,
        wipod.modified_time,
        wipod.is_delete,
        wipod.option1,
        wipod.option2,
        wipod.option3
    </sql>
    <select id="findList" resultMap="BaseResultMapDto">
        select * from (
        SELECT<include refid="BaseColumnList"/>,
        bso.storage_name AS out_storage_name,
        bso.storage_code AS out_storage_code,
        bsi.storage_name AS in_storage_name,
        bsi.storage_code AS in_storage_code,
        bm.material_code,
        bm.material_name,
        bm.material_desc,
        wijo.job_order_code,
        bis.inventory_status_name,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name,
        bo.organization_name AS organization_name,
        sum(wimb.material_qty) as total_material_qty
        FROM wms_inner_job_order_det wipod
        left join wms_inner_job_order wijo on wijo.job_order_id = wipod.job_order_id
        LEFT JOIN base_storage bso ON wipod.out_storage_id = bso.storage_id
        LEFT JOIN base_storage bsi ON wipod.in_storage_id = bsi.storage_id
        LEFT JOIN base_inventory_status bis ON wipod.inventory_status_id = bis.inventory_status_id
        LEFT JOIN base_material bm ON wipod.material_id = bm.material_id
        LEFT JOIN sys_user su ON wipod.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON wipod.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wipod.org_id = bo.organization_id
        left join wms_inner_material_barcode wimb on wimb.print_order_code = wijo.job_order_code and wimb.material_id = wipod.material_id
        <where>
            <if test="jobOrderId!=null and jobOrderId!=''">
                and wipod.job_order_id = #{jobOrderId}
            </if>
            <if test="jobOrderDetId !=null and jobOrderDetId !=''">
                and wipod.job_order_det_id = #{jobOrderDetId}
            </if>
            <if test="lineStatusList !=null and lineStatusList.size()!=0">
                and wipod.line_status in
                <foreach item="lineStatus" collection="lineStatusList" open="(" separator="," close=")">
                    #{lineStatus}
                </foreach>
            </if>
            <if test="orgId!=null and orgId!=''">
                and wipod.org_id = #{orgId}
            </if>
        </where>
        GROUP BY wipod.job_order_det_id
        ) d
        <where>
            <if test="ifFiltrate!=null and ifFiltrate == 1">
                (d.total_material_qty &lt; d.plan_qty || d.total_material_qty is null)
            </if>
        </where>
    </select>
    <update id="batchUpdate" parameterType="java.util.ArrayList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update wms_inner_job_order_det
            <set>
                shift_storage_status = #{item.shiftStorageStatus},
            </set>
            where job_order_det_id =#{item.jobOrderDetId}
        </foreach>
    </update>
    <select id="findPalletCode" resultType="java.lang.String">
        select ms.pallet_code FROM mes_sfc_product_pallet ms
LEFT JOIN wms_inner_job_order_re_mspp wi ON  wi.product_pallet_id = ms.product_pallet_id
where wi.job_order_id = #{jobOrderId}
    </select>
    <select id="findEngMaterial" resultType="java.lang.Long">
        select material_id FROM eng_packing_order_summary_det where packing_order_summary_det_id=#{id}
    </select>
</mapper>
