<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerStocktakingMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStocktaking">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stocktaking_id" jdbcType="BIGINT" property="stocktakingId" />
    <result column="stocktaking_code" jdbcType="VARCHAR" property="stocktakingCode" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="stockist_id" jdbcType="BIGINT" property="stockistId" />
    <result column="stocktaking_mode" jdbcType="TINYINT" property="stocktakingMode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerStocktakingDto" extends="BaseResultMap">
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_desc" jdbcType="VARCHAR" property="warehouseDesc" />
    <result column="stockist_name" jdbcType="VARCHAR" property="stockistName" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="stockist_name" jdbcType="VARCHAR" property="stockistName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    wis.stocktaking_id,
	wis.stocktaking_code,
	wis.warehouse_id,
    wis.stocktaking_mode,
	wis.stockist_id,
	wis.`status`,
	wis.remark,
	wis.organization_id,
	wis.create_user_id,
	wis.create_time,
	wis.modified_user_id,
	wis.modified_time,
	wis.is_delete
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    sw.warehouse_code,sw.warehouse_name,sw.warehouse_desc,
    bo.organization_name,bo.organization_code,
    su.user_name AS create_user_name, sus.user_name AS modified_user_name,suss.user_name AS stockist_name
    from fantech_imes_v2.wms_inner_stocktaking wis
    LEFT JOIN ocean_v2.sys_user su  ON wis.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wis.modified_user_id = sus.user_id
    LEFT JOIN ocean_v2.sys_user suss ON wis.stockist_id = suss.user_id
    LEFT JOIN fantech_imes_v2.smt_warehouse sw ON wis.warehouse_id= sw.warehouse_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON wis.organization_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(wis.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="stocktakingCode!=null and stocktakingCode != ''">
        and wis.stocktaking_code like CONCAT("%",#{stocktakingCode},"%")
      </if>
      <if test="stockistId!=null">
        and wis.stockist_id = #{stockistId}
      </if>
      <if test="stockistName!=null and stockistName != ''">
        and suss.user_name like CONCAT("%",#{stockistName},"%")
      </if>
      <if test="stocktakingMode!=null">
        and wis.stocktaking_mode = #{stocktakingMode}
      </if>
      <if test="stockistId !=null">
        and wis.stockist_id=#{stockistId}
      </if>
      <if test="status!=null">
        and wis.status=#{status}
      </if>
      <if test="queryMark == 0">
        and (wis.status = 0 or wis.status = 1)
      </if>
    </where>
    order by wis.create_time desc
  </select>
</mapper>