<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerTransferSlipMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerTransferSlip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="transfer_slip_id" jdbcType="BIGINT" property="transferSlipId" />
    <result column="transfer_slip_code" jdbcType="VARCHAR" property="transferSlipCode" />
    <result column="processor_user_id" jdbcType="BIGINT" property="processorUserId" />
    <result column="transfer_slip_time" jdbcType="TIMESTAMP" property="transferSlipTime" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="transfer_slip_status" jdbcType="TINYINT" property="transferSlipStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerTransferSlipDto" extends="BaseResultMap">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="processor_user_name" jdbcType="VARCHAR" property="processorUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
  </resultMap>
  
  <sql id="Base_Column_List">
    wits.transfer_slip_id,
	wits.transfer_slip_code,
	wits.processor_user_id,
	wits.transfer_slip_time,
    wits.order_type,
	wits.transfer_slip_status,
	wits.`status`,
	wits.remark,
	wits.organization_id,
	wits.create_user_id,
	wits.create_time,
	wits.modified_user_id,
	wits.modified_time,
	wits.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select
    <include refid="Base_Column_List" />, su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    suss.user_name AS processor_user_name,
    bo.organization_name,bo.organization_code
    from fantech_imes.wms_inner_transfer_slip wits
    LEFT JOIN ocean.sys_user su  ON wits.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON wits.modified_user_id = sus.user_id
    LEFT JOIN ocean.sys_user suss ON wits.processor_user_id = suss.user_id
    LEFT JOIN fantech_imes.base_organization bo ON wits.organization_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(wits.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="transferSlipCode!=null and transferSlipCode != ''">
        and wits.transfer_slip_code like CONCAT("%",#{transferSlipCode},"%")
      </if>
      <if test="modifiedUserName!=null and modifiedUserName != ''">
        and sus.user_name like CONCAT("%",#{modifiedUserName},"%")
      </if>
      <if test="processorUserName!=null and processorUserName != ''">
        and suss.user_name like CONCAT("%",#{processorUserName},"%")
      </if>
      <if test="status!=null">
        and wits.status=#{status}
      </if>
      <if test="transferSlipStatus !=null">
        and wits.transfer_slip_status=#{transferSlipStatus}
      </if>
      <if test="QueryMark == 0">
        and wits.transfer_slip_status = 0 or wits.transfer_slip_status = 1
      </if>
    </where>
    order by wits.create_time desc
  </select>
</mapper>