<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerInventoryDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerInventoryDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="inventory_det_id" jdbcType="BIGINT" property="inventoryDetId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="material_barcode_id" jdbcType="BIGINT" property="materialBarcodeId"/>
        <result column="if_stock_lock" jdbcType="TINYINT" property="ifStockLock"/>
        <result column="receiving_date" jdbcType="TIMESTAMP" property="receivingDate"/>
        <result column="asn_code" jdbcType="VARCHAR" property="asnCode"/>
        <result column="deliver_date" jdbcType="TIMESTAMP" property="deliverDate"/>
        <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode"/>
        <result column="barcode_status" jdbcType="TINYINT" property="barcodeStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode"/>
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
        <result column="inspection_order_code" jdbcType="VARCHAR" property="inspectionOrderCode"/>
        <result column="qc_date" jdbcType="TIMESTAMP" property="qcDate"/>
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerInventoryDetDto">
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="storage_type" jdbcType="TINYINT" property="storageType"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="package_specification_quantity" jdbcType="DECIMAL" property="packageSpecificationQuantity"/>
    </resultMap>
    <sql id="Base_Column_List">
        wiid.inventory_det_id,
        wiid.storage_id,
        wiid.material_barcode_id,
        wiid.if_stock_lock,
        wiid.receiving_date,
        wiid.asn_code,
        wiid.deliver_date,
        wiid.delivery_order_code,
        wiid.barcode_status,
        wiid.status,
        wiid.remark,
        wiid.org_id,
        wiid.create_user_id,
        wiid.create_time,
        wiid.modified_user_id,
        wiid.modified_time,
        wiid.is_delete,
        wiid.spec,
        wiid.purchase_req_order_code,
        wiid.inventory_status_id,
        wiid.inspection_order_code,
        wiid.qc_date,
        wiid.option1,
        wiid.option2,
        wiid.option3,
        wiid.option4,
        wiid.option5
    </sql>
    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        select<include refid="Base_Column_List"/>,
        bs.storage_code,bs.storage_type,bs.warehouse_id,bw.warehouse_name,bo.organization_name,bis.inventory_status_name,
        wimb.barcode as barcode,wimb.color_box_code as colorBoxCode,wimb.carton_code as cartonCode,wimb.pallet_code as palletCode,
        wimb.batch_code as batchCode,wimb.production_time as productionTime,wimb.material_qty as materialQty,wimb.material_id as materialId,wimb.barcode_type as barcodeType,bm.material_code as material_code,
        bm.material_name as material_name,bps.package_specification_quantity,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name
        from wms_inner_inventory_det wiid
        LEFT JOIN base_inventory_status bis ON bis.inventory_status_id = wiid.inventory_status_id
        LEFT JOIN base_storage bs ON wiid.storage_id = bs.storage_id
        LEFT JOIN base_warehouse bw ON bs.warehouse_id = bw.warehouse_id
        LEFT JOIN wms_inner_material_barcode wimb ON wiid.material_barcode_id = wimb.material_barcode_id
        LEFT JOIN base_material bm ON wimb.material_id = bm.material_id
        LEFT JOIN base_material_tab bmt ON bm.material_id = bmt.material_id
        LEFT JOIN base_package_specification bps ON bmt.package_specification_id = bps.package_specification_id
        LEFT JOIN sys_user su ON wiid.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON wiid.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wiid.org_id = bo.organization_id
        <where>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
            </if>
            <if test="barcode!=null and barcode!=''">
                and wimb.barcode = #{barcode}
            </if>
            <if test="colorBoxCode!=null and colorBoxCode!=''">
                and wimb.color_box_code = #{colorBoxCode}
            </if>
            <if test="cartonCode!=null and cartonCode!=''">
                and wimb.carton_code = #{cartonCode}
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and wimb.pallet_code = #{palletCode}
            </if>
            <if test="storageId!=null and storageId!='' and notEqualMark!=1">
                and wiid.storage_id = #{storageId}
            </if>
            <if test="storageId!=null and storageId!='' and notEqualMark==1">
                and wiid.storage_id != #{storageId}
            </if>
            <if test="materialId!=null and materialId!='' and notEqualMark==1">
                and bm.material_id != #{materialId}
            </if>
            <if test="productionStartDate!= null and productionEndDate!= null">
                and date_format(wiid.production_date, '%Y-%m-%d') BETWEEN #{productionStartDate} AND #{productionEndDate}
            </if>
            <if test="expiredStartDate!= null and expiredEndDate!= null ">
                and date_format(wiid.expired_date, '%Y-%m-%d') BETWEEN #{expiredStartDate} AND #{expiredEndDate}
            </if>
            <if test="receivingStartDate!= null  and receivingEndDate!= null">
                and date_format(wiid.receiving_date, '%Y-%m-%d') BETWEEN #{receivingStartDate} AND #{receivingEndDate}
            </if>
            <if test="deliverStartDate!= null and deliverEndDate!= null ">
                and date_format(wiid.deliver_date, '%Y-%m-%d') BETWEEN #{deliverStartDate} AND #{deliverEndDate}
            </if>
            <if test="inventoryStatusId!=null and inventoryStatusId!=''">
                and wiid.inventory_status_id = #{inventoryStatusId}
            </if>
            <if test="inspectionOrderCode!=null and inspectionOrderCode!=''">
                and wiid.inspection_order_code like CONCAT('%',#{inspectionOrderCode},'%')
            </if>
            <if test="ifInspectionOrderCodeNull!=null and ifInspectionOrderCodeNull==1">
                and wiid.inspection_order_code is null
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and bs.storage_code = #{storageCode}
            </if>
            <if test="materialId!=null and materialId!=''">
                and bm.material_id = #{materialId}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="ifStockLock!=null and ifStockLock>=0">
                and wiid.if_stock_lock = #{ifStockLock}
            </if>
            <if test="asnCode!=null and asnCode!=''">
                and wiid.asn_code like CONCAT('%',#{asnCode},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bss.supplier_name like CONCAT('%',#{supplierName},'%')
            </if>
            <if test="createUserName!=null and createUserName!=''">
                and su.user_name like CONCAT('%',#{createUserName},'%')
            </if>
            <if test="modifiedUserName!=null and modifiedUserName!=''">
                and sus.user_name like CONCAT('%',#{modifiedUserName},'%')
            </if>
            <if test="barcodeStatus!=null and barcodeStatus!=''">
                and wiid.barcode_status = #{barcodeStatus}
            </if>
            <if test="qcDate!=null and qcDate!=''">
                and date_format(wiid.qc_date, '%Y-%m-%d')=#{qcDate}
            </if>
            <if test="deliveryOrderCode!=null and deliveryOrderCode!=''">
                and wiid.delivery_order_code like CONCAT('%',#{deliveryOrderCode},'%')
            </if>
            <if test="orgId!=null and orgId!=''">
                and wiid.org_id = #{orgId}
            </if>
            <if test="materialBarcodeId!=null and materialBarcodeId!=''">
                and wiid.material_barcode_id = #{materialBarcodeId}
            </if>

            <if test="materialBarcodeIdList != null and materialBarcodeIdList.size() > 0">
                and wimb.material_barcode_id
                <foreach collection="materialBarcodeIdList" open="in (" close=")" item="item" separator="," index="index">
                    #{item}
                </foreach>
            </if>
        </where>
        order by wiid.create_time desc
    </select>

    <update id="updateStroage" parameterType="list">
        <foreach collection="inventoryDetList" item="item" index="index" separator=";">
            update wms_inner_inventory_det wiid
            <set>
                <if test="item.storageId != null">
                    wiid.storage_id = #{item.storageId}
                </if>
                <if test="item.barcodeStatus != null">
                    wiid.barcode_status = #{item.barcodeStatus}
                </if>
            </set>
            where wiid.inventory_det_id = #{item.inventoryDetId}
        </foreach>
    </update>

</mapper>
