<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerJobOrderMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerJobOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="job_order_id" jdbcType="BIGINT" property="jobOrderId" />
        <result column="core_source_sys_order_type_code" jdbcType="VARCHAR" property="coreSourceSysOrderTypeCode" />
        <result column="source_sys_order_type_code" jdbcType="VARCHAR" property="sourceSysOrderTypeCode" />
        <result column="source_big_type" jdbcType="TINYINT" property="sourceBigType" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="worker_id" jdbcType="BIGINT" property="workerId" />
        <result column="job_order_code" jdbcType="VARCHAR" property="jobOrderCode" />
        <result column="job_order_type" jdbcType="TINYINT" property="jobOrderType" />
        <result column="work_start_time" jdbcType="TIMESTAMP" property="workStartTime" />
        <result column="work_endt_time" jdbcType="TIMESTAMP" property="workEndtTime" />
        <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />

        <collection property="wmsInPutawayOrderDets" ofType="com.fantechs.common.base.general.entity.wms.inner.WmsInnerJobOrderDet"
                    column="{jobOrderId=job_order_id}" select="com.fantechs.provider.wms.inner.mapper.WmsInnerJobOrderDetMapper.findList">
        </collection>
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerJobOrderDto">
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="order_type_name" jdbcType="VARCHAR" property="orderTypeName"/>
        <result column="core_order_type_name" jdbcType="VARCHAR" property="coreOrderTypeName"/>
        <result column="work_name" jdbcType="VARCHAR" property="workName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="plan_qty" jdbcType="DECIMAL" property="planQty"/>
        <result column="actual_qty" jdbcType="DECIMAL" property="actualQty"/>
        <result column="distribution_qty" jdbcType="DECIMAL" property="distributionQty"/>
    </resultMap>
    <sql id="BaseColumnList">
        wipo.job_order_id,
        wipo.core_source_sys_order_type_code,
        wipo.source_sys_order_type_code,
        wipo.source_big_type,
        wipo.warehouse_id,
        wipo.worker_id,
        wipo.job_order_code,
        wipo.job_order_type,
        wipo.work_start_time,
        wipo.work_endt_time,
        wipo.order_status,
        wipo.status,
        wipo.remark,
        wipo.org_id,
        wipo.create_user_id,
        wipo.create_time,
        wipo.modified_user_id,
        wipo.modified_time,
        wipo.is_delete,
        wipo.option1,
        wipo.option2,
        wipo.option3,
        CASE wipo.core_source_sys_order_type_code WHEN 'IN-PO' THEN '采购订单' WHEN 'IN-SRO' THEN '销退订单' WHEN 'IN-OIO' THEN '其他入库订单'
        WHEN 'MES-WO' THEN '生产订单' WHEN 'SRM-ASN' THEN '预收货通知单' ELSE '' END AS core_order_type_name

    </sql>
    <select id="findList" resultMap="BaseResultMapDto" parameterType="java.util.Map">
        SELECT<include refid="BaseColumnList"/>,
        bw.warehouse_name,wr.user_name as work_name,
        su.user_name AS create_user_name,
        sus.user_name AS modified_user_name,
        bo.organization_name AS organization_Name,
        (SELECT IFNULL(SUM(wipod.plan_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as plan_qty,
        (SELECT IFNULL(SUM(wipod.distribution_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as distribution_qty,
        (SELECT IFNULL(SUM(wipod.actual_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as actual_qty

        FROM wms_inner_job_order wipo
        LEFT JOIN base_warehouse bw ON wipo.warehouse_id = bw.warehouse_id
        LEFT JOIN base_worker bwr ON wipo.worker_id = bwr.user_id AND wipo.warehouse_id=bwr.warehouse_id
        LEFT JOIN sys_user wr ON bwr.user_id = wr.user_id
        LEFT JOIN sys_user su ON wipo.create_user_id = su.user_id
        LEFT JOIN sys_user sus ON wipo.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wipo.org_id = bo.organization_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and wipo.org_id = #{orgId}
            </if>
            <if test="jobOrderCode!=null and jobOrderCode!=''">
                and wipo.job_order_code like CONCAT('%',#{jobOrderCode},'%')
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
            </if>

            <if test="coreSourceSysOrderTypeCode!=null and coreSourceSysOrderTypeCode!=''">
                and wipo.core_source_sys_order_type_code = #{coreSourceSysOrderTypeCode}
            </if>

            <if test="sourceSysOrderTypeCode!=null and sourceSysOrderTypeCode!=''">
                and wipo.source_sys_order_type_code = #{sourceSysOrderTypeCode}
            </if>

            <if test="sourceBigType!=null and sourceBigType!=''">
                and wipo.source_big_type = #{sourceBigType}
            </if>

            <if test="workName!=null and workName!=''">
                and wr.user_name =#{workName}
            </if>
            <if test="jobOrderType !=null and jobOrderType!= ''">
                and wipo.job_order_type =#{jobOrderType}
            </if>
            <if test="jobOrderId !=null and jobOrderId !=''">
                and wipo.job_order_id = #{jobOrderId}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and wipo.order_status =#{orderStatus}
            </if>
            <if test="orderStatusList !=null and orderStatusList.size()!=0">
                and wipo.order_status in
                <foreach item="orderStatus" collection="orderStatusList" open="(" separator="," close=")">
                    #{orderStatus}
                </foreach>
            </if>
        </where>
        order by wipo.create_time desc
    </select>

    <!--  移位单查询  -->
    <select id="findShiftList" resultMap="BaseResultMapDto" parameterType="java.util.Map">
        SELECT <include refid="BaseColumnList"/>,bw.warehouse_name,
        (SELECT IFNULL(SUM(wipod.plan_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as plan_qty,
        (SELECT IFNULL(SUM(wipod.distribution_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as distribution_qty,
        (SELECT IFNULL(SUM(wipod.actual_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wipo.job_order_id) as actual_qty
        FROM wms_inner_job_order wipo
        LEFT JOIN base_warehouse bw ON wipo.warehouse_id = bw.warehouse_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and wipo.org_id = #{orgId}
            </if>
            <if test="jobOrderCode!=null and jobOrderCode!=''">
                and wipo.job_order_code like CONCAT('%',#{jobOrderCode},'%')
            </if>
            <if test="jobOrderId !=null and jobOrderId !=''">
                and wipo.job_order_id = #{jobOrderId}
            </if>
            <if test="sourceOrderId!=null and sourceOrderId!=''">
                and wipo.source_order_id =#{sourceOrderId}
            </if>
            <if test="jobOrderType!=null and jobOrderType!=''">
                and wipo.job_order_type = #{jobOrderType}
            </if>
            and wipo.is_delete = 1 and (wipo.order_status = 3 or wipo.order_status = 4)
        </where>
        order by wipo.create_time desc
    </select>
    <select id="workBarCodeList" resultType="java.lang.String">
        SELECT msfwo.barcode FROM mes_sfc_product_pallet_det msfpd
        LEFT JOIN mes_sfc_work_order_barcode msfwo ON msfpd.work_order_barcode_id = msfwo.work_order_barcode_id
        WHERE msfpd.product_pallet_id=#{productPalletId}
    </select>

    <select id="findExportList" parameterType="map" resultType="com.fantechs.common.base.general.dto.wms.inner.export.WmsInnerJobOrderExport">
        SELECT
            wijo.job_order_code as jobOrderCode,
            wijo.source_sys_order_type_code as sourceSysOrderTypeCode,
            bw.warehouse_name as warehouseName,
            wsu.user_name as workName,
            wijo.work_start_time as orderWorkStartTime,
            wijo.work_endt_time as orderWorkEndtTime,
            (SELECT IFNULL(SUM(wipod.plan_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wijo.job_order_id) as totalPlanQty,
            (SELECT IFNULL(SUM(wipod.distribution_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wijo.job_order_id) as totalDistributionQty,
            (SELECT IFNULL(SUM(wipod.actual_qty),0) FROM wms_inner_job_order_det wipod where wipod.job_order_id = wijo.job_order_id) as totalActualQty,
            wijo.order_status as orderStatus,
            wijo.remark,
            csu.user_name as createUserName,
            wijo.create_time as createTime,
            msu.user_name as modifiedUserName,
            wijo.modified_time as modifiedTime,
            wijod.source_order_code as sourceOrderCode,
            ibs.storage_code as inStorageCode,
            obs.storage_code as outStorageCode,
            bm.material_code as materialCode,
            bm.material_name as materialName,
            bm.material_version as materialVersion,
            bm.material_desc as materialDesc,
            bmt.main_unit as unit,
            wijod.plan_qty as planQty,
            wijod.distribution_qty as distributionQty,
            wijod.actual_qty as actualQty,
            wijod.work_start_time as workStartTime,
            wijod.work_end_time as workEndTime,
            wijod.line_status as lineStatus,
            wimb.barcode,
            wimb.carton_code as cartonCode,
            wimb.color_box_code as colorBoxCode,
            wimb.pallet_code as palletCode,
            wimb.if_sys_barcode as ifSysBarcode,
            wimb.batch_code as batchCode,
            wimb.production_time as productionTime,
            wimb.material_qty as materialQty
        FROM wms_inner_job_order wijo
        left join wms_inner_job_order_det wijod on wijod.job_order_id = wijo.job_order_id
        left join wms_inner_material_barcode_re_order wimbro on wijo.job_order_id = wimbro.order_id
        <if test="orderTypeCode != null and orderTypeCode != ''" >
            and wimbro.order_type_code = #{orderTypeCode}
        </if>
        left join wms_inner_material_barcode wimb on wimb.material_barcode_id = wimbro.material_barcode_id
        left join base_warehouse bw on bw.warehouse_id = wijo.warehouse_id
        left join sys_user wsu on wsu.user_id = wijo.worker_id
        left join base_material bm on bm.material_id = wijod.material_id
        left join base_material_tab bmt on bmt.material_id = bm.material_id
        left join base_storage ibs on ibs.storage_id = wijod.in_storage_id
        left join base_storage obs on obs.storage_id = wijod.out_storage_id
        left join sys_user csu on csu.user_id = wijo.create_user_id
        left join sys_user msu on msu.user_id = wijo.modified_user_id
        <where>
            <if test="orgId!=null and orgId!=''">
                and wijo.org_id = #{orgId}
            </if>
            <if test="jobOrderCode!=null and jobOrderCode!=''">
                and wijo.job_order_code like CONCAT('%',#{jobOrderCode},'%')
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
            </if>

            <if test="coreSourceSysOrderTypeCode!=null and coreSourceSysOrderTypeCode!=''">
                and wijo.core_source_sys_order_type_code = #{coreSourceSysOrderTypeCode}
            </if>

            <if test="sourceSysOrderTypeCode!=null and sourceSysOrderTypeCode!=''">
                and wijo.source_sys_order_type_code = #{sourceSysOrderTypeCode}
            </if>

            <if test="sourceBigType!=null and sourceBigType!=''">
                and wijo.source_big_type = #{sourceBigType}
            </if>

            <if test="workName!=null and workName!=''">
                and wr.user_name =#{workName}
            </if>
            <if test="jobOrderType !=null and jobOrderType!= ''">
                and wijo.job_order_type =#{jobOrderType}
            </if>
            <if test="jobOrderId !=null and jobOrderId !=''">
                and wijo.job_order_id = #{jobOrderId}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and wijo.order_status =#{orderStatus}
            </if>
            <if test="orderStatusList !=null and orderStatusList.size()!=0">
                and wijo.order_status in
                <foreach item="orderStatus" collection="orderStatusList" open="(" separator="," close=")">
                    #{orderStatus}
                </foreach>
            </if>
        </where>
        order by wijo.create_time desc
    </select>

</mapper>
