<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerMaterialBarcodeReOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerMaterialBarcodeReOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="material_barcode_re_order_id" jdbcType="BIGINT" property="materialBarcodeReOrderId" />
    <result column="order_type_code" jdbcType="VARCHAR" property="orderTypeCode" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_det_id" jdbcType="BIGINT" property="orderDetId" />
    <result column="material_barcode_id" jdbcType="BIGINT" property="materialBarcodeId" />
    <result column="scan_status" jdbcType="TINYINT" property="scanStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerMaterialBarcodeReOrderDto">
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="qty" jdbcType="TINYINT" property="qty" />
    <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
    <result column="color_box_code" jdbcType="VARCHAR" property="colorBoxCode" />
    <result column="carton_code" jdbcType="VARCHAR" property="cartonCode" />
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="create_type" jdbcType="TINYINT" property="createType" />
  </resultMap>

  <sql id="BaseColumnList">
    wimbro.material_barcode_re_order_id,
    wimbro.order_type_code,
    wimbro.order_code,
    wimbro.order_id,
    wimbro.order_det_id,
    wimbro.material_barcode_id,
    wimbro.scan_status,
    wimbro.org_id,
    wimbro.create_user_id,
    wimbro.create_time,
    wimbro.modified_user_id,
    wimbro.modified_time,
    wimbro.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    SELECT<include refid="BaseColumnList"/>,
    su.user_name AS create_user_name,
    sus.user_name AS modified_user_name,
    bo.organization_name AS organization_Name,
    bm.material_name,
    bm.material_code,
    wimb.material_qty as qty,wimb.production_time as production_date,wimb.create_type,wimb.inspection_status,
    wimb.color_box_code,wimb.carton_code,wimb.pallet_code,wimb.batch_code,wimb.barcode
    FROM wms_inner_material_barcode_re_order wimbro
    LEFT JOIN sys_user su ON wimbro.create_user_id = su.user_id
    LEFT JOIN sys_user sus ON wimbro.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wimbro.org_id = bo.organization_id
    left join wms_inner_material_barcode wimb on wimb.material_barcode_id = wimbro.material_barcode_id
    LEFT JOIN base_material bm on bm.material_id = wimb.material_id
    <where>
        <if test="ifSysBarcode !=null and ifSysBarcode!=''">
            and wimb.if_sys_barcode = #{ifSysBarcode}
        </if>
        <if test="orgId!=null and orgId!=''">
            and wimbro.org_id = #{orgId}
        </if>
        <if test="orderTypeCode!=null and orderTypeCode!=''">
            and wimbro.order_type_code = #{orderTypeCode}
        </if>
        <if test="orderId!=null and orderId!=''">
            and wimbro.order_id = #{orderId}
        </if>

        <if test="orderDetId !=null and orderDetId!=''">
            and wimbro.order_det_id = #{orderDetId}
        </if>
        <if test="orderDetIdList !=null">
            <foreach collection="orderDetIdList" item="item" index="index" open="and wimbro.order_det_id in(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="materialBarcodeId!=null and materialBarcodeId!=''">
            and wimbro.material_barcode_id = #{materialBarcodeId}
        </if>
        <if test="scanStatus!=null and scanStatus!=''">
            and wimbro.scan_status = #{scanStatus}
        </if>
        <if test="orderCode!=null and orderCode!=''">
            and wimbro.order_code = #{orderCode}
        </if>
        <if test="barcode!=null and barcode!='' and codeQueryMark == 1">
            and wimb.barcode = #{barcode}
        </if>
        <if test="colorBoxCode!=null and colorBoxCode!='' and codeQueryMark == 1">
            and wimb.color_box_code = #{colorBoxCode}
        </if>
        <if test="cartonCode!=null and cartonCode!='' and codeQueryMark == 1">
            and wimb.carton_code = #{cartonCode}
        </if>
        <if test="palletCode!=null and palletCode!='' and codeQueryMark == 1">
            and wimb.pallet_code = #{palletCode}
        </if>
        <if test="barcode!=null and barcode!='' and codeQueryMark != 1">
            and wimb.barcode like CONCAT('%',#{barcode},'%')
        </if>
        <if test="colorBoxCode!=null and colorBoxCode!='' and codeQueryMark != 1">
            and wimb.color_box_code like CONCAT('%',#{colorBoxCode},'%')
        </if>
        <if test="cartonCode!=null and cartonCode!='' and codeQueryMark != 1">
            and wimb.carton_code like CONCAT('%',#{cartonCode},'%')
        </if>
        <if test="palletCode!=null and palletCode!='' and codeQueryMark != 1">
            and wimb.pallet_code like CONCAT('%',#{palletCode},'%')
        </if>
        <if test="productionTimeStart!= null and productionTimeEnd!= null">
            and date_format(wimb.production_time, '%Y-%m-%d') BETWEEN date_format(#{productionTimeStart}, '%Y-%m-%d') AND  date_format(#{productionTimeEnd}, '%Y-%m-%d')
        </if>
        <if test="productionDate!= null and productionDate!= null">
            and date_format(wimb.production_time, '%Y-%m-%d') BETWEEN date_format(#{productionDate}, '%Y-%m-%d') AND  date_format(#{productionDate}, '%Y-%m-%d')
        </if>
        <if test="materialId!=null and materialId!=''">
            and wimb.material_id = #{materialId}
        </if>
        <if test="materialCode!=null and materialCode!=''">
            and bm.material_code like CONCAT('%',#{materialCode},'%')
        </if>
        <if test="materialName!=null and materialName!=''">
            and bm.material_name like CONCAT('%',#{materialName},'%')
        </if>
        <if test="batchCode!=null and batchCode!=''">
            and wimb.batch_code like CONCAT('%',#{batchCode},'%')
        </if>
        <if test="inspectionStatus!=null">
            and wimb.inspection_status = #{inspectionStatus}
        </if>
    </where>
    order by wimbro.create_time desc
  </select>


</mapper>
