<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerInventoryDetMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerInventoryDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="inventory_det_id" jdbcType="BIGINT" property="inventoryDetId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="material_qty" jdbcType="DECIMAL" property="materialQty"/>
        <result column="production_date" jdbcType="TIMESTAMP" property="productionDate"/>
        <result column="production_batch_code" jdbcType="VARCHAR" property="productionBatchCode"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="job_status" jdbcType="TINYINT" property="jobStatus"/>
        <result column="if_stock_lock" jdbcType="TINYINT" property="ifStockLock"/>
        <result column="receiving_date" jdbcType="TIMESTAMP" property="receivingDate"/>
        <result column="asn_code" jdbcType="VARCHAR" property="asnCode"/>
        <result column="deliver_date" jdbcType="TIMESTAMP" property="deliverDate"/>
        <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode"/>
        <result column="barcode_status" jdbcType="TINYINT" property="barcodeStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode"/>
        <result column="carton_code" jdbcType="VARCHAR" property="cartonCode"/>
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
        <result column="inspection_order_code" jdbcType="VARCHAR" property="inspectionOrderCode"/>
        <result column="qc_date" jdbcType="TIMESTAMP" property="qcDate"/>
        <result column="sales_barcode" jdbcType="VARCHAR" property="salesBarcode"/>
        <result column="customer_barcode" jdbcType="VARCHAR" property="customerBarcode"/>
    </resultMap>
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerInventoryDetDto">
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    </resultMap>

    <resultMap id="InStorageMaterialDto" type="com.fantechs.common.base.general.dto.wms.inner.InStorageMaterialDto">
    </resultMap>

    <sql id="Base_Column_List">
        wiid.inventory_det_id,
        wiid.storage_id,
        wiid.material_id,
        wiid.barcode,
        wiid.material_qty,
        wiid.production_date,
        wiid.production_batch_code,
        wiid.supplier_id,
        wiid.job_status,
        wiid.if_stock_lock,
        wiid.receiving_date,
        wiid.asn_code,
        wiid.deliver_date,
        wiid.delivery_order_code,
        wiid.barcode_status,
        wiid.status,
        wiid.remark,
        wiid.org_id,
        wiid.create_user_id,
        wiid.create_time,
        wiid.modified_user_id,
        wiid.modified_time,
        wiid.is_delete,
        wiid.contract_code,
        wiid.spec,
        wiid.purchase_req_order_code,
        wiid.carton_code,
        wiid.inventory_status_id,
        wiid.inspection_order_code,
        wiid.qc_date,
        wiid.option1,
        wiid.option2,
        wiid.option3,
        wiid.option4,
        wiid.option5,
        wiid.sales_barcode,
        wiid.customer_barcode
    </sql>
    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        select<include refid="Base_Column_List"/>,
        bs.storage_code,bs.warehouse_id,bw.warehouse_name,bm.material_code,bm.material_name,bss.supplier_name,bo.organization_name,bis.inventory_status_name,
        su.user_name AS create_user_name, sus.user_name AS modified_user_name
        from wms_inner_inventory_det wiid
        LEFT JOIN base_inventory_status bis ON bis.inventory_status_id = wiid.inventory_status_id
        LEFT JOIN base_storage bs ON wiid.storage_id = bs.storage_id
        LEFT JOIN wanbao_erp_logic wel ON bs.logic_id = wel.logic_id
        LEFT JOIN base_warehouse bw ON bs.warehouse_id = bw.warehouse_id
        LEFT JOIN base_material bm ON wiid.material_id = bm.material_id
        LEFT JOIN base_supplier bss ON wiid.supplier_id = bss.supplier_id
        LEFT JOIN ocean_v2.sys_user su ON wiid.create_user_id = su.user_id
        LEFT JOIN ocean_v2.sys_user sus ON wiid.modified_user_id = sus.user_id
        LEFT JOIN base_organization bo ON wiid.org_id = bo.organization_id
        <where>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
            </if>
            <if test="storageId!=null and storageId!='' and notEqualMark!=1">
                and wiid.storage_id = #{storageId}
            </if>
            <if test="storageId!=null and storageId!='' and notEqualMark==1">
                and wiid.storage_id != #{storageId}
            </if>
            <if test="logicCode!=null and logicCode!='' and notEqualMark!=1">
                and wel.logic_code = #{logicCode}
            </if>
            <if test="logicCode!=null and storageId!='' and notEqualMark==1">
                and wel.logic_code != #{logicCode}
            </if>
            <if test="inventoryStatusId!=null and inventoryStatusId!=''">
                and wiid.inventory_status_id = #{inventoryStatusId}
            </if>
            <if test="inspectionOrderCode!=null and inspectionOrderCode!=''">
                and wiid.inspection_order_code like CONCAT('%',#{inspectionOrderCode},'%')
            </if>
            <if test="ifInspectionOrderCodeNull!=null and ifInspectionOrderCodeNull==1">
                and (wiid.inspection_order_code is null or wiid.inspection_order_code = '')
            </if>
            <if test="materialId!=null and materialId!=''">
                and wiid.material_id = #{materialId}
            </if>
            <if test="materialIds !=null">
                <foreach collection="materialIds" open="and wiid.material_id in (" separator="," close=")" item="value">
                    #{value}
                </foreach>
            </if>
            <if test="barcode!=null and barcode!=''">
                and wiid.barcode = #{barcode}
            </if>
            <if test="salesBarcode!=null and salesBarcode!=''">
                and wiid.sales_barcode like CONCAT('%',#{salesBarcode},'%')
            </if>
            <if test="customerBarcode!=null and customerBarcode!=''">
                and wiid.customer_barcode like CONCAT('%',#{customerBarcode},'%')
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and bs.storage_code = #{storageCode}
            </if>
            <if test="materialQty!=null and materialQty!=''">
                and wiid.material_qty = #{materialQty}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="jobStatus!=null and jobStatus!=''">
                and wiid.job_status = #{jobStatus}
            </if>
            <if test="ifStockLock!=null and ifStockLock>=0">
                and wiid.if_stock_lock = #{ifStockLock}
            </if>
            <if test="asnCode!=null and asnCode!=''">
                and wiid.asn_code like CONCAT('%',#{asnCode},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bss.supplier_name like CONCAT('%',#{supplierName},'%')
            </if>
            <if test="productionBatchCode!=null and productionBatchCode!=''">
                and wiid.production_batch_code like CONCAT('%',#{productionBatchCode},'%')
            </if>
            <if test="createUserName!=null and createUserName!=''">
                and su.user_name like CONCAT('%',#{createUserName},'%')
            </if>
            <if test="modifiedUserName!=null and modifiedUserName!=''">
                and sus.user_name like CONCAT('%',#{modifiedUserName},'%')
            </if>
            <if test="barcodeStatus!=null and barcodeStatus!=''">
                and wiid.barcode_status = #{barcodeStatus}
            </if>
            <if test="qcDate!=null and qcDate!=''">
                and date_format(wiid.qc_date, '%Y-%m-%d')=#{qcDate}
            </if>
            <if test="deliveryOrderCode!=null and deliveryOrderCode!=''">
                and wiid.delivery_order_code like CONCAT('%',#{deliveryOrderCode},'%')
            </if>
            <if test="orgId!=null and orgId!=''">
                and wiid.org_id = #{orgId}
            </if>
            <if test="option1!=null and option1!=''">
                and wiid.option1 like CONCAT('%',#{option1},'%')
            </if>
            <if test="option2!=null and option2!=''">
                and wiid.option2 like CONCAT('%',#{option2},'%')
            </if>
            <if test="option3!=null and option3!=''">
                and wiid.option3 like CONCAT('%',#{option3},'%')
            </if>
            <if test="option4!=null and option4!=''">
                and wiid.option4 like CONCAT('%',#{option4},'%')
            </if>
            <if test="option5!=null and option5!=''">
                and wiid.option5 like CONCAT('%',#{option5},'%')
            </if>
        </where>
        order by wiid.create_time desc
    </select>

    <select id="findInventoryDetByStorage" resultMap="InStorageMaterialDto" parameterType="map">
        SELECT
            COUNT( wiid.material_qty ) AS qty,
            wiid.material_id AS materialId,
            bm.material_code AS materialCode,
            bm.material_name AS materialName
        FROM
            wms_inner_inventory_det wiid
            LEFT JOIN base_material bm ON wiid.material_id = bm.material_id
            LEFT JOIN base_storage bs ON wiid.storage_id = bs.storage_id
        <where>
            wiid.barcode_status = 3
            AND bs.storage_code like CONCAT('%',#{storageCode},'%')
            <if test="materialId!=null and materialId!=''">
                AND wiid.material_id = #{materialId}
            </if>
        </where>
        GROUP BY
            wiid.material_id;
    </select>
</mapper>