<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.wms.inner.mapper.WmsInnerStockOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.inner.WmsInnerStockOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stock_order_det_id" jdbcType="BIGINT" property="stockOrderDetId" />
    <result column="stock_order_id" jdbcType="BIGINT" property="stockOrderId" />
    <result column="source_det_id" jdbcType="BIGINT" property="sourceDetId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName"/>
    <result column="original_qty" jdbcType="DECIMAL" property="originalQty" />
    <result column="stock_qty" jdbcType="DECIMAL" property="stockQty" />
    <result column="variance_qty" jdbcType="DECIMAL" property="varianceQty" />
    <result column="last_time_variance_qty" jdbcType="DECIMAL" property="lastTimeVarianceQty"/>
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="stock_user_id" jdbcType="VARCHAR" property="stockUserId" />
    <result column="if_register" jdbcType="TINYINT" property="ifRegister" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
    <result column="pallet_code" jdbcType="VARCHAR" property="palletCode"/>
    <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
  </resultMap>
  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.inner.WmsInnerStockOrderDetDto">
    <result column="work_name" jdbcType="VARCHAR" property="workName"/>
    <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
    <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>
  <sql id="Base_Column_List">
wivd.stock_order_det_id,
wivd.stock_order_id,
wivd.source_det_id,
wivd.storage_id,
wivd.material_id,
wivd.packing_unit_name,
wivd.original_qty,
wivd.stock_qty,
wivd.variance_qty,
wivd.last_time_variance_qty,
wivd.batch_code,
wivd.stock_user_id,
wivd.if_register,
wivd.remark,
wivd.org_id,
wivd.create_user_id,
wivd.create_time,
wivd.modified_user_id,
wivd.modified_time,
wivd.barcode,
wivd.pallet_code,
wivd.inventory_status_id
  </sql>
  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    SELECT <include refid="Base_Column_List"/>,bis.inventory_status_name,bs.storage_code,bs.storage_name,bs.storage_desc,bm.material_code,bm.material_name,su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name
    FROM wms_inner_stock_order_det wivd
    LEFT JOIN base_storage bs ON wivd.storage_id = bs.storage_id
    LEFT JOIN base_material bm ON wivd.material_id = bm.material_id
    LEFT JOIN base_inventory_status bis ON bis.inventory_status_id = wivd.inventory_status_id
    LEFT JOIN ocean_v2.sys_user su  ON wivd.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON wivd.modified_user_id = sus.user_id
    LEFT JOIN base_organization bo ON wivd.org_id = bo.organization_id
    <where>
        <if test="stockOrderId !=null and stockOrderId!=''">
          and wivd.stock_order_id = #{stockOrderId}
        </if>
        <if test="storageName!=null and storageName!=''">
          and bs.storage_name like CONCAT('%',#{storageName},'%')
        </if>
        <if test="materialCode!=null and materialCode!=''">
          and bm.material_code like CONCAT('%',#{materialCode},'%')
        </if>
        <if test="materialName!=null and materialName!=''">
          and bm.material_name like CONCAT('%',#{materialName},'%')
        </if>
        <if test="storageCode!=null and storageCode!=''">
          and bs.storage_code = #{storageCode}
        </if>
    </where>
    <if test="isRecords!=null and isRecords!='' and isRecords=='true'">
    <if test="projectType==1">
      Group BY wivd.material_id
    </if>
    <if test="projectType==2">
      Group BY wivd.storage_id
    </if>
    </if>
  </select>
</mapper>