<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.leisai.api.mapper.WmsCartonDetMapper">

    <insert id="save" parameterType="com.fantechs.common.base.general.entity.leisai.LeisaiWmsCartonDet">
        INSERT INTO tbboxlist ( "BOXID", "BARCODENO", "PN", "ORDERNO", "CLIENT", "CREATEBY", "CREATEDATE" )
        VALUES
            ( #{BOXID},
            #{BARCODENO},
            #{PN},
            #{ORDERNO},
            #{CLIENT},
            #{CREATEBY},
            #{CREATEDATE} )
    </insert>

</mapper>