<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.daq.mapper.DaqEquipmentDataGroupMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.daq.DaqEquipmentDataGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_data_group_id" jdbcType="BIGINT" property="equipmentDataGroupId" />
    <result column="equipment_data_group_name" jdbcType="VARCHAR" property="equipmentDataGroupName" />
    <result column="data_lenght" jdbcType="INTEGER" property="dataLenght" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>


  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.daq.DaqEquipmentDataGroupDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="equipment_total" jdbcType="VARCHAR" property="equipmentTotal"/>
    <result column="equipment_online" jdbcType="VARCHAR" property="equipmentOnline"/>
    <result column="equipment_offline" jdbcType="VARCHAR" property="equipmentOffline"/>
    <result column="equipment_unknown" jdbcType="VARCHAR" property="equipmentUnknown"/>
    <collection property="daqEquipmentDataGroupParamDtos" ofType="com.fantechs.common.base.general.dto.daq.DaqEquipmentDataGroupParamDto"
                column="{equipmentDataGroupId=equipment_data_group_id}" select="com.fantechs.provider.daq.mapper.DaqEquipmentDataGroupParamMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    eedg.equipment_data_group_id,
    eedg.equipment_data_group_name,
    eedg.data_lenght,
    eedg.`status`,
    eedg.remark,
    eedg.org_id,
    eedg.create_user_id,
    eedg.create_time,
    eedg.modified_user_id,
    eedg.modified_time,
    eedg.is_delete,
    eedg.option1,
    eedg.option2,
    eedg.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    count( ee.equipment_id ) AS equipment_total,
    (select count(*) from daq_equipment where equipment_id in (select equipment_id from daq_equipment_data_group_re_dc
    where equipment_data_group_id=eedg.equipment_data_group_id ) and (online_status = 1 or online_status = 2)) AS equipment_online,
    (select count(*) from daq_equipment where equipment_id in (select equipment_id from daq_equipment_data_group_re_dc
    where equipment_data_group_id=eedg.equipment_data_group_id ) and online_status = 0) AS equipment_offline,
    (select count(*) from daq_equipment where equipment_id in (select equipment_id from daq_equipment_data_group_re_dc
    where equipment_data_group_id=eedg.equipment_data_group_id ) and online_status = 3) AS equipment_unknown,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from daq_equipment_data_group eedg
    left join daq_equipment_data_group_re_dc eedgrde ON eedg.equipment_data_group_id = eedgrde.equipment_data_group_id
    left join daq_equipment ee on eedgrde.equipment_id = ee.equipment_id
    left join sys_user u on eedg.create_user_id=u.user_id
    left join sys_user s on eedg.modified_user_id=s.user_id
    left join base_organization bo ON eedg.org_id = bo.organization_id
    <where>
      <if test="equipmentName != null and equipmentName!=''">
        and eedg.equipment_data_group_name like CONCAT('%', #{equipment_data_group_name}, '%')
      </if>
      <if test="status!=null">
        and eedg.status = #{status}
      </if>
      <if test="orgId!=null">
        and eedg.org_id=#{orgId}
      </if>
    </where>
    group by
    eedg.equipment_data_group_id
    order by eedg.create_time desc
  </select>

</mapper>
