<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.daq.mapper.DaqHtEquipmentDataGroupParamMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.daq.DaqHtEquipmentDataGroupParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_data_group_param_id" jdbcType="BIGINT" property="htEquipmentDataGroupParamId" />
    <result column="equipment_data_group_param_id" jdbcType="BIGINT" property="equipmentDataGroupParamId" />
    <result column="equipment_data_group_id" jdbcType="BIGINT" property="equipmentDataGroupId" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="address_loca" jdbcType="INTEGER" property="addressLoca" />
    <result column="min_value" jdbcType="DECIMAL" property="minValue" />
    <result column="max_value" jdbcType="DECIMAL" property="maxValue" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>



  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.daq.DaqHtEquipmentDataGroupParamDto">

  </resultMap>

  <sql id="Base_Column_List">
    ehedgp.equipment_data_group_param_id,
    ehedgp.equipment_data_group_id,
    ehedgp.param_name,
    ehedgp.field_name,
    ehedgp.address_loca,
    ehedgp.min_value,
    ehedgp.max_value,
    ehedgp.`status`,
    ehedgp.remark,
    ehedgp.org_id,
    ehedgp.create_user_id,
    ehedgp.create_time,
    ehedgp.modified_user_id,
    ehedgp.modified_time,
    ehedgp.is_delete,
    ehedgp.option1,
    ehedgp.option2,
    ehedgp.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from daq_ht_equipment_data_group_param ehedgp
    left join sys_user u on ehedgp.create_user_id=u.user_id
    left join sys_user s on ehedgp.modified_user_id=s.user_id
    left join base_organization bo ON ehedgp.org_id = bo.organization_id
    <where>
      <if test="equipmentName != null and equipmentName!=''">
        and ehedgp.equipment_data_group_name like CONCAT('%', #{equipment_data_group_name}, '%')
      </if>
      <if test="status!=null">
        and ehedgp.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehedgp.org_id=#{orgId}
      </if>
    </where>
    order by ehedgp.create_time desc
  </select>

</mapper>
