<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.daq.mapper.DaqHtEquipmentStationMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.daq.DaqHtEquipmentStation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_equipment_station_id" jdbcType="BIGINT" property="htEquipmentStationId" />
    <result column="equipment_station_id" jdbcType="BIGINT" property="equipmentStationId" />
    <result column="equipment_station_code" jdbcType="VARCHAR" property="equipmentStationCode" />
    <result column="equipment_station_name" jdbcType="VARCHAR" property="equipmentStationName" />
    <result column="map_url" jdbcType="VARCHAR" property="mapUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>



  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.daq.DaqHtEquipmentStationDto">

  </resultMap>


  <sql id="Base_Column_List">
    ehes.ht_equipment_station_id,
    ehes.equipment_station_id,
    ehes.equipment_station_code,
    ehes.equipment_station_name,
    ehes.map_url,
    ehes.`status`,
    ehes.remark,
    ehes.org_id,
    ehes.create_user_id,
    ehes.create_time,
    ehes.modified_user_id,
    ehes.modified_time,
    ehes.option1,
    ehes.option2,
    ehes.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from daq_ht_equipment_station ehes
    left join sys_user u on ehes.create_user_id=u.user_id
    left join sys_user s on ehes.modified_user_id=s.user_id
    left join base_organization bo ON ehes.org_id = bo.organization_id
    <where>
      <if test="status!=null">
        and ehes.status = #{status}
      </if>
      <if test="orgId!=null">
        and ehes.org_id=#{orgId}
      </if>
    </where>
    order by ehes.create_time desc
  </select>

</mapper>
