<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.bcm.mapper.BcmHtLabelCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.bcm.history.BcmHtLabelCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="label_ht_category_id" jdbcType="BIGINT" property="labelHtCategoryId" />
    <result column="label_category_id" jdbcType="BIGINT" property="labelCategoryId" />
    <result column="label_category_code" jdbcType="VARCHAR" property="labelCategoryCode" />
    <result column="label_category_name" jdbcType="VARCHAR" property="labelCategoryName" />
    <result column="label_category_desc" jdbcType="VARCHAR" property="labelCategoryDesc" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
  </resultMap>

  <sql id="Base_Column_List">
    blc.label_ht_category_id,blc.`label_category_id`,blc.label_category_code,blc.label_category_name,blc.label_category_desc,blc.`status`,blc.create_user_id,blc.create_time,blc.modified_user_id,blc.modified_time,blc.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>,su.user_name as create_user_name,sus.user_name as modified_user_name FROM bcm_ht_label_category blc
    LEFT JOIN ocean.sys_user su ON blc.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON blc.modified_user_id = sus.user_id
    <where>
      <if test="labelCategoryCode!=null and labelCategoryCode!=''">
        and blc.label_category_code LIKE CONCAT('%',#{labelCategoryCode},'%')
      </if>
      <if test="labelCategoryName!=null and labelCategoryName!=''">
        and blc.label_category_name LIKE CONCAT('%',#{labelCategoryName},'%')
      </if>
      <if test="labelCategoryDesc!=null and labelCategoryDesc!=''">
        and blc.label_category_desc LIKE CONCAT('%',#{labelCategoryDesc},'%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(blc.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
  </select>
</mapper>