<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.bcm.mapper.OltHtSafeStockMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.bcm.history.OltHtSafeStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="olt_ht_safe_stock_id" jdbcType="BIGINT" property="oltHtSafeStockId" />
    <result column="safe_stock_id" jdbcType="BIGINT" property="safeStockId" />
    <result column="safe_stock_type" jdbcType="TINYINT" property="safeStockType" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="material_category_id" jdbcType="BIGINT" property="materialCategoryId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="safe_stock_quantity" jdbcType="DECIMAL" property="safeStockQuantity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
</mapper>