<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.bcm.mapper.OltSafeStockMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.bcm.OltSafeStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="safe_stock_id" jdbcType="BIGINT" property="safeStockId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="material_category_id" jdbcType="BIGINT" property="materialCategoryId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="min_quantity" jdbcType="DECIMAL" property="minQuantity" />
    <result column="max_quantity" jdbcType="DECIMAL" property="maxQuantity"/>
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  <resultMap id="BaseColumnMap" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.bcm.OltSafeStockDto">
<result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
</resultMap>
<sql id="SqlColumn">
os.safe_stock_id,
os.warehouse_id,
os.material_category_id,
os.material_id,
os.min_quantity,
os.max_quantity,
os.status,
os.organization_id,
os.create_user_id,
os.create_time,
os.modified_user_id,
os.modified_time,
os.is_delete,
os.option1,os.option2,os.option3
</sql>
<select id="findList" resultMap="BaseColumnMap" parameterType="com.fantechs.common.base.general.entity.bcm.search.SearchOltSafeStock">
SELECT <include refid="SqlColumn"/>,sw.warehouse_name as 'warehouseName',smc.material_category_name as 'materialCategoryName',sm.material_code as 'materialCode',
sm.material_name as 'materialName',sm.material_desc as 'materialDesc',sm.version,
su.user_name
create_user_name,sus.user_name as modified_user_name, bo.organization_name
FROM olt_safe_stock os
LEFT JOIN smt_warehouse sw ON os.warehouse_id=sw.warehouse_id
LEFT JOIN smt_material_category smc ON os.material_category_id = smc.material_category_id
LEFT JOIN smt_material sm ON os.material_id = sm.material_id
LEFT JOIN ocean.sys_user su ON os.create_user_id = su.user_id
LEFT JOIN ocean.sys_user sus ON os.modified_user_id = sus.user_id
LEFT JOIN fantech_imes.base_organization bo ON os.organization_id = bo.organization_id
<where>
<if test="warehouseName != null and warehouseName != ''">
and sw.warehouse_name Like CONCAT('%',#{warehouseName},'%',)
</if>
<if test="materialCategoryName != null and materialCategoryName != ''">
and smc.material_category_name like CONCAT('%',#{materialCategoryName},'%')
</if>
<if test="materialId != null">
and sm.material_id = #{materialId}
</if>
<if test="materialDesc != null and materialDesc != ''">
and sm.material_desc like CONCAT('%',#{materialDesc},'%')
</if>
</where>
order by os.create_time desc
</select>
<select id="selectCountByWare" resultType="java.math.BigDecimal">
    SELECT sum(ssi.quantity) FROM smt_storage_inventory ssi
    LEFT JOIN smt_storage ss ON ssi.storage_id=ss.storage_id
    LEFT JOIN smt_warehouse_area wa ON ss.warehouse_area_id =wa.warehouse_area_id
    LEFT JOIN smt_warehouse sw ON wa.warehouse_id=sw.warehouse_id
    LEFT JOIN base_tab bt ON ssi.material_id = bt.material_id
    LEFT JOIN smt_material_category smc ON bt.material_type = smc.material_category_id
    <where>
    <if test="warehouseId != null">
        and sw.warehouse_id = #{warehouseId}
    </if>
    <if test="materialCategoryId!=null">
        and smc.material_category_id= #{materialCategoryId}
    </if>
    <if test="materialId">
        and ssi.material_id =#{materialId}
    </if>
</where>
</select>
<select id="selectCountByCate" resultType="java.math.BigDecimal">
SELECT sum(ssi.quantity) FROM smt_storage_inventory ssi
LEFT JOIN base_tab bt ON ssi.material_id = bt.material_id
LEFT JOIN smt_material_category smc ON bt.material_type = smc.material_category_id
WHERE smc.material_category_id= #{materialCategoryId}
</select>
<select id="selectCountByCode" resultType="java.math.BigDecimal">
 SELECT sum(quantity) FROM smt_storage_inventory where material_id =#{materialId}
 </select>
</mapper>