<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngContractQtyOrderAndPurOrderMapper">
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.eng.EngContractQtyOrderAndPurOrderDto">
    <!--
      WARNING - @mbg.generated com.fantechs.common.base.general.entity.eng.EngContractQtyOrder
    -->
    <id column="contract_qty_order_id" jdbcType="BIGINT" property="contractQtyOrderId" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="purchase_req_order_name" jdbcType="VARCHAR" property="purchaseReqOrderName" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="profession_code" jdbcType="VARCHAR" property="professionCode" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_id" jdbcType="VARCHAR" property="materialId" />
    <result column="design_qty" jdbcType="VARCHAR" property="designQty" />
    <result column="surplus_qty" jdbcType="VARCHAR" property="surplusQty" />
    <result column="purchase_req_qty" jdbcType="VARCHAR" property="purchaseReqQty" />
    <result column="pur_qty" jdbcType="DECIMAL" property="purQty" />
    <result column="material_grade" jdbcType="VARCHAR" property="materialGrade" />
    <result column="material_purpose" jdbcType="VARCHAR" property="materialPurpose" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="purchase_req_explain" jdbcType="VARCHAR" property="purchaseReqExplain" />
    <result column="purchase_explain" jdbcType="VARCHAR" property="purchaseExplain" />
    <result column="issued_qty" jdbcType="DECIMAL" property="issuedQty" />
    <result column="not_issue_qty" jdbcType="DECIMAL" property="notIssueQty" />
    <result column="ago_qty" jdbcType="DECIMAL" property="agoQty" />
    <result column="main_unit" jdbcType="VARCHAR" property="mainUnit"/>
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
  </resultMap>

  <sql id="Base_Column_List">
    ecqo.contract_qty_order_id,
    epro.purchase_req_order_code,
    epro.purchase_req_order_name,
    ecqo.contract_code,
    ecqo.profession_code,
    ecqo.profession_name,
    ecqo.material_code,
    bm.material_name,
    bm.material_id as material_id,
    epro.design_qty,
    epro.surplus_qty,
    epro.purchase_req_qty,
    ecqo.pur_qty,
    ecqo.ago_qty,
    epro.material_grade,
    ecqo.material_purpose,
    ecqo.location_num,
    ecqo.device_code,
    ecqo.dominant_term_code,
    bs.supplier_id,
    bs.supplier_name,
    epro.purchase_req_explain,
    epro.purchase_explain,
    ecqo.issued_qty,
    ecqo.not_issue_qty,
    bmt.main_unit as main_unit,
    ecqo.remark,
    ecqo.status,
    ecqo.org_id,
    ecqo.option1,
    ecqo.option2,
    ecqo.option3,
    ecqo.create_user_id,
    u.user_name AS create_user_name,
    ecqo.create_time,
    ecqo.modified_user_id,
    s.user_name AS modified_user_name,
    ecqo.modified_time,
    bo.organization_name,
    bm.material_desc
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    FROM eng_contract_qty_order ecqo
    LEFT JOIN eng_purchase_req_order epro ON ecqo.option3=epro.option3
    LEFT JOIN base_material bm ON ecqo.material_code=bm.material_code
    LEFT JOIN base_material_tab bmt ON bm.material_id=bmt.material_id
    LEFT JOIN ocean_v2.sys_user u ON ecqo.create_user_id=u.user_id
    LEFT JOIN ocean_v2.sys_user s ON ecqo.modified_user_id=s.user_id
    LEFT JOIN fantech_imes_v2.base_supplier bs ON ecqo.supplier_id = bs.supplier_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON ecqo.org_id = bo.organization_id
    <where>
      <if test="contractQtyOrderIds != null and contractQtyOrderIds.size >0">
        and ecqo.contract_qty_order_id in
        <foreach collection="contractQtyOrderIds" item="item" separator="," open="(" close=")">
          #{item}
        </foreach>
      </if>
      <if test="purchaseReqOrderCode != null and purchaseReqOrderCode!=''">
        and epro.purchase_req_order_code like CONCAT('%', #{purchaseReqOrderCode}, '%')
      </if>
      <if test="purchaseReqOrderName != null and purchaseReqOrderName!=''">
        and epro.purchase_req_order_name like CONCAT('%', #{purchaseReqOrderName}, '%')
      </if>
      <if test="materialGrade != null and materialGrade!=''">
        and epro.material_grade like CONCAT('%', #{materialGrade}, '%')
      </if>
      <if test="purchaseReqExplain != null and purchaseReqExplain!=''">
        and epro.purchase_req_explain = #{purchaseReqExplain}
      </if>
      <if test="purchaseExplain != null and purchaseExplain!=''">
        and epro.purchase_explain = #{purchaseExplain}
      </if>
      <if test="contractCode != null and contractCode!='' and codeQueryMark!=1">
        and ecqo.contract_code like CONCAT('%', #{contractCode}, '%')
      </if>
      <if test="supplierId != null and supplierId!=''">
        and ecqo.supplier_id = #{supplierId}
      </if>
      <if test="professionName != null and professionName!=''">
        and ecqo.profession_name like CONCAT('%', #{professionName}, '%')
      </if>
      <if test="contractCode != null and contractCode!='' and codeQueryMark==1">
        and ecqo.contract_code = #{contractCode}
      </if>
      <if test="deviceCode != null and deviceCode!=''">
        and ecqo.device_code like CONCAT('%', #{deviceCode}, '%')
      </if>
      <if test="dominantTermCode != null and dominantTermCode!=''">
        and ecqo.dominant_term_code like CONCAT('%', #{dominantTermCode}, '%')
      </if>
      <if test="locationNum != null and locationNum!=''">
        and ecqo.location_num like CONCAT('%', #{locationNum}, '%')
      </if>
      <if test="materialCode != null and materialCode!='' and codeQueryMark!=1">
        and ecqo.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialCode != null and materialCode!='' and codeQueryMark==1">
        and ecqo.material_code = #{materialCode}
      </if>
      <if test="materialName != null and materialName!=''">
        and bm.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="materialPurpose != null and materialPurpose!=''">
        and ecqo.material_purpose = #{materialPurpose}
      </if>
      <if test="supplierId != null and supplierId!=''">
        and ecqo.supplier_id = #{supplierId}
      </if>
      <if test="supplierName != null and supplierName!='' and (supplierId == null or supplierId=='')">
        and bs.supplier_name = #{supplierName}
      </if>
      <if test="remark != null and remark!=''">
        and ecqo.remark like CONCAT('%', #{remark}, '%')
      </if>
      <if test="purQty != null and purQty!=''">
        and ecqo.pur_qty = #{purQty}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ecqo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ecqo.status = #{status}
      </if>
      <if test="orgId!=null">
        and ecqo.org_id=#{orgId}
      </if>
      <if test="isNotEmpty ==1 ">
        and epro.purchase_req_order_code is not null
      </if>
    </where>
    order by ecqo.contract_qty_order_id desc
  </select>
</mapper>