<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngDataExportEngPackingOrderMapper">
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.restapi.EngDataExportEngPackingOrderDto">
    <!--
      WARNING - @mbg.generated com.fantechs.common.base.general.entity.eng.EngContractQtyOrder
    -->
    <id column="packing_order_id" jdbcType="VARCHAR" property="packingOrderId" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="design_qty" jdbcType="VARCHAR" property="designQty" />
    <result column="surplus_qty" jdbcType="VARCHAR" property="surplusQty" />
    <result column="purchase_req_qty" jdbcType="VARCHAR" property="purchaseReqQty" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="material_purpose" jdbcType="VARCHAR" property="materialPurpose" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="record_time" jdbcType="VARCHAR" property="recordTime" />
    <result column="record_user" jdbcType="VARCHAR" property="recordUser" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="ch_qty" jdbcType="VARCHAR" property="chQty" />
  </resultMap>

  <sql id="Base_Column_List">
    epos.packing_order_id,
    '' AS option2,
    epos.contract_code,
    epos.purchase_req_order_code,
    IFNULL(bm.material_code,'') AS material_code,
    IFNULL(bm.material_name,'') AS material_name,
    IFNULL(eposdet.spec,'') AS spec,
    IFNULL(eposdet.unit_name,'') AS unit_name,
    IFNULL(epos.location_num,'') AS location_num,
    0 AS design_qty,
    0 AS surplus_qty,
    0 AS purchase_req_qty,
    IFNULL(eposdet.dominant_term_code,'') AS dominant_term_code,
    IFNULL(epos.device_code,'') AS device_code,
    '' AS material_purpose,
    '' AS remark,
    ouser.user_name AS record_user,
    epo.modified_time AS record_time,
    SUM(eposdet.qty) AS ch_qty
  </sql>

  <select id="findExportData" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    FROM eng_packing_order_summary epos
    LEFT JOIN eng_packing_order epo ON epos.packing_order_id=epo.packing_order_id
    LEFT JOIN eng_packing_order_summary_det eposdet ON epos.packing_order_summary_id=eposdet.packing_order_summary_id
    LEFT JOIN base_material bm ON eposdet.material_id=bm.material_id
    LEFT JOIN sys_user ouser ON epos.create_user_id=ouser.user_id
    <where>
      <if test="packingOrderId!=null and packingOrderId!=''">
        and epos.packing_order_id = #{packingOrderId}
      </if>
      AND LOCATE('-',bm.material_code)>0
    </where>
    GROUP BY epos.packing_order_id,option2,epos.contract_code,epos.purchase_req_order_code,bm.material_code,
    bm.material_name,eposdet.spec,eposdet.unit_name,epos.location_num,design_qty,surplus_qty,purchase_req_qty,
    dominant_term_code,epos.device_code,material_purpose,remark,record_user,record_time
  </select>
</mapper>
