<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngMaterialMaintainLogMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eng.EngMaterialMaintainLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="material_maintain_log_id" jdbcType="BIGINT" property="materialMaintainLogId" />
    <result column="contract_qty_order_id" jdbcType="BIGINT" property="contractQtyOrderId" />
    <result column="maintain_content" jdbcType="VARCHAR" property="maintainContent" />
    <result column="operator_user_id" jdbcType="BIGINT" property="operatorUserId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.eng.EngMaterialMaintainLogDto" extends="BaseResultMap">
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_desc" jdbcType="BIGINT" property="materialDesc" />
    <result column="operator_user_name" jdbcType="TINYINT" property="operatorUserName" />
  </resultMap>

  <sql id="Base_Column_List">
    emml.material_maintain_log_id,
    emml.contract_qty_order_id,
    emml.maintain_content,
    emml.operator_user_id,
    emml.status,
    emml.remark,
    emml.org_id,
    emml.create_user_id,
    emml.create_time,
    emml.modified_user_id,
    emml.modified_time,
    emml.is_delete,
    emml.option1,
    emml.option2,
    emml.option3
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,bm.material_code,bm.material_name,bm.material_desc,osu.nick_name as operator_user_name
    from eng_material_maintain_log emml
    left join ocean_v2.sys_user osu on osu.user_id = emml.operator_user_id
    left join eng_contract_qty_order ecqo on ecqo.contract_qty_order_id = emml.contract_qty_order_id
    left join base_material bm on ecqo.material_code=bm.material_code
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(emml.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="createTime!= null and createTime!= ''">
        and date_format(emml.create_time, '%Y-%m-%d') = #{createTime}
      </if>
      <if test="contractQtyOrderId != null and contractQtyOrderId!=''">
        and emml.contract_qty_order_id = #{contractQtyOrderId}
      </if>
      <if test="materialCode != null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialName != null and materialName!=''">
        and bm.material_name like CONCAT('%',  #{materialName}, '%')
      </if>
      <if test="materialDesc != null and materialDesc!=''">
        and bm.material_desc like CONCAT('%', #{materialDesc}, '%')
      </if>
      <if test="maintainContent != null and maintainContent!=''">
        and emml.maintain_content like CONCAT('%',  #{maintainContent}, '%')
      </if>
      <if test="operatorUserId != null">
        and emml.operator_user_id = #{operatorUserId}
      </if>
      <if test="operatorUserName != null and operatorUserName != ''">
        and osu.nick_name like CONCAT('%', #{operatorUserName}, '%')
      </if>
      <if test="orgId!=null">
        and emml.org_id=#{orgId}
      </if>
    </where>
    order by emml.create_time desc
  </select>


</mapper>
