<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngPackingOrderSummaryDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eng.EngPackingOrderSummaryDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="packing_order_summary_det_id" jdbcType="BIGINT" property="packingOrderSummaryDetId" />
    <result column="packing_order_summary_id" jdbcType="BIGINT" property="packingOrderSummaryId" />
    <result column="carton_code" jdbcType="VARCHAR" property="cartonCode" />
    <result column="inner_carton_code" jdbcType="VARCHAR" property="innerCartonCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="despatch_batch" jdbcType="BIGINT" property="despatchBatch" />
    <result column="spec" jdbcType="BIGINT" property="spec" />
    <result column="drawing_number" jdbcType="VARCHAR" property="drawingNumber" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="raw_material_code" jdbcType="VARCHAR" property="rawMaterialCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="receiving_storage_id" jdbcType="BIGINT" property="receivingStorageId"/>
    <result column="putaway_storage_id" jdbcType="BIGINT" property="putawayStorageId"/>
    <result column="distribution_qty" jdbcType="DECIMAL" property="distributionQty"/>
    <result column="putaway_qty" jdbcType="DECIMAL" property="putawayQty"/>
    <result column="receiving_qty" jdbcType="DECIMAL" property="receivingQty"/>
    <result column="summary_det_status" jdbcType="TINYINT" property="summaryDetStatus"/>
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eng.EngPackingOrderSummaryDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="packing_order_code" jdbcType="VARCHAR" property="packingOrderCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="despatch_batchs" jdbcType="VARCHAR" property="despatchBatchs" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
  </resultMap>


  <sql id="Base_Column_List">
    sposd.packing_order_summary_det_id,
    sposd.packing_order_summary_id,
    sposd.carton_code,
    sposd.despatch_batch,
    sposd.spec,
    sposd.inner_carton_code,
    sposd.location_num,
    sposd.device_code,
    sposd.dominant_term_code,
    sposd.material_id,
    sposd.supplier_id,
    sposd.drawing_number,
    sposd.part_number,
    sposd.qty,
    sposd.unit_name,
    sposd.raw_material_code,
    sposd.`status`,
    sposd.remark,
    sposd.org_id,
    sposd.create_user_id,
    sposd.create_time,
    sposd.modified_user_id,
    sposd.modified_time,
    sposd.option1,
    sposd.option2,
    sposd.option3,
sposd.receiving_storage_id,
sposd.putaway_storage_id,
sposd.distribution_qty,
sposd.putaway_qty,
sposd.receiving_qty,
sposd.summary_det_status
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"/>,
    bm.material_name as material_name,bm.material_code as material_code,spo.packing_order_code as packing_order_code,
    bsp.supplier_name as supplier_name,spo.despatch_batch as despatch_batchs,spos.contract_code as contract_code,
    spos.purchase_req_order_code as purchase_req_order_code,spos.profession_name as profession_name,
    u.user_name as create_user_name,cast(qty as decimal(18,3)) as exportQty,
    s.user_name as modified_user_name,
    bo.organization_name,
    bs.storage_name as 'receivingStorageName',
    bs.storage_code as 'receivingStorageCode',
    bss.storage_code as 'putawayStorageCode',
    bss.storage_name as 'putawayStorageName'
    from eng_packing_order_summary_det sposd
    LEFT JOIN eng_packing_order_summary spos ON sposd.packing_order_summary_id = spos.packing_order_summary_id
    LEFT JOIN eng_packing_order spo ON spos.packing_order_id = spo.packing_order_id
    LEFT JOIN base_supplier bsp ON spo.supplier_id = bsp.supplier_id
    left join base_shipment_enterprise bse on spo.shipment_enterprise_id=bse.shipment_enterprise_id
    left join base_material bm on sposd.material_id=bm.material_id
    LEFT JOIN base_storage bs on sposd.receiving_storage_id = bs.storage_id
    LEFT JOIn base_storage bss on sposd.putaway_storage_id = bss.storage_id
    left join ocean_v2.sys_user u on sposd.create_user_id=u.user_id
    left join ocean_v2.sys_user s on sposd.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON sposd.org_id = bo.organization_id
    <where>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(sposd.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and sposd.status = #{status}
      </if>
      <if test="packingOrderSummaryId!=null">
        and sposd.packing_order_summary_id=#{packingOrderSummaryId}
      </if>
      <if test="orgId!=null">
        and sposd.org_id=#{orgId}
      </if>
      <if test="summaryDetStatus!=null and summaryDetStatus.size >0">
        and sposd.summary_det_status in
        <foreach collection="summaryDetStatus" item="item" separator="," open="(" close=")">
           #{item}
        </foreach>
      </if>
      <if test="packingOrderId!=null and packingOrderId!=''">
        and spo.packing_order_id=#{packingOrderId}
      </if>
    <if test="rawMaterialCode!=null and rawMaterialCode!=''">
      and sposd.raw_material_code like CONCAT('%',#{rawMaterialCode},'%')
    </if>
      <if test="spec!=null and spec!=''">
        and sposd.spec like CONCAT('%',#{spec},'%')
      </if>
    <if test="materialCode!=null and materialCode!=''">
      and bm.material_code like CONCAT('%',#{materialCode},'%')
    </if>
      <if test="materialName!=null and materialName!=''">
        and bm.material_name like CONCAT('%',#{materialName},'%')
      </if>
    <!-- 以下为导出查询条件 -->
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(spo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="supplierName != null and supplierName!=''">
        and bsp.supplier_name like CONCAT('%', #{supplierName}, '%')
      </if>
      <if test="shipmentEnterpriseName != null and shipmentEnterpriseName!=''">
        and bse.shipment_enterprise_name like CONCAT('%', #{shipmentEnterpriseName}, '%')
      </if>
      <if test="packingOrderCode != null and packingOrderCode!=''">
        and spo.packing_order_code like CONCAT('%',  #{packingOrderCode}, '%')
      </if>
      <if test="despatchBatch != null and despatchBatch!=''">
        and spo.despatch_batch like CONCAT('%', #{despatchBatch}, '%')
      </if>
      <if test="orderStatus != null and orderStatus.size >0">
        and spo.order_status in
        <foreach collection="orderStatus" item="item" separator="," open="(" close=")">
          #{item}
        </foreach>
      </if>
      <if test="auditStatus != null and auditStatus!=''">
        and spo.audit_status = #{auditStatus}
      </if>
      <if test="orderTimeStart!= null and orderTimeStart!= '' and orderTimeEnd!= null and orderTimeEnd!= ''">
        and date_format(spo.order_time, '%Y-%m-%d %H:%i') BETWEEN #{orderTimeStart} AND #{orderTimeEnd}
      </if>
      <if test="leaveFactoryTimeStart!= null and leaveFactoryTimeStart!= '' and leaveFactoryTimeEnd!= null and leaveFactoryTimeEnd!= ''">
        and date_format(spo.leave_factory_time, '%Y-%m-%d %H:%i') BETWEEN #{leaveFactoryTimeStart} AND #{leaveFactoryTimeEnd}
      </if>
      <if test="leavePortTimeStart!= null and leavePortTimeStart!= '' and leavePortTimeEnd!= null and leavePortTimeEnd!= ''">
        and date_format(spo.leave_port_time, '%Y-%m-%d %H:%i') BETWEEN #{leavePortTimeStart} AND #{leavePortTimeEnd}
      </if>
      <if test="arrivalPortTimeStart!= null and arrivalPortTimeStart!= '' and arrivalPortTimeEnd!= null and arrivalPortTimeEnd!= ''">
        and date_format(spo.arrival_port_time, '%Y-%m-%d %H:%i') BETWEEN #{arrivalPortTimeStart} AND #{arrivalPortTimeEnd}
      </if>
      <if test="arrivalTimeStart!= null and arrivalTimeStart!= '' and arrivalTimeEnd!= null and arrivalTimeEnd!= ''">
        and date_format(spo.arrival_time, '%Y-%m-%d %H:%i') BETWEEN #{arrivalTimeStart} AND #{arrivalTimeEnd}
      </if>
      <if test="status!=null">
        and spo.status = #{status}
      </if>
      <if test="orgId!=null">
        and spo.org_id=#{orgId}
      </if>
      <if test="supplierId!=null">
        and spo.supplier_id=#{supplierId}
      </if>
      <if test="shipmentEnterpriseId!=null">
        and spo.shipment_enterprise_id=#{shipmentEnterpriseId}
      </if>

    </where>
    order by sposd.create_time desc
  </select>

  <select id="findExistCount" resultType="java.lang.Long">
    SELECT  COUNT(*)
    FROM eng_packing_order_summary epos
    LEFT JOIN eng_packing_order epo ON epos.packing_order_id=epo.packing_order_id
    LEFT JOIN eng_packing_order_summary_det eposdet ON epos.packing_order_summary_id=eposdet.packing_order_summary_id
    LEFT JOIN base_material bm ON eposdet.material_id=bm.material_id
    WHERE epos.packing_order_id=#{packingOrderId}
    AND LOCATE('-',bm.material_code)>0
  </select>

</mapper>