<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngPackingOrderPrintMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.dto.eng.EngPackingOrderPrintDto">

    </resultMap>
    <select id="findList" resultMap="BaseResultMap">
        SELECT epo.despatch_batch as 'despatchBatch',epo.packing_order_code as 'packingOrderCode',
               epos.purchase_req_order_code as 'purchaseReqOrderCode',epos.contract_code as 'contractCode',epos.carton_code as 'cartonCode',
               eposd.inner_carton_code as 'innerCartonCode',
               -- eposd.raw_material_code as 'rawMaterialCode',
               bm.material_code AS 'rawMaterialCode',
               eposd.device_code as 'deviceCode',eposd.location_num as 'locationNum',
               bm.material_name as 'materialName',bs.supplier_name as 'supplierName',su.user_name as 'createUserName',eposd.create_time as 'createTime',sus.user_name as 'modifiedUserName',eposd.modified_time as 'modifiedTime',
        eposd.packing_order_summary_det_id as 'packingOrderSummaryDetId',epos.packing_order_summary_id as 'packingOrderSummaryId',epo.packing_order_id as 'packingOrderId',
        bse.shipment_enterprise_name as 'shipmentEnterpriseName',eposd.part_number as 'partNumber',eposd.drawing_number as 'drawingNumber',epo.remark
        FROM eng_packing_order_summary_det eposd
                 LEFT JOIN eng_packing_order_summary epos ON eposd.packing_order_summary_id = epos.packing_order_summary_id
                 LEFT JOIN eng_packing_order epo ON epos.packing_order_id = epo.packing_order_id
                 LEFT JOIN base_material bm ON bm.material_id = eposd.material_id
                 LEFT JOIN base_supplier bs ON epo.supplier_id = bs.supplier_id
                LEFT JOIN base_shipment_enterprise bse on epo.shipment_enterprise_id = bse.shipment_enterprise_id
                 LEFT JOIN ocean_v2.sys_user su ON eposd.create_user_id = su.user_id
                 LEFT JOIN ocean_v2.sys_user sus ON eposd.modified_user_id = sus.user_id
                left join fantech_imes_v2.base_organization bo ON eposd.org_id = bo.organization_id
    <where>
        epo.audit_status=3
        <if test="despatchBatch!=null and despatchBatch!=''">
            and epo.despatch_batch like CONCAT('%',#{despatchBatch},'%')
        </if>
<if test="packingOrderCode!=null and packingOrderCode!=''">
    and epo.packing_order_code like CONCAT('%',#{packingOrderCode},'%')
</if>
<if test="purchaseReqOrderCode!=null and purchaseReqOrderCode!=''">
    and epos.purchase_req_order_code like CONCAT('%',#{purchaseReqOrderCode},'%')
</if>
<if test="contractCode!=null and contractCode!=''">
    and epos.contract_code like CONCAT('%',#{contractCode},'%')
</if>
<if test="cartonCode!=null and cartonCode!=''">
    and epos.carton_code like CONCAT('%',#{cartonCode},'%')
</if>
<if test="innerCartonCode!=null and innerCartonCode!=''">
    and eposd.inner_carton_code like CONCAT('%',#{innerCartonCode},'%')
</if>
<if test="rawMaterialCode!=null and rawMaterialCode!=''">
    and eposd.raw_material_code like CONCAT('%',#{rawMaterialCode},'%')
</if>
<if test="deviceCode!=null and deviceCode!=''">
    and eposd.device_code like CONCAT('%',#{deviceCode},'%')
</if>
<if test="locationNum!=null and locationNum!=''">
    and eposd.location_num like CONCAT('%',#{locationNum},'%')
</if>
<if test="materialName!=null and materialName!=''">
    and bm.material_name like CONCAT('%',#{materialName},'%')
</if>
<if test="supplierName!=null and supplierName!=''">
    and bs.supplier_name like CONCAT('%',#{supplierName},'%')
</if>
<if test="partNumber!=null and partNumber!=''">
    and eposd.part_number like CONCAT('%',#{partNumber},'%')
</if>
<if test="drawingNumber!=null and drawingNumber!=''">
    and eposd.drawing_number like CONCAT('%',#{drawingNumber},'%')
</if>
<if test="shipmentEnterpriseName!=null and shipmentEnterpriseName!=''">
   and  bse.shipment_enterprise_name like CONCAT('%',#{shipmentEnterpriseName},'%')
</if>
<if test="orgId!=null and orgId!=''">
    and epo.org_id=#{orgId}
</if>
<choose>
    <when test="supplierIdList!=null and supplierIdList.size > 0">
        and epo.supplier_id in
        <foreach collection="supplierIdList" item="item" separator="," open="(" close=")">
            #{item.supplierId,jdbcType=BIGINT}
        </foreach>
    </when>
</choose>
    </where>
        order by eposd.create_time desc
    </select>
    <select id="ViewPrint" resultType="com.fantechs.common.base.general.dto.mes.sfc.PrintModel">
        select * FROM
        <choose>
            <when test="type==1">
                view_WUHUAN_outerBoxCode
            </when>
            <when test="type==2">
                view_WUHUAN_innerBoxCode
            </when>
            <when test="type==3">
                view_WUHUAN_materialsCode
            </when>
        </choose>
<where>
    id=#{id}
</where>
    </select>
</mapper>