<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngPurchaseReqOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eng.EngPurchaseReqOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="purchase_req_order_id" jdbcType="BIGINT" property="purchaseReqOrderId" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="purchase_req_order_name" jdbcType="VARCHAR" property="purchaseReqOrderName" />
    <result column="material_grade" jdbcType="VARCHAR" property="materialGrade" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="design_qty" jdbcType="VARCHAR" property="designQty" />
    <result column="surplus_qty" jdbcType="VARCHAR" property="surplusQty" />
    <result column="purchase_req_qty" jdbcType="VARCHAR" property="purchaseReqQty" />
    <result column="purchase_req_explain" jdbcType="VARCHAR" property="purchaseReqExplain" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="material_purpose" jdbcType="VARCHAR" property="materialPurpose" />
    <result column="purchase_explain" jdbcType="VARCHAR" property="purchaseExplain" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.eng.EngPurchaseReqOrderDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
  </resultMap>

  <sql id="Base_Column_List">
    ecqo.purchase_req_order_id,
    ecqo.purchase_req_order_code,
    ecqo.purchase_req_order_name,
    ecqo.material_grade,
    ecqo.material_code,
    ecqo.location_num,
    ecqo.design_qty,
    ecqo.surplus_qty,
    ecqo.purchase_req_qty,
    ecqo.purchase_req_explain,
    ecqo.device_code,
    ecqo.dominant_term_code,
    ecqo.material_purpose,
    ecqo.purchase_explain,
    ecqo.status,
    ecqo.remark,
    ecqo.org_id,
    ecqo.create_user_id,
    ecqo.create_time,
    ecqo.modified_user_id,
    ecqo.modified_time,
    ecqo.option1,
    ecqo.option2,
    ecqo.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eng_purchase_req_order ecqo
    left join ocean_v2.sys_user u on ecqo.create_user_id=u.user_id
    left join ocean_v2.sys_user s on ecqo.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON ecqo.org_id = bo.organization_id
    <where>
      <if test="purchaseReqOrderCode != null and purchaseReqOrderCode!=''">
        and ecqo.purchase_req_order_code like CONCAT('%', #{purchaseReqOrderCode}, '%')
      </if>
      <if test="purchaseReqOrderName != null and purchaseReqOrderName!=''">
        and ecqo.purchase_req_order_name like CONCAT('%', #{purchaseReqOrderName}, '%')
      </if>
      <if test="materialGrade != null and materialGrade!=''">
        and ecqo.material_grade like CONCAT('%', #{materialGrade}, '%')
      </if>
      <if test="materialCode != null and materialCode!=''">
        and ecqo.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="materialPurpose != null and materialPurpose!=''">
        and ecqo.material_purpose = #{materialPurpose}
      </if>
      <if test="locationNum != null and locationNum!=''">
        and ecqo.location_num = #{locationNum}
      </if>
      <if test="deviceCode != null and deviceCode!=''">
        and ecqo.device_code = #{deviceCode}
      </if>
      <if test="materialPurpose != null and materialPurpose!=''">
        and ecqo.material_purpose = #{materialPurpose}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ecqo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ecqo.status = #{status}
      </if>
      <if test="orgId!=null">
        and ecqo.org_id=#{orgId}
      </if>

    </where>
    order by ecqo.create_time desc
  </select>

</mapper>