<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngReportStockOrderMapper">
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.restapi.EngReportStockOrderDto">
    <!--
      WARNING - @mbg.generated com.fantechs.common.base.general.entity.eng.EngContractQtyOrder
    -->
    <id column="stock_order_det_id" jdbcType="VARCHAR" property="stockOrderDetId" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="base_storage_option1" jdbcType="VARCHAR" property="DHGUID" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="variance_qty" jdbcType="VARCHAR" property="varianceQty" />
    <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName" />
    <result column="storage_id" jdbcType="VARCHAR" property="storageId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
  </resultMap>


  <select id="findStockOrder" parameterType="map" resultMap="BaseResultMapDto">
    select
    wisod.stock_order_det_id,
    ecqo.option1,
    ecqo.option2,
    bs.option1 as DHGUID,
    wiisss.contract_code as contract_code,
    wiisss.purchase_req_order_code as purchase_req_order_code,
    bm.material_code,
    ecqo.location_num,
    wiisss.option2 as dominant_term_code,
    wiisss.option1 as device_code,
    wisod.variance_qty AS variance_qty,
    iis.inventory_status_name AS inventory_status_name,
    wisod.storage_id AS storage_id,
    wisod.create_time,
    u.user_name as create_user_name,
    wiisss.inventory_id as inventory_id
    FROM wms_inner_stock_order_det wisod
    left join ocean_v2.sys_user u on wisod.create_user_id=u.user_id
    left join wms_inner_stock_order wiso on wisod.stock_order_id= wiso.stock_order_id
    left join wms_inner_inventory wii on wisod.batch_code= wii.batch_code
    left join wms_inner_inventory wiis on wisod.material_id= wiis.material_id
    left join wms_inner_inventory wiiss on wiso.warehouse_id= wiiss.warehouse_id
    left join wms_inner_inventory wiisss on wisod.storage_id= wiisss.storage_id
    left join base_inventory_status iis on wiisss.inventory_status_id= iis.inventory_status_id
    left join base_material bm on wisod.material_id= bm.material_id
    left join base_storage bs on wisod.storage_id= bs.storage_id
    left join eng_contract_qty_order ecqo on wiisss.contract_code=ecqo.contract_code and  bm.material_code = ecqo.material_code
    <where>
      <if test="stockOrderId!=null and stockOrderId!=''">
        and wisod.stock_order_id = #{stockOrderId}
      </if>
      and wiisss.job_status =1
    </where>
    GROUP BY wisod.stock_order_det_id

  </select>
</mapper>