<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngReportInnerJobOrderMapper">
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.restapi.EngReportInnerJobOrderDto">
    <!--
      WARNING - @mbg.generated com.fantechs.common.base.general.entity.eng.EngContractQtyOrder
    -->
    <id column="job_order_det_id" jdbcType="VARCHAR" property="jobOrderDetId" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="purchase_req_order_code" jdbcType="VARCHAR" property="purchaseReqOrderCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="location_num" jdbcType="VARCHAR" property="locationNum" />
    <result column="dominant_term_code" jdbcType="VARCHAR" property="dominantTermCode" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="plan_qty" jdbcType="VARCHAR" property="planQty" />
    <result column="old_torageId" jdbcType="VARCHAR" property="oldStorageId" />
    <result column="new_storageId" jdbcType="VARCHAR" property="newStorageId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
  </resultMap>


  <select id="findInnerJobOrder" parameterType="map" resultMap="BaseResultMapDto">
    select
    wijod.job_order_det_id ,ecqo.option1 ,ecqo.option2,ecqo.contract_code,epro.purchase_req_order_code,bm.material_code,ecqo.location_num,
    ecqo.dominant_term_code,ecqo.device_code,wijod.out_storage_id as old_torageId,wijod.in_storage_id as new_storageId,
    wijod.create_time,u.user_name as create_user_name
    FROM wms_inner_job_order_det wijod
    left join ocean_v2.sys_user u on wijod.create_user_id=u.user_id
    left join wms_inner_job_order wijo on wijod.job_order_id= wijo.job_order_id
    left join base_material bm on wijod.material_id= bm.material_id
    left join eng_purchase_req_order epro on epro.purchase_req_order_code=epro.purchase_req_order_code and bm.material_code=epro.material_code
    left join eng_contract_qty_order ecqo on epro.option3=ecqo.option3
    <where>
      <if test="jobOrderId!=null and jobOrderId!=''">
        and wijo.job_order_id = #{jobOrderId}
      </if>
    </where>

  </select>
</mapper>