<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.guest.eng.mapper.EngUserFollowContractQtyOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.eng.EngUserFollowContractQtyOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_follow_contract_qty_order_id" jdbcType="BIGINT" property="userFollowContractQtyOrderId" />
    <result column="contract_qty_order_id" jdbcType="BIGINT" property="contractQtyOrderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    ufcqo.user_follow_contract_qty_order_id,
    ufcqo.contract_qty_order_id,
    ufcqo.user_id,
    ufcqo.`status`,
    ufcqo.remark,
    ufcqo.org_id,
    ufcqo.create_user_id,
    ufcqo.create_time,
    ufcqo.modified_user_id,
    ufcqo.modified_time,
    ufcqo.option1,
    ufcqo.option2,
    ufcqo.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from eng_user_follow_contract_qty_order ufcqo
    left join sys_user u on ufcqo.create_user_id=u.user_id
    left join sys_user s on ufcqo.modified_user_id=s.user_id
    left join base_organization bo ON ufcqo.org_id = bo.organization_id
    <where>
      <if test="userId!=null">
        and ufcqo.user_id = #{userId}
      </if>
      <if test="contractQtyOrderId!=null">
        and ufcqo.contract_qty_order_id = #{contractQtyOrderId}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(ufcqo.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="status!=null">
        and ufcqo.status = #{status}
      </if>
      <if test="orgId!=null">
        and ufcqo.org_id=#{orgId}
      </if>
    </where>
    order by ufcqo.create_time desc
  </select>
</mapper>
