<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.restapi.mulinsen.mapper.NccBdStordocMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.mulinsen.NccBdStordoc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="CSFLAG" jdbcType="CHAR" property="csflag" />
    <result column="DR" jdbcType="INTEGER" property="dr" />
    <result column="ENABLESTATE" jdbcType="INTEGER" property="enablestate" />
    <result column="GUBFLAG" jdbcType="CHAR" property="gubflag" />
    <result column="ISAGENTSTORE" jdbcType="CHAR" property="isagentstore" />
    <result column="ISATPAFFECTED" jdbcType="CHAR" property="isatpaffected" />
    <result column="ISCALCULATEDINVCOST" jdbcType="CHAR" property="iscalculatedinvcost" />
    <result column="ISCOMMISSIONOUT" jdbcType="CHAR" property="iscommissionout" />
    <result column="ISDIRECTSTORE" jdbcType="CHAR" property="isdirectstore" />
    <result column="ISKPTAXSTORE" jdbcType="VARCHAR" property="iskptaxstore" />
    <result column="ISOBLIGATE" jdbcType="CHAR" property="isobligate" />
    <result column="ISRETAIL" jdbcType="CHAR" property="isretail" />
    <result column="ISSHOPSTORE" jdbcType="CHAR" property="isshopstore" />
    <result column="ISSTOREONTHEWAY" jdbcType="CHAR" property="isstoreontheway" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="MRPFLAG" jdbcType="CHAR" property="mrpflag" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPERATESUPPLIER" jdbcType="VARCHAR" property="operatesupplier" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="PK_ADDRESS" jdbcType="VARCHAR" property="pkAddress" />
    <result column="PK_GROUP" jdbcType="CHAR" property="pkGroup" />
    <result column="PK_ORG" jdbcType="CHAR" property="pkOrg" />
    <result column="PRINCIPALCODE" jdbcType="VARCHAR" property="principalcode" />
    <result column="PROFITCENTRE" jdbcType="VARCHAR" property="profitcentre" />
    <result column="PROFLAG" jdbcType="CHAR" property="proflag" />
    <result column="DATA_STATUS" jdbcType="INTEGER" property="dataStatus" />
    <result column="SYNC_TIME" jdbcType="TIMESTAMP" property="syncTime" />
  </resultMap>

  <update id="batchUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update ncc_bd_stordoc
      set DATA_STATUS = #{item.dataStatus}
      SYNC_TIME = #{item.syncTime}
      where ID = #{item.id}
    </foreach>
  </update>
</mapper>