<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.ews.mapper.EwsProcessSchedulingMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.ews.EwsProcessScheduling">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="process_scheduling_id" jdbcType="BIGINT" property="processSchedulingId" />
    <result column="process_scheduling_name" jdbcType="VARCHAR" property="processSchedulingName" />
    <result column="data_interaction_type" jdbcType="TINYINT" property="dataInteractionType" />
    <result column="execute_object" jdbcType="VARCHAR" property="executeObject" />
    <result column="execute_object_type" jdbcType="TINYINT" property="executeObjectType" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="execute_status" jdbcType="TINYINT" property="executeStatus" />
    <result column="read_path" jdbcType="VARCHAR" property="readPath"/>
    <result column="write_path" jdbcType="VARCHAR" property="writePath"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="process_scheduling_desc" jdbcType="VARCHAR" property="processSchedulingDesc"/>
  </resultMap>
  <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.general.dto.ews.EwsProcessSchedulingDto" extends="BaseResultMap">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
</resultMap>
<sql id="BaseColumnList">
sps.process_scheduling_id,
sps.process_scheduling_name,
sps.data_interaction_type,
sps.execute_object,
sps.execute_object_type,
sps.cron,
sps.org_id,
sps.create_user_id,
sps.create_time,
sps.modified_user_id,
sps.modified_time,
sps.execute_status,
sps.read_path,
sps.write_path,
sps.remark,
sps.process_scheduling_desc
</sql>
<select id="findList" resultMap="BaseResultMapDto">
    select <include refid="BaseColumnList"/>,su.user_name as create_user_name, bo.organization_name,
       sus.user_name as modified_user_name
    FROM ews_process_scheduling sps
    LEFT JOIN ocean_v2.sys_user su ON sps.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON sps.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes_v2.base_organization bo ON sps.org_id = bo.organization_id
        <where>
        <if test="processSchedulingId != null">
            and sps.process_scheduling_id like CONCAT('%',#{processSchedulingId},'%')
        </if>
        <if test="processSchedulingName != null and processSchedulingName != ''">
            and sps.process_scheduling_name like concat('%',#{processSchedulingName},'%')
        </if>
        <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
            and date_format(sps.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="orgId != null and orgId!=''">
            and sps.org_id =#{orgId}
        </if>
        </where>
        order by sps.create_time desc
</select>
</mapper>