server:
  port: 8761

spring:
  profiles:
    active: xinbao
  application:
    name: @pom.artifactId@
  cloud:
    inetutils:
      ignoredInterfaces:
        - docker0
        - veth.*
        - VM.*
      preferredNetworks:
        - 192.168

  security:
    basic:
      enabled: true
    user:
      name: root
      password: Wms123
eureka:
  server:
    enable-self-preservation: false
  client:
     register-with-eureka: false #禁止自己当做服务注册
     fetch-registry: false       #屏蔽注册信息

logging:
  file: /data/logs/ocean/@pom.artifactId@/info/@pom.artifactId@.log
