<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.DeliveryOrderUreportMapper">

    <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.wms.out.WmsOutDeliveryOrderDet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="delivery_order_det_id" jdbcType="BIGINT" property="deliveryOrderDetId" />
        <result column="delivery_order_id" jdbcType="BIGINT" property="deliveryOrderId" />
        <result column="shipping_note_det_id" jdbcType="BIGINT" property="shippingNoteDetId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="reality_total_qty" jdbcType="DECIMAL" property="realityTotalQty" />
        <result column="out_total_qty" jdbcType="DECIMAL" property="outTotalQty" />
        <result column="out_status" jdbcType="TINYINT" property="outStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    </resultMap>

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.wms.out.WmsOutDeliveryOrderDetDto">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="reality_carton_qty" jdbcType="VARCHAR" property="realityCartonQty"/>

    </resultMap>

    <select id="findList" resultMap="BaseResultMapDTO" parameterType="map">
        SELECT
            s.supplier_name,
            o.order_code,
            o.contract_code,
            w.warehouse_name,
            m.material_code,
            pmo.product_model_name,
            m.material_desc,
            snd.reality_carton_qty,
            dod.out_total_qty,
            dod.modified_time,
            s.user_name as modified_user_name
        FROM
            wms_out_delivery_order_det dod
        LEFT JOIN wms_out_shipping_note_det snd ON snd.shipping_note_det_id = dod.shipping_note_det_id
        LEFT JOIN mes_package_manager pm ON pm.bar_code = snd.pallet_code
        LEFT JOIN smt_work_order wo ON wo.work_order_id = pm.work_order_id
        LEFT JOIN smt_order o ON o.order_id = wo.order_id
        LEFT JOIN smt_supplier s ON s.supplier_id = o.supplier_id
        LEFT JOIN smt_storage st ON st.storage_id = snd.move_storage_id
        LEFT JOIN smt_warehouse w ON w.warehouse_id = st.warehouse_id
        LEFT JOIN smt_material m ON m.material_id = dod.material_id
        LEFT JOIN base_tab t ON t.material_id = dod.material_id
        LEFT JOIN smt_product_model pmo ON pmo.product_model_id = t.product_model_id
        LEFT JOIN ocean_v2.sys_user s ON s.user_id = dod.modified_user_id
        <where>
            <if test="warehouseName != null and warehouseName != ''">
                and w.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="contractCode != null and contractCode != ''">
                and o.contract_code like CONCAT('%', #{contractCode}, '%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and s.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and m.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="productModelName != null and productModelName != ''">
                and pmo.product_model_name like CONCAT('%', #{productModelName}, '%')
            </if>
            <if test="modifiedUserId != null">
                and s.user_id = #{modifiedUserId}
            </if>
            <if test="modifiedStartTime != null and modifiedStartTime != '' and modifiedEndTime != null and modifiedEndTime != ''">
                and date_format(dod.modified_time, '%Y-%m-%d') BETWEEN #{modifiedStartTime} AND #{modifiedEndTime}
            </if>
        </where>
    </select>
</mapper>
