<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.InventoryAgeUreportMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.entity.InventoryAge">
        <id column="inventory_id" jdbcType="BIGINT" property="inventoryId" />
        <result column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="qty" jdbcType="DECIMAL" property="qty"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="sub_warehouse_name" jdbcType="VARCHAR" property="subWarehouseName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName"/>
        <result column="inventory_status_id" jdbcType="BIGINT" property="inventoryStatusId"/>
        <result column="inventory_status_name" jdbcType="VARCHAR" property="inventoryStatusName"/>
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode"/>
        <result column="sales_user_name" jdbcType="VARCHAR" property="salesUserName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="country_name" jdbcType="VARCHAR" property="countryName"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="product_category" jdbcType="VARCHAR" property="productCategory"/>
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
        <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    </resultMap>

    <resultMap id="BaseResultDetMap" type="com.fantechs.entity.InventoryAgeDet">
        <id column="inventory_det_id" jdbcType="BIGINT" property="inventoryDetId" />
        <result column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="barcode_status" jdbcType="TINYINT" property="barcodeStatus"/>

        <result column="sales_barcode" jdbcType="VARCHAR" property="salesBarcode"/>
        <result column="customer_barcode" jdbcType="VARCHAR" property="customerBarcode"/>
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode"/>
        <result column="same_package_code" jdbcType="VARCHAR" property="samePackageCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="findList" resultMap="BaseResultMap">
        SELECT
                (@i:=@i+1) as serial_number,
                wiid.option4 as same_package_code,
                wiid.option3 as sales_code,
                oso.sales_user_name,
                bsp.supplier_name,
                bsp.country_name,
                bsp.region_name,
                bs.storage_code,
                bw.warehouse_name,
                bmt.brand_name,
                bmt.product_category,
                bpm.product_model_name,
                wiid.material_id,
                wiid.inventory_status_id,
                wiid.storage_id,
                bm.material_code,
                bm.material_name,
                bm.material_desc,
                bmt.main_unit AS packing_unit_name,
                bo.organization_name,
                wel.logic_name AS sub_warehouse_name,
        <foreach collection="ranges" index="index" item="item">
                (select count(1) from wms_inner_inventory_det wiid2
                where wiid2.storage_id = wiid.storage_id
                and wiid2.material_id = wiid.material_id
                and wiid2.inventory_status_id = wiid.inventory_status_id
                and IF(wiid.option3 is null,wiid2.option3 is null,wiid2.option3 = wiid.option3)
                and IF(wiid.option4 is null,wiid2.option4 is null,wiid2.option4 = wiid.option4)
                and DATEDIFF(NOW(),wiid2.create_time) &gt;= #{item.rangeStart}
            <if test="item.rangeEnd!=null and item.rangeEnd!=''">
                  and DATEDIFF(NOW(),wiid2.create_time) &lt;= #{item.rangeEnd}
            </if>
             ) as #{item.detCount},
        </foreach>
                count(1) as qty
               FROM wms_inner_inventory_det wiid
                 LEFT JOIN om_sales_order_det osod ON wiid.option3 = osod.sales_code
                 LEFT JOIN om_sales_order oso ON oso.sales_order_id = osod.sales_order_id
                 LEFT JOIN base_supplier bsp ON oso.supplier_id = bsp.supplier_id
                 LEFT JOIN base_storage bs ON wiid.storage_id = bs.storage_id
                 LEFT JOIN base_warehouse bw ON bs.warehouse_id = bw.warehouse_id
                 LEFT JOIN base_material bm ON wiid.material_id = bm.material_id
                 LEFT JOIN base_material_tab bmt ON bm.material_id = bmt.material_id
                 LEFT JOIN base_product_model bpm ON bmt.product_model_id = bpm.product_model_id
                 LEFT JOIN wanbao_erp_logic wel on bs.logic_id = wel.logic_id
                 LEFT JOIN base_organization bo ON wiid.org_id = bo.organization_id,(SELECT @i:=0)j
        <where>
            bs.storage_type = 1
            <if test="warehouseId!=null and warehouseId!=''">
                and bw.warehouse_id =#{warehouseId}
            </if>
            <if test="storageId!=null and storageId!=''">
                and bs.storage_id =#{storageId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and bm.material_id  = #{materialId}
            </if>
            <if test="orgId!=null and orgId!=''">
                and bo.organization_id =#{orgId}
            </if>
            <if test="salesCode!=null and salesCode!=''">
                and wiid.option3 like CONCAT('%',#{salesCode}, '%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode}, '%')
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and oso.sales_user_name like CONCAT('%',#{salesUserName}, '%')
            </if>
            <if test="productModelName!=null and productModelName!=''">
                and bpm.product_model_name like CONCAT('%',#{productModelName}, '%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bsp.supplier_name like CONCAT('%',#{supplierName}, '%')
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and bs.storage_code like CONCAT('%',#{storageCode}, '%')
            </if>
            <if test="samePackageCode!=null and samePackageCode!=''">
                and wiid.option4 like CONCAT('%',#{samePackageCode}, '%')
            </if>
            <if test="countryName!=null and countryName!=''">
                and bsp.country_name like CONCAT('%',#{countryName},'%')
            </if>
            <if test="regionName!=null and regionName!=''">
                and bsp.region_name like CONCAT('%',#{regionName},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="materialDesc!=null and materialDesc!=''">
                and bm.material_desc like CONCAT('%',#{materialDesc},'%')
            </if>
            <if test="productCategory!=null and productCategory!=''">
                and bmt.product_category like CONCAT('%',#{productCategory},'%')
            </if>
            <if test="subWarehouseName!=null and subWarehouseName!=''">
                and wel.logic_name like CONCAT('%',#{subWarehouseName},'%')
            </if>
        </where>
        GROUP BY wiid.option4,wiid.option3,wiid.storage_id,wiid.material_id,wiid.inventory_status_id
        <if test="qty!=null">
            having count(1) =#{qty}
        </if>
    </select>

    <select id="findDetList" resultMap="BaseResultDetMap">
        SELECT
        (@i:=@i+1) as serial_number,
        wiid.barcode,
        wiid.option4 as same_package_code,
        wiid.option3 as sales_code,
        wiid.sales_barcode,
        wiid.customer_barcode,
        wiid.barcode_status,
        wiid.inventory_det_id,
        wiid.create_time
        FROM wms_inner_inventory_det wiid,(SELECT @i:=0)j
        <where>
            <if test="salesCodeIsNull==1">
                and wiid.option3 is null
            </if>
            <if test="samePackageCodeIsNull==1">
                and wiid.option4 is null
            </if>
            <if test="salesCode!=null and salesCode!=''">
                and wiid.option3 like CONCAT('%',#{salesCode}, '%')
            </if>
            <if test="samePackageCode!=null and samePackageCode!=''">
                and wiid.option4 like CONCAT('%',#{samePackageCode}, '%')
            </if>
            <if test="barcode!=null and barcode!=''">
                and wiid.barcode like CONCAT('%',#{barcode}, '%')
            </if>

            <if test="salesBarcode!=null and salesBarcode!=''">
                and wiid.sales_barcode like CONCAT('%',#{salesBarcode}, '%')
            </if>
            <if test="customerBarcode!=null and customerBarcode!=''">
                and wiid.customer_barcode like CONCAT('%',#{customerBarcode}, '%')
            </if>

            <if test="inventoryStatusId!=null and inventoryStatusId!=''">
                and wiid.inventory_status_id =#{inventoryStatusId}
            </if>
            <if test="storageId!=null and storageId!=''">
                and wiid.storage_id =#{storageId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and wiid.material_id = #{materialId}
            </if>
            <if test="rangeStart!=null">
                and DATEDIFF(NOW(),wiid.create_time) &gt;= #{rangeStart}
            </if>
            <if test="rangeEnd!=null">
                and DATEDIFF(NOW(),wiid.create_time) &lt;= #{rangeEnd}
            </if>
        </where>
        order by wiid.create_time desc
    </select>
</mapper>