<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.MonthInOutMapper">
    <resultMap id="base_column_list_in" type="com.fantechs.dto.MonthInDto">

    </resultMap>
    <resultMap id="base_column_list_out" type="com.fantechs.dto.MonthOutDto">

    </resultMap>

    <resultMap id="shipmentDet_column_list" type="com.fantechs.dto.ShipmentDetDto">
        <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode" />
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="sales_man_name" jdbcType="VARCHAR" property="salesManName" />
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode" />
        <result column="actual_despatch_time" jdbcType="TIMESTAMP" property="actualDespatchTime" />
        <result column="container_number" jdbcType="VARCHAR" property="containerNumber" />
        <result column="clearance_locale" jdbcType="VARCHAR" property="clearanceLocale" />
        <result column="origin_harbor" jdbcType="VARCHAR" property="originHarbor" />
        <result column="shipment_enterprise_name" jdbcType="VARCHAR" property="shipmentEnterpriseName" />
        <result column="transport_category_id" jdbcType="VARCHAR" property="transportCategoryId" />
        <result column="shipment_type" jdbcType="VARCHAR" property="shipmentType" />
        <result column="loading_type" jdbcType="VARCHAR" property="loadingType" />
        <result column="qty" jdbcType="DECIMAL" property="qty" />
    </resultMap>
<!--    月入报表-->
    <select id="findInList" resultMap="base_column_list_in">
        SELECT oso.sales_user_name 'salesUserName',bs.region_name 'regionName',bs.country_name 'countryName',oso.supplier_id 'supplierId',bs.supplier_name 'supplierName',
        bmt.brand_name 'brandName',bmt.product_category 'productCategory',bpm.product_model_code 'productModelCode',mpwo.material_id 'materialId',bm.material_code 'materialCode',
        bm.material_desc 'materialDesc',count(*) 'qty',mspcd.create_time 'inDate'
        FROM mes_sfc_product_carton_det mspcd
        LEFT JOIN mes_sfc_work_order_barcode mswob ON mspcd.work_order_barcode_id = mswob.work_order_barcode_id
        LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
        LEFT JOIN om_sales_order oso ON mpwo.sales_order_id = oso.sales_order_id
        LEFT JOIN base_supplier bs ON oso.supplier_id = bs.supplier_id
        LEFT JOIN base_material bm ON mpwo.material_id = bm.material_id
        LEFT JOIN base_material_tab bmt ON bm.material_id = bmt.material_id
        LEFT JOIN base_product_model bpm ON bmt.product_model_id = bpm.product_model_id
        <where>
            <choose>
                <when test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                    and DATE_FORMAT(mspcd.create_time,'%y%m') between DATE_FORMAT(#{startTime},'%y%m') and DATE_FORMAT(#{endTime},'%y%m')
                </when>
                <otherwise>
                    and DATE_FORMAT(mspcd.create_time,'%y%m') = DATE_FORMAT(now(),'%y%m')
                </otherwise>
            </choose>
            <if test="orgId!=null and orgId!=''">
                AND mspcd.org_id=#{orgId}
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and oso.sales_user_name like CONCAT('%',#{salesUserName},'%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bs.supplier_name like CONCAT('%',#{supplierName},'%')
            </if>
            <if test="productModelCode!=null and productModelCode!=''">
                and bpm.product_model_code like CONCAT('%',#{productModelCode},'%')
            </if>
        </where>
        GROUP BY oso.sales_user_name,oso.supplier_id,mpwo.material_id
    </select>
<!--    月入条码明细-->
    <select id="findInListBarCode" resultType="java.lang.String">
        SELECT mswob.barcode
        FROM mes_sfc_product_carton_det mspcd
                 LEFT JOIN mes_sfc_work_order_barcode mswob ON mspcd.work_order_barcode_id = mswob.work_order_barcode_id
                 LEFT JOIN mes_pm_work_order mpwo ON mswob.work_order_id = mpwo.work_order_id
                 LEFT JOIN om_sales_order oso ON mpwo.sales_order_id = oso.sales_order_id
        <where>
            <choose>
                <when test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                    and DATE_FORMAT(mspcd.create_time,'%y%m') between DATE_FORMAT(#{startTime},'%y%m') and DATE_FORMAT(#{endTime},'%y%m')
                </when>
                <otherwise>
                    and DATE_FORMAT(mspcd.create_time,'%y%m') = DATE_FORMAT(now(),'%y%m')
                </otherwise>
            </choose>
            <if test="orgId!=null and orgId!=''">
                AND mspcd.org_id=#{orgId}
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and oso.sales_user_name=#{salesUserName}
            </if>
        <if test="supplierId!=null and supplierId!=''">
            and oso.supplier_id=#{supplierId}
        </if>
        <if test="materialId!=null and materialId!=''">
            and mpwo.material_id =#{materialId}
        </if>
        </where>
        GROUP BY mswob.work_order_barcode_id
    </select>
<!--月出报表-->
    <select id="findOutList" resultMap="base_column_list_out">
        SELECT oso.sales_user_name 'salesUserName',bs.region_name 'regionName',bs.country_name 'countryName',oso.supplier_id 'supplierId',bs.supplier_name 'supplierName',
                bmt.brand_name 'brandName',bmt.product_category 'productCategory',bpm.product_model_code 'productModelCode',wijod.material_id 'materialId',bm.material_code 'materialCode',
                bm.material_desc 'materialDesc',sum(wijod.actual_qty) 'qty',wijod.work_end_time 'outDate'
        FROM wms_inner_job_order_det wijod
                 LEFT JOIN wms_inner_job_order wijo ON wijod.job_order_id = wijo.job_order_id
                 LEFT JOIN wms_out_delivery_order_det wodod ON wijod.source_det_id = wodod.delivery_order_det_id
                 LEFT JOIN wms_out_delivery_order wodo ON wodod.delivery_order_id = wodo.delivery_order_id
                 LEFT JOIN om_sales_order oso ON wodod.source_order_id = oso.sales_order_id AND wodo.order_type_id=1
                 LEFT JOIN base_supplier bs ON oso.supplier_id = bs.supplier_id
                 LEFT JOIN base_material bm ON wijod.material_id = bm.material_id
                 LEFT JOIN base_material_tab bmt ON bm.material_id = bmt.material_id
                 LEFT JOIN base_product_model bpm ON bmt.product_model_id = bpm.product_model_id
        <where>
            wijod.actual_qty>0  AND wijo.job_order_type=4 AND wijod.order_status=5
            <choose>
                <when test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                    and DATE_FORMAT(wijod.work_end_time,'%y%m') between DATE_FORMAT(#{startTime},'%y%m') and DATE_FORMAT(#{endTime},'%y%m')
                </when>
                <otherwise>
                    and DATE_FORMAT(wijod.work_end_time,'%y%m') = DATE_FORMAT(now(),'%y%m')
                </otherwise>
            </choose>
            <if test="orgId!=null and orgId!=''">
                AND wijod.org_id=#{orgId}
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and oso.sales_user_name like CONCAT('%',#{salesUserName},'%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bs.supplier_name like CONCAT('%',#{supplierName},'%')
            </if>
            <if test="productModelCode!=null and productModelCode!=''">
                and bpm.product_model_code like CONCAT('%',#{productModelCode},'%')
            </if>
        </where>
        GROUP BY oso.sales_user_name,oso.supplier_id,wijod.material_id
    </select>
<!--    月出条码明细-->
    <select id="findOutListBarCode" resultType="java.lang.String">
        SELECT wiid.barcode
        FROM wms_inner_job_order_det wijod
        LEFT JOIN wms_inner_job_order wijo ON wijod.job_order_id = wijo.job_order_id
        LEFT JOIN wms_out_delivery_order_det wodod ON wijod.source_det_id = wodod.delivery_order_det_id
        LEFT JOIN wms_out_delivery_order wodo ON wodod.delivery_order_id = wodo.delivery_order_id
        LEFT JOIN wms_inner_inventory_det wiid ON wiid.delivery_order_code = wodo.delivery_order_code
        LEFT JOIN om_sales_order oso ON wodod.source_order_id = oso.sales_order_id AND wodo.order_type_id=1
        <where>
            <choose>
                <when test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                    and DATE_FORMAT(wijod.work_end_time,'%y%m') between DATE_FORMAT(#{startTime},'%y%m') and DATE_FORMAT(#{endTime},'%y%m')
                </when>
                <otherwise>
                    and DATE_FORMAT(wijod.work_end_time,'%y%m') = DATE_FORMAT(now(),'%y%m')
                </otherwise>
            </choose>
            <if test="orgId!=null and orgId!=''">
                AND wijod.org_id=#{orgId}
            </if>
            <if test="salesUserName!=null and salesUserName!=''">
                and oso.sales_user_name=#{salesUserName}
            </if>
            <if test="supplierId!=null and supplierId!=''">
                and oso.supplier_id=#{supplierId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and wijod.material_id =#{materialId}
            </if>
        </where>
        GROUP BY wiid.barcode
    </select>

<!--  发货明细报表  -->
    <select id="findShipmentDet" resultMap="shipmentDet_column_list">
        SELECT
            wodo2.delivery_order_code,
            bm.material_code,
            wiid.option1 AS customer_name,
            wiid.option2 AS sales_man_name,
            wiid.option3 AS sales_code,
            wodo.actual_despatch_time,
            wodo.container_number,
            wodo.clearance_locale,
            wodo.origin_harbor,
            bse.shipment_enterprise_name,
            bse.transport_category_id,
            '销售发货' AS shipment_type,
            '普通装柜' AS loading_type,
            COUNT(wiid.material_qty) AS qty
        FROM
            wms_out_despatch_order_re_jo wodorj
                LEFT JOIN wms_inner_job_order wijo ON wodorj.job_order_id = wijo.job_order_id
                LEFT JOIN wms_out_despatch_order wodo ON wodo.despatch_order_id = wodorj.despatch_order_id
                LEFT JOIN base_shipment_enterprise bse ON wodo.shipment_enterprise_id = bse.shipment_enterprise_id
                LEFT JOIN wms_out_delivery_order wodo2 ON wijo.source_order_id = wodo2.delivery_order_id
                LEFT JOIN wms_inner_inventory_det wiid ON wodo2.delivery_order_code = wiid.delivery_order_code
                LEFT JOIN base_material bm ON wiid.material_id = bm.material_id
        <where>
            wodorj.org_id = #{orgId}
            <if test="deliveryOrderCode != null and deliveryOrderCode != ''">
                AND wodo2.delivery_order_code LIKE CONCAT('%', #{deliveryOrderCode}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                AND bm.material_code LIKE CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="customerName != null and customerName != ''">
                AND wiid.option1 LIKE CONCAT('%', #{customerName}, '%')
            </if>
            <if test="salesManName != null and salesManName != ''">
                AND wiid.option2 LIKE CONCAT('%', #{salesManName}, '%')
            </if>
            <if test="salesCode != null and salesCode != ''">
                AND wiid.option3 LIKE CONCAT('%', #{salesCode}, '%')
            </if>
            <if test="actualDespatchTime != null">
                and date_format(wodo.actual_despatch_time, '%Y-%m-%d') =#{actualDespatchTime}
            </if>
            <if test="clearanceLocale != null and clearanceLocale != ''">
                AND wodo.clearance_locale LIKE CONCAT('%', #{clearanceLocale}, '%')
            </if>
            <if test="containerNumber != null and containerNumber != ''">
                AND wodo.container_number LIKE CONCAT('%', #{containerNumber}, '%')
            </if>
            <if test="originHarbor != null and originHarbor != ''">
                AND wodo.origin_harbor LIKE CONCAT('%', #{originHarbor}, '%')
            </if>
            <if test="shipmentEnterpriseName != null and shipmentEnterpriseName != ''">
                AND bse.shipment_enterprise_name LIKE CONCAT('%', #{shipmentEnterpriseName}, '%')
            </if>
            <if test="transportCategoryId != null and transportCategoryId != ''">
                AND bse.transport_category_id = #{transportCategoryId}
            </if>
        </where>
        GROUP BY
            wiid.option3,
            wodo2.delivery_order_code
    </select>
</mapper>