<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.PackingWarehousingMapper">
    <select id="findList" resultType="com.fantechs.entity.PackingWarehousingModel">
        SELECT epo.despatch_batch as 'despatchBatch',ecqo.profession_name as 'professionName',epos.contract_code as 'contractCode',epos.purchase_req_order_code as 'purchaseReqOrderCode',
                bm.material_code as 'materialCode',eposd.location_num as 'locationNum',bm.material_name as 'materialName',eposd.spec as 'spec',eposd.dominant_term_code as 'dominantTermCode',
                eposd.device_code as 'deviceCode',eposd.putaway_qty as 'putawayQty',eposd.unit_name as 'unitName',ecqo.material_purpose as 'materialPurpose',bs.supplier_name as 'supplierName'
        From eng_packing_order_summary_det eposd
                 LEFT JOIN eng_packing_order_summary epos ON eposd.packing_order_summary_id = epos.packing_order_summary_id
                 LEFT JOIN eng_packing_order epo ON epos.packing_order_id = epo.packing_order_id
                 LEFT JOIN base_material bm ON eposd.material_id = bm.material_id
                 LEFT JOIN base_supplier bs ON epo.supplier_id = bs.supplier_id
                 LEFT JOIN eng_contract_qty_order ecqo ON ecqo.contract_code = epos.contract_code AND bm.material_code = ecqo.material_code
        <where>
            eposd.putaway_qty>0
            <if test="orgId!=null and orgId!=''">
                and eposd.org_id = #{orgId}
            </if>
            <if test="despatchBatch!=null and despatchBatch!=''">
                and epo.despatch_batch like CONCAT('%',#{despatchBatch},'%')
            </if>
            <if test="professionName!=null and professionName!=''">
                and ecqo.profession_name like CONCAT('%',#{professionName},'%')
            </if>
            <if test="contractCode!=null and contractCode!=''">
                and epos.contract_code like CONCAT('%',#{contractCode},'%')
            </if>
            <if test="purchaseReqOrderCode!=null and purchaseReqOrderCode!=''">
                and epos.purchase_req_order_code like CONCAT('%',#{purchaseReqOrderCode},'%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="locationNum!=null and locationNum!=''">
                and eposd.location_num like CONCAT('%',#{locationNum},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="spec!=null and spec!=''">
                and eposd.spec like CONCAT('%',#{spec},'%')
            </if>
            <if test="dominantTermCode!=null and dominantTermCode!=''">
                and eposd.dominant_term_code like CONCAT('%',#{dominantTermCode},'%')
            </if>
            <if test="deviceCode!=null and deviceCode!=''">
                and eposd.device_code like CONCAT('%',#{deviceCode},'%')
            </if>
            <if test="putawayQty!=null">
                and eposd.putaway_qty =#{putawayQty}
            </if>
            <if test="unitName!=null and unitName!=''">
                and eposd.unit_name like CONCAT('%',#{unitName},'%')
            </if>
            <if test="materialPurpose!=null and materialPurpose!=''">
                and ecqo.material_purpose like CONCAT('%',#{materialPurpose},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and bs.supplier_name like CONCAT('%',#{supplierName},'%')
            </if>
        </where>
        ORDER BY epo.create_time DESC
    </select>
</mapper>