<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.PackingOutboundMapper">
    <select id="findList" resultType="com.fantechs.entity.PackingOutboundModel">
        SELECT wodod.option6 as 'professionName',wodo.delivery_order_code as 'deliveryOrderCode',bs.supplier_name as 'customerName',wodo.order_date as 'orderDate',
                bm.material_code as 'materialCode',wodod.option7 as 'locationNum',wodod.option9 as 'deviceCode',wodod.packing_qty as 'packingQty',wodod.packing_qty as 'pickingQty',
                wodod.dispatch_qty as 'dispatchQty',wodod.pipeline_number as 'pipelineNumber',bm.material_desc as 'spec',bm.material_name as 'materialName',
                wodo.pick_material_user_name as 'pickMaterialUserName',wodo.audit_user_name as 'auditUserName',su.user_name as 'issueUserName'
        FROM wms_out_delivery_order_det wodod
                 LEFT JOIN wms_out_delivery_order wodo ON wodod.delivery_order_id = wodo.delivery_order_id
                 LEFT JOIN base_material bm ON wodod.material_id = bm.material_id
                 LEFT JOIN base_supplier bs ON wodo.customer_id = bs.supplier_id
                 LEFT JOIN ocean_v2.sys_user su ON wodo.modified_user_id = su.user_id
        <where>
            wodo.order_type_id=8 AND wodod.packing_qty>0
            <if test="professionName!=null and professionName!=''">
                and wodod.option6 like CONCAT('%',#{professionName},'%')
            </if>
            <if test="deliveryOrderCode!=null and deliveryOrderCode!=''">
                and wodo.delivery_order_code like CONCAT('%',#{deliveryOrderCode},'%')
            </if>
            <if test="customerName!=null and customerName!=''">
                and bs.supplier_name like CONCAT('%',#{customerName},'%')
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(wodo.order_date, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="locationNum!=null and locationNum!=''">
                and wodod.option7 like CONCAT('%',#{locationNum},'%')
            </if>
            <if test="deviceCode!=null and deviceCode!=''">
                and wodod.option9 like CONCAT('%',#{deviceCode},'%')
            </if>
            <if test="packingQty!=null">
                and wodod.packing_qty =#{packingQty}
            </if>
            <if test="pickingQty!=null">
                and wodod.packing_qty =#{pickingQty}
            </if>
            <if test="deviceCode!=null and deviceCode!=''">
                and wodod.option9 like CONCAT('%',#{deviceCode},'%')
            </if>
            <if test="dispatchQty!=null">
                and wodod.dispatch_qty = #{dispatchQty}
            </if>
            <if test="pipelineNumber!=null and pipelineNumber!=''">
                and wodod.pipeline_number like CONCAT('%',#{pipelineNumber},'%')
            </if>
            <if test="spec!=null and spec!=''">
                and bm.material_desc like CONCAT('%',#{spec},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="pickMaterialUserName!=null and pickMaterialUserName!=''">
                and wodo.pick_material_user_name like CONCAT('%',#{pickMaterialUserName},'%')
            </if>
            <if test="auditUserName!=null and auditUserName!=''">
                and wodo.audit_user_name like CONCAT('%',#{auditUserName},'%')
            </if>
            <if test="issueUserName!=null and issueUserName!=''">
                and su.user_name like CONCAT('%',#{issueUserName},'%')
            </if>
        </where>
        ORDER BY wodod.create_time DESC
    </select>
</mapper>