<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.ProcessRecordUreportMapper">

    <resultMap id="BaseResultMap" type="com.fantechs.dto.ProcessRecordUreportDto">

    </resultMap>
    <select id="findList" resultMap="BaseResultMap" parameterType="com.fantechs.entity.search.SearchProcessRecordUreportDto">
        SELECT
        bpl.pro_name AS proName,
        bm.material_code AS materialCode,
        bm.material_name AS materialName,
        count(*) AS finishQty,
        su.user_name AS userName,
        msbpr.process_name AS processName,
        date_format( msbpr.in_process_time, '%Y-%m-%d' ) AS finishDate
        FROM
        mes_sfc_barcode_process_record msbpr
        LEFT JOIN base_material bm ON msbpr.material_id=bm.material_id
        LEFT JOIN base_pro_line bpl ON msbpr.pro_line_id = bpl.pro_line_id
        LEFT JOIN ocean_v2.sys_user su ON msbpr.operator_user_id = su.user_id
        <where>
            <if test="proName != null and proName != ''">
                and bpl.pro_name like CONCAT('%', #{proName}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and bm.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="materialName != null and materialName != ''">
                and bm.material_name like CONCAT('%', #{materialName}, '%')
            </if>
            <if test="processName != null and processName != ''">
                and msbpr.process_name like CONCAT('%', #{processName}, '%')
            </if>
            <if test="finishDate != null and finishDate != ''">
                and date_format(msbpr.in_process_time, '%Y-%m-%d')=#{finishDate}
            </if>
            <if test="userName != null and userName != ''">
                and su.user_name = #{userName}
            </if>

        </where>
        GROUP BY
        bpl.pro_name,
        bm.material_code,
        bm.material_name,
        su.user_name,
        msbpr.process_name
    </select>
</mapper>