<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.ProductionInStorageMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.entity.ProductionInStorage">
        <result column="organization_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode"/>
        <result column="work_shop_name" jdbcType="VARCHAR" property="workShopName"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName"/>
    </resultMap>
    <resultMap id="BaseResultOmMap" type="com.fantechs.entity.OmInStorage">
        <result column="organization_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="sales_code" jdbcType="VARCHAR" property="salesCode"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
        <result column="packing_unit_name" jdbcType="VARCHAR" property="packingUnitName"/>
    </resultMap>
    <resultMap id="BaseResultProDetMap" extends="BaseResultMap" type="com.fantechs.entity.ProductionInStorageDet">

    </resultMap>
    <select id="findProList" resultMap="BaseResultMap">
        SELECT
                bo.organization_name,
                mpwo.work_order_code,
                oso.sales_order_code,
                bws.work_shop_name,
                bpl.pro_name,
                bw.warehouse_name,
                bwa.warehouse_area_code,
                bs.storage_code,
                bm.material_code,
                bm.material_name,
                sum(wijod.actual_qty) as 'qty',
                wiaod.packing_unit_name
        FROM wms_inner_job_order_det wijod
                LEFT JOIN wms_inner_job_order wijo ON wijod.job_order_id = wijo.job_order_id
                LEFT JOIN wms_in_asn_order_det wiaod ON wiaod.asn_order_det_id = wijod.source_det_id
                LEFT JOIN wms_in_asn_order wiao ON wiaod.asn_order_id = wiao.asn_order_id
                 LEFT JOIN mes_pm_work_order mpwo ON wiaod.source_order_id = mpwo.work_order_id
                 LEFT JOIN base_pro_line bpl ON mpwo.pro_line_id = bpl.pro_line_id
                 left JOIN base_work_shop bws ON bpl.work_shop_id = bws.work_shop_id
                 left JOIN om_sales_order oso ON mpwo.sales_order_id = oso.sales_order_id
                 LEFT JOIN base_warehouse bw ON wijod.warehouse_id = bw.warehouse_id
                 LEFT JOIN base_storage bs ON wijod.in_storage_id = bs.storage_id
                 LEFT JOIN base_warehouse_area bwa ON bs.warehouse_area_id = bwa.warehouse_area_id
                 LEFT JOIN base_material bm ON wijod.material_id = bm.material_id
                 LEFT JOIN fantech_imes_v2.base_organization bo ON wijod.org_id = bo.organization_id
        <where>
            wiao.order_type_id = 4 AND wijo.order_type_id=4 AND wijo.order_status=5
            <if test="warehouseId!=null and warehouseId!=''">
                and bw.warehouse_id =#{warehouseId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and bm.material_id = #{materialId}
            </if>
            <if test="proName!=null and proName!=''">
                and bpl.pro_name LIKE CONCAT('%',#{proName},'%')
            </if>
            <if test="workShopName!=null and workShopName!=''">
                and bws.work_shop_name LIKE CONCAT('%',#{workShopName},'%')
            </if>
            <if test="orgId!=null and orgId!=''">
                and bo.organization_id =#{orgId}
            </if>
            <if test="workShopId!=null and workShopId!=''">
               and bws.work_shop_id =#{workShopId}
            </if>
            <if test="proId!=null and proId!=''">
                and bpl.pro_line_id =#{proId}
            </if>
            <if test="workOrderId!=null and workOrderId!=''">
                and mpwo.work_order_id = #{workOrderId}
            </if>
            <if test="salesOrderId!=null and salesOrderId!=''">
                and oso.sales_order_id = #{salesOrderId}
            </if>
            <if test="salesOrderCode!=null and salesOrderCode!=''">
                and oso.sales_order_code like CONCAT('%',#{salesOrderCode},'%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and mpwo.work_order_code like CONCAT('%',#{workOrderCode},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and date_format(wijod.work_end_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="warehouseAreaCode!=null and warehouseAreaCode!=''">
                and bwa.warehouse_area_code like CONCAT('%',#{warehouseAreaCode},'%')
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and bs.storage_code like CONCAT('%',#{storageCode},'%')
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="packingUnitName!=null and packingUnitName!=''">
                and wiaod.packing_unit_name like CONCAT('%',#{packingUnitName},'%')
            </if>
        </where>
        GROUP BY wiaod.org_id,mpwo.work_order_id,bw.warehouse_id,bwa.warehouse_area_id,bm.material_id,wijod.in_storage_id
    </select>
    <select id="findOmList" resultMap="BaseResultOmMap">
        SELECT
        DISTINCT
        bo.organization_name,
        wiid.option3 AS sales_code,
        bw.warehouse_name,
        bs.storage_code,
        bwa.warehouse_area_code,
        bm.material_code,
        bm.material_name,
        sum( wiid.material_qty ) AS 'qty',
        bpu.packing_unit_name,
        sup.supplier_name
        FROM
        wms_inner_inventory_det wiid
        LEFT JOIN base_organization bo ON wiid.org_id = bo.organization_id
        LEFT JOIN base_storage bs ON wiid.storage_id = bs.storage_id
        LEFT JOIN base_warehouse bw ON bs.warehouse_id = bw.warehouse_id
        LEFT JOIN base_warehouse_area bwa ON bs.warehouse_area_id = bwa.warehouse_area_id
        LEFT JOIN base_material bm ON wiid.material_id = bm.material_id
        LEFT JOIN base_material_package bmp ON bm.material_id = bmp.material_id
        LEFT JOIN base_packing_unit bpu ON bmp.packing_unit_id = bpu.packing_unit_id
        LEFT JOIN om_sales_order_det osod ON wiid.option3 = osod.sales_code
        LEFT JOIN om_sales_order oso ON osod.sales_order_id = oso.sales_order_id
        LEFT JOIN base_supplier sup ON oso.supplier_id = sup.supplier_id
        <where>
            wiid.barcode_status = 3 AND wiid.option3 IS NOT NULL
            <if test="salesCode!=null and salesCode!=''">
                and wiid.option3 like CONCAT('%',#{salesCode},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                AND sup.supplier_name LIKE CONCAT('%',#{supplierName},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and date_format(wiid.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="materialCode!=null and materialCode!=''">
                and bm.material_code like CONCAT('%',#{materialCode},'%')
            </if>
            <if test="materialName!=null and materialName!=''">
                and bm.material_name like CONCAT('%',#{materialName},'%')
            </if>
            <if test="packingUnitName!=null and packingUnitName!=''">
                and bpu.packing_unit_name like CONCAT('%',#{packingUnitName},'%')
            </if>
            <if test="warehouseName!=null and warehouseName!=''">
                and bw.warehouse_name like CONCAT('%',#{warehouseName},'%')
            </if>
            <if test="storageCode!=null and storageCode!=''">
                and bs.storage_code like CONCAT('%',#{storageCode},'%')
            </if>
        </where>
        GROUP BY wiid.option3, bmp.package_specification_id
    </select>

    <select id="findProDetList" resultMap="BaseResultProDetMap">
        SELECT
            (@i:=@i+1) 'serialNumber',
                bo.organization_name,
                mpwo.work_order_code,
                oso.sales_order_code,
                bws.work_shop_name,
                bpl.pro_name,
                bw.warehouse_name,
                bwa.warehouse_area_code,
                bs.storage_code,
                bm.material_code,
                bm.material_name,
                wiid.material_qty as 'qty',
                wiaod.packing_unit_name,
                wiid.barcode 'inPlantBarCode',
                mskpr.part_barcode 'marketBarCode',
                mspcd.create_time as 'packageTime',
                msppd.create_time as 'putInStorageTime'
        FROM wms_inner_job_order_det wijod
                 LEFT JOIN wms_inner_job_order wijo ON wijod.job_order_id = wijo.job_order_id
                 LEFT JOIN wms_in_asn_order_det wiaod ON wiaod.asn_order_det_id = wijod.source_det_id
                 LEFT JOIN wms_in_asn_order wiao ON wiaod.asn_order_id = wiao.asn_order_id
                 left JOIN wms_inner_inventory_det wiid ON wiao.asn_code = wiid.asn_code AND wiid.material_id = wijod.material_id
                 LEFT JOIN mes_sfc_work_order_barcode mswob ON wiid.barcode = mswob.barcode
                 LEFT JOIN mes_sfc_key_part_relevance mskpr ON mswob.work_order_barcode_id = mskpr.work_order_barcode_id AND mskpr.part_barcode IS NOT NULL
                 LEFT JOIN mes_sfc_product_carton_det mspcd ON mswob.work_order_barcode_id = mspcd.work_order_barcode_id
                 LEFT JOIN mes_sfc_product_pallet_det msppd ON mswob.work_order_barcode_id = msppd.work_order_barcode_id
                 LEFT JOIN mes_pm_work_order mpwo ON wiaod.source_order_id = mpwo.work_order_id
                 LEFT JOIN base_pro_line bpl ON mpwo.pro_line_id = bpl.pro_line_id
                 left JOIN base_work_shop bws ON bpl.work_shop_id = bws.work_shop_id
                 left JOIN om_sales_order oso ON mpwo.sales_order_id = oso.sales_order_id
                 LEFT JOIN base_warehouse bw ON wijod.warehouse_id = bw.warehouse_id
                 LEFT JOIN base_storage bs ON wijod.in_storage_id = bs.storage_id
                 LEFT JOIN base_warehouse_area bwa ON bs.warehouse_area_id = bwa.warehouse_area_id
                 LEFT JOIN base_material bm ON wijod.material_id = bm.material_id
                LEFT JOIN fantech_imes_v2.base_organization bo ON wijod.org_id = bo.organization_id,(SELECT @i:=0)j
        <where>
            wiao.order_type_id = 4 AND wijo.order_type_id=4 AND wijod.order_status=5 AND wiid.barcode IS NOT NULL
            <if test="warehouseId!=null and warehouseId!=''">
                and bw.warehouse_id =#{warehouseId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and bm.material_id = #{materialId}
            </if>
            <if test="orgId!=null and orgId!=''">
                and bo.organization_id =#{orgId}
            </if>
            <if test="workShopId!=null and workShopId!=''">
                and bws.work_shop_id =#{workShopId}
            </if>
            <if test="proId!=null and proId!=''">
                and bpl.pro_line_id =#{proId}
            </if>
            <if test="workOrderId!=null and workOrderId!=''">
                and mpwo.work_order_id = #{workOrderId}
            </if>
            <if test="salesOrderId!=null and salesOrderId!=''">
                and oso.sales_order_id = #{salesOrderId}
            </if>
            <if test="salesOrderCode!=null and salesOrderCode!=''">
                and oso.sales_order_code like CONCAT('%',#{salesOrderCode},'%')
            </if>
            <if test="workOrderCode!=null and workOrderCode!=''">
                and mpwo.work_order_code like CONCAT('%',#{workOrderCode},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and date_format(wijod.work_end_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        GROUP BY wiid.barcode
    </select>
</mapper>