<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.ProLineBoardMapper">

    <resultMap id="BaseResultMap" type="com.fantechs.entity.ProLineBoardModel">
    </resultMap>
    <resultMap id="BaseResultMapYield" type="com.fantechs.entity.BaseProductYield">
        <id column="product_yield_id" jdbcType="BIGINT" property="productYieldId" />
        <result column="pro_line_id" jdbcType="BIGINT" property="proLineId" />
        <result column="material_id" jdbcType="BIGINT" property="materialId" />
        <result column="process_id" jdbcType="BIGINT" property="processId" />
        <result column="productline_stop_yield" jdbcType="DECIMAL" property="productlineStopYield" />
        <result column="warning_yield" jdbcType="DECIMAL" property="warningYield" />
        <result column="yield_type" jdbcType="TINYINT" property="yieldType" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="option1" jdbcType="VARCHAR" property="option1" />
        <result column="option2" jdbcType="VARCHAR" property="option2" />
        <result column="option3" jdbcType="VARCHAR" property="option3" />
    </resultMap>

    <select id="findPlanList" resultMap="BaseResultMap" parameterType="com.fantechs.entity.search.SearchProLineBoard">
        select 	sum(mpdp.schedule_qty)AS 'scheduledQty', sum(mpwo.output_qty) AS 'outputQty', mpwo.pro_line_id AS 'proLineId'
        , bpl.pro_name AS 'proName'
        from mes_pm_daily_plan mpdp
        LEFT JOIN mes_pm_work_order mpwo ON mpdp.work_order_id = mpwo.work_order_id
        LEFT JOIN base_pro_line bpl ON mpwo.pro_line_id = bpl.pro_line_id
        where 1=1 and mpdp.status = 1
        <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
            and date_format(mpdp.plan_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="orgId!=null">
            and mpdp.org_id=#{orgId}
        </if>
        <if test="proLineId!=null and proLineId!=''">
            and mpwo.pro_line_id = #{proLineId}
        </if>


    </select>

    <select id="findEquipMentList" resultType="java.lang.Long" parameterType="com.fantechs.entity.search.SearchProLineBoard">
        select 	count(eeb.equipment_barcode_id)
        from eam_equipment ee
        LEFT JOIN base_pro_line bpl ON ee.pro_line_id = bpl.pro_line_id
        LEFT JOIN eam_equipment_barcode eeb ON ee.equipment_id = eeb.equipment_id
        <where>
            <if test="proLineId!=null and proLineId!=''">
                and ee.pro_line_id = #{proLineId}
            </if>
            <if test="proCode!=null and proCode!=''">
                and ee.pro_code = #{proCode}
            </if>
            <if test="orgId!=null">
                and ee.org_id=#{orgId}
            </if>
            <if test="equipmentStatus != null and equipmentStatus.size() > 0">
                and
                <foreach collection="equipmentStatus" open="eeb.equipment_status in (" separator="," close=")" item="value">
                    #{value}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findBarCodeRecordList" resultType="java.lang.Long" parameterType="com.fantechs.entity.search.SearchProLineBoard">
        select
        <if test="isDistinct != null and isDistinct != ''">
            count(DISTINCT(msbpr.barcode))
        </if>
        <if test="isDistinct == null or isDistinct == ''">
            count(msbpr.barcode_process_record_id)
        </if>
        from mes_sfc_barcode_process_record msbpr
        <where>
            <if test="proLineId!=null and proLineId!=''">
                and msbpr.pro_line_id = #{proLineId}
            </if>
            <if test="proCode!=null and proCode!=''">
                and msbpr.pro_code = #{proCode}
            </if>
            <if test="barcodeStatus!=null and barcodeStatus!=''">
                and msbpr.barcode_status = #{barcodeStatus}
            </if>
            <if test="passStationCount!=null and passStationCount!=''">
                and msbpr.pass_station_count = #{passStationCount}
            </if>
            <if test="sectionName!=null and sectionName!=''">
                and msbpr.section_name = #{sectionName}
            </if>
            <if test="processCode!=null and processCode!=''">
                and msbpr.process_code = #{processCode}
            </if>
            <if test="orgId!=null">
                and msbpr.org_id=#{orgId}
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(msbpr.out_process_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <select id="findYieldList" resultMap="BaseResultMapYield" parameterType="com.fantechs.entity.search.SearchBaseProductYield">
        select 	bpy.product_yield_id,
        bpy.pro_line_id,
        bpy.material_id,
        bpy.process_id,
        bpy.productline_stop_yield,
        bpy.warning_yield,
        bpy.yield_type,
        bpy.remark,
        bpy.org_id,
        bpy.create_user_id,
        bpy.create_time,
        bpy.modified_user_id,
        bpy.modified_time,
        bpy.is_delete,
        bpy.option1,
        bpy.option2,
        bpy.option3
        from base_product_yield bpy
        <where>
            <if test="proLineId!=null and proLineId!=''and yieldType==2 ">
                and bpy.pro_line_id = #{proLineId}
            </if>
            <if test="materialId!=null and materialId!=''">
                and bpy.material_id = #{materialId}
            </if>
            <if test="yieldType!=null">
                and bpy.yield_type = #{yieldType}
            </if>
        </where>
    </select>
</mapper>