<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.QaInspectionConditionMapper">

    <resultMap id="BaseResultMapDto" type="com.fantechs.dto.QaInspectionCondition">
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="pda_inspection_code" jdbcType="VARCHAR" property="pdaInspectionCode" />
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="product_model_name" jdbcType="VARCHAR" property="productModelName" />
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
        <result column="pallet_code" jdbcType="VARCHAR" property="palletCode" />
        <result column="pallet_total" jdbcType="BIGINT" property="palletTotal" />
        <result column="inspection_quantity" jdbcType="BIGINT" property="inspectionQuantity" />
        <result column="qualified_quantity" jdbcType="BIGINT" property="qualifiedQuantity" />
        <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
        <result column="surveyor" jdbcType="VARCHAR" property="surveyor" />
        <result column="inspection_result" jdbcType="VARCHAR" property="inspectionResult" />
        <result column="feedback_time" jdbcType="TIMESTAMP" property="feedbackTime" />
        <result column="feedback_user_name" jdbcType="VARCHAR" property="feedbackUserName" />
        <result column="feedback_matters" jdbcType="VARCHAR" property="feedbackMatters" />
    </resultMap>

    <select id="findQaInspectionCondition" resultMap="BaseResultMapDto" parameterType="map">
        select * from (
            select so.contract_code,ss.supplier_name,qpi.pda_inspection_code,swo.work_order_code,sm.material_code,spm.product_model_name,sm.material_desc,
                mpm.bar_code AS pallet_code,mpm.total AS pallet_total,(
                    select sum(qpid.inspection_quantity) from fantech_imes_v2.qms_pda_inspection_det qpid where qpid.pda_inspection_id = qpi.pda_inspection_id
                ) AS 'inspection_quantity',(
                    select sum(qpid.qualified_quantity) from fantech_imes_v2.qms_pda_inspection_det qpid where qpid.pda_inspection_id = qpi.pda_inspection_id
                ) AS 'qualified_quantity',(
                    select max(qpid.create_time) from fantech_imes_v2.qms_pda_inspection_det qpid where qpid.pda_inspection_id = qpi.pda_inspection_id
                ) AS 'inspection_time',
                su.user_name AS surveyor,(
                    select  if(count(*)!=0,'不合格','合格') from fantech_imes_v2.qms_pda_inspection_det qpid where qpid.pda_inspection_id = qpi.pda_inspection_id and
                    inspection_result in (0,2)
                ) AS 'inspection_result',
                qpi.feedback_time,ssu.user_name AS 'feedback_user_name',qpi.feedback_matters
            from  fantech_imes_v2.qms_pda_inspection qpi
            left join fantech_imes_v2.mes_package_manager mpm ON mpm.package_manager_id = qpi.package_manager_id
            left join fantech_imes_v2.smt_work_order swo ON swo.work_order_id = mpm.work_order_id
            left join fantech_imes_v2.smt_order so ON so.order_id = swo.order_id
            left join fantech_imes_v2.smt_supplier ss ON ss.supplier_id = so.supplier_id
            left join fantech_imes_v2.smt_material sm ON sm.material_id = swo.material_id
            left join fantech_imes_v2.base_tab bt ON bt.material_id = sm.material_id
            left join fantech_imes_v2.smt_product_model spm ON spm.product_model_id = bt.product_model_id
            left join ocean_v2.sys_user su ON su.user_id = qpi.surveyor_id
            left join ocean_v2.sys_user ssu ON ssu.user_id = qpi.feedback_user_id
        ) qa
        <where>
            <if test="contractCode != null and contractCode != ''">
                and qa.contract_code like CONCAT('%', #{contractCode}, '%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and qa.supplier_name like CONCAT('%', #{supplierName}, '%')
            </if>
            <if test="workOrderCode != null and workOrderCode != ''">
                and qa.work_order_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and qa.material_code like CONCAT('%', #{materialCode}, '%')
            </if>
            <if test="inspectionResult != null and inspectionResult != ''">
                and qa.inspection_result like CONCAT('%', #{inspectionResult}, '%')
            </if>
            <if test="surveyor != null and surveyor != ''">
                and qa.surveyor like CONCAT('%', #{surveyor}, '%')
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(qa.inspection_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by qa.inspection_time desc
    </select>

</mapper>
