<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.QmsIpqcInspectionUreportMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="ipqc_inspection_order_code" jdbcType="VARCHAR" property="ipqcInspectionOrderCode" />
    <result column="work_order_id" jdbcType="BIGINT" property="workOrderId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="inspection_way_id" jdbcType="BIGINT" property="inspectionWayId" />
    <result column="inspection_standard_id" jdbcType="BIGINT" property="inspectionStandardId" />
    <result column="inspection_status" jdbcType="TINYINT" property="inspectionStatus" />
    <result column="inspection_result" jdbcType="TINYINT" property="inspectionResult" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="audit_dept_id" jdbcType="BIGINT" property="auditDeptId" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="attachment_path" jdbcType="VARCHAR" property="attachmentPath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="inspection_way_desc" jdbcType="VARCHAR" property="inspectionWayDesc"/>
    <result column="inspection_standard_name" jdbcType="VARCHAR" property="inspectionStandardName"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName"/>
  </resultMap>

  <resultMap id="QmsIpqcInspectionModel"  type="com.fantechs.entity.QmsIpqcDtaticElectricityModel">
    <id column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="ipqc_inspection_order_code" jdbcType="VARCHAR" property="ipqcInspectionOrderCode"/>
    <result column="inspection_way_desc" jdbcType="VARCHAR" property="inspectionWayDesc"/>
    <result column="inspection_result" jdbcType="VARCHAR" property="inspectionResult"/>
    <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
  </resultMap>

  <resultMap id="QmsIpqcSamplingModel"  type="com.fantechs.entity.QmsIpqcSamplingModel">
    <id column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="ipqc_inspection_order_code" jdbcType="VARCHAR" property="ipqcInspectionOrderCode"/>
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="barcodes" jdbcType="VARCHAR" property="barcodes"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <result column="qty" jdbcType="VARCHAR" property="qty"/>
    <result column="inspection_result" jdbcType="VARCHAR" property="inspectionResult"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    <collection property="qmsIpqcInspectionOrderDets" ofType="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrderDet"
                column="{ipqcInspectionOrderId=ipqc_inspection_order_id}" select="com.fantechs.mapper.QmsIpqcInspectionUreportDetMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="QmsIpqcFirstArticleModel"  type="com.fantechs.entity.QmsIpqcFirstArticleModel">
    <id column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="ipqc_inspection_order_code" jdbcType="VARCHAR" property="ipqcInspectionOrderCode"/>
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    <collection property="qmsIpqcInspectionOrderDets" ofType="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrderDet"
                column="{ipqcInspectionOrderId=ipqc_inspection_order_id}" select="com.fantechs.mapper.QmsIpqcInspectionUreportDetMapper.findList">
    </collection>
  </resultMap>

  <resultMap id="QmsIpqcProcessInspectionModel"  type="com.fantechs.entity.QmsIpqcProcessInspectionModel">
    <id column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="ipqc_inspection_order_code" jdbcType="VARCHAR" property="ipqcInspectionOrderCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
    <result column="material_version" jdbcType="VARCHAR" property="materialVersion"/>
    <result column="product_model_name" jdbcType="VARCHAR" property="productModelName"/>
    <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    <collection property="qmsIpqcInspectionOrderDets" ofType="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrderDet"
                column="{ipqcInspectionOrderId=ipqc_inspection_order_id}" select="com.fantechs.mapper.QmsIpqcInspectionUreportDetMapper.findList">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    qiio.ipqc_inspection_order_id,
    qiio.ipqc_inspection_order_code,
    qiio.work_order_id,
    qiio.material_id,
    qiio.supplier_id,
    qiio.qty,
    qiio.inspection_way_id,
    qiio.inspection_standard_id,
    qiio.inspection_status,
    qiio.inspection_result,
    qiio.audit_status,
    qiio.audit_dept_id,
    qiio.audit_user_id,
    qiio.`status`,
    qiio.attachment_path,
    qiio.remark,
    qiio.org_id,
    qiio.create_user_id,
    qiio.create_time,
    qiio.modified_user_id,
    qiio.modified_time,
    qiio.is_delete,
    qiio.option1,
    qiio.option2,
    qiio.option3
  </sql>

  <select id="findDtaticElectricityList" parameterType="map" resultMap="QmsIpqcInspectionModel">
    select <include refid="Base_Column_List"></include>,
    biw.inspection_way_desc,bis.inspection_standard_name,
    s.user_name as modified_user_name,bo.organization_name
    from qms_ipqc_inspection_order qiio
    left join base_inspection_way biw on qiio.inspection_way_id=biw.inspection_way_id
    left join base_inspection_standard bis on qiio.inspection_standard_id=bis.inspection_standard_id
    left join ocean_v2.sys_user su on qiio.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on qiio.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qiio.modified_user_id=s.user_id
    left join base_organization bo ON qiio.org_id = bo.organization_id
    <where>
      <if test="ipqcInspectionOrderCode != null and ipqcInspectionOrderCode!=''">
        and qiio.ipqc_inspection_order_code like CONCAT('%', #{ipqcInspectionOrderCode}, '%')
      </if>
      <if test="inspectionWayCode != null and inspectionWayCode!=''">
        and biw.inspection_way_code =#{inspectionWayCode}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qiio.modified_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qiio.org_id=#{orgId}
      </if>
    </where>
    order by qiio.modified_time desc
  </select>

  <select id="findSamplingList" parameterType="map" resultMap="QmsIpqcSamplingModel">
        select <include refid="Base_Column_List"></include>,
        biw.inspection_way_desc,bis.inspection_standard_name,mpwo.work_order_code,bm.material_code,
        bm.material_desc,bm.material_version, bpm.product_model_name,s.user_name as modified_user_name,bo.organization_name
        from qms_ipqc_inspection_order qiio
        left join base_inspection_way biw on qiio.inspection_way_id=biw.inspection_way_id
        left join base_inspection_standard bis on qiio.inspection_standard_id=bis.inspection_standard_id
        left join mes_pm_work_order mpwo on qiio.work_order_id=mpwo.work_order_id
        left join base_material bm on qiio.material_id=bm.material_id
        left join base_material_tab bmt on qiio.material_id=bmt.material_id
        left join base_product_model bpm on bmt.product_model_id=bpm.product_model_id
        left join qms_ipqc_inspection_order_det qiiod on qiio.ipqc_inspection_order_id=qiiod.ipqc_inspection_order_id
        left join qms_ipqc_inspection_order_det_sample qiiods on qiiod.ipqc_inspection_order_det_id=qiiods.ipqc_inspection_order_det_id
        left join ocean_v2.sys_user su on qiio.audit_user_id=su.user_id
        left join ocean_v2.sys_user u on qiio.create_user_id=u.user_id
        left join ocean_v2.sys_user s on qiio.modified_user_id=s.user_id
        left join base_organization bo ON qiio.org_id = bo.organization_id
        <where>
        <if test="ipqcInspectionOrderCode != null and ipqcInspectionOrderCode!=''">
            and qiio.ipqc_inspection_order_code like CONCAT('%', #{ipqcInspectionOrderCode}, '%')
        </if>
        <if test="workOrderCode != null and workOrderCode!=''">
            and mpwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
        </if>
        <if test="materialCode != null and materialCode!=''">
            and bm.material_code like CONCAT('%', #{materialCode}, '%')
        </if>
        <if test="inspectionWayCode != null and inspectionWayCode!=''">
            and biw.inspection_way_code =#{inspectionWayCode}
        </if>
        <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
            and date_format(qiio.modified_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="orgId!=null">
            and qiio.org_id=#{orgId}
        </if>
        </where>
      group by qiio.ipqc_inspection_order_id
      order by qiio.modified_time desc
  </select>

  <select id="findFirstArticleList" parameterType="map" resultMap="QmsIpqcFirstArticleModel">
    select <include refid="Base_Column_List"></include>,
    biw.inspection_way_desc,bis.inspection_standard_name,mpwo.work_order_code,bm.material_code,
    bm.material_desc,bm.material_version, bpm.product_model_name,s.user_name as modified_user_name,bo.organization_name
    from qms_ipqc_inspection_order qiio
    left join base_inspection_way biw on qiio.inspection_way_id=biw.inspection_way_id
    left join base_inspection_standard bis on qiio.inspection_standard_id=bis.inspection_standard_id
    left join mes_pm_work_order mpwo on qiio.work_order_id=mpwo.work_order_id
    left join base_material bm on qiio.material_id=bm.material_id
    left join base_material_tab bmt on qiio.material_id=bmt.material_id
    left join base_product_model bpm on bmt.product_model_id=bpm.product_model_id
    left join ocean_v2.sys_user su on qiio.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on qiio.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qiio.modified_user_id=s.user_id
    left join base_organization bo ON qiio.org_id = bo.organization_id
    <where>
      <if test="ipqcInspectionOrderCode != null and ipqcInspectionOrderCode!=''">
        and qiio.ipqc_inspection_order_code like CONCAT('%', #{ipqcInspectionOrderCode}, '%')
      </if>
      <if test="workOrderCode != null and workOrderCode!=''">
        and mpwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
      </if>
      <if test="materialCode != null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="inspectionWayCode != null and inspectionWayCode!=''">
        and biw.inspection_way_code =#{inspectionWayCode}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qiio.modified_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qiio.org_id=#{orgId}
      </if>
    </where>
    group by qiio.ipqc_inspection_order_id
    order by qiio.modified_time desc
  </select>

  <select id="findProcessInspectionList" parameterType="map" resultMap="QmsIpqcProcessInspectionModel">
    select <include refid="Base_Column_List"></include>,
    biw.inspection_way_desc,bis.inspection_standard_name,mpwo.work_order_code,bm.material_code,
    bm.material_desc,bm.material_version, bpm.product_model_name,s.user_name as modified_user_name,bo.organization_name
    from qms_ipqc_inspection_order qiio
    left join base_inspection_way biw on qiio.inspection_way_id=biw.inspection_way_id
    left join base_inspection_standard bis on qiio.inspection_standard_id=bis.inspection_standard_id
    left join mes_pm_work_order mpwo on qiio.work_order_id=mpwo.work_order_id
    left join base_material bm on qiio.material_id=bm.material_id
    left join base_material_tab bmt on qiio.material_id=bmt.material_id
    left join base_product_model bpm on bmt.product_model_id=bpm.product_model_id
    left join ocean_v2.sys_user su on qiio.audit_user_id=su.user_id
    left join ocean_v2.sys_user u on qiio.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qiio.modified_user_id=s.user_id
    left join base_organization bo ON qiio.org_id = bo.organization_id
    <where>
      <if test="ipqcInspectionOrderCode != null and ipqcInspectionOrderCode!=''">
        and qiio.ipqc_inspection_order_code like CONCAT('%', #{ipqcInspectionOrderCode}, '%')
      </if>
      <if test="workOrderCode != null and workOrderCode!=''">
        and mpwo.work_order_code like CONCAT('%', #{workOrderCode}, '%')
      </if>
      <if test="materialCode != null and materialCode!=''">
        and bm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="inspectionWayCode != null and inspectionWayCode!=''">
        and biw.inspection_way_code =#{inspectionWayCode}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qiio.modified_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qiio.org_id=#{orgId}
      </if>
    </where>
    group by qiio.ipqc_inspection_order_id
    order by qiio.modified_time desc
  </select>
</mapper>