<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.QmsIpqcInspectionUreportDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ipqc_inspection_order_det_id" jdbcType="BIGINT" property="ipqcInspectionOrderDetId" />
    <result column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="inspection_standard_det_id" jdbcType="BIGINT" property="inspectionStandardDetId" />
    <result column="badness_qty" jdbcType="BIGINT" property="badnessQty" />
    <result column="inspection_result" jdbcType="TINYINT" property="inspectionResult" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="badness_category_id" jdbcType="BIGINT" property="badnessCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="if_must_inspection" jdbcType="TINYINT" property="ifMustInspection"/>
    <result column="small_inspection_item_desc" jdbcType="VARCHAR" property="smallInspectionItemDesc"/>
    <result column="inspection_item_standard" jdbcType="VARCHAR" property="inspectionStandardName"/>
    <result column="big_inspection_item_desc" jdbcType="VARCHAR" property="bigInspectionItemDesc"/>
    <result column="inspection_tag" jdbcType="TINYINT" property="inspectionTag"/>
    <result column="specification_upper_limit" jdbcType="DECIMAL" property="specificationUpperLimit"/>
    <result column="specification_floor" jdbcType="DECIMAL" property="specificationFloor"/>
    <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
    <result column="aql_value" jdbcType="DECIMAL" property="aqlValue"/>
    <result column="ac_value" jdbcType="INTEGER" property="acValue"/>
    <result column="re_value" jdbcType="INTEGER" property="reValue"/>
    <result column="sample_qty" jdbcType="DECIMAL" property="sampleQty"/>
    <result column="sample_process_type" jdbcType="TINYINT" property="sampleProcessType"/>
    <result column="sample_process_id" jdbcType="BIGINT" property="sampleProcessId" />
    <result column="badness_category_code" jdbcType="VARCHAR" property="badnessCategoryCode"/>
    <result column="badness_category_desc" jdbcType="VARCHAR" property="badnessCategoryDesc"/>
    <result column="max_sample_value" jdbcType="VARCHAR" property="maxSampleValue"/>
    <result column="min_sample_value" jdbcType="VARCHAR" property="minSampleValue"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
  </resultMap>

  <sql id="Base_Column_List">
    qiiod.ipqc_inspection_order_det_id,
    qiiod.ipqc_inspection_order_id,
    qiiod.inspection_standard_det_id,
    qiiod.badness_qty,
    qiiod.inspection_result,
    qiiod.inspection_time,
    qiiod.badness_category_id,
    qiiod.`status`,
    qiiod.remark,
    qiiod.org_id,
    qiiod.create_user_id,
    qiiod.create_time,
    qiiod.modified_user_id,
    qiiod.modified_time,
    qiiod.is_delete,
    qiiod.option1,
    qiiod.option2,
    qiiod.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    bisd.if_must_inspection,bii.inspection_item_standard,bbc.badness_category_code,bbc.badness_category_desc,
    bii2.inspection_item_desc as big_inspection_item_desc,bii.inspection_item_desc as small_inspection_item_desc,
    bisd.inspection_tag,bisd.specification_upper_limit,bisd.specification_floor,bisd.unit_name,
    bspa.aql_value,bsp.ac_value,bsp.re_value,bsp.sample_qty,bsp.sample_process_type,bsp.sample_process_id,
    (select MAX(CONVERT(sample_value,SIGNED)) from qms_ipqc_inspection_order_det_sample where
    qiiods.ipqc_inspection_order_det_id = qiiod.ipqc_inspection_order_det_id) as max_sample_value,
    (select MIN(CONVERT(sample_value,SIGNED)) from qms_ipqc_inspection_order_det_sample where
    qiiods.ipqc_inspection_order_det_id = qiiod.ipqc_inspection_order_det_id) as min_sample_value,
    u.user_name as create_user_name,s.user_name as modified_user_name,bd.dept_name as dept_name,
    bo.organization_name
    from qms_ipqc_inspection_order_det qiiod
    left join base_inspection_standard_det bisd on qiiod.inspection_standard_det_id=bisd.inspection_standard_det_id
    left join base_inspection_item bii on bisd.inspection_item_id=bii.inspection_item_id
    left join base_inspection_item bii2 on bii.parent_id=bii2.inspection_item_id
    left join base_sample_process bsp on bisd.sample_process_id=bsp.sample_process_id
    left join base_sample_plan_aql bspa on bsp.sample_plan_aql_id=bspa.sample_plan_aql_id
    left join base_badness_category bbc on qiiod.badness_category_id=bbc.badness_category_id
    left join qms_ipqc_inspection_order_det_sample qiiods on qiiod.ipqc_inspection_order_det_id=qiiods.ipqc_inspection_order_det_id
    left join ocean_v2.sys_user u on qiiod.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qiiod.modified_user_id=s.user_id
    left join base_dept bd on s.dept_id=bd.dept_id
    left join base_organization bo ON qiiod.org_id = bo.organization_id
    <where>
      <if test="ipqcInspectionOrderId!=null">
        and qiiod.ipqc_inspection_order_id = #{ipqcInspectionOrderId}
      </if>
      <if test="ipqcInspectionOrderDetId!=null">
        and qiiod.ipqc_inspection_order_det_id = #{ipqcInspectionOrderDetId}
      </if>
      <if test="status!=null">
        and qiiod.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qiiod.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qiiod.org_id=#{orgId}
      </if>
    </where>
  </select>
</mapper>