<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsBadItemDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsBadItemDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bad_item_det_id" jdbcType="BIGINT" property="badItemDetId" />
    <result column="bad_item_id" jdbcType="BIGINT" property="badItemId" />
    <result column="bad_phenomenon_code" jdbcType="VARCHAR" property="badPhenomenonCode" />
    <result column="bad_phenomenon" jdbcType="VARCHAR" property="badPhenomenon" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.qms.QmsBadItemDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    qbid.bad_item_det_id,qbid.bad_item_id,qbid.bad_phenomenon_code,qbid.bad_phenomenon,qbid.status,qbid.create_user_id,
    bo.organization_name,qbid.create_time,qbid.modified_user_id,qbid.modified_time,qbid.is_delete,
    qbid.organization_id,qbid.remark
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name
    from fantech_imes.qms_bad_item_det qbid
    LEFT JOIN ocean.sys_user su ON qbid.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qbid.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.base_organization bo ON qbid.organization_id = bo.organization_id
    <where>
      <if test="badItemId != null and badItemId != ''">
        and qbid.bad_item_id = #{badItemId}
      </if>
      <if test="badPhenomenonCode != null and badPhenomenonCode != ''">
        and qbi.bad_phenomenon_code like CONCAT('%', #{badPhenomenonCode}, '%')
      </if>
      <if test="badPhenomenon != null and badPhenomenon != ''">
        and qbi.bad_phenomenon  like CONCAT('%', #{badPhenomenon}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qbid.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="findById" parameterType="long" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>
    from fantech_imes.qms_bad_item_det qbid
    LEFT JOIN ocean.sys_user su ON qbid.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qbid.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.base_organization bo ON qbid.organization_id = bo.organization_id
    where qbid.bad_item_id = #{badItemId}
  </select>


</mapper>
