<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsHtQualityInspectionMapper">

  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.history.QmsHtQualityInspection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_quality_inspection_id" jdbcType="BIGINT" property="htQualityInspectionId" />
    <result column="quality_inspection_id" jdbcType="BIGINT" property="qualityInspectionId" />
    <result column="quality_inspection_code" jdbcType="VARCHAR" property="qualityInspectionCode" />
    <result column="bills_status" jdbcType="TINYINT" property="billsStatus" />
    <result column="bills_type" jdbcType="BIGINT" property="billsType" />
    <result column="examination_region" jdbcType="VARCHAR" property="examinationRegion" />
    <result column="proving_time" jdbcType="TIMESTAMP" property="provingTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />

    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    qhqi.ht_quality_inspection_id,qhqi.quality_inspection_id,qhqi.quality_inspection_code,qhqi.bills_status,qhqi.bills_type,qhqi.examination_region,
    qhqi.proving_time,qhqi.status,qhqi.create_user_id,qhqi.create_time,qhqi.modified_user_id,qhqi.modified_time,qhqi.is_delete, qhqi.organization_id,
	qhqi.remark
  </sql>

  <select id="findHtList" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>, bo.organization_name
    from fantech_imes.qms_ht_quality_inspection qhqi
    LEFT JOIN fantech_imes.base_organization bo ON qhqi.organization_id = bo.organization_id
    <where>
      <if test="qualityInspectionCode != null and qualityInspectionCode != '' ">
        and qhqi.quality_inspection_code like CONCAT('%', #{qualityInspectionCode}, '%')
      </if>
      <if test="billsType != null and billsType!=''">
        and qhqi.bills_type = #{billsType}
      </if>
      <if test="examinationRegion != null and examinationRegion!=''">
        and qhqi.examination_region like CONCAT('%', #{examinationRegion}, '%')
      </if>
      <if test="billsStatus != null and billsStatus!=''">
        and qhqi.bills_status = #{billsStatus}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qhqi.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>



</mapper>
