<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsHtPdaInspectionMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.history.QmsHtPdaInspection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ht_andin_storage_quarantine_id" jdbcType="BIGINT" property="htAndinStorageQuarantineId" />
    <result column="andin_storage_quarantine_id" jdbcType="BIGINT" property="andinStorageQuarantineId" />
    <result column="andin_storage_quarantine_code" jdbcType="VARCHAR" property="andinStorageQuarantineCode" />
    <result column="work_order _id" jdbcType="BIGINT" property="workOrderId" />
    <result column="package_manager_id" jdbcType="BIGINT" property="packageManagerId" />
    <result column="surveyor_id" jdbcType="BIGINT" property="surveyorId" />
    <result column="documents_time" jdbcType="TIMESTAMP" property="documentsTime" />
    <result column="documents_type" jdbcType="TINYINT" property="documentsType" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    qhpi.ht_andin_storage_quarantine_id,
    qhpi.andin_storage_quarantine_id,
    qhpi.andin_storage_quarantine_code,
    qhpi.work_order_id,
    qhpi.package_manager_id,
    qhpi.surveyor_id,
    qhpi.documents_time,
    qhpi.documents_type,
    qhpi.status,qhpi.create_user_id, bo.organization_name,qhpi.create_time,bo.organization_code,
    qhpi.modified_user_id,qhpi.modified_time,qhpi.is_delete, qhpi.organization_id,qhpi.remark
  </sql>

  <select id="findHtList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name
    from qms_ht_pda_inspection qhpi
    LEFT JOIN ocean.sys_user su ON qhpi.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qhpi.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.base_organization bo ON qhpi.organization_id = bo.organization_id
    <where>
      <if test="andinStorageQuarantineCode != null and andinStorageQuarantineCode != ''">
        and qfi.andin_storage_quarantine_code = #{andinStorageQuarantineCode}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qfi.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

</mapper>
