<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsIpqcInspectionOrderAuditUserMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsIpqcInspectionOrderAuditUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="inspection_order_audit_user_id" jdbcType="BIGINT" property="inspectionOrderAuditUserId" />
    <result column="ipqc_inspection_order_id" jdbcType="BIGINT" property="ipqcInspectionOrderId" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="audit_result" jdbcType="TINYINT" property="auditResult" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="attachment_path" jdbcType="VARCHAR" property="attachmentPath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />

    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName"/>
    <result column="audit_dept_name" jdbcType="VARCHAR" property="auditDeptName"/>
  </resultMap>

  <sql id="Base_Column_List">
    qiioau.inspection_order_audit_user_id,
    qiioau.ipqc_inspection_order_id,
    qiioau.audit_user_id,
    qiioau.audit_dept_name,
    qiioau.audit_result,
    qiioau.`status`,
    qiioau.attachment_path,
    qiioau.remark,
    qiioau.org_id,
    qiioau.create_user_id,
    qiioau.create_time,
    qiioau.modified_user_id,
    qiioau.modified_time,
    qiioau.is_delete,
    qiioau.option1,
    qiioau.option2,
    qiioau.option3
  </sql>

  <select id="findList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,
    su.nick_name as audit_user_name,
    u.user_name as create_user_name,
    s.user_name as modified_user_name,
    bo.organization_name
    from fantech_imes_v2.qms_ipqc_inspection_order_audit_user qiioau
    left join ocean_v2.sys_user su on qiioau.audit_user_id=su.user_id
    left join fantech_imes_v2.base_dept bd on su.dept_id=bd.dept_id
    left join ocean_v2.sys_user u on qiioau.create_user_id=u.user_id
    left join ocean_v2.sys_user s on qiioau.modified_user_id=s.user_id
    left join fantech_imes_v2.base_organization bo ON qiioau.org_id = bo.organization_id
    <where>
      <if test="ipqcInspectionOrderId != null">
        and qiioau.ipqc_inspection_order_id= #{ipqcInspectionOrderId}
      </if>
      <if test="status!=null">
        and qiioau.status = #{status}
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qiioau.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
      <if test="orgId!=null">
        and qiioau.org_id=#{orgId}
      </if>
    </where>
    order by qiioau.create_time desc
  </select>
</mapper>