<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsMrbReviewMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsMrbReview">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mrb_review_id" jdbcType="BIGINT" property="mrbReviewId" />
    <result column="mrb_review_code" jdbcType="VARCHAR" property="mrbReviewCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="quality_inspection_id" jdbcType="BIGINT" property="qualityInspectionId" />
    <result column="receipts_type" jdbcType="TINYINT" property="receiptsType" />
    <result column="receipts_status" jdbcType="TINYINT" property="receiptsStatus" />
    <result column="review_dept" jdbcType="BIGINT" property="reviewDept" />
    <result column="review_result" jdbcType="BIGINT" property="reviewResult" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.qms.QmsMrbReviewDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="quality_inspection_code" jdbcType="VARCHAR" property="qualityInspectionCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
  </resultMap>

  <sql id="Base_Column_List">
    qmr.mrb_review_id,qmr.mrb_review_code,qmr.material_id,qmr.quality_inspection_id,
    qmr.receipts_type,qmr.receipts_status,qmr.review_dept,qmr.review_result,qmr.quantity,qmr.remark,
    qmr.status,qmr.create_user_id,qmr.create_time,qmr.modified_user_id,qmr.modified_time,qmr.is_delete,
    qmr.organization_id
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    qqi.quality_inspection_code,sm.material_code,ss.supplier_name,sd.dept_name, bo.organization_name
    from fantech_imes.qms_mrb_review qmr
    LEFT JOIN ocean.sys_user su ON qmr.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qmr.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.qms_quality_inspection qqi ON qmr.quality_inspection_id = qqi.quality_inspection_id
    LEFT JOIN fantech_imes.smt_material sm ON qmr.material_id = sm.material_id
    LEFT JOIN fantech_imes.smt_material_supplier sms ON qmr.material_id = sms.material_id
    LEFT JOIN fantech_imes.smt_supplier ss ON sms.supplier_id = ss.supplier_id
    LEFT JOIN fantech_imes.smt_dept sd ON qmr.review_dept = sd.dept_id
    LEFT JOIN fantech_imes.base_organization bo ON qmr.organization_id = bo.organization_id
    <where>
      <if test="mrbReviewCode != null and mrbReviewCode != ''">
        and qmr.mrb_review_code like CONCAT('%', #{mrbReviewCode}, '%')
      </if>
      <if test="receiptsStatus != null and receiptsStatus != ''">
        and qmr.receipts_status like CONCAT('%', #{receiptsStatus}, '%')
      </if>
      <if test="reviewResult != null and reviewResult != ''">
        and qmr.review_result like CONCAT('%', #{reviewResult}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qmr.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getMax" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from fantech_imes.qms_mrb_review qmr ORDER BY qmr.mrb_review_id desc limit 1
  </select>

</mapper>
