<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsPoorQualityMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsPoorQuality">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="poor_quality_id" jdbcType="BIGINT" property="poorQualityId" />
    <result column="quality_id" jdbcType="BIGINT" property="qualityId" />
    <result column="section_id" jdbcType="BIGINT" property="sectionId" />
    <result column="bad_item_det_id" jdbcType="BIGINT" property="badItemDetId" />
    <result column="bad_quantity" jdbcType="DECIMAL" property="badQuantity" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.qms.QmsPoorQualityDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />

    <result column="bad_item_id" jdbcType="BIGINT" property="badItemId"/>
    <result column="bad_type_code" jdbcType="VARCHAR" property="badTypeCode"/>
    <result column="bad_type_cause" jdbcType="VARCHAR" property="badTypeCause"/>
    <result column="bad_phenomenon_code" jdbcType="VARCHAR" property="badPhenomenonCode"/>
    <result column="bad_phenomenon" jdbcType="VARCHAR" property="badPhenomenon"/>
    <result column="section_name" jdbcType="VARCHAR" property="sectionName"/>
  </resultMap>


  <sql id="Base_Column_List">
    qpq.poor_quality_id,
    qpq.quality_id,
    qpq.section_id,
    qpq.bad_item_det_id,
    qpq.bad_quantity,
    qpq.status,qpq.create_user_id, bo.organization_name,qpq.create_time,
    qpq.modified_user_id,qpq.modified_time,qpq.is_delete, qpq.organization_id,qpq.remark
  </sql>

  <select id="findById" parameterType="long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,bo.organization_name,
    sws.section_name,qbi.bad_item_id,qbi.bad_type_code,qbi.bad_type_cause,qbid.bad_phenomenon,qbid.bad_phenomenon_code
    from fantech_imes.qms_poor_quality qpq
    LEFT JOIN ocean.sys_user su ON qpq.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qpq.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.base_organization bo ON qpq.organization_id = bo.organization_id
    LEFT JOIN fantech_imes.smt_workshop_section sws ON sws.section_id = qpq.section_id
    LEFT JOIN fantech_imes.qms_bad_item_det qbid ON qbid.bad_item_det_id = qpq.bad_item_det_id
    LEFT JOIN fantech_imes.qms_bad_item qbi ON qbi.bad_item_id = qbid.bad_item_id
    where qpq.quality_id = #{qualityId}
  </select>

</mapper>
