<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsQualityInspectionDetMapper">

  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsQualityInspectionDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="quality_inspection_det_id" jdbcType="BIGINT" property="qualityInspectionDetId" />
    <result column="quality_inspection_id" jdbcType="BIGINT" property="qualityInspectionId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="checkout_status" jdbcType="TINYINT" property="checkoutStatus" />
    <result column="checkout_quantity" jdbcType="DECIMAL" property="checkoutQuantity" />
    <result column="qualified_quantity" jdbcType="DECIMAL" property="qualifiedQuantity" />
    <result column="surveyor" jdbcType="VARCHAR" property="surveyor" />
    <result column="inspection_result" jdbcType="VARCHAR" property="inspectionResult" />
    <result column="checkout_start_time" jdbcType="TIMESTAMP" property="checkoutStartTime" />
    <result column="checkout_end_time" jdbcType="TIMESTAMP" property="checkoutEndTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.qms.QmsQualityInspectionDetDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="quality_inspection_code" jdbcType="VARCHAR" property="qualityInspectionCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="material_name" jdbcType="VARCHAR" property="materialName"/>
    <result column="version" jdbcType="VARCHAR" property="version"/>
  </resultMap>

  <sql id="Base_Column_List">
    qqid.quality_inspection_det_id,qqid.quality_inspection_id,qqid.material_id,qqid.checkout_status,
    qqid.checkout_quantity,qqid.qualified_quantity,qqid.surveyor,qqid.inspection_result,qqid.checkout_start_time,qqid.checkout_end_time,
    qqid.remark,qqid.status,qqid.create_user_id,qqid.create_time,qqid.modified_user_id,qqid.modified_time,qqid.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include> , su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    qqi.quality_inspection_code,sm.material_code,sm.material_name,sm.version
    from fantech_imes.qms_quality_inspection_det qqid
    LEFT JOIN ocean.sys_user su ON qqid.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qqid.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.qms_quality_inspection qqi ON qqid.quality_inspection_id = qqi.quality_inspection_id
    LEFT JOIN fantech_imes.smt_material sm ON qqid.material_id = sm.material_id
    <where>
      <if test="qualityInspectionCode != null and qualityInspectionCode != '' ">
        and qqi.quality_inspection_code like CONCAT('%', #{qualityInspectionCode}, '%')
      </if>
      <if test="checkoutStatus != null and checkoutStatus!=''">
        and qqid.checkout_status = #{checkoutStatus}
      </if>
      <if test="materialCode != null and materialCode!=''">
        and sm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qqi.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>



</mapper>
