<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.qms.mapper.QmsRejectsMrbReviewMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.qms.QmsRejectsMrbReview">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rejects_mrb_review_id" jdbcType="BIGINT" property="rejectsMrbReviewId" />
    <result column="rejects_mrb_review_code" jdbcType="VARCHAR" property="rejectsMrbReviewCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="quality_inspection_id" jdbcType="BIGINT" property="qualityInspectionId" />
    <result column="receipts_type" jdbcType="TINYINT" property="receiptsType" />
    <result column="receipts_status" jdbcType="TINYINT" property="receiptsStatus" />
    <result column="review_dept" jdbcType="BIGINT" property="reviewDept" />
    <result column="review_result" jdbcType="TINYINT" property="reviewResult" />
    <result column="selected_number" jdbcType="DECIMAL" property="selectedNumber" />
    <result column="selected_person" jdbcType="BIGINT" property="selectedPerson" />
    <result column="selected_time" jdbcType="TIMESTAMP" property="selectedTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.general.dto.qms.QmsRejectsMrbReviewDto">
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    <result column="quality_inspection_code" jdbcType="VARCHAR" property="qualityInspectionCode"/>
    <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
    <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    <result column="selected_person_name" jdbcType="VARCHAR" property="selectedPersonName"/>
  </resultMap>

  <sql id="Base_Column_List">
    qrmr.rejects_mrb_review_id,qrmr.rejects_mrb_review_code,qrmr.material_id,
    qrmr.quality_inspection_id,qrmr.receipts_type,qrmr.receipts_status,qrmr.review_dept,qrmr.review_result,
    qrmr.selected_number,qrmr.selected_person,qrmr.selected_time,qrmr.remark,qrmr.status,
    qrmr.create_user_id,qrmr.create_time,qrmr.modified_user_id,qrmr.modified_time,qrmr.is_delete
  </sql>

  <select id="findList" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,su.user_name AS create_user_name, sus.user_name AS modified_user_name,
    qqi.quality_inspection_code,sm.material_code,ss.supplier_name,sd.dept_name,ssu.user_name AS selected_person_name
    from fantech_imes.qms_rejects_mrb_review qrmr
    LEFT JOIN ocean.sys_user su ON qrmr.create_user_id = su.user_id
    LEFT JOIN ocean.sys_user sus ON qrmr.modified_user_id = sus.user_id
    LEFT JOIN fantech_imes.qms_quality_inspection qqi ON qrmr.quality_inspection_id = qqi.quality_inspection_id
    LEFT JOIN fantech_imes.smt_material sm ON qrmr.material_id = sm.material_id
    LEFT JOIN fantech_imes.smt_material_supplier sms ON qrmr.material_id = sms.material_id
    LEFT JOIN fantech_imes.smt_supplier ss ON sms.supplier_id = ss.supplier_id
    LEFT JOIN fantech_imes.smt_dept sd ON qrmr.review_dept = sd.dept_id
    LEFT JOIN ocean.sys_user ssu ON qrmr.selected_person = ssu.user_id
    <where>
      <if test="rejectsMrbReviewCode != null and rejectsMrbReviewCode != ''">
        and qrmr.rejects_mrb_review_code like CONCAT('%', #{rejectsMrbReviewCode}, '%')
      </if>
      <if test="receiptsStatus != null and receiptsStatus != ''">
        and qrmr.receipts_status like CONCAT('%', #{receiptsStatus}, '%')
      </if>
      <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
        and date_format(qit.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getMax" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from fantech_imes.qms_ht_rejects_mrb_review qrmr ORDER BY qrmr.rejects_mrb_review_id desc limit 1
  </select>

</mapper>
