server:
  port: 8768
  max-http-header-size: 10000000
  undertow:
     max-http-post-size: 0
     buffer-size: 1024
     direct-buffers: true
spring:
  profiles:
    active: dev
  application:
    name: @pom.artifactId@
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

# 添加ribbon的超时时间设置
ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 30000

#根据服务名配置路由
zuul:
  host:
    socket-timeout-millis: 60000
    connect-timeout-millis: 30000
  routes:
    ocean-security:               #传统的路由配置,此名称可以自定义
        path: /ocean-security/**  #映射的url
        serviceId: ocean-security #服务名
    ocean-base:
        path: /ocean-base/**
        serviceId: ocean-base
    ocean-imes-basic:
        path: /ocean-imes-basic/**
        serviceId: ocean-imes-basic
    ocean-imes-apply:
        path: /ocean-imes-apply/**
        serviceId: ocean-imes-apply
    ocean-wms-storageBills:
        path: /ocean-wms-storageBills/**
        serviceId: ocean-wms-storageBills
    ocean-qms:
        path: /ocean-qms/**
        serviceId: ocean-qms
    ocean-bcm:
        path: /ocean-bcm/**
        serviceId: ocean-bcm
    ocean-electronic-tag:
        path: /ocean-electronic-tag/**
        serviceId: ocean-electronic-tag
    ocean-fileserver:
        path: /ocean-fileserver/**
        serviceId: ocean-fileserver
    ocean-mes-pm:
      path: /ocean-mes-pm/**
      serviceId: ocean-mes-pm
    ocean-mes-om:
      path: /ocean-om/**
      serviceId: ocean-om
  sensitive-headers: Access-Control-Allow-Origin
  ignored-headers: Access-Control-Allow-Origin

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeout-in-milliseconds: 30000

logging:
  level:
    org.springframework.cloud.gateway: debug
  file: /data/logs/ocean/@pom.artifactId@/info/@pom.artifactId@.log

url:
  securityUrl: http://localhost:8768/ocean-security/clientGetToken

constant-base:
  orgId: 29