<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.mapper.sales.OmSalesOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.general.entity.om.sales.OmSalesOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sales_order_id" jdbcType="BIGINT" property="salesOrderId" />
    <result column="sales_order_code" jdbcType="VARCHAR" property="salesOrderCode" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="customer_order_code" jdbcType="VARCHAR" property="customerOrderCode" />
    <result column="source_order_id" jdbcType="BIGINT" property="sourceOrderId" />
    <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
    <result column="sales_dept" jdbcType="VARCHAR" property="salesDept" />
    <result column="sales_user_name" jdbcType="VARCHAR" property="salesUserName" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="make_order_user_name" jdbcType="VARCHAR" property="makeOrderUserName" />
    <result column="make_order_date" jdbcType="TIMESTAMP" property="makeOrderDate" />
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
</mapper>