<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.electronic.mapper.PtlJobOrderDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.electronic.entity.PtlJobOrderDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="job_order_det_id" jdbcType="BIGINT" property="jobOrderDetId" />
    <result column="job_order_id" jdbcType="BIGINT" property="jobOrderId" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="whole_or_scattered" jdbcType="TINYINT" property="wholeOrScattered" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="whole_qty" jdbcType="DECIMAL" property="wholeQty" />
    <result column="whole_unit_name" jdbcType="VARCHAR" property="wholeUnitName" />
    <result column="scattered_qty" jdbcType="DECIMAL" property="scatteredQty" />
    <result column="scattered_unit_name" jdbcType="VARCHAR" property="scatteredUnitName" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="job_status" jdbcType="TINYINT" property="jobStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>

  <sql id="Base_Column_List">
    pjod.job_order_det_id, pjod.job_order_id, pjod.storage_id, pjod.storage_code, pjod.material_id, pjod.material_code, pjod.material_name,
    pjod.unit_name, pjod.whole_or_scattered, pjod.qty, pjod.whole_qty, pjod.whole_unit_name, pjod.scattered_qty, pjod.scattered_unit_name, pjod.spec,
    pjod.job_status, pjod.status, pjod.remark, pjod.org_id, pjod.create_user_id, pjod.create_time, pjod.modified_user_id, pjod.modified_time,
    pjod.is_delete, pjod.option1, pjod.option2, pjod.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.electronic.dto.PtlJobOrderDetDto">

  </resultMap>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    pjo.job_order_code as jobOrderCode, pjo.related_order_code as relatedOrderCode, pjo.despatch_order_code as despatchOrderCode,
    bwa.warehouse_area_id as warehouseAreaId, bwa.warehouse_area_code as warehouseAreaCode, bwa.warehouse_area_name as warehouseAreaName,
    pe.equipment_tag_id as equipmentTagId, pets.electronic_tag_id as electronicTagId, pets.electronic_tag_lang_type as electronicTagLangType,
    pea.equipment_id as equipmentAreaId, pea.equipment_tag_id as equipmentAreaTagId, pea.position, pcm.queue_name as queueName
    from ptl_job_order_det pjod
    LEFT JOIN ptl_job_order pjo ON pjod.job_order_id = pjo.job_order_id
    LEFT JOIN base_storage bs ON pjod.storage_id = bs.storage_id
    LEFT JOIN base_warehouse_area bwa ON bs.warehouse_area_id = bwa.warehouse_area_id
    LEFT JOIN base_warehouse bw ON bwa.warehouse_id = bw.warehouse_id
    LEFT JOIN ptl_electronic_tag_storage pets ON pets.storage_id = bs.storage_id
    LEFT JOIN ptl_equipment pe ON pets.equipment_id = pe.equipment_id
    LEFT JOIN ptl_client_manage pcm ON pe.client_id = pcm.client_id
    LEFT JOIN ptl_equipment pea ON pets.equipment_area_id = pea.equipment_id
    <where>
      pjod.status = 1
      <if test="jobOrderDetId != null">
        and pjod.job_order_det_id = #{jobOrderDetId}
      </if>
      <if test="jobOrderId != null">
        and pjod.job_order_id = #{jobOrderId}
      </if>
      <if test="storageId != null">
        and pjod.storage_id = #{storageId}
      </if>
      <if test="storageCode != null and storageCode != ''">
        and pjod.storage_code = #{storageCode}
      </if>
      <if test="materialCode != null and materialCode != ''">
        and pjod.material_code = #{materialCode}
      </if>
      <if test="materialName != null and materialName != ''">
        and pjod.material_name like CONCAT('%', #{materialName}, '%')
      </if>
      <if test="wholeOrScattered != null">
        and pjod.whole_or_scattered = #{wholeOrScattered}
      </if>
      <if test="jobStatus != null">
        and pjod.job_status = #{jobStatus}
      </if>
      <if test="ifHangUp != null and ifHangUp == 1">
        and pjod.job_status in (2,4)
      </if>
      <if test="equipmentTagId != null and equipmentTagId!=''">
        and pe.equipment_tag_id = #{equipmentTagId}
      </if>
      <if test="electronicTagId != null and electronicTagId!=''">
        and pets.electronic_tag_id = #{electronicTagId}
      </if>
      <if test="equipmentAreaId != null and equipmentAreaId!=''">
        and pets.equipment_area_id = #{equipmentAreaId}
      </if>
      <if test="orgId!=null">
        and pjod.org_id=#{orgId}
      </if>
      <if test="jobOrderIdList != null and jobOrderIdList.size() > 0">
        and pjod.job_order_id in
        <foreach collection="jobOrderIdList" open="(" close=")" item="item" separator="," index="index">
          #{item}
        </foreach>
      </if>
    </where>
    <if test="jobOrderDet == 1">
      group by pjod.job_order_det_id
    </if>
    order by job_order_det_id
  </select>
  <update id="batchUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" open="" close="" index="index" separator=";">
      update ptl_job_order_det
      <set>
        <if test="item.jobStatus != null">
          job_status=#{item.jobStatus},
        </if>
        <if test="item.modifiedUserId != null">
          modified_user_id=#{item.modifiedUserId},
        </if>
        <if test="item.modifiedTime != null">
          modified_time=#{item.modifiedTime},
        </if>
      </set>
      where job_order_det_id=#{item.jobOrderDetId}
    </foreach>
  </update>
</mapper>