<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.electronic.mapper.PtlJobOrderMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.electronic.entity.PtlJobOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="job_order_id" jdbcType="BIGINT" property="jobOrderId" />
    <result column="job_order_code" jdbcType="VARCHAR" property="jobOrderCode" />
    <result column="job_order_type" jdbcType="TINYINT" property="jobOrderType" />
    <result column="related_order_code" jdbcType="VARCHAR" property="relatedOrderCode" />
    <result column="despatch_order_code" jdbcType="VARCHAR" property="despatchOrderCode" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="worker_user_id" jdbcType="BIGINT" property="workerUserId" />
    <result column="worker_user_name" jdbcType="VARCHAR" property="workerUserName" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="pick_back_status" jdbcType="TINYINT" property="pickBackStatus" />
    <result column="if_already_print" jdbcType="TINYINT" property="ifAlreadyPrint" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="option1" jdbcType="VARCHAR" property="option1" />
    <result column="option2" jdbcType="VARCHAR" property="option2" />
    <result column="option3" jdbcType="VARCHAR" property="option3" />
  </resultMap>
  
  <sql id="Base_Column_List">
    pjo.job_order_id, pjo.job_order_code, pjo.job_order_type, pjo.related_order_code, pjo.despatch_order_code, pjo.warehouse_id, pjo.warehouse_name,
    pjo.vehicle_id, pjo.worker_user_id, pjo.worker_user_name, pjo.order_status, pjo.pick_back_status, pjo.if_already_print, pjo.status, pjo.remark,
    pjo.org_id, pjo.create_user_id, pjo.create_time, pjo.modified_user_id, pjo.modified_time, pjo.is_delete, pjo.option1, pjo.option2, pjo.option3
  </sql>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.electronic.dto.PtlJobOrderDto">

  </resultMap>
  
  <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
    select <include refid="Base_Column_List"></include>,
    tv.vehicle_code as vehicleCode,
    suw.user_code as workerUserCode,
    suc.user_code as createUserCode,
    sum.user_code as modifiedUserCode,
    bw.warehouse_code as warehouseCode,
    bwa.warehouse_area_id as warehouseAreaId,
    bwa.warehouse_area_code as warehouseAreaCode,
    bwa.warehouse_area_name as warehouseAreaName
    from ptl_job_order pjo
    LEFT JOIN ocean_v2.sys_user suw ON pjo.worker_user_id = suw.user_id
    LEFT JOIN ocean_v2.sys_user suc ON pjo.create_user_id = suc.user_id
    LEFT JOIN ocean_v2.sys_user sum ON pjo.modified_user_id = sum.user_id
    LEFT JOIN tem_vehicle tv ON pjo.vehicle_id = tv.vehicle_id
    LEFT JOIN ptl_job_order_det pjod ON pjo.job_order_id = pjod.job_order_id
    LEFT JOIN base_storage bs ON pjod.storage_id = bs.storage_id
    LEFT JOIN base_warehouse_area bwa ON bs.warehouse_area_id = bwa.warehouse_area_id
    LEFT JOIN base_warehouse bw ON bwa.warehouse_id = bw.warehouse_id
    <where>
      pjo.status = 1
      <if test="jobOrderId != null">
        and pjo.job_order_id = #{jobOrderId}
      </if>
      <if test="jobOrderCode != null and jobOrderCode != ''">
        and pjo.job_order_code = #{jobOrderCode}
      </if>
      <if test="relatedOrderCode != null and relatedOrderCode != ''">
        and pjo.related_order_code = #{relatedOrderCode}
      </if>
      <if test="despatchOrderCode != null and despatchOrderCode != ''">
        and pjo.despatch_order_code = #{despatchOrderCode}
      </if>
      <if test="warehouseName != null and warehouseName != ''">
        and pjo.warehouse_name like CONCAT('%', #{warehouseName}, '%')
      </if>
      <if test="workerUserName != null and workerUserName != ''">
        and pjo.worker_user_name like CONCAT('%', #{workerUserName}, '%')
      </if>
      <if test="orderStatus != null">
        and pjo.order_status = #{orderStatus}
      </if>
      <if test="notOrderStatus != null">
        and pjo.order_status <![CDATA[ != ]]> #{notOrderStatus}
      </if>
      <if test="orderStatusList != null">
        and pjo.order_status in (2,4,5) and pjo.pick_back_status = 0
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        and pjo.create_time between #{startTime} and #{endTime}
      </if>
      <if test="(startTime == null or startTime == '') and (endTime == null or endTime == '') and type == 0">
        and TO_DAYS(pjo.create_time) = TO_DAYS(NOW())
      </if>
      <if test="warehouseId != null">
        and bw.warehouse_id = #{warehouseId}
      </if>
      <if test="warehouseAreaId != null">
        and bwa.warehouse_area_id = #{warehouseAreaId}
      </if>
      <if test="warehouseAreaIds != null and warehouseAreaIds.size() > 0 and allwarehouseAreaId != 1">
        and bwa.warehouse_area_id in
        <foreach collection="warehouseAreaIds" open="(" close=")" item="item" separator="," index="index">
          #{item}
        </foreach>
      </if>
      <if test="orgId!=null">
        and pjo.org_id=#{orgId}
      </if>
      <if test="option1 != null and option1 != ''">
        and pjo.option1 = #{option1}
      </if>
    </where>
    group by pjo.job_order_id
    order by FIELD(pjo.order_status,2,1,4,5,3,6), pjo.related_order_code
  </select>
</mapper>