<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.electronic.mapper.PtlLoadingDetMapper">
  <resultMap id="BaseResultMap" type="com.fantechs.common.base.electronic.entity.PtlLoadingDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="loading_det_id" jdbcType="BIGINT" property="loadingDetId" />
    <result column="loading_id" jdbcType="BIGINT" property="loadingId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="plan_qty" jdbcType="DECIMAL" property="planQty" />
    <result column="actual_qty" jdbcType="DECIMAL" property="actualQty" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_detele" jdbcType="TINYINT" property="isDetele" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
  </resultMap>

  <resultMap id="BaseResultMapDto" extends="BaseResultMap" type="com.fantechs.common.base.electronic.dto.PtlLoadingDetDto">
    <result column="loading_code" jdbcType="VARCHAR" property="loadingCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
    <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
    <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
    <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
    <result column="electronic_tag_id" jdbcType="BIGINT" property="electronicTagId"/>
    <result column="equipment_area_id" jdbcType="BIGINT" property="equipmentAreaId"/>
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode"/>
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserCode" />
  </resultMap>

  <sql id="Base_Column_List">
    sld.loading_det_id, sld.loading_id, sld.material_id, sld.plan_qty, sld.actual_qty, sld.status, sld.create_user_id, sld.create_time,
    sld.modified_user_id, sld.modified_time, sld.is_detele, sld.remark, sld.org_id
  </sql>

  <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
    select <include refid="Base_Column_List"></include>,
    su.user_code as create_user_code,
    sus.user_code as modified_user_code,
    sl.loading_code,
    sm.material_code, sm.material_name, sm.material_desc,sm.version,
    ss.storage_code, ss.storage_name,
    sw.warehouse_code, sw.warehouse_name,
    sets.storage_id,sets.warehouse_id,sets.electronic_tag_id,sets.equipment_area_id,sets.warehouse_area_id,
    swa.warehouse_area_code,swa.warehouse_area_name
    from ptl_loading_det sld
    LEFT JOIN ocean_v2.sys_user su ON sld.create_user_id = su.user_id
    LEFT JOIN ocean_v2.sys_user sus ON sld.modified_user_id = sus.user_id
    LEFT JOIN ptl_loading sl on sld.loading_id = sl.loading_id
    LEFT JOIN base_material sm on sld.material_id = sm.material_id
    LEFT JOIN base_storage_material ssm on ssm.material_id = sm.material_id
    LEFT JOIN base_storage ss on ss.storage_id = ssm.storage_id
    LEFT JOIN base_warehouse sw on sw.warehouse_id = ss.warehouse_id
    LEFT JOIN ptl_electronic_tag_storage sets on sets.storage_id = ss.storage_id
    LEFT JOIN base_warehouse_area swa ON sets.warehouse_area_id = swa.warehouse_area_id
    <where>
      sld.is_detele = 1
      <if test="loadingId != null and loadingId != ''">
        and sld.loading_id = #{loadingId}
      </if>
      <if test="loadingCode != null and loadingCode != ''">
        and sl.loading_code = #{loadingCode}
      </if>
      <if test="materialId != null and materialId != ''">
        and sld.material_id = #{materialId}
      </if>
      <if test="materialCode != null and materialCode != ''">
        and sm.material_code like CONCAT('%', #{materialCode}, '%')
      </if>
      <if test="notEqualMaterialId != null and notEqualMaterialId != ''">
        and sld.material_id != #{notEqualMaterialId}
      </if>
      <if test="status != null and status != ''">
        and sld.status = #{status}
      </if>
      <if test="notEqualstatus != null and notEqualstatus != ''">
        and sld.status != #{notEqualstatus}
      </if>
    </where>
    order by field(sld.status,3,0,2,1),sld.create_time desc
  </select>
</mapper>