<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.electronic.mapper.SmtElectronicTagStorageMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.electronic.entity.SmtElectronicTagStorage">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="electronic_tag_storage_id" jdbcType="BIGINT" property="electronicTagStorageId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="equipment_id" jdbcType="BIGINT" property="equipmentId"/>
        <result column="electronic_tag_id" jdbcType="VARCHAR" property="electronicTagId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.fantechs.common.base.electronic.dto.SmtElectronicTagStorageDto"
               extends="BaseResultMap">
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc"/>
        <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
        <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
        <result column="equipment_ip" jdbcType="VARCHAR" property="equipmentIp"/>
        <result column="equipment_port" jdbcType="VARCHAR" property="equipmentPort"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="warehouse_area_code" jdbcType="VARCHAR" property="warehouseAreaCode"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    </resultMap>

    <resultMap id="SmtStorageMap" type="com.fantechs.common.base.entity.basic.SmtStorage">
        <id column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="storage_desc" jdbcType="VARCHAR" property="storageDesc"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>

        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName"/>
    </resultMap>

    <resultMap id="SmtElectronicTagControllerMap"
               type="com.fantechs.common.base.electronic.entity.SmtElectronicTagController">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="electronic_tag_controller_id" jdbcType="BIGINT" property="electronicTagControllerId"/>
        <result column="electronic_tag_controller_code" jdbcType="VARCHAR" property="electronicTagControllerCode"/>
        <result column="electronic_tag_controller_name" jdbcType="VARCHAR" property="electronicTagControllerName"/>
        <result column="electronic_tag_controller_desc" jdbcType="VARCHAR" property="electronicTagControllerDesc"/>
        <result column="electronic_tag_controller_ip" jdbcType="VARCHAR" property="electronicTagControllerIp"/>
        <result column="electronic_tag_controller_port" jdbcType="VARCHAR" property="electronicTagControllerPort"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="option1" jdbcType="VARCHAR" property="option1"/>
        <result column="option2" jdbcType="VARCHAR" property="option2"/>
        <result column="option3" jdbcType="VARCHAR" property="option3"/>
    </resultMap>

    <sql id="Base_column_List">
    sets.electronic_tag_storage_id,
	sets.storage_id,
	sets.electronic_tag_controller_id,
	sets.electronic_tag_id,
	sets.`status`,
	sets.create_user_id,
	sets.create_time,
	sets.modified_user_id,
	sets.modified_time,
	sets.is_delete,
	sets.option1,
	sets.option2,
	sets.option3
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMapDto">
        SELECT<include refid="Base_column_List"/>,
        su.user_name, sus.user_name,
        ss.storage_name, ss.storage_desc, ss.storage_code,
        se.equipment_name,
        se.equipment_code,
        se.equipment_ip,
        se.equipment_port,
        sw.warehouse_name, sw.warehouse_code,
        swa.warehouse_area_name, swa.warehouse_area_code,sm.material_desc,sm.material_code
        FROM smt_electronic_tag_storage sets
        LEFT JOIN ocean.sys_user su ON sets.create_user_id = su.user_id
        LEFT JOIN ocean.sys_user sus ON sets.modified_user_id = sus.user_id
        LEFT JOIN smt_storage ss ON sets.storage_id = ss.storage_id
        LEFT JOIN smt_electronic_tag_controller setc ON sets.electronic_tag_controller_id = setc.electronic_tag_controller_id
        LEFT JOIN smt_equipment se ON sets.equipment_id = se.equipment_id
        LEFT JOIN smt_warehouse sw ON ss.warehouse_id = sw.warehouse_id
        LEFT JOIN smt_warehouse_area swa ON ss.warehouse_area_id = swa.warehouse_area_id
        LEFT JOIN smt_storage_material ssm ON   ssm.storage_id = ss.storage_id
        LEFT JOIN smt_material sm ON sm.material_id = ssm.material_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                and date_format(sets.create_time, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="storageId != null">
                and ss.storage_id =#{storageId}
            </if>
            <if test="storageName != null">
                and ss.storage_name like CONCAT('%', #{storageName}, '%')
            </if>
            <if test="warehouseName != null">
                and sw.warehouse_name like CONCAT('%', #{warehouseName}, '%')
            </if>
            <if test="warehouseAreaName != null">
                and swa.warehouse_area_name like CONCAT('%', #{warehouseAreaName}, '%')
            </if>
            <if test="equipmentName != null">
                and se.equipment_name like CONCAT('%', #{equipmentName}, '%')
            </if>
            <if test="equipmentId != null">
                and se.equipment_Id = #{equipmentId}
            </if>
            <if test="equipmentIp != null">
                and se.equipment_ip like CONCAT('%', #{equipmentIp}, '%')
            </if>
            <if test="electronicTagId != null">
                and sets.electronic_tag_id like CONCAT('%', #{electronicTagId}, '%')
            </if>
            <if test="status!=null and status!=''">
                and sets.status=#{status}
            </if>
        </where>
        order by sets.create_time desc
    </select>

    <select id="findByElectronicTagControllerId" parameterType="java.lang.Long"
            resultMap="SmtStorageMap">
        SELECT ss.*
        FROM smt_electronic_tag_storage sets
	    LEFT JOIN smt_storage ss ON sets.storage_id = ss.storage_id
        WHERE sets.electronic_tag_controller_id = #{_parameter,jdbcType=BIGINT}
    </select>

    <select id="findElectronicTagControllerByCode" parameterType="java.lang.String"
            resultMap="SmtElectronicTagControllerMap">
        SELECT *
        FROM smt_electronic_tag_controller setc
        <where>
            setc.electronic_tag_controller_code =#{electronicTagControllerCode}
        </where>
    </select>
</mapper>