<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantechs.provider.electronic.mapper.SmtSortingListMapper">
    <resultMap id="BaseResultMap" type="com.fantechs.common.base.electronic.entity.SmtSortingList">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="sorting_list_id" jdbcType="BIGINT" property="sortingListId"/>
        <result column="sorting_lis_code" jdbcType="VARCHAR" property="sortingLisCode"/>
        <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.fantechs.common.base.electronic.dto.SmtSortingListDto">
        <result column="electronic_tag_storage_id" jdbcType="BIGINT" property="electronicTagStorageId"/>
        <result column="storage_id" jdbcType="VARCHAR" property="storageId"/>
        <result column="storage_code" jdbcType="VARCHAR" property="storageCode"/>
        <result column="equipment_id" jdbcType="VARCHAR" property="equipmentId"/>
        <result column="electronic_tag_id" jdbcType="VARCHAR" property="electronicTagId"/>
        <result column="material_id" jdbcType="VARCHAR" property="materialId"/>
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>

        <result column="equipment_id" jdbcType="VARCHAR" property="equipmentId"/>
        <result column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
        <result column="equipment_data" jdbcType="VARCHAR" property="equipmentData"/>
        <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType"/>
        <result column="equipment_ip" jdbcType="VARCHAR" property="equipmentIp"/>
        <result column="equipment_port" jdbcType="VARCHAR" property="equipmentPort"/>

        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="warehouse_area_name" jdbcType="VARCHAR" property="warehouseAreaName"/>
        <result column="material_name" jdbcType="VARCHAR" property="materialName" />
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc" />
    </resultMap>

    <sql id="Base_Column_List">
    `ssl`.sorting_list_id,
	`ssl`.sorting_lis_code,
	`ssl`.work_order_code,
	`ssl`.storage_code,
	`ssl`.quantity,
	`ssl`.status
  </sql>

    <select id="findList" resultMap="BaseResultMapDto" parameterType="map">
        SELECT <include refid="Base_Column_List"/>,
        sets.electronic_tag_storage_id,
        sets.storage_id,
        sets.storage_code,
        sets.warehouse_id, sets.warehouse_code,
        sets.warehouse_area_id, sets.warehouse_area_code,
        sets.material_id, sets.material_code,
        sets.equipment_id,
        sets.electronic_tag_id,
        sus.user_name,
        ss.storage_desc,
        ss.storage_name,
        swa.warehouse_area_name,
        sw.warehouse_name,
        sm.material_desc,
        sm.material_name,
        se.equipment_name,
        se.equipment_code,
        se.equipment_ip,
        se.equipment_port,
        scm.queue_name
        FROM smt_sorting_list `ssl`
        LEFT JOIN smt_electronic_tag_storage sets ON `ssl`.storage_code = sets.storage_code
        LEFT JOIN ocean.sys_user su ON sets.create_user_id = su.user_id
        LEFT JOIN ocean.sys_user sus ON sets.modified_user_id = sus.user_id
        LEFT JOIN smt_equipment se ON sets.equipment_id = se.equipment_id
        LEFT JOIN smt_client_manage scm ON scm.client_id = se.client_id
        LEFT JOIN smt_storage ss ON sets.storage_id = ss.storage_id
        LEFT JOIN smt_material sm ON sets.material_id = sm.material_id
        LEFT JOIN smt_warehouse sw ON sets.warehouse_id = sw.warehouse_id
        LEFT JOIN smt_warehouse_area swa ON sets.warehouse_area_id = swa.warehouse_area_id
        <where>
            <if test="sortingLisCode != null">
                and ssl.sortingLis_code like CONCAT('%', #{sortingLisCode}, '%')
            </if>
            <if test="workOrderCode != null">
                and ssl.workOrder_code like CONCAT('%', #{workOrderCode}, '%')
            </if>
            <if test="storageCode != null">
                and ssl.storage_code like CONCAT('%', #{storageCode}, '%')
            </if>
            <if test="sortingListId != null">
                and ssl.sortingList_id=#{sortingListId}
            </if>
            <if test="status!=null and status!=''">
                and ssl.status=#{status}
            </if>
        </where>
    </select>
</mapper>